<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero internetAccess">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1 itemprop="name">Drittanbieter DDNS Adressen</h1>
                                    <p class="intro">
                                      DNS steht für Domain Name System - was vergleichbar mit einem Telefonbuch für das Internet ist. Jede Webseite steht hinter einer Nummer - der IP-Adresse - und die DNS Server im Internet ermöglichen die Verbindung zu diesen Webseiten ohne sich die IP-Adressen zu merken. Immer wenn Sie www.google.de in die Adressleiste Ihres Browsers tippen, checkt Ihr Smartphone oder Computer die Domain Namensverzeichnisse des Internets für die dazugehörige IP-Adresse. Eine IP-Adresse ist eine eindeutige Nummer, die es Computer erlaubt, in einem Netzwerk zu kommunizieren. Das Internet ist ein großes Netzwerk und nutzt IP-Adressen, um die Nachrichten zum jeweiligen Host zu leiten. Das IP in IP-Adresse steht für Internet Protokoll.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

        <div class="wrap">
            <div class="container main">

              <% include ../_partials/content/_bluenav-general.ejs %>

                  <article itemscope itemtype="http://schema.org/Article" class="blade wrapper content">
                    <% include ../_partials/amp/_schemaArticle.ejs %>

                    <div>
                        <h3>Worum geht es bei DDNS ?</h3>
                        <p>Warum halten wir die wirklichen Adressen unserer Webseiten hinter Domain-Namen? Erstens, die IP-Adressen sind für das menschliche Gehirn eher schwer zu merken. Und zweitens, die IP-Adresse einer Webseite wird sich nach einer Zeit ändern. Dieser Punkt ist ein kleineres Problem für Google, welche für die IP-Adressen bezahlen und Sie dafür eine bestimmte Zeit lang halten. Für eine IP-Kamera zuhause (oder generell ein Webserver) ist es ein größeres Problem. Ihr Router hat von Ihrem Internet Provider eine WAN (Wide Area Network) IP-Adresse zugewiesen bekommen. Das ist Ihre Telefonnummer, die es erlaubt zu Hause anzurufen, wenn Sie auf der Arbeit sind. Sie können Ihre WAN IP anzeigen lassen, indem Sie die Webseite <a href="http://wieistmeineip.de/">wieistmeineip.de</a>.</p> öffnen.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:ThirdpartyDDNS_01"
                          role="button"
                          tabindex="0"
                          src="/images/Internet_Access/ThirdpartyDDNS_01.png" width="500" height="163" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Sie können die IP-Adresse Ihrer Webseiten selber checken, indem Sie <span class="code">nslookup</span> in die Kommandozeile eintippen und danach die Web-Domain, die Sie prüfen möchten, dahinter schreiben. In diesem Fall haben wir eine der IP-Adressen von Google gefunden: <em>173.194.127.160</em>.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Also, wenn die Überprüfung Ihrer WAN-IP-Adresse so einfach ist, warum schreiben wir Sie nicht auf und verwenden Sie nur für die Verbindung zu Ihrer Kamera? Das Problem ist, dass sich Ihre WAN-IP-Adresse normalerweise alle 24 Stunden ändert. Sie können in der Regel statische IP-Adressen von Ihrem Provider erwerben - aber wenn Sie nicht mehr Geld dafür ausgeben möchten, müssen Sie Ihre WAN-IP-Adresse jeden Morgen überprüfen, bevor Sie Ihr Haus verlassen. Wenn Sie einen statischen Domänennamen hätten, der automatisch mit der neuesten WAN-IP-Adresse Ihres Routers aktualisiert wird, jedes Mal, wenn die Adressänderung anfängt, klingt verlockend oder?</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Warum möchten Sie die DDNS-Adresse eines Drittanbieters?</h3>
                        <p>Das ist der Grund, warum wir bereits eine DDNS-Adresse in Ihrer INSTAR Kamera installiert haben. Sie können diesen Dienst immer nutzen, um aus dem Internet auf Ihre Kamera zuzugreifen (wenn Sie eine Portweiterleitung in Ihrem Router eingerichtet haben!). Also, warum möchten Sie eine Drittanbieter DDNS-Adresse verwenden, um auf Ihre Kamera zuzugreifen?</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:ThirdpartyDDNS_02"
                          role="button"
                          tabindex="0"
                          src="/images/Internet_Access/ThirdpartyDDNS_02.png" width="500" height="233" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Jeder INSTAR Kamera kommt mit einer vorinstallierten DDNS-Adresse, sie müssen sich also um diese Dinge hier keine Sorgen machen.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>In der INSTAR DDNS Adresse, die Sie oben sehen, ist instar01 Ihr persönlicher Host, das ddns3-instar.de ist die Domain unseres DDNS Servers und die komplette Adresse instar01.ddns3-instar.de wird als Hostname Ihrer Adresse bezeichnet. Aus Sicherheitsgründen wird der Host zufällig generiert, um nicht den Zweck der Adresse zu erkennen. Der Domänennamen wird durch den Server vergeben, in dem Ihre Kamera registriert ist. Das heißt, dass Sie keine Kontrolle über den Host Ihrer Kamera haben. Wir versuchen, diesen so einfach wie möglich zu halten - aber vielleicht möchten Sie eine persönliche Adresse nutzen? Oder Sie möchten eine Redundanz aufbauen, um Ihre Kamera trotz Ausfall eines Servers immer noch zu erreichen? Hier kommen Drittanbieter ins Spiel.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Sollten Sie dazu auf eine Website wie www.noip.com gehen, ein Konto erstellen und es auf Ihrer Kamera einrichten? Nun ja, das ist möglich. Aber der interessante Teil ist, dass Sie Ihre INSTAR DDNS-Adresse nicht in Ihrer Kamera deaktivieren müssen, um einen Drittanbieter zu verwenden. Sie können es in Ihrem Router, auf einem Webserver, der die ganze Zeit ausgeführt wird, oder auf der Überwachungsstation (QNAP oder Synology), die Sie mit Ihrer Kamera verwenden einrichten. Auf diese Weise können Sie einen personalisierten und leicht zu merkenden Hostname haben - aber immer noch Ihre INSTAR-Adresse als Ausweich-Option. Und ja, Sie haben richtig gehört! Sie benötigen nur eine DDNS-Adresse, die entweder von Ihrer Kamera oder Ihrem Router verwaltet wird, um eine Verbindung zu einem beliebigen Gerät in Ihrem lokalen Netzwerk herzustellen. Wie bereits erwähnt, ist der DDNS-Hostname eine fantastische Möglichkeit, Ihre Router-WAN-IP-Adresse aufzuschreiben. Also, selbst wenn Sie 5 INSTAR Kameras in Ihrem Netzwerk laufen haben, wird jede einzelne dieser DDNS-Adressen Sie nur zu Ihrem Router führen. Der Router entscheidet dann, auf welchen Port die Anforderung herkommt und welche Kameras aufgerufen werden sollen. Grundsätzlich müssen Sie sich nur 1 DDNS-Adresse merken und den Port variieren, um verschiedene Kameras aufzurufen: </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <ul>
                          <li><strong>Kamera 1:</strong> instar01.ddns3-instar.de:8081</li>
                          <li><strong>Kamera 2:</strong> instar01.ddns3-instar.de:8082</li>
                          <li><strong>Kamera 3:</strong> instar01.ddns3-instar.de:8083</li>
                        </ul>
                        <p> Für Informationen darüber, wie diese Ports weitergegeben werden und warum Sie Ports über 8080 wählen sollten, lesen Sie bitte in unserem Portweiterleitungsartikel, der Sie durch das Setup für ein paar Standard-Internet-Router führen wird. Im Folgenden werden wir 3 verschiedene DDNS-Adressen von Drittanbietern auf verschiedenen Systemen einrichten. Sie werden sehen, dass das Einrichten des Hostnamens und die Verwendung eines Update-Dienstes auf Ihrem Router oder einem anderen System sehr einfach ist und die Schritte immer dieselben sind - egal, welcher Provider und welche Hardware Sie verwenden möchten. Wir wählen diese drei Anbieter, weil sie <strong> freie Hostnamen </ strong> anbieten, um mit ihnen zu experimentieren. </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div class="card-container">
                          <div class="twocard">
                              <div class="image">
                                  <a href="/Internet_Access/DDNS_Provider/NoIP/">
                                    <amp-img noloading height=150 width=200 layout=responsive src="/images/Internet_Access/DDNS_No-IP.png"></amp-img>
                                  </a>
                              </div>
                              <div class="action">
                                  <a href="/Internet_Access/DDNS_Provider/NoIP/">Lesen Sie die Einführung</a>
                              </div>
                          </div>
                          <div class="twocard">
                              <div class="image">
                                  <a href="/Internet_Access/DDNS_Provider/Selfhost/">
                                    <amp-img noloading height=150 width=200 layout=responsive src="/images/Internet_Access/DDNS_Selfhost.png"></amp-img>
                                  </a>
                              </div>
                              <div class="action">
                                  <a href="/Internet_Access/DDNS_Provider/Selfhost/">Lesen Sie die Einführung</a>
                              </div>
                          </div>
                        </div>
                        <!-- /Card-Container -->

                        <div class="card-container">
                          <div class="twocard">
                              <div class="image">
                                  <a href="/Internet_Access/DDNS_Provider/DDNSS/">
                                    <amp-img noloading height=150 width=200 layout=responsive src="/images/Internet_Access/DDNS_DDNSS.png"></amp-img>
                                  </a>
                              </div>
                              <div class="action">
                                  <a href="/Internet_Access/DDNS_Provider/DDNSS/">Lesen Sie die Einführung</a>
                              </div>
                          </div>
                            <div class="twocard invisible">
                            </div>
                      </div>
                      <!-- /Card-Container -->
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->
            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
