<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap mobile-down">
          <div class="content">
              <section class="hero internetAccess">
                  <div class="container">
                      <div class="row">
                          <div class="six columns">
                              <div class="intro-container">
                                  <h1 itemprop="name">Portweiterleitung :: D-Link</h1>
                                  <p class="intro">
                                      <strong>Einrichten einer Portweiterleitung in einem D-Link Router</strong><br><br>
                                      Um Ihre Kamera über das Internet zu erreichen, müssen Sie in Ihrem Router eine Portweiterleitung einrichte. Für mehr allgemeine Informationen zum DDNS-Dienst klicken Sie bitte <a href="http://wiki.instar.com/index.php/The_DDNS_Service">HIER</a>.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

        <div class="wrap">
            <div class="container main">

              <% include ../_partials/content/_bluenav-general.ejs %>

                  <article itemscope itemtype="http://schema.org/Article" class="blade wrapper content">
                      <!-- article -->

                    <div>
                        <h1>Portweiterleitung :: D-Link Router</h1>
                        <p> <i>Dies ist der 2. Schritt der Portweiterleitung, klicken Sie HIER um zum Anfang der Anleitung zu gelangen.</i></p>

                        <p>Öffnen Sie die Weboberfläche Ihres D-Link Routers indem Sie in die Adresszeile Ihres Browsers die IP Adresse des Routers eingeben (standardmäßig 192.168.0.1; Der Standard-Login ist Benutzername = admin und kein Passwort).
                          Wählen Sie dann den Menüpunkt <strong>Erweitert > Portweiterleitung</strong>. </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:Dlink_01en"
                          role="button"
                          tabindex="0"
                          src="/images/Internet_Access/Dlink_01en.jpg" width="480" height="311" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->
                    <div class="margin">
                    <p>Setzen Sie unter den „Erweiterten Regeln für Portweiterleitung“ auf der linken Seite einen Haken um eine neue Regel festzulegen.<br>
                      Unter <strong>Name</strong> geben Sie Ihrer Kamera einen eindeutigen Namen, zum Beispiel „Kamera Garage“.<br>
                      Im Feld <strong>IP-Adresse</strong> geben Sie die lokale IP-Adresse Ihrer Kamera an.<br>
                      In die Felder <strong>Öffentlicher Port</strong> und <strong>Privater Port</strong> tragen Sie den Port der jeweiligen Kamera ein, also „8081“ für Ihre erste Kamera 1, „8082“ für Kamera 2 usw.<br>
                      Bei <strong>Datenverkehrstyp</strong> wählen Sie TCP aus. Klicken Sie anschließend auf "Einstellungen speichern" um die Regel zu aktivieren.</p>
                    </div>
                    <table>
                        <tr>
                            <td width="30%">
                                <strong>Name</strong>
                            </td>
                            <td>Wählen Sie einen Namen für Ihre Kamera, zum Beispiel „Kamera Garage“
                        </tr>
                        <tr>
                            <td width="20%">
                                <strong>IP-Adresse</strong>
                            </td>
                            <td>Geben Sie hier die lokale IP-Adresse Ihrer Kamera an.</td>
                        </tr>
                        <tr>
                            <td width="20%">
                                <strong>Öffentlicher Port</strong>
                            </td>
                            <td>Tragen Sie den Port der jeweiligen Kamera ein, also „8081“ für Ihre erste Kamera 1, „8082“ für Kamera 2 usw.<tr>
                            <td width="20%">
                                <strong>Privater Port</strong>
                            </td>
                            <td>Tragen Sie hier ebenfalls den Port der jeweiligen Kamera ein, also „8081“ für Ihre erste Kamera 1, „8082“ für Kamera 2 usw.</td>
                        </tr>
                        <tr>
                            <td width="20%">
                                <strong>An IP Adresse</strong>
                            </td>
                            <td>Wählen Sie hier aus der Liste den letzten Punkt aus "Manuelle Eingabe" und tragen Sie dann die lokale IP-Adresse der Kamera ein</tr>
                            </table>
                    <div class="margin">
                      <amp-img
                          on="tap:Dlink_02en"
                          role="button"
                          tabindex="0"
                          src="/images/Internet_Access/Dlink_02en.jpg" width="480" height="223" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->
                    <p>Damit sind die Einstellungen im Router fertig gestellt und Sie können mit dem nächsten Schritt fortfahren.</p>

                    <div class="margin">
                        <h3>III. Schritt:	Kamera-Adresse auslesen und Fernzugriff auf die Kamera</h3>
                        <br>
                        <a href="/Internet_Access/Mobile_Access/"><button type="button" class="btn">Schritt III</button></a>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->

                <!-- ###################### Lightboxes ######################## -->

                <amp-image-lightbox id="Dlink_01en" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Dlink_02en" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Speedport_02en" layout="nodisplay"></amp-image-lightbox>

            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
