<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap mobile-down">
          <div class="content">
              <section class="hero internetAccess">
                  <div class="container">
                      <div class="row">
                          <div class="six columns">
                              <div class="intro-container">
                                  <h1>Portweiterleitung</h1>
                                  <p class="intro">
                                      <strong>Einrichten einer Portweiterleitung in einem D-Link Router</strong><br><br>
                                      Um Ihre Kamera über das Internet zu erreichen, müssen Sie in Ihrem Router eine Portweiterleitung einrichte. Für mehr allgemeine Informationen zum DDNS-Dienst klicken Sie bitte <a href="http://wiki.instar.com/index.php/The_DDNS_Service">HIER</a>.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

        <div class="wrap">
            <div class="container main">

              <% include ../_partials/content/_bluenav-general.ejs %>

                  <article itemscope itemtype="http://schema.org/Article" class="blade wrapper content">
                      <!-- article -->

                    <div>
                        <h1>Portweiterleitung :: D-Link Router</h1>
                        <h3>Schritt 1</h3>
                        <p>Um die Weboberfläche Ihres Routers zu erreichen, geben Sie bitte in der Adressleiste Ihres Browsers folgendes ein: <a href="http://192.168.0.1">192.168.0.1</a>. Der Standard-Login ist Benutzername = admin und kein Passwort. Navigieren Sie zu <em>Portweiterleitung</em> im <em>Erweitert</em> Menü (siehe unten).</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:Dlink_01en"
                          role="button"
                          tabindex="0"
                          src="/images/Internet_Access/Dlink_01en.jpg" width="480" height="311" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Gehen Sie zu Erweiter/Portweiterleitung, um eine neue Portweiterleitung für Ihre Kamera einzurichten.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Schritt 2</h3>
                        <p>Setzen Sie links den Hacken vor der Regel die Sie nutzen möchten und wählen Sie einen Namen. Geben Sie darunter die IP Adresse der Kamera in das Feld "IP-Adresse" ein. Die IP Adresse der Kamera ist die, die Ihnen das IP Camera Tool anzeigt. Das Protokoll auf muß man auf TCP setzen und sowohl den Öffentlichen als auch den Privaten Port auf den Kameraport legen. Der Standardport der Kamera ist der Port 80. Klicken Sie anschließend auf "Einstellungen speichern" um die Regel anzulegen.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:Dlink_02en"
                          role="button"
                          tabindex="0"
                          src="/images/Internet_Access/Dlink_02en.jpg" width="480" height="223" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Setzen Sie den Haken um die Portweiterleitung zu aktivieren und tragen Sie einen Namen, die IP der Kamera sowie den öffentlichen und privaten Port ein. Wählen Sie anschließend das Protokoll "TCP".</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Schritt 3</h3>
                        <p>Die Kamera ist jetzt über die ddns Adresse, die Sie unter System/Info in der Weboberfläche der Kamera nachsehen können, aus dem Internet erreichbar. Sollten Sie die Kamera erst kurz im Betrieb haben kann es sein das der Zugriff nicht auf anhieb erfolgreich ist. Geben Sie der Kamera daher einfach etwas Zeit den DNS Eintrag zu tätigen. Sollte es danach immer noch nicht funktionieren kann es sein das der Port 80 in Ihrem Netzwerk durch einen anderen Service belegt ist. In diesem Fall ändern Sie einfach den http Port in der Weboberfläche der Kamera (unter Netzwerk/IP Konfiguration) und passen die Portweiterleitung in Ihrem Router entsprechend an. Erfahrungsgemäß hat man mit dem Port 85 keine Probleme.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:Speedport_02en"
                          role="button"
                          tabindex="0"
                          src="/images/Internet_Access/Speedport_02en.jpg" width="480" height="169" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Nutzen Sie die eindeutige DDNS Adresse Ihrer Kamera die Sie unter "Netzwerk - DDNS" in der Weboberfläche Ihrer Kamera finden um über das Internet auf Ihre Kamera zuzugreifen.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h2>Mehrere Kameras</h2>
                        <p>Sollten Sie noch eine zweite Kamera einrichten so müssen Sie für diese eine neue Portweiterleitung einrichten. Bitte beachten Sie hier das sich der öffentliche Port unterscheiden muss. Wir empfehlen diesen um 1 zu erhöhen. Wenn Ihre erste Kamera zum Beispiel den öffentlichen Port 80 hat dann würde Ihre zweite Kamera den Port 81 bekommen.</p>
                        <p>Dadurch würden Sie dann die Kameras wie folgt aufrufen:</p>
                        <ul>
                          <li><strong>Kamera 1</strong>: ab1234.ddns-instar.com:8081</li>
                          <li><strong>Kamera 2</strong>: ab1234.ddns-instar.com:8082</li>
                        </ul>
                        <p>und so weiter...</p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->

                <!-- ###################### Lightboxes ######################## -->

                <amp-image-lightbox id="Dlink_01en" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Dlink_02en" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Speedport_02en" layout="nodisplay"></amp-image-lightbox>

            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
