<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap mobile-down">
          <div class="content">
              <section class="hero internetAccess">
                  <div class="container">
                      <div class="row">
                          <div class="six columns">
                              <div class="intro-container">
                                  <h1 itemprop="name">Portweiterleitung :: Pirelli</h1>
                                  <p class="intro">
                                      <strong>Einrichten einer Portweiterleitung in einem Pirelli Router (A1 Austria)</strong><br><br>
                                      Um Ihre Kamera über das Internet zu erreichen, müssen Sie in Ihrem Router eine Portweiterleitung einrichte. Für mehr allgemeine Informationen zum DDNS-Dienst klicken Sie bitte <a href="http://wiki.instar.com/index.php/The_DDNS_Service">HIER</a>.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

        <div class="wrap">
            <div class="container main">

              <% include ../_partials/content/_bluenav-general.ejs %>

                  <article itemscope itemtype="http://schema.org/Article" class="blade wrapper content">
                    <% include ../_partials/amp/_schemaArticle.ejs %>

                    <div>
                        <h1>Portweiterleitung :: Pirelli (A1 Austria)</h1>
                        <p> <i>Dies ist der 2. Schritt der Portweiterleitung, klicken Sie HIER um zum Anfang der Anleitung zu gelangen.</i></p>

                        <p>Öffnen Sie die Weboberfläche Ihres Pirelli Routers indem Sie in die Adresszeile Ihres Browsers die IP Adresse des Routers eingeben und sich mit Ihren Zugangsdaten anmelden. (Falls Sie Schwierigkeiten beim Zugriff haben können Sie <a href="https://portforward.com/router-password/pirelli.htm">hier</a> nachsehen)<br>
                        Die verschiedenen Pirelli Router Modelle haben jeweils auch verschiedene Web-Oberflächen. Im Folgenden werden die Einstellungen bei der gängigsten Pirelli Router Oberfläche erklärt, diese Einstellungen können auch bei anderen Oberflächen angewandt werden.<br>
                      Falls Sie trotdzem Probleme beim Einrichten haben, wenden Sie sich bitte an unseren Support.</p>
                      <p>Navigieren Sie von der Pirelli Router-Startseite zunächst zu <strong>Einstellungen > Portmapping</strong>. Wählen sie dort dann <strong>verändern</strong>.<br>
                        In diesem Fenster werden dann die Einstellungen wie folgt vorgenommen:<br>

                        <table>
                            <tr>
                                <td width="30%">
                                    <strong>Port Mapping aktiviert</strong>
                                </td>
                                <td>Ja
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Hairpinning aktivieren</strong>
                                </td>
                                <td>Ja</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Beschreibung</strong>
                                </td>
                                <td>Wählen Sie einen Namen für Ihre Kamera, zum Beispiel „Kamera Garage“</tr>
                            <tr>
                                <td width="20%">
                                    <strong>Schnittstelle Typ</strong>
                                </td>
                                <td>Unspezifizierter</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Schnittstelle</strong>
                                </td>
                                <td>PPP - PPP over ATM</tr>
                                  <tr>
                                      <td width="20%">
                                          <strong>Jeden Host</strong>
                                      </td>
                                      <td>Ja</tr>
                                        <tr>
                                            <td width="20%">
                                                <strong>Jeden Port</strong>
                                            </td>
                                            <td>Nein</tr>
                                              <tr>
                                                  <td width="20%">
                                                      <strong>Externer Port</strong>
                                                  </td>
                                                  <td>TCP - 8081 - 8081</tr>
                                                    <tr>
                                                        <td width="20%">
                                                            <strong>Local Host</strong>
                                                        </td>
                                                        <td>Geben Sie hier die lokale IP-Adresse Ihrer Kamera ein.</tr>
                                                          <tr>
                                                              <td width="20%">
                                                                  <strong>denselben Port</strong>
                                                              </td>
                                                              <td>Ja</tr>
                                </table>

                      </p>



                    <div class="margin">
                      <amp-img
                          on="tap:Pirelli-A1-Port-forwarding_06"
                          role="button"
                          tabindex="0"
                          src="/images/Internet_Access/Pirelli-A1-Port-forwarding_06.png" width="600" height="348" layout="responsive" class="shadow">
                      </amp-img>
                    </div>

                    <!-- /margin -->
                    <p>Damit sind die Einstellungen im Router fertig gestellt und Sie können mit dem nächsten Schritt fortfahren.</p>

                    <div class="margin">
                        <h3>III. Schritt:	Kamera-Adresse auslesen und Fernzugriff auf die Kamera</h3>
                        <br>
                        <a href="/Internet_Access/Mobile_Access/"><button type="button" class="btn">Schritt III</button></a>
                    </div>
                    <!-- /margin -->
                </article>
                <!-- /article -->

                <!-- ###################### Lightboxes ######################## -->

                <amp-image-lightbox id="Pirelli-A1-Port-forwarding_01" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Pirelli-A1-Port-forwarding_02" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Pirelli-A1-Port-forwarding_03" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Pirelli-A1-Port-forwarding_04" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Pirelli-A1-Port-forwarding_05" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Pirelli-A1-Port-forwarding_06" layout="nodisplay"></amp-image-lightbox>

            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
