<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

        <div class="wrap mobile-down">
            <div class="action">
                <section class="hero internetAccess">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1 itemprop="name">Portweiterleitung</h1>
                                    <p class="intro">
                                      Die Portweiterleitung öffnet bestimmte Ports in Ihrem Netzwerk welche normalerweise im Router blockiert werden. Indem Sie den Port öffnen bzw. weiterleiten können Sie so den Zugriff auf Websever (wie z.B. der Kamera), BitTorrent Clients, Spiele und andere Anwendungen über das Internet erhalten.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

        <div class="wrap">
            <div class="container main">

              <% include ../_partials/content/_bluenav-general.ejs %>

                  <article itemscope itemtype="http://schema.org/Article" class="blade wrapper content">
                    <% include ../_partials/amp/_schemaArticle.ejs %>

                    <div>
                        <h1>Portweiterleitung</h1>
                        <p>
                          Die Schritte zur Portweiterleitung sind bei jedem Router fast die gleichen. Im folgenden zeigen wir Beispiele von häufig verwendeten Router-Herstellern. Für die Konfiguration Ihrer Kamera lesen Sie bitte zuerst den <a href="/Internet_Access/The_DDNS_Service/">Schritt I</a>. Im folgenden beschreiben wir die benötigte Routerkonfiguration für den DDNS Fernzugriff auf Ihre Kamera.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h4>Kein Audio in der App bei Ihrer 1080p Kamera?<a href="/Software/Mobile_Access_Over_HTTPS/">&nbsp;&nbsp;&nbsp;<button type="button" class="navGo navGoRed">HTTPS &amp; Audio</button></a></h4>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <amp-img
                            on="tap:ddns_address_in_browser"
                            role="button"
                            tabindex="0"
                            src="/images/Internet_Access/Portforwarding-Fritzbox-7390de_01.png" width="712" height="403" layout="responsive" class="shadow">
                        </amp-img>
                    </div>

                    <div class="margin">
                        <h3>II.	Portweiterleitung im Router</h3>
                        <p><p>In diesem Schritt wird in Ihrem Router eingestellt, wie er die Kamera aus Ihrem lokalen Netzwerk in das Internet weiterzuleiten hat. Dieser Schritt wird komplett im Einstellungsmenü Ihres Routers ausgeführt, dementsprechend wählen Sie im Folgenden Ihren Router aus. Beachten Sie, dass Sie diesen Schritt für jede einzelne Ihrer Kameras ausführen müssen.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <a href="/Internet_Access/Port_Forwarding/Router_Access/"><button type="button" class="btn">Router Zugriff</button></a>
                    </div>
                    <!-- /margin -->

                    <div class="card-container margin">
                        <div class="twocard">
                            <div class="image">
                                <a href="/Internet_Access/Port_Forwarding/AVM_Fritzbox/">
                                  <amp-img noloading height=150 width=200 layout=responsive src="/images/Internet_Access/Forwarding_AVM_Fritzbox.jpg"></amp-img>
                                </a>
                            </div>
                            <div class="action">
                                <h4>AVM Fritzbox</h4>
                            </div>
                        </div>
                        <div class="twocard">
                            <div class="image">
                                <a href="/Internet_Access/Port_Forwarding/Telekom_Speedport/">
                                  <amp-img noloading height=150 width=200 layout=responsive src="/images/Internet_Access/Forwarding_Telekom_Speedport.jpg"></amp-img>
                                </a>
                            </div>
                            <div class="action">
                                <h4>Telekom Speedport</h4>
                            </div>
                        </div>
                    </div>

                    <div class="card-container margin">
                        <div class="twocard">
                            <div class="image">
                                <a href="/Internet_Access/Port_Forwarding/D-Link/">
                                  <amp-img noloading height=150 width=200 layout=responsive src="/images/Internet_Access/Forwarding_D-Link.jpg"></amp-img>
                                </a>
                            </div>
                            <div class="action">
                                <h4>D-Link</h4>
                            </div>
                        </div>
                        <div class="twocard">
                            <div class="image">
                                <a href="/Internet_Access/Port_Forwarding/Netgear/">
                                  <amp-img noloading height=150 width=200 layout=responsive src="/images/Internet_Access/Forwarding_Netgear.jpg"></amp-img>
                                </a>
                            </div>
                            <div class="action">
                                <h4>Netgear</h4>
                            </div>
                        </div>
                    </div>

                    <div class="card-container">
                        <div class="twocard">
                            <div class="image">
                                <a href="/Internet_Access/Port_Forwarding/Vodafone_Easybox/">
                                  <amp-img noloading height=150 width=200 layout=responsive src="/images/Internet_Access/Forwarding_Vodafone_Easybox.jpg"></amp-img>
                                </a>
                            </div>
                            <div class="action">
                                <h4>Vodafone Easybox</h4>
                            </div>
                        </div>
                        <div class="twocard">
                            <div class="image">
                                <a href="/Internet_Access/Port_Forwarding/TP-Link/">
                                  <amp-img noloading height=150 width=200 layout=responsive src="/images/Internet_Access/Forwarding_TP-Link.png"></amp-img>
                                </a>
                            </div>
                            <div class="action">
                                <h4>TP-Link</h4>
                            </div>
                        </div>
                    </div>

                    <div class="card-container">
                        <div class="twocard">
                            <div class="image">
                                <a href="/Internet_Access/Port_Forwarding/Pirelli/">
                                  <amp-img noloading height=150 width=200 layout=responsive src="/images/Internet_Access/Forwarding_Pirelli.jpg"></amp-img>
                                </a>
                            </div>
                            <div class="action">
                                <h4>Pirelli Router (A1 Austria)</h4>
                            </div>
                        </div>
                        <div class="twocard invisible">
                        </div>
                    </div>

                    <div class="margin">
                        <h3>III.	Kamera-Adresse auslesen und Fernzugriff auf die Kamera</h3>
                        <br>
                        <a href="/Internet_Access/Mobile_Access/"><button type="button" class="btn">Schritt III</button></a>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->

                <!-- ###################### Lightboxes ######################## -->

                <amp-image-lightbox id="ddns_address_in_browser" layout="nodisplay"></amp-image-lightbox>

            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
