<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap mobile-down">
          <div class="content">
              <section class="hero internetAccess">
                  <div class="container">
                      <div class="row">
                          <div class="six columns">
                              <div class="intro-container">
                                  <h1>Portweiterleitung</h1>
                                  <p class="intro">
                                      <strong>Einrichten einer Portweiterleitung in einem Unitymedia Connect Box</strong><br><br>
                                      Um Ihre Kamera über das Internet zu erreichen, müssen Sie in Ihrem Router eine Portweiterleitung einrichte. Für mehr allgemeine Informationen zum DDNS-Dienst klicken Sie bitte <a href="/Internet_Access/The_DDNS_Service/">HIER</a>.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

        <div class="wrap">
            <div class="container main">

              <% include ../_partials/content/_bluenav-general.ejs %>

                  <article class="blade wrapper content">
                      <!-- article -->
                      <div class="margin">
                          <h1>Portweiterleitung :: Unitymedia Connect Box</h1>
                          <p> <i>Dies ist der 2. Schritt der Portweiterleitung, klicken Sie <a href="/Internet_Access/The_DDNS_Service/">hier</a> um zum Anfang der Anleitung zu gelangen.</i></p>
                          <br>

                          <p>Öffnen Sie die Weboberfläche Ihrer Unitymedia Connect Box indem Sie in die Adresszeile Ihres Browsers die IP Adresse des Routers eingeben (standardmäßig 192.168.0.1).</p>
                          <p>Klicken Sie im Menü auf <strong>Erweiterte Einstellungen → Sicherheit → Portweiterleitung</strong>. Hier sehen Sie die Liste aller Portweiterleitungen. Klicken Sie auf <strong>Eine neue Regel erstellen</strong>, um für die Kamera die Portweiterleitung einzutragen.</p>

                    <div class="margin">
                      <amp-img
                          on="tap:unitymedia_connectbox_forwarding_01"
                          role="button"
                          tabindex="0"
                          src="/images/Internet_Access/unitymedia_connectbox_forwarding_01.png" width="931" height="415" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <table>
                        <tr>
                          <td width="20%">
                            <strong>Lokale IP</strong>
                          </td>
                          <td>Geben Sie hier die IP-Adresse der Kamera ein. Sie können die Adresse im Instar Kamera Tool oder in der Geräte-Liste des Routers auslesen.</td>
                        </tr>
                        <tr>
                          <td width="20%">
                            <strong>Lokaler Start Port</strong>
                          </td>
                          <td>Geben Sie hier den Port Ihrer Kamera ein, also wie aus Schritt 1 die <strong>8081</strong> für Kamera 1. Falls Sie weitere Kameras hinzufügen, ändern Sie für diese dann jeweils den zugehörigen Port (<strong>8082</strong> für Kamera 2 usw.)</strong>.
                            <tr>
                              <td width="20%">
                                <strong>Lokaler End Port</strong>
                              </td>
                              <td>Geben Sie hier denselben Port wie im vorherigen Feld ein.</td>
                            </tr>
                            <tr>
                              <td width="20%">
                                <strong>Externer Start Port</strong>
                              </td>
                              <td>Geben Sie hier denselben Port wie im vorherigen Feld ein.</td>
                            </tr>
                            <tr>
                              <td width="20%">
                                <strong>Externer End Port</strong>
                              </td>
                              <td>Geben Sie hier denselben Port wie im vorherigen Feld ein.</td>
                            </tr>
                            <tr>
                              <td width="20%">
                                <strong>Protokoll</strong>
                              </td>
                              <td>Wählen Sie hier <strong>TCP</strong></td>
                            </tr>
                            <tr>
                              <td width="20%">
                                <strong>Aktiviert</strong>
                              </td>
                              <td>Wählen Sie hier <strong>An</strong></td>
                            </tr>
                          </table>
                          <p>Bestätigen Sie dann die Eingaben und die Portweiterleitung für die Kamera ist aktiv.</p>
                        </div>
                            <div class="margin">
                              <amp-img
                                  on="tap:unitymedia_connectbox_forwarding_02"
                                  role="button"
                                  tabindex="0"
                                  src="/images/Internet_Access/unitymedia_connectbox_forwarding_02.png" width="518" height="349" layout="responsive" class="shadow">
                              </amp-img>
                            </div>
                            <!-- /margin -->
                            <p>Um auch auf das Flash-Video zugreifen zu können, muss nun für Ihre Kamera noch eine zweite Portweiterleitung eingerichtet werden. Gehen Sie dafür genau nach der vorigen Anleitung vor, nur tragen Sie im letzten Fenster den RMTP-Port Ihrer Kamera ein. Für Ihre erste Kamera also in alle Felder 1935, für Ihre zweite Kamera 1936, usw.</p>
                            <p>Damit sind die Einstellungen im Router fertig gestellt und Sie können mit dem nächsten Schritt fortfahren. Klicken Sie dazu <a href="/Internet_Access/Mobile_Access/">hier</a>.</p>
                    </div>

                    <div class="dangercard">
                        <h4>Achtung:</h4>
                        <p>Bei Internetanschlüssen in Verbindung mit Unitymedia kann es vorkommen, dass keine öffentliche IPv4-Adresse vergeben wird. Diese ist allerdigns nötig, um per DDNS auf die Kamera zugreifen zu können. Um dies zu überprüfen, gehen Sie im Router zu <strong>Erweiterte Einstellungen → Tools → Netzwerkstatus</strong>. Dort können Sie ablesen, ob Sie eine Ipv4-Adresse haben oder nur eine IPv6-Adresse, bzw. DS-Lite-Tunnel.
                          In der Regel erhalten Sie eine öffentliche IPv4-Adresse vom Anbieter, wenn Sie nachfragen.</p>
                    </div>
                    <!-- /margin -->
                    <div class="margin">
                        <h3>III. Schritt:	Kamera-Adresse auslesen und Fernzugriff auf die Kamera</h3>
                        <br>
                        <a href="/Internet_Access/Mobile_Access/"><button type="button" class="btn">Schritt III</button></a>
                    </div>
                    <!-- /margin -->

                </div>
                </article>
                <!-- /article -->

                <!-- ###################### Lightboxes ######################## -->

                <amp-image-lightbox id="unitymedia_connectbox_forwarding_01" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="unitymedia_connectbox_forwarding_02" layout="nodisplay"></amp-image-lightbox>

            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
