<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap mobile-down">
          <div class="content">
              <section class="hero internetAccess">
                  <div class="container">
                      <div class="row">
                          <div class="six columns">
                              <div class="intro-container">
                                  <h1 itemprop="name">Portweiterleitung :: Zyxel Speedlink</h1>
                                  <p class="intro">
                                      <strong>Einrichten einer Portweiterleitung in einem Zyxel Speedlink Router</strong><br><br>
                                     Um Ihre Kamera über das Internet zu erreichen, müssen Sie in Ihrem Router eine Portweiterleitung einrichte. Für mehr allgemeine Informationen zum DDNS-Dienst klicken Sie bitte <a href="/Internet_Access/The_DDNS_Service/">HIER</a>.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

        <div class="wrap">
            <div class="container main">

              <% include ../_partials/content/_bluenav-general.ejs %>

                  <article itemscope itemtype="http://schema.org/Article" class="blade wrapper content">
                    <% include ../_partials/amp/_schemaArticle.ejs %>

                    <div>
                        <h1>Portweiterleitung :: Zyxel Speedlink</h1>
                        <p><i>Dies ist der 2. Schritt der Portweiterleitung, klicken Sie <a href="/Fernzugriff/Der_DDNS_Dienst/">HIER</a> um zum Anfang der Anleitung zu gelangen.</i></p>

                        <p>Öffnen Sie die Weboberfläche Ihres Zyxel Speedlink Routers indem Sie in die Adresszeile Ihres Browsers die IP Adresse des Routers eingeben (standardmäßig 192.168.100.1).
                          <br>Wechseln Sie nach der Anmeldung die Anischt auf <strong>Entwickler</strong>. Navigieren Sie dann im Menü zu <strong>Sicherheit - Port-Freigaben- Einstellungen</strong>. Klicken Sie dann auf <strong>Neu</strong>, um eine neue Portweiterleitung einzutragen.</p>
                        <amp-img
                            on="tap:Zyxel_Speedlink_01"
                            role="button"
                            tabindex="0"
                            src="/images/Internet_Access/Zyxel_Speedlink_01.png" width="1052" height="491" layout="responsive" class="shadow">
                        </amp-img>
                        <br><p>Geben Sie im darauffolgenden Fenster dann folgende Daten ein:</p>
                        <div class="margin">
                          <table>
                              <tr>
                                  <td width="30%">
                                      <strong>Liste vordefinierter Antworten</strong>
                                  </td>
                                  <td>Wählen Sie hier nichts aus, also lassen Sie hier den Eintrag auf <strong>-- bitte auswählen --</strong>
                              </tr>
                              <tr>
                                  <td width="20%">
                                      <strong>Liste der angeschlossenen Endgeräte:</strong>
                                  </td>
                                  <td>Wählen Sie hier nichts aus, also lassen Sie hier den Eintrag auf <strong>-- bitte auswählen --</strong></td>
                              </tr>
                              <tr>
                                  <td width="20%">
                                      <strong>Name</strong>
                                  </td>
                                  <td>Wählen Sie hier einen Namen für Ihre Kamera, zB. Kamera Garage.</tr>
                              <tr>
                                  <td width="20%">
                                      <strong>Adress-Typ</strong>
                                  </td>
                                  <td>Wählen Sie hier <strong>IPv4</strong> aus.</td>
                              </tr>
                              <tr>
                                  <td width="20%">
                                      <strong>Computer</strong>
                                  </td>
                                  <td>Tragen Sie hier die lokale IP-Adresse Ihrer Kamera ein, die Sie in Schritt 1 festgelegt hatten (192.168.100.201).</tr>
                                    <tr>
                                        <td width="20%">
                                            <strong>Protokoll</strong>
                                        </td>
                                        <td>Wählen Sie hier <strong>TCP</strong>.</tr>
                                    <tr>
                                        <td width="20%">
                                            <strong>LAN-Port</strong>
                                        </td>
                                        <td>Geben Sie hier den Port Ihrer Kamera ein, also wie aus Schritt 1 die <strong>8081</strong> für Kamera 1. Falls Sie weitere Kameras hinzufügen, ändern Sie für diese dann jeweils den zugehörigen Port (<strong>8082</strong> für Kamera 2 usw.)</td>
                                    </tr>
                                    <tr>
                                        <td width="20%">
                                            <strong>Öffentlicher Port</strong>
                                        </td>
                                        <td>Geben Sie hier den Port Ihrer Kamera ein, also wie aus Schritt 1 die <strong>8081</strong> für Kamera 1. Falls Sie weitere Kameras hinzufügen, ändern Sie für diese dann jeweils den zugehörigen Port (<strong>8082</strong> für Kamera 2 usw.)</tr>
                                    <tr>
                                        <td width="20%">
                                            <strong>Externer Computer</strong>
                                        </td>
                                        <td>Tragen Sie hier nichts ein, lassen Sie also die Adresse auf <strong>0.0.0.0</strong></td>
                                    </tr>
                                    <tr>
                                        <td width="20%">
                                            <strong>Quellzone</strong>
                                        </td>
                                        <td>Wählen Sie hier <strong>Internet/NTP/TR069/VoIP</strong></tr>
                                    <tr>
                                        <td width="20%">
                                            <strong>Status</strong>
                                        </td>
                                        <td>Setzen Sie hier den Haken.</td>
                                    </tr>
                                  </table>

                                  <p>Durch einen Klick auf <b>Speichern</b> wird die Portweiterleitung aktiviert.</p>

                                  <amp-img
                                      on="tap:Zyxel_Speedlink_02"
                                      role="button"
                                      tabindex="0"
                                      src="/images/Internet_Access/Zyxel_Speedlink_02.png" width="834" height="642" layout="responsive" class="shadow">
                                  </amp-img>
                                  <p>Um auch auf das Flash-Video zugreifen zu können, muss nun für Ihre Kamera noch eine zweite Portweiterleitung eingerichtet werden. Gehen Sie dafür genau nach der Anleitung wie in diesem Schritt vor, nur tragen Sie bei den Ports stattdessen den Flash-Port Ihrer Kamera ein. Für Ihre erste Kamera also in beide Felder 1935, für Ihre zweite Kamera 1936, usw.</p>
                                  <p>Damit sind die Einstellungen im Router fertiggestellt und Sie können mit dem nächsten Schritt fortfahren:</p>

                                  <div class="margin">
                                      <h3>III. Schritt:	Kamera-Adresse auslesen und Fernzugriff auf die Kamera</h3>
                                      <br>
                                      <a href="/Internet_Access/Mobile_Access/"><button type="button" class="btn">Schritt III</button></a>
                                  </div>
                                  <!-- /margin -->

                        </div>

                      </div>

                </article>
                <!-- /article -->

                <!-- ###################### Lightboxes ######################## -->

                <amp-image-lightbox id="Zyxel_Speedlink_01" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Zyxel_Speedlink_02" layout="nodisplay"></amp-image-lightbox>


            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
