<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap mobile-down">
          <div class="content">
              <section class="hero internetAccess">
                  <div class="container">
                      <div class="row">
                          <div class="six columns">
                              <div class="intro-container">
                                  <h1 itemprop="name">Portweiterleitung :: Vodafone Easybox</h1>
                                  <p class="intro">
                                      <strong>Einrichten einer Portweiterleitung in einer Vodafone Easybox</strong><br><br>
                                      Um Ihre Kamera über das Internet zu erreichen, müssen Sie in Ihrem Router eine Portweiterleitung einrichte. Für mehr allgemeine Informationen zum DDNS-Dienst klicken Sie bitte <a href="http://wiki.instar.com/index.php/The_DDNS_Service">HIER</a>.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

        <div class="wrap">
            <div class="container main">

              <% include ../_partials/content/_bluenav-general.ejs %>

                  <article itemscope itemtype="http://schema.org/Article" class="blade wrapper content">
                    <% include ../_partials/amp/_schemaArticle.ejs %>

                    <div>
                        <h1>Portweiterleitung in einer Vodafone Easybox</h1>
                        <p> <i>Dies ist der 2. Schritt der Portweiterleitung, klicken Sie HIER um zum Anfang der Anleitung zu gelangen.</i></p>

                        <p>Öffnen Sie die Weboberfläche Ihres Vodafone Easybox Routers indem Sie in die Adresszeile Ihres Browsers die IP Adresse des Routers eingeben (standardmäßig 192.168.2.1;
                          Die Standard Login-Daten des Routers sind Benutzername = root und Kennwort = 123456). Wählen Sie dann den Menüpunkt <strong>Daten > Port Mapping</strong> und klicken auf das Seiten-Symbol unter <strong>Einstellen</strong>.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:Easybox_01en"
                          role="button"
                          tabindex="0"
                          src="/images/Internet_Access/Easybox_01en.jpg" width="680" height="257" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Tragen Sie hier unter <strong>LAN IP</strong> die IP-Adresse Ihrer Kamera ein. Als <strong>Protokolltyp</strong> wählen Sie TCP.<br>
                          Bei <strong>LAN Port</strong> und <strong>Öffentlicher Port</strong> tragen Sie jeweils „8081“ ein. Falls Sie weitere Kameras hinzufügen geben sie diesen dann jeweils andere Ports. Der zweiten Kamera 8082, der dritten Kamera 8083 usw.<br>
                          Klicken Sie anschließend auf das Eingabesymbol unter „Einstellen“ um die Regel zu aktivieren.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:Easybox_02en"
                          role="button"
                          tabindex="0"
                          src="/images/Internet_Access/Easybox_02en.jpg" width="680" height="280" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->
                    <p>Damit sind die Einstellungen im Router fertig gestellt und Sie können mit dem nächsten Schritt fortfahren. Klicken Sie dazu HIER.</p>

                </article>
                <!-- /article -->

                <!-- ###################### Lightboxes ######################## -->

                <amp-image-lightbox id="Easybox_01en" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Easybox_02en" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Easybox_03en" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Speedport_02en" layout="nodisplay"></amp-image-lightbox>

            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
