<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Internet_Access/Port_Forwarding/Netgear/">
    </head>

    <body class="home">

      <header class="fixed">
          <% include ../_partials/amp/_amp-header.ejs %>
      </header>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero internetAccess">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>Portweiterleitung</h1>
                                    <h3>Einrichten einer Portweiterleitung in einem Netgear Router</h3>
                                    <p class="intro">
                                     Um Ihre Kamera über das Internet zu erreichen, müssen Sie in Ihrem Router eine Portweiterleitung einrichte. Für mehr allgemeine Informationen zum DDNS-Dienst klicken Sie bitte <a href="http://wiki.instar.com/index.php/The_DDNS_Service">HIER</a>.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

        <div class="wrap">
            <div class="container main">
                <% include ../_partials/content/_bluenav-ia.ejs %>

                <article>
                    <!-- article -->

                    <div class="margin">
                        <h3>Schritt 1</h3>
                        <p>Sie können auf die Weboberfläche des Netgear Routers zugreifen indem Sie folgende Adresse in die Adresszeile Ihres Browsers eingeben: http://192.168.1.1 . Der Standard Login des Routers ist Benutzername = admin und Kennwort = password. Gehen Sie unter dem Punkt "Erweitert" auf "Portweiterleitung/Port-Triggering". Geben Sie hier die IP Adresse der Kamera in das Feld IP-Adresse des Servers ein. Die IP Adresse der Kamera ist die, die Ihnen das IP Camera Tool anzeigt. Klicken Sie anschließend auf Hinzufügen um die Regel anzulegen.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img on="tap:lightbox1" role="button" tabindex="0" src="/images/Netgear_01en.jpg" width="480" height="313" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <amp-lightbox id="lightbox1" layout="nodisplay">
                          <div class="lightbox" on="tap:lightbox1.close" tabindex="0" class="centered">
                              <amp-img on="tap:lightbox1.close" role="button" tabindex="0" src="/images/Netgear_01en.jpg" width="480" height="313" layout="responsive" class="shadow"></amp-img>
                          </div>
                      </amp-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Gehen Sie auf "Erweitert - Portweiterleitung" und tragen Sie die IP Ihrer Kamera ein um eine neue Portweiterleitung anzulegen.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Schritt 2</h3>
                        <p>Die Regel wird für einen Standardport (definiert durch das Feld "Dienstname") angelegt. Gehen Sie daher auf Dienst bearbeiten um den Port auf den Kameraport zu ändern.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img on="tap:lightbox2" role="button" tabindex="0" src="/images/Netgear_02en.jpg" width="480" height="317" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <amp-lightbox id="lightbox2" layout="nodisplay">
                          <div class="lightbox" on="tap:lightbox2.close" tabindex="0" class="centered">
                              <amp-img on="tap:lightbox2.close" role="button" tabindex="0" src="/images/Netgear_02en.jpg" width="480" height="317" layout="responsive" class="shadow"></amp-img>
                          </div>
                      </amp-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Klicken Sie auf "Dienst bearbeiten" um den weitergeleiteten Port auf den Ihrer Kamera einzustellen.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Schritt 3</h3>
                        <p>Unter "Dienstname" können Sie dem Regel nun einen beliebigen Namen vergeben, das Protokoll auf TCP setzen und sowohl den ersten als auch den letzten Port auf den Kameraport legen. Der Standardport der Kamera ist der Port 80.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img on="tap:lightbox3" role="button" tabindex="0" src="/images/Netgear_03en.jpg" width="480" height="312" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <amp-lightbox id="lightbox3" layout="nodisplay">
                          <div class="lightbox" on="tap:lightbox3.close" tabindex="0" class="centered">
                              <amp-img on="tap:lightbox3.close" role="button" tabindex="0" src="/images/Netgear_03en.jpg" width="480" height="312" layout="responsive" class="shadow"></amp-img>
                          </div>
                      </amp-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Passen Sie die Daten für Ihre Kamera an.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Schritt 4</h3>
                        <p>Klicken Sie anschließend auf Übernehmen um die Regel anzulegen.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img on="tap:lightbox4" role="button" tabindex="0" src="/images/Netgear_04en.jpg" width="480" height="315" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <amp-lightbox id="lightbox4" layout="nodisplay">
                          <div class="lightbox" on="tap:lightbox4.close" tabindex="0" class="centered">
                              <amp-img on="tap:lightbox4.close" role="button" tabindex="0" src="/images/Netgear_04en.jpg" width="480" height="315" layout="responsive" class="shadow"></amp-img>
                          </div>
                      </amp-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Nachdem Sie auf "Übernehmen" klicken wird die Portregel für Ihre Kamera aktiv sein.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h2>Mehrere Kameras</h2>
                        <p>Sollten Sie noch eine zweite Kamera einrichten so müssen Sie für diese eine neue Portweiterleitung einrichten. Bitte beachten Sie hier das sich der öffentliche Port unterscheiden muss. Wir empfehlen diesen um 1 zu erhöhen. Wenn Ihre erste Kamera zum Beispiel den öffentlichen Port 80 hat dann würde Ihre zweite Kamera den Port 81 bekommen.</p>
                        <p>Dadurch würden Sie dann die Kameras wie folgt aufrufen:</p>
                        <ul>
                          <li><strong>Kamera 1</strong>: ab1234.ddns-instar.com:8081</li>
                          <li><strong>Kamera 2</strong>: ab1234.ddns-instar.com:8082</li>
                        </ul>
                        <p>und so weiter...</p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->
            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../_partials/content/_bluenav-ia-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
