<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

        <div class="wrap">
            <div class="container main">

              <% include ../_partials/content/_bluenav-general.ejs %>

                  <article itemscope itemtype="http://schema.org/Article" class="blade wrapper content">
                    <% include ../_partials/amp/_schemaArticle.ejs %>

                    <div>
                        <h1 itemprop="name">Testen des DDNS Eintrages</h1>
                        <p>Dieser Schritt ist relativ einfach, da Sie keine Einstellungen vornehmen müssen. Verbinden Sie sich wieder mit Ihrer Kamera, sofern Sie nicht weiterhin auf der WebUI sind, und öffnen Sie den Menüpunkt Netzwerk > DDNS Service. Dort finden Sie unter dem Punkt Hersteller-Domain die Adresse über der Sie die Kamera von extern aufrufen können. Merken Sie sich diese! Sie besteht in der Regel aus einer 6 stelligen Ziffern- und Buchstabenkombination, nach dem Muster xxxxx.ddns-instar.com oder xxxxx.ddns-instar.de, wobei die x stellvertretend für die Ziffern oder Buchstaben stehen. Danach gehen Sie auf den Menüpunkt System > Info. Dort finden Sie den aktuellen DDNS Status. Dieser muss mit dem Attribut Erfolgreich versehen sein. Ist dies der Fall, dann bedeutet das, dass die Kamera sich erfolgreich mit dem DDNS Server verbunden hat und von der Kameraseite alles funktioniert.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:Port_Forwarding_EN_02"
                          role="button"
                          tabindex="0"
                          src="/images/Internet_Access/Port_Forwarding_EN_02.jpg" width="620" height="329" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Sollte einmal der Eintrag der Hersteller Domain fehlen, so kontaktieren Sie bitte den INSTAR Support, dieser kann Ihnen dabei behilflich sein eine Hersteller Domain auf die Kamera aufzuspielen. Sollte der Status einmal einen Fehler anzeigen, so kann es sich um ein temporäres Problem handeln. Starten Sie ggf. einmal die Kamera neu um eine Neuanmeldung auf dem DDNS Server zu erzwingen und überprüfen Sie die IP Konfiguration der Kamera - speziell den DNS Server und das Gateway. Es kann sein, dass die Verbindung nicht gleich hergestellt werden kann und eine Stunden später alles okay ist. Sollte das Problem länger als einen Tag bestehen, wenden Sie sich bitte an den INSTAR Support.</p>
                        <p>Sie können Ihre DDNS Adresse auch ganz einfach manuell überprüfen mit einem kleinen Programm mit dem Namen <a href="http://en.wikipedia.org/wiki/Nslookup">nslookup</a>. Öffnen Sie hierfür die Eingabeaufforderung an Ihrem Windows PC (im Startmenü einfach cmd suchen und bestätigen) und geben Sie nslookup ein um das Programm zu starten. Sie können jetzt Ihre persönliche DDNS Adresse eingeben und auf die Antwort warten (siehe Screenshots unten). Die gefundene IPv4 Adresse muss identisch sein mit Ihrer aktuellen WAN IP Adresse. Die WAN IP Adresse können Sie in Ihrem Router einsehen. Oder öffnen Sie die Website <a href="http://wieistmeineip.de/">wieistmeineip.de</a>  und vergleichen Sie die angezeigte IP mit dem nslookup Ergebnis. Achten Sie bitte darauf, dass Ihnen keine IPv6 Adressen (DSLite) angezeigt werden - mit diesen ist der DDNS Zugriff nicht möglich und Sie wären auf den P2P Service unserer HD Kameras angewiesen.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:Nslookup_01"
                          role="button"
                          tabindex="0"
                          src="/images/Internet_Access/Nslookup_01.png" width="620" height="313" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Öffnen Sie Ihre Eingabeaufforderung und geben Sie nslookup ein um das Programm zu starten.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:Nslookup_02"
                          role="button"
                          tabindex="0"
                          src="/images/Internet_Access/Nslookup_02.png" width="620" height="313" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Geben Sie Ihre DDNS Adresse ein und bestätigen Sie.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:Nslookup_03"
                          role="button"
                          tabindex="0"
                          src="/images/Internet_Access/Nslookup_03.png" width="620" height="313" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Die angezeigte IP Adresse muss identisch sein mit Ihrer WAN IP dami der DDNS Zugriff funktioniert.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Portweiterleitung / Portforwarding / Portfreigabe / NAT- oder Port-Regeln / Virtueller Server</h3>
                        <p>Im dritten und letztem Schritt müssen Sie nun dem Router mitteilen, über welche IP Adresse und welchen internen (WAN) und externen (LAN) Port die Kamera erreichbar ist. Sie müssen in Ihrem Router eine Regel erstellen welche den externen Zugriff entsprechend regelt und erlaubt, dies wird je nach Router als Portweiterleitung / Portforwarding / Portfreigabe / NAT- oder Port-Regel bezeichnet. Im folgenden wird der Begriff Portweiterleitung synonym verwendet.</p>
                        <p>Wo Sie diese Regel definieren ist von Router zu Router unterschiedlich. Welche Bezeichnungen verwendet werden ebenfalls. Ziel ist es Ihnen die Begriffe so gut zu verdeutlichen, dass Sie diese Einstellungen vornehmen können. Die Portweiterleitung soll am Beispiel der Fritz!Box erläutert werden. Verbinden Sie sich mit Ihrem Router. Dazu geben Sie einfach die schon aus dem Schritt 1 bekannte IP Adresse in Ihrem Web Browser ein. Für die Fritz!Box ist dies die 192.168.178.1. Dort gehen Sie auf den Menüpunkt für die Portweiterleitung. In der Fritz!Box finden Sie diese unter Internet > Portfreigabe. Im Allgemeinem braucht der Router die folgenden Daten:</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <table>
                            <tr>
                                <td width="20%">
                                    <strong>Anwendung</strong>
                                </td>
                                <td>Es gibt viele Standardanwendungen für welche eine Portweiterleitung eingerichtet werden kann, z.B. Webserver, FTP-Sever etc. Hier sollten Sie "Andere Anwendungen" auswählen um so eine neue Anwendung anzulegen und diese zu benennen um bei mehreren Kameras diese auseinanderhalten zu können.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Bezeichnung</strong>
                                </td>
                                <td>Diese ist lediglich für Sie wichtig, damit Sie später wissen, für welches Gerät die Portweiterleitung eingerichtet wurde ; z.B. Kameraname + Kameraort.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Protokoll</strong>
                                </td>
                                <td>Die Kamera benötigt lediglich das <strong>TCP Protokoll</strong>. Sie benötigen in diesem Fall UDP nicht.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Von (externer) Port</strong>
                                </td>
                                <td>Dies ist der externe (WAN) Port der Kamera, dieser wird in hier definiert, der externe Port darf nicht doppelt vergeben werden (im Gegensatz zum internen), d.h. wenn Sie mehrere Kameras einbinden, sollte dieser durchlaufend vergeben werden ; da der externe Port 80 standardmäßig für Webanwendungen verwendet wird, kann es sein, dass Sie den Port 81 als externen Port verwenden müssen.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Bis (externer) Port</strong>
                                </td>
                                <td>Gleichen Port wie bei "Von (externen) Port".</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>IP Adresse</strong>
                                </td>
                                <td>Dies ist die IP Adresse der Kamera welche wir im Schritt 1 vergeben haben.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>An (internen) Port</strong>
                                </td>
                                <td> Dies ist der interne (LAN) Port der Kamera, wir haben diesen im Schritt 1 definiert, der Wert ist entsprechend einzutragen, in der Regel wird dies die 80 sein ; der interne Port kann einen größeren Bereich umfassen, für unsere Kameras ist dies aber nicht der Fall, so dass der zweite Wert ebenfalls den gleichen Wert wie der erste hat oder leer bleiben kann.</td>
                            </tr>
                        </table>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Wenn Sie mehrere Kameras einbinden wollen, muss für jede Kamera eine Portweiterleitung eingerichtet werden. Der externe Port muss für jede Kamera eindeutig sein. Es empfiehlt sich die Kamera 1 den externen Port 81 zu geben, der Kamera 2 den externen Port 82 usw. Abschließend verwenden Sie die Hersteller Domain aus Schritt 2, tippen diese in Ihrem Web Browser ein und hängen durch einen Doppelpunkt getrennt den externen Port der Kamera an. Für obiges Beispiel schaut diese wie folgt aus:</p>
                        <p><strong>http://xxxxx.ddns-instar.com:80</strong></p>
                    </div>
                    <!-- /margin -->

                    <div class="primarycard">
                        <p><strong><u>Exkurs:</u></strong><br/><br/>Sie können auch immer die gleiche aipcam Adresse verwenden und nur den Port ändern. Die Kamera kommuniziert über die DDNS Adresse mit dem DNS Server und teilt diesem die IP Adresse des Routers mit. Für alle Kameras welche am gleichen Router hängen ist diese natürlich die gleiche. D.h. Sie können die Kameras auch wie folgt aufrufen:

                        Camera 1: http://abcd12.ddns-instar.com:80 Camera 2: http://abcd12.ddns-instar.com:81 Camera 3: http://abcd12.ddns-instar.com:82 and so on...

                        Der Domain Name besteht aus dem Prefix http:// welches das Internetprotokoll definiert. Dies muss in der Regel nicht mit eingetippt werden, da aktuelle Browser dies als Standard voranstellen.

                        Geben Sie somit nur xxxxx.ddns-instar.com ein, wobei x für die Zahlen- und Buchstabenkombination Ihrer DDNS Adresse stehen.

                        Wenn man einen anderen Port als 80 verwendet z.B. 81, dann muss man diesen mit einem :81 hinter den Domain Name schreiben. Wird der Standard Web-Port 80 verwendet so muss man diesen nicht mit angeben, da dieser automatisch von aktuellen Web Browsern angesteuert wird.</p>
                        <p><strong>Kamera 1: </strong> http://d2908.ddns-instar.com:80<br/><br/>
                        <strong>Kamera 2: </strong> http://d2908.ddns-instar.com:8081<br/><br/>
                      <strong>Kamera 3: </strong> http://d2908.ddns-instar.com:8082 und so weiter...<br/><br/></p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p><u>Achtung: </u>Die Portweiterleitung kann man z.B. bei der Fritzbox aus dem eigenen Netzwerk testen. Es gibt Router, welche den externen Zugriff aus dem internen Netzwerk nicht unterstützen (einige Modelle des Telekom Speedports). Das heißt Sie müssen gegebenenfalls den Zugriff über einen externen Rechner von einem Freund oder von Ihrem Arbeitsplatz verwenden. Wenn Sie über den Port 80 auf das Menü des Routers kommen, dann stellen Sie einmal den internen und externen Port der Kamera auf 81. Sie müssen aufpassen, dass die Ports welche Sie verwenden nicht von anderen Geräten oder Diensten belegt sind. Wenn Sie z.b. mit Ihrem Smartphone von extern zugreifen wollen, müssen Sie in der Regel nur die Domain Name ohne Prefix angeben, der Port wird in der Regel durch eine eigene Eingabemaske abgefragt. Bei der App InstarVision am iPhone ist dies der Fall. Sie können auch in den Anleitungen der <a href="/Software/Windows/InstarVision/Windows_Phone/DDNS/">Windows Phone</a> und <a href="/Software/Windows/InstarVision/Metro/DDNS/">Metro</a> App, <a href="/Software/iOS/InstarVision/iPhone/DDNS/">iPhone</a> und <a href="/Software/iOS/InstarVision/iPad/DDNS/">iPad</a> App oder <a href="/Software/Android/InstarVision/DDNS/">Android</a> App nachschauen.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <a href="/Internet_Access/The_DDNS_Service/"><button type="button" class="btn">Zurück</button></a>
                    </div>

                </article>
                <!-- /article -->

                <!-- ###################### Lightboxes ######################## -->

                <amp-image-lightbox id="Port_Forwarding_EN_02" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Nslookup_01" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Nslookup_02" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Nslookup_03" layout="nodisplay"></amp-image-lightbox>

            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
