<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
				<h5 class="footer-heading">INFORMATIONEN</h5>
				<ul class="footer-items">
				<li><a href="http://www.instar.de/news/index">Aktuelle Meldungen</a></li>
				<li><a href="http://www.instar.de/impressum">Impressum</a></li>
				<li><a href="http://www.instar.de/agb">Allg. Geschäftsbedingungen</a></li>
				<li><a href="http://www.instar.de/revocation">Widerrufsrecht</a></li>
				<li><a href="http://www.instar.de/privacy">Datenschutz</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<h5 class="footer-heading">WARUM BEI UNS KAUFEN</h5>
				<ul class="footer-items">
				<li><a href="http://www.instar.de/customer-service/">Kundenservice</a></li>
				<li><a href="http://www.instar.de/shipping">Sichere Zahlungsarten</a></li>
				<li><a href="http://www.instar.de/customer-service/">Sicheres Einkaufen</a></li>
				<li><a href="http://www.instar.de/shipping">Internationaler Versand</a></li>
				<li><a href="http://www.instar.de/affiliates">Händler &amp; Partner</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<h5 class="footer-heading">KONTAKT</h5>
				<ul class="footer-items">
				<li>RAIFFEISENSTRASSE 12</li>
				<li>65510 HÜNSTETTEN</li>
				<li>Deutschland</li>
				<li>TEL: +49 (6438) 9198992</li>
				</ul>
			</div>
			<div class="col-md-3">
					<table class="table table-sm table-inverse borderless">
						<tbody>
							<tr>
								<td>
									<h5 class="footer-heading">INSTAR APPS</h5>
								</td>
							</tr>
							<tr>
								<td>
									<a href="https://itunes.apple.com/de/app/instarvision/id413109553?mt=8"><img class="app-links" src="/images/appstore_iphone.png" class="img-fluid shadow"/></a>
								</td>
							</tr>
							<tr>
								<td>
									<a href="https://play.google.com/store/apps/details?id=de.instar.vision&hl=de"><img class="app-links" src="/images/appstore_android.png" class="img-fluid shadow"/></a>
								</td>
							</tr>
							<tr>
								<td>
									<a href="https://www.microsoft.com/de-de/store/p/instarvision/9nblggh10wtp"><img class="app-links" src="/images/appstore_windows.png" class="img-fluid shadow"/></a>
								</td>
							</tr>
						</tbody>
					</table>
			</div>
        </div> <!-- /row -->
    </div> <!-- /container -->
</section>
