<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#CollapsingNav">
        &#9776;
    </button>
    <!-- Logo -->
    <a class="hidden-lg-up pull-right" href="/">
        <img src="/images/header_logo10.png" class="img-fluid" style="max-height: 50px;" alt="INSTAR Deutschland GmbH"/>
    </a>
    <div class="collapse navbar-toggleable-md" id="CollapsingNav">
        <a class="navbar-brand hidden-md-down" href="/">
            <img src="/images/header_logo10.png" class="img-fluid" style="max-height: 50px;" alt="INSTAR Deutschland GmbH"/>
        </a>

        <!-- Inline List Navigation -->
        <ul class="nav navbar-nav hidden-lg-down impact">
            <li class="nav-item" style="padding-left: 1px;">
                <h2 class="logo-text">INSTAR</h2>
            </li>
            <li class="nav-item" style="padding-left: 15px;">
                <a class="nav-link header-link" href="/Products"><h6 class="header-text"><i class="fa fa-camera" aria-hidden="true"></i> &nbsp; Produkte</h6></a>
            </li>
            <li class="nav-item" style="padding-left: 10px;">
                <a class="nav-link" href="/Quick_Installation"><h6 class="header-text"><i class="fa fa-bolt" aria-hidden="true"></i> &nbsp; Installation</h6></a>
            </li>
            <li class="nav-item" style="padding-left: 10px;">
                <a class="nav-link" href="/Internet_Access"><h6 class="header-text"><i class="fa fa-cloud" aria-hidden="true"></i> &nbsp; Internetzugriff</h6></a>
            </li>
            <li class="nav-item" style="padding-left: 10px;">
                <a class="nav-link" href="/Motion_Detection"><h6 class="header-text"><i class="fa fa-user-secret" aria-hidden="true"></i> &nbsp; Alarm</h6></a>
            </li>
            <li class="nav-item" style="padding-left: 10px;">
                <a class="nav-link" href="/Advanced_User"><h6 class="header-text"><i class="fa fa-code-fork" aria-hidden="true"></i> &nbsp; Entwickler</h6></a>
            </li>
        </ul>
        <!-- Button Navigation for Mobile -->
        <div class="container hidden-lg-up mt">
            <a href="/">
                <button class="btn btn-primary btn-lg btn-block" type="button">Home</button>
            </a>
            <br/>
            <a href="/Search">
                <button class="btn btn-primary btn-lg btn-block" type="button">Suchen</button>
            </a>
            <br/>
            <a href="/Products">
                <button class="btn btn-primary btn-lg btn-block" type="button">Produkte</button>
            </a>
            <br/>
            <a href="/Quick_Installation">
                <button class="btn btn-primary btn-lg btn-block" type="button">Schnellinstallation</button>
            </a>
            <br/>
            <a href="/Internet_Access">
                <button class="btn btn-primary btn-lg btn-block" type="button">Internet Zugriff</button>
            </a>
            <br/>
            <a href="/Motion_Detection">
                <button class="btn btn-primary btn-lg btn-block" type="button">Bewegungserkennung</button>
            </a>
            <br/>
            <a href="/Advanced_User">
                <button class="btn btn-primary btn-lg btn-block" type="button">Für Entwickler</button>
            </a>
            <br/>
        </div>
        <!-- Search -->
        <form method="get" action="/Search/Results" class="form-inline pull-xs-right hidden-md-down">
            <input type="text" name="q" autocomplete="off" class="form-control" type="text" placeholder="Suchbegriff">
            <button class="btn btn-primary" type="submit">Suchen</button>
        </form>
    </div>
</nav>
