<!--[if lt IE 10]>
    <p class="browserupgrade">Sie nutzen einen <strong>veralteten</strong> Browser. Bitte <a href="http://browsehappy.com/">updaten Sie Ihren Browser</a>, um Ihr Surferlebnis zu verbessern.</p>
<![endif]-->
