<% include ../_partials/template/_head.ejs %>

    <body>
      <% include ../_partials/template/_outdated.ejs %>

      <div id="wrapper">

        <header><% include ../_partials/template/_header.ejs %></header>
        <!-- Navbar-->

        <div class="clearfix"></div>

    <!-- #############################################  Body ############################################# -->

        <section class="container mb">
            <div class="row mt">

                <div class="col-xs-12 mb">
                    <h1>IN-3011</h1>
                    <h3 class="text-muted">Produktüberblick</h3>
                </div>

                <div class="col-xs-12">
                  <img src="/images/Usermanuals/IN-3011_Overview_width1650.png" alt="IN-3011 Overview" class="img-fluid img-rounded shadow" />
                </div>

                <div class="caption col-xs-12 mb">
                  <p class="text-justify"><strong>1.)</strong> Photodiode für Dämmerungswechsel, <strong>2.)</strong> Standard 6mm F/2.0 Infrarot Linse, <strong>3.)</strong>  Infrarot LED´s für Nachtsicht, <strong>4.)</strong> Lautsprecher, <strong>5.)</strong> Hochwertiges ABS Gehäuse und interes Mikrofon, <strong>6.)</strong> Audio-Ausgang für externe Lautsprecher, <strong>7.)</strong> RJ45 Ethernet Anschluss, <strong>8.)</strong> Wifi Antenne, <strong>9.)</strong> Alarm I/O Anschluss für externe Geräte, <strong>10.)</strong> Gleichstrom Netzteil</p>
                </div>

                <div class="col-xs-12">
                  <p class="text-justify">Die IN-3011 ist eine Allround-Lösung für die Überwachung im Innenbereich. Der Kamerakopf kann ferngesteuert werden und ist mit Infrarot-Dioden ausgestattet um in dunklen Umgebungen eine Nachtsicht zu gewährleisten. Die Kamera beinhaltes integrierte Lautsprecher und ein Mikrofon, welches es zur perfekten Kamera z.B. für die Überwachung Ihres Babys macht. Jedes Gerät (d.h. Smartphones) können sich auf die Weboberfläche der Kamera verbinden und die Schwenk- &amp; Neigfunktion nutzen. Mit 280 Grad horizontal und 120 Grad vertikal deckt die Schwenk- und Neigfunktion quasi den gesamte Bereich vor Ihrer Kamer ab. Dank Ihrer kompakten Größe und Ihrem modernen Design können Sie es nicht nur als Überwachungslösung, sondern auch für private Projekte verwenden. Die <a href="/Motion_Detection/Alarm_FTP_Upload">FTP Unterstützung</a> erlaubt es Ihnen die IN-3011 als eine multi-funktionale Webcam <a href="/Advanced_User/Website_Integration">mit Integration in Ihre Webseite</a> zu nutzen. Der Unterschied zwischen der IN-3010 und der IN-3011 ist, dass die Kamera es erlaubt, die Infrarot Lichter manuell zu wechseln. Dies ermöglicht es, in der Nacht durch Fenster ohne Reflektionen durch die IR LEDs durchzuschauen </p>
                </div>

            </div>
            <!-- /row -->

            <div class="row mt">

    <!-- #############################################  Card ############################################# -->

          <div class="col-xs-12 col-sm-12 col-md-4" style="margin: 0 0 30px 0;">
            <div class="card shadow centered">
                <div class="card-block centered">
                  <h4 class="card-title">INSTAR IN-3011</h4>
                  <h6 class="card-subtitle text-muted">IP Innenkamera</h6>
                </div>
                <div class="center-block">
                  <img src="/images/Usermanuals/INSTAR_IN-3011_Infobox.png" alt="IN-6001 HD" class="img-fluid">
                </div>
                <div class="card-block centered mt">
                  <a href="/Indoor_Cameras/IN-3011/Technical_Specifications" class="btn btn-outline-primary btn-block"><i class="fa fa-cogs"></i>  Spezifikationen</a>
                    <a href="/Downloads/Indoor_Cameras/IN-3011/" class="btn btn-outline-primary btn-block"><i class="fa fa-download"></i>  Downloads</a>
                  <a href="http://www.instar.de/indoor-table" class="btn btn-outline-primary btn-block"><i class="fa fa-balance-scale"></i>  Vergleichen</a>
                  <a href="http://www.instar.de/ip-innenkameras/in-3011-series.html" class="btn btn-outline-primary btn-block"><i class="fa fa-shopping-cart"></i>  Zum Shop</a>
                </div>
            </div>
          </div>

    <!-- #############################################  LIST ############################################# -->

            <div class="col-xs-12 col-sm-12 col-md-7 col-md-offset-1">
              <h3>Hardware</h3>

              <ul>
                <li>Ferngesteuertes Schwenken&amp;Neigen - 288° schwenkbar und 120° neigbar</li>
                <li>2-Wege Audio über ein integriertes Mikrofon und Lautsprecher</li>
                <li>Alarm I/O für externe Sensoren (z.B. <a href="/Products/IN-Motion">Bewegungserkennung</a> oder Rauchmelder) und Empfänger (z.B. Hausautomationen)</li>
                <li>Detachable wallmount with a standard 1/4 inch thread (compatible with regular camera tripods, e.g. GorillaPods)</li>
              </ul>

              <h3>Network</h3>

              <ul>
                <li>RJ-45 Ethernet Steckplatz für eine einfache Integration in Ihr 100Mbit Heimnetzwerk</li>
                <li>Kompatibel mit <a href="/Quick_Installation/Set_Up_A_Wireless_Connection">Wifi</a> IEEE 802.11 b/g bis zu 54Mbit Netzwerken mit WEP, WPA und WPA2 Sicherheit</li>
                <li>DHCP und UPnP Unterstützung für eine automatische Netzwerkintegration</li>
                <li>Integrieren der individuellen <a href="/Internet_Access/The_DDNS_Service">DDNS ("Internet") Adresse</a> um Ihre Kamera über das Internet zu erreichen.</li>
              </ul>

              <h3>Software</h3>

              <ul>
                <li>Kostenlose <a href="/Software/Android">Android</a>, <a href="/Software/iOS">iPhone</a> und <a href="/Software/Windows">Windows Phone 8</a> App</li>
                <li>Die Weboberfläche erlaubt eine einfache Konfiguration und Kamerasteuerung über Ihren Webbrowser (Chrome, Safari, Firefox, Internet Explorer)</li>
                <li>Verwalten Sie all Ihre Kameras von Ihrem PC mit dem integrierten Multiview für bis zu 9 Kameras (nur IE)</li>
                <li>Softwarebasierte Bewegungs- und Audioerkennung und Email Benachrichtigung mit angehängten Snapshots</li>
                <li>Nehmen Sie Videos direkt von Ihrem PC auf (nur ActiveX)</li>
              </ul>
            </div>

          </div>
          <!-- /row -->
              <div class="row mt">

                  <div class="col-xs-12">
                    <p class="text-justify">Die IN-3011 ist eine Allround-Kamera und dank Infrarot LEDs rund um die Uhr einsetzbar. Die Dreh- und Neigefunktion erlaubt Ihnen eine nahezu rundum Abdeckung der zu beobachtenden Umgebung. Ihre Kamera können Sie mit Hilfe der integrierten DDNS Adresse von jedem Rechner / Smartphone aus aufrufen und fernsteuern. Als Tischkamera geeignet lässt sie sich auch mühelos an jeder Wand und jeder Decke durch die mitgelieferte Halterung montieren.</p>
                    <p class="text-justify">Auch eignet sich die IN-3011 ausgezeichnet als Babykamera. Das integrierte Mikrofon kann drahtlos alle Geräusche aus dem Kinderzimmer an Ihren Internet Explorer oder an Ihr Tablet / Smartphone übertragen. Auch das Gegensprechen ist möglich. </p>
                    <p class="text-justify">Im Gegensatz zum Vorgänger, der IN-3010, haben Sie bei dieser Kamera die Möglichkeit die Infrarotbeleuchtung manuell zu deaktivieren. Dies erlaubt eine Beobachtung durch Fensterscheiben ohne störenden Reflektionen.</p>
                  </div>

              </div>
              <!-- /row -->

          <div class="clearfix" style="margin-bottom: 30px;"></div>

        </section>
        <!-- /container -->

        <section class="instarvision"><% include ../_partials/content/_instarvision.ejs %></section>
        <!-- /webui -->

        <section class="social"><% include ../_partials/template/_social.ejs %></section>
        <!-- /social -->

        <!-- ############################################# Footer ############################################# -->

        <footer><% include ../_partials/template/_footer.ejs %></footer>

        <% include ../_partials/template/_jsdefaults.ejs %>

        </div>

    </body>

</html>
