<!DOCTYPE html>
<html ⚡ lang="de">

<head>
    <% include ../_partials/amp/_amp-head.ejs %>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
</head>

<body class="home">

  <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
      <% include ../_partials/amp/_ampLandingSidebar.ejs %>
  </amp-sidebar>

  <header class="header fixed">
    <% include ../_partials/amp/_amp-header.ejs %>
  </header>

  <div class="wrap">
      <div class="container main">

        <% include ../_partials/content/_bluenav-usermanual.ejs %>

                <section class="blade wrapper content">

                  <div>
                    <h2>IN-6014 HD <a href="https://www.instar.de/ip-innenkameras/in-6014hd-series.html" target="_blank"><button type="button" name="button" class="btn float-right">Produkt kaufen</button></a></h2>
                    <h3>Inneraumüberwachung in 720p Auflösung</h3>

                    <div class="margin">

                      <table>
                        <tr>
                          <th width="25%">
                              <strong>WLAN Variante</strong>
                          </th>
                          <th width="25%">
                              <strong>PoE Variante</strong>
                          </th>
                          <th width="20%">
                              <strong>Sichtfeld</strong>
                          </th>
                          <th>
                              <strong>Pan &amp; Tilt</strong>
                          </th>
                          <th>
                              <strong>Zoom</strong>
                          </th>
                        </tr>
                        <tr>
                          <td><a href="https://www.instar.de/ip-innenkameras/in-6014hd-series/in-6014hd-white.html" target="_blank">weiss</a> / <a href="https://www.instar.de/ip-innenkameras/in-6014hd-series/in-6014hd-black.html" target="_blank">schwarz</a></td>
                          <td><a href="https://www.instar.de/ip-innenkameras/in-6014hd-series/in-6014hd-poe-white-power-over-ethernet-innenkamera-hd-ip-kamera.html" target="_blank">weiss</a> / <a href="https://www.instar.de/ip-innenkameras/in-6014hd-series/in-6014hd-poe-black-power-over-ethernet-innenkamera-hd-ip-kamera.html" target="_blank">schwarz</a></td>
                          <td>ca. 90°</td>
                          <td>verfügbar</td>
                          <td>digital</td>
                        </tr>
                        </table>

                        <h4>Achtung: Die folgenden Bilder und Beschreibungen beziehen sich auf die WLAN Variante</h4>

                    </div>
                    <!-- /margin -->

                    <div class="card-container margin">
                        <div class="onecard">
                            <div class="title">
                            <h3>Produktübersicht</h3>
                            </div>
                            <div class="image">
                                <amp-img role="button" tabindex="0" src="/images/Usermanuals/IN-6014_Overview_width1650.png" width="1246" height="629" layout="responsive"></amp-img>
                            </div>
                            <div class="action">
                                <p class="justify"><strong>1.)</strong> Photodiode für Dämmerungsschaltung, <strong>2.)</strong> Infrarot LED´s für Nachtsicht, <strong>3.)</strong>  Standard 4.3mm F/1.2 Infrarot Linse, <strong>4.)</strong> Ferngesteuerter Kamerakopf, <strong>5.)</strong> PIR Wärmemelder für erweiterte Bewegungserkennung, <strong>6.)</strong> Audio Ausgang (3.5mm Headphone Jack), <strong>7.)</strong> RJ45 Ethernet Anschluss, <strong>8.)</strong> Wifi Antennenanschluss, <strong>9.)</strong> SD Karte, <strong>10.)</strong> Kamera Reset, <strong>11.)</strong> Status LED, <strong>12.)</strong> Gleichstrom Netzteil</p>
                            </div>
                        </div>
                        <!-- /onecard -->
                    </div>
                    <!-- /card-container -->
                  </div>
                  <!-- /margin -->

                  <div class="margin">
                      <p class="justify">Die IN-6014HD ist eine Allround Lösung für die Innenüberwachung. Der Kamerakopf kann ferngesteuert werden und ist mit Infrarot Dioden für die Nachtsicht in dunklen Umgebungen ausgestattet. Der integrierte IR Cut Filter auf der anderen Seite erlaubt die Aufnahme von natürlichen Bildern, die durch das menschliche Auge wahrgenommen werden können. Durch die Nutzung des effektiven h.264 komprimierten Codecs ist es möglich aufgenommene Videodateien auf eine SD Karte mit vergleichbar kleinen Größen aber bester Bildqualität zu speichern. Jedes Gerät (d.h. Smartphones) kann Sich auf die Weboberfläche der Kamera verbinden und die Schwenk- und Neidfunktion zu nutzen. Mit 350 Grad horizontalem und 100 Grad vertikalem Bewegungsbereich. Dank der kompakten Größe und dem modernen Design können Sie die Kamera nicht nur als Überwachungslösung verwenden, sondern auch für Ihre persönlichen Projekt nutzen. Die FTP Unterstützung erlaubt es Ihnen die IN-6012 HD als eine multifunktionale Webcam zur Integration in Ihre Webseite zu nutzen.</p>
                  </div>
                  <!-- /margin -->

                  <div class="desktop-up margin">
                    <div class="six columns margin">
                      <h4>Nachtsicht (Minimum / Maximum) [m]</h4>
                      <amp-iframe width=920 height=700
                          sandbox="allow-scripts allow-same-origin"
                          layout="responsive"
                          resizable
                          frameborder="0"
                          src="https://wiki.instar.com/Indoor_Cameras/IN-6014_HD/Nightvision_Graph/">
                          <div overflow tabindex=0 role=button aria-label="Read more"></div>
                          <amp-img layout="fill" src="/images/Usermanuals/placeholder_4-2mm_Lense_Graph.jpg" placeholder></amp-img>
                      </amp-iframe>
                    </div>
                    <!-- /six columns -->
                    <div class="six columns margin">
                      <h4>Blickwinkel (Dia., Hor., Vert.) [°]</h3>
                      <amp-iframe width=920 height=700
                          sandbox="allow-scripts allow-same-origin"
                          layout="responsive"
                          resizable
                          frameborder="0"
                          src="https://wiki.instar.com/Indoor_Cameras/IN-6014_HD/Angle_Graph/">
                          <div overflow tabindex=0 role=button aria-label="Read more"></div>
                          <amp-img layout="fill" src="/images/Usermanuals/placeholder_Image_Width_Graph.jpg" placeholder></amp-img>
                      </amp-iframe>
                    </div>
                    <!-- /six columns -->
                  </div>

                  <div class="margin">
                    <h3>Hardware</h3>

                    <ul>
                      <li>Integrierter <strong>PIR</strong> Wärmemelder für die erweitere Bewegungserkennung</li>
                      <li>Ferngesteuertes Schwenken&amp;Neigen - 288° schwenkbar und 120° neigbar</li>
                      <li>2-Wege Audio über ein integriertes Mikrofon und Lautsprecher</li>
                      <li>Weite dynamische Reichweite (WDR) HD 720p Farb CMOS Sensor</li>
                    </ul>

                    <h3>Netzwerk</h3>

                    <ul>
                      <li>RJ-45 Ethernet Steckplatz für eine einfache Integration in Ihr 100Mbit Heimnetzwerk</li>
                      <li>Kompatibel mit <a href="/Quick_Installation/Set_Up_A_Wireless_Connection">Wifi</a> IEEE 802.11 b/g bis zu 54Mbit Netzwerken mit WEP, WPA und WPA2 Sicherheit</li>
                      <li>DHCP und UPnP Unterstützung für eine automatische Netzwerkintegration</li>
                      <li>Integrieren der individuellen <a href="/Internet_Access/The_DDNS_Service">DDNS ("Internet") Adresse</a> um Ihre Kamera über das Internet zu erreichen.</li>
                    </ul>

                    <h3>Software</h3>

                    <ul>
                      <li>Free <a href="/Software/Android">Android</a>, <a href="/Software/iOS">iPhone</a> and <a href="/Software/Windows">Windows Phone 8</a> App</li>
                      <li>Die Weboberfläche erlaubt eine einfache Konfiguration und Kamerasteuerung über Ihren Webbrowser (Chrome, Safari, Firefox, Internet Explorer)</li>
                      <li>Multi user management and simultaneous login for 3 users</li>
                      <li>Softwarebasierte Bewegungs- und Audioerkennung und Email Benachrichtigung mit angehängten Snapshots</li>
                      <li>Nehmen Sie Videos direkt von Ihrem PC auf (nur ActiveX)</li>
                    </ul>
                  </div>
                  <!-- /margin -->

                  <div class="margin">
                      <p class="justify">Die IN-6014 HD ist die erste INSTAR HD 720p Schwenk &amp; Drehkamera mit intergrierter Infrarot Bewegunserkennung. Die Kamera kann einfach über Ihr Smartphone innerhalb Ihres Netzwerks bedient werden. Auch eine Bedienung über das Internet ist möglich. Die Kamera kann einfach in Ihr Netzwerk angebunden werden, indem Sie entweder das 108MBit (802.11b/g/n) Wi-Fi Modul (WPA/WPA2) oder die 100MBit Netzwerkschnittstelle für einen flüssigen Videostream verwenden. Die Kamera kann auch dank Ihrer 8 Infrarot LEDs, die auf einer Wellenlänge von 850nm arbeiten, während der Nacht arbeiten. Die max. Innenreichweite für die Nachtsicht der Kameras beträgt rund 10-15 Meter. Die Kamera bringt Ihnen alle Funktionen die Sie in der VGA Serie nutzen können, kombiniert mit einer Auflösung von 1280x720 Pixel und der Möglichkeit Videos auf eine integrierte SD Karte aufzunehmen. Die IN-6014 HD ist die Kamera die die softwarebasierte Bewegungserkennung mit dem Hardware Wärmesensor (PIR) kombiniert. Beide Methoden können genutzt oder zusammen genutzt werden, um die Effektivität zu erhöhen und die Fehlalarme zu minimieren.</p>
                  </div>
                  <!-- /margin -->

                  <div class="desktop-up margin">
                    <div class="six columns margin">
                      <h3>IN-6014 HD vs. IN-8015 HD</h3>
                      <amp-iframe width=920 height=700
                          sandbox="allow-scripts allow-same-origin"
                          layout="responsive"
                          resizable
                          frameborder="0"
                          src="https://wiki.instar.com/Indoor_Cameras/IN-6014_HD/6014v8015/">
                          <div overflow tabindex=0 role=button aria-label="Read more"></div>
                          <amp-img layout="fill" src="/images/Usermanuals/placeholder_4-2mm_Lense_Graph.jpg" placeholder></amp-img>
                      </amp-iframe>
                    </div>
                    <!-- /six columns -->
                    <div class="six columns margin">
                      <h3>IN-6014 HD vs. IN-3011</h3>
                      <amp-iframe width=920 height=700
                          sandbox="allow-scripts allow-same-origin"
                          layout="responsive"
                          resizable
                          frameborder="0"
                          src="https://wiki.instar.com/Indoor_Cameras/IN-6014_HD/6014v3011/">
                          <div overflow tabindex=0 role=button aria-label="Read more"></div>
                          <amp-img layout="fill" src="/images/Usermanuals/placeholder_Image_Width_Graph.jpg" placeholder></amp-img>
                      </amp-iframe>
                    </div>
                    <!-- /six columns -->
                  </div>

                  <div class="margin">
                      <p class="justify">Der OmniVision® WDR Sensor stellt mit seinem Ein-Chip-System CMOS Sensor eine Revolution in der Überwachungstechnik dar. Er kombiniert eine 720p High-Definition Videoauflösung mit einem WDR Erfassungsbereich bei einem 1/3 Zoll Format.</p>
                      <p class="justify">Der Sensor baut auf 4.3 µm OmniPixel 3 -HS™ Pixel auf, welche eine 720p HD Auflösung mit bislang unerreichter Lichtempfindlichkeit und einem dynamischen Bereich von 115dB erreichen (VGA IP Kamera erreichen ca. 60 dB) . Dies erlaubt die Aufnahme detailreicher Farbvideos auch unter Lichtbedingungen mit extremen Kontrastwerten.</p>
                  </div>
                  <!-- /margin -->

                </section>
                <!-- /blade -->

        </div>
        <!-- /container main -->
    </div>
    <!-- /wrap-->

    <% include ../_partials/content/_bluenav-usermanual-mobile.ejs %>

    <footer>
        <% include ../_partials/amp/_amp-footer.ejs %>
    </footer>

</body>

</html>
