<!DOCTYPE html>
<html ⚡ lang="de">

<head>
    <% include ../_partials/amp/_amp-head.ejs %>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
</head>

<body class="home">

  <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
      <% include ../_partials/amp/_ampLandingSidebar.ejs %>
  </amp-sidebar>

  <header class="header fixed">
    <% include ../_partials/amp/_amp-header.ejs %>
  </header>

  <div class="wrap">
      <div class="container main">

        <% include ../_partials/content/_bluenav-usermanual.ejs %>

                <section itemscope itemtype="http://schema.org/Article" class="blade wrapper content">
                  <% include ../_partials/amp/_schemaArticle.ejs %>

                    <div class="container">

                        <h1 itemprop="name" class="post-title">IN-6001 HD Produkt Features</h1>

                            <div class="card-container">
                                <div class="onecard">
                                    <div class="image">
                                      <div class="action">
                                        <h3>Kamera Überblick</h3>
                                      </div>
                                      <a href="/Indoor_Cameras/IN-6001_HD/Technical_Specifications">
                                        <amp-img itemprop="image" role="button" tabindex="0" src="/images/Usermanuals/IN-6001HD_Product-Overview.png" width="1000" height="334" layout="responsive" alt="INSTAR IN-6001 HD"></amp-img>
                                      </a>
                                      <div class="action">

                                          <p class="justify">Die IN-6001 HD ist die kleinste INSTAR HD 720p Kamera für die Innenüberwachung innerhalb Ihres Büros oder Haus. Die Kamera kann einfach über Ihr Smartphone innerhalb Ihres Netzwerks bedient werden. Auch eine Bedienung über das Internet ist möglich. Die Kamera kann einfach in Ihr Netzwerk angebunden werden, indem Sie entweder das 108MBit (802.11b/g/n) Wi-Fi Modul (WPA/WPA2) oder die 100MBit Netzwerkschnittstelle für einen flüssigen Videostream verwenden. Die Kamera kann auch dank Ihrer 8 Infrarot LEDs, die auf einer Wellenlänge von 850nm arbeiten, während der Nacht arbeiten. Die max. Innenreichweite für die Nachtsicht der Kameras beträgt rund 5-10 Meter. Der gedankliche Nachfolger der IN-3001 bringt Ihnen alle Funktionen die Sie in der VGA Serie nutzen können, kombiniert mit einer Auflösung von 1280x720 Pixel und der Möglichkeit Videos auf eine integrierte SD Karte aufzunehmen. Wenn ein Alarm ausgelöst wird, kann eine E-Mail als Benachrichtigung an Sie gesendet werden. Jede E-Mail hat auch 4 angehängte Bilder. Auf diesem Weg können Sie schnell erkennen, was die Bewegung ausgelöst hat und sicherstellen das alles in Ordnung ist.</p>

                                          <table class="table margin">
                                            <tr>
                                              <th>#</th>
                                              <th>Komponente</th>
                                              <th>Funktion</th>
                                            </tr>

                                            <tr>
                                              <th scope="row">1</th>
                                              <td>Mikrofon</td>
                                              <td>Für Sprechfunktion in der Weboberfläche, Smartphone Apps, u.s.w.</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">4</th>
                                              <td>Fotosensor</td>
                                              <td>Photodiode für den Dämmerungsschalter</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">3</th>
                                              <td>Objektiv</td>
                                              <td>Standard-Objektiv 4.2mm / Blickwinkel: ca. 75.3º )</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">4</th>
                                              <td>Infrarot LEDs</td>
                                              <td>8 IR LEDs 5-10m nightvision @850nm</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">5</th>
                                              <td>Lautsprecher</td>
                                              <td>Für Sprechfunktion in der Weboberfläche, Smartphone Apps, u.s.w.</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">6</th>
                                              <td>Wandhalterung</td>
                                              <td>Plastik Wandhalterung</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">7</th>
                                              <td>Netzwerkanschluss</td>
                                              <td>RJ45 Netzwerkanschluss für CAT5e Ethernet Kabel</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">8</th>
                                              <td>Power Connector</td>
                                              <td>5V / 1.5 A dc - Plug Ø 1.35mm (in) / 3.5mm (out)</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">9</th>
                                              <td>MicroSD Kartenslot</td>
                                              <td>Der Kartenslot befindet sich hinter der Rückseiten-Abdeckung<br>(8GB vorinstalliert)</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">8</th>
                                              <td>Reset Button</td>
                                              <td>Setzen Sie Ihre Kamera auf die Werkseinstellungen zurück</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">11</th>
                                              <td>Status LEDs</td>
                                              <td>oben: WiFi Status LED blinkt schnell wenn verbunden<br>mittel: LAN Status LED leuchtet auf wenn verbunden<br>unten: Power Status LED leuchtet auf wenn angeschlossen</td>
                                            </tr>
                                          </table>
                                      </div>
                                    </div>
                                </div>
                                <!-- /onecard -->
                            </div>
                            <!-- /card-container -->

                    </div>
                    <!-- /container -->
                </section>
                <!-- /blade -->
            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../_partials/content/_bluenav-usermanual-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>

    </body>

</html>
