<!DOCTYPE html>
<html ⚡ lang="de">

<head>
    <% include ../_partials/amp/_amp-head.ejs %>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
</head>

<body class="home">

  <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
      <% include ../_partials/amp/_ampLandingSidebar.ejs %>
  </amp-sidebar>

  <header class="header fixed">
    <% include ../_partials/amp/_amp-header.ejs %>
  </header>

  <div class="wrap">
      <div class="container main">

        <% include ../_partials/content/_bluenav-usermanual.ejs %>

                <section itemscope itemtype="http://schema.org/Article" class="blade wrapper content">

                    <div class="container">

                        <h1 itemprop="name" class="post-title desktop-up">Manuelle Anpassung des Fokus Ihrer IN-6014 HD</h1>

                            <div class="card-container">
                                <div class="onecard">
                                    <div class="image">
                                      <div class="action">
                                        <h3>Manuelle Anpassung des Fokus Ihrer IN-6014 HD<br><br></h3>
                                        <p class="justify">Die Optik der IN-6014 HD hat einen beschränkten Schärfentiefebereich der von Werk aus auf einen Bereich zwischen ca. 1m und 10m scharfgestellt wird. Sollten Sie einen anderen Bereich beobachten ist ein Justage des Objektives notwendig.</p>
                                      </div>
                                        <amp-img role="button" tabindex="0" src="/images/Usermanuals/IN-6014_Lense-Adjustments.png" width="899" height="504" layout="responsive"></amp-img>
                                      <div class="action">
                                          <p class="justify mt">Fig. 1/2 Öffnen Sie die Kamera in Ihrem Webbrowser. Während Sie das Bild auf dem PC sehen, drehen Sie solange am Justagering des Objektives bis das Bild die gewünschte Schärfe erreicht.</p>
                                      </div>
                                    </div>
                                </div>
                                <!-- /onecard -->
                            </div>
                            <!-- /card-container -->

                    </div>
                    <!-- /container -->
                </section>
                <!-- /blade -->
            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../_partials/content/_bluenav-usermanual-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>

    </body>

</html>
