<!DOCTYPE html>
<html ⚡>

<head>
    <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Indoor_Cameras/IN-6001_HD/Product_Features">
</head>

<body class="home">

  <header class="fixed">
      <% include ../_partials/amp/_amp-header.ejs %>s
  </header>

    <body>

        <div class="wrap">
            <div class="container main">
                <% include ../_partials/content/_bluenav-6001.ejs %>

                <section class="blade get-started">
                    <div class="container">

                        <h1 class="post-title">IN-6001 HD Produkt Features</h1>

                            <div class="card-container">
                                <div class="onecard">
                                    <div class="image">
                                      <div class="action">
                                        <h3>Kamera Überblick</h3>
                                      </div>
                                      <a href="/Indoor_Cameras/IN-6001_HD/Technical_Specifications">
                                        <amp-img role="button" tabindex="0" src="/images/IN-6001HD_Product-Overview.png" width="1000" height="334" layout="responsive"></amp-img>
                                      </a>
                                      <div class="action">

                                          <p class="justify">The IN-6001 HD is the smallest INSTAR HD 720p camera for indoor surveillance inside your office or house. The camera can easily be controlled through your smartphone from inside your network and also over the internet. The camera can easily be connected to your network by using its 108MBit (802.11b/g/n) Wi-Fi module (WPA/WPA2) or through the 100MBit network interface to ensure a fluid video stream. The camera can also see during the night thanks to 8 Infrared LEDs operating at a wavelength of 850nm. The max. indoor range for the cameras night vision is around 5-10 meters. The spiritual successor of the IN-3001 will bring you all the features that you are used to from our VGA series, combined with a superior resolution of 1280x720 Pixel and the possibility to record videos on an integrated SD card. If an alarm is triggered the camera can send an email to notify you. Each email also has 4 pictures attached. This way it will be very easy to check quickly what caused the motion to make sure your home is safe.</p>

                                          <table class="table margin">
                                            <tr>
                                              <th>#</th>
                                              <th>Komponente</th>
                                              <th>Funktion</th>
                                            </tr>

                                            <tr>
                                              <th scope="row">1</th>
                                              <td>Mikrofon</td>
                                              <td>Für Sprechfunktion in der Weboberfläche, Smartphone Apps, u.s.w.</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">4</th>
                                              <td>Fotosensor</td>
                                              <td>Photodiode für den Dämmerungsschalter</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">3</th>
                                              <td>Objektiv</td>
                                              <td>Standard-Objektiv 4.2mm / Blickwinkel: ca. 75.3º )</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">4</th>
                                              <td>Infrarot LEDs</td>
                                              <td>8 IR LEDs 5-10m nightvision @850nm</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">5</th>
                                              <td>Lautsprecher</td>
                                              <td>Für Sprechfunktion in der Weboberfläche, Smartphone Apps, u.s.w.</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">6</th>
                                              <td>Wandhalterung</td>
                                              <td>Plastik Wandhalterung</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">7</th>
                                              <td>Netzwerkanschluss</td>
                                              <td>RJ45 Netzwerkanschluss für CAT5e Ethernet Kabel</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">8</th>
                                              <td>Power Connector</td>
                                              <td>5V / 1.5 A dc - Plug Ø 1.35mm (in) / 3.5mm (out)</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">9</th>
                                              <td>MicroSD Kartenslot</td>
                                              <td>Der Kartenslot befindet sich hinter der Rückseiten-Abdeckung<br>(4GB vorinstalliert)</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">8</th>
                                              <td>Reset Button</td>
                                              <td>Setzen Sie Ihre Kamera auf die Werkseinstellungen zurück</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">11</th>
                                              <td>Status LEDs</td>
                                              <td>oben: WiFi Status LED blinkt schnell wenn verbunden<br>mittel: LAN Status LED leuchtet auf wenn verbunden<br>unten: Power Status LED leuchtet auf wenn angeschlossen</td>
                                            </tr>
                                          </table>
                                      </div>
                                    </div>
                                </div>
                                <!-- /onecard -->
                            </div>
                            <!-- /card-container -->

                    </div>
                    <!-- /container -->
                </section>
                <!-- /blade -->
            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <section class="blade blog mobile-down">

            <div class="container wider">
                <div class="row">
                    <div class="twelve columns">
                        <h1>Verwandte Themen</h1>
                    </div>
                </div>

                <div class="tab-container">

                    <a class="tab" href="/Indoor_Cameras/IN-6001_HD/Safety_Warnings">
                        <h3>Sicherheitswarnungen</h3>
                        <div class="subtitle">Mittel</div>
                    </a>

                    <a class="tab" href="/Indoor_Cameras/IN-6001_HD/Product_Features">
                        <h3>Produkt Features</h3>
                        <div class="subtitle">Einfach</div>
                    </a>

                    <a class="tab" href="/Indoor_Cameras/IN-6001_HD/Quick_Installation">
                        <h3>Schnellinstallation</h3>
                        <div class="subtitle">Erweitert</div>
                    </a>

                    <a class="tab" href="/Indoor_Cameras/IN-6001_HD/Point2Point">
                        <h3>P2P &amp; WPS</h3>
                        <div class="subtitle">Mittel</div>
                    </a>

                    <a class="tab" href="/Web_User_Interface/720p_Series">
                        <h3>Weboberfläche</h3>
                        <div class="subtitle">Einfach</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/WebUI_And_Firmware_Upgrade">
                        <h3>Software Update</h3>
                        <div class="subtitle">Einfach</div>
                    </a>

                    <a class="tab" href="/Indoor_Cameras/IN-6001_HD/Video_Streaming">
                        <h3>Video Streaming</h3>
                        <div class="subtitle">Einfach</div>
                    </a>

                    <a class="tab" href="/Indoor_Cameras/IN-6001_HD/Camera_Reset">
                        <h3>Kamera Reset</h3>
                        <div class="subtitle">Einfach</div>
                    </a>

                    <a class="tab" href="/Indoor_Cameras/IN-6001_HD/Lense_Adjustment">
                        <h3>Linse einstellen</h3>
                        <div class="subtitle">Einfach</div>
                    </a>

                    <a class="tab" href="/Indoor_Cameras/IN-6001_HD/Technical_Specifications">
                        <h3>Technische Spezifikationen</h3>
                        <div class="subtitle">Einfach</div>
                    </a>

                    <a class="tab" href="/Indoor_Cameras/IN-6001_HD/Warranty">
                        <h3>Garantie &amp; Rückgabe</h3>
                        <div class="subtitle">Einfach</div>
                    </a>
                </div>

                <a href="/Products/Usermanuals" target="_blank">MEHR ANSEHEN</a>

            </div>
        </section>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>

    </body>

</html>
