<% include ../_partials/template/_head_chart.ejs %>

    <body>
      <% include ../_partials/template/_outdated.ejs %>

      <div id="wrapper">

        <header><% include ../_partials/template/_header.ejs %></header>
        <!-- Navbar-->

        <div class="clearfix"></div>

    <!-- #############################################  Body ############################################# -->

        <section class="container mb">
            <div class="row mt">

                <div class="col-xs-12 mb">
                    <h1>IN-6001 HD</h1>
                    <h3 class="text-muted">Product Overview</h3>
                </div>

                <div class="col-xs-12">
                  <img src="/images/IN-6001_Overview_width1650.png" alt="IN-6001 HD Overview" class="img-fluid img-rounded shadow" />
                </div>

                <div class="caption col-xs-12 mb">
                  <p class="text-justify"><strong>1.)</strong> Integriertes Mikrofon, <strong>2.)</strong> Photodiode für Dämmerungswechsel, <strong>3.)</strong>  4.3mm Weitwinkel F/2 Infrarot Linse, <strong>4.)</strong> Infrarot LED´s für Nachtsicht, <strong>5.)</strong> Lautsprecher, <strong>6.)</strong> Wandhalterung, <strong>7.)</strong> RJ45 Ethernet Anschluss, <strong>8.)</strong> Gleichstrom Netzteil, <strong>9.)</strong> MicroSD Kartenslot, <strong>10.)</strong> Reset Button, <strong>11.)</strong> Status LEDs</p>
                </div>

                <div class="clearfix"></div>

                <div class="col-12 mb centered hidden-md-down">
                  <div class="btn-group" role="group">
                    <a class="btn btn-lg btn-outline-primary" href="/Indoor_Cameras/IN-6001_HD/Technical_Specifications/" role="button">Technische Spezifikationen</a>
                    <a class="btn btn-lg btn-outline-primary" href="/Indoor_Cameras/IN-6001_HD/Usermanual/" role="button">Handbuch</a>
                    <a class="btn btn-lg btn-outline-primary" href="/Indoor_Cameras/IN-6001_HD/Quick_Installation/" role="button">Schnell Installation</a>
                    <a class="btn btn-lg btn-outline-primary" href="/Web_User_Interface/1080p_Series/" role="button">Web Oberfläche</a>
                  </div>
                </div>

                <div class="col-12 mb hidden-lg-up">
                  <a class="btn btn-block btn-outline-primary" href="/Indoor_Cameras/IN-6001_HD/Technical_Specifications/" role="button">Technische Spezifikationen</a>
                  <a class="btn btn-block btn-outline-primary" href="/Indoor_Cameras/IN-6001_HD/Usermanual/" role="button">Handbuch</a>
                  <a class="btn btn-block btn-outline-primary" href="/Indoor_Cameras/IN-6001_HD/Quick_Installation/" role="button">Schnell Installation</a>
                  <a class="btn btn-block btn-outline-primary" href="/Web_User_Interface/1080p_Series/" role="button">Web Oberfläche</a>
                </div>

            <!-- #############################################  Chart JS ############################################# -->

                <div class="col-lg-6 mb">
                  <div class="card shadow">
                    <div class="card-header">
                      <h5>Nachtsicht (Minimum / Maximum) [m]</h5>
                    </div>
                    <div class="card-block">
                      <canvas id="nightvision6001" width="600" height="400"></canvas>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb">
                  <div class="card shadow">
                    <div class="card-header">
                      <h5>Blickwinkel (Diagonal, Horizontal, Vertikal) [°]</h5>
                    </div>
                    <div class="card-block">
                      <canvas id="angleofview6001" width="600" height="400"></canvas>
                    </div>
                  </div>
                </div>

                <script src="/javascripts/chartjs/overview6001_angleofview.js"></script>
                <script src="/javascripts/chartjs/overview6001_nightvision.js"></script>

            <!-- #############################################  Chart JS ############################################# -->

            <div class="clearfix"></div>

                <div class="col-xs-12">
                  <p class="text-justify">Die IN-6001 HD ist die kleinste INSTAR HD 720p Kamera für die Innenüberwachung innerhalb Ihres Büros oder Haus. Die Kamera kann einfach über Ihr Smartphone innerhalb Ihres Netzwerks bedient werden. Auch eine Bedienung über das Internet ist möglich. Die Kamera kann einfach in Ihr Netzwerk angebunden werden, indem Sie entweder das 108MBit (802.11b/g/n) Wi-Fi Modul (WPA/WPA2) oder die 100MBit Netzwerkschnittstelle für einen flüssigen Videostream verwenden. Die Kamera kann auch dank Ihrer 8 Infrarot LEDs, die auf einer Wellenlänge von 850nm arbeiten, während der Nacht arbeiten. Die max. Innenreichweite für die Nachtsicht der Kameras beträgt rund 5-10 Meter. Der gedankliche Nachfolger der IN-3001 bringt Ihnen alle Funktionen die Sie in der VGA Serie nutzen können, kombiniert mit einer Auflösung von 1280x720 Pixel und der Möglichkeit Videos auf eine integrierte SD Karte aufzunehmen. Wenn ein Alarm ausgelöst wird, kann eine E-Mail als Benachrichtigung an Sie gesendet werden. Jede E-Mail hat auch 4 angehängte Bilder. Auf diesem Weg können Sie schnell erkennen, was die Bewegung ausgelöst hat und sicherstellen das alles in Ordnung ist.</p>
                </div>

            </div>
            <!-- /row -->

            <div class="row mt">

    <!-- #############################################  Card ############################################# -->

          <div class="col-xs-12 col-sm-12 col-md-4" style="margin: 0 0 30px 0;">
            <div class="card shadow centered">
                <div class="card-block centered">
                  <h4 class="card-title">INSTAR IN-6001 HD</h4>
                  <h6 class="card-subtitle text-muted">Indoor IP Camera</h6>
                </div>
                <div class="center-block">
                  <img src="/images/INSTAR_IN-6001_Infobox.png" alt="IN-6001 HD" class="img-fluid">
                </div>
                <div class="card-block centered mt">
                  <a href="/Indoor_Cameras/IN-6001_HD/Technical_Specifications" class="btn btn-outline-primary btn-block"><i class="fa fa-cogs"></i>  Spezifikationen</a>
                    <a href="/Indoor_Cameras/IN-6001_HD/Downloads" class="btn btn-outline-primary btn-block"><i class="fa fa-download"></i>  Downloads</a>
                  <a href="http://www.instar.de/indoor-table" class="btn btn-outline-primary btn-block"><i class="fa fa-balance-scale"></i>  Vergleichen</a>
                  <a href="http://www.instar.de/ip-innenkameras/in-6001hd-series.html" class="btn btn-outline-primary btn-block"><i class="fa fa-shopping-cart"></i>  Zum Shop</a>
                </div>
            </div>
          </div>

    <!-- #############################################  LIST ############################################# -->

            <div class="col-xs-12 col-sm-12 col-md-7 col-md-offset-1">
              <h3>Hardware</h3>

              <ul>
                <li>Weite dynamische Reichweite (WDR) HD 720p Farb CMOS Sensor</li>
                <li>Automatischer IRcut Filter für natürliche Farben</li>
                <li>8 Infrarot LEDs (850nm) für Nachtsicht</li>
                <li>2-Wege Audio über ein integriertes Mikrofon und Lautsprecher</li>
              </ul>

              <h3>Network</h3>

              <ul>
                <li>RJ-45 Ethernet Steckplatz für eine einfache Integration in Ihr 100Mbit Heimnetzwerk</li>
                <li>Kompatibel mit <a href="/Quick_Installation/Set_Up_A_Wireless_Connection">Wifi</a> IEEE 802.11 b/g bis zu 54Mbit Netzwerken mit WEP, WPA und WPA2 Sicherheit</li>
                <li>DHCP und UPnP Unterstützung für eine automatische Netzwerkintegration</li>
                <li>Integrieren der individuellen <a href="/Internet_Access/The_DDNS_Service">DDNS ("Internet") Adresse</a> um Ihre Kamera über das Internet zu erreichen.</li>
              </ul>

              <h3>Software</h3>

              <ul>
                <li>Free <a href="/Software/Android">Android</a>, <a href="/Software/iOS">iPhone</a> and <a href="/Software/Windows">Windows Phone 8</a> App</li>
                <li>Die Weboberfläche erlaubt eine einfache Konfiguration und Kamerasteuerung über Ihren Webbrowser (Chrome, Safari, Firefox, Internet Explorer)</li>
                <li>Multi user management and simultaneous login for 3 users</li>
                <li>Softwarebasierte Bewegungs- und Audioerkennung und Email Benachrichtigung mit angehängten Snapshots</li>
                <li>Nehmen Sie Videos direkt von Ihrem PC auf (nur ActiveX)</li>
              </ul>
            </div>

        <div class="clearfix"></div>

        <!-- #############################################  Chart JS ############################################# -->

            <div class="col-lg-6 mb mt">
              <div class="card shadow">
                <div class="card-header">
                  <h5>IN-6001 HD vs. IN-8015 HD</h5>
                </div>
                <div class="card-block">
                  <canvas id="radar6001_8015" width="600" height="400"></canvas>
                </div>
              </div>
            </div>
            <div class="col-lg-6 mb mt">
              <div class="card shadow">
                <div class="card-header">
                  <h5>IN-6001 HD vs. IN-3011</h5>
                </div>
                <div class="card-block">
                  <canvas id="radar6001_3011" width="600" height="400"></canvas>
                </div>
              </div>
            </div>


            <script src="/javascripts/chartjs/overview6001_radar8015.js"></script>
            <script src="/javascripts/chartjs/overview6001_radar3011.js"></script>

        <!-- #############################################  Chart JS ############################################# -->

        <div class="clearfix"></div>

          </div>
          <!-- /row -->

          <div class="clearfix" style="margin-bottom: 30px;"></div>

        </section>
        <!-- /container -->

        <section class="instarvision"><% include ../_partials/content/_instarvision.ejs %></section>
        <!-- /webui -->

        <section class="social"><% include ../_partials/template/_social.ejs %></section>
        <!-- /social -->

        <!-- ############################################# Footer ############################################# -->

        <footer><% include ../_partials/template/_footer.ejs %></footer>

        <% include ../_partials/template/_jsdefaults.ejs %>

        </div>

    </body>

</html>
