<% include ../_partials/template/_head_chart.ejs %>

    <body>
      <% include ../_partials/template/_outdated.ejs %>

      <div id="wrapper">

        <header><% include ../_partials/template/_header.ejs %></header>
        <!-- Navbar-->

        <div class="clearfix"></div>

        <!-- #############################################  Body ############################################# -->

            <section class="container mb">
                <div class="row mt">

                <div class="col-12 mb">
                    <h1>IN-8015 HD</h1>
                    <h3 class="text-muted">Produktüberblick</h3>
                </div>

                <div class="col-12">
                  <img src="/images/IN-8015_Overview_width1650.png" alt="IN-8015 HD Overview" class="img-fluid img-rounded shadow" />
                </div>
                <div class="caption col-12 mb">
                   <p class="text-justify"><strong>1.)</strong> Fotodiode für Nachtsichtwechsel, <strong>2.)</strong> Infrarot LED´s für Nachtsicht, <strong>3.)</strong>  Standard 4.2mm F/2.1 Infrarot Objektiv, <strong>4.)</strong> Fernsteuerbarer Kamerakopf, <strong>5.)</strong> PIR Wärmesensor für erweiterte Bewegungserkennung, <strong>6.)</strong> SD Karte, <strong>7.)</strong> Audio Out (3.5mm Kopfhörer Anschluss), <strong>8.)</strong> RJ45 Ethernet Anschluss, <strong>9.)</strong> Wifi Antennenanschluss, <strong>10.)</strong> Status LED, <strong>11.)</strong> Alarm I/O, <strong>12.)</strong> Reset / WPS Knopf, <strong>13.)</strong> Gleichstrom Netzteil Anschluss</p>
                </div>

                <div class="clearfix"></div>

                <div class="col-12 mb centered hidden-md-down">
                  <div class="btn-group" role="group">
                    <a class="btn btn-lg btn-outline-primary" href="/Indoor_Cameras/IN-8015_HD/Technical_Specifications/" role="button">Technische Spezifikationen</a>
                    <a class="btn btn-lg btn-outline-primary" href="/Indoor_Cameras/IN-8015_HD/Usermanual/" role="button">Handbuch</a>
                    <a class="btn btn-lg btn-outline-primary" href="/Indoor_Cameras/IN-8015_HD/Quick_Installation/" role="button">Schnell Installation</a>
                    <a class="btn btn-lg btn-outline-primary" href="/Web_User_Interface/1080p_Series/" role="button">Web Oberfläche</a>
                  </div>
                </div>

                <div class="col-12 mb hidden-lg-up">
                  <a class="btn btn-block btn-outline-primary" href="/Indoor_Cameras/IN-8015_HD/Technical_Specifications/" role="button">Technische Spezifikationen</a>
                  <a class="btn btn-block btn-outline-primary" href="/Indoor_Cameras/IN-8015_HD/Usermanual/" role="button">Handbuch</a>
                  <a class="btn btn-block btn-outline-primary" href="/Indoor_Cameras/IN-8015_HD/Quick_Installation/" role="button">Schnell Installation</a>
                  <a class="btn btn-block btn-outline-primary" href="/Web_User_Interface/1080p_Series/" role="button">Web Oberfläche</a>
                </div>

            <!-- ####################################  Chart JS #################################### -->

                <div class="col-lg-6 mb">
                  <div class="card shadow">
                    <div class="card-header">
                      <h5>Nachtsicht (Minimum / Maximum) [m]</h5>
                    </div>
                    <div class="card-block">
                      <canvas id="nightvision8015" width="600" height="400"></canvas>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb">
                  <div class="card shadow">
                    <div class="card-header">
                      <h5>Blickwinkel (Dia., Hor., Vert.) [°]</h5>
                    </div>
                    <div class="card-block">
                      <canvas id="angleofview8015" width="600" height="400"></canvas>
                    </div>
                  </div>
                </div>

                <script src="/javascripts/chartjs/overview8015_angleofview.js"></script>
                <script src="/javascripts/chartjs/overview8015_nightvision.js"></script>

            <!-- ######################################  Chart JS ###################################### -->

                <div class="clearfix"></div>

                <div class="col-12 mb">
                    <p class="text-justify">
                      Die IN-8015HD ist eine Allround-Lösung für 1080p Überwachung im Innenbereich.  Der Kamera-Kopf ist fernsteuerbar und mit Infrarotdioden zur Nachtsichterkennung ausgestattet. Der integrierte IR Cut Filter hingegen erlaubt die Aufnahme von Bildern mit natürlichen, durch das menschliche Auge wahrnehmbaren, Farben.  Durch die Verwendung des effizienten h.264 Codecs ist es möglich Videodateien auf die SD-Karte zu speichern, die trotz Ihrer guten Bildqualität eine kleine Dateigröße besitzen. Jedes Gerät (zum Beispiel Smartphones) kann sich mit der Kamera verbinden und die Schwenk- und Neigfunktion nutzen. Mit 350 Grad horizontal und 100 Grad vertikal deckt die Schwenk- und Neigfunktion quasi den gesamten Bereich vor der Kamera ab. Dank Ihrer kompakten Größe und Ihrem modernen Design sind Sie nicht darauf beschränkt, die Kamera als reine Überwachungslösung zu nutzen, sondern auch für Ihre privaten Projekte. Die FTP Unterstützung erlaubt es die IN-8015 HD als eine multifunktionale Webcam in Ihre Webseite zu integrieren.
                    </p>
                </div>

                <div class="clearfix"></div>

                <!-- ######################################  Card ###################################### -->

                  <div class="col-12 col-sm-12 col-md-4 mb">
                    <div class="card shadow centered">
                        <div class="card-block centered">
                          <h4 class="card-title">INSTAR IN-8015 HD</h4>
                          <h6 class="card-subtitle text-muted">1080p IP Innenkamera</h6>
                        </div>
                        <div class="centered">
                          <img src="/images/INSTAR_IN-8015_Infobox.png" alt="IN-8015 HD" class="img-fluid">
                        </div>
                        <div class="card-block centered mt">
                          <a href="/Indoor_Cameras/IN-8015_HD/Technical_Specifications" class="btn btn-outline-primary btn-block"><i class="fa fa-cogs"></i>  Spezifikationen</a>
                            <a href="/Indoor_Cameras/IN-8015_HD/Downloads" class="btn btn-outline-primary btn-block"><i class="fa fa-download"></i>  Downloads</a>
                          <a href="http://www.instar.de/indoor-table" class="btn btn-outline-primary btn-block"><i class="fa fa-balance-scale"></i>  Vergleichen</a>
                          <a href="http://www.instar.de/ip-innenkameras/in-8015hd-series.html" class="btn btn-outline-primary btn-block"><i class="fa fa-shopping-cart"></i>  zum Shop</a>
                        </div>
                    </div>
                  </div>

                <!-- ##################################  LIST ################################## -->

                    <div class="col-12 col-sm-12 col-md-7 col-md-offset-1 mb">
                      <h3>Hardware</h3>

                      <ul>
                        <li>Integrierte <strong>PIR</strong> Wärmeerkennung für erweiterte Bewegungserkennung</li>
                        <li>Fernsteuerbares Schwenken&amp;Neigen - 350° Schwenken und 100° Neigen</li>
                        <li>2-Wege Audio über integriertes <a href="/Web_User_Interface/1080p_Series/Multimedia/Audio/">Mikrofon und Lautsprecher</a></li>
                        <li>Wide Dynamic Range (WDR) 1080p <a href="/Indoor_Cameras/IN-8015_HD/Technical_Specifications" target="_blank"><strong>Panasonic</strong> CMOS Sensor</a></li>
                      </ul>

                      <h3>Netzwerk</h3>

                      <ul>
                        <li>RJ-45 Ethernet Anschluss für eine einfache Integration in Ihr 100Mbit Heimnetzwerk</li>
                        <li>Kompatibel mit <a href="/Quick_Installation/Set_Up_A_Wireless_Connection/">2.4GHz Wifi</a> IEEE 802.11 b/g/n bis zu 54Mbit Netzwerken mit WEP, WPA und WPA2 Sicherheit</li>
                        <li><a href="/Web_User_Interface/1080p_Series/Network/IP_Configuration/">DHCP</a> und <a href="/Web_User_Interface/1080p_Series/Network/UPnP/">UPnP</a> Unterstützung für eine automatische Netzwerkintegration</li>
                        <li>Integrierte kostenlose <a href="/Internet_Access/The_DDNS_Service/">DDNS ("Internet") Adresse</a> und <a href="/Web_User_Interface/1080p_Series/Network/Remote_Access/">P2P User ID</a> um Ihre Kamera über das Internet zu erreichen</li>
                      </ul>

                      <h3>Software</h3>

                      <ul>
                        <li>Free <a href="/Software/Android/InstarVision">Android</a>, <a href="/Software/iOS/InstarVision">iPhone &amp; iPad</a>, <a href="/Software/Windows/InstarVision/Metro">Windows (Metro)</a> und <a href="/Software/Windows/InstarVision/Windows_Phone">Windows Phone</a> App</li>
                        <li><a href="/Web_User_Interface/1080p_Series/">Weboberfläche</a> erlaubt eine einfache Konfiguration und Kamerakontrolle durch Ihrem Webbrowser (Chrome, Safari, Firefox, Internet Explorer)</li>
                        <li><a href="/Web_User_Interface/1080p_Series/System/User/">Mehr-Benutzer Verwaltung</a> und gleichzeitiger Login für 3 Benutzer</li>
                        <li><a href="/Web_User_Interface/1080p_Series/Alarm/Areas/">Software-basierte Bewegungserkennung</a>, <a href="/Web_User_Interface/1080p_Series/Alarm/Actions/">Audio</a> Erkennung und <a href="/Motion_Detection/Alarm_Notification">E-Mail Benachrichtigung</a> mit angehängten Snapshots</li>
                        <li>Speichern Sie Videos direkt auf Ihrem PC (nur ActiveX)</li>
                      </ul>
                    </div>

                    <div class="col-12 mb">
                        <p class="text-justify">
                          Der 1/3 Zoll WDR Sensor baut auf einem <strong>Panasonic</strong> 1080p HD Chipsatz mit überlegender Nachtsichtempfindlichkeit auf. <strong>Panasonic</strong> bietet eine große Variation an Bildsensoren (<a href="http://www.semicon.panasonic.co.jp/en/products/imagesensors/surveillance/?utm_medium=flyer&utm_source=flyer&utm_campaign=20140218&utm_content=MN3422x" target="_blank">νMaicovicon®</a>) für Sicherheits- und Netzwerkkameras, welche auf dem industriell höchsten Standard basieren und können in Sicherheitskameras mit hoher Bildqualität und hoher Sensitivität ohne Rauschen verwendet werden. Der CMOS Bildsensor, νMaicovicon®, bietet hohe Bildqualität vergleich mit High-Speed CCD Technologien, hohe S/N Verhältnis, wenig Rauschen, und High Dynamic Range. Selbst in einer dunklen Umgebung können Sie Snapshots mit exzellenter Zeichenerkennung, Farbreproduzierung und Objekterkennung erhalten. Selbst in Sequenzen mit sich schnell bewegenden Objekten, liefert der Bildsensor klare Bilder ohne Bewegungsunschärfe. Der WDR garantiert High-Dynamic Range - Sie können gleichzeitig dunkle und helle Bereiche in Ihrem Videobild auflösen.
                        </p><br>
                        <!-- Button trigger modal -->
                        <button class="btn btn btn-primary" data-toggle="modal" data-target="#Sensor">
                          Beispielbilder
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="Sensor" tabindex="-1" role="dialog" aria-labelledby="Sensor" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="Sensor">Panasonic MN34229</h4>
                              </div>
                              <div class="modal-body">
                                  <img src="/images/Panasonic_MN34229_Backlight.png" class="img-fluid"></img><br/>
                                  <p class="text-muted">Kompensierung Hintergrundbeleuchtung</p>
                                  <img src="/images/Panasonic_MN34229_Motion-Blur.png" class="img-fluid"></img><br/>
                                  <p class="text-muted">Bewegungsunschärfe</p>
                                  <img src="/images/Panasonic_MN34229_WDR.png" class="img-fluid"></img><br/>
                                  <p class="text-muted">Wide Dynamic Range</p>
                                  <img src="/images/Panasonic_MN34229_ColourNoiseI.png" class="img-fluid"></img><br/>
                                  <p class="text-muted">Zeichenerkennung</p>
                                  <img src="/images/Panasonic_MN34229_ColourNoiseII.png" class="img-fluid"></img><br/>
                                  <p class="text-muted">Schwachlicht Farbrauschen</p>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Schließen</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- /modal -->
                    </div>

                    <div class="col-12">
                        <p class="text-justify">
                          Die IN-8015 HD die erste INSTAR HD 1080p Pan &amp; Tilt Innenkamera mit integrierten PIR Bewegungsmelder. Die Kamera wird komfortable mit Ihrem Smartphone gesteuert - egal ob Sie sich in Ihrem lokalen Netzwerk befinden, oder unterwegs sind. Die Anbindung an Ihr Netzwerk erfolgt über 2.4GHz (802.11b/g/n) Wi-Fi Modul (WPA/WPA2/CCMP) oder durch die 100MBit LAN Schnittstelle, um eine flüssige Wiedergabe des Videostreams zu ermöglichen. Die Kamera verfügt über 10 Infrarot LEDs @850nm und ermöglicht damit eine Nachtsicht von 5-10m. Unsere FHD (1080p) Kameraserie bringt Ihnen alle der gewohnten Vorzüge der 720p Serie, kombiniert mit der gestochen scharfen Auflösung von 1920x1080 Pixel.
                        </p>
                    </div>

          <div class="clearfix"></div>

        </div>
        <!-- /row -->
        </section>
        <!-- /container -->

        <section class="container mb">
          <div class="row mt">

          <div class="clearfix"></div>

          <!-- #########################################  Chart JS ######################################### -->

          <div class="col-lg-6 mb">
            <div class="card shadow">
              <div class="card-header">
                <h5>IN-8015 HD vs. IN-6012 HD</h5>
              </div>
              <div class="card-block">
                <canvas id="radar8015_6012" width="600" height="400"></canvas>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mb">
            <div class="card shadow">
              <div class="card-header">
                <h5>IN-8015 HD vs. IN-3011</h5>
              </div>
              <div class="card-block">
                <canvas id="radar8015_3011" width="600" height="400"></canvas>
              </div>
            </div>
          </div>


          <script src="/javascripts/chartjs/overview8015_radar6012.js"></script>
          <script src="/javascripts/chartjs/overview8015_radar3011.js"></script>

          <!-- ###########################################  Chart JS ########################################### -->

            </div>
            <!-- /row -->
          </section>
          <!-- /Container -->

        <section class="instarvision"><% include ../_partials/content/_instarvision.ejs %></section>
        <!-- /webui -->

        <section class="social"><% include ../_partials/template/_social.ejs %></section>
        <!-- /social -->

        <!-- ############################################# Footer ############################################# -->

        <footer><% include ../_partials/template/_footer.ejs %></footer>

        <% include ../_partials/template/_jsdefaults.ejs %>

        <!-- ########################################### Chart JS ########################################### -->



        </div>

    </body>

</html>
