<!DOCTYPE html>
<html ⚡>

<head>
    <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Indoor_Cameras/IN-8015_HD/Point2Point">
</head>

<body class="home">

  <% include ../_partials/amp/_amp-header.ejs %>

  <div class="wrap">
      <div class="container main">

        <% include ../_partials/content/_bluenav-8015.ejs %>

            <article class="content">

                        <h1 class="post-title">IN-8015 HD</h1>
                        <h2>Point2Point Einrichtung</h2>
                        <br><br>

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading width=600 height=450 layout=responsive src="/images/IN-8015HD_Quick-Installation_P2P-WPS_01.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">Stecken Sie die WiFi Antenne in den dafür vorgesehenen Anschluss der Kamera wie hier gezeigt(<a href="/Indoor_Cameras/IN-8015_HD/Product_Features">#9</a>). (nur für die NICHT-PoE Version!)<br><br></p>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading width=600 height=450 layout=responsive src="/images/IN-8015HD_Quick-Installation_P2P-WPS_02.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify"> Falls Sie das PoE-Modell installieren, stecken Sie das LAN-Kabel ein (<a href="/Indoor_Cameras/IN-8015_HD/Product_Features">#8</a>), verbinden Sie es mit Ihrem Router und überspringen Sie den WiFi Abschnitt unten.</p>
                                </div>
                            </div>
                        </div>
                        <!-- /card-container -->

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading width=600 height=450 layout=responsive src="/images/IN-8015HD_Quick-Installation_P2P-WPS_03.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">Warten Sie bis die Kamera ihre Kalibrierungsfahrt beendet hat und aktivieren Sie danach den WPS Modus in Ihrem Router. In den meisten Fällen gibt es dafür einen Knopf am Gehäuse des Routers (s.o.)</p>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading width=600 height=450 layout=responsive src="/images/IN-8015HD_Quick-Installation_P2P-WPS_04.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">Nachdem der Router im WPS Modus ist, drücken Sie bitte den Reset / WPS Button <a href="/Indoor_Cameras/IN-8015_HD/Product_Features/">#12</a> und halten ihn für 3 Sekunden gedrückt - 10 Sekunden würde zu einem Werksreset führen!<br><br></p>
                                </div>
                            </div>
                        </div>
                        <!-- /card-container -->

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading width=600 height=450 layout=responsive src="/images/IN-8015HD_Quick-Installation_P2P-WPS_05.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">Um die Kamera über den P2P Dienst in unserer Smartphone App hinzuzufügen scannen Sie bitte den <a href="/Web_User_Interface/1080p_Series/Network/Remote_Access/">QR Code</a> auf der Kamera oder in der Weboberfläche der Kamera ab.</p>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading width=600 height=450 layout=responsive src="/images/IN-8015HD_Quick-Installation_P2P-WPS_06.png"></amp-img>
                                </div>
                                <div class="action">
                                  <p class="justify">Starten Sie dafür unsere kostenlose Android, iOS oder Windows Phone App <strong>InstarVision</strong>. Wählen Sie das Hinzufügen einer neuen P2P Kamera und starten Sie den QR Code Scanner.</p>
                                </div>
                            </div>
                        </div>
                        <!-- /card-container -->

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading width=600 height=450 layout=responsive src="/images/IN-8015HD_Quick-Installation_P2P-WPS_07.png"></amp-img>
                                </div>
                                <div class="action">
                                  <p class="justify">Der <a href="/Web_User_Interface/1080p_Series/Network/Remote_Access/">QR Code</a> beinhaltet alle Informationen zum Einbinden der Kamera. Das Standard Kennwort kann nur über die Weboberfläche der Kamera geändert werden.<br><br></p>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading width=600 height=450 layout=responsive src="/images/IN-8015HD_Quick-Installation_P2P-WPS_08.png"></amp-img>
                                </div>
                                <div class="action">
                                  <p class="justify">Die App wird jetzt den Live Stream der Kamera abgreifen können und Ihnen die Möglichkeit geben die Kamera zu schwenken, den Audiostream zu aktivieren und einen Schnappschuss zu speichern.</p>
                                </div>
                            </div>
                        </div>
                        <!-- /card-container -->

                  </article>

            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <section class="blade blog mobile-down">

            <div class="container wider">
                <div class="row">
                    <div class="twelve columns">
                        <h1>Verwandte Themen</h1>
                    </div>
                </div>

                <div class="tab-container">

                    <a class="tab" href="/Indoor_Cameras/IN-8015_HD/Safety_Warnings">
                        <h3>Sicherheitswarnungen</h3>
                    </a>

                    <a class="tab" href="/Indoor_Cameras/IN-8015_HD/Product_Features">
                        <h3>Produkt Features</h3>
                    </a>

                    <a class="tab" href="/Indoor_Cameras/IN-8015_HD/Quick_Installation">
                        <h3>Schnellinstallation</h3>
                    </a>

                    <a class="tab" href="/Web_User_Interface/1080p_Series">
                        <h3>Weboberfläche</h3>
                    </a>

                    <a class="tab" href="/Quick_Installation/WebUI_And_Firmware_Upgrade">
                        <h3>Software Update</h3>
                    </a>

                    <a class="tab" href="/Indoor_Cameras/IN-8015_HD/Video_Streaming">
                        <h3>Video Streaming</h3>
                    </a>

                    <a class="tab" href="/Indoor_Cameras/IN-8015_HD/Camera_Reset">
                        <h3>Kamera Reset</h3>
                    </a>

                    <a class="tab" href="/Indoor_Cameras/IN-8015_HD/Lense_Adjustment">
                        <h3>Objektivjustage</h3>
                    </a>

                    <a class="tab" href="/Indoor_Cameras/IN-8015_HD/Technical_Specifications">
                        <h3>Technische Spezifikationen</h3>
                    </a>

                    <a class="tab" href="/Indoor_Cameras/IN-8015_HD/Warranty">
                        <h3>Garantie &amp; Gewährleistung</h3>
                    </a>
                </div>

                <a href="/Products/Usermanuals" target="_blank">MEHR ANSEHEN</a>

            </div>
        </section>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>

    </body>

</html>
