<!DOCTYPE html>
<html ⚡ lang="de">

<head>
    <% include ../_partials/amp/_amp-head.ejs %>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
</head>

<body class="home">

  <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
      <% include ../_partials/amp/_ampLandingSidebar.ejs %>
  </amp-sidebar>

  <header class="header fixed">
    <% include ../_partials/amp/_amp-header.ejs %>
  </header>

  <div class="wrap">
      <div class="container main">

        <% include ../_partials/content/_bluenav-usermanual.ejs %>

                <section itemscope itemtype="http://schema.org/Article" class="blade wrapper content">

                    <div class="container">

                      <div itemprop="name">
                        <h1 class="post-title">IN-8015 Full HD</h1>
                        <h3>Manuelle Objektivjustage</h3>
                      </div>

                      <div class="card-container">
                        <div class="onecard">
                            <div class="image">
                              <amp-youtube data-videoid="Nad_WSK2PCE" layout="responsive" width="480" height="270" class="shadow"></amp-youtube>
                            </div>
                          </div>
                          <!-- /onecard -->
                        </div>
                        <!-- /card-container -->

                        <div class="card-container">
                            <div class="onecard">
                                <div class="action">
                                  <h3>Stellen Sie den Fokus Ihrer IN-8015 HD ein<br><br></h3>
                                  <p class="justify">Das IN-8015 HD Objektiv bietet eine beschränkte Tiefenschärfe die auf einen Bereich von 1m - 8m eingestellt ist. Falls Ihr Objekt, dass Sie anzeigen möchten, außerhalb dieses Bereichs liegt, müssen Sie das Objektiv manuell einstellen.</p>
                                </div>
                                <div class="image">
                                  <amp-img role="button" tabindex="0" src="/images/Usermanuals/IN-8015_LenseAdjust.png" width="826" height="380" layout="responsive"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify mt">Verbinden Sie das Netzteil und das Netzwerkkabel der Kamera. Öffnen Sie die Weboberfläche und verwenden Sie das mitgelieferte Tool um das Objektiv zu drehen, bis Sie ein klares und scharfes Bild erhalten.</p>
                                </div>
                            </div>
                            <!-- /onecard -->
                        </div>
                        <!-- /card-container -->

                    </div>
                    <!-- /container -->
                </section>
                <!-- /blade -->
            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../_partials/content/_bluenav-usermanual-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>

    </body>

</html>
