<!DOCTYPE html>
<html ⚡>

<head>
    <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Indoor_Cameras/IN-8015_HD/Product_Features">
</head>

<body class="home">

  <% include ../_partials/amp/_amp-header.ejs %>

  <div class="wrap">
      <div class="container main">

        <% include ../_partials/content/_bluenav-8015.ejs %>

                <section class="blade get-started">
                    <div class="container">

                        <h1 class="post-title">IN-8015 HD</h1>
                        <h2>Produkt Features</h2>

                            <div class="card-container margin">
                                <div class="onecard">
                                    <div class="image">
                                      <div class="action">
                                        <h3>IN-8015 HD - Kameraüberblick</h3>
                                      </div>
                                      <a href="/Indoor_Cameras/IN-8015_HD/Technical_Specifications">
                                        <amp-img role="button" tabindex="0" src="/images/IN-8015HD_Product-Overview.png" width="1000" height="334" layout="responsive"></amp-img>
                                      </a>
                                      <div class="action">

                                          <table class="table margin">
                                            <tr>
                                              <th>#</th>
                                              <th>Komponente</th>
                                              <th>Funktion</th>
                                            </tr>

                                            <tr>
                                              <th scope="row">1</th>
                                              <td>Fotosensor</td>
                                              <td>Nachtsichterkennung für IR LEDs</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">2</th>
                                              <td>Objektiv</td>
                                              <td>Weitwinkel-Objektiv (Brennweite: 4.2mm / Blickwinkel: 72.3.º hor.)</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">3</th>
                                              <td>Infrarot-LEDs</td>
                                              <td>10 IR LEDs (Nachtsicht @ 850nm)</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">4</th>
                                              <td>Kamerakopf</td>
                                              <td>Steuerbar über die Weboberfläche und über die Smartphone App</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">5</th>
                                              <td>PIR Detector</td>
                                              <td>Integrierte passive Infrarot Bewegungserkennung</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">6</th>
                                              <td>MicroSD Kartenslot</td>
                                              <td>Slot für SD/SDHC Karten (bis zu 128 GB - 16 GB integriert)</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">7</th>
                                              <td>Audio Out</td>
                                              <td>3.5mm Kopfhörer / aktiver Lautsprecheranschluss</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">8</th>
                                              <td>Netzwerk Anschluss</td>
                                              <td>RJ45 LAN-Anschluss für das mitgelieferte CAT5e LAN Kabel (Für das Netzteil nach IEEE802.3af nur im Fall der IN-8015 HD PoE!)</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">9</th>
                                              <td>Antennenanschluss</td>
                                              <td>SMA WiFi Antennanschluss (Beim IN-8015 HD PoE Modell nicht verfügbar!)</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">10</th>
                                              <td>LED Indikator</td>
                                              <td>Rot: <a href="/Web_User_Interface/1080p_Series/Features/Status_LED/">schaltbare</a> Status-LED für Netzwerk-Traffic</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">11</th>
                                              <td>Alarm I/O</td>
                                              <td>Alarm Ausgang (1&amp;2) / Eingang (3&amp;4)</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">12</th>
                                              <td>Reset/WPS Knopf</td>
                                              <td>
                                                <p><strong>3s</strong> aktiviert WPS (<a href="/Indoor_Cameras/IN-8015_HD/Point2Point/">Wireless Protected Setup</a>)</p>
                                                <p><strong>10s</strong> setzt Kamera auf Werkseinstellungen zurücksetzen</p>
                                              </td>
                                            </tr>
                                            <tr>
                                              <th scope="row">13</th>
                                              <td>Netzteil Anschluss</td>
                                              <td>5V / 1.5 A DC - Stecker Ø : 1.35mm (in) / 3.5mm (aus)</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">14</th>
                                              <td>Kamera ID</td>
                                              <td>MAC-Adresse LAN und QR für die P2P Verbinung</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">15</th>
                                              <td>Standhalterung</td>
                                              <td>Standardgewinde zur Standhalterung</td>
                                            </tr>
                                          </table>

                                      </div>
                                    </div>
                                </div>
                                <!-- /onecard -->
                            </div>
                            <!-- /card-container -->

                    </div>
                    <!-- /container -->
                </section>
                <!-- /blade -->
            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <section class="blade blog mobile-down">

            <div class="container wider">
                <div class="row">
                    <div class="twelve columns">
                        <h1>Verwandte Themen</h1>
                    </div>
                </div>

                <div class="tab-container">

                    <a class="tab" href="/Indoor_Cameras/IN-8015_HD/Safety_Warnings">
                        <h3>Sicherheitswarnungen</h3>
                    </a>

                    <a class="tab" href="/Indoor_Cameras/IN-8015_HD/Product_Features">
                        <h3>Produkt Features</h3>
                    </a>

                    <a class="tab" href="/Indoor_Cameras/IN-8015_HD/Quick_Installation">
                        <h3>Schnellinstallation</h3>
                    </a>

                    <a class="tab" href="/Web_User_Interface/1080p_Series">
                        <h3>Weboberfläche</h3>
                    </a>

                    <a class="tab" href="/Quick_Installation/WebUI_And_Firmware_Upgrade">
                        <h3>Software Update</h3>
                    </a>

                    <a class="tab" href="/Indoor_Cameras/IN-8015_HD/Video_Streaming">
                        <h3>Video Streaming</h3>
                    </a>

                    <a class="tab" href="/Indoor_Cameras/IN-8015_HD/Camera_Reset">
                        <h3>Kamera Reset</h3>
                    </a>

                    <a class="tab" href="/Indoor_Cameras/IN-8015_HD/Lense_Adjustment">
                        <h3>Objektivjustage</h3>
                    </a>

                    <a class="tab" href="/Indoor_Cameras/IN-8015_HD/Technical_Specifications">
                        <h3>Technische Spezifikationen</h3>
                    </a>

                    <a class="tab" href="/Indoor_Cameras/IN-8015_HD/Warranty">
                        <h3>Garantie &amp; Gewährleistung</h3>
                    </a>
                </div>

                <a href="/Products/Usermanuals" target="_blank">MEHR ANSEHEN</a>

            </div>
        </section>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>

    </body>

</html>
