<!DOCTYPE html>
<html ⚡ lang="de">

<head>
    <% include ../_partials/amp/_amp-head.ejs %>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
</head>

<body class="home">

  <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
      <% include ../_partials/amp/_ampLandingSidebar.ejs %>
  </amp-sidebar>

  <header class="header fixed">
    <% include ../_partials/amp/_amp-header.ejs %>
  </header>

  <div class="wrap">
      <div class="container main">

        <% include ../_partials/content/_bluenav-usermanual.ejs %>

                <section itemscope itemtype="http://schema.org/Article" class="blade wrapper content">
                  <% include ../_partials/amp/_schemaArticle.ejs %>

                    <div class="container">

                      <div>
                        <table class="no-highlight">
                          <tr>
                            <td>
                              <h1 itemprop="name" class="inlineHeader">IN-8015 Full HD Schnellinstallation&nbsp;&nbsp;&nbsp;</h1>
                            </td>
                            <td>
                              <a href="/Indoor_Cameras/IN-8015_HD/Point2Point/" target="_blank"><button class="navGo navGoRed">Abkürzung</button></a>
                            </td>
                          </tr>
                        </table>
                      </div>
                      <!-- /margin -->

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Usermanuals/IN-8015HD_Quick-Installation_01.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="text-justify">Stecken Sie die WiFi Antenne in den dafür vorgesehenen Anschluss an der Kamera wie hier gezeigt (<a href="/Indoor_Cameras/IN-8015_HD/Product_Features">#9</a>). (nur für nicht-PoE Version!)</p>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Usermanuals/IN-8015HD_Quick-Installation_02.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="text-justify">Stecken Sie das Netzteil ein (<a href="/Indoor_Cameras/IN-8015_HD/Product_Features">#13</a>), um die Kamera zu starten.<br><br><br></p>
                                </div>
                            </div>
                        </div>
                        <!-- /card-container -->

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Usermanuals/IN-8015HD_Quick-Installation_03.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="text-justify">Verbinden Sie das Netzwerkkabel auf der Rückseite der Kamera (s. <a href="/Indoor_Cameras/IN-8015_HD/Product_Features">#8</a>), um eine LAN Verbindung herzustellen.</p>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Usermanuals/Quickinstallation_Tile_8015_Step_04.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="text-justify">Verbinden Sie das Netzwerkkabel an einen freien LAN-Port an Ihrem Internet Router.</p>
                                </div>
                            </div>
                        </div>
                        <!-- /card-container -->

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Usermanuals/Quickinstallation_Tile_8015_Step_05.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="text-justify">Starten Sie das <a href="http://install.instar.de/de/optional_tool_de.html" target="_blank">IP Kamera Tool</a> von und Doppeklicken Sie den Namen der Kamera.<br><br><br></p>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Usermanuals/Quickinstallation_Tile_8015_Step_06.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="text-justify">Standardlogin Benutzername / Kennwort: <strong>admin / instar</strong>. Unser <a href="http://install.instar.de">Installations-Wizard</a> wird Sie danach durch den restlichen Installationsprozess führen.</p>                                </div>
                            </div>
                        </div>
                        <!-- /card-container -->

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Usermanuals/Quickinstallation_Tile_8015_Step_07.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="text-justify">Für die Wiedergabe des h.264 Video Streams benötigen Sie das <a href="/Quick_Installation/Live_Video">Adobe Flash Plugin</a>. Für eine Plugin-freie Wiedergabe können Sie den, etwas Bandbreite-fordernden <a href="/Web_User_Interface/1080p_Series/Multimedia/Video/">MJPEG Stream</a> nutzen.</p>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Usermanuals/Quickinstallation_Tile_8015_Step_08.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="text-justify">Für die WLAN Einbindung wird es empfohlen Ihren WiFi Router auf ein freies WiFi Frequenzband (802.11bgn) zu setzen und die <strong>WPA2/AES</strong> (oder <strong>WPA2/CCMP</strong>) Verschlüsselung zu aktivieren.</p>
                                </div>
                            </div>
                        </div>
                        <!-- /card-container -->

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Usermanuals/Quickinstallation_Tile_8015_Step_09.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="text-justify">Greifen Sie auf die <a href="/Web_User_Interface/1080p_Series/Network/WiFi/">WiFi Einstellungen</a> Ihrer Kamera zu und geben Sie die WLAN Informationen ein. Speichern Sie Ihre Eingaben, stecken Sie das LAN-Kabel ab und starten Sie Ihre Kamera neu, um eine Verbindung mit dem WLAN herzustellen.<br><br></p>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Usermanuals/Quickinstallation_Tile_8015_Step_10.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="text-justify">Sie müssen einen <a href="/Internet_Access/Port_Forwarding">Portweiterleitung in Ihrem Router einrichten</a>, wenn Sie Ihre Kamera über die <a href="/Internet_Access/The_DDNS_Service">DDNS Adresse</a> aus dem Internet erreichen möchten. Alternativ können Sie auch die <a href="/Web_User_Interface/1080p_Series/Network/Remote_Access/">P2P User ID</a> nutzen, um die Kamera mit Ihrer SmartPhone App zu verbinden (siehe Schritt 12 unten).</p>
                                </div>
                            </div>
                        </div>
                        <!-- /card-container -->

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Usermanuals/Quickinstallation_Tile_8015_Step_11.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="text-justify">Jetzt können Sie Ihre DDNS Informationen in unsere kostenlosen <a href="/Software/Windows/InstarVision/Windows_Phone/DDNS">Windows Phone</a>, <a href="/Software/Windows/InstarVision/Metro/DDNS">Windows Metro</a>, <a href="/Software/Android/InstarVision/DDNS">Android</a>, <a href="/Software/iOS/InstarVision/iPhone/DDNS">iPhone</a>, <a href="/Software/iOS/InstarVision/iPad/DDNS">iPad</a> oder <a href="/Software/Other_Platforms/InstarVision_Blackberry">Blackberry</a> App eingeben.<br><br><br></p>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Usermanuals/Quickinstallation_Tile_8015_Step_12.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="text-justify">Falls Sie keinen Port für Ihren DDNS-Dienst öffnen können, können Sie immer noch den <a href="/Web_User_Interface/1080p_Series/Network/Remote_Access/">Point-2-Point Service</a> mit unseren kostenlosen <a href="/Software/Windows/InstarVision/Windows_Phone/P2P">Windows Phone</a>, <a href="/Software/Windows/InstarVision/Metro/P2P">Windows Metro</a>, <a href="/Software/Android/InstarVision/P2P">Android</a>, <a href="/Software/iOS/InstarVision/iPhone/P2P">iPhone</a>, <a href="/Software/iOS/InstarVision/iPad/P2P">iPad</a> oder <a href="/Software/Other_Platforms/InstarVision_Blackberry">Blackberry</a> Apps nutzen.</p>
                                </div>
                            </div>
                        </div>
                        <!-- /card-container -->

                    </div>
                    <!-- /container -->
                </section>
                <!-- /blade -->
            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../_partials/content/_bluenav-usermanual-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>

    </body>

</html>
