<!DOCTYPE html>
<html ⚡>

<head>
    <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Indoor_Cameras/IN-6001_HD/Usermanual">
</head>

<body class="home">

  <header class="fixed">
      <% include ../_partials/amp/_amp-header.ejs %>
  </header>

    <body>

        <div class="wrap">
            <div class="container main">
                <% include ../_partials/content/_bluenav-6001.ejs %>

                <section class="blade get-started">
                    <div class="container">

                        <h1 class="post-title">IN-6001 HD Handbuch</h1>

                        <div class="card-container">
                            <div class="onecard">
                                <div class="image">
                                    <p>
                                        <amp-youtube data-videoid="Di5mbjn5rfU" layout="responsive" width="480" height="270"></amp-youtube>
                                    </p>
                                    <div class="action">
                                        <p class="justify">The successor of the IN-3001 and comparable in size with a pack of cigarettes. With the IN-6001HD you will not need much else to realize your surveillance system. This camera is equipped with infrared diodes for utilizing night vision in pitch dark environments. The integrated IR cut filter on the other hand allows for the capturing of native colours, as seen by the human eye. The built-in 90° wide-angle lense offers you as much viewing angle as possible. Through the use of an efficient h.264 compression codec it is able of recording video files on a Micro SD memory card with comparably small size but best picture results.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- /onecard -->
                        </div>
                        <!-- /card-container -->

                        <div class="card-container">
                            <div class="onecard">
                                <div class="image">
                                    <a href="/Indoor_Cameras/IN-6001_HD/Point2Point">
                                      <amp-img role="button" tabindex="0" src="/images/P2P_Box_6001.png" width="900" height="650" layout="responsive"></amp-img>
                                    </a>
                                    <div class="action">
                                        <p>Connect your camera to your local WiFi network by just pressing a button (<strong>WPS</strong>: WiFi Protected Setup) and access your camera over the internet by scanning the P2P QR Code.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- /onecard -->
                        </div>
                        <!-- /card-container -->

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                  <a href="/Indoor_Cameras/IN-6001_HD/Lense_Adjustment">
                                    <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_Lense-Adjust_IN-6001HD_de.png"></amp-img>
                                  </a>
                                </div>
                                <div class="action">
                                  <h4>Stellen Sie den Fokus Ihrer Kamera ein indem Sie einfach an der Linse drehen.</h4>
                                  <p class="justify">Ihre Kamera ist eingestellt um direkt aus dem Karton in allgemeinen Überwachungsszenarien zu funktionieren. Für Innenkameras bedeutet das, dass die Optik auf eine Distanz von bis zu 5m scharfgestellt wurde. Für spezielle Anwendungen drehen Sie einfach an dem Objektiv und halten das Live Video im Auge - die Optik kann im Nahfokus auf wenige Zentimeter und für Teleüberwachungen auf unendlich gestellt werden.</p>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="image">
                                  <a href="/Web_User_Interface/720p_Series/System/User/">
                                    <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_User_IN-6014HD.png"></amp-img>
                                  </a>
                                </div>
                                <div class="action">
                                  <h4>Schützen Sie Ihre Privatsphäre</h4>
                                  <p class="justify">Stellen Sie bitte sicher, dass Sie das Standard-Login Ihrer Kamera vor der Durchleitung Ihrer Kamera zum Internet ändern. Ändern Sie das Kennwort aller 3 Logins - Administrator, User und Visitor - damit sich niemand mit Ihrer Kamera verbinden kann, der nicht Ihre Erlaubnis hat. Sie können immer den Hardware Reset Ihrer Kamera nutzen, sollten Sie Ihr vergessen haben.<br><br></p>
                                </div>
                            </div>
                        </div>
                        <!-- /card-container -->

                            <div class="card-container">
                                <div class="onecard">
                                    <div class="image">
                                      <a href="/Internet_Access/Port_Forwarding">
                                        <amp-img role="button" tabindex="0" src="/images/Portforwarding_Box.png" width="900" height="650" layout="responsive"></amp-img>
                                      </a>
                                      <div class="action">
                                          <p>In general we have to differentiate between two types of connections. One connection is the internal access which with we access the WebUI of the camera. This means that the computer as well as the camera are running in the same network and are most likely connected to the same router. You can then connect to the camera using the private IP address of the camera. The other connection is the external access to open the WebUI of the camera from outside your network. With this connection you can allow the access from anywhere in the world to your camera. No matter if you are sitting in the train using a smartphone or if you are on holidays using a laptop to access.</p>
                                      </div>
                                    </div>
                                </div>
                                <!-- /onecard -->
                            </div>
                            <!-- /card-container -->

                            <div class="card-container">
                              <div class="twocard">
                                  <div class="image">
                                    <a href="/Web_User_Interface/720p_Series/Alarm/Areas/">
                                      <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_MotionDetection_IN-6014HD.png"></amp-img>
                                    </a>
                                  </div>
                                  <div class="action">
                                    <h4>Bewegungserkennung und Videoaufnahme</h4>
                                    <p class="justify">Nutzen Sie die interne Bildanalyse Ihrer Kamera um effektiv Personen, Tiere oder Autos zu erkennen. Stellen Sie Ihre Kamera ein, im Falle eines Alarms, ein Video oder Schnappschuss auf die interne SD Karte aufzunehmen. Oder laden Sie die Datei auf einen externen FTP Server, um Sie vor Zugriffen zu schützen.<br><br></p>
                                  </div>
                              </div>
                              <div class="twocard">
                                  <div class="image">
                                    <a href="/Web_User_Interface/720p_Series/Alarm/Actions/">
                                      <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_Notification_IN-6014HD.png"></amp-img>
                                    </a>
                                  </div>
                                  <div class="action">
                                    <h4>Email und Push Benachrichtigung</h4>
                                    <p class="justify">Aktivieren Sie die Bewegungserkennung um bei ungebetenen Besuch von Ihrer Kamera per Email oder Push-Benachrichtigung auf Ihrem Smartphone zu erhalten. Die Push Benachrichtigung (iOS und Android) wird Sie sofort erreichen. Während die Email meistens etwas dauert, aber den Vorteil von ein paar Schnappschüssen im Anhang bringt. Aktivieren Sie beide Funktionen um immer informiert zu sein, was gerade zuhause passiert.</p>
                                  </div>
                              </div>
                            </div>
                            <!-- /card-container -->

                    </div>
                    <!-- /container -->
                </section>
                <!-- /blade -->
            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <section class="blade blog mobile-down">

            <div class="container wider">
                <div class="row">
                    <div class="twelve columns">
                        <h1>Verwandte Themen</h1>
                    </div>
                </div>

                <div class="tab-container">

                    <a class="tab" href="/Indoor_Cameras/IN-6001_HD/Safety_Warnings">
                        <h3>Sicherheitswarnungen</h3>
                        <div class="subtitle">Mittel</div>
                    </a>

                    <a class="tab" href="/Indoor_Cameras/IN-6001_HD/Product_Features">
                        <h3>Produkt Features</h3>
                        <div class="subtitle">Einfach</div>
                    </a>

                    <a class="tab" href="/Indoor_Cameras/IN-6001_HD/Quick_Installation">
                        <h3>Schnellinstallation</h3>
                        <div class="subtitle">Erweitert</div>
                    </a>

                    <a class="tab" href="/Indoor_Cameras/IN-6001_HD/Point2Point">
                        <h3>P2P &amp; WPS</h3>
                        <div class="subtitle">Mittel</div>
                    </a>

                    <a class="tab" href="/Web_User_Interface/720p_Series">
                        <h3>Weboberfläche</h3>
                        <div class="subtitle">Einfach</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/WebUI_And_Firmware_Upgrade">
                        <h3>Software Update</h3>
                        <div class="subtitle">Einfach</div>
                    </a>

                    <a class="tab" href="/Indoor_Cameras/IN-6001_HD/Video_Streaming">
                        <h3>Video Streaming</h3>
                        <div class="subtitle">Einfach</div>
                    </a>

                    <a class="tab" href="/Indoor_Cameras/IN-6001_HD/Camera_Reset">
                        <h3>Kamera Reset</h3>
                        <div class="subtitle">Einfach</div>
                    </a>

                    <a class="tab" href="/Indoor_Cameras/IN-6001_HD/Lense_Adjustment">
                        <h3>Linse einstellen</h3>
                        <div class="subtitle">Einfach</div>
                    </a>

                    <a class="tab" href="/Indoor_Cameras/IN-6001_HD/Technical_Specifications">
                        <h3>Technische Spezifikationen</h3>
                        <div class="subtitle">Einfach</div>
                    </a>

                    <a class="tab" href="/Indoor_Cameras/IN-6001_HD/Warranty">
                        <h3>Garantie &amp; Rückgabe</h3>
                        <div class="subtitle">Einfach</div>
                    </a>
                </div>

                <a href="/Products/Usermanuals" target="_blank">VIEW MORE</a>

            </div>
        </section>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>

    </body>

</html>
