<!DOCTYPE html>
<html ⚡>

<head>
    <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Indoor_Cameras/IN-6014_HD/Point2Point">
</head>

<body class="home">

  <header class="fixed">
      <% include ../_partials/amp/_amp-header.ejs %>
  </header>

    <body>

        <div class="wrap">
            <div class="container main">
                <% include ../_partials/content/_bluenav-6014.ejs %>

                <section class="blade get-started">
                    <div class="container">

                      <h1 class="post-title">IN-6012 HD Point2Point Setup</h1>

                      <div class="card-container">
                          <div class="twocard">
                              <div class="image">
                                  <amp-img noloading height=500 width=500 layout=responsive src="/images/WPS-P2P_01.png"></amp-img>
                              </div>
                              <div class="action">
                                  <p class="justify">Verbinden Sie die Antenne mit der SMA Buchse.</p>
                              </div>
                          </div>
                          <div class="twocard">
                              <div class="image">
                                  <amp-img noloading height=500 width=500 layout=responsive src="/images/WPS-P2P_02.png"></amp-img>
                              </div>
                              <div class="action">
                                  <p class="justify">Verbinden Sie das LAN Kabel mit dem Anschluß in der Kamera und verbinden Sie das andere Ende mit Ihrem Router.<br></p>
                              </div>
                          </div>
                      </div>
                      <!-- /card-container -->

                      <div class="card-container">
                          <div class="twocard">
                              <div class="image">
                                  <amp-img noloading height=500 width=500 layout=responsive src="/images/WPS-P2P_03.png"></amp-img>
                              </div>
                              <div class="action">
                                  <p class="justify">Verbinden Sie das Netzteil mit der DC Buchse der Kamera um diese zu starten.<br><br><br><br><br></p>
                              </div>
                          </div>
                          <div class="twocard">
                              <div class="image">
                                  <amp-img noloading height=500 width=500 layout=responsive src="/images/WPS-P2P_04.png"></amp-img>
                              </div>
                              <div class="action">
                                  <p class="justify">Wenn Sie keine LAN Verbindung herstellen wollen und Ihr Router eine WPS (Wireless Protected Setup) Funktion hat, können Sie auch die WPS Taste am Router drücken (siehe Beispiel oben)</p>
                              </div>
                          </div>
                      </div>
                      <!-- /card-container -->

                      <div class="card-container">
                          <div class="twocard">
                              <div class="image">
                                  <amp-img noloading height=500 width=500 layout=responsive src="/images/WPS-P2P_05.png"></amp-img>
                              </div>
                              <div class="action">
                                  <p class="justify">Drücken Sie danach den Reset Button der Kamera für 3 Sekunden um den WPS Dienst der Kamera zu aktivieren. Warten Sie danach für max. 5min darauf, dass sich die Kamera mit Ihrem WLAN Router verbindet. Beachten Sie bitte: Wenn Sie den Reset Button für mehr als 10s halten, versetzten Sie die Kamera wieder in die Werkseinstellungen.</p>
                              </div>
                          </div>
                          <div class="twocard">
                              <div class="image">
                                  <amp-img noloading height=500 width=500 layout=responsive src="/images/WPS-P2P_06.png"></amp-img>
                              </div>
                              <div class="action">
                                  <p class="justify">Starten Sie unsere kostenlose Android oder iOS App Instar Vision. Wählen Sie das Hinzufügen einer neuen p2p Kamera und starten Sie den QR Code Scanner. Lokalisieren Sie den QR Code auf dem Kameragehäuse (s. Bild o.).<br><br></p>
                              </div>
                          </div>
                      </div>
                      <!-- /card-container -->

                      <div class="card-container">
                          <div class="twocard">
                              <div class="image">
                                  <amp-img noloading height=500 width=500 layout=responsive src="/images/WPS-P2P_07.png"></amp-img>
                              </div>
                              <div class="action">
                                  <p class="justify">Der QR Code beinhaltet alle Informationen zum Einbinden der Kamera. Bitte beachten Sie, dass hierbei die Standard Login Daten verwendet werden. Das Standard Kennwort kann nur über die Weboberfläche der Kamera geändert werden (s. 9).</p>
                              </div>
                          </div>
                          <div class="twocard">
                              <div class="image">
                                  <amp-img noloading height=500 width=500 layout=responsive src="/images/WPS-P2P_08.png"></amp-img>
                              </div>
                              <div class="action">
                                  <p class="justify">Die App wird jetzt den Live Stream der Kamera abgreifen können und Ihnen die Möglichkeit geben die Kamera zu schwenken, den Audiostream zu aktivieren und einen Schnappschuss zu speichern.<br><br><br><br></p>
                              </div>
                          </div>
                      </div>
                      <!-- /card-container -->

                      <div class="card-container">
                          <div class="twocard">
                              <div class="image">
                                  <amp-img noloading height=500 width=500 layout=responsive src="/images/WPS-P2P_09.png"></amp-img>
                              </div>
                              <div class="action">
                                  <p class="justify">Die P2P Funktion ist ein einfacher und schneller Weg sich mit der Kamera zu verbinden. Wenn Sie weitere Funktionen der Kamera nutzen möchten, lesen Sie bitte in der Schnellinstallation Anleitung weiter.</p>
                              </div>
                          </div>
                          <div class="twocard invisible">
                          </div>
                      </div>
                      <!-- /card-container -->

                  </div>
                  <!-- /container -->
              </section>
                <!-- /blade -->
            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <section class="blade blog mobile-down">

            <div class="container wider">
                <div class="row">
                    <div class="twelve columns">
                        <h1>Verwandte Themen</h1>
                    </div>
                </div>

                <div class="tab-container">

                    <a class="tab" href="/Indoor_Cameras/IN-6014_HD/Safety_Warnings">
                        <h3>Sicherheitswarnungen</h3>
                        <div class="subtitle">Mittel</div>
                    </a>

                    <a class="tab" href="/Indoor_Cameras/IN-6014_HD/Product_Features">
                        <h3>Produkt Features</h3>
                        <div class="subtitle">Einfach</div>
                    </a>

                    <a class="tab" href="/Indoor_Cameras/IN-6014_HD/Quick_Installation">
                        <h3>Schnellinstallation</h3>
                        <div class="subtitle">Erweitert</div>
                    </a>

                    <a class="tab" href="/Indoor_Cameras/IN-6014_HD/Point2Point">
                        <h3>P2P &amp; WPS</h3>
                        <div class="subtitle">Mittel</div>
                    </a>

                    <a class="tab" href="/Web_User_Interface/720p_Series">
                        <h3>Weboberfläche</h3>
                        <div class="subtitle">Einfach</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/WebUI_And_Firmware_Upgrade">
                        <h3>Software Update</h3>
                        <div class="subtitle">Einfach</div>
                    </a>

                    <a class="tab" href="/Indoor_Cameras/IN-6014_HD/Video_Streaming">
                        <h3>Video Streaming</h3>
                        <div class="subtitle">Einfach</div>
                    </a>

                    <a class="tab" href="/Indoor_Cameras/IN-6014_HD/Camera_Reset">
                        <h3>Kamera Reset</h3>
                        <div class="subtitle">Einfach</div>
                    </a>

                    <a class="tab" href="/Indoor_Cameras/IN-6014_HD/Lense_Adjustment">
                        <h3>Linse einstellen</h3>
                        <div class="subtitle">Einfach</div>
                    </a>

                    <a class="tab" href="/Indoor_Cameras/IN-6014_HD/Technical_Specifications">
                        <h3>Technische Spezifikationen</h3>
                        <div class="subtitle">Einfach</div>
                    </a>

                    <a class="tab" href="/Indoor_Cameras/IN-6014_HD/Warranty">
                        <h3>Garantie &amp; Rückgabe</h3>
                        <div class="subtitle">Einfach</div>
                    </a>
                </div>

                <a href="/Products/Usermanuals" target="_blank">MEHR ANSEHEN</a>

            </div>
        </section>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>

    </body>

</html>
