<!DOCTYPE html>
<html ⚡>

<head>
    <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Indoor_Cameras/IN-6012_HD/Quick_Installation">
</head>

<body class="home">

  <header class="fixed">
      <% include ../_partials/amp/_amp-header.ejs %>
  </header>

    <body>

        <div class="wrap">
            <div class="container main">
                <% include ../_partials/content/_bluenav-6012.ejs %>

                <section class="blade get-started">
                    <div class="container">

                        <h1 class="post-title">IN-6012 HD Schnellinstallation</h1>

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Quickinstallation_01.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">Schrauben Sie die WLAN Antenne auf den Anschluss im hinteren Teil der Kamera um später eine WLAN Verbindung aufzubauen zu können.</p>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Quickinstallation_02.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">Stecken Sie das Kabel des Netzteils in den Anschluß im hinteren Teil der Kamera, um diese mit Strom zu versorgen.<br><br><br></p>
                                </div>
                            </div>
                        </div>
                        <!-- /card-container -->

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Quickinstallation_03.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">In Ihrem WLAN Router sollte ein Kanal im Bereich von 1-6 (802.11bgn) eingestellt sein, sowie die WPA2/AES (CCMP) Verschlüsselung.<br><br><br><br><br><br><br></p>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Quickinstallation_04.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">  A Drücken Sie den WPS Button auf Ihrem Router (s. o.).
                                                         B Drücken Sie den Reset Taster der Kamera für 3s (länger als 10s führt zu einem Werksreset!).
                                                         C Die Kamera wird sich danach automatisch mit Ihrem WLAN verbinden. Springen Sie zu Schritt 7 (PC or Mac) oder Schritt 14 (Smartphone).</p>
                                </div>
                            </div>
                        </div>
                        <!-- /card-container -->

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Quickinstallation_05.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">Stecken Sie das Netzwerkkabel in den Anschluß im hinteren Teil der Kamera um um eine LAN Verbindung aufzubauen (auch für WLAN benötigt wenn kein WPS vorhanden s. #4).</p>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Quickinstallation_06.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">Stecken Sie das andere Ende des Netzwerkkabel in einen freien LAN Port Ihres Internet Routers.<br><br></p>
                                </div>
                            </div>
                        </div>
                        <!-- /card-container -->

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Quickinstallation_07.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">Starten Sie das IP Camera Tool von der Software CD und führen Sie einen Doppelklick auf den Namen der Kamera aus.<br><br></p>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Quickinstallation_08.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">Standard Logins Benutzer/Kennwort: admin / instar für Administratoren, user / instar für normale Nutzer und guest / instar für Gäste.</p>
                                </div>
                            </div>
                        </div>
                        <!-- /card-container -->

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Quickinstallation_09.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">Aktivieren Sie das WLAN der Kamera in der Weboberfläche mittles des WLAN- Scanners. Nach der Eingabe und Speicherung des WLAN Passwortes muss das LAN Kabel gezogen und die Kamera neugestartet werden.</p>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Quickinstallation_10.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">Wenn Sie unter Windows mit dem Quicktime Plugin kein Video im Firefox, Chrome oder Safari unter Windows sehen, gehen Sie bitte in die Einstellungen Ihres Quicktime Players und stellen Sie das Protokoll auf HTTP und den Port auf 80.</p>
                                </div>
                            </div>
                        </div>
                        <!-- /card-container -->

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Quickinstallation_11.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">Unter MacOSX öffnen Sie bitte das Terminal im Ordner Programme/Dienstprogramme. Geben Sie den Befehl qtdefaults write TransportSettings "HTTP" "80" ein um den HTTP Port auf 80 zu setzen.<br><br></p>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Quickinstallation_12.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">Für den Zugriff über das Internet ist eine Portweiterleitung des HTTP Ports (Standard “80”) in Ihrem Router notwendig. Für den Zugriff auf den Flash Videostream (z.B. über das Flash Plugin im Webbrowser) benötigen Sie noch die Weiterleitung des RTMP Ports (Standard “1935”). -> siehe auch 14</p>
                                </div>
                            </div>
                        </div>
                        <!-- /card-container -->

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Quickinstallation_13.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">Um Ihre Kamera über Ihr Android, Windows Phone oder iOS Smartphone zu steuern, laden Sie sich bitte die InstarVision® App aus dem App Store herunter.<br><br><br><br><br></p>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Quickinstallation_14.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">Die P2P Funktion erlaubt den Internetzugriff auf die Kamera ohne Portweiterleitung (s.#12). Fügen Sie sie einfach als neue p2p Kamera in unserer App hinzu, scannen Sie den QR Code in der Weboberfläche unter Network/P2P in der WebUI oder auf dem Sticker auf der Kamera und tragen Sie Ihr Login ein (s.#8).</p>
                                </div>
                            </div>
                        </div>
                        <!-- /card-container -->

                    </div>
                    <!-- /container -->
                </section>
                <!-- /blade -->
            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <section class="blade blog mobile-down">

            <div class="container wider">
                <div class="row">
                    <div class="twelve columns">
                        <h1>Verwandte Themen</h1>
                    </div>
                </div>

                <div class="tab-container">

                    <a class="tab" href="/Indoor_Cameras/IN-6012_HD/Safety_Warnings">
                        <h3>Sicherheitswarnungen</h3>
                        <div class="subtitle">Mittel</div>
                    </a>

                    <a class="tab" href="/Indoor_Cameras/IN-6012_HD/Product_Features">
                        <h3>Produkt Features</h3>
                        <div class="subtitle">Einfach</div>
                    </a>

                    <a class="tab" href="/Indoor_Cameras/IN-6012_HD/Quick_Installation">
                        <h3>Schnellinstallation</h3>
                        <div class="subtitle">Erweitert</div>
                    </a>

                    <a class="tab" href="/Indoor_Cameras/IN-6012_HD/Point2Point">
                        <h3>P2P &amp; WPS</h3>
                        <div class="subtitle">Mittel</div>
                    </a>

                    <a class="tab" href="/Web_User_Interface/720p_Series">
                        <h3>Weboberfläche</h3>
                        <div class="subtitle">Einfach</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/WebUI_And_Firmware_Upgrade">
                        <h3>Software Update</h3>
                        <div class="subtitle">Einfach</div>
                    </a>

                    <a class="tab" href="/Indoor_Cameras/IN-6012_HD/Video_Streaming">
                        <h3>Video Streaming</h3>
                        <div class="subtitle">Einfach</div>
                    </a>

                    <a class="tab" href="/Indoor_Cameras/IN-6012_HD/Camera_Reset">
                        <h3>Kamera Reset</h3>
                        <div class="subtitle">Einfach</div>
                    </a>

                    <a class="tab" href="/Indoor_Cameras/IN-6012_HD/Lense_Adjustment">
                        <h3>Linse einstellen</h3>
                        <div class="subtitle">Einfach</div>
                    </a>

                    <a class="tab" href="/Indoor_Cameras/IN-6012_HD/Technical_Specifications">
                        <h3>Technische Spezifikationen</h3>
                        <div class="subtitle">Einfach</div>
                    </a>

                    <a class="tab" href="/Indoor_Cameras/IN-6012_HD/Warranty">
                        <h3>Garantie &amp; Rückgabe</h3>
                        <div class="subtitle">Einfach</div>
                    </a>
                </div>

                <a href="/Products/Usermanuals" target="_blank">MEHR ANSEHEN</a>

            </div>
        </section>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>

    </body>

</html>
