<!DOCTYPE html>
<html ⚡ lang="en">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-fit-text" src="https://cdn.ampproject.org/v0/amp-fit-text-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap">
          <div class="container main">

            <% include ../_partials/content/_bluenav-general.ejs %>

                <section itemscope itemtype="http://schema.org/Article" class="blade wrapper content">
                    <!-- section -->

                <div itemprop="name">
                  <h1>Erweitert</h1>
                  <h4>Themen für Web Entwickler und IT Facharbeiter</h4>
                </div>

                <div class="row">

                  <a href="/Advanced_User/Website_Integration/">
                    <div class="mediaObject six columns shadow">
                        <amp-img noloading width=75 height=75 layout=fixed src="/images/Landing_Tiles/Wiki_Tiles_Advanced_Integration_white.png"></amp-img>
                      <div>
                        <h3>Webseiten</h3>
                        <br>
                        <amp-fit-text
                            width="245"
                            height="115"
                            layout="responsive"
                            class="desktop-up">Fügen Sie das Live Video Ihrer Kamera in Ihre Webseite ein. Oder laden Sie Einzelbilder auf Ihren Webserver und binden Sie diese auf Ihrer Seite ein.
                        </amp-fit-text>
                        <p class="mobile-down">Fügen Sie das Live Video Ihrer Kamera in Ihre Webseite ein. Oder laden Sie Einzelbilder auf Ihren Webserver und binden Sie diese auf Ihrer Seite ein.</p>
                      </div>
                    </div>
                  </a>

                  <a href="/Advanced_User/CGI_Commands/">
                    <div class="mediaObject six columns shadow">
                        <amp-img noloading width=75 height=75 layout=fixed src="/images/Landing_Tiles/Wiki_Tiles_Advanced_CGIs_white.png"></amp-img>
                      <div>
                        <h3>CGI Befehle</h3>
                        <br>
                        <amp-fit-text
                            width="245"
                            height="115"
                            layout="responsive"
                            class="desktop-up">Kontrollieren Sie alle Funktionen Ihrer Kamera direkt durch das <em>Common Gateway Interface</em>. Nutzen Sie Drittanbieter Software um Prozesse zu automatisieren.
                        </amp-fit-text>
                        <p class="mobile-down">Kontrollieren Sie alle Funktionen Ihrer Kamera direkt durch das <em>Common Gateway Interface</em>. Nutzen Sie Drittanbieter Software um Prozesse zu automatisieren.</p>
                      </div>
                    </div>
                  </a>

                </div>
                <!-- /row -->

                <div class="row">

                  <a href="/Advanced_User/Restore_WebUI/">
                    <div class="mediaObject six columns shadow">
                        <amp-img noloading width=75 height=75 layout=fixed src="/images/Landing_Tiles/Wiki_Tiles_Advanced_WebUI_white.png"></amp-img>
                      <div>
                        <h3>WebUI</h3>
                        <br>
                        <amp-fit-text
                            width="245"
                            height="115"
                            layout="responsive"
                            class="desktop-up">Sie können nicht mehr auf die Benutzeroberfläche Ihrer Kamera zugreifen? Lernen Sie hier wie Sie die Oberfläche erneut aufspielen können. <strong>Leicht</strong>
                        </amp-fit-text>
                        <p class="mobile-down">Sie können nicht mehr auf die Benutzeroberfläche Ihrer Kamera zugreifen? Lernen Sie hier wie Sie die Oberfläche erneut aufspielen können. <strong>Leicht</strong></p>
                      </div>
                    </div>
                  </a>

                  <a href="/Advanced_User/Restore_Firmware/">
                    <div class="mediaObject six columns shadow">
                        <amp-img noloading width=75 height=75 layout=fixed src="/images/Landing_Tiles/Wiki_Tiles_Advanced_Firmware_white.png"></amp-img>
                      <div>
                        <h3>Firmware</h3>
                        <br>
                        <amp-fit-text
                            width="245"
                            height="115"
                            layout="responsive"
                            class="desktop-up">Reagiert Ihre Kamera nicht mehr nach einem fehlgeschlagenen Firmware Update? Lernen Sie hier wie Sie die Software wieder herstellen. <strong>Profi</strong>
                        </amp-fit-text>
                        <p class="mobile-down">Reagiert Ihre Kamera nicht mehr nach einem fehlgeschlagenen Firmware Update? Lernen Sie hier wie Sie die Software wieder herstellen. <strong>Profi</strong></p>
                      </div>
                    </div>
                  </a>

                </div>
                <!-- /row -->

                <div class="row">

                  <a href="/Advanced_User/CCTV_vs_IP/">
                    <div class="mediaObject six columns shadow">
                        <amp-img noloading width=75 height=75 layout=fixed src="/images/Landing_Tiles/Wiki_Tiles_Advanced_CCTV_white.png"></amp-img>
                      <div>
                        <h3>CCTV oder IP</h3>
                        <br>
                        <amp-fit-text
                            width="245"
                            height="115"
                            layout="responsive"
                            class="desktop-up">Wenn Sie sich über Überwachungskameras informieren, werden Sie über die Diskussion stolpern - benötigt man eine IP oder Analogkamera?
                        </amp-fit-text>
                        <p class="mobile-down">Wenn Sie sich über Überwachungskameras informieren, werden Sie über die Diskussion stolpern - benötigt man eine IP oder Analogkamera?</p>
                      </div>
                    </div>
                  </a>

                  <a href="/Advanced_User/VPN_AVM_Fritzbox/">
                    <div class="mediaObject six columns shadow">
                        <amp-img noloading width=75 height=75 layout=fixed src="/images/Landing_Tiles/Wiki_Tiles_Advanced_VPN_white.png"></amp-img>
                      <div>
                        <h3>VPN Tunnel</h3>
                        <br>
                        <amp-fit-text
                            width="245"
                            height="115"
                            layout="responsive"
                            class="desktop-up">Vermeiden Sie das Öffnen eines Ports an Ihrer AVM Fritzbox, indem Sie ein virtuelles, privates Netzwerk für den Fernzugriff nutzen.
                        </amp-fit-text>
                        <p class="mobile-down">Vermeiden Sie das Öffnen eines Ports an Ihrer AVM Fritzbox, indem Sie ein virtuelles, privates Netzwerk für den Fernzugriff nutzen.</p>
                      </div>
                    </div>
                  </a>

                </div>
                <!-- /row -->

              </section>

            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
