<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
        <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap">
          <div class="container main">

            <% include ../_partials/content/_bluenav-general.ejs %>

                <article itemscope itemtype="http://schema.org/Article" class="blade wrapper content">
                <!-- article -->

                    <div>
                        <h1 itemprop="name">IP vs CCTV</h1>
                        <h2>Was ist der Unterschied zwischen analogen und IP Kameras?</h2>
                        <p class="justify">Eine der wichtigsten technischen Veränderungen in der Videoüberwachung war das Aufkommen der IP Kameras. Bei der Auswahl von Sicherheitsnetzen für Ihr zu Hause oder ihr Geschäft werden Sie auf viele Diskussion über die Unterschiede zwischen analogen und IP Kameras stoßen. Eine analoge Kamera liefert die Bilder direkt an einen Fernseher, DVR oder DVD-Player. Eine IP (auch Netzwerk-) Kamera, liefert die Bilder an einen Webserver.</p>
                        <p class="justify">Ungeachtet dessen, dass digitale Überwachung bereits einige Jahre verfügbar ist, gibt es nur wenig an objektiven Informationen darüber, was sie von analogen Kameras unterscheidet, die die Industrie Jahrzehnte lang beherrschten. Teilweise verantwortlich dafür ist sicher die Komplexität des Designs von IP Kameras – so verlangt sie vom Benutzer die Beherrschung eines breiten Fachgebiets von fortgeschrittener Videokomprimierung bis zur Verwaltung von Computernetzwerken. Ob für Sie eine analoge Lösung oder eine IP Kamera das Beste ist, hängt von Ihren persönlichen Sicherheitsanforderungen ab; also werden im Folgenden einige Unterschiede zwischen den beiden Systemen aufgelistet um Ihnen bei der Wahl Ihrer Sicherheitskamera zu helfen.<p>
                    </div>
                    <!-- margin -->

                    <div class="margin">
                        <h2>Analoges CCTV und IP Kameras verstehen</h2>
                        <h3>Analoge Kameraauflösung</h3>
                        <p class="justify">
                          Eine analoge CCTV Kamera hat wie jedes Bildverarbeitungsgerät einen Sensor, welcher ein Videobild aufnimmt. Die Auflösung der Sensors variiert, ist allerdings theoretisch auf 720x575 Pixel limitiert. Um das Video von der CCTV Kamera auf ein Aufnahme-und Anzeigegerät zu übertragen, wird ein einiges Koaxialkabel verwendet. Um die Kompatibilität mit analogen Fernsehern zu bewahren, entspricht das Signal, das aus der Kamera kommt den Übertragungsstandards des Fernsehens. Die Auflösung von CCTV Kameras sind in der Regel spezifiziert in Form von Linien. Die Übersetzung von Pixeln in Linien sind in der Regel sehr einfach. Multipliziert man die horizontale Auflösung mal drei und teilt sie mit vier kommt man auf die Anzahl der Linien. Zum Beispiel wenn man 720 Pixel in der horizontalen Dimension hat, hat man nur eine 540 Linien Auflösung (720 x 3 / 4 = 540). Diesbezüglich bewertet die Rate die wahre Auflösung des Systems als zu niedrig.
                        </p>
                        <p class="justify">
                          Der NTSC Standard reduziert zudem die maximale Menge an Linien auf 340 (zur Vereinfachung abgerundet). Eine Kamera, die 540 Linien als Auflösung anbietet kann, wenn man das Bild betrachtet, welches aus der Koaxialleitung kommt nicht mehr als 340 erreichen. Der Rest der Auflösung geht verloren, sobald das Bild die Kamera verlässt. Man kann 340 Linien wieder zurück in Pixel umwandeln – das Ergebnis ist eine Auflösung von 450 Pixel (340 x 4 / 3 = 450).
                        </p>
                        <p class="justify">
                          Um die Datenmenge, welche übertragen wird zu reduzieren, nutzen NTSC und PAL eine Form der Videokomprimierung die sich „interlance“ nennt. NTSC updatet das Bild 60 mal pro Sekunde auf den Bildschirm (PAL updatet es 50 mal pro Sekunde). Aber anstatt alle 450 x 480 Pixel in jedem Vorgang zu verschicken, verschickt das System weitere Linie in jeder weiteren Übertragung. Die tatsächliche Auflösung in jeder Übertragung ist demnach 450x240 für NTSC, welche 60 mal pro Sekunde verschickt wird. Am Ende des Empfängers wird nicht jede Linie separat angezeigt, sondern wird zu einem Bild zusammengefügt. Es ist deshalb wichtig zu vermerken, dass jede Übertragung bei 60 Bildern mit halber vertikaler Auflösung erscheint und nicht als 30 voll aufgelöste Bilder. PAL funktioniert genauso mit einer Bildrate von 50.
                        </p>
                        <p class="justify">
                          Das Ergebnis ist, dass die Kamera ungleiche und gleiche Linien in verschiedenen Intervallen aufnimmt. Wenn wir nur die zweite Hälfte eines Datenblocks 1/60 Sekunden später betrachten, ist der Pixel nicht mehr in einer Reihe. Die Anzeige vermischt die beiden und das Visuelle Überbleibsel sind verzerrte Linien bei sich schnell bewegenden Objekten wie Autos. Dieser negative Effekt kann geglättet werden durch de-interlacing des analogen Filmsignals. Diese Technik variiert mit der Ausgereiftheit und Komplexität der Umsetzung. Eine einfache Technik ist das Mitteln der vertikalen Pixel, was ein weicheres Bild ohne Verzerrungen als Ergebnis hat.
                        </p>
                        <p class="justify">
                          Zusammengefasst verfügt ihre analoge NTSC Kamera über eine maximale Auflösung von 450x230 bis zu 450x480. Die gesamte Anzahl der Pixel liegt daher im Bereich von 0.1 bis 02. Megapixel. Es spielt keine Rolle was man versucht, wie viel Geld man in das Design der analogen Kamera steckt, diese Anzahl kann nicht verbessert werden. Natürlicherweise ist man durch die niedrige Auflösung gezwungen viel vorsichtiger mit der Kameraposition und der der Auswahl der Linse zu sein. Ein Weitwinkelobjektiv bei einer analogen Kamera, welche ein großes Feld abdeckt, wird wahrscheinlich keine erkennbaren Details aufnehmen, da die Auflösung einfach nicht gegeben ist. Wie man sehen kann beschränken die Standards für Analoges Fernsehen was man mit CCTV Kameras machen kann. Das System funktioniert erstaunlich gut für einen 50+ Jahre alten Standard, ist allerdings nicht mal annähernd ideal für eine Anwendung, bei der erkennbare Details entscheidend sind (z.B. Auto Nummernschilder, oder das Gesicht von jemanden), im Gegensatz zum Kinobesuch oder dem Fernsehprogramm, bei dem Wiedergabetreue vielleicht nur eine sekundäre Rolle für den Unterhaltungswert spielt.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Analoge Überwachungskamerasysteme (CCTV)</h3>
                        <p class="justify">
                          In der traditionellen CCTV-Anwendung erfassen die Sicherheitskameras ein analoges Videosignal und übertragen es über Koaxialkabel an den digitalen Video Rekorder (DVR). Die Kamera wird entweder durch eine direkte Verbindung mit einer Stromquelle oder mittels einem RG59 Siamese Kabel, welches Video- und Stromkabel verbindet, betrieben. Der DVR konvertiert das analoge Signal in ein digitales, komprimiert und speichert es für spätere Zugriffe auf einer Festplatte. Der DVR bietet Funktionen wie die Planung von Aufnahmen, Bewegungserkennung und digitalen Zoom. Bildschirme zum Betrachten des Bildes sind ebenfalls daran angeschlossen oder können so eingerichtet werden, dass sie die Bilder über ein internes Netz an PCs senden. Der DVR kann außerdem das Internet für Übertragungen nutzen und auf Features wie zum Beispiel Passwortschutz zurückgreifen. Bei Übertragungen via Internet werden die Aufnahmen aller Kameras in einem Stream weitergeleitet (= eine IP Adresse). Daher ist diese Methode besonders effizient.
                        </p>
                    <div>
                        <amp-img
                            on="tap:01_diagram_analog_system"
                            role="button"
                            tabindex="0"
                            src="/images/Advanced_User/01_diagram_analog_system.png" width="600" height="400" layout="responsive" class="shadow">
                        </amp-img>
                      </div>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>IP Kamera Auflösung</h3>
                        <p class="justify">Eine IP Kamera hat einen sehr ähnlichen Bildsensor wie ihr analoges Pendant. Sobald sie ein Bild aufgenommen hat, überträgt sie es jedoch als Daten über eine Netzverbindung. Diese Daten sind in Form eines komprimierten Videoframes, der über standardisierte Netzwerkprotokolle für Computeranwendungen gesendet wird. Daher bekommt die IP Kamera ihren Namen, denn IP steht für Internet Protocol – eine untergeordnete Sprache zum übertragen von Dateien zwischen Computern bei Ihnen zu Hause und dem Internet. Daraus ergibt sich, dass eine IP Kamera eigentlich wie ein kleiner Computer ist, mit dem Sie sich verbinden um Zugang zum aufgenommenen Video zu erhalten. Tatsächlich sind IP Kameras Computer mit Betriebssystem, die sich gar nicht so sehr von denen in PCs unterscheiden. Die Tatsache, dass die Kamera IP zur Übertragung nutzt, ist nicht besonders wichtig. Wichtig ist, dass sie unabhängig von Übertragungsstandards arbeitet (NTSC oder PAL). Theoretisch ist damit jede gewünschte Auflösung erreichbar.</p>
                        <p class="justify">Durch bestimmte Übereinkommen wird die Auflösung von IP Kameras in Megapixeln angegeben. Um die Megapixel zu errechnen, multiplizieren Sie einfach die horizontale Auflösung mit der vertikalen und teilen Sie das Ergebnis mit einer Millionen. Wenn die Kamera also eine 1280 x 720 HD Auflösung hat, entspräche dies 0.9 Millionen Pixeln, was normalerweise auf einen Megapixel gerundet wird. Die Bezeichnung Full HD bezieht sich auf eine Auflösung von 1920 x 1280 Pixeln, was einer 2 Megapixel-Kamera entspricht.<p>
                        <p class="justify">Was ist der Mehrwert dieser zusätzlichen Auflösung? Einerseits macht sie es möglich, viel weiter in das Bild hinein zu zoomen, ohne ein weiches und undeutliches Bild zu bekommen. Details wie Nummernschilder sind bei 2 Megapixeln im Vergleich zu zum Beispiel 0.2 viel besser zu erkennen. Im Umkehrschluss gilt natürlich, dass man mithilfe eines Weitwinkelobjektivs bei der gleichen Auflösung ein viel größeres Gebiet abdecken kann. Eine einzige 2 Megapixel-Kamera kann das gleiche Gebiet abdecken wie drei analoge Modelle, und dabei gleichzeitig eine bessere Auflösung vorweisen.<p>
                    </div>
                    <!-- margin -->

                    <div class="margin">
                        <h3>IP Sicherheitskamerasysteme</h3>
                        <p class="justify">
                          In der IP-Welt erfasst jede Netzwerkkamera ein analoges Bild, welches sie jedoch noch in der Kamera sofort in ein digitales umwandelt. Einiges an digitaler Bildverarbeitung kann ebenfalls direkt in der Kamera passieren, zum Beispiel Komprimierung oder Bewegungserkennung. Der digitale Videostream wird dann über das lokale Netzwerk (LAN) via Ethernet-Kabel (CAT5 oder CAT6) übertragen. Über eingebaute Power-Over-Ethernet (POE)-Adapter wird die Kamera über das Ethernet-Kabel und einen POE-Switch mit Strom versorgt. Das Ethernet-Kabel jeder Kamera wird mit dem Switch verbunden, der in den Netzwerkknotenpunkt überträgt. Wie bei allen Netzwerkgeräten sind einige Einstellungen vorzunehmen um die einzelnen Kameras im Netzwerk einzurichten.
                        </p>
                        <p class="justify">
                          Ein Netzwerk-Videorekorder (NVR) übernimmt die Funktionen seines DVR-Verwandten in der analogen Welt. Er empfängt das Signal der Kamera, komprimiert es und nimmt es auf. Der Hauptunterschied liegt darin, dass der Videofeed digital (und in viel höherer Auflösung) und nicht analog ist. Die im NVR verbaute Software verfügt über Features wie intelligente Suche &amp; Zoom, etc. . Ein NVR fügt die Videostreams der Kameras zusammen und wickelt die Übertragung über LAN und Internet für lokalen und entfernten Zugriff ab.
                        </p>
                        <div>
                          <amp-img
                              on="tap:02_diagram_ip_system_new"
                              role="button"
                              tabindex="0"
                              src="/images/Advanced_User/02_diagram_ip_system_new.png" width="600" height="400" layout="responsive" class="shadow">
                          </amp-img>
                        </div>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Kosten</h3>
                        <p class="justify">Fangen wir mit den Kosten an, denn normalerweise steht jeder, der nach einem neuen Sicherheitssystem oder nach der Möglichkeit sein bestehendes zu verbessern sucht, zunächst vor einer Kostenfrage. Analoge Kameras sind billiger als IP Kameras. Die Technologie dahinter bewährt aber recht alt. Allerding sind ihre IP-Pendants generell leichter zu installieren als analoge Modelle. Sie speisen das Videobild direkt in einen Webserver, eine Smartphone-App oder Überwachungs-NAS (z.B. <a href="/Software/Other_Platforms/Synology">Synology</a> oder <a href="/Software/Other_Platforms/QNAP">Qnap</a>) über ein Ethernet-Kabel oder das WLAN-Netzwerk – jegliche ‚Kabelarbeit‘ die von ihnen verlangt wird, ist also bereits in ihren Heim- oder Geschäftscomputern vorhanden. Daher sind die Kameras an sich vielleicht teurer, die Installation und Kosten für Kabelverlegung in einem analogen System könnten diesen Preisunterschied jedoch wieder wettmachen.<p>
                    </div>
                    <!-- margin -->

                    <div class="margin">
                        <h3>Welches System lässt sich einfacher installieren und konfigurieren?</h3>
                        <p class="justify">Wenn am gewünschten Installationsort bereits ein IP-Netzwerk vorhanden ist, das die zusätzliche Belastung der neuen Kameras tragen kann, werden sich die IP-Kameras leichter installieren lassen. Sollten zusätzliche RJ-45 Buchsen benötigt werden um die Netzwerkkameras anzuschließen, muss der Nutzer nur ein CAT-5 Kabel von der Kamera zum nächsten Switch verlegen. Ein kostengünstiger Switch kann bei einer nahegelegenen Wandbuchse eingerichtet werden. Im Gegensatz dazu muss bei analogen Kameras jedes Kabel von der Kamera zurück zum DVR gelegt werden. Werden Upgrades für ein existentes IP-Netzwerk benötigt, damit es die zusätzliche Auslastung tragen kann, ist die Installation natürlich etwas schwieriger.</p>
                        <p class="justify">Die Stromversorgung der Kameras kann mit beiden Systemen recht einfach gewährleistet werden: Bei IP-Netzwerken erleichtern eingebaute POE-Adapter die Stromversorgung via vorhandene Ethernet-Kabel. Benutzen Sie bei analogen Systemen RG59 Siamese Kabel um Video- und Stromkabel in einer Buchse zu verbinden. So oder so, werden für die Stromversorgung keine weiteren Kabel benötigt. POE kann über bis zu 100m ohne einen Verstärker verlegt werden, RG59 bis zu 300m.<p>
                    </div>
                    <!-- margin -->

                    <div class="margin">
                        <h3>Projektions Feed</h3>
                        <p class="justify">Die Sicherheitssysteme welche auf den Bildschirmen von Sicherheitsleuten angezeigt werden sind in der Regel analoge CCTV Systeme.Diese Kameras sind mit einem Aufnahmegerät verkabelt, wie z.B. einer VCR oder DVD Rekorder und nehmen durchgängig Sicherheitsbilder auf und projizieren diese auf den Fernsehbildschirm. Kameras in einem modernen analogen CCTV System übertragen ihr Video in dem traditionellen Base Band Format über Coax oder UTP Verkabelung zurück in den digitalen Rekorder DVR). Hier wird das Video digitalisiert und auf Festplatten gespeichert. Die meisten modernen DVRs sind Netzwerkgeräte und man kann daher ferngesteuert über das LAN, oder mit der entsprechenden Konfiguration, über der WLAN oder übers Internet. Es gibt keine Kassetten, welche gewechselt werden könnten. Das Video wird auf Festplatten gespeichert, typischer Weise auf einer FIFO Basis, es gibt also immer ein laufendes Video Archiv der letzten X Tage. Obwohl also das Video der Kamera in einem analogen Format übertragen wird, ist das live und das aufgenommene Video immer noch im Netzwerk verfügbar.</p>
                        <p class="justify">Ein IP Kamera Netzwerk kann über Kabel oder kabellos funktionieren und das Bild wird auf einen Netzwerkserver übertragen. IP Video Kameras senden ihre Videos als digitalen Stream über ein IP Netzwerk. Wie ein analoges System, wird das Video auf einer Festplatte aufgenommen. Das DVR wird durch ein NVR ersetzt (network video recorder), welches in manchen Fällen einfach nur Software ist, da es Analog nicht in Digital umwandeln muss. Das Bildmaterial kann auf Netzwerkfestplatten gespeichert werden (NAS – finden sie unter <a href="/Software/Other_Platforms/Synology">Synology</a> oder <a href="/Software/Other_Platforms/QNAP">Qnap</a>). Auf den Server, der auf IP Kameras läuft kann mit jedem elektronischen, internetfähigen Gerät zugegriffen werden – wie ein PC oder ein MAC (hier eine <a href="/Products/Software">Liste kompatibler software</a>), Tablet und Smartphone - sehen Sie hier: <a href="/Software/iOS">iPhone/iPad</a> App, <a href="/Software/Android">Android</a> App und <a href="/Software/Windows">Windows Phone</a> App.<p>
                    </div>
                    <!-- margin -->

                    <div class="margin">
                        <h3>Datensicherheit</h3>
                        <p class="justify">Analoge Sicherheitskameras übertragen die Bilder direkt in das Aufnahmegerät. Dies macht ihre Sicherheitsaufnahmen anfällig für jeden mit den Möglichkeiten an ihre Kassetten, DVDs oder Aufnahmeeinheiten zu kommen.</p>
                        <p class="justify">Eine IP Sicherheitskamera kann die Aufnahme im Internet hochladen – man kann Videostreams direkt von einer anderen Seite aufnehmen oder alarmaktivierte Videoaufnahmen oder Schnappschüsse auf einen Internet FTP Server hochladen. Wenn sie daher über die Sicherheit ihrer Aufnahmen besorgt sind, fühlen sie sich wahrscheinlich wohler mit einem IP Sicherheitssystem als mit einem Analogen.<p>
                    </div>
                    <!-- margin -->

                    <div class="margin">
                        <h2>Wie funktioniert eine IP-Kamera?</h2>
                        <h3>Videokomprimierung</h3>
                        <p class="justify">Unkomprimierte Videodaten nehmen beachtliche Kapazitäten für Speicherung und Übertragung in Anspruch. Glücklicherweise haben Videoframes selbst die Eigenschaft, in Bezug auf die Abfolge der Frames, einiges an Redundanz vorzuweisen. Betrachtet man beispielsweise den blauen Himmel, ist die Chance recht hoch, dass viele der Pixel des Bildes gleich sind und auch mit weniger Datenmenge erfasst werden können. Dies nennt man Intraframe-Komprimierung. JPEG ist eine Form der Intraframe-Komprimierung. So nennt man eine Sequenz von JPEG Frames eine Motion JPEG, kurz M-JPEG. JPEG ist sehr günstig zu implementieren, weshalb man diese Umsetzung überall in IP Kameras findet.</p>
                        <p class="justify">Eine weitere Form der Komprimierung ist Interframe-Komprimierung. Diese nutzt die Redundanz zwischen Frames. MPEG-2, MPEG-4, H.264 (auch MPEG-4 Part 10 oder MPEG-4 AVC) sowie VC-1 sind beliebte Komprimierungsstandards dieser Art. Diese Systeme funktionieren ähnlich wie die JPEG-Komprimierung in einen einzelnen Frame, aber prüfen außerdem, ob der derzeitige Frame mit dem vorherigen übereinstimmt. Falls ja, werden nur die Unterschiede übertragen und der Decoder verbindet diese Information mit dem vorherigen Frame um das Bild anzuzeigen.<p>
                        <p class="justify">Betrachtet man zum Beispiel eine Person, die vor einem Gebäude entlangläuft. Das Gebäude verändert sich in keinem Frame. Die einzige Veränderung sind die Pixel, die die laufende Person erfassen. Das oben beschriebene System teilt den Bildschirm in einzelne Blöcke ein und prüft ob sich der jeweilige Block bewegt. Hat er sich bewegt, so wird dem Decoder mitgeteilt nur diesen Block zu verändern und nicht das komplette Bild. Der Decoder behält also die vorherigen Frames um die beschriebenen Prozesse durchführen zu können. Dabei ist die Menge der Komprimierung nicht vorhersehbar und hängt jeweils vom Bild ab. Ein statisches Bild erlangt so die stärkste Komprimierung, während eine unruhige Nachtaufnahme mit viel Bewegung wahrscheinlich am schwächsten zu komprimieren ist.<p>
                        <p class="justify">Während ein Model wie die JPEG-Komprimierung die Datenmenge um das 10- bis 20-fache komprimieren kann, ohne dabei an Anzeigetreue einzubüßen, können MPEG-4 AVC Systeme diesen Wert um das 50- oder sogar 100-fache übertreffen.<p>
                    </div>
                    <!-- margin -->

                    <div class="margin">
                        <h3>Networking</h3>
                        <p class="justify">Sobald das Bild komprimiert ist, muss es dorthin übermittelt werden, wo es angeschaut oder gespeichert werden soll. Die bevorzugte Methode einer physischen Verbindung ist der Ethernet Port. Mit dem Aufkommen der Power over Ethernet-Technologie (PoE), können IP Kameras sogar mit ein und demselben Kabel mit Strom versorgt werden. Analoge Kamerasysteme übertragen via Koaxialkabel, nicht via Netzwerkkabel, daher ist deren Bandbreite kein großes Thema. Der einzige Einsatzbereich der Netzwerkkabel im analogen System ist die Übertragung der Videodaten vom DVR über das Netzwerk zu lokalen PC-Nutzern oder ins Internet. DVRs übermitteln Videos generell sehr effizient und verbrauchen auch nur Bandbreite wenn Nutzer sich die Bilder gerade anschauen. Andererseits nutzen IP-Kameras das LAN (lokale Netzwerk) um ihr Signal zum NVR zu übertragen, wodurch Bandbreite zu einem großen Thema werden kann.</p>
                        <amp-youtube
                            data-videoid="JWa1L_rBRW4"
                            layout="responsive"
                            width="1280" height="720">
                        </amp-youtube>
                        <p class="justify">Eine IP-Kamera, die auf eine Auflösung von 320 x 176 mit 30 Frames pro Sekunde (30 fps) und MPEG4 Komprimierung eingestellt ist, wird ungefähr 720Kbit pro Sekunde benötigen. So benötigen wir für 100 IP-Kameras in einem Netzwerk ungefähr 72Mbps an Bandbreite. Diese Menge würde sich noch einmal verdoppeln sobald wir auch die Audiodaten übertragen. Um die Bandbreiten-Thematik für IP-Kameras noch weiter zu verkomplizieren verbessert sich deren Bildqualität konstant, sodass mittlerweile IP-Kameras mit Megapixel-Auflösung erhältlich sind. Das ist natürlich sehr positiv in Bezug auf Klarheit und Bildgröße der überlieferten Bilder, aber dafür nehmen die neueren Modelle viel mehr Bandbreite in Anspruch. Eine einzelne 2-Megapixel IP-Kamera, die bei 30fps mit MPEG4 Komprimierung läuft, wird ganze 6.5 Mbps an Bandbreite nutzen. Es ist also keine Überraschung, dass einige Firmen gänzlich separate IP Netzwerke aufgesetzt haben, um ihr Kamerasystem zu unterhalten.<p>
                        <p class="justify">Moderne IP-Kameras bieten ein breit gefächertes Spektrum an Möglichkeiten das Video von ihnen zu extrahieren. Die einfachste Form der Extrahierung ist die Einbindung in einen Webserver in die Kamera, mit dem der Nutzer sich dann über einen Browser direkt verbinden kann, um Videos direkt im Web User Interface anzusehen (WebUI). Bietet die Steuerung im Browser eine gute Kompabilität, so kann sie doch vom Aspekt der Funktionalität her eher einschränkend sein. Daher bieten Kameraunternehmen Plug-Ins, die sich „ActiveX controls“ (in Windows lingo) nennen. Dies sind kleine Applikationen, die mit der Kamera kommunizieren können.<p>
                        <p class="justify">Viele Kameras haben die Fähigkeit ihre Videos direkt auf eine Festplatte im Netzwerk hochzuladen, ob dies ein NAS (Networked Attached Storage – z.B. Synology oder Onap) oder eine PC Server Software ist. Außerdem können sie Ihnen E-Mails mit ausgewählten Videoframes schicken oder Videoaufnahmen via ‚FTP‘ auf einen Internetserver laden. Auch die Bewegungen der Kamera werden über die Software gesteuert. Statt Kabel für die Kontrolle einer PTZ-Kamera (Pan-Tilt-Zoom) zu verlegen, kann also einfach das Softwareinterface genutzt werden.<p>
                    </div>
                    <!-- margin -->

                    <div class="margin">
                        <h3>IP / kabelloses Sicherheitskamerasystem</h3>
                        <br>
                        <div>
                          <amp-img
                              on="tap:03_diagram_ip_system_wireless"
                              role="button"
                              tabindex="0"
                              src="/images/Advanced_User/03_diagram_ip_system_wireless.png" width="600" height="400" layout="responsive" class="shadow">
                          </amp-img>
                        </div>
                        <p class="justify">
                          Analoge kabellose Systeme funktionieren nicht gut. Das liegt daran, dass die Regierung reguliert bei welcher Frequenz analoge kabellose Geräte funktionieren und wie stark das Signal sein kann. Interferenzen von andern kabellosen Geräten wie Handys können das Kameravideo stören. Interferenzen sind besonders problematisch in Gebäuden mit fluoreszierendem Licht.
                        </p>
                        <p class="justify">
                          Digitales kabelloses IP ist um einiges besser. Die digitale Transmission wird nicht gestört von anderen analogen, kabellosen Geräten und der 802.11x Kommunikationsstandrad benutzt eine eingebaute Verschlüsselung. Daraus folgt, dass es kein Problem mit unautorisierten Zugriffen gibt.
                        </p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->

                <!-- ###################### Lightboxes ######################## -->

                <amp-image-lightbox id="01_diagram_analog_system" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="02_diagram_ip_system_new" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="03_diagram_ip_system_wireless" layout="nodisplay"></amp-image-lightbox>

            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
