<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap mobile-down">
          <div class="content">
              <section class="hero webUI">
                  <div class="container">
                      <div class="row">
                          <div class="twelve columns">
                              <div class="intro-container">
                                <h1 itemprop="name">Android App :: Tasker</h1>
                                <p class="intro"><strong>Benutzen Sie ein Makro Tool wie Tasker um Ihre Kamera zu automatisieren</strong></p>
                                <p class="intro">
                                  <br><br>Tasker ist eine Android App die kontext-basiert - abhängig von gestarteten Anwendungen, Datum &amp; Uhrzeit, Systemereignissen oder Gesten - über Makro Scripte konfigurierte Aufgaben ausführt. Nutzen Sie unsere Online CGI Dokumentation um Ihre Kamera mit Hilfe Ihrers Android Gerätes zu konfigurieren.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
              </section>
              <!-- /Hero -->
            </div>
            <!-- /Content -->
          </div>
          <!-- /Wrap -->

              <div class="wrap">
                  <div class="container main">

                    <% include ../_partials/content/_bluenav-general.ejs %>

                      <!-- ########################### Mobile Down ###################################### -->

                      <section itemscope itemtype="http://schema.org/Article" class="content blade wrapper">
                        <% include ../_partials/amp/_schemaArticle.ejs %>

                        <div>
                            <h2>Anlegen einer Tasker Scene zum Schalten der IR LEDs</h2>
                            <br>
                        </div>

                         <div class="margin">
                           <p class="justify">
                             Im folgenden werden wir eine Tasker Scene - eine Benutzeroberfläche die größere Anzahl an Buttons zum Steuern Ihrer Kamera vereinen kann - anlegen und mit Buttons zum Schalten der Nachtsicht Ihrer Kamera versehen. Nach dem gleichen Prinzip können Sie annähernd alle Kamerafunktionen ansprechen - sowohl für unsere HD Kameras, als auch die VGA Modelle.
                           </p>
                         </div>

                          <div class="margin">
                            <h3>Hinzufügen eines existierenden Tasks (IR LEDs aktivieren)</h3>
                            <p class="justify">
                              Starten Sie Tasker und wechseln Sie zum Scenes Reiter. Betätigen Sie das Plus am unteren Rand um eine neue Scene anzulegen und einen Task zuzuweisen.
                            </p>
                          </div>

                        <div class="card-container margin">
                            <div class="twocard">
                                <div class="image">
                                  <amp-img class="shadow" noloading height=768 width=432 layout=responsive src="/images/Advanced_User/Tasker_Scene_IR-On_(1).png"></amp-img>
                                </div>
                                <div class="action">
                                    <p><strong>1.</strong> Starten Sie die Android App und betätigen Sie das + am unteren Rand.</p>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="image">
                                  <amp-img class="shadow" noloading height=768 width=432 layout=responsive src="/images/Advanced_User/Tasker_Scene_IR-On_(2).png"></amp-img>
                                </div>
                                <div class="action">
                                    <p><strong>2.</strong> Benennen Sie die Scene und bestätigen Sie die Eingabe.</p>
                                </div>
                            </div>
                        </div>

                       <div class="card-container margin">
                         <div class="twocard">
                             <div class="image">
                               <amp-img class="shadow" noloading height=768 width=432 layout=responsive src="/images/Advanced_User/Tasker_Scene_IR-On_(3).png"></amp-img>
                             </div>
                             <div class="action">
                                 <p><strong>3.</strong> Betätigen Sie den Zoom Button um die Scene zu bearbeiten.</p>
                             </div>
                         </div>
                         <div class="twocard">
                             <div class="image">
                               <amp-img class="shadow" noloading height=768 width=432 layout=responsive src="/images/Advanced_User/Tasker_Scene_IR-On_(4).png"></amp-img>
                             </div>
                             <div class="action">
                                 <p><strong>4.</strong> Betätigen Sie das Plus um ein Element hinzuzufügen.</p>
                             </div>
                         </div>
                       </div>

                      <div class="card-container margin">
                        <div class="twocard">
                            <div class="image">
                              <amp-img class="shadow" noloading height=768 width=432 layout=responsive src="/images/Advanced_User/Tasker_Scene_IR-On_(5).png"></amp-img>
                            </div>
                            <div class="action">
                                <p><strong>5.</strong> Wählen Sie einen Button aus der Liste.</p>
                            </div>
                        </div>
                        <div class="twocard">
                            <div class="image">
                              <amp-img class="shadow" noloading height=768 width=432 layout=responsive src="/images/Advanced_User/Tasker_Scene_IR-On_(6).png"></amp-img>
                            </div>
                            <div class="action">
                                <p><strong>6.</strong> Geben Sie dem Button einen Namen und wechseln Sie zum Tap Reiter.</p>
                            </div>
                        </div>
                      </div>

                     <div class="card-container margin">
                       <div class="twocard">
                           <div class="image">
                             <amp-img class="shadow" noloading height=768 width=432 layout=responsive src="/images/Advanced_User/Tasker_Scene_IR-On_(7).png"></amp-img>
                           </div>
                           <div class="action">
                               <p><strong>7.</strong> Betätigen Sie hier wieder das Plus um dem Button einen Task zuzuweisen.</p>
                           </div>
                       </div>
                       <div class="twocard">
                           <div class="image">
                             <amp-img class="shadow" noloading height=768 width=432 layout=responsive src="/images/Advanced_User/Tasker_Scene_IR-On_(8).png"></amp-img>
                           </div>
                           <div class="action">
                               <p><strong>8.</strong> Wählen Sie Task.</p>
                           </div>
                       </div>
                     </div>

                    <div class="card-container margin">
                      <div class="twocard">
                          <div class="image">
                            <amp-img class="shadow" noloading height=768 width=432 layout=responsive src="/images/Advanced_User/Tasker_Scene_IR-On_(9).png"></amp-img>
                          </div>
                          <div class="action">
                              <p><strong>9.</strong> Betätigen Sie hier wieder das Plus um dem Button einen Task zuzuweisen.</p>
                          </div>
                      </div>
                      <div class="twocard">
                          <div class="image">
                            <amp-img class="shadow" noloading height=768 width=432 layout=responsive src="/images/Advanced_User/Tasker_Scene_IR-On_(10).png"></amp-img>
                          </div>
                          <div class="action">
                              <p><strong>10.</strong> Betätigen Sie das Lupen-Symbol um einen existierenden Task auszuwählen.</p>
                          </div>
                      </div>
                    </div>

                   <div class="card-container margin">
                     <div class="twocard">
                         <div class="image">
                           <amp-img class="shadow" noloading height=768 width=432 layout=responsive src="/images/Advanced_User/Tasker_Scene_IR-On_(11).png"></amp-img>
                         </div>
                         <div class="action">
                             <p><strong>11.</strong> Wählen Sie den Task den Sie aus dem Button zuweisen möchten.</p>
                         </div>
                     </div>
                     <div class="twocard">
                         <div class="image">
                           <amp-img class="shadow" noloading height=768 width=432 layout=responsive src="/images/Advanced_User/Tasker_Scene_IR-On_(12).png"></amp-img>
                         </div>
                         <div class="action">
                             <p><strong>12.</strong> Gehen Sie zurück um die Eingabe zu bestätigen.</p>
                         </div>
                     </div>
                   </div>

                  <div class="card-container margin">
                    <div class="twocard">
                        <div class="image">
                          <amp-img class="shadow" noloading height=768 width=432 layout=responsive src="/images/Advanced_User/Tasker_Scene_IR-On_(13).png"></amp-img>
                        </div>
                        <div class="action">
                            <p><strong>13.</strong> Gehen Sie noch einen weiteren Schritt zurück.</p>
                        </div>
                    </div>
                    <div class="twocard">
                        <div class="image">
                          <amp-img class="shadow" noloading height=768 width=432 layout=responsive src="/images/Advanced_User/Tasker_Scene_IR-On_(14).png"></amp-img>
                        </div>
                        <div class="action">
                            <p><strong>14.</strong> Wählen Sie hier ein Icon für Ihren Button aus.</p>
                        </div>
                    </div>
                  </div>

                 <div class="card-container margin">
                   <div class="twocard">
                       <div class="image">
                         <amp-img class="shadow" noloading height=768 width=432 layout=responsive src="/images/Advanced_User/Tasker_Scene_IR-On_(15).png"></amp-img>
                       </div>
                       <div class="action">
                           <p><strong>15.</strong> Gehe Sie zurück um das Element zu speichern.</p>
                       </div>
                   </div>
                   <div class="twocard">
                       <div class="image">
                         <amp-img class="shadow" noloading height=768 width=432 layout=responsive src="/images/Advanced_User/Tasker_Scene_IR-On_(16).png"></amp-img>
                       </div>
                       <div class="action">
                           <p><strong>16.</strong> Der Button ist ist jetzt bereit zur Benutzung.</p>
                       </div>
                   </div>
                 </div>


                       <div class="margin">
                         <p class="justify">
                           Jetzt fehlt noch ein zweiter Button zum <a href="/Advanced_User/Tasker/Deactivate_Nightvision_Task/">deaktivieren der IR LEDs</a> und dann können wir die <a href="/Advanced_User/Tasker/Nightvision_Scene/">Scene auf dem Homescreen</a> über einen Tasker Shortcut verlinken.
                         </p>
                       </div>

                    </div>
                </section>

            </div>
          </div>

                <% include ../_partials/content/_bluenav-general-mobile.ejs %>

                <footer>
                    <% include ../_partials/amp/_amp-footer.ejs %>
                </footer>
                </body>
            </html>
