
   <div class="card-container">
     <div class="footer-all">
    <div class="footer-card card-view">
        <div class="footer-card-content">
        <p class="footer-heading">INFORMATIONEN</p><hr>
        <p><a class="footer-link" href="/case-studies/slate/">Neuigkeiten</a></p>
        <p><a class="footer-link" href="/case-studies/slate/">Häufige Fragen</a></p>
        <p><a class="footer-link" href="/case-studies/slate/">Kundenforum</a></p>
        <p><a class="footer-link" href="/case-studies/slate/">Downloads</a></p>
        </div>
    </div>

    <div class="footer-card card-view">
        <div class="footer-card-content">
        <p class="footer-heading">SERVICE</p><hr>
        <p><a class="footer-link" href="/case-studies/slate/">Kundenservice</a></p>
        <p><a class="footer-link" href="/case-studies/slate/">Sichere Zahlungsarten</a></p>
        <p><a class="footer-link" href="/case-studies/slate/">Sicheres Einkaufen</a></p>
        <p><a class="footer-link" href="/case-studies/slate/">Händler & Partner</a></p>
        </div>
    </div>
    <div class="footer-card card-view">
        <div class="footer-card-content">
        <p class="footer-heading" class="card__title">KONTAKT</h></p><hr>
        <p><a class="footer-link" href="/case-studies/slate/">RAIFFEISENSTRASSE 12</a></p>
        <p><a class="footer-link" href="/case-studies/slate/">65510 HÜNSTETTEN</a></p>
        <p><a class="footer-link" href="/case-studies/slate/">Deutschland</a></p>
        <p><a class="footer-link" href="/case-studies/slate/">TEL: +49 (6438) 9198992</a></p>
        </div>
    </div>
    <div class="appcard">
        <p><a class="footer-link" href="https://itunes.apple.com/de/app/instarvision/id413109553?mt=8"><amp-img src="/images/appstore_iphone.png" width="132" height="39"></amp-img></a></p>
        <p><a class="footer-link" href="https://play.google.com/store/apps/details?id=de.instar.vision&hl=de"><amp-img src="/images/appstore_android.png" width="132" height="39"></amp-img></a></p>
        <p><a class="footer-link" href="https://www.microsoft.com/de-de/store/p/instarvision/9nblggh10wtp"><amp-img src="/images/appstore_windows.png" width="132" height="39"></amp-img></a></p>
    </div>
    </div>
    <!--<div class="footer-card card-view">
        <div class="footer-card-content">
        <a href="/case-studies/slate/"><h class="footer-heading" class="card__title">INSTAR APPS</h></a>
        <p><a href="https://itunes.apple.com/de/app/instarvision/id413109553?mt=8"><amp-img src="/images/appstore_iphone.png" width="132" height="39"></amp-img></a></p>
        <p><a href="https://play.google.com/store/apps/details?id=de.instar.vision&hl=de"><amp-img src="/images/appstore_android.png" width="132" height="39"></amp-img></a></p>
        <p><a href="https://www.microsoft.com/de-de/store/p/instarvision/9nblggh10wtp"><amp-img src="/images/appstore_windows.png" width="132" height="39"></amp-img></a></p>
        </div>
    </div>-->
   </div>


<!--<div class="container container-footer">
 <table>
  <tbody>
    <tr>
      <th><p> INFORMATIONEN</p></th>
      <th><p> WARUM BEI UNS KAUFEN</p></th>
      <th><p> KONTAKT</p></th>
      <th><p> APPS</p></th>
    </tr>
    <tr>
      <td><a href="http://www.instar.de/news/index" target="_blank">Neuigkeiten</a></td>
      <td><a href="http://www.instar.de/news/index" target="_blank">Kundenservice</a></td>
      <td><a href="http://www.instar.de/news/index" target="_blank">RAIFFEISENSTRASSE 12</a></td>
      <td><a href="https://itunes.apple.com/de/app/instarvision/id413109553?mt=8"><amp-img src="/images/appstore_iphone.png" width="132" height="39"></amp-img></a>
    </tr>
    <tr>
      <td><a href="http://www.instar.de/news/index" target="_blank">Häufige Fragen</a></td>
      <td><a href="http://www.instar.de/news/index" target="_blank">Sichere Zahlungsarten</a></td>
      <td><a href="http://www.instar.de/news/index" target="_blank">65510 HÜNSTETTEN</a></td>
      <td><a href="https://play.google.com/store/apps/details?id=de.instar.vision&hl=de"><amp-img src="/images/appstore_android.png" width="132" height="39"></amp-img></a></td>
    </tr>
    <tr>
      <td><a href="http://www.instar.de/news/index" target="_blank">Kundenforum</a></td>
      <td><a href="http://www.instar.de/news/index" target="_blank">Sicheres Einkaufen</a></td>
      <td><a href="http://www.instar.de/news/index" target="_blank">Deutschland</a></td>
      <td><a href="https://www.microsoft.com/de-de/store/p/instarvision/9nblggh10wtp"><amp-img src="/images/appstore_windows.png" width="132" height="39"></amp-img></a></td>
    </tr>
    <tr>
      <td><a href="http://www.instar.de/news/index" target="_blank">Downloads</a></td>
      <td><a href="http://www.instar.de/news/index" target="_blank">Händler & Partner</a></td>
      <td><a href="http://www.instar.de/news/index" target="_blank">TEL: +49 (6438) 9198992</a></a></td>
    </tr>
  </tbody>
 </table>
</div>-->
