<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap mobile-down">
          <div class="content">
              <section class="hero internetAccess">
                  <div class="container">
                      <div class="row">
                          <div class="six columns">
                              <div class="intro-container">
                                  <h1 itemprop="name">Alarm Funktion</h1>
                                  <p class="intro">
                                      <strong>Alarm Benachrichtigung</strong><br><br>
                                      Die Bewegungserkennung funktionert durch einen Vergleich zwischen den einzelnen Bildern, die Kamera vergleicht also das letzte Bild mit dem neuesten Bild. Das hat zum einen den Effekt, das die Kamera Unterschiede in der Helligkeit der Bilder erkennt, als auch Personen und Objekte, die sich durch das Bild bewegen. Mit der Sensibilität können Sie einstellen, wieviel Prozent eines Bilds sich verändern muss, damit die Kamera einen Alarm auslöst.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

        <div class="wrap">
            <div class="container main">

              <% include ../_partials/content/_bluenav-general.ejs %>

                  <article itemscope itemtype="http://schema.org/Article" class="blade wrapper content">
                      <!-- article -->

                    <div>
                      <table class="no-highlight">
                        <tr>
                          <td>
                            <a href="/Motion_Detection/Alarm_Notification/"><button class="btn">1080p Serie</button></a>
                          </td>
                          <td>
                            <a href="/Motion_Detection/Alarm_Notification/720p_Series/"><button class="btn">720p Serie</button></a>
                          </td>
                          <td>
                            <a href="/Motion_Detection/Alarm_Notification/Troubleshooting/"><button class="btn btnRed">Troubleshooting</button></a>
                          </td>
                        </tr>
                      </table>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h2>VGA Kamera Serie</h2>
                        <p>Einrichten und Aktivieren des E-Mail Alarms</p>
                        <h3>Schritt 1</h3>
                        <p>
                          Damit Ihre Kamera Ihnen Bilder per E-Mail versenden kann, müssen Sie die Daten Ihres E-Mail Providers in die Kamera eintragen. Dies können Sie in der Weboberfläche Ihrer IP Kamera unter <strong>Alarm</strong> -> <strong>Email Menü</strong> machen.<br/><br/>
                          Auf der rechten Seite müssen Sie nun die folgenden Daten eingeben:
                        </p>
                        <ul>
                          <li><strong>Sender</strong>: Bitte geben Sie Ihre E-Mail Adresse ein. Dies kann dieselbe Adresse sein als der Empfänger.</li>
                          <li><strong>Empfänger</strong>: Bitte geben Sie die E-Mail Adresse an, die die Alarm Nachricht erhalten soll.</li>
                          <li><strong>SMTP Server</strong>: Hier müssen Sie den SMTP Server Ihres E-Mail Providers angeben. Meistens können Sie diese Daten auf der Webseite Ihres E-Mail Providers finden. Ansonsten finden Sie <a href="/Motion_Detection/Alarm_Notification/SMTP_Servers/">HIER</a> eine Liste.</li>
                          <li><strong>SMTP Port</strong>: Geben Sie den Port an, den Ihr E-Mail Provider verwendet. Normalerweise ist das entweder Port 25, 465 oder 587. Transport Layer Security Protocol: Dies benötigen Sie nur wenn Sie Gmail als E-Mail Provider nutzen. Bitte wählen Sie entweder TLS oder STARTTLS, je nachdem was sie benutzen.</li>
                          <li><strong>Authentifizierung benötigt</strong>: Dies muss für fast alle E-Mail Server aktiviert sein, sodass Sie sich mit Ihrem Benutzernamen und Passwort identifizieren können.</li>
                          <li><strong>SMTP Benutzername</strong>: Bitte geben Sie den Benutzernamen Ihres Accounts an.</li>
                          <li><strong>SMTP Passwort</strong>: Bitte geben Sie das Passwort Ihres Accounts an.</li>
                          <li><strong>Report Internet IP per Mail</strong>: Diese Funktion kann normalerweise aktiviert werden. Wenn dieser Service aktiviert ist, sendet Ihnen die Kamera immer die aktuelleste Internet IP Adresse. Der ISP wechselt alle 24h Ihre IP Adresse, Sie erhalten also von der Kamera immer die neueste Adresse. Seit die Kamera einen integrierten DDNS Service bietet, wird diese Funktion eigentlich nicht mehr benötigt.</li>
                        </ul>
                        <p>Speichern Sie bitte nun alle Einstellungen mit <strong>Bestätigen</strong>. Wir empfehlen, nach dem Bestätigen, auf <strong>Test</strong> zu klicken, um zu sehen ob die eingegebenen Daten korrekt sind.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:Email_Einstellungen_MJPEG_01_EN"
                          role="button"
                          tabindex="0"
                          src="/images/Motion_Detection/Email_Einstellungen_MJPEG_01_EN.jpg" width="700" height="415" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Schritt 2</h3>
                        <p>Nachdem Sie nun alle E-Mail Einstellungen gespeichert haben, müssen Sie noch den E-Mail Alarm aktivieren, wenn eine Bewegung erkannt wurde. Dazu klicken Sie bitte auf <strong>Alarm</strong> und wählen <strong>Alarm</strong> im Untermenü. Im nächsten Fenster setzen Sie bitte <strong>Bewegungserkennung</strong> und <strong>Sende E-Mail</strong> (siehe unten). Danach wählen Sie bitte <strong>Bestätigen</strong> um die Einstellungen zu speichern.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:Email_Einstellungen_MJPEG_02_EN"
                          role="button"
                          tabindex="0"
                          src="/images/Motion_Detection/Email_Einstellungen_MJPEG_02_EN.jpg" width="700" height="415" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Wenn Ihre Kamera eine Bewegung erkennt, werden Sie nun mit einer E-Mail informiert, in der 6 Bilder als Anhang mitgesendet werden.<br/><br/><u><strong>Notiz</strong>:</u> Bitte merken Sie sich, dass die Kamera nicht unterscheiden kann, ob es sich bei der Bewegung um einen Mensch, heftigen Regen oder schnelle Lichtveränderungen handelt. Abhängig von der Anzahl der Fehlalarme, die Sie erhalten, können Sie die Sensibilität ein wenig verändern. (1= unsensibel and 10= sehr sensibel) .</p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->

                <!-- ###################### Lightboxes ######################## -->

                <amp-image-lightbox id="Email_Einstellungen_MJPEG_01_EN" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Email_Einstellungen_MJPEG_02_EN" layout="nodisplay"></amp-image-lightbox>

            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
