<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap mobile-down">
          <div class="content">
              <section class="hero internetAccess">
                  <div class="container">
                      <div class="row">
                          <div class="six columns">
                              <div class="intro-container">
                                  <h1 itemprop="name">Alarm Funktion</h1>
                                  <p class="intro">
                                      <strong>Alarm Benachrichtigung</strong><br><br>
                                      Die Bewegungserkennung funktionert durch einen Vergleich zwischen den einzelnen Bildern, die Kamera vergleicht also das letzte Bild mit dem neuesten Bild. Das hat zum einen den Effekt, das die Kamera Unterschiede in der Helligkeit der Bilder erkennt, als auch Personen und Objekte, die sich durch das Bild bewegen. Mit der Sensibilität können Sie einstellen, wieviel Prozent eines Bilds sich verändern muss, damit die Kamera einen Alarm auslöst.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

        <div class="wrap">
            <div class="container main">

              <% include ../_partials/content/_bluenav-general.ejs %>

                  <article itemscope itemtype="http://schema.org/Article" class="blade wrapper content">
                    <% include ../_partials/amp/_schemaArticle.ejs %>

                    <div>
                      <table class="no-highlight">
                        <tr>
                          <td>
                            <a href="/Motion_Detection/Alarm_Notification/720p_Series/"><button class="btn">720p Serie</button></a>
                          </td>
                          <td>
                            <a href="/Motion_Detection/Alarm_Notification/VGA_Series/"><button class="btn">VGA Serie</button></a>
                          </td>
                          <td>
                            <a href="/Motion_Detection/Alarm_Notification/Troubleshooting/"><button class="btn btnRed">Troubleshooting</button></a>
                          </td>
                        </tr>
                      </table>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h2>1080p Kamera Serie</h2>
                        <p>Einrichten und Aktivieren des E-Mail Alarms.</p>
                        <h3>Schritt 1</h3>
                        <p>
                          Öffnen Sie zuerst die <a href="/Web_User_Interface/1080p_Series/System/Email/">Email Einstellungen</a> in der Weboberfläche Ihrer Kamera. INSTAR bietet Ihnen einen Email Ausgangsserver zum - <em>TLS verschlüsselten</em> - Email Versand an Ihre persönliche Email Adresse. Um diesen zu nutzen, wählen Sie einfach das <strong>INSTAR SMTP Preset</strong> aus dem SMTP Vorauswahl Menü aus und bestätigen Sie die Einstellungen. Wechseln Sie danach auf den Empfänger Tab um Ihre persönliche EMail Adresse, einen Email Betreff und Text einzugeben - <strong>Fertig</strong>!<br><br>
                          Natürlich können Sie auch den SMTP Server Ihres persönlichen EMail Anbieters nutzen. Sie finden eine Reihe von gängigen Anbieter im Vorauswahl Menü - und eine längere Liste <a href="/Motion_Detection/Alarm_Notification/SMTP_Servers/" target="_blank">hier</a>. Verifizieren Sie bitte diese Daten auf der Homepage Ihres Anbieters und werfen Sie einen Blick in unsere <a href="/Motion_Detection/Alarm_Notification/Troubleshooting/">Troubleshooting Anleitung</a>, sollten Sie auf Schwierigkeiten stoßen.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:Alarm_Notification_1080p_01"
                          role="button"
                          tabindex="0"
                          src="/images/Motion_Detection/Alarm_Notification_1080p_01.png" width="600" height="539" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <p>Wenn Sie das <strong>INSTAR SMTP Preset</strong> aus dem SMTP Vorauswahl Menü auswählen, werden diese Felder automatisch für Sie ausgefüllt - ansonsten:</p>
                      <ul>
                        <li><strong>SMTP Server</strong>: Geben Sie hier den SMTP Server Ihres E-Mail Provider ein. Meistens können Sie die Daten auf der Webseite Ihres E-Mail Providers finden. Ansonsten finden Sie <a href="/Motion_Detection/Alarm_Notification/SMTP_Servers">Hier</a> eine Liste.</li>
                        <li><strong>SMTP Port</strong>: Geben Sie den Port an, den Ihr E-Mail Provider nutzt. Normalerweise ist das Port 25, 465 oder 587.</li>
                        <li><strong>Verschlüsselung</strong>: Aktivieren Sie diese Option wenn Ihr Account SSL-Verschlüsselung nutzt.</li>
                        <li><strong>Authentifizierung</strong>: Für fast alle E-Mail Server muss dies auf Authentifizierung gesetzt werden, sodass Sie sich mit Ihrem Benutzernamen und Passwort identifizieren können.</li>
                        <li><strong>Benutzername</strong>: Bitte geben Sie den Benutzernamen Ihres E-Mail Accounts an.</li>
                        <li><strong>Kennwort</strong>: Bitte geben Sie das Passwort Ihres E-Mail Accounts an.</li>
                      </ul>
                      <p>Bitte geben Sie die SMTP-Daten, sowie Ihre persönlichen Login-Daten Ihres E-Mail Accounts ein. Speichern Sie anschließend alle Einstellungen mit <strong>Bestätigen</strong>.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:Alarm_Notification_1080p_02"
                          role="button"
                          tabindex="0"
                          src="/images/Motion_Detection/Alarm_Notification_1080p_02.png" width="600" height="519" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h3>Schritt 2</h3>
                      <p>Wechseln Sie danach auf den Empfänger Tab um Ihre persönliche EMail Adresse, einen Email Betreff und Text einzugeben - Bestätigen Sie die Eingabe und klicken Sie auf Testen.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h3>Schritt 3</h3>
                      <p>Folgen Sie im Anschluß der <a href="/Motion_Detection/Setup/">Bewegungserkennung Einrichtung</a> um bei einem Alarm-Ereignis per Email benachrichtigt zu werden.</p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->

                <!-- ###################### Lightboxes ######################## -->

                <amp-image-lightbox id="Alarm_Notification_1080p_01" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Alarm_Notification_1080p_02" layout="nodisplay"></amp-image-lightbox>

            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
