<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap">
          <div class="container main">

            <% include ../_partials/content/_bluenav-general.ejs %>

                <article itemscope itemtype="http://schema.org/Article" class="blade wrapper content">
                  <% include ../_partials/amp/_schemaArticle.ejs %>

                    <h1 itemprop="name">FTP Einstellungen für den Alarm Upload</h1>

                    <div class="margin">
                      <table class="no-highlight">
                        <tr>
                          <td>
                            <button type="button" disabled class="btn btnDisabled">1080p Series</button>
                          </td>
                          <td>
                            <a href="/Motion_Detection/Alarm_FTP_Upload/720p_Series/"><button type="button" class="btn">720p Serie</button></a>
                          </td>
                          <td>
                            <a href="/Motion_Detection/Alarm_FTP_Upload/VGA_Series/"><button type="button" class="btn">VGA Serie</button></a>
                          </td>
                        </tr>
                      </table>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h2>1080p Kamera Serie</h2>
                        <p>
                          <strong>Einrichten der FTP Einstellungen für Alarm und Fotoserie</strong></br>Ihre Kamera kann sowohl im Alarmfall als auch in einem frei definierbaren Zeitintervall Standbilder und Videos auf einen FTP Server hochladen. Die hierfür notwendigen Einstellungen können in der Weboberfläche der Kamera unter dem Punkt <a href="/Web_User_Interface/1080p_Series/Network/FTP/">Netzwerk / FTP</a>, <a href="/Web_User_Interface/1080p_Series/Alarm/Actions/">Alarm / Aktionen</a> oder <a href="/Web_User_Interface/1080p_Series/Recording/Photoseries/">Aufnahme / Fotoserie</a> vorgenommen werden.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox00"
                          role="button"
                          tabindex="0"
                          src="/images/Motion_Detection/Alarm_FTP_1080p_01.png" width="600" height="429" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>
                          Folgen Sie im Anschluß der <a href="/Motion_Detection/Setup/">Bewegungserkennung Einrichtung</a> um bei einem Alarm-Ereignis einen FTP Upload zu erhalten.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <table>
                        <tr>
                           <th width="20%"><strong>FTP Server</strong></th>
                             <td>Bitte geben Sie die Adresse Ihres FTP Servers ein. Im Beispiel oben haben wir eine AVM Fritzbox (Router) als FTP Server genutzt. Der Router bietet einen USB Stick als Speicherplatz für die Bilder. In unserem Fall müssen wir die IP Adresse unseres Routers eingeben. Falls Sie Ihren eigenen FTP Server auf Ihrem lokalen Rechner einrichten möchten, finden Sie hier eine passende Schritt-für-Schritt Anleitung. Sie können auch eine Webadresse als FTP Server angeben. Dies kann entweder ein Online-Service sein oder eine DDNS-Adresse die auf einen anderen FTP Server verweist.</td>
                          </tr>
                          <tr>
                             <th width="20%"><strong>FTP Port</strong></th>
                             <td>Bitte geben Sie den FTP Port ein, welcher normalerweise 21 ist.</td>
                          </tr>
                          <tr>
                             <th width="20%"><strong>Speicherpfad</strong></th>
                             <td>Geben Sie den Ordner an, in den die Bilder hochgeladen werden sollen. Standardmäßig ist der Ordner "./" , was die Bilder in den Root-Ordner des Servers hochladen würde. In unserem Beispiel oben werden die Bilder im Root-Ordner gespeichert.</td>
                          </tr>
                          <tr>
                             <th width="20%"><strong>Benutzername</strong></th>
                             <td>Bitte geben Sie den Benutzernamen Ihres FTP-Accounts an. Der Standard-Benutzername der AVM Fritzbox ist "ftpuser".</td>
                          </tr>
                          <tr>
                             <th width="20%"><strong>Kennwort</strong></th>
                             <td>Bitte geben Sie das Passwort Ihres FTP-Accounts an.</td>
                          </tr>
                          <tr>
                             <th width="20%"><strong>Modus</strong></th>
                             <td>Hier können Sie zwischen (PASV) und dem aktiven Modus (PORT) wählen. Der Standardmodus ist PORT mit der die Kamera dem Server Ihre IP-Adresse und Port mitteilt. Dieser Modus funktioniert auch mit passiven FTP-Servern. Wenn sich der Client hinter einem Router befindet, der NAT benutzt, oder eine Firewall die Verbindung blockiert, sollte der PASV-Modus verwendet werden.</td>
                          </tr>
                        </table>

                        <p>Als nächstes Bestätigen Sie bitte alle Einstellungen und testen Sie danach, um sicherzustellen das alle Einstellungen korrekt sind.</p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->

                <!-- ###################### Lightboxes ######################## -->

                <amp-image-lightbox id="lightbox00" layout="nodisplay"></amp-image-lightbox>

            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
