<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap mobile-down">
          <div class="content">
              <section class="hero internetAccess">
                  <div class="container">
                      <div class="row">
                          <div class="six columns">
                              <div class="intro-container">
                                  <h1 itemprop="name">Alarm Funktion</h1>
                                  <p class="intro">
                                      <strong>Alarm Benachrichtigung</strong><br><br>
                                      Die Bewegungserkennung funktionert durch einen Vergleich zwischen den einzelnen Bildern, die Kamera vergleicht also das letzte Bild mit dem neuesten Bild. Das hat zum einen den Effekt, das die Kamera Unterschiede in der Helligkeit der Bilder erkennt, als auch Personen und Objekte, die sich durch das Bild bewegen. Mit der Sensibilität können Sie einstellen, wieviel Prozent eines Bilds sich verändern muss, damit die Kamera einen Alarm auslöst.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

        <div class="wrap">
            <div class="container main">

              <% include ../_partials/content/_bluenav-general.ejs %>

                  <article itemscope itemtype="http://schema.org/Article" class="blade wrapper content">
                      <!-- article -->

                    <div>
                      <table class="no-highlight">
                        <tr>
                          <td>
                            <a href="/Motion_Detection/Alarm_Notification/"><button class="btn">1080p Serie</button></a>
                          </td>
                          <td>
                            <a href="/Motion_Detection/Alarm_Notification/VGA_Series/"><button class="btn">VGA Serie</button></a>
                          </td>
                          <td>
                            <a href="/Motion_Detection/Alarm_Notification/Troubleshooting/"><button class="btn btnRed">Troubleshooting</button></a>
                          </td>
                        </tr>
                      </table>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h2>720p Kamera Serie</h2>
                        <p>Einrichten und Aktivieren des E-Mail Alarms.</p>
                        <h3>Schritt 1</h3>
                        <p>
                          Damit die Kamera Ihnen Bilder per E-Mail schicken kann, müssen Sie die Daten Ihres E-Mail Providers in die Kamera eintragen. Dies können Sie in der Weboberfläche unter <strong>Alarm</strong> -> <a href="/Motion_Detection/Alarm_Notification/SMTP_Servers/">SMTP Server</a> machen.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:Email_Einstellungen_HD_01_EN"
                          role="button"
                          tabindex="0"
                          src="/images/Motion_Detection/Email_Einstellungen_HD_01_EN.jpg" width="700" height="397" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>In der sich öffnenden Oberfläche müssen Sie nun die folgenden Daten eingeben:</p>
                        <ul>
                          <li><strong>SMTP Server</strong>: Geben Sie hier den SMTP Server Ihres E-Mail Provider ein. Meistens können Sie die Daten auf der Webseite Ihres E-Mail Providers finden. Ansonsten finden Sie <a href="/Motion_Detection/Alarm_Notification/SMTP_Servers">HIER</a> eine Liste.</li>
                          <li><strong>SMTP Port</strong>: Geben Sie den Port an, den Ihr E-Mail Provider nutzt. Normalerweise ist das Port 25, 465 oder 587.</li>
                          <li><strong>SSL</strong>: Aktivieren Sie diese Option wenn Ihr Account SSL-Verschlüsselung nutzt.</li>
                          <li><strong>SMTP Login Typ</strong>: Für fast alle E-Mail Server muss dies auf Authentifizierung gesetzt werden, sodass Sie sich mit Ihrem Benutzernamen und Passwort identifizieren können.</li>
                          <li><strong>SMTP Benutzername</strong>: Bitte geben Sie den Benutzernamen Ihres E-Mail Accounts an.</li>
                          <li><strong>SMTP Passwort</strong>: Bitte geben Sie das Passwort Ihres E-Mail Accounts an.</li>
                        </ul>
                        <p>Bitte geben Sie die SMTP-Daten, sowie Ihre persönlichen Login-Daten Ihres E-Mail Accounts ein. Speichern Sie anschließend alle Einstellungen mit<strong> Bestätigen</strong>.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:Email_Einstellungen_HD_02_EN"
                          role="button"
                          tabindex="0"
                          src="/images/Motion_Detection/Email_Einstellungen_HD_02_EN.jpg" width="470" height="580" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Schritt 2</h3>
                        <p>
                          Als nächsten öffnen Sie bitte die <a href="/Web_User_Interface/HD_Series/Alarm/Email/">Alarm / Email Oberfläche</a> um den Sender und den Empfänger der Alarm E-Mails einzustellen.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:Email_Einstellungen_HD_03_EN"
                          role="button"
                          tabindex="0"
                          src="/images/Motion_Detection/Email_Einstellungen_HD_03_EN.jpg" width="700" height="397" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Bitte geben Sie alle benötigten Daten ein:</p>
                        <ul>
                          <li><strong>Sender</strong>: Bitte geben Sie Ihre E-Mail Adresse ein. Dies kann dieselbe Adresse sein als der Empfänger.</li>
                          <li><strong>Empfänger</strong>: Bitte geben Sie die E-Mail Adresse an, die die Alarm Nachricht erhalten soll.</li>
                          <li><strong>Email Betreff</strong>: Der Betreff der in jeder E-Mail verwendet wird.</li>
                          <li><strong>Email Text</strong>: Wird zusammen mit den Bildern in jeder E-Mail angezeigt.</li>
                        </ul>
                        <p>Zum Speichern aller Einstellungen bitte auf Bestätigen klicken. Jetzt können Sie die Einstellungen testen.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:Email_Einstellungen_HD_04_EN"
                          role="button"
                          tabindex="0"
                          src="/images/Motion_Detection/Email_Einstellungen_HD_04_EN.jpg" width="470" height="580" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Schritt 3</h3>
                        <p>
                          Um im Alarmfall E-Mails zu erhalten, müssen Sie die Bewegungserkennung in Ihrer Kamera aktivieren und auswählen was die Kamera im Alarmfall tun soll. Alle benötigten Einstellungen werden <a href="/Motion_Detection/Setup">HIER</a> erklärt.
                        </p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->

                <!-- ###################### Lightboxes ######################## -->

                <amp-image-lightbox id="Email_Einstellungen_HD_01_EN" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Email_Einstellungen_HD_02_EN" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Email_Einstellungen_HD_03_EN" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Email_Einstellungen_HD_04_EN" layout="nodisplay"></amp-image-lightbox>

            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
