<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Motion_Detection/Alarm_Recording/">
    </head>

    <body class="home">

      <header class="fixed">
          <% include ../_partials/amp/_amp-header.ejs %>
      </header>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero internetAccess">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>Bewegungserkennung</h1>
                                    <h3>Alarm Aufzeichnung</h3>
                                    <p class="intro">
                                      Um unter Windows Vista / 7 / 8 aufzuzeichnen müssen Sie die IP Adresse Ihrer Kamera zu den vertrauenswürdigen Seiten hinzufügen. Dafür gehen Sie bitte im Internet Explorer unter Tools - Internetoptionen - Sicherheit - Vertrauenswürdige Seiten - Seiten um die IP Adresse Ihrer Kamera hinzuzufügen. Sie müssen den Haken unter Benötigte Server Verifizierung (https:) für alle Seiten in dieser Zone entfernen, sodass Sie die IP als http eintragen können. Danach geben Sie bitte die IP-Adresse in der Adressleiste Ihres Webbrowsers ein und Sie sollten dementsprechend den<a href="/Web_User_Interface/HD_Series/Video_Menu_Bar/">Pfad aufzeichnen</a> können. Falls Sie den Pfad immer noch nicht aufzeichnen können, stellen Sie bitte sicher, dass Sie den Internet Explorer mit Administratorrechten gestartet haben.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

        <div class="wrap">
            <div class="container main">
              <% include ../_partials/content/_bluenav-md.ejs %>

                <article>
                    <!-- article -->

                    <div class="margin">
                        <h2>HD Kamera Serie</h2>
                        <h3>Schritt 1</h3>
                        <p>
                          Öffnen Sie die Weboberfläche im Internet Explorer und klicken Sie auf <a href="/Web_User_Interface/HD_Series/Video_Menu_Bar/">Pfad Einstellungen</a> auf der rechten unteren Seite.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img on="tap:lightbox1" role="button" tabindex="0" src="/images/Speicherpfad_Aufnahmen_im_IE_HD_01_EN.jpg" width="700" height="393" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <amp-lightbox id="lightbox1" layout="nodisplay">
                          <div class="lightbox" on="tap:lightbox1.close" role="button" tabindex="0" class="centered">
                              <amp-img on="tap:lightbox1.close" role="button" tabindex="0" src="/images/Speicherpfad_Aufnahmen_im_IE_HD_01_EN.jpg" width="700" height="393" layout="responsive" class="shadow"></amp-img>
                          </div>
                      </amp-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Schritt 2</h3>
                        <p>
                          Wählen Sie den Pfad aus, in denen die Aufnahmen gespeichert werden sollen.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img on="tap:lightbox2" role="button" tabindex="0" src="/images/Speicherpfad_Aufnahmen_im_IE_HD_02_EN.jpg" width="320" height="333" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <amp-lightbox id="lightbox2" layout="nodisplay">
                          <div class="lightbox" on="tap:lightbox2.close" role="button" tabindex="0" class="centered">
                              <amp-img on="tap:lightbox2.close" role="button" tabindex="0" src="/images/Speicherpfad_Aufnahmen_im_IE_HD_02_EN.jpg" width="320" height="333" layout="responsive" class="shadow"></amp-img>
                          </div>
                      </amp-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Schritt 3</h3>
                        <p>
                          Wenn Sie auf <strong>Aufnehmen</strong> klicken, können Sie die Aufnahme starten. Das Wort <strong>Aufnahme</strong> wird in Rot dargestellt, sobald die Aufnahme gestartet ist. Zusätzlich wird <strong>Rec</strong> unter dem Video aufblinken. Ein weiterer Klick auf <strong>Aufnehmen</strong> wird das Aufnehmen beenden.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img on="tap:lightbox3" role="button" tabindex="0" src="/images/Speicherpfad_Aufnahmen_im_IE_HD_03_EN.jpg" width="700" height="394" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <amp-lightbox id="lightbox3" layout="nodisplay">
                          <div class="lightbox" on="tap:lightbox3.close" role="button" tabindex="0" class="centered">
                              <amp-img on="tap:lightbox3.close" role="button" tabindex="0" src="/images/Speicherpfad_Aufnahmen_im_IE_HD_03_EN.jpg" width="700" height="394" layout="responsive" class="shadow"></amp-img>
                          </div>
                      </amp-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p><strong>INFORMATIONEN ÜBER AUFNAHMEN</strong>: Die Aufnahmen während einer Bewegungserkennung können nur auf einer SD Karte in der Kamera gespeichert werden. Der Aufnahmenmodus wie oben beschrieben ist nur für manuelle Aufnahmen. Die Aktion, die eine Kamera starten soll, wenn eine Bewegung erkannt wird, können Sie unter der <a href="/Web_User_Interface/HD_Series/Alarm/Actions/">Alarm / Aktionen Oberfläche</a> einstellen.</p>
                        <p>Sie können das Video auch mit unserer zusätzlichen Software <a href="/Software/Windows/InstarVision">InstarVision</a> aufnehmen oder ein anderes Tool benutzen: <a href="/Products/Software">Drittanbieter Software</a>. Wenn Sie <a href="/Software/Other_Platforms/QNAP">QNAP</a> oder <a href="/Software/Other_Platforms/Synology">Synology Disk Station</a> verwenden, können Sie Kamera auch einfach in die Überwachungs Software in der Disk Station einbinden.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h2>VGA Kamera Serie</h2>
                        <p>
                          Die Kamera verwendet ein ActiveX Plugin um Videos aufzunehmen... dies unterstützt derzeit nur der Internet Explorer. Das ist der Grund, warum die Video-Aufnahmen nur mit einem Windows-PC möglich ist. Der Aufnahme Pfad kann unter <strong>Alarm/Pfad</strong> gesetzt werden und das Aufnehmen durch klicken auf <strong>Aufnehmen</strong> über dem Kamera Live Video gestartet werden.<br/><br/>

                          Um unter Windows Vista / 7 / 8 aufzuzeichnen müssen Sie die IP Adresse Ihrer Kamera zu den vertrauenswürdigen Seiten hinzufügen. Dafür gehen Sie bitte im Internet Explorer unter Tools - Internetoptionen - Sicherheit - Vertrauenswürdige Seiten - Seiten um die IP Adresse Ihrer Kamera hinzuzufügen. Sie müssen den Haken unter Benötigte Server Verifizierung (https:) für alle Seiten in dieser Zone entfernen, sodass Sie die IP als http eintragen können. Danach geben Sie bitte die IP-Adresse in der Adressleiste Ihres Webbrowsers ein und Sie sollten dementsprechend den<a href="/Web_User_Interface/HD_Series/Video_Menu_Bar/">Pfad aufzeichnen</a> können. Falls Sie den Pfad immer noch nicht aufzeichnen können, stellen Sie bitte sicher, dass Sie den Internet Explorer mit Administratorrechten gestartet haben.

                          Das Aufnehmen mit 1 Bild pro Sekunde ist mit FTP Upload möglich. Die Kamera kann bei Alarm jede Sekund ein Bild hochladen. Alles was Sie dazu brauchen ist ein FTP Server oder eine ans Netzwerk angeschlossene HDD, die Sie ebenfalls über FTP erreichen können. Sie können das Video auch mit unserer zusätzlichen Software <a href="/Software/Windows/InstarVision">InstarVision</a> oder einer anderen <a href="/Products/Software">Drittanbieter Software</a> aufnehmen. Wenn Sie <a href="/Software/Other_Platforms/QNAP">QNAP</a> oder die <a href="/Software/Other_Platforms/Synology">Synology Disk Station</a> verwenden können Sie auch einfach die Kamera in die Überwachungssoftware in der Disk Station einbinden.
                        </p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->
            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <section class="blade blog mobile-down">

            <div class="container wider">
                <div class="row">
                    <div class="twelve columns">
                        <h1>Verwandte Themen:</h1>
                    </div>
                </div>

                <div class="tab-container">

                    <a class="tab" href="/Quick_Installation/First_Steps">
                        <h3>Erste Schritte um Ihre INSTAR IP Camera zu installieren</h3>
                        <div class="subtitle">Einfach</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/After_Unpacking">
                        <h3>Nach dem Auspacken Ihrer INSTAR IP Camera</h3>
                        <div class="subtitle">Einfach</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/Direct_LAN_Connection">
                        <h3>Verbinden Sie Ihre Kamera direkt mit Ihrem Computer</h3>
                        <div class="subtitle">Mittel</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/WebUI_And_Firmware_Upgrade">
                        <h3>Wie Sie die Firmware und Benutzeroberfläche Ihrer Kamera ändern können</h3>
                        <div class="subtitle">Mittel</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/Set_Up_A_Wireless_Connection">
                        <h3>Wie Sie Ihre Kamera mit dem WLAN verbinden</h3>
                        <div class="subtitle">Mittel</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/Creating_User_Accounts">
                        <h3>Ändern Sie den Standard-Login Ihrer Kamera</h3>
                        <div class="subtitle">Einfach</div>
                    </a>
                </div>

                <a href="/Quick_Installation/" target="_blank">Mehr ansehen</a>

            </div>
        </section>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
