<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Motion_Detection/Router_as_a_FTP_Server/AVM_Fritzbox_as_FTP_Server/">
    </head>

    <body class="home">

      <header class="fixed">
          <% include ../_partials/amp/_amp-header.ejs %>
      </header>

        <div class="wrap">
            <div class="container main">

                <article>
                    <!-- article -->

                    <div class="margin">
                        <h1>AVM Fritzbox als FTP-Server</h1>
                        <amp-youtube
                            data-videoid="VVdwTzHIo-8"
                            layout="responsive"
                            width="1280" height="720">
                        </amp-youtube>
                        <p>
                          Im folgenden möchten wir beschreiben, wie man eine AVM Fritzbox 7490 als FTP-Server verwendet. Die Screenshots zeigen zwar nur die AVM Benutzeroberfläche, die meisten Schritte können allerdings auch auf anderen Routern durchgeführt werden. Sie benötigen jedes Mal einen FTP Benutzer und die dazugehörigen Zugriffsrechte im Router. Tippen Sie danach die FTP Benutzerdaten und das dazugehörige FTP Verzeichnis in der Weboberfläche Ihrer Kamera ein.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h2>Ein Upload Verzeichnis anlegen</h2>
                        <p>
                          Als erstes müssen Sie ein Upload Verzeichnis für Ihre Kamera anlegen. Schließen Sie ein USB-Speichergerät an den USB-Port Ihres Routers an. Im Fall der Fritzbox klicken Sie einfach oben auf FritzNAS, um das Storage Dashboard zu öffnen. Bei anderen Routern wird empfohlen den FTP Zugang mit einem FTP Client zu prüfen, dazu können Sie zum Beispiel den <a href="https://filezilla-project.org/download.php?type=client">Filezilla Client</a> nutzen, oder aber einfach <span class="code">ftp://[IP of your router]:21</span> in die Adresszeile Ihres Standardbrowsers einzutippen. Nutzen Sie den zuvor erstellten Kamera Login um den Storage zu prüfen. Falls Sie Firefox nutzen, können Sie eine FTP Erweiterung nutzen, wie zum Beispiel <a href="https://addons.mozilla.org/en-US/firefox/addon/fireftp/">FireFTP</a> um ein Verzeichnis zu erstellen, dass die Kamera für den Upload nutzen soll.
                        </p>
                        <p>
                          Im FritzNAS Storage Dashboard, wechseln Sie zu Ihrem externen Speicher(in unserem Fall ein ADATA USB-Stick), klicken Sie oben auf Neuer Ordner und erstellen Sie für Ihre Kamera einen neuen Ordner. Behalten Sie sich den Pfad, da wir Ihn im nächsten Schritt in der Weboberfläche der Kamera wieder benötigen. Seien Sie vorsichtig und löschen Sie nicht den Fritz Ordner, der durch Ihren Router erstellt wurde - wenn Sie das tun, kann Ihr USB-Stick nicht mehr verwendet werden, Sie müssen den USB-Stick dann einmal abziehen und wieder einstecken!
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <div>
                            <amp-img on="tap:lightbox1" role="button" tabindex="0" src="/images/FTP-Fritzbox-7490de_04.png" width="1018" height="378" layout="responsive" class="shadow"></amp-img>
                        </div>
                        <p>
                          Fügen Sie ein Verzeichnis auf Ihrem externen Storage für Ihre Kamera hinzu.
                        </p>
                        <amp-lightbox id="lightbox1" layout="nodisplay">
                            <div class="lightbox" on="tap:lightbox1.close" tabindex="0" class="centered">
                                <amp-img on="tap:lightbox1.close" role="button" tabindex="0" src="/images/FTP-Fritzbox-7490de_04.png" width="1018" height="378" layout="responsive" class="shadow"></amp-img>
                            </div>
                        </amp-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h2>Set up a FTP User</h2>
                        <p>
                          Als erstes müssen wir die FTP Einstellungen in Ihrem Router finden. In den meisten Router sieht man die Einstellungen direkt, suchen Sie nach dem Schlagwort FTP. Leider hat AVM bei den neuen Firmwares die Funktion ein bisschen versteckt, was uns etwas Kopfschmerzen bereitet. Die ist auch der Grund warum wir das Beispiel anhand einer Fritzbox zeigen. Bei anderen Routern wird die Funktion leichter einzurichten sein.
                        </p>
                        <p>
                          FTP ist jetzt im Fritzbox Benutzer Tab unter System versteckt. Klicken Sie auf Benutzer hinzufügen und geben Sie Ihren Benutzernamen und Ihr Passwort ein. Es wird empfohlen ein sicheres Passwort zu wählen, jedoch keins mit exotischen Sonderzeichen, da es hierbei zu Problemen kommen kann. Insbesondere wenn Sie den FTP Upload nur in Ihrem lokalen Netzwerk verwenden und die Zugriffsrechte über das Internet verbieten. (Zugang aus dem Internet, siehe Screenshot unten). Das einzige, worauf die Kamera Zugriff benötigt, ist das NAS (Zugang zu NAS-Inhalten, siehe unten). Klicken Sie auf Verzeichnis hinzufügen) und erlauben Sie der Kamera auf den Storage zu schreiben.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <div>
                            <amp-img on="tap:lightbox2" role="button" tabindex="0" src="/images/FTP-Fritzbox-7490de_01.png" width="1001" height="981" layout="responsive" class="shadow"></amp-img>
                        </div>
                        <p>
                           Fügen Sie einen FTP Benutzer in Ihrem Router hinzu, sodass die Kamera Zugriff auf Ihr NAS hat.
                        </p>
                        <amp-lightbox id="lightbox2" layout="nodisplay">
                            <div class="lightbox" on="tap:lightbox2.close" tabindex="0" class="centered">
                                <amp-img on="tap:lightbox2.close" role="button" tabindex="0" src="/images/FTP-Fritzbox-7490de_01.png" width="1001" height="981" layout="responsive" class="shadow"></amp-img>
                            </div>
                        </amp-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <div>
                            <amp-img on="tap:lightbox3" role="button" tabindex="0" src="/images/FTP-Fritzbox-7490de_02.png" width="977" height="985" layout="responsive"></amp-img>
                        </div>
                        <p>
                          Wenn Sie Alle an der Fritzbox verfügbaren Speicher wählen, wird der Kamera erlaubt, in jedes Verzeichnis des Routers zu schreiben.
                        </p>
                        <amp-lightbox id="lightbox3" layout="nodisplay">
                            <div class="lightbox" on="tap:lightbox3.close" tabindex="0" class="centered">
                                <amp-img on="tap:lightbox3.close" role="button" tabindex="0" src="/images/FTP-Fritzbox-7490de_02.png" width="977" height="985" layout="responsive" class="shadow"></amp-img>
                            </div>
                        </amp-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>
                          Es ist wichtig, dass die Benutzer-Authentifizierung in Ihrem Router aktiviert ist, ansonsten wird die Kamera nicht in der Lage sein, Bilder in den Storage zu laden. Wie in den Screenshots gezeigt, haben Sie nun einen Administrator zum Management Ihres Routers, als auch einen FTP Benutzer für Ihre Kamera. Sie können zum Tab Anmeldung im Heimnetz wechseln um zu bestätigen, das die Authentifizierung aktiv ist oder nicht... Sie werden es bestimmt schon wissen, da Sie sich schon vorher am Router einloggen mussten. Checken Sie die Screenshots unten für das Beispiel mit einer Fritzbox.
                        </p>
                        </amp-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <div>
                            <amp-img on="tap:lightbox4" role="button" tabindex="0" src="/images/FTP-Fritzbox-7490de_03.png" width="995" height="630" layout="responsive"></amp-img>
                        </div>
                        <p>
                           Bitte stellen Sie sicher, dass Sie auch einen Administrator Profil aktiv gesetzt haben und...
                        </p>
                        <amp-lightbox id="lightbox4" layout="nodisplay">
                            <div class="lightbox" on="tap:lightbox4.close" tabindex="0" class="centered">
                                <amp-img on="tap:lightbox4.close" role="button" tabindex="0" src="/images/FTP-Fritzbox-7490de_03.png" width="995" height="630" layout="responsive" class="shadow"></amp-img>
                            </div>
                        </amp-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <div>
                            <amp-img on="tap:lightbox5" role="button" tabindex="0" src="/images/FTP-Fritzbox-7490de_03-1.png" width="996" height="505" layout="responsive"></amp-img>
                        </div>
                        <p>
                           ...die Benutzer-Authentifizierung aktiv ist - dies ist sehr wichtig und ein häufig auftretender Fehler!
                        </p>
                        <amp-lightbox id="lightbox5" layout="nodisplay">
                            <div class="lightbox" on="tap:lightbox5.close" tabindex="0" class="centered">
                                <amp-img on="tap:lightbox5.close" role="button" tabindex="0" src="/images/FTP-Fritzbox-7490de_03-1.png" width="996" height="505" layout="responsive" class="shadow"></amp-img>
                            </div>
                        </amp-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h2>Richten Sie Ihre Kamera für den FTP Storage ein</h2>
                        <p>
                          Wir können nun unsere Kamera für den FTP Upload bei Alarmfall in unser neues Verzeichnis einrichten. Öffnen Sie die Weboberfläche Ihrer Kamera und navigieren Sie zu ''Alarm/FTP''. Das folgende Menü (siehe zweiter Screenshot unten) muss mit allen Daten, die wir zuvor im Router eingegeben haben, eingerichtet werden:
                        </p>
                        <ul>
                          <li><strong>FTP Server</strong>: Dies ist die IP-Adresse Ihres FTP-Servers. In unserem Fall ist das die IP-Adresse unseres Routers 192.168.178.1. Denken Sie daran, dass die IP-Adressen der Router von Hersteller zu Hersteller unterschiedlich sind. Meistens ist es nur die 3. Zahl die sich verändert - in den meisten Fällen ist es entweder 0, 1, 2 oder im Fall der AVM Fritzbox 178.</li>
                          <li><strong>FTP Port</strong>: Der Standard FTP-Port ist 21.</li>
                          <li><strong>FTP Ordner</strong>: Der FTP Ordner ist das Upload Verzeichnis, das wir auf unserem Router eingerichtet haben. Denken Sie daran, ein / vor den Ordner zu setzen. Wenn Sie die Dateien in den Root-Ordner hochladen möchten, tippen Sie hier einfach ein / ein.</li>
                          <li><strong>FTP Benutzername</strong>: Geben Sie den Benutzernamen ein, den wir im Router festgelegt haben...</li>
                          <li><strong>FTP Passwort</strong>: ... und das dazugehörige Passwort.</li>
                          <li><strong>FTP Modus</strong>: Der Standard-Modus für einen lokalen FTP Server - wird nicht durch eine NAT Firewall geblockt - ist PASV.</li>
                        </ul>
                        <p>
                          Klicken Sie danach auf Bestätigen und testen Sie Ihre Eingaben. Ihre Kamera sollten Ihnen eine Erfolgreich-Info mitteilen und wenn Sie in Ihr Upload-Verzeichnis schauen, sollte ein Snapshot der Kamera enthalten sein. Jetzt können Sie den FTP Upload bei einem Alarm Event aktivieren, um die Kamera die Bilder und Videos auf Ihren FTP-Server hochladen zu lassen.
                        </p>
                        </amp-lightbox>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->
            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <section class="blade get-started">
            <div class="container">
                <div class="row">
                    <div class="twelve columns">
                        <h1>Konfigurieren Sie Ihre Kamera</h1>
                    </div>
                </div>

                <div class="card-container">
                    <div class="card">
                        <div class="image">
                            <amp-img class="shadow" noloading height=190 width=297 layout=responsive src="/images/FTP-Fritzbox-7490de_06.png"></amp-img>
                        </div>
                        <div class="content">
                            <p>Öffnen Sie die Weboberfläche Ihrer Kamera und geben Sie Ihre zuvor eingestellten FTP Server Informationen ein.</p>
                        </div>
                        <div class="action">
                            <h3>Weboberfläche</h3>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <amp-img class="shadow" noloading height=190 width=297 layout=responsive src="/images/FTP-Fritzbox-7490de_07.png"></amp-img>
                        </div>
                        <div class="content">
                            <p>Tippen Sie, wie oben beschrieben, Ihre FTP Login-Daten und Server Informationen ein. Bestätigen Sie, bevor Sie den Upload testen.</p>
                        </div>
                        <div class="action">
                            <h3>FTP Einstellungen</h3>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <amp-img class="shadow" noloading height=190 width=297 layout=responsive src="/images/FTP-Fritzbox-7490de_08.png"></amp-img>
                        </div>
                        <div class="content">
                            <p>Sie finden einen Snapshot in Ihrem Upload-Verzeichnis, nachdem Sie Ihre FTP Verbindung erfolgreich getestet haben.</p>
                        </div>
                        <div class="action">
                            <h3>Testen</h3>
                        </div>
                    </div>
                </div>

                <div class="card-container">
                    <div class="card">
                        <div class="image">
                            <amp-img class="shadow" noloading height=190 width=297 layout=responsive src="/images/FTP-Fritzbox-7490de_09.png"></amp-img>
                        </div>
                        <div class="content">
                            <p>Sie können jetzt die FTP Upload Funktion bei Alarm Events aktivieren.</p>
                        </div>
                        <div class="action">
                            <h3>Alarm Upload</h3>
                        </div>
                    </div>
                    <div class="card invisible">
                    </div>
                    <div class="card invisible">
                    </div>
                </div>

            </div>
        </section>

        <% include ../_partials/content/_bluenav-md-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
