<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Motion_Detection/FTP_Server_Setup/Install_FileZilla_Server/">
    </head>

    <body class="home">

      <header class="fixed">
          <% include ../_partials/amp/_amp-header.ejs %>
      </header>

        <div class="wrap">
            <div class="container main">
              <% include ../_partials/content/_bluenav-md.ejs %>

                <article>
                    <!-- article -->

                    <div class="margin">
                        <h1>FileZilla Server installieren</h1>
                        <p>
                          Starten Sie die Installation der Software, nachdem Sie die<a href="/Motion_Detection/FTP_Server_Setup/">Setup-Datei</a> heruntergeladen haben.
                        </p>
                        <div>
                            <amp-img on="tap:lightbox1" role="button" tabindex="0" src="/images/Filezilla_install1.png" width="501" height="393" layout="responsive" class="shadow"></amp-img>
                        </div>
                        <p>
                          Installieren des FileZilla Server.
                        </p>
                        <amp-lightbox id="lightbox1" layout="nodisplay">
                            <div class="lightbox" on="tap:lightbox1.close" tabindex="0" class="centered">
                                <amp-img on="tap:lightbox1.close" role="button" tabindex="0" src="/images/Filezilla_install1.png" width="501" height="393" layout="responsive" class="shadow"></amp-img>
                            </div>
                        </amp-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <div>
                            <amp-img on="tap:lightbox1" role="button" tabindex="0" src="/images/Filezilla_install2.png" width="502" height="392" layout="responsive" class="shadow"></amp-img>
                        </div>
                        <p>
                          Wählen Sie die Standard-Installation.
                        </p>
                        <amp-lightbox id="lightbox1" layout="nodisplay">
                            <div class="lightbox" on="tap:lightbox1.close" tabindex="0" class="centered">
                                <amp-img on="tap:lightbox1.close" role="button" tabindex="0" src="/images/Filezilla_install2.png" width="502" height="392" layout="responsive" class="shadow"></amp-img>
                            </div>
                        </amp-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <div>
                            <amp-img on="tap:lightbox1" role="button" tabindex="0" src="/images/Filezilla_install3.png" width="501" height="387" layout="responsive" class="shadow"></amp-img>
                        </div>
                        <p>
                          Wählen Sie einen Installationspfad für den Server.
                        </p>
                        <amp-lightbox id="lightbox1" layout="nodisplay">
                            <div class="lightbox" on="tap:lightbox1.close" tabindex="0" class="centered">
                                <amp-img on="tap:lightbox1.close" role="button" tabindex="0" src="/images/Filezilla_install3.png" width="501" height="387" layout="responsive" class="shadow"></amp-img>
                            </div>
                        </amp-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <div>
                            <amp-img on="tap:lightbox1" role="button" tabindex="0" src="/images/Filezilla_install4.png" width="499" height="389" layout="responsive" class="shadow"></amp-img>
                        </div>
                        <p>
                          Stellen Sie sicher, dass der FTP-Server automatisch mit Windows gestartet wird.
                        </p>
                        <amp-lightbox id="lightbox1" layout="nodisplay">
                            <div class="lightbox" on="tap:lightbox1.close" tabindex="0" class="centered">
                                <amp-img on="tap:lightbox1.close" role="button" tabindex="0" src="/images/Filezilla_install4.png" width="499" height="389" layout="responsive" class="shadow"></amp-img>
                            </div>
                        </amp-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <div>
                            <amp-img on="tap:lightbox1" role="button" tabindex="0" src="/images/Filezilla_install5.png" width="504" height="393" layout="responsive" class="shadow"></amp-img>
                        </div>
                        <p>
                          Entscheiden Sie, ob der Server automatisch mit Windows gestartet wird oder Sie ihn manuell starten möchten.
                        </p>
                        <amp-lightbox id="lightbox1" layout="nodisplay">
                            <div class="lightbox" on="tap:lightbox1.close" tabindex="0" class="centered">
                                <amp-img on="tap:lightbox1.close" role="button" tabindex="0" src="/images/Filezilla_install5.png" width="504" height="393" layout="responsive" class="shadow"></amp-img>
                            </div>
                        </amp-lightbox>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->
            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <% include ../_partials/content/_bluenav-md-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
