<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
        <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap mobile-down">
          <div class="content">
              <section class="hero internetAccess">
                  <div class="container">
                      <div class="row">
                          <div class="six columns">
                              <div class="intro-container">
                                  <h1 itemprop="name">Alarm Funktion</h1>
                                  <p class="intro">
                                      <strong>Einrichten der Bewegungserkennung</strong><br><br>
                                      Die Bewegungserkennung der Kamera funktioniert durch einen Bildvergleich zwischen den einzelnen Bildern. Die Kamera vergleicht also immer das neueste Foto mit dem letzten Foto. Dies hat außerdem den Effekt, dass die Kamera einen Unterscheid in der Helligkeit der Bilder festellt, genauso wie es Personen oder Objekte erkennt erkennt, die sich durch das Bild bewegen. Mit der Sensibilität können Sie einstellen, wieviel Prozent des Bilds sich verändern muss, damit ein Alarm ausgelöst wird.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

        <div class="wrap">
            <div class="container main">

              <% include ../_partials/content/_bluenav-general.ejs %>

                  <article itemscope itemtype="http://schema.org/Article" class="blade wrapper content">
                    <% include ../_partials/amp/_schemaArticle.ejs %>

                    <div>
                      <table class="no-highlight">
                        <tr>
                          <td>
                            <a href="/Motion_Detection/Setup/"><button type="button" class="btn">1080p Serie</button></a>
                          </td>
                          <td>
                            <a href="/Motion_Detection/Setup/720p_Series/"><button type="button" class="btn">720p Serie</button></a>
                          </td>
                          <td>
                            <button type="button" disabled class="btn btnDisabled">VGA Serie</button></a>
                          </td>
                        </tr>
                      </table>
                    </div>
                    <!-- /margin -->

                    <div class="card-container margin">
                      <div class="onecard">
                        <amp-youtube data-videoid="ziksI3G3n_I" layout="responsive" width="480" height="270" class="shadow"></amp-youtube>
                      </div>
                    </div>

                    <div class="margin">
                        <h2>VGA Kamera Serie</h2>
                        <p>Um die Bewegungserkennung in Ihrer Kamera zu aktivieren, öffnen Sie die Weboberfläche Ihrer INSTAR VGA IP Kamera und klicken Sie auf das Menü <strong>Alarm / Alarm</strong>.<br/><br/>
                        <strong>1 = unsensibel</strong> (erkennt fast keine Bewegung)) <strong>10 = sehr sensibel</strong> (fast jede Bewegung wird aufgenommen)<br/><br/>
                        Wir empfehlen Ihnen die Einstellung aus Sensibilitätsstufe 6.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:Alarm_Einstellungen_MJPEG_EN"
                          role="button"
                          tabindex="0"
                          src="/images/Motion_Detection/Alarm_Einstellungen_MJPEG_EN.jpg" width="700" height="445" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
						  <p>Die Bewegungserkennung funktioniert jedoch nur über das komplette Bild. Mit unserer Zusatzsoftware InstarVision für Ihren Windows PC haben Sie die Möglichkeit Bildbereiche zu definieren welche für die Bewegungserkennung verwendet werden. D.h. nicht das gesamte Bild wird für die Bewegungserkennung herangezogen sondern nur der für Sie wichtige Bereich. Für andere Betriebssysteme müssen wir vorläufig auf die Software von Drittherstellern verweisen, wie z.B. Motion, EvoCam, ZoneMinder, Vitamin D usw. Die Nutzung von Software (von Drittanbietern) ist mit unseren Kameras kein Problem. Bitte beachten Sie, dass die Zusatzsoftware immer nur mit dem Livestream der Kamera arbeiten kann, d.h. wenn Sie die Funktionen der Zusatzsoftware nutzen wollen, muss diese aktiv am Computer laufen.</p>
					  </div>
                      <!-- /margin -->

                      <div class="primarycard">
                          <p><u><strong>Achtung</strong>:</u> Wenn Sie Probleme mit zu vielen Alarmen haben, dann können Sie dies durch andere Einstellungen verbessern. Stellen Sie die Empfindlichkeit immer so ein, dass die von Ihnen gewünschte Bewegung registriert wird. In der Regel sind dies Personen. Stellen Sie dabei einfach einen Wert für die Empfindlichkeit ein, so dass die von Ihnen vermutete (Personen)-Bewegung noch ausreicht um einen Alarm auszulösen. Ist dieser Wert für die Sensibilität z.B. 5, so empfehlen wir einen Wert von 6 für Ihre endgültige Konfiguration. Sie können so sehr einfach den kleinsten möglichen Wert finden der für Ihre Anforderungen verlässlich arbeitet.
						  Um Alarme durch unerwünschte Bewegungen zu vermeiden, sollten Sie den Bildausschnitt so auswählen, dass Bereiche wie z.B. der Himmel, Straßen im Hintergrund, stark reflektierende Flächen etc. nicht und/oder so gering wie möglich im Bildbereich sind. Die Wahl des richtigen Bildausschnittes kann durch andere Objektive und/oder einfach durch eine andere Kameraausrichtung erreicht werden. Dies kann die Anzahl der unerwünschten Alarme deutlich reduzieren.</p>
                      </div>
                      <!-- /margin -->

                      <div class="margin">
                          <p>Sobald die Kamera einen Alarm ausgibt, stehen Ihnen drei Möglichkeiten offen, wie die Kamera auf diesen reagiert:</p>
                          <ul>
                            <li><strong>1. Email</strong>: Die Kamera überträgt selbstständig Emails bei einem Alarm (pro Email 6 Bilder). Der Computer muss hierfür nicht eingeschaltet sein.</li>
                            <li><strong>2. FTP Upload</strong>: Die Kamera überträgt die Bilddateien auf einen FTP Server. Dabei werden über ein Zeitintervall von 1 Minute Bilder auf den FTP Server abgelegt. Der Computer muss hierfür nicht eingeschaltet sein.</li>
                          </ul>
                          <p><u>Alternativ:</u> Der FTP Upload gibt Ihnen noch zusätzlich die Möglichkeit Bilder in einem fixen Intervall (bis zu einer Sekunde) auf den FTP Server abzulegen.</p>
                          <ul>
                            <li><strong>3. Video</strong>:Es kann ein einminütiges Video aufgezeichnet werden. Dazu benötigen Sie unbedingt den Internet Explorer, da nur dieser ActiveX Steuerelemente unterstützt. Mit unserer Zusatzsoftware InstarVision lässt sich auch eine Videoaufzeichnung bei Alarm realisieren. Der Computer muss hierfür eingeschaltet sein.</li>
                          </ul>
                          <p><u>Alternativ:</u>Sie können mit dem Internet Explorer auch ein Dauervideo realisieren. Die Videoaufnahme lässt sich händisch ein- und ausschalten.</p>
                        </div>
                        <!-- /margin -->

                </article>
                <!-- /article -->

                <!-- ###################### Lightboxes ######################## -->

                <amp-image-lightbox id="Alarm_Einstellungen_MJPEG_EN" layout="nodisplay"></amp-image-lightbox>

            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
