<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
        <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero internetAccess">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1 itemprop="name">Alarm Funktion</h1>
                                    <p class="intro">
                                      <strong>Einrichten der Bewegungserkennung</strong><br><br>
                                      Die Bewegungserkennung der Kamera funktioniert durch einen Bildvergleich zwischen den einzelnen Bildern. Die Kamera vergleicht also immer das neueste Foto mit dem letzten Foto. Dies hat außerdem den Effekt, dass die Kamera einen Unterscheid in der Helligkeit der Bilder festellt, genauso wie es Personen oder Objekte erkennt erkennt, die sich durch das Bild bewegen. Mit der Sensibilität können Sie einstellen, wieviel Prozent des Bilds sich verändern muss, damit ein Alarm ausgelöst wird.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

        <div class="wrap">
            <div class="container main">

              <% include ../_partials/content/_bluenav-general.ejs %>

                  <article itemscope itemtype="http://schema.org/Article" class="blade wrapper content">
                      <!-- article -->

                    <div>
                      <table class="no-highlight">
                        <tr>
                          <td>
                            <button type="button" disabled class="btn btnDisabled">1080p Serie</button>
                          </td>
                          <td>
                            <a href="/Motion_Detection/Setup/720p_Series/"><button type="button" class="btn">720p Serie</button></a>
                          </td>
                          <td>
                            <a href="/Motion_Detection/Setup/VGA_Series/"><button type="button" class="btn">VGA Serie</button></a>
                          </td>
                        </tr>
                      </table>
                    </div>
                    <!-- /margin -->

                    <div class="card-container margin">
                      <div class="onecard">
                        <amp-youtube data-videoid="ziksI3G3n_I" layout="responsive" width="480" height="270" class="shadow"></amp-youtube>
                      </div>
                    </div>

                    <div class="margin">
                        <h2>1080p Modelle</h2>
                        <p>Öffnen Sie bitte die Weboberfläche Ihrer INSTAR HD IP Kamera und gehen Sie auf den Menüpunkt <a href="/Web_User_Interface/1080p_Series/Alarm/Areas/">Alarm / Bereiche</a>.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:Alarm_Areas_Setup_1080p"
                          role="button"
                          tabindex="0"
                          src="/images/Motion_Detection/Alarm_Areas_Setup_1080p.png" width="1307" height="825" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Im Fenster Bereiche können Sie jetzt festlegen welcher Bildbereich im Video überwacht werden soll. Dazu wählen Sie bitte auf der rechten Seite den jeweiligen Bereich aus den Sie einstellen möchten und setzen Sie dann rechts daneben den Haken für <strong>Aktiv</strong>. Wechseln Sie danach in das <a href="/Web_User_Interface/1080p_Series/Alarm/Actions/">Alarm / Aktionen</a> Menü um einzustellen, was im Falle eines Alarms getan werden soll.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:Alarm_Actions_Setup_1080p"
                          role="button"
                          tabindex="0"
                          src="/images/Motion_Detection/Alarm_Actions_Setup_1080p.png" width="741" height="570" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <ul>
                        <li>Um die <strong>Email Benachrichtigung</strong> zu nutzen, müssen Sie zuerst Ihre Email Nutzerdaten im <a href="/Web_User_Interface/1080p_Series/System/Email/">System / Email</a> Menü hinterlegen. Folgen Sie dafür einfach unserer <a href="/Motion_Detection/Alarm_Notification/">Alarm Benachrichtigung Anleitung</a>.<br><br></li>
                        <li>Alle Video und Schnappschuss Aufnahmen auf der <a href="/Web_User_Interface/1080p_Series/Features/SD_Card/">SD Karte</a> Ihrer Kamera, können mit unserer <strong>kostenlosen App</strong> für <a href="/Software/Windows/InstarVision/Windows_Phone/Recording/">Windows Phone</a>, <a href="/Software/Windows/InstarVision/Metro/Recording/">Windows Metro</a>, <a href="/Software/Android/InstarVision/Recording/">Android</a>, <a href="/Software/iOS/InstarVision/iPhone/Recording/">iPhone</a> und <a href="/Software/iOS/InstarVision/iPad/Recording/">iPad</a> verwaltet werden. Alternativ lassen sich die Dateien auch direkt <a href="/Motion_Detection/SD_Card_Access/">herunterladen</a> und dann lokal auf Ihrem Computer bearbeiten.<br><br></li>
                        <li>Wenn Sie den FTP Upload nutzen möchten, müssen Sie zuerst Ihre FTP Server Zugangsdaten im <a href="/Web_User_Interface/1080p_Series/Network/FTP/">Network / FTP</a> Menü hinterlegen. Sie können z.B. Ihren <a href="/Motion_Detection/Router_as_a_FTP_Server/">Router oder Ihr NAS als FTP Server</a> nutzen. Oder einen <a href="/Motion_Detection/FTP_Server_Setup/">FTP Server auf Ihrem Windows PC installieren</a>.<br><br></li>
                        <li>Es wird empfohlen, dass Sie den integrierten Passiven Infrarot Sensor (<strong>PIR</strong>) in Kombination (<strong>Mit Bereiche Koppeln</strong>) mit den Alarmbereichen einsetzen, um Fehlalarme durch z.B. Schnee, Regen, Nebel oder Änderungen in den Lichtverhältnissen zu vermeiden. In seltenen Einsatzbereichen ist es auch sinnvoll die Bereiche gänzlich zu deaktivieren und nur den PIR Sensor zur Erkennung von Bewegung zu nutzen.</li>
                      </ul>
                    </div>
                    <!-- /margin -->

                    <div class="primarycard">
                        <p><u><strong>Achtung</strong>:</u> Wenn Sie Probleme mit zu vielen Alarmen haben, dann können Sie dies durch andere Einstellungen verbessern. Stellen Sie die Empfindlichkeit immer so ein, dass die von Ihnen gewünschte Bewegung registriert wird. In der Regel sind dies Personen. Stellen Sie dabei einfach einen Wert für die Empfindlichkeit ein, so dass die von Ihnen vermutete (Personen)-Bewegung noch ausreicht um einen Alarm auszulösen. Ist dieser Wert für die Sensibilität z.B. 50, so empfehlen wir einen Wert von 60 für Ihre endgültige Konfiguration. Sie können so sehr einfach den kleinsten möglichen Wert finden der für Ihre Anforderungen verlässlich arbeitet.<br/><br/>
                        Um Alarme durch unerwünschte Bewegungen zu vermeiden, sollten Sie den Bildausschnitt so auswählen, dass Bereiche wie z.B. der Himmel, Straßen im Hintergrund, stark reflektierende Flächen etc. nicht und/oder so gering wie möglich im Bildbereich sind. Die Wahl des richtigen Bildausschnittes kann durch andere Objektive und/oder einfach durch eine andere Kameraausrichtung erreicht werden. Dies kann die Anzahl der unerwünschten Alarme deutlich reduzieren.<br/><br/>
                        <strong>Es wird empfohlen den integrierten PIR Sensor der Kamera mit den Alarmbereichen zu koppeln</strong>.</p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->

                <!-- ###################### Lightboxes ######################## -->

                <amp-image-lightbox id="Alarm_Areas_Setup_1080p" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Alarm_Actions_Setup_1080p" layout="nodisplay"></amp-image-lightbox>

            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
