<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Motion_Detection/Router_as_a_FTP_Server/">
    </head>

    <body class="home">

      <header class="fixed">
          <% include ../_partials/amp/_amp-header.ejs %>
      </header>

                <section class="blade get-started">
                    <div class="container">

                      <div class="margin">
                          <h1>Nutzen Sie Ihren Router / NAS als FTP Server</h1>
                          <h2>Lokaler FTP Server</h2>
                          <p>
                           Die meisten Router heutzutage bieten die Möglichkeiten einen USB-Stick (Festplatte...) an den USB Anschluss des Routers anzuschließen. Manche Router haben zudem einen sehr großen internen Speicher den man als Netzwerkspeicher (NAS) nutzen kann. Die Router ermöglichen das Schreiben auf diese Speicher mit dem FTP Protokoll welches auch alle INSTAR IP Kamera unterstützen. Alles was Sie tuen müssen ist den Speicherplatz zur Verfügung zu stellen und die FTP Benutzerdaten in Ihrem Router anzulegen und in der Kamera einzutragen. Die Kamera kann anschließend Bilder - oder im Falle der HD Kameras auch Videos - an den Router senden.
                          </p>
                      </div>
                      <!-- /margin -->

                        <div class="card-container">
                          <div class="card">
                              <div class="image">
                                  <amp-img noloading height=200 width=300 layout=responsive src="/images/Fritzbox7490.png"></amp-img>
                              </div>
                              <div class="content">
                                  <h3>AVM Fritzbox</h3>
                                  <p>Nutzen Sie Ihre AVM Fritzbox als lokalen FTP Server für Ihre INSTAR IP Kamera.</p>
                              </div>
                              <div class="action">
                                  <a href="/Motion_Detection/Router_as_a_FTP_Server/AVM_Fritzbox_as_FTP_Server">Mehr lesen</a>
                              </div>
                          </div>
                          <div class="card">
                              <div class="image">
                                  <amp-img noloading height=200 width=300 layout=responsive src="/images/Speedport-W724V.png"></amp-img>
                              </div>
                              <div class="content">
                                  <h3>Telekom Speedport</h3>
                                  <p>Nutzen Sie Ihren Speedport als lokalen FTP Server für Ihre INSTAR IP Kamera.</p>
                              </div>
                              <div class="action">
                                  <a href="/Motion_Detection/Router_as_a_FTP_Server/Telekom_Speedport_as_FTP_Server">Mehr lesen</a>
                              </div>
                          </div>
                          <div class="card">
                              <div class="image">
                                  <amp-img noloading height=200 width=300 layout=responsive src="/images/QNAP_TurboNAS_TS-259_Pro.png"></amp-img>
                              </div>
                              <div class="content">
                                  <h3>QNAP TS-259</h3>
                                  <p>Nutzen Sie Ihre QNAP TS-259 Pro als lokalen FTP Server für Ihre INSTAR IP Kamera.</p>
                              </div>
                              <div class="action">
                                  <a href="/Motion_Detection/Router_as_a_FTP_Server/QNAP_as_FTP_Server">Mehr lesen</a>
                              </div>
                          </div>
                        </div>

                        <div class="card-container">
                          <div class="card">
                              <div class="image">
                                  <amp-img noloading height=200 width=300 layout=responsive src="/images/WD_MyCloud.png"></amp-img>
                              </div>
                              <div class="content">
                                  <h3>WD MyCloud</h3>
                                  <p>Nutzen Sie ihre WD MyCloud als lokalen FTP Server für Ihre INSTAR IP Kamera.</p>
                              </div>
                              <div class="action">
                                  <a href="/Motion_Detection/Router_as_a_FTP_Server/WD_MyCloud_as_FTP_Server">Read More</a>
                              </div>
                          </div>
                          <div class="card">
                              <div class="image">
                                  <amp-img noloading height=200 width=300 layout=responsive src="/images/Synology_NAS.png"></amp-img>
                              </div>
                              <div class="content">
                                  <h3>Synology</h3>
                                  <p>Nutzen Sie ihre Synology Station NAS als lokalen FTP Server für Ihre INSTAR IP Kamera.</p>
                              </div>
                              <div class="action">
                                  <a href="/Motion_Detection/Router_as_a_FTP_Server/Synology_as_FTP_Server">Read More</a>
                              </div>
                          </div>
                          <div class="card invisible">
                          </div>
                        </div>

                    </div>
                </section>

        <section class="blade blog">

            <div class="container wider">
                <div class="row">
                    <div class="twelve columns">
                        <h1>Verwandte Themen:</h1>
                    </div>
                </div>

                <div class="tab-container">

                    <a class="tab" href="/Quick_Installation/First_Steps">
                        <h3>Erste Schritte um Ihre INSTAR IP Camera zu installieren</h3>
                        <div class="subtitle">Einfach</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/After_Unpacking">
                        <h3>Nach dem Auspacken Ihrer INSTAR IP Camera</h3>
                        <div class="subtitle">Einfach</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/Direct_LAN_Connection">
                        <h3>Verbinden Sie Ihre Kamera direkt mit Ihrem Computer</h3>
                        <div class="subtitle">Mittel</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/WebUI_And_Firmware_Upgrade">
                        <h3>Wie Sie die Firmware und Benutzeroberfläche Ihrer Kamera ändern können</h3>
                        <div class="subtitle">Mittel</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/Set_Up_A_Wireless_Connection">
                        <h3>Wie Sie Ihre Kamera mit dem WLAN verbinden</h3>
                        <div class="subtitle">Mittel</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/Creating_User_Accounts">
                        <h3>Ändern Sie den Standard-Login Ihrer Kamera</h3>
                        <div class="subtitle">Einfach</div>
                    </a>
                </div>

                <a href="/Quick_Installation/" target="_blank">Mehr ansehen</a>

            </div>
        </section>

                <footer>
                    <% include ../_partials/amp/_amp-footer.ejs %>
                </footer>
                </body>
            </html>
