<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap">
          <div class="container main">

            <% include ../_partials/content/_bluenav-general.ejs %>

                <article itemscope itemtype="http://schema.org/Article" class="blade wrapper content">
                  <% include ../_partials/amp/_schemaArticle.ejs %>

                    <div>
                        <h1>Zugriff auf die SD Card mit einer Drittanbieter-Software</h1>
                        <h2 itemprop="name">DeepVacuum (MacOSX)</h2>
                        <p>
                          DeepVacuum für MacOSX ist ein kostenloses auf wget basierendes Program mit dem Sie auf Ihre SD Karte zugreifen können. Sie können sich die neueste Version des Programmes <a href="http://www.hexcat.com/deepvacuum/" target="_blank">HIER</a> herunterladen.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:DeepVacuum_Step1_EN"
                          role="button"
                          tabindex="0"
                          src="/images/Motion_Detection/DeepVacuum_Step1_EN.png" width="506" height="401" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Schritt 1</h3>
                        <p>
                          Geben Sie hier die IP Adresse ihrer Kamera ein z.b. 192.168.1.17 und fügen Sie das Unterverzeichnis sd an - http://192.168.1.17/sd. Tragen Sie danach Ihren Benutzernamen und Kennwort für die Kamera ein und wählen Sie All Movies From This Site um alle aufgenommenen Videos herunter zu laden.

                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:DeepVacuum_Step2_EN"
                          role="button"
                          tabindex="0"
                          src="/images/Motion_Detection/DeepVacuum_Step2_EN.png" width="506" height="399" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Schritt 2</h3>
                        <p>
                          Geben Sie hier die IP Adresse ihrer Kamera ein z.b. 192.168.1.17 und fügen Sie das Unterverzeichnis sd an - http://192.168.1.17/sd. Tragen Sie danach Ihren Benutzernamen und Kennwort für die Kamera ein und wählen Sie Whole Site um alle aufgenommenen Videos und Schnappschüsse herunter zu laden.
                        </p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->

                <!-- ###################### Lightboxes ######################## -->

                <amp-image-lightbox id="DeepVacuum_Step1_EN" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="DeepVacuum_Step2_EN" layout="nodisplay"></amp-image-lightbox>

            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
