<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap">
          <div class="container main">

            <% include ../_partials/content/_bluenav-general.ejs %>

                <article itemscope itemtype="http://schema.org/Article" class="blade wrapper content">
                  <% include ../_partials/amp/_schemaArticle.ejs %>

                    <div>
                        <h1>Zugriff auf die SD Card mit einer Drittanbieter-Software</h1>
                        <h2 itemprop="name">CuteFTP (Windows)</h2>
                        <p>
                          CuteFTP für Windows ist ein kostenpflichtiger FTP client welchen Sie benutzen können um die SD Karte Ihrer Kamera auszulesen. Wir empfehlen Ihnen die neueste Version <a href="http://www.cuteftp.com/trial.aspx" target="_blank">HIER</a> herunterzuladen.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:CuteFTP-SD_01"
                          role="button"
                          tabindex="0"
                          src="/images/Motion_Detection/CuteFTP-SD_01.png" width="729" height="744" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Schritt 1</h3>
                        <p>
                          Wählen Sie aus eine neue "HTTP site" hinzuzufügen.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:CuteFTP-SD_02"
                          role="button"
                          tabindex="0"
                          src="/images/Motion_Detection/CuteFTP-SD_02.png" width="729" height="745" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Schritt 2</h3>
                        <p>
                          Die <strong>host address</strong> ist die lokale IP-Adresse oder DDNS Adresse Ihrer Kamera. Geben Sie die Login-Daten Ihrer Kamera unten ein.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:CuteFTP-SD_03"
                          role="button"
                          tabindex="0"
                          src="/images/Motion_Detection/CuteFTP-SD_03.png" width="727" height="746" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Schritt 3</h3>
                        <p>
                          Wählen Sie <strong>/sd</strong> als Ihr Standardverzeichnis.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:CuteFTP-SD_04"
                          role="button"
                          tabindex="0"
                          src="/images/Motion_Detection/CuteFTP-SD_04.png" width="731" height="744" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Schritt 4</h3>
                        <p>
                          Wählen Sie <strong>HTTP</strong> und tragen Sie den Port Ihrer Kamera ein (Standardmäßig Port 80).
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:CuteFTP-SD_05"
                          role="button"
                          tabindex="0"
                          src="/images/Motion_Detection/CuteFTP-SD_05.png" width="720" height="754" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Schritt 5</h3>
                        <p>
                          Klicken Sie auf <strong>Connect</strong> um sich mit der SD-Karte zu verbinden.
                        </p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->

                <!-- ###################### Lightboxes ######################## -->

                <amp-image-lightbox id="CuteFTP-SD_01" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="CuteFTP-SD_02" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="CuteFTP-SD_03" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="CuteFTP-SD_04" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="CuteFTP-SD_05" layout="nodisplay"></amp-image-lightbox>

            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
