<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap">
          <div class="container main">

            <% include ../_partials/content/_bluenav-general.ejs %>

                <article itemscope itemtype="http://schema.org/Article" class="blade wrapper content">
                  <% include ../_partials/amp/_schemaArticle.ejs %>

                    <div>
                        <h1>Zugriff auf die SD Card mit einer Drittanbieter-Software</h1>
                        <h2 itemprop="name">Bitkinex (Windows)</h2>
                        <p>
                          Bitkinex für Windows ist ein kostenloser FTP client welchen Sie benutzen können um die SD Karte Ihrer Kamera auszulesen. Wir empfehlen Ihnen die neueste Version <a href="http://www.bitkinex.com/download" target="_blank">HIER</a> herunterzuladen.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:Bitkinex-SD_01"
                          role="button"
                          tabindex="0"
                          src="/images/Motion_Detection/Bitkinex-SD_01.png" width="528" height="412" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Schritt 1</h3>
                        <p>
                          Wählen Sie eine neue Datenquelle - nehmen Sie <strong>HTTP/WebDAV</strong>.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:Bitkinex-SD_02"
                          role="button"
                          tabindex="0"
                          src="/images/Motion_Detection/Bitkinex-SD_02.png" width="531" height="409" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Schritt 2</h3>
                        <p>
                          Geben Sie Ihrer Kamera einen Namen - dieser ist frei wählbar
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:Bitkinex-SD_03"
                          role="button"
                          tabindex="0"
                          src="/images/Motion_Detection/Bitkinex-SD_03.png" width="535" height="411" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Schritt 3</h3>
                        <p>
                          Klicken Sie mit einem rechten Mausklick auf den neuen Eintrag und wählen Sie <strong>Properties</strong>.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:Bitkinex-SD_04"
                          role="button"
                          tabindex="0"
                          src="/images/Motion_Detection/Bitkinex-SD_04.png" width="595" height="382" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Schritt 4</h3>
                        <p>
                          Legen Sie das Standardverzeichnis <strong>/sd</strong>.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:Bitkinex-SD_05"
                          role="button"
                          tabindex="0"
                          src="/images/Motion_Detection/Bitkinex-SD_05.png" width="595" height="381" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Schritt 5</h3>
                        <p>
                          Die Serveradresse ist die lokale IP Adresse oder die DDNS Adresse Ihrer Kamera. Geben Sie die Login-Daten Ihrer Kamera unten ein.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:Bitkinex-SD_06"
                          role="button"
                          tabindex="0"
                          src="/images/Motion_Detection/Bitkinex-SD_06.png" width="596" height="375" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Schritt 6</h3>
                        <p>
                          Wählen Sie Standard HTTP für das SD-Verzeichnis und klicken Sie auf <strong>Ok</strong>.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:Bitkinex-SD_07"
                          role="button"
                          tabindex="0"
                          src="/images/Motion_Detection/Bitkinex-SD_07.png" width="531" height="404" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Schritt 7</h3>
                        <p>
                          Verbinden Sie sich zu Ihrer Kamera indem Sie auf <strong>Browse</strong> klicken.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:Bitkinex-SD_08"
                          role="button"
                          tabindex="0"
                          src="/images/Motion_Detection/Bitkinex-SD_08.png" width="647" height="611" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Schritt 8</h3>
                        <p>
                          Sie sind jetzt mit der SD Karte Ihrer Kamera verbunden und können sich durch die Aufnahmen klicken.
                        </p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->

                <!-- ###################### Lightboxes ######################## -->

                <amp-image-lightbox id="Bitkinex-SD_01" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Bitkinex-SD_02" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Bitkinex-SD_03" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Bitkinex-SD_04" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Bitkinex-SD_05" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Bitkinex-SD_06" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Bitkinex-SD_07" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Bitkinex-SD_08" layout="nodisplay"></amp-image-lightbox>

            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
