<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
        <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap">
          <div class="container main">

            <% include ../_partials/content/_bluenav-general.ejs %>

                <article itemscope itemtype="http://schema.org/Article" class="blade wrapper content">
                    <!-- article -->

                    <div>
                        <h1 itemprop="name">Konfigurieren Sie Ihren Speedport als FTP Server</h1>
                        <amp-youtube
                            data-videoid="6jtS4X0L86M"
                            layout="responsive"
                            width="1280" height="720">
                        </amp-youtube>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <amp-img
                            on="tap:Speedport-FTP_01"
                            role="button"
                            tabindex="0"
                            src="/images/Motion_Detection/Speedport-FTP_01.png" width="700" height="231" layout="responsive" class="shadow">
                        </amp-img>
                        <p>
                         Stecken Sie Ihr USB Laufwerk in den Telekom Router. Öffnen Sie danach die Weboberfläche des Routers und gehen Sie nach Heimnetzwerk / Netzwerkspeicher. Verifizieren Sie, dass Ihr Laufwerk erkannt wurde.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:Speedport-FTP_02"
                          role="button"
                          tabindex="0"
                          src="/images/Motion_Detection/Speedport-FTP_02.png" width="700" height="684" layout="responsive" class="shadow">
                      </amp-img>
                        <p>
                          Gehen Sie jetzt in die Benutzerverwaltung und fügen Sie einen FTP Nutzer für Ihre Kamera hinzu - geben Sie einen Benutzernamen & Passwort an und setzen Sie den Haken bei FTP Zugriff erlauben.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:Speedport-FTP_03"
                          role="button"
                          tabindex="0"
                          src="/images/Motion_Detection/Speedport-FTP_03.png" width="400" height="311" layout="responsive" class="shadow">
                      </amp-img>
                        <p>
                          Klicken Sie im vorherigen Fenster auf Durchsuchen und legen Sie einen Upload für Ihre Kamera auf dem externen Laufwerk an.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:Speedport-FTP_04"
                          role="button"
                          tabindex="0"
                          src="/images/Motion_Detection/Speedport-FTP_04.png" width="400" height="518" layout="responsive" class="shadow">
                      </amp-img>
                        <p>
                          Öffnen Sie jetzt die Weboberfläche Ihrer Kamera and tragen Sie die eben angelegten FTP Nutzer Daten ein. Die Standard IP Adresse des Speedport ist 192.168.2.1, der FTP Port ist 21, der Ordner ist ./ {Name des Unterordners} und dann noch der FTP Nutzername und das Passwort.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:Speedport-FTP_07"
                          role="button"
                          tabindex="0"
                          src="/images/Motion_Detection/Speedport-FTP_07.png" width="700" height="167" layout="responsive" class="shadow">
                      </amp-img>
                        <p>
                          Klicken Sie auf Bestätigen, dann auf Testen. Sie können den erfolgreichen Test überprüfen, indem Sie ftp://192.168.2.1/{Unterordner} in Ihren Browser eingeben - der Test Schnappschuss sollte im Ordner liegen.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3 class="margin">Konfigurieren Sie Ihre Kamera für den FTP Upload</h3>
                        <amp-img
                            on="tap:Speedport-FTP_05"
                            role="button"
                            tabindex="0"
                            src="/images/Motion_Detection/Speedport-FTP_05.png" width="400" height="601" layout="responsive" class="shadow">
                        </amp-img>
                        <p>
                          Sie können jetzt die Alarmfunktion der Kamera nutzen um Videos oder Schnappschüsse auf Ihren Router zu laden.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3 class="margin">Konfigurieren Sie Ihre Kamera für den FTP Upload</h3>
                        <amp-img
                            on="tap:Speedport-FTP_06"
                            role="button"
                            tabindex="0"
                            src="/images/Motion_Detection/Speedport-FTP_06.png" width="400" height="450" layout="responsive" class="shadow">
                        </amp-img>
                        <p>
                          Oder laden Sie einfach eine Fotoserie hoch um sie ggf. später zu einer Zeitraffer-Aufnahme zusammen zu setzen.
                        </p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->

                <!-- ###################### Lightboxes ######################## -->

                <amp-image-lightbox id="Speedport-FTP_01" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Speedport-FTP_02" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Speedport-FTP_03" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Speedport-FTP_04" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Speedport-FTP_07" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Speedport-FTP_05" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Speedport-FTP_06" layout="nodisplay"></amp-image-lightbox>

            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
