<% include ../_partials/template/_head.ejs %>

<body>
    <% include ../_partials/template/_outdated.ejs %>

    <div id="wrapper">

        <header><% include ../_partials/template/_header.ejs %></header>
        <!-- Navbar-->

            <div class="clearfix mb"></div>

            <!-- --------------------------------- How does a dual motion detector work? ------------------------------ -->

          <div class="wrap mt">

            <section itemscope itemtype="http://schema.org/Article" class="container mb">
              <% include ../_partials/amp/_schemaArticle.ejs %>
              
                <div class="row">

                    <div class="col-xs-12 mb">
                        <h2 itemprop="name">IN-Motion 500 - Externe Aufnahme Stationen</h2>
                        <h3>Wie nutze Ich meinen externen Sensor um eine Alarmaufnahme auszulösen?</h3>
                    </div>

                    <div class="col-xs-12 mb">
                        <p class="text-justify">Wenn Sie einen externen Bewegungsmelder nutzen, werden Sie ein wesentlich besseres Ergebnis für Ihre Alarmaufnahmen erhalten. Jede software-basierte Bewegungserkennung ist anfällig für Fehlalarme durch Änderungen in den Lichtverhältnissen oder allgemeine Wetterbedingungen, wie Regen, Schnee und Nebel. Überwachungslösungen, wie sie z.B. von QNAP oder Synology angeboten werden, bieten eine wesentlich fortschrittlichere Erkennung, als dies z.B. auf Ihrer Kamera möglich wäre. Dies ist aber immer noch nicht auf dem Niveau, dass Sie mit einem externen Melder erhalten. Diese Aufnahmestationen bieten Ihnen daher oft die Möglichkeit, den externen Sensor an Ihrer Kamera als Auslöser für die Videoaufnahme zu verwenden. Bitte schauen Sie vor dem Kauf einer Überwachungstation nach, ob das NAS/NVR Modell diese Funktion auch für Ihr Kameramodell bietet!</p>
                    </div>

                    <div class="col-xs-12 mb">
                        <div class="card shadow">
                            <img class="card-img-top img-fluid" src="/images/Products/IN-Motion_QNAP.png" alt="QNAP Surveillance Station">
                            <div class="card-block">
                              <p class="card-text">Check to trigger an alarm when the alarm inside your camera is triggered. Use the first option if you want to couple the internal motion detection of your camera with the external sensor. Or check the second line to leave the triggering to the external motion detector.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 mb">
                        <h3>Wie aktiviert man den externen Trigger bei einer QNAP Surveillance Station?</h3>
                        <p class="text-justify">Nach dem hinzufügen der Kamera in die QNAP Surveillance Station, öffnen Sie bitte das Event Management und aktivieren Sie die benötigten Optionen. Wenn Sie die interne Bewegungserkennung in Ihrer Kamera deaktiviert haben und nur auf den externen Bewegungsmelder setzen, wählen Sie die zweite Checkbox und die Surveillance Station wird den Alarmstatus Ihere Kamera verwenden um Aufnahmen auszulösen. Danach wird, jedes mal wenn Ihr externer Bewegungsmelder anschlägt, auch ein Alarmereignis in der Surveillance Station ausgelöst.
                                                Die erste Option, behält den internen Alarmstatus Ihrer Kamera im Auge und löst einen Alarmereignis in der Surveillance Station aus, wenn eines von der Kamera beobachtet wurde. Nutzen Sie diese Funktion, wenn Sie die interne Erkennung der Kamera mit dem externen Sensor gekoppelt haben. Danach wird die Surveillance Station nur dann eine Aufnahme beginnen, wenn diese beide Methoden eine Bewegung erkannt haben. Dies kann die Anzahl an Fehlarmen auf Ihrer Kamera signifikant reduzieren!</p>
                    </div>

                </div>
                <!-- /Row -->
            </section>
            <!-- /Container -->

          </div>
          <!-- /Wrap -->

            <section class="webui mb"><% include ../_partials/content/_webui.ejs %></section>
            <!-- /webui -->

            <section class="social"><% include ../_partials/template/_social.ejs %></section>
            <!-- /social -->

            <!-- ############################################# Footer ############################################# -->

            <footer><% include ../_partials/template/_footer.ejs %></footer>

            <% include ../_partials/template/_jsdefaults.ejs %>

            </div>
            <!-- /Wrapper -->

        </div>

    </body>

</html>
