<% include ../_partials/template/_head.ejs %>

<body>
    <% include ../_partials/template/_outdated.ejs %>

    <div id="wrapper">

        <header><% include ../_partials/template/_header.ejs %></header>
        <!-- Navbar-->

        <div class="clearfix mb"></div>

        <div class="wrap mt">

            <!-- ---------------------------------------------- Base Preparation ----------------------------------------------- -->

            <section itemscope itemtype="http://schema.org/Article" class="container mb">

                <div class="row">

                    <div class="col-12">
                        <h3 itemprop="name">IN-Motion 500 - Vorbereitung der Kabeldurchführungen</h3>
                    </div>

                    <div class="col-sm-12 col-md-8">
                      <!-- Table -->
                      <div class="table-responsive">
                            <table class="table table-hover">
                                <tbody>
                                    <tr>
                                        <td><span class="lead">A</span></td>
                                        <td>Befestigung für die Wandhalterung</td>
                                    </tr>
                                    <tr>
                                        <td><span class="lead">B</span></td>
                                        <td>Kabeldurchführung für das Strom- und Signalkabel</td>
                                    </tr>
                                    <tr>
                                        <td><span class="lead">C</span></td>
                                        <td>Löcher für die Schraubendurchführung (Es ist empfohlen, die Wandhalterung zu nutzen)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="caption" style="padding: 5px;">
                            <p>Bitte entfernen Sie die ausgestanzten, im Foto mit <strong>B</strong> bezeichneten Stifte um Platz zu schaffen für das Strom- und Signalkabel. Führen Sie die Kabel durch das freigelegt Loch - bevor Sie das Kabel mit dem Sensor verbinden.</p>
                            <p><span class="lead">Achtung:</span>&nbsp; Stellen Sie bitte sicher, dass die Durchführung, vor der Installation des Sensors, wieder mit etwas Silikon abgedichtet wird, um ein Eindringen von Feuchtigkeit zu verhindern.</p>
                        </div>
                        <!-- /caption -->
                    </div>

                    <div class="col-sm-12 col-md-4">
                      <div class="card shadow">
                        <img class="card-img-top img-fluid" src="/images/Products/IN-Motion500_04.png" alt="IN-Motion 500 :: Backcover">
                        <div class="card-block">
                          <p class="card-text">Open base knockouts as required to insert sensor wiring and prepare the screw mount.</p>
                        </div>
                      </div>
                      <!-- /card -->
                    </div>

                </div>

            </section>
            <!-- Close ROW -->

            <!-- -------------------------------------------------- NO NC ----------------------------------------------------- -->

            <section class="container" style="margin-bottom: 40px;">

                <div class="row">

                    <div class="col-12">
                        <h3>Mikrowellen Empfindlichkeit</h3>
                    </div>

                    <div class="col-sm-12 col-md-8">
                        <p>Die Mikrowellen Empfindlichkeit kann wie folgt eingestellt werden:</p>
                        <ul>
                            <li>Im Uhrzeigersinn / Empfindlicher</li>
                            <li>Gegen den Uhrzeigersinn / Unempfindlicher</li>
                        </ul>
                        <p class="text-justify">Wenn der Mikrowellen Sensor aufhört Signale zu senden bzw. empfangen, bleibt dieser im Alarmzustand.</h3>
                        <img style="float: left; margin: 0px 15px 15px 0px;" src="/images/Products/IN-Motion500_08.png" class="col-xs-3 img-fluid img-rounded shadow" alt="IN-Motion 500 :: Normally Closed vs. Normally Open"/>
                        <p class="text-justify">Bei der Verkabelung des Relais, haben Sie zwei Möglichkeiten - dieses kann im Normalfall geschlossen Normally Closed oder geöffnet Normally Open sein. Sie finden dafür zwei Anschlüsse, die mit NC und NO gekennzeichnet sind. Sicherheitsgeräte sind standardmäßig als NC geschaltet. Auf diese Weise führt ein Zerstören des Sensors zu einem Daueralarm.</p>
                    </div>

                    <div class="col-sm-12 col-md-4">
                      <div class="card shadow">
                        <img class="card-img-top img-fluid" src="/images/Products/IN-Motion500_06.png" alt="IN-Motion 500 :: Sensitivity &amp; Wiring">
                        <div class="card-block">
                          <p class="card-text">Relais Anschlüsse und Mikrowellen Empfindlichkeit</p>
                        </div>
                      </div>
                      <!-- /card -->
                    </div>

                </div>

            </section>
            <!-- Close ROW -->

            <!-- -------------------------------------------------- DIPs --------------------------------------------------------------- -->

            <section class="container mb">

                <div class="row">

                    <a name="#DIP"></a>

                    <div class="col-sm-12">
                        <h2>Dip Schalter Konfiguration</h2>
                    </div>

                    <div class="col-sm-12 col-md-8">

                      <div class="card shadow">
                          <h3 class="card-header"><span class="lead">DIP 1</span>&nbsp; LED Anzeige während Alarm</h3>
                          <div class="card-block">
                            <p class="card-text"><strong>AN:</strong>&nbsp; LED Indikation während Alarm <strong>Standardeinstellung</strong>.<br> <strong>AUS:</strong>&nbsp; LED ist deaktiviert während Alarm.</p>
                          </div>
                      </div>

                      <div class="card shadow">
                          <h3 class="card-header"><span class="lead">DIP 2</span>&nbsp; PIR Empfindlichkeit</h3>
                          <div class="card-block">
                            <p class="card-text"><strong>AN:</strong>&nbsp; Standard Modus - Es werden zwei Detektionen benötigt um einen Alarm auszulösen. Für Umgebungen mit potentiellen Fehlalarmquellen Standardeinstellung.<br> <strong>AUS:</strong>&nbsp; Normaler Modus - Für eine höhere Empfindlichkeit.</p>
                          </div>
                      </div>

                      <div class="card shadow">
                          <h3 class="card-header"><span class="lead">DIP 5</span>&nbsp; Dual Sensor Kopplung</h3>
                          <div class="card-block">
                            <p class="card-text"><strong>AN:</strong>&nbsp; <em>UND MODUS:</em> der Alarm wird nur ausgelöst wenn beide Sensoren anschlagen. Die Kopplung ist nur aktiv mit DIP 2 in der AN Position.<br><strong>OFF:</strong>&nbsp;
                            <em>ODER Modus:</em> es reicht wenn ein Sensor eine Bewegung erkennt um den Alarm auszulösen. Standardeinstellung.</p>
                          </div>
                      </div>

                        <div class="caption" style="padding: 5px;">
                            <p>Die Schalter <strong>DIP 3</strong>, <strong>DIP 4</strong>, <strong>DIP 6</strong> werden nicht genutzt.</p>
                            <p><span class="lead">Empfehlung:</span>&nbsp; Wenn Sie zu viele Fehlalarme erhalten, stellen Sie den DIP 5 bitte in die AN Position um beide (MW & PIR) Sensoren zu koppeln. Zusätzlich können Sie den Sensor noch mit der internen, software-basierten Bewegungserkennung in Ihrer INSTAR HD Kamera koppeln (gehen Sie dafür bitte in die Weboberfläche Ihrer Kamera - unter Alarm/Aktionen). Danach kann der Alarm nur ausgelöst werden, wenn wirklich alle 3 eine Bewegung erkennen.</p>
                            <p>Wenn Sie merken, dass einer der Sensoren wiederholt nicht anschlägt, obwohl eine Bewegung stattgefunden hat, entkoppeln Sie ihn aus der Kette. Beispiel:  Der PIR Wärmesensor wird Probleme haben Bewegungen während eines heißen, sonnigen Tag zu erkennen, da die Umgebung sich auf Temperaturen nahe der Körpertemperatur aufwärmen wird und die Person somit vor dem Hintergrund nahezu unsichtbar wird. Stellen Sie den DIP 5 Schalter in die AUS Position um das Problem zu kompensieren.</p>
                        </div>

                    </div>

                    <div class="col-sm-12 col-md-4">
                        <div class="card shadow">
                          <img class="card-img-top img-fluid" src="/images/Products/IN-Motion500_13.png" alt="IN-Motion 500 :: Dip Switches">
                          <div class="card-block">
                            <p class="card-text">Die DIP Schalter erlauben Ihnen die Status LED des IN-Motion´s (DIP 1), die Empfindlichkeit des PIR Wärmedetektors (DIP 2) und die Kopplung (DIP 5) der beiden Sensoren (PIR und MW) zu konfigurieren.</p>
                          </div>
                        </div>
                        <!-- /card -->
                    </div>

                </div>

            </section>
            <!-- Close ROW -->

        </div>
        <!-- /Wrap -->

        <section class="webui mb"><% include ../_partials/content/_webui.ejs %></section>
        <!-- /webui -->

        <section class="social"><% include ../_partials/template/_social.ejs %></section>
        <!-- /social -->

        <!-- ############################################# Footer ############################################# -->

        <footer><% include ../_partials/template/_footer.ejs %></footer>

        <% include ../_partials/template/_jsdefaults.ejs %>

    </div>
    <!-- /Wrapper -->

</body>

</html>
