<% include ../_partials/template/_head.ejs %>

<body>
    <% include ../_partials/template/_outdated.ejs %>

    <div id="wrapper">

        <header><% include ../_partials/template/_header.ejs %></header>
        <!-- Navbar-->

        <div class="clearfix mb"></div>

        <div class="wrap mt">

            <!-- ----------------------------------------------- Intro ----------------------------------------------- -->

            <section itemscope itemtype="http://schema.org/Article" class="container mb">
              <% include ../_partials/amp/_schemaArticle.ejs %>

                <div class="row">

                    <div itemprop="name" class="col-12 mb">
                        <h2 class="hidden-sm-down">The IN-MOTION 500</h2>
                        <h3 class="hidden-sm-down">PIR &amp; Mikrowellen Bewegungsmelder</h3>
                        <h2 class="hidden-sm-up">IN-MOTION 500</h2>
                    </div>

                    <div class="hidden-sm-down col-sm-12">
                        <img style="float: right; margin: 0px 0px 15px 15px;" src="/images/Products/IN-Motion500Logo_00.png" class="hidden-sm-down col-md-2 img-fluid" alt="IN-Motion 500 :: Logo"/>

                        <p class="text-justify">Der IN-MOTION 500 PIR &amp; Mikrowellen Bewegungsmelder, verfügt über eine duale Sensoranordnung mit einem Mikrowellen und passiven Infrarot Detektor. Die Mikrowellenantennen arbeiten nach dem Prinzip des Dopplerradars. Eine strahlt ein kontinuierliches Signal aus und eine zweite empfängt die, von Oberflächen in der Umgebung, zurückgeworfene Welle. Ein Objekt, das sich relative zum Sensor bewegt, verursacht eine Phasenverschiebung in diesem Signal, welche ein Alarm auslöst. Der passive Infrarot Sensor (Bolometer) ist empfindlich auf die Wärmesignatur des menschlichen Körpers im Wellenlängenbereich um 10µm. Er reagiert somit auf ein Wärmesignal vor einem kälteren Hintergrund. Der Sensor emittiert keine Energie und wird daher auch als Passiv-IR (PIR) Sensor bezeichnet. Beide Sensortypen haben Vor- und Nachteile und werden daher in der Regel in einer UND Schaltung verbunden, in der beide Sensoren auslösen müssen um Fehlalarme zu minimieren. Es gibt jedoch auch Situationen, in denen eine solche Schaltung die Alarmauslösung gänzlich unterbindet. Ein häufig auftretendes Beispiel im Sommer, ist starke Sonneneinstrahlung, die die Umgebung in die Nähe von Körperwärme erhitzt. In diesem Fall ist der PIR Sensor nicht mehr in der Lage eine Person vor diesem Hintergrund zu erkennen! In Kombination mit einer INSTAR Kamera empfehlen wir daher, die beiden Sensoren zu entkoppeln und den IN-Motion in der Weboberfläche der Kamera mit der internen, softwarebasierten Bewegungserkennung der Kamera zu koppeln. Damit haben Sie die Vorzüge der beiden Detektionsverfahren und zusätzlich noch eine Kontrollinstanz, durch die Kamera, um Fehlalarme zu minimieren.</p>

                        <p class="text-justify">Im Lieferumfang finden Sie alle Komponenten, die Sie benötigen, um den IN-Motion mit Ihrer INSTAR IP Kamera in Betrieb zu nehmen (bitte achten Sie darauf, dass Ihr Kameramodell über einen Alarmeingang verfügen muss!). Der Sensor ist wettergeschützt - wenn Sie den Sensor an einer exponierten Stelle anbringen, müssen Sie jedoch darauf achten, dass die Kabeleinführungen abgedichtet werden müssen.</p>
                    </div>

                </div>

            </section>
            <!-- Close ROW -->

            <!-- -------------------------------------- Content ----------------------------------------- -->

            <section class="container">

                <div class="row justify-content-around">

                  <div class="card col-12 hidden-md-up shadow mb">
                    <img class="img-fluid" src="/images/Products/IN-Motion500_00.png" alt="IN-Motion 500 :: Content of Delivery">
                      <div class="card-block">
                        <h3 class="card-title">Packungsinhalt</h3>
                        <ul class="card-text">
                          <li>1x IN-MOTION 500</li>
                          <li>1x 5m Signalkabel</li>
                          <li>1x Netzteil (12V / 1A)</li>
                          <li>1x Wandhalterung</li>
                          <li>1x Satz Dübel und Schrauben</li>
                          <li>1x Installation Anleitung</li>
                        </ul>
                      </div>
                  </div>

                    <div class="col-12 mb">
                        <p class="text-justify">Der IN-Motion 500 Bewegungsmelder wird mit allem geliefert, was Sie benötigen, um ihn am Alarmeingang Ihrer INSTAR IP Kamera in Betrieb zu nehmen. Ein separates Innennetzteil (nicht wettergeschützt), eine Wandhalterung mit Dübel und Schrauben und einem 5m Verlängerungskabel, um den Sensor bequem an Ihrer Kamera anzubinden. Das lange Kabel ermöglicht es Ihnen, den IN-Motion näher an den Überwachungsraum zu bringen und so gegebene Engpässe - die von Personen zwangsläufig durchgangen werden - für den Erfassungsbereich des Sensors zu nutzen.</p>
                    </div>

                </div>
                <!-- /row -->
            </section>
            <!-- /container -->

            <!-- -------------------------------------------------------Media Objects ----------------------------------------- -->

            <section class="container">
                <div class="row">

                    <div class="hidden-sm-down">
                        <h2>.:: IN-Motion 500 :: Handbuch ::.</h2>
                    </div>

                    <div class="hidden-sm-up col-xs-11 mb">
                        <h2>Handbuch</h2>
                    </div>

                    <div class="col-xs-12">
                        <!-- Media Container -->

                    <div class="row justify-content-around mb">
                        <div class="col-sm-3 mt">
                          <a href="/Products/IN-Motion/500/Dual_Sensor">
                            <img src="/images/Products/QL-Box_IN-Motion_500_Sensor_mouseOver.png" alt="IN-Motion 500 :: Sensor" class="img-fluid img-rounded shadow" style="max-height:250px;"/>
                          </a>
                        </div>
                        <div class="col-sm-8 mt">
                          <h3 class="lead">Wie funktioniert der Duale Sensor?</h3>
                          <p style="text-align: justify;">Alle Methoden der Bewegungserkennung haben ihre Vor- und Nachteile. Die Lösung für dieses Problem ist es eine alternative Methode übernehmen zu lassen, wenn die erste an ihre Grenzen kommt. Reguläre Wärmesensoren (PIRs) arbeiten am zuverlässigsten in einem kalten Umfeld, vorzugsweise nachts, ohne Interferenzen durch Sonnenlicht. Und wenn der potentielle Eindringling sich parallel zum Sensor bewegt. Der Sensor verliert seine Empfindlichkeit, wenn der Eindringling seine Körperwärme abschirmt, oder wenn der Hintergrund auf einer Temperatur liegt, die nahe der Körpertemperatur ist. Eine falsch-positive kann z.B. auftreten, wenn heiße - von der Sonne erwärmte - Luft vor dem Sensor aufsteigt. Der Mikrowellen Sensor strahlt Energie aus, die von Hindernissen wieder zurück zum Sensor reflektiert wird. Diese reflektierten Mikrowellen werden von einer zweiten Antenne aufgenommen und Änderungen, aufgrund von bewegten Objekten vor dem Sensor, detektiert. Interferenzen mit Hitze und Sonnenlicht sind hierbei gering und der Sensor arbeitet am besten, wenn sich der Eindringling frontal auf den Sensor zu bewegt. Falsch-positive Erkennungen können auftreten, da die Antennen ihr Signal gleichmäßig in alle Richtungen ausstrahlen und die Mikrowellen viele gängige Baumaterialien durchdringen - es kann also vorkommen, dass der Nachbar eine Etage höher den Alarm auslöst. Die Sensoren komplementieren sich in ihren Schwachstellen, aber profitieren von der software-basierten Bewegungserkennung in der Kamera, die als Kontrollinstanz mit dem Sensor gekoppelt werden kann, um falsch-positive Alarme zu minimieren. <a href="/Products/IN-Motion/500/Dual_Sensor">mehr...</a></p>
                        </div>
                      </div>

                      <div class="row justify-content-around mb">
                            <div class="col-sm-3 mt">
                              <a href="/Products/IN-Motion/500/Setup">
                                <img src="/images/Products/QL-Box_IN-Motion_500_Setup_mouseOver.png" alt="IN-Motion 500 :: Setup" class="img-fluid img-rounded shadow" style="max-height:250px;"/>
                              </a>
                            </div>
                            <div class="col-sm-8 mt">
                                <h3 class="lead">Konfiguration Ihres IN-Motion 500</h3>
                                <p class="text-justify">Bevor Sie den IN-Motion mit Ihrer INSTAR Kamera nutzen können, müssen Sie zuerst das Signalkabel verbinden, wählen ob Sie den Sensor N.C. oder N.O. betreiben möchten und die Empfindlichkeit beider Sensoren anpassen. Zusätzlich können Sie beide Sensoren entweder unabhängig betreiben (ODER) oder diese koppeln (UND), so dass beide Sensoren gleichzeitig anschlagen müssen um einen Alarm auszulösen. Der ODER Modus ist optimal, wenn Sie den In-Motion in einem Umfeld einsetzen, in dem einer der Sensoren gestört wird - z.B. im sehr heißen/sonnigen Außenbereich, in dem der PIR Körperwärme nicht mehr registriert. Der UND Modus sollte verwendet werden, wenn Sie zu viele falsch-positive Alarme aufgrund einer Limitierung eines der beiden Sensoren erhalten. Aber auch in diesem Fall ist es in der Regel besser, den ODER Modus beizubehalten und die Erkennung durch den IN-Motion mit der kamerainternen software-basierten Erkennung zu koppeln. <a href="/Products/IN-Motion/500/Setup">mehr...</a></p>
                            </div>
                        </div>

                        <div class="row justify-content-around mb">
                            <div class="col-sm-3 mt">
                              <a href="/Products/IN-Motion/500/Wiring">
                                <img src="/images/Products/QL-Box_IN-Motion_500_Wiring_mouseOver.png" alt="IN-Motion 500 :: Wiring" class="img-fluid img-rounded shadow" style="max-height:250px;"/>
                              </a>
                            </div>
                            <div class="col-sm-8 mt">
                                <h3 class="lead">Verbinden Sie den IN-Motion 500 mit Ihrer INSTAR Kamera</h3>
                                <p class="text-justify">Nach der Konfiguration des IN-Motions, ist der Rest der Installation ein Kinderspiel. Befestigen Sie den Sensor an einer Wand und stellen Sie die Stromversorgung her. Jetzt müssen Sie nur noch das Signalkabel mit dem Alarmeingang Ihrer INSTAR Kamera verbinden. Der Alarm-IN Stecker ist entweder am Kabelbaum der Außenkamera, oder direkt im Fuß Ihrer Innenkamera zu finden. Bitte überprüfen Sie das Benutzerhandbuch Ihrer Kamera für weitere Details. Anmerkung: Nicht alle Kameramodelle verfügen über ein Alarm Relais. Bitte stellen Sie sicher, dass Ihre Kamera externe Sensoren unterstützt, bevor Sie sich den IN-Motion 500 zulegen. <a href="/Products/IN-Motion/500/Wiring">mehr...</a></p>
                            </div>
                        </div>

                        <div class="row justify-content-around mb">
                            <div class="col-sm-3 mt">
                              <a href="/Products/IN-Motion/500/User_Interface">
                                <img src="/images/Products/QL-Box_IN-Motion_500_WebUI.png" alt="IN-Motion 500 :: WebUI" class="img-fluid img-rounded shadow" style="max-height:250px;"/>
                              </a>
                            </div>
                            <div class="col-sm-8 mt">
                                <h3 class="lead">IP Kamera WebUI Einstellungen</h3>
                                <p class="text-justify">Abhängig davon wie Sie den Sensor mit Ihrer Kamera verbunden haben, müssen Sie jetzt den richtigen Betriebsmodus in der Weboberfläche (WebUI) der Kamera einstellen. Öffnen Sie bitte die Oberfläche in Ihrem Browser und gehen Sie zu Alarm/Aktionen um das Relais zu aktivieren und festzulegen, ob Sie dieses im N.O. oder N.C. Modus betreiben möchten. Wenn Sie den PIR und MW Sensor des IN-Motion 500 in der ODER Konfiguration betreiben (s.o.), ist es empfohlen die interne, software-basierte Bewegungserkennung der Kamera mit dem externen Sensor zu koppeln (nur für HD Kameras). Ansonsten können Sie die interne Erkennung (Alarm Bereiche) in der Kamera deaktivieren. <a href="/Products/IN-Motion/500/User_Interface">mehr...</a></p>
                            </div>
                        </div>

                        <div class="row justify-content-around mb">
                            <div class="col-sm-3 mt">
                              <a href="/Products/IN-Motion/500/Considerations">
                                <img src="/images/Products/QL-Box_IN-Motion_500_Considerations_mouseOver.png" alt="IN-Motion 500 :: Considerations" class="img-fluid img-rounded shadow" style="max-height:250px;"/>
                              </a>
                            </div>
                            <div class="col-sm-8 mt">
                                <h3 class="lead">Allgemeine Berücksichtigungen</h3>
                                <p class="text-justify">Wie bereits mehrfach erwähnt, gibt es viele Faktoren, die Einfluss haben auf die Empfindlichkeit und Genauigkeit beider Sensoren. Es wichtig vorauszuplanen, wo Sie den Sensor installieren und welche Interferenzen Sie erwarten. Brauchen Sie ein Maximum an Empfindlichkeit um auch die kleinste Bewegung einzufangen - selbst wenn dies bedeutet, dass Sie viele Fehlalarme erhalten werden? Oder möchten Sie, dass die Kamera nur dann anspringt, wenn sich wirklich alle Sensoren einig sind, dass eine Bewegung stattgefunden hat - auch wenn Sie dadurch die eine oder andere Bewegung verpassen? <a href="/Products/IN-Motion/500/Considerations">mehr...</a></p>
                            </div>
                        </div>

                        <div class="row justify-content-around mb">
                            <div class="col-sm-3 mt">
                              <a href="/Products/IN-Motion/500/Recorder">
                                <img src="/images/Products/QL-Box_IN-Motion_500_Recorder_mouseOver.png" alt="IN-Motion 500 :: External Recording" class="img-fluid img-rounded shadow" style="max-height:250px;"/>
                              </a>
                            </div>
                            <div class="col-sm-8 mt">
                                <h3 class="lead">Externe Aufnahmegeräte</h3>
                                <p class="text-justify">Die Verwendung eines externen Bewegungsmelders wird Ihnen ein wesentlich besseres Ergebnis bei Ihren Alarmaufnahmen geben. Jede reine software-basierte Bewegungserkennung ist immer Anfällig für Veränderungen in den Lichtverhältnissen oder generelle Wetterbedingungen, wie Regen, Schnee oder Nebel. Externe Überwachungslösungen, wie sie z.B. von QNAP oder Synology angeboten werden, bieten eine höherwertige software-basierte Bewegungserkennung. Aber selbst diese kommen nicht an die Genauigkeit einer Überwachungskamera ran, die im Verbund mit einem Hardware Sensor arbeitet. Diese Systeme bieten Ihnen daher zum Teil die Möglichkeit, anstatt der internen Erkennung, den Alarmzustand in Ihrer Kamera als Auslöser für Alarmaktionen zu verwenden. <a href="/Products/IN-Motion/500/Recorder">mehr...</a></p>
                            </div>
                        </div>

                    </div>
                    <!-- /Media Container -->

                </div>
                <!-- /ROW -->

            </section>
            <!-- /Media Objects -->

        </div>
        <!-- /Wrap -->

        <section class="webui mb"><% include ../_partials/content/_webui.ejs %></section>
        <!-- /webui -->

        <section class="social"><% include ../_partials/template/_social.ejs %></section>
        <!-- /social -->

        <!-- ############################################# Footer ############################################# -->

        <footer><% include ../_partials/template/_footer.ejs %></footer>

        <% include ../_partials/template/_jsdefaults.ejs %>

    </div>

</body>

</html>
