<% include ../_partials/template/_head.ejs %>

<body>
    <% include ../_partials/template/_outdated.ejs %>

    <div id="wrapper">

        <header><% include ../_partials/template/_header.ejs %></header>
        <!-- Navbar-->

        <div class="clearfix mb"></div>

        <!-- --------------------------------------------- Content -------------------------------------------- -->

          <div class="wrap mt">

            <section itemscope itemtype="http://schema.org/Article" class="container mb">
              <% include ../_partials/amp/_schemaArticle.ejs %>
              
                <div class="row">

                    <div class="col-12">
                        <h2 itemprop="name">IN-Motion 300</h2>
                        <h3 class="text-muted">Passiver Infrarot Bewegungsmelder</h3>
                    </div>

                    <div class="col-sm-12 col-md-8">

                        <p class="text-justify">Der IN-MOTION 300 ist ein Passiv-Infrarot-Bewegungsmelder (PIR). Dieser Sensor ist die perfekte Ergänzung für Ihre IP-Kamera, um Fehlalarme zu minimieren. Während die Kamera mit Hilfe einer softwarebasierten Bewegungserkennung, die jedes Bild (Frame) miteinander vergleicht um eine Bewegung zu erkennen, arbeitet, wird der PIR-Detektor nur Menschen oder größere Tiere, die Körperwärme ausstrahlen erkennen. Ein Baum, der sich im Wind bewegt oder ein Licht das ein- oder ausgeschaltet wird, kann nicht dazu führen einen Alarm in Ihrer IP-Kamera ausuzulösen. Der IN-MOTION 300 Bewegungsmelder wird diese Art von Bewegung nicht erkennen und hilft so die Anzahl von Fehlalarmen erheblich zusenken.</p>

                        <p class="text-justify">Die Lieferung umfasst alles was Sie benötigen, um den Sensor mit Ihrer INSTAR IP-Kamera zu verbinden (solange das Kamera-Modell über einen Alarm Ein-/Ausgang verfügt - überprüfen Sie bitte hierzu die Technische Daten Ihrer Kamera):</p>

                        <ul>
                            <li>1x IN-MOTION 300</li>
                            <li>1x 4m Signalkabel</li>
                            <li>1x Netzteil (12V / 3A) mit 3m Kabel</li>
                            <li>1x Satz Dübel und Schrauben</li>
                            <li>1x Montageanleitung</li>
                        </ul>
                    </div>

                    <div class="col-12 col-md-4">
                        <div class="card shadow">
                            <img class="card-img-top img-fluid" src="/images/Products/IN-Motion300_00.jpg" alt="IN-Motion 300">
                            <div class="card-block">
                              <p class="card-text">Der IN-Motion 300 PIR Bewegungsmelder für IP Innenkameras.</p>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /Row -->
            </section>
            <!-- /Container -->

          </div>
          <!-- /Wrap -->

            <!-- -------------------------------------------------- What is PIR ----------------------------------------- -->

          <div class="wrap mt">

            <section class="container mb">

                <div class="row">

                    <div class="col-12 mb">
                        <h2>Wie funktioniert ein Bewegungsmelder?</h2>
                        <h3>Wofür steht PIR?</h3>
                        <p class="text-justify">PIR steht für Passiv-Infrarot oder pyroelektrisches Infrarot. PIR-Sensoren können einen warmen Körper in Bewegung als Ziel definieren. Ein stationäres Ziel kann nicht erkannt werden. Um ein sich bewegendes Ziel zu erfassen, muß das Ziel eine Oberflächentemperatur aufweisen, welche sich wesentlich von der Umgebungstemperatur abhebt. Obwohl die üblichen Ziele eines Bewegungsmelders warme Körper (Säugetiere, Vögel) sind, wird der PIR-Sensor auch ein bewegtes Ziel detektieren, dass eine Oberflächentemperatur hat, die wesentlich niedriger ist als die Umgebungstemperatur. Solange das Ziel ausreichend groß ist und sich seine Oberflächentemperatur nachweisbar von der Umgebungstemperatur (höher oder niedriger) unterscheidet und es sich bewegt, kann es durch einen PIR-Sensor detektiert werden.</p>
                    </div>

                    <div class="col-sm-12 col-md-8">
                        <h3>Hauptfunktionen des IN-Motion 300</h3>
                        <br>
                        <ul>
                            <li>Interne Logiksteuerung zur Vermeidung von Fehlalarmen</li>
                            <li>Automatische Temperaturkompensation</li>
                            <li>Impulszahl Einstellung</li>
                            <li>Weißlichtinterferenz Kompensation</li>
                            <li>RF Interferenz komp. (20V/m-1GHz)</li>
                            <li>Weitwinkel Fresnel- Objektiv</li>
                            <li>Deckenmontage</li>
                            <li>Alarmausgang N.C. / N.O.</li>
                        </ul>
                    </div>

                    <div class="col-12 col-md-4">
                        <div class="card shadow">
                            <img class="card-img-top img-fluid" src="/images/Products/IN-Motion300_00s.png" alt="IN-Motion 300">
                            <div class="card-block">
                              <p class="card-text">Der IN-Motion 300 - Ein leistungsstarker und unauffäliger Kamera-Begleiter.</p>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /Row -->
            </section>
            <!-- /Container -->

          </div>
          <!-- /Wrap -->

            <!-- --------------------------------------- General ---------------------------------------------- -->

          <div class="wrap mt">

            <section class="container mb">

                <div class="row">

                    <div class="col-12 mb">
                        <h3>Allgemeine Informationen</h3>
                        <p class="text-justify">Die Temperatur kann sich oft in relativ kurzer Zeit dramatisch verändern. Große Temperaturschwankungen können den PIR-Sensor mehr oder weniger beeinflussen. Wenn die Umgebungstemperatur in die Nähe von 37°C ansteigt und die Differenz zwischen der Temperatur des Zielobjektes und der Umgebungstemperatur abnimmt, dann nimmt auch die Empfindlichkeit des Sensors ab. Wenn die Temperaturen abnimmt ist das Gegenteil der Fall und der Sensor wird empfindlicher.</p>
                        <p class="text-justify">Wenn sich die Temperatur des Zielobjektes und die der Umgebung annähert, ist der PIR-Sensor nicht mehr in der Lage, ein Ziel zu erfassen. Große Ziele haben in der Regel genug Abwechslung in ihrer Oberflächentemperatur und ermöglichen es so dem Sensor, sie zu erkennen - selbst wenn die Umgebungstemperatur gleich ist wie die durchschnittliche Körpertemperatur.</p>
                        <p class="text-justify">Mit den IN-Motion PIR-Sensoren kompensieren Sie die PIR-Detektor-Empfindlichkeit bezüglich auf die Umgebungstemperatur. Dies ermöglicht Ihnen, die gesamte Bandbreite der Sensoren Funktionen zu nutzen - wann und wo immer Sie sie benötigen!</p>
                    </div>

                    <div class="col-12 mb">
                        <h2>Wie kann ich den IN-Motion 300 Sensor installieren?</h2>
                        <br>
                        <div class="card shadow">
                            <img class="img-fluid" src="/images/Products/IN-Motion300_01.png" alt="IN-Motion 300">
                            <div class="card-block">
                              <p class="card-text">Dies sind die Komponenten des IN-Motion 300 PIR-Bewegungsmelder.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                      <!-- Table -->
                      <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <th>Komponenten</th>
                                    <th>Funktion</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th><span class="lead">1</span>  Relay Jumper</th>
                                        <td>Sie können das Relais auf NO "normal offen" (1 &amp; 2) oder NC "normal geschlossen" (2 &amp; 3) stellen. Im NC Modus löst eine Unterbrechung in der Verbindung zum Sensor, beispielsweise wenn sie beschädigt ist, einen Alarm aus. NC ist der Standardmodus.</td>
                                    </tr>
                                    <tr>
                                        <th><span class="lead">2</span>  Alarmanzeiger Jumper</th>
                                        <td>Stellen Sie den Jumper auf die Pin 2 &amp; 3, um die rote Alarm-LED zu deaktivieren (siehe 7, unten).</td>
                                    </tr>
                                    <tr>
                                        <th><span class="lead">3</span>  Sabotageschalter</th>
                                        <td>Der Sabotagekontakt löst einen Alarm aus, wenn der Sensor geöffnet wird, um eine Manipulation zu verhindern.</td>
                                    </tr>
                                    <tr>
                                        <th><span class="lead">4</span>  Anschlussbuchse</th>
                                        <td>Anschluss für 12V-Netzteil + Alarmausgang.</td>
                                    </tr>
                                    <tr>
                                        <th><span class="lead">5</span>  Impuls Kompensation Jumper</th>
                                        <td>Sollte Ihr Sensor zu viele Fehlalarme auslösen, stellen Sie bitte die Sensoren Empfindlichkeit ein - Jumper auf Pin 1 &amp; 2 entspricht einer hohen Empfindlichkeit, 2 &amp; 3 eine durchschnittliche Empfindlichkeit und Entfernen der Brücke führt zu einer geringen Empfindlichkeit.</td>
                                    </tr>
                                    <tr>
                                        <th><span class="lead">6</span>  IR Sensor</th>
                                        <td>Dual-Element pyroelektrischer Detektor.</td>
                                    </tr>
                                    <tr>
                                        <th><span class="lead">7</span>  Alarm Indicator</th>
                                        <td>Die rote LED zeigt den Alarmzustand des Sensors.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /Table -->
                    </div>

                </div>
                <!-- /Row -->
            </section>
            <!-- /Container -->

          </div>
          <!-- /Wrap -->

            <!-- -------------------------------------------------- Wiring --------------------------------------------------------- -->

          <div class="wrap mt">

            <section class="container mb">

                <div class="row">

                    <div class="col-12 mb">
                        <h2>Wie kann ich den Sensor mit meiner IP-Kamera verbinden?</h2>
                        <br>
                        <div class="card shadow">
                            <img class="card-img-top img-fluid" src="/images/Products/IN-Motion300_02.png" alt="IN-Motion 300">
                            <div class="card-block">
                              <p class="card-text">Der Kamera Alarm-Ein-/ Ausgang ist 4-polig - 1 &amp; 2 sind die Alarm-Ausgänge und 3 &amp; 4 sind die Alarmeingänge. Verwenden Sie die Pins 3 &amp; 4 für (potentialfrei) Sensorgeräte, die Sie verwenden möchten um den Alarm für die Kamera auszulösen.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <p class="text-justify">Der IN-Motion PIR Sensor ist bereits mit dem Netzstecker und dem Alarm-Ausgang-Kabel verbunden. Schließen Sie das Signalkabel einfach an Ihre INSTAR Kamera Alarmeingangsbuchse an. Das Bild unten zeigt die Ein-/ Ausgang -Brücke von IN-3005/3010 oder 3011 - wählen Sie die Ports 3 &amp; 4 für das Sensorkabel und stecken Sie die Brücke in den Kamera Ein-/ Ausgang –Anschluss um.</p>
                    </div>

                    <div class="col-12 mb">
                        <div class="card shadow">
                            <img class="card-img-top img-fluid" src="/images/Products/IN-Motion300_03.png" alt="IN-Motion 300">
                            <div class="card-block">
                              <p class="card-text">Dies sind die Komponenten des IN-Motion 300 PIR-Bewegungsmelders.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <p class="text-justify">Der Alarmeingang Ihrer Kamera kann anders aussehen, je nach Kameramodell. Bitte verwenden Sie Ihr Benutzerhandbuch, um die richtigen Anschlüssen zufinden. Sie können die Polarität wählen, wenn Sie das Kabel anschließen. Nach dem Anschliessen des PIR-Sensors mit dem Kamera-Signaleingang, öffnen Sie bitte die Kamera Web-Benutzeroberfläche. Gehen Sie zu den Alarmeinstellungen und aktivieren Sie den externen Alarmeingang. Je nachdem, wie Sie Ihren Sensor (N.C. offen oder N.O. geschlossen) eingestellt haben, wählen Sie die Relay Position (HD-Kameras) / Trigger Level (VGA-Kameras) dementsprechend. In der Praxis heißt das - wählen Sie den Wert aus, der Ihnen nicht kontinuierliche Fehlalarme auslöst. Sie können die IN-Motions Alarm-LED verwenden (rote Alarmanzeige sollte leuchten, wenn ausgelöst, siehe Tabelle oben Nummer 7), um zu testen, ob der Sensor funktioniert. Das Testen an ihrem Aufstellungsort ermöglicht Ihnen die geeignete Empfindlichkeit zu finden und einzustellen.</p>
                        <p class="text-justify">Das Auslösen des PIR-Sensors sollte nun einen Alarm in der Kamera auslösen. Dieser Alarm wird von der Kamera genauso behandeln wie eine interne Bewegungsalarm. D.h. alle Einstellungen für einen Alarmfall (Videoaufnahme, E-Mail-Benachrichtigung, FTP-Upload, etc.) werden übernommen und können ab sofort durch den PIR-Sensor ausgelöst werden.</p>
                    </div>

                  </div>
                  <!-- /Row -->
            </section>
            <!-- /Container -->

                    <!-- ---------------------------------------------- Tech Specs ----------------------------------------------- -->

                    <article class="container mb">
                        <div class="row">

                              <h3>Technische Spezifikationen</h3>
                              <br>
                                <!-- Table -->
                                <table class="table table-hover">
                                    <thead>
                                        <th>Sensor Modell</th>
                                        <th>INSTAR IN-Motion 300 PIR Motion Detector</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">Betriebsspannung</th>
                                            <td>Gleichstrom 9V - 16V</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Stromaufnahme</th>
                                            <td>18mA @ DC12V</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Erfassungsreichweite</th>
                                            <td>8m (bei einer Höhe von 3.6m)</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Erfassungswinkel</th>
                                            <td>360° bei einem Öffnungswinkel von ~ 90°</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Zeit bis Betriebsbereit</th>
                                            <td>60 Sekunden (Aufwärmen von bis zu 10 Minuten bei Temperaturen unter -10°C !)</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">RF Störungs-Kompensation</th>
                                            <td>10MHz 1GHz 20V/m</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Alarm Indikator</th>
                                            <td>Rote LED</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Alarm Ausgang</th>
                                            <td>N.C. oder N.O., DC 28V/100mA</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Sabotagekontakt</th>
                                            <td>N.C., DC 28V / 100mA</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Sensor</th>
                                            <td>Dualer pyroelektrischer Sensor</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Luftfeuchtigkeit</th>
                                            <td>95% RH</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Betriebstemperatur</th>
                                            <td>-10°C bis +50°C</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Installationsmodus</th>
                                            <td>Decken- oder Wandhalterung</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Installationshöhe</th>
                                            <td>2.5m bis 6m</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Größe</th>
                                            <td>79 mm Durchmesser / 23mm Tiefe</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Kompatibel mit</th>
                                            <td>IN-2905 V2, IN-2907, IN-2908, IN-3001, IN-3005, IN-3010, IN-3010 PoE, IN-3011, IN-4009, IN-4010, IN-4011, IN-5907HD, IN-5907HD PoE, IN-6011HD, IN-6012HD, IN-6012HD PoE, IN-7011HD, IN-7011HD PoE</td>
                                        </tr>
                                    </tbody>
                                </table>

                        </div>
                        <!-- /Row -->
                    </article>
                    <!-- /Container -->
          </div>
          <!-- /Wrap -->

            <section class="webui mb"><% include ../_partials/content/_webui.ejs %></section>
            <!-- /webui -->

            <section class="social"><% include ../_partials/template/_social.ejs %></section>
            <!-- /social -->

            <!-- ############################################# Footer ############################################# -->

            <footer><% include ../_partials/template/_footer.ejs %></footer>

            <% include ../_partials/template/_jsdefaults.ejs %>



          </div>
          <!-- /Wrapper -->

    </body>

</html>
