<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap">
          <div class="container main">

            <% include ../_partials/content/_bluenav-general.ejs %>

                <section itemscope itemtype="http://schema.org/Article" class="blade wrapper content">

                    <div class="container">
                        <div class="row">
                            <div itemprop="name" class="twelve columns">
                                <h1>IN-Route P52</h1>
                                <h2>Overview</h2>
                            </div>
                        </div>

                        <div class="margin">
                          <h3>File Explorer</h3>
                          <p class="justify">In diesem und den folgenden Artikeln werden wir uns die Weboberfläche (WebUI) des IN-Route P52 einmal genauer ansehen. Um die Oberfläche zu erreichen, laden Sie zuerst die Batterie Ihres IN_Route´s auf, schieben Sie den Power Knopf in die WiFi Position und verbinden Sie sich mit dem WLAN Netzwerkes des Gerätes. Für mehr Informationen folgen Sie bitte der Anleitung für das Router Login. Um diesem Artikel folgen zu können, aktivieren Sie bitte die Expertenansicht - die Einfache Ansicht wird nicht alle Funktionen zur Verfügung stellen, die im Folgenden besprochen werden. Beachten Sie bitte, dass die folgenden Informationen erweiterte Funktionen des IN-Route P52 betreffen, die für den regulären Einsatz nicht geändert werden müssen. In den meisten fällen wird es reichen den Ersten Schritten zu folgen.</p>
                          <br>
                          <div>
                              <amp-img src="/images/Products/IN-Route_P52_07en.png" width="1000" height="566" layout="responsive" class="shadow"></amp-img>
                          </div>
                            <p class="justify">Verwandeln Sie Ihren IN-Route P52 in ein Netzlaufwerk (NAS) für Ihren USB Massenspeicher, um die gespeicherten Daten in Ihrem lokalen Netzwerk verfügbar zu machen. Öffnen Sie die Datei Explorer Seite um auf die Dateien zuzugreifen, oder nutzen Sie einfach ein FTP Programm um Ihre Dateien zu verwalten.</p>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <p class="justify">Der Datei Explorer gibt Ihnen Zugriff auf USB Massespeicher, die am USB Port des Routers angeschlossen sind - ( s. #9). Diese Funktion macht aus Ihrem USB Stick, USB Festplatte oder USB SD Kartenleser ein Netzlaufwerk (NAS), dass es Ihnen erlaubt Dateien zwischen anderen WLAN Geräten im Netzwerk zu teilen. Klicken Sie einfach auf die gewünschte Datei, um diese in Ihr Standard Download Verzeichnis herunterzuladen.</p>
                          <p class="justify">Teilen Sie wichtige Textdokumente mit Ihren Arbeitskollegen, oder laden Sie sich Bilder von Ihrer Kamera über einen SD Kartenleser auf Ihr Mobiltelefon oder Tablet. Der IN-Route P52 erlaubt Ihnen das austauschen von Datein - wo auch immer Sie sich gerade aufhalten.</p>
                          <br>
                          <div>
                              <amp-img src="/images/Products/IN-Route_P52_NAS_01.png" width="1000" height="664" layout="responsive" class="shadow"></amp-img>
                          </div>
                            <p class="justify">Stecken Sie Ihren SD Kartenleser in den USB port des IN-Routes - die Status LED wird daraufhin grün zu blinken beginnen - und teilen Sie Ihre Urlaubschnappschüsse mit Ihren Freunden und Familie.</p>
                        </div>
                        <!-- /margin -->

                    </div>
                    <!-- /Container -->
                  </section>
                  <!-- /blade -->
                </div>
                <!-- /Content -->
              </div>
              <!-- /WRAP -->

              <% include ../_partials/content/_bluenav-general-mobile.ejs %>

                <footer>
                    <% include ../_partials/amp/_amp-footer.ejs %>
                </footer>
                </body>
            </html>
