<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap">
          <div class="container main">

            <% include ../_partials/content/_bluenav-general.ejs %>

                <section itemscope itemtype="http://schema.org/Article" class="blade wrapper content">
                  <% include ../_partials/amp/_schemaArticle.ejs %>

                    <div class="container">
                        <div class="row">
                            <div itemprop="name" class="twelve columns">
                                <h1>IN-Route P52</h1>
                                <h2>Der Login</h2>
                            </div>
                        </div>

                        <div class="margin">
                          <p class="justify">Stellen Sie bitte sicher, dass die Batterie des IN-Route´s vollständig geladen ist indem Sie auf den Batterie Knopf drücken - 4 blaue LEDs bedeutet der Router ist bereit. Drücken Sie jetzt den Power Knopf in die dritte Position mit dem WiFi Symbol. Ihr IN-Route wird jetzt den WiFi Router starten - warten Sie ein wenig bis dieser vollständig gebootet hat. Achten Sie dabei auf die Status LED in der oberen Schale des Gerätes - sobald der Router betriebsbereit ist, werden beide LEDs - die blaue und die grüne - leuchten und das Licht türkis färben. Kurz danach werden Sie das WLAN Netzwerk Ihres IN-Route´s in der WLAN Liste Ihres Rechners oder Mobilgerätes sehen.</p>
                          <br>
                          <div>
                              <amp-img src="/images/Products/IN-Route_P52_00-1en.png" width="650" height="283" layout="responsive" class="shadow"></amp-img>
                          </div>
                            <p class="justify">Laden Sie Ihre Powerbank, überprüfen Sie die Ladeanzeige und drücken Sie den Power Knopf in die WLAN Router Position - die mit dem WiFi Symbol.</p>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <h3>How to Login to your IN-Route P52 Router</h3>
                          <p class="justify">
                            Starten Sie Ihren Computer oder Mobilgerät und öffnen Sie die Liste der verfügbaren WLAN Netzwerke. Der Standard WLAN Netzwerkname (SSID) Ihres IN-Route´s lautet IN-Route P52. Stellen Sie sicher, dass Sie auswählen, dass sich Ihr Computer oder Mobilgerät auch automatisch wieder mit dem WLAN Netzwerk verbindet (falls diese Einstellung vorhanden ist), da Sie während der Ersteinrichtung den Router ggf. mehrfach neustarten müssen und sich ansonsten jedes mal manuell wieder mit dem Netzwerk verbinden müssten. Bitte stellen Sie sicher, dass Ihr Gerät konfiguriert ist automatisch eine IP vom Router zu beziehen (DHCP) bevor Sie sich mit dem Netzwerk verbinden. Wenn Sie sich nicht sicher sind, wie Ihr Gerät konfiguriert ist, ist es mit großer wahrscheinlichkeit bereits richtig eingestellt. Das Standard Passwort für das WLAN Netzwerk lautet:
                          </p>
                          <ul>
                            <li><strong>WiFi Key = 12345678</strong></li>
                          </ul>
                          <br>
                          <div>
                              <amp-img src="/images/Products/IN-Route_P52_01.png" width="336" height="282" layout="responsive" class="shadow"></amp-img>
                          </div>
                          <br>
                          <p>Wählen Sie das IN-Route Netzwerk und verbinden Sie sich mit diesem.</p>
                          <br>
                          <p class="justify">
                            Öffnen Sie Ihren Standard Web Browser nachdem die Verbindung aufgebaut wurde, und geben Sie die IP des Routers in die Adresszeile Ihres Browsers ein. Die Standard IP des IN-Routes lautet http://192.168.169.1 und Sie können das http:// Präfix bei den meisten Browsern einfach weglassen. Nach Eingabe der IP 192.168.169.1 brauchen Sie nur noch die Eingabe-Taste drücken um die Weboberfläche des Routers zu starten und zur Login Aufforderung zu gelangeb. Das Stadard Login des Routers lautet:                          </p>
                          <br>
                          <ul>
                            <li>Username = <strong>admin</strong></li>
                            <li>Password = <strong>instar</strong></li>
                          </ul>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <div>
                              <amp-img src="/images/Products/IN-Route_P52_02.png" width="849" height="414" layout="responsive" class="shadow"></amp-img>
                          </div>
                            <p class="justify">Geben Sie jetzt <a href="http://192.168.169.1">http://192.168.169.1</a> in die Adresszeile Ihres Browsers ein um die Weboberfläche des Routers zu öffnen. Das Standard Login des IN-Route P52 ist admin und das Kennwort lautet instar.</p>
                            <br>
                            <p class="justify">
                              Danach wird die Weboberfläche des Routers geladen und Sie können das Gerät nach Ihren Anforderungen konfigurieren. Folgen Sie bitte den Links (unten) um weiter Informationen zur Konfiguration des Routers zu erhalten. Aber die gute Nachricht ist, wenn Sie den IN-Route jetzt über ein LAN Kabel mit Ihrem Internet Router verbinden, baut dieser sofort einen Access Point für Ihre WLAN Geräte auf und Sie gelangen über dieses Netzwerk ins Internet. Das nächste mal, wenn Sie sich in einem Hotelzimmer befinden, das nur ein LAN Kabel für den Internetzugang Ihres iPad zur verfügung stellt - wenn Sie Ihren IN-Route dabei haben, haben Sie Glück! Schalten Sie Ihren IN-Route ein, warten Sie den Bootvorgang ab, verbinden Sie ihn mit dem LAN Kabel und verbinden Sie Ihr iPad mit dem WLAN Netzwerk des Mini-Routers. Fertig - Problem gelöst! Beachten Sie aber bitte, dass es teilweise bis zu 5 Minuten dauern kann, bis Sie den Internetzugang haben nachdem Sie sich mit dem Netzwerk verbunden haben.
                            </p>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <div>
                              <amp-img src="/images/Products/IN-Route_P52_03en.png" width="1000" height="565" layout="responsive" class="shadow"></amp-img>
                          </div>
                            <p>Sie werden jetzt vom Startbildschirm des Routers begrüßt und können mit der Konfiguration beginnen.</p>
                        </div>
                        <!-- /margin -->

                    </div>
                    <!-- /Container -->
                  </section>
                  <!-- /blade -->
                </div>
                <!-- /Content -->
              </div>
              <!-- /WRAP -->

              <% include ../_partials/content/_bluenav-general-mobile.ejs %>

                <footer>
                    <% include ../_partials/amp/_amp-footer.ejs %>
                </footer>
                </body>
            </html>
