<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap">
          <div class="container main">

            <% include ../_partials/content/_bluenav-general.ejs %>

                <section itemscope itemtype="http://schema.org/Article" class="blade wrapper content">
                  <% include ../_partials/amp/_schemaArticle.ejs %>

                    <div class="container">
                        <div class="row">
                            <div itemprop="name" class="twelve columns">
                                <h1>IN-Route P52</h1>
                                <h2>Einführung</h2>
                            </div>
                        </div>

                        <div class="margin">
                          <h3>Oberfläche</h3>
                          <br>

                          <div class="margin">
                            <amp-img
                                on="tap:lightbox1"
                                role="button"
                                tabindex="0"
                                src="/images/Products/IN-Route_Overview.jpg" width="1000" height="667" layout="responsive" class="shadow">
                            </amp-img>
                          </div>
                          <!-- /margin -->

                            <p>Der IN-Route P52 WiFi Access Point und Ersatzbatterie in Einem - Der perfekte Reisebegleiter.</p>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <amp-img
                              on="tap:lightbox2"
                              role="button"
                              tabindex="0"
                              src="/images/Products/IN-Route_Diagram_01.png" width="1000" height="498" layout="responsive" class="shadow">
                          </amp-img>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <table>
                              <tr>
                                  <td><strong>IN-Route Modell</strong></td>
                                  <td><strong>INSTAR IN-Route P52 Powerbank &amp; Wireless AP</strong></td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>1a Power Anzeige BLAU</strong>
                                    </td>
                                    <td>Die blaue LED zeigt an, dass das Gerät aktiv ist und bereit die Arbeit zu beginnen.</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>1b Netzwerk Anzeige TÜRKIS</strong>
                                    </td>
                                    <td>Die grüne LED beginnt zu blinken, wenn der Router im AP oder WiFi Brückenmodus läuft - das konstant blaue Licht der Power LED wirkt dadurch Türkis.</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>1c Massespeicher Anzeige GRÜN</strong>
                                    </td>
                                    <td>Die blaue LED beginnt zu blinken wenn ein USB Massespeicher am USB Port gefunden wurde. Im NAS Modus wird das konstante grüne Licht dann durch das blinken der blauen LED überlagert.</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>2 Micro USB Lade-Port</strong>
                                    </td>
                                    <td>Nutzen Sie das mitgelieferte USB Kabel um die Powerbank an einem USB Port zu laden (Ladezeit ca. 6h).</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>3 Lade Anzeige</strong>
                                    </td>
                                    <td>Diese leuchtet auf wenn das Geräte über das USB Kabel geladen wird.</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>4 USB-Port</strong>
                                    </td>
                                    <td>Nutzen Sie diesen Port um ein einen USB Massespeicher als NAS zu nutzen oder um einen 3G Dongle anzuschließen.</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>5 Power Button</strong>
                                    </td>
                                    <td>	Deaktivieren Sie das Gerät (PowerOff Symbol), aktivieren Sie den Lademodus (Blitz Symbol) oder oder aktivieren Sie sowohl den Ladeservice als auch die Routerfunktio (WiFi Symbol).</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>6 Netzwerk Anschluß</strong>
                                    </td>
                                    <td>	RJ45 Anschluß um das Gerät mit einem Router oder Modem zu verbinden.</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>7 Reset</strong>
                                    </td>
                                    <td>Halten Sie den Reset gedrückt für 10s um das Gerät wieder in die Werkseinstellungen zu versetzen.</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>8 Ladestatus</strong>
                                    </td>
                                    <td>Leuchtet auf wenn Sie den Batterie Knopf gedrückt halten (siehe #9) - 1 LED = 0%-25%, 2 LEDs = 26%-50%, 3 LEDs = 51%-75% and 4 LEDs = 76%-100% der vollen Ladung.</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>9 Battery Button</strong>
                                    </td>
                                    <td>Drücken Sie diesen Knopf um den Ladestatus zu überprüfen.</td>
                                </tr>
                            </table>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <h3>Verbinden Sie WLAN-Geräte</h3>
                          <br>

                          <div class="margin">
                            <amp-img
                                on="tap:lightbox3"
                                role="button"
                                tabindex="0"
                                src="/images/Products/IN-Route_Modes_01.png" width="1000" height="359" layout="responsive" class="shadow">
                            </amp-img>
                          </div>
                          <!-- /margin -->

                            <p>Nutzen Sie Ihren IN-Route P52, um WLAN-Geräte zu verbinden Daten über Funk auszutauschen.</p>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <h3>WLAN Access-Point</h3>
                          <br>

                          <div class="margin">
                            <amp-img
                                on="tap:lightbox4"
                                role="button"
                                tabindex="0"
                                src="/images/Products/IN-Route_Modes_02.png" width="1000" height="353" layout="responsive" class="shadow">
                            </amp-img>
                          </div>
                          <!-- /margin -->

                            <p>Nutzen Sie Ihren IN-Route P52, um einen WLAN Access-Point für Ihre WLAN-Geräte zu erstellen.</p>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <h3>NAS</h3>
                          <br>

                          <div class="margin">
                            <amp-img
                                on="tap:lightbox5"
                                role="button"
                                tabindex="0"
                                src="/images/Products/IN-Route_Modes_03.png" width="1000" height="344" layout="responsive" class="shadow">
                            </amp-img>
                          </div>
                          <!-- /margin -->

                            <p>Nutzen Sie Ihren IN-Route P52 als NAS-Speicher, um Dateien zwischen WLAN-Geräten auszutauschen.</p>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <h3>Powerbank</h3>
                          <br>

                          <div class="margin">
                            <amp-img
                                on="tap:lightbox6"
                                role="button"
                                tabindex="0"
                                src="/images/Products/IN-Route_Modes_04.png" width="1000" height="366" layout="responsive" class="shadow">
                            </amp-img>
                          </div>
                          <!-- /margin -->

                            <p>Nutzen Sie Ihren IN-Route P52 als Powerbank, um Ihre mobilen Geräte aufzuladen.</p>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <h3>Mobiler 3G Access-Point</h3>
                          <br>

                          <div class="margin">
                            <amp-img
                                on="tap:lightbox7"
                                role="button"
                                tabindex="0"
                                src="/images/Products/IN-Route_Modes_05.png" width="1000" height="366" layout="responsive" class="shadow">
                            </amp-img>
                          </div>
                          <!-- /margin -->

                            <p>Nutzen Sie Ihren IN-Route P52 in Kombination mit einem 3G dongle um einen mobilen Access-Point aufzubauen.</p>
                        </div>
                        <!-- /margin -->

                    </div>
                    <!-- /Container -->
                  </section>
                  <!-- /blade -->

                  <!-- ################ Lightboxes ############### -->

                  <amp-image-lightbox id="lightbox1" layout="nodisplay"></amp-image-lightbox>
                  <amp-image-lightbox id="lightbox2" layout="nodisplay"></amp-image-lightbox>
                  <amp-image-lightbox id="lightbox3" layout="nodisplay"></amp-image-lightbox>
                  <amp-image-lightbox id="lightbox4" layout="nodisplay"></amp-image-lightbox>
                  <amp-image-lightbox id="lightbox5" layout="nodisplay"></amp-image-lightbox>
                  <amp-image-lightbox id="lightbox6" layout="nodisplay"></amp-image-lightbox>
                  <amp-image-lightbox id="lightbox7" layout="nodisplay"></amp-image-lightbox>

                </div>
                <!-- /Content -->
              </div>
              <!-- /WRAP -->

              <% include ../_partials/content/_bluenav-general-mobile.ejs %>

                <footer>
                    <% include ../_partials/amp/_amp-footer.ejs %>
                </footer>
                </body>
            </html>
