<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Products/IN-Route/Overview/Mode">
    </head>

    <body class="home">

      <header class="fixed">
          <% include ../_partials/amp/_amp-header.ejs %>
      </header>

        <div class="wrap">
            <div class="container main">

              <% include ../_partials/content/_bluenav-p.ejs %>

                <section class="blade get-started">
                    <div class="container">
                        <div class="row">
                            <div class="twelve columns">
                                <h1>IN-Route P52</h1>
                                <h2>Overview</h2>
                            </div>
                        </div>

                        <div class="margin">
                          <h3>Mode</h3>
                          <p class="justify">In diesem und den folgenden Artikeln werden wir uns die Weboberfläche (WebUI) des IN-Route P52 einmal genauer ansehen. Um die Oberfläche zu erreichen, laden Sie zuerst die Batterie Ihres IN_Route´s auf, schieben Sie den Power Knopf in die WiFi Position und verbinden Sie sich mit dem WLAN Netzwerkes des Gerätes. Für mehr Informationen folgen Sie bitte der Anleitung für das Router Login. Um diesem Artikel folgen zu können, aktivieren Sie bitte die Expertenansicht - die Einfache Ansicht wird nicht alle Funktionen zur Verfügung stellen, die im Folgenden besprochen werden. Beachten Sie bitte, dass die folgenden Informationen erweiterte Funktionen des IN-Route P52 betreffen, die für den regulären Einsatz nicht geändert werden müssen. In den meisten fällen wird es reichen den Ersten Schritten zu folgen.</p>
                          <br>
                          <div>
                              <amp-img src="/images/IN-Route_P52_06en.png" width="1000" height="558" layout="responsive" class="shadow"></amp-img>
                          </div>
                            <p>Your router can be set up into different modes - as DSL Router or Access Point, as a 3G Router in combination with a 3G dongle or as a WiFi Bridge to an existing WiFi Access Point. The default operation mode for the IN-Route P52 is the Smart Mode in which the router tries to discern your desired operational mode. Please refer to the <a href="/Products/IN-Route/First_Steps/Introduction">Introduction</a> or the <a href="/Products/IN-Route/First_Steps/Quick_Access">Quick Access</a> for situations where a specific mode can be used.</p>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <h4>DSL Router Mode</h4>
                          <p class="text-justify">The DSL Router mode is required when you connect your IN-Route P52 to your existing router or DSL/cable modem via a LAN cable. This will enable you to use the device as a access point for your wireless network devices. For example, use this mode in a hotel room that only offers a LAN cable for internet access. You can also use this mode to interconnect your wireless devices when you need to exchange files on the road or install an IP camera in an area that doesn´t offer a network infrastructure.</p>
                          <br>
                          <h4>3G Router Mode</h4>
                          <p class="text-justify">Use the 3G Router mode in conjunction with the 3G dongle from your mobile internet provider. Just plug-in the 3G stick into the devices USB port (see #9, page 3) and turn it into a mobile access point to share your internet access. Please enter your mobile login credentials under Network / 3G Settings (s. 4.2.5) to connect to your 3G service.</p>
                          <br>
                          <h4>WiFi Repeater Mode</h4>
                          <p class="text-justify">Activate the Wifi Repeater mode if you want to build a secondary Wifi network to share your internet access with friends or guests. Or if you just want to extent your existing wireless network into the next room. Please enter the login credentials of your existing Wifi under Network / Wifi Repeater (4.2.3) to allow the device to connect and become your new access point.</p>
                          <br>
                          <p>The device needs to restart after changing the mode. You might have to reconnect to the WiFi network and reload the web user interface afterwards. </p>
                        </div>
                        <!-- /margin -->

                    </div>
                    <!-- /Container -->
                  </section>
                  <!-- /blade -->
                </div>
                <!-- /Content -->
              </div>
              <!-- /WRAP -->

              <% include ../_partials/content/_bluenav-p-mobile.ejs %>

                <footer>
                    <% include ../_partials/amp/_amp-footer.ejs %>
                </footer>
                </body>
            </html>
