<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap">
          <div class="container main">

            <% include ../_partials/content/_bluenav-general.ejs %>

                <section itemscope itemtype="http://schema.org/Article" class="blade wrapper content">

                    <div class="container">
                        <div class="row">
                            <div itemprop="name" class="twelve columns">
                                <h1>IN-Route P52</h1>
                                <h2>Netzwerk</h2>
                            </div>
                        </div>

                        <div class="margin">
                          <h3>Router Modus: ADSL</h3>
                          <p class="justify">In diesem und den folgenden Artikeln werden wir uns die Weboberfläche (WebUI) des IN-Route P52 einmal genauer ansehen. Um die Oberfläche zu erreichen, laden Sie zuerst die Batterie Ihres IN_Route´s auf, schieben Sie den Power Knopf in die WiFi Position und verbinden Sie sich mit dem WLAN Netzwerkes des Gerätes. Für mehr Informationen folgen Sie bitte der Anleitung für das Router Login. Um diesem Artikel folgen zu können, aktivieren Sie bitte die Expertenansicht - die Einfache Ansicht wird nicht alle Funktionen zur Verfügung stellen, die im Folgenden besprochen werden. Beachten Sie bitte, dass die folgenden Informationen erweiterte Funktionen des IN-Route P52 betreffen, die für den regulären Einsatz nicht geändert werden müssen. In den meisten fällen wird es reichen den Ersten Schritten zu folgen.</p>
                          <br>
                          <div>
                              <amp-img src="/images/Products/IN-Route_P52_12en.png" width="1000" height="563" layout="responsive" class="shadow"></amp-img>
                          </div>
                            <p class="justify">Um den IN-Route P52 direkt hinter dem Modem Ihres Internet Anbieters nutzen zu können, müsse Sie hier die Zugangsdaten für den Internetzugang hinterlegen.</p>
                            <br>
                            <p class="justify">Wenn Sie Ihren IN-Route P52 direkt mit dem DSL oder Kabelmodem Ihres Internet Anbieters verbinden möchten, wählen Sie den PPPoE (ADSL) Modus und geben Sie den Beutzernamen und Kennwort Ihres Internetzuganges ein. Die weiteren Parameter sind entweder von Ihrem Anbieter definiert, oder können bei den Standardwerten belassen werden. Nach dem erfolgreichen Einwählen können Sie die das WLAN des IN-Route P52 nutzen um Ihre Mobilgeräte über das Modem mit dem Internet zu verbinden.</p>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <h3>Router Modus: DHCP</h3>
                          <br>
                          <div>
                              <amp-img src="/images/Products/IN-Route_P52_13en.png" width="1000" height="569" layout="responsive" class="shadow"></amp-img>
                          </div>
                            <p class="justify">Die DHCP Funktion erlaubt es Ihnen Ihren IN-Route P52 automatisch in ein existierendes Netwerk einzubinden. Der IN-Route wird sich dann automatisch an den DHCP Server des äußeren Netzes wenden um IP Informationen um beziehen - ein konfigurieren dieser Daten ist dann nicht mehr notwendig. Der IN-Route P52 wird sich mit dem hier definierten Host-Namen in dem externen Netwerk identifizieren.</p>
                            <br>
                            <p class="justify">Der IN-Route P52 läuft in einem DHCP (auto) Modus, wenn Sie ihn in ein Netzwerk einbinden, dass einen DHCP Service aktiv hat - dieser Fall trifft auf die meisten Netzwerke zu. Ihr IN-Route wird darauf hin automatisch eine IP Adresse erhalten - dieses wird die WAN IP Adresse des Routers, über den er aus dem äußeren Netzwwek erreichbar ist. Diese IP Adresse darf nicht mit der LAN IP Adresse verwechselt werden, die der IN-Route in seinem eigenen Netzwerk hat (diese wird weiterhin auf der 192.168.169.1 liegen). Wenn Sie sich mit einem WLAN Gerät im Netzwerk des IN-Route P52 befinden, können Sie das Webinterface über die LAN IP Adresse aufrufen. Wenn Ihr Laptop, Mobilgerät, usw. sich jedoch im Netzwerk des Hauptrouters befindet, müssen Sie die WAN IP Adresse des IN-Routes verwenden.</p>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <h3>Router Modus: Statische IP</h3>
                          <br>
                          <div>
                              <amp-img src="/images/Products/IN-Route_P52_14en.png" width="1000" height="563" layout="responsive" class="shadow"></amp-img>
                          </div>
                            <p>Im Statischen Modus können Sie die Netzwerkdaten des äußeren Netzwerk (mit dem der IN-Route P52 verbunden ist) vorgeben. In den meisten Fällen ist dies jedoch nicht notwendig - wenn Sie nicht wissen welche Daten Sie hier eintragen müssen, versuchen Sie zuerst die Einbindung über DHCP. Nutzen Sie den statischen Modus, wenn Sie Ihren IN-Route hinter einem Router verwenden, bei dem Sie den DHCP Dienst deaktiviert haben, oder wenn Sie von Ihrem Internetanbieter (oder Arbeitgeber) vorgaben haben welche IP Adresse das angeschlossene Gerät haben muß um Zugang zu bekommen.</p>
                            <br>
                            <p class="justify">Der Statische Modus erlaubt es Ihnen die Netzwerkdaten für das äußere Netzwerk, mit dem Sie Ihren IN-Route P52 verbinden möchten, manuell vorzugeben. Nutzen Sie diesen Modus, wenn z.B. der DHCP Dienst im Hauptrouter deaktiviert ist, oder wenn Sie vorhaben eine Portweiterleitung auf den IN-Route P52 zu legen um diesen auch aus dem Internet erreichen zu können - z.B. wenn Sie ihn als NAS Laufwerk nutzen oder eine IP Kamera im Netzwerk des IN-Routes betreiben. Lesen Sie das Kapitel Firewall/Port Weiterleitung für mehr Details. Geben Sie die IP Adresse und Subnetzmaske ein, die Sie Ihrem IN-Route als WAN IP zuteilen möchten. Das Gateway und der DNS Server ist in den meisten Fällen der externe Hauptrouter an dem Sie den IN-Route in Betrieb nehmen. Die WAN IP Adresse des IN-Routes, ist die Adresse über die das Gerät im äußeren Netzwerk des Hauptrouters ansprechbar ist. Diese ist nicht zu verwechseln mit der LAN IP Adresse, die weiterhin 192.168.169.1 lautet und nur im WLAN des IN-Routes auf dessen Weboberfläche führt.</p>
                            <p>Die MAC Clone Option erlaubt es Ihnen die MAC Adresse des IN-Routes in die des zugreifenden WLAN Gerätes zu ändern. Sie können diese Funktion nutzen, wenn Sie den IN-Route an einem Netzwerk betreiben, in dem nur bestimmte MAC Adressen Zugriff haben.</p>
                        </div>
                        <!-- /margin -->

                    </div>
                    <!-- /Container -->
                  </section>
                  <!-- /blade -->
                </div>
                <!-- /Content -->
              </div>
              <!-- /WRAP -->

              <% include ../_partials/content/_bluenav-general-mobile.ejs %>

                <footer>
                    <% include ../_partials/amp/_amp-footer.ejs %>
                </footer>
                </body>
            </html>
