<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap">
          <div class="container main">

            <% include ../_partials/content/_bluenav-general.ejs %>

                <section itemscope itemtype="http://schema.org/Article" class="blade wrapper content">
                  <% include ../_partials/amp/_schemaArticle.ejs %>

                    <div class="container">
                        <div class="row">
                            <div itemprop="name" class="twelve columns">
                                <h1>IN-Route P52</h1>
                                <h2>Laden</h2>
                            </div>
                        </div>

                        <div class="margin">
                          <p class="justify">Drücken Sie den Batterie Knopf ( siehe #6) und prüfen Sie den Ladestatus ( siehe #7). Sie können mit dem mitgelieferten USB Kabel (s.o.), über den Ladeport ( siehe #2), den IN-Route P52 mit einer USB Stromquelle verbinden um das Gerät zu laden. Die Powerbank hat eine Kapazität von 5200 mAh - je nach Ihrem Smartphone Modell reicht das für ca. 2 vollständige Ladungen. Das Laden der Powerbank dauert ca. 6 Stunden an einem regulären USB Port - z.B. von Ihrem Laptop. Der Vorgang kann beschleunigt werden, indem Sie einen speziellen Lade USB Port verwenden. Wenn die interne Batterie vollständig geladen wurde, werden insgesamt 4 LEDs an der Ladestatusanzeige aufleuchten (Drücken Sie den Batterie Knopf um die Anzeige zu aktivieren):</p>
                          <br>
                          <div>
                              <amp-img src="/images/Products/IN-Route_P52_Charging_01.png" width="394" height="100" layout="responsive" class="shadow"></amp-img>
                          </div>
                            <p>Die IN-Route P52 Powerbank wird über einen MicroUSB Port mit einem USB mitgelieferten Kabel geladen.</p>
                            <br>
                            <ul>
                              <li>1 LED = 0~25%</li>
                              <li>2 LED = 26~50%</li>
                              <li>3 LED = 51~75%</li>
                              <li>4 LED = 76~100%</li>
                            </ul>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <h3>Powerbank</h3>
                          <br>

                          <div class="margin">
                            <amp-img
                                on="tap:lightbox1"
                                role="button"
                                tabindex="0"
                                src="/images/Products/IN-Route_P52_Charging_02.png" width="1000" height="729" layout="responsive" class="shadow">
                            </amp-img>
                            <amp-image-lightbox id="lightbox1" layout="nodisplay"></amp-image-lightbox>
                          </div>
                          <!-- /margin -->

                            <p>Die IN-Route P52 Powerbank kann Mobilgeräte über einen regulären USB Port aufladen und wird selbst über einen MicroUSB Port geladen.</p>
                            <br>
                            <p class="justify">
                              Mehr und mehr Mobilgeräte können über USB Ports geladen werden und können über die IN-Route Powerbank aufgeladen werden. Durch die interne Powerbank des Mini-Routers können Sie problemlos die Batterielaufzeit Ihres Handies verdoppeln (abhängig vom Modell). Neben den offensichtlichen Geräten, wie Smartphones, sind häufig auch moderne Kompaktkameras, GPS Geräte und Smart-Watches kompatibel mit der Powerbank. Bringen Sie nur Ihr USB Ladekabel und Ihren IN-Route und Sie brauchen sich unterwegs nicht mehr nach Steckdosen umsehen, wenn sich der Ladestand Ihres Handies dem kritischen Bereich nähert.                            </p>
                            <br>
                            <ol>
                              <li>Stecken Sie das USB Ladekabel Ihres Mobilgerätes in den Lade USB Port Ihres IN-Routes.</li>
                              <li>Schieben Sie den Power Knopf in seine zweite Position (Blitz Symbol) um den Lademodus der Powerbank zu aktivieren. Ihr Mobilgeräte sollte automatisch Anfangen zu laden. Drücken Sie den Batterie Knopf, um den Ladestand der Batterie der Powerbank zu testen.</li>
                            </ol>
                        </div>
                        <!-- /margin -->

                    </div>
                    <!-- /Container -->
                  </section>
                  <!-- /blade -->
                </div>
                <!-- /Content -->
              </div>
              <!-- /WRAP -->

              <% include ../_partials/content/_bluenav-general-mobile.ejs %>

                <footer>
                    <% include ../_partials/amp/_amp-footer.ejs %>
                </footer>
                </body>
            </html>
