<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap">
          <div class="container main">

            <% include ../_partials/content/_bluenav-general.ejs %>

                <section itemscope itemtype="http://schema.org/Article" class="blade wrapper content">
                  <% include ../_partials/amp/_schemaArticle.ejs %>

                    <div class="container">
                        <div class="row">
                            <div itemprop="name" class="twelve columns">
                                <h1>IN-Route P52</h1>
                                <h2>Network</h2>
                            </div>
                        </div>

                        <div class="margin">
                          <h3>3G Settings</h3>
                          <p class="justify">In diesem und den folgenden Artikeln werden wir uns die Weboberfläche (WebUI) des IN-Route P52 einmal genauer ansehen. Um die Oberfläche zu erreichen, laden Sie zuerst die Batterie Ihres IN_Route´s auf, schieben Sie den Power Knopf in die WiFi Position und verbinden Sie sich mit dem WLAN Netzwerkes des Gerätes. Für mehr Informationen folgen Sie bitte der Anleitung für das Router Login. Um diesem Artikel folgen zu können, aktivieren Sie bitte die Expertenansicht - die Einfache Ansicht wird nicht alle Funktionen zur Verfügung stellen, die im Folgenden besprochen werden. Beachten Sie bitte, dass die folgenden Informationen erweiterte Funktionen des IN-Route P52 betreffen, die für den regulären Einsatz nicht geändert werden müssen. In den meisten fällen wird es reichen den Ersten Schritten zu folgen.</p>
                          <br>
                          <div>
                              <amp-img src="/images/Products/IN-Route_P52_11en.png" width="1000" height="561" layout="responsive" class="shadow"></amp-img>
                          </div>
                            <p class="justify">Sie können Ihren IN-Route P52 durch einen externen 3G Dongle Ihres Mobilfunkanbieters in einen mobilen WiFi Hotspot verwandeln. Verbinden Sie Ihn einfach mit dem USB Port des Routers und geben Sie hier Ihre 3G Einwahlinformationen ein.</p>
                            <br>
                            <p class="justify">Tragen Sie hier die die Zugangsdaten für Ihren 3G Dongle ein um diesen am USB Port ( s. #9) des IN-Route P52 nutzen zu können. Sie können diese Daten aus dem Menü für unterschiedliche Mobilfunkanbieter auswählen. Oder Sie einfach manuell in die Maske eintragen. Bitte wenden Sie sich an die Dokumentation, die Ihnen Ihr Mobilfunkanbieter zur verfügung gestellt hat, um die richtigen Daten zu finden. Sie können Felder auch leer lassen, wenn Ihr Anbieter diese nicht spezifiziert hat.</p>
                            <p class="justify">Klicken Sie auf Bestätigen, um die gemachten Eingaben zu übernehmen und warten Sie für ca. 60sek um Ihren Stick zu erlauben sich mit dem Mobilfunknetz zu verbinden. Die Zeit die benötigt wird kann variieren je nach dem Modell Ihres 3G Modems und der Signalstärke des Mobilfunkes.</p>
                            <p class="justify">Sollten Sie auch nach 5min noch keine Verbindung haben, sollten Sie den Stick einmal abziehen und neu aufstecken, oder Ihren IN-Route P52 einmal neustarten. Sollte es auch danach nicht funktionieren, können Sie einmal versuchen die Firmware Ihres 3G Modems zu aktualisieren oder den Anbieter zu kontaktieren, um sicherzustellen, dass Sie die richtigen Daten im IN-Route P52 eingetragen haben.</p>
                        </div>
                        <!-- /margin -->

                    </div>
                    <!-- /Container -->
                  </section>
                  <!-- /blade -->
                </div>
                <!-- /Content -->
              </div>
              <!-- /WRAP -->

              <% include ../_partials/content/_bluenav-general-mobile.ejs %>

                <footer>
                    <% include ../_partials/amp/_amp-footer.ejs %>
                </footer>
                </body>
            </html>
