<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Products/Lenses/S-Mount/IN-0180">
    </head>

    <body class="home">

      <header class="fixed">
          <% include ../_partials/amp/_amp-header.ejs %>
      </header>

        <div class="wrap">
            <div class="container main">

              <% include ../_partials/content/_bluenav-p.ejs %>

              <section class="blade get-started">
                  <div class="container">

                    <div class="inlineContainer margin clear">
                        <div class="inlineLeft">
                          <h1>S-Mount Lenses</h1>
                          <h2>Comparison List</h2>
                        </div>
                        <div class="inlineRight">
                          <a href="http://www.instar.de/lens_compatibility" target="_blank"><button class="button shadow"   style="vertical-align:middle"><span>Compatibility</span></button></a>
                        </div>
                        <br class="clear">
                    </div>
                    <!-- /margin -->

                  </div>
                  <!-- /Container -->
                </section>
                <!-- /blade -->

                <section class="blade get-started">
                    <div class="container">

                        <div class="card-container margin">
                            <div class="card">
                                <div class="image">
                                    <amp-img noloading height=480 width=640 layout=responsive src="/images/Wideangle_Lense_1.8mm_-_Angle_of_View.png"></amp-img>
                                </div>
                                <div class="content">
                                    <h3>IN-0180 Wideangle</h3>
                                    <p>Der Blickwinkel des 1.8mm Weitwinkel Objektivs. Feldwinkel (D x H x V): 109.4° x 87.7° x 67.6°.</p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="image">
                                    <amp-img noloading height=480 width=640 layout=responsive src="/images/Wideangle_1.8mm_with_IRcut.jpg"></amp-img>
                                </div>
                                <div class="content">
                                    <h3>IN-0180 Wideangle</h3>
                                    <p>Testbild eines 1.8mm Weitwinkel Objektivs an einem 1/5" CMOS Sensor mit IR-Cut Filter.</p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="image">
                                    <amp-img noloading height=480 width=640 layout=responsive src="/images/1,8mm_with_IRfilter_(940nm).jpg"></amp-img>
                                </div>
                                <div class="content">
                                    <h3>IN-0180 Wideangle</h3>
                                    <p>Test shot of the 1.8mm Weitwinkel Objektivs with 940nm IR filter an einem 1/4" CMOS sensor.</p>
                                </div>
                            </div>
                        </div>
                        <!-- /Card Container -->

                        <div class="card-container">
                            <div class="card">
                                <div class="image">
                                    <amp-img noloading height=480 width=640 layout=responsive src="/images/Wideangle_Lense_2.2mm_-_Angle_of_View.png"></amp-img>
                                </div>
                                <div class="content">
                                    <h3>IN-0220 Wideangle</h3>
                                    <p>Der Blickwinkel des 2.2mm Weitwinkel Objektivs. Feldwinkel (D x H x V): 98.2° x 78.7° x 60.7°.</p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="image">
                                    <amp-img noloading height=480 width=640 layout=responsive src="/images/Wideangle_2.2mm_IRcut.jpg"></amp-img>
                                </div>
                                <div class="content">
                                    <h3>IN-0220 Wideangle</h3>
                                    <p>Testbild eines 2.2mm Weitwinkel Objektivs an einem 1/5" CMOS Sensor mit IR-Cut Filter.</p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="image">
                                    <amp-img noloading height=480 width=640 layout=responsive src="/images/Tagsicht_2,2mm_with_IRfilter_(940nm).jpg"></amp-img>
                                </div>
                                <div class="content">
                                    <h3>IN-0220 Wideangle</h3>
                                    <p>Test shot of the 2.2mm Weitwinkel Objektivs an einem 1/4" CMOS sensor during the day.</p>
                                </div>
                            </div>
                        </div>
                        <!-- /Card Container -->

                        <div class="card-container">
                            <div class="card">
                                <div class="image">
                                    <amp-img noloading height=480 width=640 layout=responsive src="/images/Wideangle_Lense_2.9mm_-_Angle_of_View.png"></amp-img>
                                </div>
                                <div class="content">
                                    <h3>IN-0290 Wideangle</h3>
                                    <p>Der Blickwinkel des 2.9mm Weitwinkel Objektivs. Feldwinkel (D x H x V): 82.4° x 66.1° x 50.9°.</p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="image">
                                    <amp-img noloading height=480 width=640 layout=responsive src="/images/Wideangle_2.2mm_IRcut.jpg"></amp-img>
                                </div>
                                <div class="content">
                                    <h3>IN-0290 Wideangle</h3>
                                    <p>Testbild eines 2.9mm Weitwinkel Objektivs an einem 1/5" CMOS Sensor mit IR-Cut Filter.</p>
                                </div>
                            </div>
                            <div class="card invisible">
                            </div>
                        </div>
                        <!-- /Card Container -->

                        <div class="card-container">
                            <div class="card">
                                <div class="image">
                                    <amp-img noloading height=480 width=640 layout=responsive src="/images/Lense_3.6mm_-_Angle_of_View.png"></amp-img>
                                </div>
                                <div class="content">
                                    <h3>IN-0360 Wideangle</h3>
                                    <p>Der Blickwinkel des 3.6mm lense. Feldwinkel (D x H x V): 70.4° x 56.4° x 43.5°.</p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="image">
                                    <amp-img noloading height=480 width=640 layout=responsive src="/images/09_3.6mm_IRcut.jpg"></amp-img>
                                </div>
                                <div class="content">
                                    <h3>IN-0360 Wideangle</h3>
                                    <p>Testbild eines 3.6mm lense an einem 1/5" CMOS wideangle Sensor mit IR-Cut Filter.</p>
                                </div>
                            </div>
                            <div class="card invisible">
                            </div>
                        </div>
                        <!-- /Card Container -->

                        <div class="card-container">
                            <div class="card">
                                <div class="image">
                                    <amp-img noloading height=480 width=640 layout=responsive src="/images/Lense_4.3mm_-_Angle_of_View.png"></amp-img>
                                </div>
                                <div class="content">
                                    <h3>IN-0430 Standard</h3>
                                    <p>Der Blickwinkel des 4.3mm lense. Feldwinkel (D x H x V): 61.1° x 49.0° x 37.8°.</p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="image">
                                    <amp-img noloading height=480 width=640 layout=responsive src="/images/4.3mm_IRcut.jpg"></amp-img>
                                </div>
                                <div class="content">
                                    <h3>IN-0430 Standard</h3>
                                    <p>Testbild eines 4.3mm lense an einem 1/5" CMOS Sensor mit IR-Cut Filter.</p>
                                </div>
                            </div>
                            <div class="card invisible">
                            </div>
                        </div>
                        <!-- /Card Container -->

                        <div class="card-container">
                            <div class="card">
                                <div class="image">
                                    <amp-img noloading height=480 width=640 layout=responsive src="/images/Angle_of_View_6mm_Lense.png"></amp-img>
                                </div>
                                <div class="content">
                                    <h3>IN-0600 Default</h3>
                                    <p>Der Blickwinkel des 6.0mm Standardobjektiv. Feldwinkel (D x H x V): 45.9° x 36.8° x 28.4°.</p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="image">
                                    <amp-img noloading height=480 width=640 layout=responsive src="/images/6mm_IRcut.jpg"></amp-img>
                                </div>
                                <div class="content">
                                    <h3>IN-0600 Default</h3>
                                    <p>Testbild eines 6mm Standardobjektiv an einem 1/5" CMOS Sensor mit IR-Cut Filter.</p>
                                </div>
                            </div>
                            <div class="card invisible">
                            </div>
                        </div>
                        <!-- /Card Container -->

                        <div class="card-container">
                            <div class="card">
                                <div class="image">
                                    <amp-img noloading height=480 width=640 layout=responsive src="/images/Angle_of_View_12mm-Lense.png"></amp-img>
                                </div>
                                <div class="content">
                                    <h3>IN-1200 Tele</h3>
                                    <p>Der Blickwinkel des 12.0mm lense. Feldwinkel (D x H x V): 23.9° x 19.2° x 14.8°.</p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="image">
                                    <amp-img noloading height=480 width=640 layout=responsive src="/images/Tele_Lense_12mm_IRcut.jpg"></amp-img>
                                </div>
                                <div class="content">
                                    <h3>IN-1200 Tele</h3>
                                    <p>Testbild eines 12.0mm tele lense an einem 1/5" CMOS Sensor mit IR-Cut Filter.</p>
                                </div>
                            </div>
                            <div class="card invisible">
                            </div>
                        </div>
                        <!-- /Card Container -->

                        <div class="card-container">
                            <div class="card">
                                <div class="image">
                                    <amp-img noloading height=480 width=640 layout=responsive src="/images/Lense_16mm_Angle_of_View.png"></amp-img>
                                </div>
                                <div class="content">
                                    <h3>IN-1600 Tele</h3>
                                    <p>Der Blickwinkel des 16.0mm lense. Feldwinkel (D x H x V): 18.0° x 14.5° x 11.2°.</p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="image">
                                    <amp-img noloading height=480 width=640 layout=responsive src="/images/Tele_Lense_16mm_IRcut.png"></amp-img>
                                </div>
                                <div class="content">
                                    <h3>IN-1600 Tele</h3>
                                    <p>Testbild eines 16mm tele lense an einem 1/5" CMOS Sensor mit IR-Cut Filter.</p>
                                </div>
                            </div>
                            <div class="card invisible">
                            </div>
                        </div>
                        <!-- /Card Container -->

                    </div>
                    <!-- /Container -->
                  </section>
                  <!-- /blade -->
                </div>
                <!-- /Content -->
              </div>
              <!-- /WRAP -->

              <% include ../_partials/content/_bluenav-p-mobile.ejs %>

                <footer>
                    <% include ../_partials/amp/_amp-footer.ejs %>
                </footer>
                </body>
            </html>
