<!DOCTYPE html>
<html ⚡ lang="en">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
        <script async custom-element="amp-lightbox" src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero lenses">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>Full HD Objektive</h1>
                                    <p class="intro desktop-only">
                                      <br/><br/>INSTAR bietet eine breite Palette an Wechselobjektiven für ihre IP-Kameras an. Wenn sich Ihre Kamera zu nahe am Zielgebiet befindet, empfehlen wir eine Weitwinkel-Linse. Wenn Ihre Kamera zu weit weg von dem Bereich ist, den Sie schützen möchten, können Sie unsere Telelinse nutzen. Diese Linse vergrößert die Objekte / den Bereich für eine genauere Ansicht.
                                    </p>
                                    <p class="intro mobile-only"><br/><br/>INSTAR bietet eine breite Palette an Wechselobjektiven für ihre IP-Kameras an.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
              </div>
            </div>

        <div class="wrap">
            <div class="container main">

              <% include ../_partials/content/_bluenav-general.ejs %>

                  <section class="blade wrapper content">

                    <div class="container">

                        <div class="row">
                            <div class="twelve columns">
                                <h1>IN-9008 Full HD</h1>
                                <h3>Full-HD Objektive</h3>
                            </div>
                        </div>

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                  <a href="https://www.instar.de/accessories/lenses/lenses-for-in-9008fullhd/8-mm-lens-lense-for-in-9008-full-hd.html" target="_blank">
                                    <amp-img
                                      noloading
                                      height=203
                                      width=203
                                      layout=responsive
                                      src=/images/Products/9008-lense-box2.jpg>
                                    </amp-img>
                                  </a>
                                </div>
                                <div class="action">
                                    <h3>Standard-Objektiv</h3>
                                    <h4><small>8mm Objektiv für IN-9008 Full HD</small></h4>
                                    <p>
                                      Rüsten Sie jetzt nach und tauschen Sie das vorhandene 90° Weitwinkelobjektiv einfach selbst gegen das ca. 45° Objektiv aus.
                                    </p>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="image">
                                  <a href="https://www.instar.de/accessories/lenses/lenses-for-in-9008fullhd/16-mm-zoom-lens-lense-for-in-9008-full-hd.html" target="_blank">
                                    <amp-img
                                      noloading
                                      height=203
                                      width=203
                                      layout=responsive
                                      src=/images/Products/9008-lense-box2.jpg>
                                    </amp-img>
                                  </a>
                                </div>
                                <div class="action">
                                    <h3>Tele-Objektiv</h3>
                                    <h4><small>16mm Lense for IN-9008 Full HD</small></h4>
                                    <p>
                                      Rüsten Sie jetzt nach und tauschen Sie das vorhandene 90° Weitwinkelobjektiv einfach selbst gegen das ca. 25° Objektiv aus.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="margin">
                          <br><br><br><br>
                          <h2>Beispielbilder</h2>
                          <p>4.2mm Weitwinkel vs. 8mm Standard Objektiv und 16mm Tele Objektiv</p>

                          <amp-carousel id=carousel-with-preview
                            class=shadow
                            width=400
                            height=225
                            layout=responsive
                            type=slides>
                            <amp-img
                              src=/images/Products/snap_compare_auto_15m_tag.jpg
                              width=596
                              height=549
                              layout=responsive>
                            </amp-img>
                            <amp-img
                              src=/images/Products/IN-9008_Lenses_4,3mm_auto_15m_tag.jpg
                              width=596
                              height=549
                              layout=responsive>
                            </amp-img>
                            <amp-img
                              src=/images/Products/IN-9008_Lenses_8mm_auto_15m_tag.jpg
                              width=472
                              height=650
                              layout=responsive>
                            </amp-img>
                            <amp-img
                              src=/images/Products/IN-9008_Lenses_16mm_auto_15m_tag.jpg
                              width=409
                              height=203
                              layout=responsive>
                            </amp-img>
                          </amp-carousel>
                          <div class="carousel-preview">
                            <button on="tap:carousel-with-preview.goToSlide(index=0)">
                              <amp-img
                                src=/images/Products/snap_compare_auto_15m_tag_thumb.jpg
                                width=60
                                height=40>
                              </amp-img>
                            </button>
                            <button on="tap:carousel-with-preview.goToSlide(index=1)">
                              <amp-img
                                src=/images/Products/IN-9008_Lenses_4,3mm_auto_15m_tag_thumb.jpg
                                width=60
                                height=40>
                              </amp-img>
                            </button>
                            <button on="tap:carousel-with-preview.goToSlide(index=2)">
                              <amp-img
                                src=/images/Products/IN-9008_Lenses_8mm_auto_15m_tag_thumb.jpg
                                width=60
                                height=40>
                              </amp-img>
                            </button>
                            <button on="tap:carousel-with-preview.goToSlide(index=3)">
                              <amp-img
                                src=/images/Products/IN-9008_Lenses_16mm_auto_15m_tag_thumb.jpg
                                width=60
                                height=40>
                              </amp-img>
                            </button>
                          </div>

                      </div>
                      <!-- /margin -->

                      <div class="margin">
                        <br><br><br><br>
                        <h2>Weitwinkel vs Auflösung</h2>
                        <p>Das Verbauen eines Objektives mit halber Brennweite, im Vergleich zum ursprünglichen Objektiv, führt zur einer Halbierung des Blickwinkels. Das bedeutet, dass ein Objekt (z.B. Nummernschild), bei gleichbleibenden Abstand, doppelt so groß abgebildet wird - und entsprechend auf dem Bildsensor mit doppelt so vielen Pixeln aufgelöst wird. Ein Schriftzug, der mit dem vorherigen Objektiv gerade unlesbar war, wird nach dem Umbau auf ein Standard-Objektiv oder Tele-Objektiv zu entziffern sein.</p>
                        <p>Es ist somit wichtig, dass Sie genau das Objektiv wählen, dass zu Ihrer Überwachung passt. INSTAR ermöglicht es Ihnen die perfekte Balance zwischen Sichtbereich und Detailauflösung zu finden. Das folgende Beispiel zeigt ein Nummernschild auf einer Distanz von <strong>ca. 15m</strong> mit verschiedenen Brennweiten (<strong>klicken Sie auf das Bild, um dieses zu vergrößern</strong>).</p>

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                  <amp-img
                                      on=tap:16mm-zoom-lightbox
                                      role=button
                                      tabindex=0
                                      src=/images/Products/IN-9008_Lenses_16mm_auto_15m_tag_zoom.png
                                      width=360
                                      height=360
                                      layout=responsive
                                      class=shadow>
                                  </amp-img>
                                </div>
                                <div class="action">
                                    <h3>16mm Objektiv</h3>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="image">
                                  <amp-img
                                      on=tap:8mm-zoom-lightbox
                                      role=button
                                      tabindex=0
                                      src=/images/Products/IN-9008_Lenses_8mm_auto_15m_tag_zoom.png
                                      width=360
                                      height=360
                                      layout=responsive
                                      class=shadow>
                                  </amp-img>
                                </div>
                                <div class="action">
                                    <h3>8mm Objektiv</h3>
                                </div>
                            </div>
                        </div>
                        <!-- /card-container -->

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                  <amp-img
                                      on=tap:4-3mm-zoom-lightbox
                                      role=button
                                      tabindex=0
                                      src=/images/Products/IN-9008_Lenses_4,3mm_auto_15m_tag_zoom.png
                                      width=360
                                      height=360
                                      layout=responsive
                                      class=shadow>
                                  </amp-img>
                                </div>
                                <div class="action">
                                    <h3>4.2mm Objektiv</h3>
                                </div>
                            </div>
                            <div class="twocard invisible">
                            </div>
                        </div>
                        <!-- /card-container -->

                    </div>
                    <!-- /margin -->

                </div>
                <!-- /container -->

              </div>
              <!-- /container main-->
          </section>
          <!-- /wrapper -->

          <!-- ###################### Lightboxes ######################## -->

          <amp-lightbox id="8mm-zoom-lightbox" layout="nodisplay">
            <div class="lightbox">
              <amp-img src=/images/Products/IN-9008_Lenses_8mm_auto_15m_tag_zoom_compare.jpg
              width=1920
              height=1080
              tabindex=0
              layout=responsive
              on=tap:8mm-zoom-lightbox.close
              role=button>
            </div>
          </amp-lightbox>

          <amp-lightbox id="16mm-zoom-lightbox" layout="nodisplay">
            <div class="lightbox">
              <amp-img src=/images/Products/IN-9008_Lenses_16mm_auto_15m_tag_zoom_compare.jpg
              width=1920
              height=1080
              tabindex=0
              layout=responsive
              on=tap:16mm-zoom-lightbox.close
              role=button>
            </div>
          </amp-lightbox>

          <amp-lightbox id="4-3mm-zoom-lightbox" layout="nodisplay">
            <div class="lightbox">
              <amp-img src=/images/Products/IN-9008_Lenses_4,3mm_auto_15m_tag_zoom_compare.jpg
              width=1920
              height=1080
              tabindex=0
              layout=responsive
              on=tap:4-3mm-zoom-lightbox.close
              role=button>
            </div>
          </amp-lightbox>

    </div>
    <!-- /wrap -->

    <% include ../_partials/content/_bluenav-general-mobile.ejs %>

      <footer>
        <% include ../_partials/amp/_amp-footer.ejs %>
      </footer>
    </body>
</html>
