<!DOCTYPE html>
<html ⚡ lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <meta content="IE=Edge" http-equiv="X-UA-Compatible">
  <meta name="description" content="INSTAR Wiki - IP Camera Knowledge Base">
  <meta name="author" content="Mike Polinowski">
  <title>
      <%= title %>
  </title>
  <link rel="canonical" href="<%- canonical %>">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>

  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
  <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
  <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
  <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>

  <!-- http://schema.org/TechArticle -->
  <script type="application/ld+json">
      { "@context": "http://schema.org",
        "@type": "TechArticle",
        "headline": "<%= headline %>",
        "image": [ "http://wiki.instar.com<%= ampimg %>" ] }
  </script>

  <% include ../_partials/amp/_amp-boilerplate.css %>
  <% include ../_partials/amp/_ampLandingCustom.css %>
</head>

<body>

  <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
      <% include ../_partials/amp/_ampLandingSidebar.ejs %>
  </amp-sidebar>

  <header class="header fixed">
      <% include ../_partials/amp/_ampLandingHeader.ejs %>
  </header>

    <div class="wrap">
        <div class="content">

            <section class="large-cta">
              <div class="cta-container">
                <h1 class="mobile-down">INSTAR Wiki 2.0</h1>
                <h2>INSTAR Produkthandbücher</h2>
              </div>
            </section>

            <!-- ########################## Usermanuals ############################### -->

            <section class="tile-wall">
                <h1>INSTAR Handbücher</h1>
                <div class="container">

                  <!-- ################################ Products desktop-up ###################### -->

                    <div class="row desktop-up">

                      <amp-carousel class="success-carousel" height="400" layout="flex-item" type="slides">
                          <div class="card-container flex-wrap">
                              <div class="card centered tile flex-card">
                                <a href="/Outdoor_Cameras/IN-9008_HD/Usermanual/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-IN-9008HD_white.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                              <div class="card centered tile flex-card">
                                <a href="/Indoor_Cameras/IN-8015_HD/Usermanual/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-IN-8015HD_white.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                              <div class="card centered tile flex-card">
                                <a href="/Outdoor_Cameras/IN-7011_HD/Usermanual/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-IN-7011HD_white.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                          </div>
                      </amp-carousel>

                      <amp-carousel class="success-carousel" height="400" layout="flex-item" type="slides">
                          <div class="card-container flex-wrap">
                              <div class="card centered tile flex-card">
                                <a href="/Indoor_Cameras/IN-6014_HD/Usermanual/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-IN-6014HD_white.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                              <div class="card centered tile flex-card">
                                <a href="/Indoor_Cameras/IN-6012_HD/Usermanual/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-IN-6012HD_white.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                              <div class="card centered tile flex-card">
                                <a href="/Indoor_Cameras/IN-6001_HD/Usermanual/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-IN-6001HD_white.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                          </div>
                      </amp-carousel>

                      <amp-carousel class="success-carousel" height="400" layout="flex-item" type="slides">
                          <div class="card-container flex-wrap">
                              <div class="card centered tile flex-card">
                                <a href="/Outdoor_Cameras/IN-5907_HD/Usermanual/">
                                    <div class="card-inner">
                                      <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-IN-5907HD_white.png">
                                      </amp-img>
                                    </div>
                                </a>
                              </div>
                              <div class="card centered tile flex-card">
                                <a href="/Outdoor_Cameras/IN-5905_HD/Usermanual/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-IN-5905HD_white.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                              <div class="card centered tile flex-card">
                                <a href="/Downloads/Outdoor_Cameras/IN-4011/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-IN-4011_white.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                          </div>
                      </amp-carousel>

                      <amp-carousel class="success-carousel" height="400" layout="flex-item" type="slides">
                          <div class="card-container flex-wrap">
                              <div class="card centered tile flex-card">
                                <a href="/Downloads/Outdoor_Cameras/IN-4010/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-IN-4010_white.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                              <div class="card centered tile flex-card">
                                <a href="/Downloads/Indoor_Cameras/IN-3011/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-IN-3011_white.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                              <div class="card centered tile flex-card">
                                <a href="/Downloads/Outdoor_Cameras/IN-2908/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-IN-2908_white.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                          </div>
                      </amp-carousel>

                      <amp-carousel class="success-carousel" height="400" layout="flex-item" type="slides">
                          <div class="card-container flex-wrap">
                              <div class="card centered tile flex-card">
                                <a href="/Downloads/Outdoor_Cameras/IN-2905/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-IN-2905_white.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                          </div>
                      </amp-carousel>

                    </div>
                    <!-- /row desktop-up -->

                    <!-- ################################ Products mobile-down ###################### -->

                    <div class="mobile-down">

                      <a href="/Outdoor_Cameras/IN-9008_HD/Usermanual/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-IN-9008HD_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <h4>IN-9008 HD Handbuch</h4>
                            <p>Diese 1080p IP Kamera ist zur Zeit die beste verfügbare Außenüberwachungskamera. Dank ihres fullHD WDR Bildsensors liefert sie kristallklare Bilder - während der Nacht und bei Tage ...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Indoor_Cameras/IN-8015_HD/Usermanual/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-IN-8015HD_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <h4>IN-8015 HD Handbuch</h4>
                            <p>HD IP Kamera mit schwenkbaren Kamerakopf, 1080p WDR Bildsensor, software-basierter Bewegungserkennung und integriertem PIR Bewegungsmelder, Infrarot Nachsicht ...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Outdoor_Cameras/IN-7011_HD/Usermanual/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-IN-7011HD_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <h4>IN-7011 HD Handbuch</h4>
                            <p>Diese wettergeschützte Dome Kamera kann sowohl im Inneren als auch im Außenbereich eingesetzt werden. Interne Motoren ermöglichen es den Kamerakopf zu drehen und schwenken ...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Indoor_Cameras/IN-6014_HD/Usermanual/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-IN-6014HD_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <h4>IN-6014 HD Handbuch</h4>
                            <p>Die IN-6014 HD ist die Allaround Lösung für die Pan&amp;Tilt Innenraumüberwachung. Der integrierte PIR Bewegungsmelder gewährleistet eine genaue Bewegungserkennung ...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Indoor_Cameras/IN-6012_HD/Usermanual/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-IN-6012HD_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <h4>IN-6012 HD Handbuch</h4>
                            <p>Die IN-6012 HD ist eine Pan &amp; Tilt Innenraumüberwachungslösung. Der Kamerakopf kann von unterwegs über unsere Smartphone App kontrolliert werden ...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Indoor_Cameras/IN-6001_HD/Usermanual/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-IN-6001HD_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <h4>IN-6001 HD Handbuch</h4>
                            <p>Der geistige Nachfolger der IN-3001 mit der Größe einer Zigarettenschachtel. Die IN-6001 HD ist der preiswerte Einstieg in die 720p Innenraumüberwachung ...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Outdoor_Cameras/IN-5907_HD/Usermanual/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-IN-5907HD_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <h4>IN-5907 HD Handbuch</h4>
                            <p>Die IN-5907 HD ist eine wettergeschützte WLAN Außenkamera. Die verbauten Hochleistung Infrarot LEDs erlauben es Ihnen tief in die Nacht zu schauen und Bewegungen zu erkennen. Die ideale Kamera für große Distanzen ...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Outdoor_Cameras/IN-5905_HD/Usermanual/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-IN-5905HD_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <h4>IN-5905 HD Handbuch</h4>
                            <p>Die IN-5905 HD ist nicht nur eine kompaktere Version der IN-5907 HD, sondern hat auch ein 4mm Weitwinkelobjektiv mit 90° Blickwinkel verbaut. Die ideale Kamera für kürzere Distanzen ...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Downloads/Outdoor_Cameras/IN-4011/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-IN-4011_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <h4>IN-4011 Handbuch</h4>
                            <p>Die IN-4011 ist der Nachfolger der erfolgreichen IN-4010 Dome Kamera und bietet Ihnen, neben den Vorzügen des Vorgängers, 66 integrierte Infrarot LEDs für die Nachtsicht ...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Downloads/Indoor_Cameras/IN-4010/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-IN-4010_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <h4>IN-4010 Handbuch</h4>
                            <p>Die IN-4010 v2 ist die Standard Dome Außenkamera. Verwenden Sie Ihr Handy um von unterwegs auf die Kamera zuzugreifen. Drehen und schwenken Sie den Kamerakopf und zoomen Sie heran ans Geschehen ...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Downloads/Indoor_Cameras/IN-3011/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-IN-3011_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <h4>IN-3011 Handbuch</h4>
                            <p>Die IN-3011 bietet Ihnen einen integrierten Lautsprecher und Mikrofon, was sie zur perfekten Lösung für die Kleinkind- oder Haustierüberwachung macht ...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Downloads/Outdoor_Cameras/IN-2908/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-IN-2908_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <h4>IN-2908 Handbuch</h4>
                            <p>Die IN-2908 ist die erste Kamera der 290X-Serie, die ein ferngesteuertes Zoomobjektiv verbaut hat. Darüber hinaus machen eine Reiher kleinere Detailverbesserungen dieses Modell zu einem würdigen Nachfolger der IN-2907 ...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Downloads/Outdoor_Cameras/IN-2905/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-IN-2905_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <h4>IN-2905 Handbuch</h4>
                            <p>Die IN-2905 v2 ist der direkte Nachfolger der erfolgreichen IN-2905. Der verabute automatische IRcut Filter gewährleistet Ihnen jetzt natürliche Farben während des Tages ...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                    </div>
                    <!-- /row mobile-down -->
                </div>
                <!-- /container -->
            </section>
            <!-- /Products -->

            <!-- ########################## WebUI ############################### -->

            <% include ../_partials/amp/_ampWebUI.ejs %>

            <!-- ########################## Software ############################### -->

            <section class="tile-wall">
                <h1>Software</h1>
                <div class="container">

                  <!-- ################################ Software desktop-up ###################### -->

                    <div class="row desktop-up">

                      <amp-carousel class="success-carousel" height="400" layout="flex-item" type="slides">
                          <div class="card-container flex-wrap">
                              <div class="card centered tile flex-card">
                                <a href="/Software/Windows/InstarVision/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Windows-InstarVision_white.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                              <div class="card centered tile flex-card">
                                <a href="/Software/Windows/InstarVision/Windows_Phone/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Windows_Phone_white.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                              <div class="card centered tile flex-card">
                                <a href="/Software/Windows/InstarVision/Metro/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Metro_white.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                          </div>
                      </amp-carousel>

                      <amp-carousel class="success-carousel" height="400" layout="flex-item" type="slides">
                          <div class="card-container flex-wrap">
                              <div class="card centered tile flex-card">
                                <a href="/Software/Android/InstarVision/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Android-InstarVision_white.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                              <div class="card centered tile flex-card">
                                <a href="/Software/iOS/InstarVision/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-iOS-InstarVision_white.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                              <div class="card centered tile flex-card">
                                <a href="/Software/Other_Platforms/InstarVision_Blackberry/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Blackberry-InstarVision_white.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                          </div>
                      </amp-carousel>

                    </div>
                    <!-- /row desktop-up -->

                    <!-- ################################ Software mobile-down ###################### -->

                    <div class="mobile-down">

                      <a href="/Software/Windows/InstarVision/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Windows-InstarVision_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <p>Das InstarVision Überwachung Center erlaubt es Ihnen ein Auge auf Ihr Zuhause zu wahren - auch von Unterwegs. Verwandeln Sie Ihren PC in eine Videoüberwachung Station ...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Software/Windows/InstarVision/Windows_Phone/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Windows_Phone_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <p>Um Ihre Kamera in unsere Windows Phone App InstarVision einzubinden, empfehlen wir zuerst die neuste Version der Software aus dem Microsoft Store herunterzuladen ...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Software/Windows/InstarVision/Metro/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Metro_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <p>Um Ihre IP Kamera in unsere Windows Metro App InstarVision einzubinden, empfehlen wir zuerst die neuste Version der Software aus dem Microsoft Store ...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Software/Android/InstarVision/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Android-InstarVision_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <p>Um Ihre IP Kamera in unsere Android App InstarVision einzubinden, empfehlen wir zuerst die neuste Version der Software aus dem Play Store ...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Software/iOS/InstarVision/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-iOS-InstarVision_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <p>Um Ihre IP Kamera in unsere iOS iPhone/iPad App InstarVision einzubinden, empfehlen wir zuerst die neuste Version der Software aus dem App Store herunterzuladen ...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Software/Other_Platforms/InstarVision_Blackberry/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-Blackberry-InstarVision_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <p>Um Ihre IP Kamera mit unserer Blackberry App InstarVision zu erreichen, empfehlen wir zuerst die neueste Version aus dem App-Store herunterladen ...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                    </div>
                    <!-- /row mobile-down -->
                </div>
                <!-- /container -->
            </section>
            <!-- /Software -->

            <!-- ########################## InstarVision ############################### -->

            <% include ../_partials/amp/_ampProducts.ejs %>

            <!-- ########################## Accessories ############################### -->

            <section class="tile-wall">
                <h1>Zubehör</h1>
                <div class="container">

                  <!-- ################################ Accessories desktop-up ###################### -->

                    <div class="row desktop-up">

                      <amp-carousel class="success-carousel" height="400" layout="flex-item" type="slides">
                          <div class="card-container flex-wrap">
                              <div class="card centered tile flex-card">
                                <a href="/Products/IN-LAN/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-IN-LAN_white.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                              <div class="card centered tile flex-card">
                                <a href="/Products/Power_over_Ethernet/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-IN-PoE_white.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                              <div class="card centered tile flex-card">
                                <a href="/Products/IN-Route/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-IN-Route_white.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                          </div>
                      </amp-carousel>

                      <amp-carousel class="success-carousel" height="400" layout="flex-item" type="slides">
                          <div class="card-container flex-wrap">
                              <div class="card centered tile flex-card">
                                <a href="/Products/IN-Motion/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-IN-Motion_white.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                              <div class="card centered tile flex-card">
                                <a href="/Products/IR_Lighting/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-IN-Frared_white.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                              <div class="card centered tile flex-card">
                                <a href="/Products/IN-Mikro/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-IN-Mikro_white.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                          </div>
                      </amp-carousel>

                    </div>
                    <!-- /row desktop-up -->

                    <!-- ################################ Accessories mobile-down ###################### -->

                    <div class="mobile-down">

                      <a href="/Products/IN-LAN/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-IN-LAN_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <p>Nutzen Sie mit IN-LAN Ihre existierenden Stromleitungen um Ihr Netzwerk an unzugängliche Orte zu bringen. Sehr einfache Plug&amp;Play Installation ...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Products/Power_over_Ethernet/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-IN-PoE_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <p>Der IN-PoE 1000 bündelt Strom und Netzwerk damit dieses dann über ein einziges Netzwerkkabel an ein Endgerät übertragen werden kann welches den PoE Standard erfüllt ...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Products/IN-Route/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-IN-Route_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <p>Wir bieten Ihnen eine NAS Lösung für Ihre USB Massespeicher, als auch eine Powerbank um Ihr Smartphone oder Kompaktkamera zu laden ...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Products/IN-Motion/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-IN-Motion_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <p>Der IN-Motion 500 ist mit einem Mikrowellen- und Passiven Infrarot Bewegungsmelder ausgestattet. Er ist perfekt für den Außenbereich geeignet ...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Products/IR_Lighting/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-IN-Frared_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <p>Der Infrarot Scheinwerfer kann direkt an der Steckdose angeschlossen werden und muss nicht mit der Kamera verbunden sein ...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Products/IN-Mikro/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_P-IN-Mikro_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <p>Das IN-MIKRO 380 ist ein hochweriges Aktivmikrofon, welches Sie einfach mit dem Audioeingang Ihrer Kamera verbinden können ...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                    </div>
                    <!-- /row mobile-down -->
                </div>
                <!-- /container -->
            </section>
            <!-- /Accessories -->

            <!-- ########################## Social ############################### -->

            <% include ../_partials/amp/_ampSocial.ejs %>

            <!-- ########################## Footer ############################### -->

            <footer class="desktop-up">
              <% include ../_partials/amp/_amp-footer.ejs %>
            </footer>

        </div>
    </div>

</body>

</html>
