<!DOCTYPE html>
<html ⚡ lang="de">

<head>
    <% include ../_partials/amp/_amp-head.ejs %>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
</head>

<body class="home">

  <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
      <% include ../_partials/amp/_ampLandingSidebar.ejs %>
  </amp-sidebar>

  <header class="header fixed">
    <% include ../_partials/amp/_amp-header.ejs %>
  </header>

  <div class="wrap">
      <div class="container main">

        <% include ../_partials/content/_bluenav-usermanual.ejs %>


                <section itemscope itemtype="http://schema.org/Article" class="blade wrapper content">
                  <% include ../_partials/amp/_schemaArticle.ejs %>

                    <div class="container">

                        <h1 itemprop="name" class="post-title">INSTAR HD Kamera Hardware Reset</h1>

                        <div class="row margin">
                          <h2>Stellen Sie die Werkseinstellungen Ihrer Kamera wieder her</h2>
                          <p class="justify">
                            Wenn Ihrer Kamera nicht mehr ansprechbar sein sollte, oder das Login vergessen haben, können Sie einen Werksreset durchführen. Die Resettaste finden Sie bei Innenkameras direkt am Gehäuse. Bei den Außenkameras befindet sie sich am Kabelbaum der Kamera.
                          </p>
                          <p class="justify">
                            Um den Reset durchzuführen, halten Sie bitte den Reset für mindestens 15 Sekunden gedrückt (lieber etwas zu lange als zu kurz) während die Kamera mit dem Netzteil versorgt wird und das LAN Kabel abgezogen wurde. Sollte der Reset unvollständig verlaufen, kann es sein, dass die Kamera im Anschluss nicht mehr ansprechbar ist. Führen Sie in diesem Fall den Reset erneut durch und trennen Sie im Anschluss die Stromversorgung der Kamera über Nacht. Wenn der Reset erfolgreich durchgeführt wurde, startet die Kamera neu (bei PTZ Kameras erkennt man dieses daran, dass sie eine Kalibrierungsfahrt durchführt) und befindet sich danach wieder im Werkszustand.
                          </p>
                          <p class="justify">
                            Der Reset Button befindet sich entweder am Kabelbaum Ihrer Außenkamera (grauer Button) oder auf der Rückseite, bzw. Unterseite Ihrer Innenkamera.
                          </p>
                          <p class="justify">
                            <strong>Beachten Sie bitte</strong>, dass die Kamera sich im Anschluss nicht mehr in Ihr WLAN einwählen kann, da ihr der WLAN Schlüssel fehlt. Auch wird Sie vermutlich nicht mehr über die alte IP Adresse verfügen, sondern automatisch eine neue von Ihrem Router beziehen, sobald Sie die Kamera per LAN Kabel anschließen. Danach ist eine erneute Erstinstallation notwendig. Details hierzu finden Sie in unserem <a href="http://install.instar.de">Installation Wizard</a>.
                          </p>
                        </div>
                        <!-- /margin -->

                    </div>
                    <!-- /container -->
                </section>
                <!-- /blade -->
            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../_partials/content/_bluenav-usermanual-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>

    </body>

</html>
