<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Internet_Access/Port_Forwarding/">
    </head>

    <body class="home">

      <header class="fixed">
          <% include ../_partials/amp/_amp-header.ejs %>
      </header>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero internetAccess">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>Portweiterleitung</h1>
                                    <p class="intro">
                                      Die Portweiterleitung öffnet bestimmte Ports in Ihrem Netzwerk welche normalerweise im Router blockiert werden. Indem Sie den Port öffnen bzw. weiterleiten können Sie so den Zugriff auf Websever (wie z.B. der Kamera), BitTorrent Clients, Spiele und andere Anwendungen über das Internet erhalten.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

        <div class="wrap">
            <div class="container main">

                <article>
                    <!-- article -->

                    <div class="margin">
                        <h3>Verbinden Sie sich mit Ihrer Kamera über das Internet</h3>
                        <p>Software-Ports sind nummeriert Verbindungen, die ein Computer verwendet, um Arten von Netzwerkverkehr zu sortieren. Ein paar Dienste, wie z.B. FTP auf Port 21 und HTTP auf Port 80, sind bereits fest mit entsprechenden Ports verankert. Viele Betriebssysteme nutzen für die jeweiligen Dienste automatisch die entsprechenden Ports. Wenn ein Port geöffnet wird im Router, wird diesem ein Service zugewiesen wie z.B. die Weboberfläche der IP Kamera. Zur Sicherheit sind Standardmäßig alle Ports im Router aus dem Internet geschlossen damit so niemand über das Internet zugreifen kann. <strong>Weshalb Sie nicht ohne Portweiterleitung auf Ihre Kamera per (DDNS) Adresse zugreifen können</strong>.
						            </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Verbinden Sie sich mit der Weboberfläche Ihres Routers</h3>
                        <p>Öffnen Sie Ihren Webbrowser und geben Sie dort die IP Adresse Ihres Routers ein. Sie sollten dann auf die Weboberfläche des Routers gelangen. Bei den meisten Routern ist die Adresse 192.168.0.1, 192.168.1.1, 192.168.2.1 or 192.168.178.1. Wenn Sie die genaue IP Adresse Ihres Routers nicht kennen, so können Sie auch den Befehl "ip config" eingeben in der Befehlszeile oder im Terminal. Die Adresse des Routers ist meist die gleiche wie die des <strong>Default Gateway</strong> - zumindest in Heimnetzwerken und kleineren Firmen.</p>
                        <ul>
                          <li>Unter Windows: Öffnen Sie die Kommandozeile und tippen Sie <span class="code">ipconfig /all</span> ein.</li>
                          <li>Unter Mac: Öffnen Sie das Terminal und geben Sie <span class="code">netstat -nr</span> ein.</li>
                          <li>Unter Linux: Öffnen Sie das Terminal und geben Sie <span class="code">route</span> ein.</li>
                        </ul>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img on="tap:lightbox1" role="button" tabindex="0" src="/images/Portforwarding_01.png" width="676" height="167" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <amp-lightbox id="lightbox1" layout="nodisplay">
                          <div class="lightbox" on="tap:lightbox1.close" tabindex="0" class="centered">
                              <amp-img on="tap:lightbox1.close" role="button" tabindex="0" src="/images/Portforwarding_01.png" width="676" height="167" layout="responsive" class="shadow"></amp-img>
                          </div>
                      </amp-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Das Default Gateway Ihres Heim- oder kleinen Firmennetzwerks ist meistens die IP-Adresse Ihres Routers.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Zugriff auf Ihren Router</h3>
                        <p>Sofern Sie in Ihrem Router schon die Login Daten verändert haben, tragen Sie bitte den Benutzernamen und das Passwort des Routers ein. Alternativ können Sie auch im Handbuch Ihres Router nach den Standard Benutzerdaten schauen und diese eintragen sofern Sie diese nicht zuvor verändert haben (dies ist nicht das gleiche wie das WLAN Passwort!). Ggbf. können Sie auch bei - zum Beispiel <a href="http://www.google.com/">GOOGLE</a>. nach den Standard Benutzerdaten suchen indem Sie "Benutzername + Routermodell" in das Suchfeld eintragen. Eine andere Möglichkeit wäre die Seite <a href="http://portforward.com/default_username_password/">portforward.com</a> oder <a href="http://www.routerpasswords.com/">routerpasswords.com</a>  welche mehrere Routermodelle aufzeigen. Sollten Sie die Login Daten vergessen haben, so können Sie den Router auch auf Werkseinstellungen zurücksetzen. Bedenken Sie jedoch das Sie danach die Internetdaten etc. wieder neu eintragen müssen.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img on="tap:lightbox2" role="button" tabindex="0" src="/images/Portforwarding_02.png" width="676" height="163" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <amp-lightbox id="lightbox2" layout="nodisplay">
                          <div class="lightbox" on="tap:lightbox2.close" tabindex="0" class="centered">
                              <amp-img on="tap:lightbox2.close" role="button" tabindex="0" src="/images/Portforwarding_02.png" width="676" height="163" layout="responsive" class="shadow"></amp-img>
                          </div>
                      </amp-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Tragen Sie die Benutzerdaten ein um auf die Weboberfläche des Routers zuzugreifen.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Access your Router</h3>
                        <ul>
                          <li>Finden Sie den Menüpunkt für die Portweiterleitung - diese wird je nach Routermodell unterschiedlich sein. Oft verwendete Bezeichnungen sind Port Forwarding, Applications, Gaming, Virtual Servers, Freigaben, Spiele und Anwendungen, Portweiterleitung, NAT Firewall. Sollten Sie diesen Punkt oder einen ähnlichen nicht sehen so können Sie einmal in die erweiterten Einstellungen Ihres Routers gehen und dort danach schauen.</li>
                          <li>Wenn Sie den Menüpunkt gefunden haben legen Sie eine neue Regel / Portweiterleitung an und vergeben Sie dieser einen Namen - z.B. INSTAR Kamera. Dann wählen Sie das Protokoll - dieses kann lauten TCP, UDP, oder beides. Ihre IP Kamera benötigt das TCP Protokoll.</li>
                          <li>Wählen Sie anschließend den Port den Sie weiterleiten möchten. Für die Kamera müssen Sie den web/http/internen Port weiterleiten den Sie in der WebUI unter Netzwerk/IP Konfiguration einstellen können. Wenn Sie auf den RTSP stream Ihrer HD Kamera zugreifen möchten, so müssen Sie ebenfalls diesen Port weiterleiten. In diesem Fall würden Sie dann für eine HD Kamera "zwei" Portweiterleitungen anlegen.</li>
                          <li>Wählen Sie jetzt die IP Adresse an die weitergeleitet werden soll. In diesem Fall ist dies die IP Adresse der Kamera. Sie können das INSTAR Kamera Tool verwenden um die Kamera im Netzwerk zu suchen. Es wird Ihnen dann die IP der Kamera angezeigt. Sie sehen diese auch in der Adresszeile Ihres Webbrowsers sofern Sie die Kamera im Webbrowser geöffnet haben.</li>
                        </ul>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Die Einstellmöglichkeiten variieren stark je nach Router Modell und Router Firmware. In den folgenden Punkten haben wir für die meist genutzten Router in Heimnetzwerken eine Anleitung erstellt. Sollten Sie Ihren Router nicht in der unten stehenden Liste finden, so können Sie auf portforward.comschauen. Dort finden Sie eine große Auswahl an Routermodellen und Anleitungen.</p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->
            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <section class="blade get-started">
            <div class="container">
                <div class="row">
                    <div class="twelve columns">
                        <h1>Portweiterleitung</h1>
                        <p>
                          Die Schritte zur Portweiterleitung sind bei jedem Router fast die gleichen. Im folgenden zeigen wir Beispiele von häufig verwendeten Router-Herstellern.
                        </p>
                    </div>
                </div>

                <div class="card-container">
                    <div class="card">
                        <div class="image">
                            <a href="/Internet_Access/Port_Forwarding/AVM_Fritzbox/">
                              <amp-img noloading height=150 width=200 layout=responsive src="/images/Forwarding_AVM_Fritzbox.jpg"></amp-img>
                            </a>
                        </div>
                        <div class="content">
                            <h4>AVM Fritzbox</h4>
                        </div>
                        <div class="action">
                            <a href="/Internet_Access/Port_Forwarding/AVM_Fritzbox/">Lesen Sie Mehr</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <a href="/Internet_Access/Port_Forwarding/Telekom_Speedport/">
                              <amp-img noloading height=150 width=200 layout=responsive src="/images/Forwarding_Telekom_Speedport.jpg"></amp-img>
                            </a>
                        </div>
                        <div class="content">
                            <h4>Telekom Speedport</h4>
                        </div>
                        <div class="action">
                            <a href="/Internet_Access/Port_Forwarding/Telekom_Speedport/">Lesen Sie Mehr</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <a href="/Internet_Access/Port_Forwarding/D-Link/">
                              <amp-img noloading height=150 width=200 layout=responsive src="/images/Forwarding_D-Link.jpg"></amp-img>
                            </a>
                        </div>
                        <div class="content">
                            <h4>D-Link</h4>
                        </div>
                        <div class="action">
                            <a href="/Internet_Access/Port_Forwarding/D-Link/">Lesen Sie Mehr</a>
                        </div>
                    </div>
                </div>

                <div class="card-container">
                    <div class="card">
                        <div class="image">
                            <a href="/Internet_Access/Port_Forwarding/Netgear/">
                              <amp-img noloading height=150 width=200 layout=responsive src="/images/Forwarding_Netgear.jpg"></amp-img>
                            </a>
                        </div>
                        <div class="content">
                            <h4>Netgear</h4>
                        </div>
                        <div class="action">
                            <a href="/Internet_Access/Port_Forwarding/Netgear/">Lesen Sie Mehr</a>
                        </div>
                    </div>

                    <div class="card">
                        <div class="image">
                            <a href="/Internet_Access/Port_Forwarding/Vodafone_Easybox/">
                              <amp-img noloading height=150 width=200 layout=responsive src="/images/Forwarding_Vodafone_Easybox.jpg"></amp-img>
                            </a>
                        </div>
                        <div class="content">
                            <h4>Vodafone Easybox</h4>
                        </div>
                        <div class="action">
                            <a href="/Internet_Access/Port_Forwarding/Vodafone_Easybox/">Lesen Sie Mehr</a>
                        </div>
                    </div>

                    <div class="card">
                        <div class="image">
                            <a href="/Internet_Access/Port_Forwarding/Pirelli/">
                              <amp-img noloading height=150 width=200 layout=responsive src="/images/Forwarding_Pirelli.jpg"></amp-img>
                            </a>
                        </div>
                        <div class="content">
                            <h4>Pirelli Router (A1 Austria)</h4>
                        </div>
                        <div class="action">
                            <a href="/Internet_Access/Port_Forwarding/Pirelli/">Lesen Sie Mehr</a>
                        </div>
                    </div>
            </div>

              <div class="card-container">

                  <div class="card">
                      <div class="image">
                          <a href="/Internet_Access/Port_Forwarding/TP-Link/">
                            <amp-img noloading height=150 width=200 layout=responsive src="/images/Forwarding_TP-Link.png"></amp-img>
                          </a>
                      </div>
                      <div class="content">
                          <h4>TP-Link</h4>
                      </div>
                      <div class="action">
                          <a href="/Internet_Access/Port_Forwarding/TP-Link/">Lesen Sie Mehr</a>
                      </div>
                  </div>

                  <div class="card invisible">
                  </div>

                  <div class="card ivisible">
                  </div>

              </div>

            </div>
        </section>  <!-- /Cards -->

        <section class="blade blog mobile-down">

            <div class="container wider">
                <div class="row">
                    <div class="twelve columns">
                        <h1>Verwandte Themen:</h1>
                    </div>
                </div>

                <div class="tab-container">

                    <a class="tab" href="/Internet_Access/Port_Forwarding_AVM_Fritzbox">
                        <h3>Portweiterleitung in einer Fritzbox einrichten</h3>
                        <div class="subtitle">Mittel</div>
                    </a>

                    <a class="tab" href="/Internet_Access/Port_Forwarding_D-Link">
                        <h3>Portweiterleitung in einem D-Link einrichten</h3>
                        <div class="subtitle">Mittel</div>
                    </a>

                    <a class="tab" href="/Internet_Access/Port_Forwarding_Netgear">
                        <h3>Portweiterleitung in einem Netgear einrichten</h3>
                        <div class="subtitle">Mittel</div>
                    </a>

                    <a class="tab" href="/Internet_Access/Port_Forwarding_Pirelli">
                        <h3>Portweiterleitung in einem Pirelli einrichten</h3>
                        <div class="subtitle">Mittel</div>
                    </a>

                    <a class="tab" href="/Internet_Access/Port_Forwarding_Telekom_Speedport">
                        <h3>Portweiterleitung in einem Telekom Speedport einrichten</h3>
                        <div class="subtitle">Mittel</div>
                    </a>

                    <a class="tab" href="/Internet_Access/Port_Forwarding_Vodafone_Easybox">

                        <h3>Portweiterleitung in einer Vodafone Easybox einrichten</h3>
                        <div class="subtitle">Mittel</div>
                    </a>

                </div>

                <a href="/Quick_Installation/" target="_blank">Mehr ansehen</a>

            </div>
        </section>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
