<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Internet_Access/Port_Forwarding/Pirelli/">
    </head>

    <body class="home">

      <header class="fixed">
          <% include ../_partials/amp/_amp-header.ejs %>
      </header>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero internetAccess">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>Portweiterleitung</h1>
                                    <h3>Einrichten einer Portweiterleitung in einem Pirelli Router (A1 Austria)</h3>
                                    <p class="intro">
                                      Um Ihre Kamera über das Internet zu erreichen, müssen Sie in Ihrem Router eine Portweiterleitung einrichte. Für mehr allgemeine Informationen zum DDNS-Dienst klicken Sie bitte <a href="http://wiki.instar.com/index.php/The_DDNS_Service">HIER</a>.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

        <div class="wrap">
            <div class="container main">
                <% include ../_partials/content/_bluenav-ia.ejs %>

                <article>
                    <!-- article -->

                    <div class="margin">
                        <h3>Schritt 1</h3>
                        <p>Um die Weboberfläche Ihres Routers zu erreichen, geben Sie folgende Adresse in Ihren Browser ein (klicken Sie <a href="http://portforward.com/networking/routers_ip_address.htm">HIER</a> für mehr Informationen). Geben Sie Ihre Login-Daten ein (klicken Sie <a href="http://portforward.com/default_username_password/Pirelli.htm">HIER</a> für mehr Informationen). Navigieren Sie zu <strong>Portforwarding</strong> im Menü <strong>Sicherheit</strong>. Klicken Sie <strong>Neuer Eintrag</strong> um eine neue Portweiterleitung für Ihre Kamera hinzuzufügen. </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img on="tap:lightbox1" role="button" tabindex="0" src="/images/Pirelli-A1-Port-forwarding_01.png" width="600" height="423" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <amp-lightbox id="lightbox1" layout="nodisplay">
                          <div class="lightbox" on="tap:lightbox1.close" tabindex="0" class="centered">
                              <amp-img on="tap:lightbox1.close" role="button" tabindex="0" src="/images/Pirelli-A1-Port-forwarding_01.png" width="600" height="423" layout="responsive" class="shadow"></amp-img>
                          </div>
                      </amp-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Gehen Sie zu Sicherheit/Portforwarding und klicken Sie auf Neuer Eintrag um eine neue Portweiterleitung für Ihre Kamera einzurichten.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Schritt 2</h3>
                        <p> Geben Sie die IP-Adresse Ihrer Kamera in das Feld <strong>Lokaler Rechner</strong> ein. Sie können die IP-Adresse Ihrer Kamera über das IP Kamera Tool herausfinden. Kicke Sie auf OK um die Einstellungen zu speichern.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img on="tap:lightbox2" role="button" tabindex="0" src="/images/Pirelli-A1-Port-forwarding_02.png" width="600" height="407" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <amp-lightbox id="lightbox2" layout="nodisplay">
                          <div class="lightbox" on="tap:lightbox2.close" tabindex="0" class="centered">
                              <amp-img on="tap:lightbox2.close" role="button" tabindex="0" src="/images/Pirelli-A1-Port-forwarding_02.png" width="600" height="407" layout="responsive" class="shadow"></amp-img>
                          </div>
                      </amp-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Geben Sie die IP-Adresse Ihrer Kamera ein um eine neue Portweiterleitung einzurichten.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Schritt 3</h3>
                        <p>Setzen Sie das Protokoll auf <strong>Benutzerdefiniert</strong>.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img on="tap:lightbox3" role="button" tabindex="0" src="/images/Pirelli-A1-Port-forwarding_03.png" width="600" height="424" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <amp-lightbox id="lightbox3" layout="nodisplay">
                          <div class="lightbox" on="tap:lightbox3.close" tabindex="0" class="centered">
                              <amp-img on="tap:lightbox3.close" role="button" tabindex="0" src="/images/Pirelli-A1-Port-forwarding_03.png" width="600" height="424" layout="responsive" class="shadow"></amp-img>
                          </div>
                      </amp-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Setzen Sie das Protokoll auf <strong>Benutzerdefiniert</strong>.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Schritt 4</h3>
                        <p>Benennen Sie den Dienst und klicken Sie auf <strong>Neue Server Ports</strong> um den Web-Port Ihrer Kamera hinzuzufügen (http port - siehe Weboberfläche der Kamera <a href="/Web_User_Interface/HD_Series/Network/IP_Configuration/">Netzwerk/IP Konfiguration</a>).</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img on="tap:lightbox4" role="button" tabindex="0" src="/images/Pirelli-A1-Port-forwarding_04.png" width="600" height="359" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <amp-lightbox id="lightbox4" layout="nodisplay">
                          <div class="lightbox" on="tap:lightbox4.close" tabindex="0" class="centered">
                              <amp-img on="tap:lightbox4.close" role="button" tabindex="0" src="/images/Pirelli-A1-Port-forwarding_04.png" width="600" height="359" layout="responsive" class="shadow"></amp-img>
                          </div>
                      </amp-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Benennen Sie die Regel und klicken Sie auf <strong>Neue Serverports</strong>.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Schritt 5</h3>
                        <p>Wählen Sie als Protokoll TCP und setzen Sie den <strong>Quellport</strong> auf <strong>Beliebig</strong>. Der <strong>Zielport</strong> ist der interne Port der http-Port der Kamera (sie Weboberfläche der Kamera - Netzwerk/IP Konfiguration). Wir empfehlen einen Port ab 8081 -  merken: Wenn Sie den Port wechseln, müss Sie <strong>auch</strong> den Port in der Kamera ändern! Ihre Kamera kann nun über die DDNS-Adresse erreicht werden. Die DDNS-Adresse finden Sie in der Weboberfläche der Kamera unter System - Info. Wenn der Port 80 schon in Ihrem Netzwerk verwendet wird, müssen Sie in den Netzwerkeinstellungen in der Weboberfläche der Kamera einen anderen Port auswählen (z.B. 8081) und für diesen auch eine Portweiterleitung im Router einrichten. </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img on="tap:lightbox5" role="button" tabindex="0" src="/images/Pirelli-A1-Port-forwarding_05.png" width="600" height="370" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <amp-lightbox id="lightbox5" layout="nodisplay">
                          <div class="lightbox" on="tap:lightbox5.close" tabindex="0" class="centered">
                              <amp-img on="tap:lightbox5.close" role="button" tabindex="0" src="/images/Pirelli-A1-Port-forwarding_05.png" width="600" height="370" layout="responsive" class="shadow"></amp-img>
                          </div>
                      </amp-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Tippen Sie den WebPort der Kamera und Ihre persönliche Internetadresse unter <a href="/Web_User_Interface/HD_Series/Network/DDNS/">Netzwerk/DDNS</a> in die Weboberfläche der Kamera ein.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h2>Mehrere Kameras</h2>
                        <p>Sollten Sie noch eine zweite Kamera einrichten so müssen Sie für diese eine neue Portweiterleitung einrichten. Bitte beachten Sie hier das sich der öffentliche Port unterscheiden muss. Wir empfehlen diesen um 1 zu erhöhen. Wenn Ihre erste Kamera zum Beispiel den öffentlichen Port 80 hat dann würde Ihre zweite Kamera den Port 81 bekommen.</p>
                        <p>Dadurch würden Sie dann die Kameras wie folgt aufrufen:</p>
                        <ul>
                          <li><strong>Kamera 1</strong>: ab1234.ddns-instar.com:8081</li>
                          <li><strong>Kamera 2</strong>: ab1234.ddns-instar.com:8082</li>
                        </ul>
                        <p>und so weiter...</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Neue Benutzeroberfläche</h3>
                        <p>Die Benutzeroberfläche von Pirelli wurde vor kurzen geändert und sieht jetzt in etwa so aus:</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img on="tap:lightbox5" role="button" tabindex="0" src="/images/Pirelli-A1-Port-forwarding_06.png" width="600" height="348" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <amp-lightbox id="lightbox5" layout="nodisplay">
                          <div class="lightbox" on="tap:lightbox5.close" tabindex="0" class="centered">
                              <amp-img on="tap:lightbox5.close" role="button" tabindex="0" src="/images/Pirelli-A1-Port-forwarding_06.png" width="600" height="348" layout="responsive" class="shadow"></amp-img>
                          </div>
                      </amp-lightbox>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->
            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../_partials/content/_bluenav-ia-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
