<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Internet_Access/Port_Forwarding/Vodafone_Easybox/">
    </head>

    <body class="home">

      <header class="fixed">
          <% include ../_partials/amp/_amp-header.ejs %>
      </header>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero internetAccess">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>Portweiterleitung</h1>
                                    <h3>Einrichten einer Portweiterleitung in einer Vodafone Easybox</h3>
                                    <p class="intro">
                                      Um Ihre Kamera über das Internet zu erreichen, müssen Sie in Ihrem Router eine Portweiterleitung einrichte. Für mehr allgemeine Informationen zum DDNS-Dienst klicken Sie bitte <a href="http://wiki.instar.com/index.php/The_DDNS_Service">HIER</a>.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

        <div class="wrap">
            <div class="container main">
                <% include ../_partials/content/_bluenav-ia.ejs %>

                <article>
                    <!-- article -->

                    <div class="margin">
                        <h3>Schritt 1</h3>
                        <p>Sie können auf die Weboberfläche des Netgear Routers zugreifen indem Sie folgende Adresse in die Adresszeile Ihres Browsers eingeben: http://192.168.2.1 . Der Standard Login des Routers ist Benutzername = root und Kennwort = 123456. Gehen Sie unter dem Reiter Daten auf Port Mapping und klicken Sie hier auf das Einstellen Symbol (s. Screenshot unten).</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img on="tap:lightbox1" role="button" tabindex="0" src="/images/Easybox_01en.jpg" width="680" height="257" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <amp-lightbox id="lightbox1" layout="nodisplay">
                          <div class="lightbox" on="tap:lightbox1.close" tabindex="0" class="centered">
                              <amp-img on="tap:lightbox1.close" role="button" tabindex="0" src="/images/Easybox_01en.jpg" width="680" height="257" layout="responsive" class="shadow"></amp-img>
                          </div>
                      </amp-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Gehen Sie auf "Daten - Port Mapping" um eine neue Portweiterleitung für Ihre Netzwerkkamera anzulegen.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Schritt 2</h3>
                        <p>Geben Sie hier die IP Adresse der Kamera in das Feld LAN IP ein. Die IP Adresse der Kamera ist die, die Ihnen das IP Camera Tool anzeigt. Wählen Sie als Protokolltyp TCP und geben Sie sowohl bei LAN Port als auch beim Öffentlichen Port den Port ein auf dem Sie die Kamera betreiben möchten. Der Standardport der Kamera ist der Port 80. Klicken Sie anschließend das Eingabesymbol unter Einstellen (s. Screenshot oben).</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img on="tap:lightbox2" role="button" tabindex="0" src="/images/Easybox_02en.jpg" width="680" height="280" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <amp-lightbox id="lightbox2" layout="nodisplay">
                          <div class="lightbox" on="tap:lightbox2.close" tabindex="0" class="centered">
                              <amp-img on="tap:lightbox2.close" role="button" tabindex="0" src="/images/Easybox_02en.jpg" width="680" height="280" layout="responsive" class="shadow"></amp-img>
                          </div>
                      </amp-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Tragen Sie die IP Adresse der Kamera ein und den internen Port Ihrer Kamera sowie den externen Port über den die Kamera erreichbar sein soll.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Step 3</h3>
                        <p>Die Regel ist jetzt aktiv.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img on="tap:lightbox3" role="button" tabindex="0" src="/images/Easybox_03en.jpg" width="680" height="275" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <amp-lightbox id="lightbox3" layout="nodisplay">
                          <div class="lightbox" on="tap:lightbox3.close" tabindex="0" class="centered">
                              <amp-img on="tap:lightbox3.close" role="button" tabindex="0" src="/images/Easybox_03en.jpg" width="680" height="275" layout="responsive" class="shadow"></amp-img>
                          </div>
                      </amp-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Übernehmen Sie die Einstellungen.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Schritt 4</h3>
                        <p>Die Kamera ist jetzt über die ddns Adresse, die Sie unter System/Info in der Weboberfläche der Kamera nachsehen können, aus dem Internet erreichbar. Sollten Sie die Kamera erst kurz im Betrieb haben kann es sein das der Zugriff nicht auf anhieb erfolgreich ist. Geben Sie der Kamera daher einfach etwas Zeit den DNS Eintrag zu tätigen. Sollte es danach immer noch nicht funktionieren kann es sein das der Port 80 in Ihrem Netzwerk durch einen anderen Service belegt ist. In diesem Fall ändern Sie einfach den http Port in der Weboberfläche der Kamera (unter Netzwerk/IP Konfiguration) und passen die Portweiterleitung in Ihrem Router entsprechend an. Erfahrungsgemäß hat man mit dem Port 85 keine Probleme.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img on="tap:lightbox4" role="button" tabindex="0" src="/images/Speedport_02en.jpg" width="480" height="169" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <amp-lightbox id="lightbox4" layout="nodisplay">
                          <div class="lightbox" on="tap:lightbox4.close" tabindex="0" class="centered">
                              <amp-img on="tap:lightbox4.close" role="button" tabindex="0" src="/images/Speedport_02en.jpg" width="480" height="169" layout="responsive" class="shadow"></amp-img>
                          </div>
                      </amp-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Nutzen Sie die eindeutige DDNS Adresse Ihrer Kamera die Sie unter "Netzwerk - DDNS" in der Weboberfläche Ihrer Kamera finden um über das Internet auf Ihre Kamera zuzugreifen.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h2>Mehrere Kameras</h2>
                        <p>Sollten Sie noch eine zweite Kamera einrichten so müssen Sie für diese eine neue Portweiterleitung einrichten. Bitte beachten Sie hier das sich der öffentliche Port unterscheiden muss. Wir empfehlen diesen um 1 zu erhöhen. Wenn Ihre erste Kamera zum Beispiel den öffentlichen Port 80 hat dann würde Ihre zweite Kamera den Port 81 bekommen.</p>
                        <p>Dadurch würden Sie dann die Kameras wie folgt aufrufen:</p>
                        <ul>
                          <li><strong>Kamera 1</strong>: ab1234.ddns-instar.com:8081</li>
                          <li><strong>Kamera 2</strong>: ab1234.ddns-instar.com:8082</li>
                        </ul>
                        <p>und so weiter...</p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->
            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../_partials/content/_bluenav-ia-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
