<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Internet_Access/Port_Forwarding/AVM_Fritzbox">
    </head>

    <body class="home">

      <header class="fixed">
          <% include ../_partials/amp/_amp-header.ejs %>
      </header>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero internetAccess">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>Portweiterleitung :: AVM Fritzbox</h1>
                                    <p class="intro">
                                      Um Ihre Kamera über das Internet zu erreichen, müssten Sie eine Portweiterleitung (Freigabe) in Ihrem Router einrichten. Für mehr Informationen über DDNS schauen Sie bitte be <a href="/Internet_Access/The_DDNS_Service/">HIER</a>. Die folgende Anleitung zeigt Ihnen wie Sie eine AVM Fritzbox einrichten müssen um den Zugriff zur Kamera über das Internet zuzulassen.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

        <div class="wrap">
            <div class="container main">
                <% include ../_partials/content/_bluenav-ia.ejs %>

                <article>
                    <!-- article -->

                    <div class="margin">
                        <h3>Allgemeine Empfehlung</h3>
                        <p>Das Live Video von VGA Kameras kann nur über den HTTP Port (Standard 80) abgegriffen werden. Dieser Port wird auch für den Zugriff auf die Weboberfläche verwendet (WebUI). Sofern Sie eine INSTAR HD Kamera verwenden, gibt es auch die Möglichkeit den RTSP Port für die Übertragung des Videos zu nutzen. Dieser ist 554 in den Werkseinstellungen. Möchte man das Video per RTSP abgreifen, so muss man den RTSP Port weiterleiten und "zusätzlich" auch den HTTP Port. Bei den HD Kameras wären daher zwei Portweiterleitungen nötig. Man kann aber auch problemlos "nur" den HTTP Port verwenden.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h2>Fritzbox 7490</h2>
                        <h3>Einstellen der Ports in der Kamera</h3>
                        <p>Schauen Sie als erstes in Ihrer Kamera welchen Port diese benutzt. Im Falle einer HD Kamera wären dies der HTTP und RTSP Port. Die Ports können Sie entsprechend vergeben. Der Einfachheit halber würden wir Ihnen jedoch die Standardports empfehlen. Öffnen Sie jetzt die Weboberfläche Ihres Routers in einem neuen Browser Fenster - die Standardadresse der Fritzbox lautet 192.168.178.1, alternativ können Sie auch fritz.box in der Adresszeile Ihres Webbrowsers eingeben. Melden Sie sich jetzt mit dem von Ihnen vergebenen Passwort an der Fritzbox an.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img on="tap:lightbox1" role="button" tabindex="0" src="/images/Portforwarding-Fritzbox-7490de_00.png" width="482" height="599" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <amp-lightbox id="lightbox1" layout="nodisplay">
                          <div class="lightbox" on="tap:lightbox1.close" tabindex="0" class="centered">
                              <amp-img on="tap:lightbox1.close" role="button" tabindex="0" src="/images/Portforwarding-Fritzbox-7490de_00.png" width="482" height="599" layout="responsive" class="shadow"></amp-img>
                          </div>
                      </amp-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Das Video Ihrer HD Kamera kann über zwei Ports abgegriffen werden. Bei VGA Kameras gibt es nur den HTTP Port.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img on="tap:lightbox2" role="button" tabindex="0" src="/images/Portforwarding-Fritzbox-7490de_01.png" width="1000" height="617" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <amp-lightbox id="lightbox2" layout="nodisplay">
                          <div class="lightbox" on="tap:lightbox2.close" tabindex="0" class="centered">
                              <amp-img on="tap:lightbox2.close" role="button" tabindex="0" src="/images/Portforwarding-Fritzbox-7490de_01.png" width="1000" height="617" layout="responsive" class="shadow"></amp-img>
                          </div>
                      </amp-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Öffnen Sie die Weboberfläche der Fritzbox indem Sie 192.168.178.1 oder fritz.box in die Adressleiste des Webbrowsers eingeben.</p>
                        <h3>Eine Portweiterleitung / Freigabe einrichten</h3>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img on="tap:lightbox3" role="button" tabindex="0" src="/images/Portforwarding-Fritzbox-7490de_02.png" width="993" height="526" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <amp-lightbox id="lightbox3" layout="nodisplay">
                          <div class="lightbox" on="tap:lightbox3.close" tabindex="0" class="centered">
                              <amp-img on="tap:lightbox3.close" role="button" tabindex="0" src="/images/Portforwarding-Fritzbox-7490de_02.png" width="993" height="526" layout="responsive" class="shadow"></amp-img>
                          </div>
                      </amp-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Gehen Sie auf Internet/Freigaben und klicken Sie auf <strong>Neue Portfreigabe</strong>.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img on="tap:lightbox4" role="button" tabindex="0" src="/images/Portforwarding-Fritzbox-7490de_03.png" width="994" height="420" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <amp-lightbox id="lightbox4" layout="nodisplay">
                          <div class="lightbox" on="tap:lightbox4.close" tabindex="0" class="centered">
                              <amp-img on="tap:lightbox4.close" role="button" tabindex="0" src="/images/Portforwarding-Fritzbox-7490de_03.png" width="994" height="420" layout="responsive" class="shadow"></amp-img>
                          </div>
                      </amp-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Wählen Sie <strong>Andere Anwendung</strong> aus dem DropDown Menü.</p>
                        <p>Um einen Port freizugeben klicken Sie bitte auf Internet / Freigaben und dann auf <strong>Neue Portfreigabe</strong>. Tragen Sie jetzt die benötigten Eingaben in die Felder:</p>
                        <ul>
                          <li><strong>Portfreigabe aktiv für</strong>: Wählen Sie <em>Andere Anwendung</em>.</li>
                          <li><strong>Bezeichnung</strong>:  Hier können Sie einen Namen für die Portweiterleitung vergeben. Dies hilft Ihnen bei mehreren Kameras den Überblick zu behalten.</li>
                          <li><strong>Protokoll</strong>:  Wählen Sie bitte <em>TCP</em>.</li>
                          <li><strong>von Port</strong>: Dies ist der Port mit dem Sie über das Internet zugreifen. Tragen Sie dort den HTTP Port Ihrer Kamera ein. Fortgeschrittene User können in einer weiteren Freigabe auch den RTSP Port angeben. Im Normalfall reicht jedoch der HTTP Port. Den Port den man hier angibt muss man später bei der Internetadresse mit angeben. Wenn der Port z.B. 8081 ist, so müssen Sie später im Webbrowser z.B. http://xxx.ddns-instar.com:8081 eingeben. So teilen Sie dem Router mit auf welches Gerät Sie zugreifen möchten.</li>
                          <li><strong>bis Port</strong>: Tragen Sie hier den gleichen Port ein wie bei "von Port".</li>
                          <li><strong>an IP Adresse</strong>:  Wählen Sie hier aus der Liste den letzten Punkt aus "Manuelle Eingabe" und tragen Sie dann die IP Adresse der Kamera ein. z.B. 192.168.178.199</li>
                        </ul>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img on="tap:lightbox5" role="button" tabindex="0" src="/images/Portforwarding-Fritzbox-7490de_04.png" width="992" height="448" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <amp-lightbox id="lightbox5" layout="nodisplay">
                          <div class="lightbox" on="tap:lightbox5.close" tabindex="0" class="centered">
                              <amp-img on="tap:lightbox5.close" role="button" tabindex="0" src="/images/Portforwarding-Fritzbox-7490de_04.png" width="992" height="448" layout="responsive" class="shadow"></amp-img>
                          </div>
                      </amp-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Tragen Sie die Werte wie oben beschrieben ein.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img on="tap:lightbox6" role="button" tabindex="0" src="/images/Portforwarding-Fritzbox-7490de_05.png" width="990" height="559" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <amp-lightbox id="lightbox6" layout="nodisplay">
                          <div class="lightbox" on="tap:lightbox6.close" tabindex="0" class="centered">
                              <amp-img on="tap:lightbox6.close" role="button" tabindex="0" src="/images/Portforwarding-Fritzbox-7490de_05.png" width="990" height="559" layout="responsive" class="shadow"></amp-img>
                          </div>
                      </amp-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Sofern Sie auch den RTSP Port einer HD Kamera weiterleiten möchten wiederholen Sie den Schritt auch für diesen Port.<br/><br/>Im Beispiel oben kann die HD Kamera jetzt über den HTTP Port 8081 erreicht werden - tragen Sie einfach im Webbrowser die DDNS Adresse Ihrer Kamera ein z.B. XXXXXX.ddns-instar.com - Sie finden die Adresse in der Weboberfläche Ihrer Kamera unter Netzwerk - DDNS. In der Smartphone App "InstarVision" können Sie jetzt eine neue Kamera hinzufügen. Dort müssen Sie dann in der zweiten Zeile bei "IP/DDNS Adresse" die DDNS Ihrer Kamera eintragen. In das Feld "Port" würden Sie jetzt 8081 eintragen. Wenn Sie die HD Kamera mit dem RTSP videostream einbinden möchten, so wählen Sie als Kameramodell z.B. IN-6012HD RTSP und tragen Sie dann entsprechend den RTSP Port im dafür vorgesehene Feld ein.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h2>Fritzbox 7390</h2>
                        <p>Um die Weboberfläche Ihrer Fritzbox zu öffnen, tragen Sie bitte http://192.168.178.1 oder fritz.box in die Adressleiste Ihres Webbrowsers ein. Melden Sie sich bei Ihrer Fritzbox an und gehen Sie dann auf den Punkt "Internet - Freigaben". Dort müssen Sie dann folgendes eintragen:</p>
                        <ul>
                          <li><strong>Portfreigabe aktiv für</strong>: Entweder wählen Sie HTTP Server oder Andere Anwendung.</li>
                          <li><strong>Bezeichnung</strong>: Hier können Sie einen Namen für die Portweiterleitung vergeben. Wir empfehlen Ihnen bei mehreren Kameras einen eindeutigen Namen zu vergeben für jede Kamera um diese auseinanderhalten zu können.</li>
                          <li><strong>Protokoll</strong>: Hier bitte TCP auswählen.</li>
                          <li><strong>von Port</strong>: Bitte "80" eingeben. Wenn Sie diesen Port bereits verwenden kann auch ein anderer angeben werden. Wenn Sie einen anderen Port verwenden und Ihre IP Kamera später aufrufen möchten, dann achten Sie darauf nach der Internetadresse z.B. xxxx.ddns-instar.de noch die Portnummer hinzuzufügen, indem Sie z.B. "81"hinzufügen (xxxx.ddns-instar.de:81).</li>
                          <li><strong>bis Port</strong>: Tragen Sie hier den gleichen Port wie bei von Port ein oder lassen Sie dieses Feld leer. </li>
                          <li><strong>an IP Adresse</strong>: Bitte hier die IP Adresse Ihrer IP Kamera eingeben. Dies ist die Adresse die Sie nutzen um Ihrer IP Kamera im Browser anzeigen zu lassen. Die IP Adresse startet meist mit 192.168.178.x.</li>
                          <li><strong>an Port</strong>: Bitte hier den Port Ihrer Kamera eintragen. z.B. 80. Sie finden den Port in der Weboberfläche Ihrer Kamera unter "Netzwerk - IP Konfiguration".</li>
                        </ul>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h2>Problembehandlung</h2>
                        <p>Wie oben beschrieben ist es sehr wichtig den richtigen Port weiterzuleiten. Die Werkseitig eingestellten Ports funktionieren in den meisten Fällen - wenn dies aber nicht der Fall ist, so kann es oft schwer sein herauszufinden was der Grund dafür ist. Wir empfehlen daher einen hohen Port zu verwenden der sich außerhalb von z.B. System Ports befindet. Gerade bei manchem mobilen Internetanbietern sollte man Ports im 4 stelligen Bereich nutzen wie z.B. den Port 8081.</p>
                        <p>Mobile Accesspoints - 3G / LTE Router die mit einer SIM Karte arbeiten -erhalten meist keine öffentliche IP Adresse welche für den DDNS Service benötigt wird. Sofern Sie einen mobilen Internetanschluss verwenden und nicht auf Ihre Kamera über das Internet zugreifen können, so können Sie mit Ihrem Mobilfunkanbieter prüfen ob Ihr Vertrag eine feste WAN IP ermöglicht. Die meisten Business Verträge ermöglichen dies in der Regel. Eine öffentliche IP ist Vorraussetzung um über die DDNS Adresse auf die Kamera zugreifen zu können.</p>
                        <p>Ein anderes Problem können DS-Lite (Dual Stack Lite) Verbindungen sein - es ist nicht möglich über DDNS zuzugreifen wenn Ihr Internetanbieter Ihnen eine DSLite Verbindung anbietet. Dies ist der Fall wenn Ihr Internetanbieter IPv6 Adressen verwendet anstatt normalen IPv4 Adressen. <a href="http://www.wieistmeineip.de/">>>Klicken Sie hier<<</a>.</p>
                        <p>Sollten Sie einen mobilen Internetzugang haben oder IPv6 nutzen, so gibt es nur eine Lösung welche bei der neuen HD Serie integriert ist. Alle INSTAR HD Kameras sind mit einer Point-2-Point UserID (P2P UID) versehen, welche den Zugriff über jede Art der Internetverbindung ermöglicht ohne dass man eine Portweiterleitung einrichten muss. Diese Technologie funktioniert auch hinter IPv6 Anschlüssen oder mobilen Internetverbindungen.</p>
                        <p>Ein anderes Problem das Sie nicht auf Ihre Kamera zugreifen können könnte auch die Kindersicherung in der Fritzbox sein. Bitte prüfen Sie ob die Kamera einen Zugriff zum Internet hat indem Sie auf Kindersicherung gehen:</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img on="tap:lightbox7" role="button" tabindex="0" src="/images/PC-Fritzbox-7490de_01.png" width="1000" height="617" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <amp-lightbox id="lightbox7" layout="nodisplay">
                          <div class="lightbox" on="tap:lightbox7.close" tabindex="0" class="centered">
                              <amp-img on="tap:lightbox7.close" role="button" tabindex="0" src="/images/PC-Fritzbox-7490de_01.png" width="1000" height="617" layout="responsive" class="shadow"></amp-img>
                          </div>
                      </amp-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Klicken Sie auf Kindersicherung auf der Startseite oder....</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img on="tap:lightbox8" role="button" tabindex="0" src="/images/PC-Fritzbox-7490de_02.png" width="993" height="526" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <amp-lightbox id="lightbox8" layout="nodisplay">
                          <div class="lightbox" on="tap:lightbox8.close" tabindex="0" class="centered">
                              <amp-img on="tap:lightbox8.close" role="button" tabindex="0" src="/images/PC-Fritzbox-7490de_02.png" width="993" height="526" layout="responsive" class="shadow"></amp-img>
                          </div>
                      </amp-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>...gehen Sie auf Internet/Filter und schauen Sie ob dort irgendwelche Einträge für Ihre Kamera aktiv sind.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img on="tap:lightbox9" role="button" tabindex="0" src="/images/PC-Fritzbox-7490de_03.png" width="994" height="420" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <amp-lightbox id="lightbox9" layout="nodisplay">
                          <div class="lightbox" on="tap:lightbox9.close" tabindex="0" class="centered">
                              <amp-img on="tap:lightbox9.close" role="button" tabindex="0" src="/images/PC-Fritzbox-7490de_03.png" width="994" height="420" layout="responsive" class="shadow"></amp-img>
                          </div>
                      </amp-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Wenn ja, dann klicken Sie bitte auf bearbeiten und stellen Sie diese auf Unbeschränkt.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h2>Mehrere Kameras hinzufügen</h2>
                        <p>Wenn Sie mehrere Kameras nutzen, so müssen Sie eine Portweiterleitung für jede Kamera anlegen. Der Öffentliche Port muss dabei für jedes Gerät unterschiedlich sein da der Router mit diesem identifiziert auf welches Gerät Sie zugreifen möchten. Tragen Sie z.B. für Kamera 1 den öffentlichen Port 8081 ein. Für die zweite Kamera würden Sie dann Port 8082 und für die dritte Port 8083 vergeben usw.</p>
                        <p>Um dann auf eine Kamera zugreifen zu können würden Sie im Webbrowser z.B. eingeben:</p>
                        <ul>
                          <li><strong>Kamera 1</strong>: ab1234.ddns-instar.com:8081</li>
                          <li><strong>Kamera 2</strong>: ab1234.ddns-instar.com:8082</li>
                        </ul>
                        <p>und so weiter...</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p><u><strong>Anmerkung</strong>:</u><br/></br/>  Sie können auf alle Kameras problemlos mit "einer" Internetadresse zugreifen. So benötigen Sie nur die Adresse einer Kamera. Indem Sie einfach den Port dahinter ändern, können Sie so Problemlos zwischen den einzelnen Kameras unterscheiden. Dadurch müssen Sie sich nur eine Internetadresse merken und nicht mehrere.</p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->
            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../_partials/content/_bluenav-ia-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
