<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Internet_Access/Port_Forwarding/D-Link/">
    </head>

    <body class="home">

      <header class="fixed">
          <% include ../_partials/amp/_amp-header.ejs %>
      </header>

        <div class="wrap">
            <div class="content">
                <section class="hero internetAccess">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>Portweiterleitung</h1>
                                    <h3>Einrichten einer Portweiterleitung in einem D-Link Router</h3>
                                    <p class="intro">
                                      Um Ihre Kamera über das Internet zu erreichen, müssen Sie in Ihrem Router eine Portweiterleitung einrichte. Für mehr allgemeine Informationen zum DDNS-Dienst klicken Sie bitte <a href="http://wiki.instar.com/index.php/The_DDNS_Service">HIER</a>.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

        <div class="wrap">
            <div class="container main">
                <nav class="desktop-up">
                          <ul class="margin">
                              <li>
                                  <h2>Einführung</h2>
                              </li>
                              <hr>
                              <li>
                                  <a href="/Products/Outdoor_Cameras/IN-5905_HD/Safety_Warnings">Sicherheitshinweise</a>
                              </li>
                              <li>
                                  <a href="/Products/Outdoor_Cameras/IN-5905_HD/Product_Features">Produkt-Features</a>
                              </li>
                              <li>
                                  <a href="/Products/Outdoor_Cameras/IN-5905_HD/Quick_Installation">Schnellinstallation</a>
                              </li>
                              <li>
                                  <a href="/Products/Outdoor_Cameras/IN-5905_HD/Point2Point">P2P &amp; WPS</a>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series">Weboberfläche</a>
                              </li>
                              <li>
                                  <a href="/Quick_Installation/WebUI_And_Firmware_Upgrade">Software Update</a>
                              </li>
                              <li>
                                  <a href="/Products/Outdoor_Cameras/IN-5905_HD/Video_Streaming">Video Streaming</a>
                              </li>
                              <li>
                                  <a href="/Products/Outdoor_Cameras/IN-5905_HD/Camera_Reset">Reset Ihrer Kamera</a>
                              </li>
                              <li>
                                  <a href="/Products/Outdoor_Cameras/IN-5905_HD/Lense_Adjustment">Linse einstellen</a>
                              </li>
                              <li>
                                  <a href="/Products/Outdoor_Cameras/IN-5905_HD/Technical_Specifications">Technische Spezifikationen</a>
                              </li>
                              <li>
                                  <a href="/Products/Outdoor_Cameras/IN-5905_HD/Warranty">Garantie</a>
                              </li>
                          </ul>
                          <ul class="margin">
                              <li>
                                  <h2>Weboberfläche</h2>
                              </li>
                              <hr>
                              <li>
                                  <h4><a href="/Web_User_Interface/720p_Series/Software/">Software</a></h4>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/Software/Language/">Sprache</a>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/Software/Reboot_Reset/">Neustart &amp; Reset</a>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/Software/Backup/">Backup</a>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/Software/Update/">Update</a>
                              </li>
                              <li>
                                  <h4><a href="/Web_User_Interface/720p_Series/Network/">Netzwerk</a></h4>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/Network/IP_Configuration/">IP Konfiguration</a>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/Network/WiFi/">WiFi</a>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/Network/DDNS/">DDNS</a>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/Network/P2P/">P2P</a>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/Network/UPnP/">UPnP</a>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/Network/Push_Service/">Push Service</a>
                              </li>
                              <li>
                                  <h4><a href="/Web_User_Interface/720p_Series/System/">System</a></h4>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/System/Info/">Info</a>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/System/Date_Time/">Datum &amp; Uhrzeit</a>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/System/User/">Benutzer</a>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/System/Status_LED/">Status LED</a>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/System/IR_LED/">IR LEDs</a>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/System/ONVIF/">ONVIF</a>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/System/PTZ/">PTZ</a>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/System/PTZ_Tour/">PTZ Tour</a>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/System/System_Log/">System Log</a>
                              </li>
                              <li>
                                  <h4><a href="/Web_User_Interface/720p_Series/Multimedia/">Multimedia</a></h4>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/Multimedia/Audio/">Audio</a>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/Multimedia/Video/">Video</a>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/Multimedia/Image/">Bild</a>
                              </li>
                              <li>
                                  <h4><a href="/Web_User_Interface/720p_Series/Alarm/">Alarm</a></h4>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/Alarm/Areas/">Bereiche</a>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/Alarm/Privacy_Mask/">Privatsphäre</a>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/Alarm/Actions/">Aktionen</a>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/Alarm/Schedule/">Zeitplan</a>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/Alarm/SMTP_Server/">SMTP Server</a>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/Alarm/Email/">Email</a>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/Alarm/FTP/">FTP</a>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/Alarm/Audio_Alarm/">Audio Alarm</a>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/Alarm/SD_Card/">SD Karte</a>
                              </li>
                              <li>
                                  <h4><a href="/Web_User_Interface/720p_Series/Recording/">Aufnahme</a></h4>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/Recording/Schedule/">Audio</a>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/Recording/Video/">Video</a>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/Recording/Photoseries/">Bild</a>
                              </li>
                              <li>
                                  <h4><a href="/Web_User_Interface/720p_Series/Menu_Bar/">Menüleiste</a></h4>
                              </li>
                              <li>
                                  <h4><a href="/Web_User_Interface/720p_Series/Video_Menu_Bar/">Video Menüleiste</a></h4>
                              </li>
                              <li>
                                  <h4><a href="/Web_User_Interface/720p_Series/PTZ_Control/">PTZ Controls</a></h4>
                              </li>
                          </ul>
                          <ul class="margin">
                              <li>
                                  <h2>InstarVision Software</h2>
                              </li>
                              <hr>
                              <li>
                                  <a href="/Products/Software/Windows/InstarVision">Windows</a>
                              </li>
                              <li>
                                  <a href="/Products/Software/Windows/InstarVision_Metro">Metro Tile App</a>
                              </li>
                              <li>
                                  <a href="/Products/Software/Windows/InstarVision_Windows-Phone">Windows Phone</a>
                              </li>
                              <li>
                                  <a href="/Products/Software/Android/InstarVision">Android App</a>
                              </li>
                              <li>
                                  <a href="/Products/Software/iOS/InstarVision">iOS App</a>
                              </li>
                          </ul>
                          <ul class="margin">
                              <li>
                                  <h2>Drittanbieter Software</h2>
                              </li>
                              <hr>
                              <li>
                                  <a href="/Products/Software/Windows/InstarVision">Windows</a>
                              </li>
                              <li>
                                  <a href="/Products/Software/Windows/InstarVision_Metro">macOS</a>
                              </li>
                              <li>
                                  <a href="/Products/Software/Android/InstarVision">Android App</a>
                              </li>
                              <li>
                                  <a href="/Products/Software/iOS/InstarVision">iOS App</a>
                              </li>
                              <li>
                                  <a href="/Products/Software/Windows/InstarVision_Windows-Phone">Andere</a>
                              </li>
                          </ul>
                      </nav>

                <article>
                    <!-- article -->

                    <div class="margin">
                        <h3>Schritt 1</h3>
                        <p>Um die Weboberfläche Ihres Routers zu erreichen, geben Sie bitte in der Adressleiste Ihres Browsers folgendes ein: <a href="http://192.168.0.1">192.168.0.1</a>. Der Standard-Login ist Benutzername = admin und kein Passwort. Navigieren Sie zu <em>Portweiterleitung</em> im <em>Erweitert</em> Menü (siehe unten).</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img on="tap:lightbox1" role="button" tabindex="0" src="/images/Dlink_01en.jpg" width="480" height="311" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <amp-lightbox id="lightbox1" layout="nodisplay">
                          <div class="lightbox" on="tap:lightbox1.close" tabindex="0" class="centered">
                              <amp-img on="tap:lightbox1.close" role="button" tabindex="0" src="/images/Dlink_01en.jpg" width="480" height="311" layout="responsive" class="shadow"></amp-img>
                          </div>
                      </amp-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Gehen Sie zu Erweiter/Portweiterleitung, um eine neue Portweiterleitung für Ihre Kamera einzurichten.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Schritt 2</h3>
                        <p>Setzen Sie links den Hacken vor der Regel die Sie nutzen möchten und wählen Sie einen Namen. Geben Sie darunter die IP Adresse der Kamera in das Feld "IP-Adresse" ein. Die IP Adresse der Kamera ist die, die Ihnen das IP Camera Tool anzeigt. Das Protokoll auf muß man auf TCP setzen und sowohl den Öffentlichen als auch den Privaten Port auf den Kameraport legen. Der Standardport der Kamera ist der Port 80. Klicken Sie anschließend auf "Einstellungen speichern" um die Regel anzulegen.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img on="tap:lightbox2" role="button" tabindex="0" src="/images/Dlink_02en.jpg" width="480" height="223" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <amp-lightbox id="lightbox2" layout="nodisplay">
                          <div class="lightbox" on="tap:lightbox2.close" tabindex="0" class="centered">
                              <amp-img on="tap:lightbox2.close" role="button" tabindex="0" src="/images/Dlink_02en.jpg" width="480" height="223" layout="responsive" class="shadow"></amp-img>
                          </div>
                      </amp-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Setzen Sie den Haken um die Portweiterleitung zu aktivieren und tragen Sie einen Namen, die IP der Kamera sowie den öffentlichen und privaten Port ein. Wählen Sie anschließend das Protokoll "TCP".</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Schritt 3</h3>
                        <p>Die Kamera ist jetzt über die ddns Adresse, die Sie unter System/Info in der Weboberfläche der Kamera nachsehen können, aus dem Internet erreichbar. Sollten Sie die Kamera erst kurz im Betrieb haben kann es sein das der Zugriff nicht auf anhieb erfolgreich ist. Geben Sie der Kamera daher einfach etwas Zeit den DNS Eintrag zu tätigen. Sollte es danach immer noch nicht funktionieren kann es sein das der Port 80 in Ihrem Netzwerk durch einen anderen Service belegt ist. In diesem Fall ändern Sie einfach den http Port in der Weboberfläche der Kamera (unter Netzwerk/IP Konfiguration) und passen die Portweiterleitung in Ihrem Router entsprechend an. Erfahrungsgemäß hat man mit dem Port 85 keine Probleme.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img on="tap:lightbox3" role="button" tabindex="0" src="/images/Speedport_02en.jpg" width="480" height="169" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <amp-lightbox id="lightbox3" layout="nodisplay">
                          <div class="lightbox" on="tap:lightbox3.close" tabindex="0" class="centered">
                              <amp-img on="tap:lightbox3.close" role="button" tabindex="0" src="/images/Speedport_02en.jpg" width="480" height="169" layout="responsive" class="shadow"></amp-img>
                          </div>
                      </amp-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Nutzen Sie die eindeutige DDNS Adresse Ihrer Kamera die Sie unter "Netzwerk - DDNS" in der Weboberfläche Ihrer Kamera finden um über das Internet auf Ihre Kamera zuzugreifen.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h2>Mehrere Kameras</h2>
                        <p>Sollten Sie noch eine zweite Kamera einrichten so müssen Sie für diese eine neue Portweiterleitung einrichten. Bitte beachten Sie hier das sich der öffentliche Port unterscheiden muss. Wir empfehlen diesen um 1 zu erhöhen. Wenn Ihre erste Kamera zum Beispiel den öffentlichen Port 80 hat dann würde Ihre zweite Kamera den Port 81 bekommen.</p>
                        <p>Dadurch würden Sie dann die Kameras wie folgt aufrufen:</p>
                        <ul>
                          <li><strong>Kamera 1</strong>: ab1234.ddns-instar.com:8081</li>
                          <li><strong>Kamera 2</strong>: ab1234.ddns-instar.com:8082</li>
                        </ul>
                        <p>und so weiter...</p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->
            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <section class="blade blog mobile-down">

            <div class="container wider">
                <div class="row">
                    <div class="twelve columns">
                        <h1>Verwandte Themen:</h1>
                    </div>
                </div>

                <div class="tab-container">

                    <a class="tab" href="/Internet_Access/Port_Forwarding">
                        <h3>Portweiterleitung</h3>
                        <div class="subtitle">Mittel</div>
                    </a>

                    <a class="tab" href="/Internet_Access/Port_Forwarding_AVM_Fritzbox">
                        <h3>Portweiterleitung in einer Fritzbox einrichten</h3>
                        <div class="subtitle">Mittel</div>
                    </a>

                    <a class="tab" href="/Internet_Access/Port_Forwarding_Netgear">
                        <h3>Portweiterleitung in einem Netgear einrichten</h3>
                        <div class="subtitle">Mittel</div>
                    </a>

                    <a class="tab" href="/Internet_Access/Port_Forwarding_Pirelli">
                        <h3>Portweiterleitung in einem Pirelli einrichten</h3>
                        <div class="subtitle">Mittel</div>
                    </a>

                    <a class="tab" href="/Internet_Access/Port_Forwarding_Telekom_Speedport">
                        <h3>Portweiterleitung in einem Telekom Speedport einrichten</h3>
                        <div class="subtitle">Mittel</div>
                    </a>

                    <a class="tab" href="/Internet_Access/Port_Forwarding_Vodafone_Easybox">
                        <h3>Portweiterleitung in einer Vodafone Easybox einrichten</h3>
                        <div class="subtitle">Mittel</div>
                    </a>

                </div>

                <a href="/Quick_Installation/" target="_blank">Mehr ansehen</a>

            </div>
        </section>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
