<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Internet_Access/Port_Forwarding/Telekom_Speedport/">
    </head>

    <body class="home">

      <header class="fixed">
          <% include ../_partials/amp/_amp-header.ejs %>
      </header>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero internetAccess">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>Portweiterleitung</h1>
                                    <h3>Einrichten einer Portweiterleitung in einem Telekom Speedport</h3>
                                    <p class="intro">
                                     Um Ihre Kamera über das Internet zu erreichen, müssen Sie in Ihrem Router eine Portweiterleitung einrichte. Für mehr allgemeine Informationen zum DDNS-Dienst klicken Sie bitte <a href="http://wiki.instar.com/index.php/The_DDNS_Service">HIER</a>.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

        <div class="wrap">
            <div class="container main">
                <% include ../_partials/content/_bluenav-ia.ejs %>

                <article>
                    <!-- article -->

                    <div class="margin">
                        <h3>Telekom Speedport (300er, 500er und 700er Serie)</h3>
                        <p>Gehen Sie im Speedport (http://192.168.2.1) auf Netzwerk und dann auf NAT & Portregeln. Wenn Sie jetzt einen W500V Speedport haben, dann stellen Sie sicher, dass Sie ein Neues Gerät hinzufügen unter den NAT & Portregeln. Hierfür ist es nötig, dass Sie die MAC Adresse Ihrer IP Kamera kennen. Diese können Sie überprüfen, indem Sie in Windows auf "Start" gehen, dann auf "Programme" - "Zubehör" und dort auf "Eingabeaufforderung". Es öffnet sich jetzt ein kleiner Dos Modus. Hier geben Sie bitte ein "arp -a". Danach bekommen Sie die IP Adressen zusammen mit der MAC Adresse aufgelistet. Suchen Sie die IP Ihrer Kamera und schreiben Sie sich die entsprechende MAC Adresse ab. Gehen Sie jetzt zurück in den Speedport und fügen Sie das Gerät hinzu. Bei allen anderen Speedport Routern benötigen Sie diesen Schritt normalerweise nicht.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img on="tap:lightbox1" role="button" tabindex="0" src="/images/Speedport1.jpg" width="797" height="556" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <amp-lightbox id="lightbox1" layout="nodisplay">
                          <div class="lightbox" on="tap:lightbox1.close" tabindex="0" class="centered">
                              <amp-img on="tap:lightbox1.close" role="button" tabindex="0" src="/images/Speedport1.jpg" width="797" height="556" layout="responsive" class="shadow"></amp-img>
                          </div>
                      </amp-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Gehen Sie auf Netzwerk/NAT und Portregeln um eine neue Portweiterleitung für Ihre Netzwerkkamera einzurichten.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <ul>
                          <li><strong>Auswahl</strong>: Hier wählen Sie bitte nichts aus. Ggbf. kann hier aber "HTTP Server" gewählt werden wenn der Port 80 verwendet wird.</li>
                          <li><strong>Bezeichnung</strong>: Geben Sie hier eine Bezeichnung Ihrer Wahl ein. Zum Beispiel "IP Kamera" oder InstarVision".</li>
                          <li><strong>Gültig für Gerät</strong>: Wählen Sie hier das Gerät bzw. die IP Adresse Ihrer IP Kamera aus. Dies ist die Adresse die Sie nutzen um Ihrer IP Kamera im Browser anzeigen zu lassen. Die IP Adresse startet meist mit 192.168.2.x</li>
                          <li><strong>Umgeleitete Ports - Öffentlich</strong>: Tragen Sie hier 80 ein. Wenn Sie nicht Port 80 verwenden möchten dann müssen Sie später entsprechend hinter Ihre Internetadresse einen ":" schreiben und die Portnummer. z.B. xxx.ddns-instar.com:87 Umgeleitete Ports - Private Client: Tragen Sie hier standardmäßig 80 ein wenn Sie bei InstarVision den Port für den Webserver nicht verändert haben.</li>
                        </ul>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Telekom Speedport (900er Serie)</h3>
                        <p>Sie können auf die Weboberfläche des Speedport Routers zugreifen indem Sie folgende Adresse in die Adresszeile Ihres Browsers eingeben: http://192.168.2.1 . Das Login des Routers auf dem Aufkleber auf der Rückseite des Gerätes. Gehen Sie unter dem Reiter "Internet" auf "Portfreischaltung". Klicken Sie hier bei der "TCP Umleitung" auf "Weitere TCP Umleitung anlegen" und wählen die IP Adresse der Kamera aus dem drop-down Menü aus. Die IP Adresse der Kamera ist die, die Ihnen das IP Camera Tool anzeigt. Tragen Sie in die drei davor liegenden Felder den Kameraport ein. Der Standardport der Kamera ist der Port 80. Klicken Sie anschließend auf "Speichern" um die Regel zu aktivieren.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img on="tap:lightbox2" role="button" tabindex="0" src="/images/Speedport_01en.jpg" width="480" height="335" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <amp-lightbox id="lightbox2" layout="nodisplay">
                          <div class="lightbox" on="tap:lightbox2.close" tabindex="0" class="centered">
                              <amp-img on="tap:lightbox2.close" role="button" tabindex="0" src="/images/Speedport_01en.jpg" width="480" height="335" layout="responsive" class="shadow"></amp-img>
                          </div>
                      </amp-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Gehen Sie auf Internet/Portfreischaltung um eine neue Portweiterleitung für Ihre Netzwerkkamera anzulegen.</p>
                        <p>Die Kamera ist jetzt über die ddns Adresse, die Sie unter System/Info in der Weboberfläche der Kamera nachsehen können, aus dem Internet erreichbar. Sollten Sie die Kamera erst kurz im Betrieb haben kann es sein das der Zugriff nicht auf anhieb erfolgreich ist. Geben Sie der Kamera daher einfach etwas Zeit den DNS Eintrag zu tätigen. Sollte es danach immer noch nicht funktionieren kann es sein das der Port 80 in Ihrem Netzwerk durch einen anderen Service belegt ist. In diesem Fall ändern Sie einfach den http Port in der Weboberfläche der Kamera (unter Netzwerk/IP Konfiguration) und passen die Portweiterleitung in Ihrem Router entsprechend an. Erfahrungsgemäß hat man mit dem Port 85 keine Probleme.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img on="tap:lightbox3" role="button" tabindex="0" src="/images/Speedport_02en.jpg" width="480" height="169" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <amp-lightbox id="lightbox3" layout="nodisplay">
                          <div class="lightbox" on="tap:lightbox3.close" tabindex="0" class="centered">
                              <amp-img on="tap:lightbox3.close" role="button" tabindex="0" src="/images/Speedport_02en.jpg" width="480" height="169" layout="responsive" class="shadow"></amp-img>
                          </div>
                      </amp-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Nutzen Sie die eindeutige DDNS Adresse Ihrer Kamera die Sie unter System/Info in der Weboberfläche Ihrer Kamera finden.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h2>Mehrere Kameras</h2>
                        <p>Sollten Sie noch eine zweite Kamera einrichten so müssen Sie für diese eine neue Portweiterleitung einrichten. Bitte beachten Sie hier das sich der öffentliche Port unterscheiden muss. Wir empfehlen diesen um 1 zu erhöhen. Wenn Ihre erste Kamera zum Beispiel den öffentlichen Port 80 hat dann würde Ihre zweite Kamera den Port 81 bekommen.</p>
                        <p>Dadurch würden Sie dann die Kameras wie folgt aufrufen:</p>
                        <ul>
                          <li><strong>Kamera 1</strong>: ab1234.ddns-instar.com:8081</li>
                          <li><strong>Kamera 2</strong>: ab1234.ddns-instar.com:8082</li>
                        </ul>
                        <p>und so weiter...</p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->
            </div>
            <!-- /container main -->
        </div>

        <!-- /wrap-->

        <!-- /wrap -->


        <% include ../_partials/content/_bluenav-ia-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
