<% include ../_partials/template/_head.ejs %>

    <body>
      <% include ../_partials/template/_outdated.ejs %>

      <div id="wrapper">

        <header><% include ../_partials/template/_header.ejs %></header>
        <!-- Navbar-->

        <div class="clearfix"></div>

    <!-- #############################################  Body ############################################# -->

        <section class="container mb">
            <div class="row mt">

                <div class="col-xs-12 mb">
                    <h1>IN-2905 V2</h1>
                    <h3 class="text-muted">Produktüberblick</h3>
                </div>

                <div class="col-xs-12">
                  <img src="/images/Usermanuals/IN-2905_Overview_width1650.png" alt="IN-2905 Overview" class="img-fluid img-rounded shadow" />
                </div>

                <div class="caption col-xs-12 mb">
                  <p class="text-justify"><strong>1.)</strong> Hochwertiges, wasserfestes Aluminium-Gehäuse, <strong>2.)</strong> Fotodiode für Dämmerungsschaltung, <strong>3.)</strong>  Standard 6mm F/2.0 Infrarot Linse, <strong>4.)</strong> Infrarot LED´s für Nachtsicht, <strong>5.)</strong> UV resistente Polycarbonate Wandhalterung, <strong>6.)</strong> Wifi Antenne, <strong>7.)</strong> RJ45 Ethernet Anschluss, <strong>8.)</strong> Reset Button, <strong>9.)</strong> Alarm In/Out 10.)</strong> Gleichstrom Netzteil Anschluss, <strong>11.)</strong> Audio In für externe Mikrofone, <strong>12.)</strong> Audio Out für externe Lautsprecher</p>
                </div>

                <div class="col-xs-12">
                  <p class="text-justify">Die IN-2905 v2 ist der Nachfolger der bekannten IN-2905. Die Kamera verfügt über einen IR Cut Filter um schöne und klare Bilder bei Nacht darzustellen. Des weiteren finden Sie den Audio Eingang/Ausgang für den IN-Motion 300 und für zusätzliche Lautsprecher oder Mikrofone (z.B. IN-Mikro 380), um die Kamera als ein 2-Wege Kommunikationssystem zu nutzen. Die IN-2905 V2 ist die perfekte Überwachungskamera für private und geschäftliche Zwecke. Das Gehäuse aus hochwertigem Aluminium kann im Außenbereich installiert werden und dank der kompakten Größe auch innerhalb des Büros oder Hauses ohne sofort gesehen zu werden. Die robuste Konstruktion der Kamera garantiert maximale Haltbarkeit und Schutz vor dem Wetter bei Außenbetrieb.</p>
                  <p class="text-justify">Die Kamera kann mit Ihrem 54MBit oder 100 Mbit (802.11b/g) Wifi Modul einfach zu Ihrem Netzwerk hinzugefügt werden. Dies wir einen schnellen Videostream Ihrer Kamera sicherstellen.</p>
                  <p class="text-justify">Für Überwachungszwecke ist die IN-2905 v2 fertig zur Integration in Ihr bestehendes System. Heimautomationssysteme, als auch NAS Systeme wie Synology oder Knapp haben unsere Kameras in Ihre Produkte integriert. Sie finden Profile zu den passenden Kameras in der Systemsoftware. Aber auch als ein eigenständiges Gerät bietet Ihnen die Kamera eine Vielzahl von Alarm Funktionen wie Email Benachrichtigung oder Kompatibilität mit Alarmgeräten.</p>
                </div>
            </div>
            <!-- /row -->

            <div class="row mt">

    <!-- #############################################  Card ############################################# -->

          <div class="col-xs-12 col-sm-12 col-md-4" style="margin: 0 0 30px 0;">
            <div class="card shadow centered">
                <div class="card-block centered">
                  <h4 class="card-title">INSTAR IN-2905 V2</h4>
                  <h6 class="card-subtitle text-muted">IP Außenkamera</h6>
                </div>
                <div class="center-block">
                  <img src="/images/Usermanuals/INSTAR_IN-2905_Infobox.png" alt="IN-2905 V2" class="img-fluid">
                </div>
                <div class="card-block centered mt">
                  <a href="/Outdoor_Cameras/IN-2905_V2/Technical_Specifications" class="btn btn-outline-primary btn-block"><i class="fa fa-cogs"></i>Spezifikationen</a>
                    <a href="/Downloads/Outdoor_Cameras/IN-2905_V2" class="btn btn-outline-primary btn-block"><i class="fa fa-download"></i>Downloads</a>
                  <a href="http://www.instar.de/outdoor-table" class="btn btn-outline-primary btn-block"><i class="fa fa-balance-scale"></i>Vergleichen</a>
                  <a href="http://www.instar.de/ip-aussenkameras/ip-kamera-in-2905-serie.html" class="btn btn-outline-primary btn-block"><i class="fa fa-shopping-cart"></i>Zum Shop</a>
                </div>
            </div>
          </div>

    <!-- #############################################  LIST ############################################# -->

            <div class="col-xs-12 col-sm-12 col-md-7 col-md-offset-1">
              <h3>Hardware</h3>

              <ul>
                <li>Nachtsicht mit 24 Infrarot LED´s @ 850nm (für das menschliche Auge kaum sichtbar) für Entfernungen von 12 - 15m</li>
                <li>Sehr kompaktes hochwertiges IP65 wetterfestes Aluminiumgehäuse</li>
                <li>Alarm I/O für externe Sensoren (z.B. <a href="/Products/IN-Motion">Bewegungs-</a> oder Rauchmelder) und Empfänger (z.B. Hausautomation)</li>
              </ul>

              <h3>Netzwerk</h3>

              <ul>
                <li>RJ-45 Ethernet Steckplatz für eine einfache Integration in Ihr 100Mbit Heimnetzwerk</li>
                <li>Kompatibel mit <a href="/Quick_Installation/Set_Up_A_Wireless_Connection">Wifi</a> IEEE 802.11 b/g bis zu 54Mbit Netzwerken mit WEP, WPA und WPA2 Sicherheit</li>
                <li>DHCP und UPnP Unterstützung für eine automatische Netzwerkintegration</li>
                <li>Integrieren der individuellen <a href="/Internet_Access/The_DDNS_Service">DDNS ("Internet") Adresse</a> um Ihre Kamera über das Internet zu erreichen.</li>
              </ul>

              <h3>Software</h3>

              <ul>
                <li>Kostenlose <a href="/Software/Android">Android</a>, <a href="/Software/iOS">iPhone</a> und <a href="/Software/Windows">Windows Phone 8</a> App</li>
                <li>Die Weboberfläche erlaubt eine einfache Konfiguration und Kamerasteuerung über Ihren Webbrowser (Chrome, Safari, Firefox, Internet Explorer)</li>
                <li>Verwalten Sie all Ihre Kameras von Ihrem PC mit dem integrierten Multiview für bis zu 9 Kameras (nur IE)</li>
                <li>Softwarebasierte Bewegungs- und Audioerkennung und Email Benachrichtigung mit angehängten Snapshots</li>
                <li>Nehmen Sie Videos direkt von Ihrem PC auf (nur ActiveX)</li>
              </ul>
            </div>

      </div>
          <!-- /row -->

          <div class="clearfix" style="margin-bottom: 30px;"></div>

        </section>
        <!-- /container -->

        <section class="instarvision"><% include ../_partials/content/_instarvision.ejs %></section>
        <!-- /webui -->

        <section class="social"><% include ../_partials/template/_social.ejs %></section>
        <!-- /social -->

        <!-- ############################################# Footer ############################################# -->

        <footer><% include ../_partials/template/_footer.ejs %></footer>

        <% include ../_partials/template/_jsdefaults.ejs %>

        </div>

    </body>

</html>
