<% include ../_partials/template/_head.ejs %>

    <body>
      <% include ../_partials/template/_outdated.ejs %>

      <div id="wrapper">

        <header><% include ../_partials/template/_header.ejs %></header>
        <!-- Navbar-->

        <div class="clearfix"></div>

    <!-- #############################################  Body ############################################# -->

        <section class="container mb">
            <div class="row mt">

                <div class="col-xs-12 mb">
                    <h1>IN-4011</h1>
                    <h3 class="text-muted">Produkt Übersicht</h3>
                </div>

                <div class="col-xs-12">
                  <img src="/images/Usermanuals/IN-4011_Overview_width1650.png" alt="IN-4011 Overview" class="img-fluid img-rounded shadow" />
                </div>

                <div class="caption col-xs-12 mb">
                  <p class="text-justify">
                    <strong>1.)</strong> Wiifi Antenne, <strong>2.)</strong> Metallene Wandhalterung, <strong>3.)</strong> Hochwertiges Aluminium Gehäuse, <strong>4.)</strong> 66 Infrarot LEDs, <strong>5.)</strong> Ferngesteuerter Kamerakopf, <strong>6.)</strong> Plexiglas-Kuppel <strong>7.)</strong> DC Netzteilanschluss, <strong>8.)</strong> Alarm I/O Anschluss für externe Geräte, <strong>9.)</strong> Audio Ausgang für externe Lautsprecher, <strong>10.)</strong> RJ45 Netzwerkanschluss, <strong>11.)</strong> Audio In für externe Mikrophone, <strong>12.)</strong> Reset-Knopf, <strong>13.)</strong> Standard 3.7 - 14.8 mm Infrarot Zoom-Linse
                  </p>
                </div>

                <div class="col-xs-12">
                  <p class="text-justify">Die IN-4011 ist eine Domkamera für den Eingangsbereich und erfasst dank ihres Dreh- und Schwenkmotors die gesamte Umgebung. Die Ausrichtung des Objektivs können Sie mit Hilfe der WebUI oder eines Smartphones mühelos verändern. 66 Infrarot LEDs für den Nahbereich helfen Ihnen dabei auch nachts ohne sichtbares Licht einen Blick auf Ihr Grundstück zu werfen.</p>
                  <p class="text-justify">Ein klares Bild garantiert Ihnen hierbei der 4-fach optische Zoom, der im Gegensatz zu konventioneller Bildvergrößerung keinen Qualitätsverlust mit sich bringt. Die IN-4011 kommt inklusive eines aktiven Mikrofons, mit dessen Hilfe Sie die Umgebungsgeräusche mit einfangen, einen auf Geräusche reagierenden Alarm oder eine 2-wege Kommunikation realisieren können. Der in der Kamera verbaute automatische IR Cut Filter garantiert Ihnen naturgetreue Farben während des Tages ohne die Nachtsichtfähigekeit der Kamera zu beeinflussen. </p>
                </div>
            </div>
            <!-- /row -->

            <div class="row mt">

    <!-- #############################################  Card ############################################# -->

          <div class="col-xs-12 col-sm-12 col-md-4" style="margin: 0 0 30px 0;">
            <div class="card shadow centered">
                <div class="card-block centered">
                  <h4 class="card-title">INSTAR IN-4011</h4>
                  <h6 class="card-subtitle text-muted">Outdoor IP Kamera</h6>
                </div>
                <div class="center-block">
                  <img src="/images/Usermanuals/INSTAR_IN-4011_Infobox.png" alt="IN-4011 HD" class="img-fluid">
                </div>
                <div class="card-block centered mt">
                  <a href="/Outdoor_Cameras/IN-4011/Technical_Specifications" class="btn btn-outline-primary btn-block"><i class="fa fa-cogs"></i>  Spezifikationen</a>
                    <a href="/Downloads/Outdoor_Cameras/IN-4011" class="btn btn-outline-primary btn-block"><i class="fa fa-download"></i>  Downloads</a>
                  <a href="http://www.instar.de/outdoor-table" class="btn btn-outline-primary btn-block"><i class="fa fa-balance-scale"></i>  Compare</a>
                  <a href="http://www.instar.de/ip-aussenkameras/in-4011-series.html" class="btn btn-outline-primary btn-block"><i class="fa fa-shopping-cart"></i>  Go to Shop</a>
                </div>
            </div>
          </div>

    <!-- #############################################  LIST ############################################# -->

            <div class="col-xs-12 col-sm-12 col-md-7 col-md-offset-1">
              <h3>Hardware</h3>

              <ul>
                <li>Ferngesteuertes Schwenken&amp;Neigen - 288° schwenkbar und 120° neigbar</li>
                <li>Sehr kompaktes hochwertiges IP65 wetterfestes Aluminiumgehäuse</li>
                <li>Alarm I/O für externe Sensoren (z.B. <a href="/Products/IN-Motion">Bewegungserkennung</a> oder Rauchmelder) und Empfänger (z.B. Hausautomationen)</li>
                <li>66 Infrared LEDs @ 850nm for night vision</li>
              </ul>

              <h3>Network</h3>

              <ul>
                <li>RJ-45 Ethernet Steckplatz für eine einfache Integration in Ihr 100Mbit Heimnetzwerk</li>
                <li>Kompatibel mit <a href="/Quick_Installation/Set_Up_A_Wireless_Connection">Wifi</a> IEEE 802.11 b/g bis zu 54Mbit Netzwerken mit WEP, WPA und WPA2 Sicherheit</li>
                <li>DHCP und UPnP Unterstützung für eine automatische Netzwerkintegration</li>
                <li>Integrieren der individuellen <a href="/Internet_Access/The_DDNS_Service">DDNS ("Internet") Adresse</a> um Ihre Kamera über das Internet zu erreichen.</li>
              </ul>

              <h3>Software</h3>

              <ul>
                <li>Kostenlose <a href="/Software/Android">Android</a>, <a href="/Software/iOS">iPhone</a> und <a href="/Software/Windows">Windows Phone 8</a> App</li>
                <li>Die Weboberfläche erlaubt eine einfache Konfiguration und Kamerasteuerung über Ihren Webbrowser (Chrome, Safari, Firefox, Internet Explorer)</li>
                <li>Verwalten Sie all Ihre Kameras von Ihrem PC mit dem integrierten Multiview für bis zu 9 Kameras (nur IE)</li>
                <li>Softwarebasierte Bewegungs- und Audioerkennung und Email Benachrichtigung mit angehängten Snapshots</li>
                <li>Nehmen Sie Videos direkt von Ihrem PC auf (nur ActiveX)</li>
              </ul>
            </div>

      </div>
          <!-- /row -->

          <div class="clearfix" style="margin-bottom: 30px;"></div>

        </section>
        <!-- /container -->

        <section class="instarvision"><% include ../_partials/content/_instarvision.ejs %></section>
        <!-- /webui -->

        <section class="social"><% include ../_partials/template/_social.ejs %></section>
        <!-- /social -->

        <!-- ############################################# Footer ############################################# -->

        <footer><% include ../_partials/template/_footer.ejs %></footer>

        <% include ../_partials/template/_jsdefaults.ejs %>

        </div>

    </body>

</html>
