<!DOCTYPE html>
<html ⚡>

<head>
    <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Outdoor_Cameras/IN-5907_HD/Point2Point">
</head>

<body class="home">

  <header class="fixed">
      <% include ../_partials/amp/_amp-header.ejs %>
  </header>

    <body>

        <div class="wrap">
            <div class="container main">
                <% include ../_partials/content/_bluenav-5907.ejs %>

                <section class="blade get-started">
                    <div class="container">

                        <h1 class="post-title">IN-5907 HD Lense Adjustment</h1>

                        <div class="card-container">
                            <div class="onecard">
                                <div class="image">
                                  <div class="action">
                                    <h3>Manuelle Objektiv-Justage bei Ihrer IN-5907 HD<br><br></h3>
                                    <p class="justify">When you receive your camera, we already adjusted the focus for the camera to be operational in a general surveillance scenario. For your IN-5907 HD this means, that they give you an sharp image for distances between 5 and 10m. If you need a different focus distance, just turn the camera lense clockwise or counterclockwise, until you have your scene in focus.</p>
                                  </div>
                            </div>
                            <!-- /onecard -->
                        </div>
                        <!-- /card-container -->

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Quickinstallation_Lense-Adjust_5907_01.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify"><strong>I.</strong> Entfernen Sie die obere Abdeckung der IN-5907 HD. Halten Sie das Kameragehäuse fest und entfernen Sie die vordere Abdeckung durch drehen gegen den Uhrzeigersinn.</p>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Quickinstallation_Lense-Adjust_5907_02.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify"><strong>II.</strong> Entfernen Sie danach einfach die 3 äußeren Schrauben (nicht die 2 inneren Schrauben).<br><br><br><br></p>
                                </div>
                            </div>
                        </div>
                        <!-- /card-container -->

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Quickinstallation_Lense-Adjust_5907_03.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify"><strong>III.</strong> Ziehen Sie nun vorsichtig das Objektiv und den Sensor aus dem Gehäuse und lösen Sie die seitliche Schraube, die den oberen Part des Objektiv fixiert.<br><br><br><br><br><br></p>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Quickinstallation_Lense-Adjust_5907_04.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify"><strong>IV.</strong> Öffnen Sie die Kamera im WebUI. Während Sie das Bild auf dem PC sehen, drehen Sie am oberen Teil des Objektives (achten Sie darauf, daß sich das ganze Objektiv nicht aus der Fassung löst) bis das Bild die korrekte Schärfe erreicht. Fixieren Sie das Objektiv und setzen Sie die Kamera in umgekehrter Reihenfolge wieder zusammen.</p>
                                </div>
                            </div>
                        </div>
                        <!-- /card-container -->

                        <div class="card-container">
                            <div class="onecard">
                                <div class="image">
                                    <p>
                                        <amp-youtube data-videoid="c136CT0SypU" layout="responsive" width="480" height="270"></amp-youtube>
                                    </p>
                                    <div class="action">
                                        <p>Objektiv-Justage INSTAR IN-5907 HD.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- /onecard -->
                        </div>
                        <!-- /card-container -->

                    </div>
                    <!-- /container -->
                </section>
                <!-- /blade -->
            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <section class="blade blog mobile-down">

            <div class="container wider">
                <div class="row">
                    <div class="twelve columns">
                        <h1>Verwandte Themen</h1>
                    </div>
                </div>

                <div class="tab-container">

                    <a class="tab" href="/Outdoor_Cameras/IN-5907_HD/Safety_Warnings">
                        <h3>Sicherheitswarnungen</h3>
                        <div class="subtitle">Mittel</div>
                    </a>

                    <a class="tab" href="/Outdoor_Cameras/IN-5907_HD/Product_Features">
                        <h3>Produkt Features</h3>
                        <div class="subtitle">Einfach</div>
                    </a>

                    <a class="tab" href="/Outdoor_Cameras/IN-5907_HD/Quick_Installation">
                        <h3>Schnellinstallation</h3>
                        <div class="subtitle">Erweitert</div>
                    </a>

                    <a class="tab" href="/Outdoor_Cameras/IN-5907_HD/Point2Point">
                        <h3>P2P &amp; WPS</h3>
                        <div class="subtitle">Mittel</div>
                    </a>

                    <a class="tab" href="/Web_User_Interface/720p_Series">
                        <h3>Weboberfläche</h3>
                        <div class="subtitle">Einfach</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/WebUI_And_Firmware_Upgrade">
                        <h3>Software Update</h3>
                        <div class="subtitle">Einfach</div>
                    </a>

                    <a class="tab" href="/Outdoor_Cameras/IN-5907_HD/Video_Streaming">
                        <h3>Video Streaming</h3>
                        <div class="subtitle">Einfach</div>
                    </a>

                    <a class="tab" href="/Outdoor_Cameras/IN-5907_HD/Camera_Reset">
                        <h3>Kamera Reset</h3>
                        <div class="subtitle">Einfach</div>
                    </a>

                    <a class="tab" href="/Outdoor_Cameras/IN-5907_HD/Lense_Adjustment">
                        <h3>Linse einstellen</h3>
                        <div class="subtitle">Einfach</div>
                    </a>

                    <a class="tab" href="/Outdoor_Cameras/IN-5907_HD/Technical_Specifications">
                        <h3>Technische Spezifikationen</h3>
                        <div class="subtitle">Einfach</div>
                    </a>

                    <a class="tab" href="/Outdoor_Cameras/IN-5907_HD/Warranty">
                        <h3>Garantie &amp; Rückgabe</h3>
                        <div class="subtitle">Einfach</div>
                    </a>
                </div>

                <a href="/Products/Usermanuals" target="_blank">MEHR ANSEHEN</a>

            </div>
        </section>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>

    </body>

</html>
