<!DOCTYPE html>
<html ⚡ lang="de">

<head>
    <% include ../_partials/amp/_amp-head.ejs %>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <script async custom-element="amp-lightbox" src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js"></script>
</head>

<body class="home">

  <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
      <% include ../_partials/amp/_ampLandingSidebar.ejs %>
  </amp-sidebar>

  <header class="header fixed">
    <% include ../_partials/amp/_amp-header.ejs %>
  </header>

  <div class="wrap">
      <div class="container main">

        <% include ../_partials/content/_bluenav-usermanual.ejs %>

                <section itemscope itemtype="http://schema.org/Article" class="blade wrapper content">
                  <% include ../_partials/amp/_schemaArticle.ejs %>

                    <div class="container">

                        <h2 itemprop="name" class="post-title">IN-5905 HD Technische Spezifikationen</h2>

                        <table class="margin">
                          <thead>
                              <tr>
                                <th><strong>Kamera Modell</strong></th>
                                <th><strong>INSTAR IN-5905 HD Außen - Farbe / IR</strong></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">Gehäuse</th>
                                <td>Aluminium (Weiß, Schwarz)</td>
                              </tr>
                              <tr>
                                <th scope="row">IP Schutzklasse</th>
                                <td>IP65 (staubdicht / wasserabweisend)</td>
                              </tr>
                              <tr>
                                <th scope="row">Bildsensor</th>
                                <td><a href="http://www.ovt.com/products/sensor.php?id=110%20OV10633">OV10633</a> 720p 1/3" CMOS <em>Große dynamische Reichweite</em></td>
                              </tr>
                              <tr>
                                <th scope="row">Unterstützte Auflösungen</th>
                                <td>1280 x 720, 640 x 352, 320 x 176</td>
                              </tr>
                              <tr>
                                <th scope="row">Video Kompression</th>
                                <td>h.264, MJPEG, JPG</td>
                              </tr>
                              <tr>
                                <th scope="row">h.264 Bitrate</th>
                                <td>90 kbps - 6.144 kbps</td>
                              </tr>
                              <tr>
                                <th scope="row">Framerate</th>
                                <td>bis zu 25fps</td>
                              </tr>
                              <tr>
                                <th scope="row">Sensor Sensibilität</th>
                                <td>3650 mV/lux*s</td>
                              </tr>
                              <tr>
                                <th scope="row">Dynamikbereich</th>
                                <td>115 dB</td>
                              </tr>
                              <tr>
                                <th scope="row">Signal/Geräusch</th>
                                <td>39 dB</td>
                              </tr>
                              <tr>
                                  <th scope="row">Sensorfläche</th>
                                  <td>5510.4 x 3418.8 µm</td>
                              </tr>
                              <tr>
                                <th scope="row">Tag / Nacht Wechsel</th>
                                <td>Ja</td>
                              </tr>
                              <tr>
                                <th scope="row">Min. Beleuchtung (Farbe)</th>
                                <td>0.05 Lux @ f/2.0</td>
                              </tr>
                              <tr>
                                <th scope="row">Min. Beleuchtung (IR)</th>
                                <td>0 Lux @ f/2.0</td>
                              </tr>
                              <tr>
                                <th scope="row"># an parallelen Streams</th>
                                <td>3</td>
                              </tr>
                              <tr>
                                <th scope="row">Weißausgleich</th>
                                <td>Automatisch</td>
                              </tr>
                              <tr>
                                <th scope="row">Elektronische Blende</th>
                                <td>Automatisch</td>
                              </tr>
                              <tr>
                                <th scope="row">Video Drehen / Spiegeln</th>
                                <td>Ja / Ja</td>
                              </tr>
                              <tr>
                                <th scope="row">Video Oberfläche</th>
                                <td>Datum, Uhrzeit, Kamera Name</td>
                              </tr>
                              <tr>
                                <th scope="row">Video Parameter</th>
                                <td>Helligkeit, Kontrast, Saturation</td>
                              </tr>
                              <tr>
                                <th scope="row">Linse</th>
                                <td>4.0 mm (Manueller Fokus) f/2</td>
                              </tr>
                              <tr>
                                <th scope="row">Blickwinkel</th>
                                <td>78.1° dia.</td>
                              </tr>
                              <tr>
                                <th scope="row">Infrarot LEDs</th>
                                <td>5 High-Power @ 850 nm</td>
                              </tr>
                              <tr>
                                <th scope="row">Effektive Reichweite (IR)</th>
                                <td>12-20 m</td>
                              </tr>
                              <tr>
                                <th scope="row">intgr. IRcut Filter</th>
                                <td>Ja</td>
                              </tr>
                              <tr>
                                <td><strong>Alarm I/O</strong></td>
                                <td>Ja (potentialfreier Alarm-Ausgang / max. 30VDC/125VAC @ 1A)<br><br>
                                    <button on="tap:relay-specifications" class="btn btnSmall">Specifikationen</button>
                                </td>
                              </tr>
                              <tr>
                                <th scope="row">Optischer Zoom</th>
                                <td>No</td>
                              </tr>
                              <tr>
                                <th scope="row">Digitaler Zoom</th>
                                <td>3 x (only ActiveX)</td>
                              </tr>
                              <tr>
                                <th scope="row">SD Card</th>
                                <td>Removable microSDHC card bis zu 32GB (8GB included)<br><br>
                                <a href="https://www.instar.de/tools/calc_sdcapacity" target="_blank"><button class="btn btnSmall">SD Karten Rechner</button></a></td>
                              </tr>
                              <tr>
                                <th scope="row">Audio</th>
                                <td>Audio Out (Cinch)</td>
                              </tr>
                              <tr>
                                <th scope="row">Mikrofon</th>
                                <td>Audio In für external Mikrofons (e.g. <a href="/Products/IN-Mikro">IN-Mikro 380</a>)</td>
                              </tr>
                              <tr>
                                <th scope="row">Alarmbenachrichtigung</th>
                                <td>Email/FTP/HTTP/Alarm-out</td>
                              </tr>
                              <tr>
                                <th scope="row">Unterstützte Browser</th>
                                <td>Chrome, Safari, Firefox, Internet Explorer</td>
                              </tr>
                              <tr>
                                <th scope="row">Unterstützte Windows Software</th>
                                <td>InstarVision, Sighthound, WebcamXP, iSpy, VLC Player, etc.</td>
                              </tr>
                              <tr>
                                <th scope="row">Unterstützte MacOSX Software</th>
                                <td>Sighthound, SecuritySpy, VLC Player, etc.</td>
                              </tr>
                              <tr>
                                <th scope="row">Unterstützte Android Apps</th>
                                <td>InstarVision, IP Cam Viewer, Tiny Cam Monitor etc.</td>
                              </tr>
                              <tr>
                                <th scope="row">Unterstützte iOS Apps</th>
                                <td>InstarVision, LiveCams</td>
                              </tr>
                              <tr>
                                <th scope="row">Unterstützte Windows Phone Apps</th>
                                <td>InstarVision</td>
                              </tr>
                              <tr>
                                <th scope="row">Netzwerkschnittstelle</th>
                                <td>10Base-T/100Base-TX Ethernet Port / WLAN IEEE 802.11b/g/n</td>
                              </tr>
                              <tr>
                                <th scope="row">Netzwerkprotokolle</th>
                                <td>TCP/IP, DHCP, PPPoE, ARP, FTP, SMTP, DNS, NTP, UPnP, HTTP, TCP, UDP</td>
                              </tr>
                              <tr>
                                <th scope="row">Verschlüsselung</th>
                                <td>WEP (64/128bit), WPA/WPA2-PSK (TKIP, AES, CCMP)</td>
                              </tr>
                              <tr>
                                <th scope="row">WLAN Frequenzen</th>
                                <td>2.4GHz 802.11b/g/n</td>
                              </tr>
                              <tr>
                                <th scope="row">Wifi Antenne</th>
                                <td>3 dBi WLAN <a href="/Products/SMA_RP-SMA_Antenna_Connector">SMA Antenne</a></td>
                              </tr>
                              <tr>
                                <th scope="row">Zugangsbeschränkung</th>
                                <td>Benutzername/Passwort - 3 Level Authorisierung</td>
                              </tr>
                              <tr>
                                <th scope="row">Netzteil</th>
                                <td>110-240V ac @ 50-60Hz to 12V dc and 2000mA</td>
                              </tr>
                              <tr>
                                <th scope="row">Netzstecker</th>
                                <td>2.1mm In / 5.5mm Out</td>
                              </tr>
                              <tr>
                                <th scope="row">Stromverbrauch</th>
                                <td>Max. 7.0 W</td>
                              </tr>
                              <tr>
                                <th scope="row">Integr. DDNS Service</th>
                                <td>Ja</td>
                              </tr>
                              <tr>
                                <th scope="row">Schwenken &amp; Neigen</th>
                                <td>No</td>
                              </tr>
                              <tr>
                                <th scope="row">Abmessungen in [cm]</th>
                                <td>8.7 / 8 / 26.3</td>
                              </tr>
                              <tr>
                                <th scope="row">Gewicht</th>
                                <td>930g</td>
                              </tr>
                              <tr>
                                <th scope="row">Betriebstemperatur</th>
                                <td>-5°C - 55°C</td>
                              </tr>
                              <tr>
                                <th scope="row">Zertifizierungen</th>
                                <td>CE, FCC, RoHS</td>
                              </tr>
                            </tbody>
                        </table>

                        </div>
                        <!-- /container -->
                </section>
                <!-- /blade -->

                <!-- ################### Lightboxes ###################### -->

                <amp-lightbox id="relay-specifications" layout="nodisplay">
                  <div class="lightbox">
                    <div class="card-container">
                      <div class="onecard padding">
                        <div class="image">
                            <amp-img noloading height=469 width=530 layout=fixed src="/images/Usermanuals/HD_Camera_Alarm_Relay.png"></amp-img>
                        </div>
                        <div class="action">
                          <table class="twelve columns no-highlight">
                            <tr>
                              <td>
                                <h3 class="inlineHeader">Specification Sheet Alarm Relay (HD Cameras)&nbsp;&nbsp;&nbsp;</h3>
                              </td>
                              <td class="align-right">
                                <button class="navGo navGoRed" on="tap:relay-specifications.close">Close</button>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </amp-lightbox>

            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../_partials/content/_bluenav-usermanual-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>

    </body>

</html>
