<!DOCTYPE html>
<html ⚡ lang="de">

<head>
    <% include ../_partials/amp/_amp-head.ejs %>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
</head>

<body class="home">

  <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
      <% include ../_partials/amp/_ampLandingSidebar.ejs %>
  </amp-sidebar>

  <header class="header fixed">
    <% include ../_partials/amp/_amp-header.ejs %>
  </header>

  <div class="wrap">
      <div class="container main">

        <% include ../_partials/content/_bluenav-usermanual.ejs %>

                <section itemscope itemtype="http://schema.org/Article" class="blade wrapper content">
                  <% include ../_partials/amp/_schemaArticle.ejs %>

                    <div class="container">

                        <div>
                          <table class="no-highlight">
                            <tr>
                              <td>
                                <h1 itemprop="name" class="inlineHeader">IN-5905 HD Schnellinstallation&nbsp;&nbsp;&nbsp;</h1>
                              </td>
                              <td>
                                <a href="/Outdoor_Cameras/IN-5905_HD/Point2Point/" target="_blank"><button class="navGo navGoRed">Abkürzung</button></a>
                              </td>
                            </tr>
                          </table>
                        </div>
                        <!-- /margin -->

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Usermanuals/Quickinstallation_IN-5905_01.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">Schrauben Sie die WLAN Antenne auf den SMA Anschluß im hinteren Teil der Kamera um später eine WLAN Verbindung aufbauen zu können.</p>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Usermanuals/Quickinstallation_IN-5905_02.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">Stecken Sie das Kabel des Netzteils in den DC Anschluß am Kabelbaum der Kamera, um diese mit Strom zu versorgen.<br><br></p>
                                </div>
                            </div>
                        </div>
                        <!-- /card-container -->

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Usermanuals/Quickinstallation_03.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">In Ihrem WLAN Router ist es empfohlen einen Kanal im Bereich von 1-6 (802.11bgn) eizustellen, sowie die WPA2/AES (CCMP) Verschlüsselung.<br><br><br><br></p>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Usermanuals/Quickinstallation_IN-5905_04.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify"> <strong>A</strong> Drücken Sie den WPS Button auf Ihrem Router.
                                                        <strong>B</strong> Drücken Sie den Reset Taster der Kamera für 3s (länger als 10s führt zu einem Werksreset!).
                                                        <strong>C</strong> Die Kamera wird sich danach automatisch mit Ihrem WLAN verbinden. Springen Sie zu Schritt 7 (PC or Mac) oder Schritt 14 (Smartphone).</p>
                                </div>
                            </div>
                        </div>
                        <!-- /card-container -->

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Usermanuals/Quickinstallation_IN-5905_05.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">Für eine LAN Verbindung,stecken Sie bitte das Netzwerkkabel in den RJ-45 Anschluß am Kabelbaum der Kamera um eine Verbindung aufzubauen (auch für WLAN benötigt wenn kein WPS vorhanden s. #4).</p>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Usermanuals/Quickinstallation_06.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">Stecken Sie das andere Ende des Netzwerkkabel in einen freien LAN Port Ihres Internet Routers.<br><br><br></p>
                                </div>
                            </div>
                        </div>
                        <!-- /card-container -->

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Usermanuals/Quickinstallation_07.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">Starten Sie das IP Camera Tool von der Software CD und führen Sie einen Doppelklick auf den Namen der Kamera aus.<br></p>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Usermanuals/Quickinstallation_08.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">Standard Logins Benutzer/Kennwort: admin / instar für Administratoren, user / instar für normale Nutzer und guest / instar für Gäste.</p>
                                </div>
                            </div>
                        </div>
                        <!-- /card-container -->

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Usermanuals/Quickinstallation_09.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">Aktivieren Sie das WLAN der Kamera in der Weboberfläche mittles des WLAN- Scanners. Nach der Eingabe und Speicherung des WLAN Passwortes muss das LAN Kabel gezogen und die Kamera neugestartet werden.<br><br><br></p>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Usermanuals/Quickinstallation_12.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">Für den Zugriff über das Internet ist eine Portweiterleitung des HTTP Ports (Standard “80”) in Ihrem Router notwendig. Für den Zugriff auf den Flash Videostream (z.B. über das Flash Plugin im Webbrowser) benötigen Sie noch die Weiterleitung des RTMP Ports (Standard “1935”). -> siehe auch 14.</p>
                                </div>
                            </div>
                        </div>
                        <!-- /card-container -->

                        <div class="card-container">
                            <div class="twocard">
                              <div class="image">
                                  <amp-img noloading height=450 width=600 layout=responsive src="/images/Usermanuals/Quickinstallation_13.png"></amp-img>
                              </div>
                              <div class="action">
                                  <p class="justify">Um Ihre Kamera über Ihr Android, Windows Phone oder iOS Smartphone zu steuern, laden Sie sich bitte die InstarVision® App aus dem App Store herunter.<br><br><br><br></p>
                              </div>
                            </div>
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Usermanuals/Quickinstallation_14.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">Die P2P Funktion erlaubt den Internetzugriff auf die Kamera ohne Portweiterleitung (s.#12). Fügen Sie sie einfach als neue p2p Kamera in unserer App hinzu, scannen Sie den QR Code in der Weboberfläche unter Network/P2P in der WebUI oder auf dem Sticker auf der Kamera und tragen Sie Ihr Login ein (s.#8).</p>
                                </div>
                            </div>
                        </div>
                        <!-- /card-container -->

                    </div>
                    <!-- /container -->
                </section>
                <!-- /blade -->
            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../_partials/content/_bluenav-usermanual-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>

    </body>

</html>
