<!DOCTYPE html>
<html ⚡>

<head>
    <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Outdoor_Cameras/IN-7011_HD/Lense_Adjustment">
</head>

<body class="home">

  <header class="fixed">
      <% include ../_partials/amp/_amp-header.ejs %>
  </header>

    <body>

        <div class="wrap">
            <div class="container main">
                <% include ../_partials/content/_bluenav-7011.ejs %>

                <section class="blade get-started">
                    <div class="container">

                        <h1 class="post-title desktop-up">IN-7011 HD Objektiv Justage</h1>

                            <div class="card-container">
                                <div class="onecard">
                                    <div class="image">
                                      <div class="action">
                                        <h3>Manuelle Objektiv Justage bei Ihrer IN-7011 HD<br><br></h3>
                                        <p class="justify">When you receive your camera, we already adjusted the focus for the camera to be operational in a general surveillance scenario. For your IN-7011 HD this means, that they give you an sharp image for distances between 5 and 10m. If you need a different focus distance, just turn the camera lense clockwise or counterclockwise, until you have your scene in focus.</p>
                                      </div>
                                    </div>
                                </div>
                                <!-- /onecard -->
                            </div>
                            <!-- /card-container -->

                            <div class="card-container">
                                <div class="onecard">
                                    <div class="image">
                                        <p>
                                            <amp-youtube data-videoid="dOYGMS6R838" layout="responsive" width="480" height="270"></amp-youtube>
                                        </p>
                                        <div class="action">
                                            <p>Objektiv Justage INSTAR IN-7011 HD.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- /onecard -->
                            </div>
                            <!-- /card-container -->

                    </div>
                    <!-- /container -->
                </section>
                <!-- /blade -->
            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <section class="blade blog mobile-down">

            <div class="container wider">
                <div class="row">
                    <div class="twelve columns">
                        <h1>Verwandte Themen</h1>
                    </div>
                </div>

                <div class="tab-container">

                    <a class="tab" href="/Outdoor_Cameras/IN-7011_HD/Safety_Warnings">
                        <h3>Sicherheitswarnungen</h3>
                        <div class="subtitle">Mittel</div>
                    </a>

                    <a class="tab" href="/Outdoor_Cameras/IN-7011_HD/Product_Features">
                        <h3>Produkt Features</h3>
                        <div class="subtitle">Einfach</div>
                    </a>

                    <a class="tab" href="/Outdoor_Cameras/IN-7011_HD/Quick_Installation">
                        <h3>Schnellinstallation</h3>
                        <div class="subtitle">Erweitert</div>
                    </a>

                    <a class="tab" href="/Outdoor_Cameras/IN-7011_HD/Point2Point">
                        <h3>P2P &amp; WPS</h3>
                        <div class="subtitle">Mittel</div>
                    </a>

                    <a class="tab" href="/Web_User_Interface/720p_Series">
                        <h3>Weboberfläche</h3>
                        <div class="subtitle">Einfach</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/WebUI_And_Firmware_Upgrade">
                        <h3>Software Update</h3>
                        <div class="subtitle">Einfach</div>
                    </a>

                    <a class="tab" href="/Outdoor_Cameras/IN-7011_HD/Video_Streaming">
                        <h3>Video Streaming</h3>
                        <div class="subtitle">Einfach</div>
                    </a>

                    <a class="tab" href="/Outdoor_Cameras/IN-7011_HD/Camera_Reset">
                        <h3>Kamera Reset</h3>
                        <div class="subtitle">Einfach</div>
                    </a>

                    <a class="tab" href="/Outdoor_Cameras/IN-7011_HD/Lense_Adjustment">
                        <h3>Linse einstellen</h3>
                        <div class="subtitle">Einfach</div>
                    </a>

                    <a class="tab" href="/Outdoor_Cameras/IN-7011_HD/Technical_Specifications">
                        <h3>Technische Spezifikationen</h3>
                        <div class="subtitle">Einfach</div>
                    </a>

                    <a class="tab" href="/Outdoor_Cameras/IN-7011_HD/Warranty">
                        <h3>Garantie &amp; Rückgabe</h3>
                        <div class="subtitle">Einfach</div>
                    </a>
                </div>

                <a href="/Products/Usermanuals" target="_blank">MEHR ANSEHEN</a>

            </div>
        </section>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>

    </body>

</html>
