<!DOCTYPE html>
<html ⚡ lang="de">

<head>
    <% include ../_partials/amp/_amp-head.ejs %>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <script async custom-element="amp-lightbox" src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js"></script>
</head>

<body class="home">

  <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
      <% include ../_partials/amp/_ampLandingSidebar.ejs %>
  </amp-sidebar>

  <header class="header fixed">
    <% include ../_partials/amp/_amp-header.ejs %>
  </header>

  <div class="wrap">
      <div class="container main">

        <% include ../_partials/content/_bluenav-usermanual.ejs %>

                <section class="blade wrapper content">

                    <h1 class="post-title">IN-9008 Full HD</h1>
                    <h3>Kamera Aufbau</h3>

                    <div class="card-container">
                        <div class="onecard">
                            <div class="image">
                              <a href="/Outdoor_Cameras/IN-9008_HD/Technical_Specifications">
                                <amp-img role="button" tabindex="0" src="/images/Usermanuals/IN-9008HD_Product-Overview.png" width="1200" height="995" layout="responsive"></amp-img>
                              </a>
                              <div class="action">

                                  <table class="table margin">
                                    <tr>
                                      <th>#</th>
                                      <th>Komponenten</th>
                                      <th>Funktion</th>
                                    </tr>

                                    <tr>
                                      <th scope="row" width="10%">1</th>
                                      <td width="30%">Infrarot LEDs</td>
                                      <td>5x High-power Nachtsicht IR LED´s @850nm</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">2</th>
                                      <td>Objektiv</td>
                                      <td>Weitwinkel (Brennweite 4.2mm)</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">3</th>
                                      <td>Fotosensor</td>
                                      <td>Dämmerungsschaltung für IR LEDs</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">4</th>
                                      <td>PIR Sensor</td>
                                      <td>Integrierter Panasonic Passiver Infrarot (PIR) Bewegungsmelder
                                      &nbsp;&nbsp;
                                      <button on="tap:pir-sensor" class="btn btnSmall">Spezifikationen</button></td>
                                    </tr>
                                    <tr>
                                      <th scope="row">5</th>
                                      <td>Mikrofon</td>
                                      <td>Für Geräuscherkennung / Audio Aufnahme / Zwei-Wege Audio Kommunikation</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">6</th>
                                      <td>Audio Out</td>
                                      <td>3.5mm Klinke für Kopfhörer / Aktivlautsprecher</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">7</th>
                                      <td>Netzwerk Port</td>
                                      <td>RJ45 LAN Port für das CAT5e Ethernet Kabel</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">8</th>
                                      <td>Stromanschluss</td>
                                      <td>Für das 12V / 2A dc Netzteil</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">9</th>
                                      <td>Micro SD Karte</td>
                                      <td>SD Kartenleser für MicroSD/SDXC Karten bis 128 GB (16 GB inklusive)</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">10</th>
                                      <td>WPS / Reset</td>
                                      <td>3s für WLAN Einrichtung / 15s für Werksreset
                                      &nbsp;&nbsp;
                                      <button on="tap:reset-button" class="btn btnSmall">Zeichnung</button></td>
                                    </tr>
                                    <tr>
                                      <th scope="row">11</th>
                                      <td>Status LEDs</td>
                                      <td>Rot: Power, Blau: Netzwerk Status
                                      &nbsp;&nbsp;
                                      <button on="tap:status-leds" class="btn btnSmall">Information</button></td>
                                    </tr>
                                    <tr>
                                      <th scope="row">12</th>
                                      <td>Antennen Anschluss</td>
                                      <td><a href="/Products/SMA_RP-SMA_Antenna_Connector" target="_blank">RP-SMA</a> WiFi Antennen Anschluss</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">13</th>
                                      <td>WLAN Antenna</td>
                                      <td>3 dBi Antenne (<a href="/Products/SMA_RP-SMA_Antenna_Connector" target="_blank">RP-SMA</a>)</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">14</th>
                                      <td>Kabel Einlaß</td>
                                      <td>IP65 wettergeschützte Gummidichtungen für 3, 2 oder 1 Kabel. Sehen Sie bitte unsere <a href="/Outdoor_Cameras/IN-9008_HD/Quick_Installation">Schnellinstallation Anleitung</a> bezüglich des Anschlusses der Kabel
                                      &nbsp;&nbsp;
                                      <button on="tap:feedthrough" class="btn btnSmall">Spezifikationen</button></td>
                                    </tr>
                                    <tr>
                                      <th scope="row">15</th>
                                      <td>Dichtungsring</td>
                                      <td>IP65 wettergeschützte Gummidichtungen für 3, 2 oder 1 Kabel. Sehen Sie bitte unsere <a href="/Outdoor_Cameras/IN-9008_HD/Quick_Installation">Schnellinstallation Anleitung</a> bezüglich des Anschlusses der Kabel
                                      &nbsp;&nbsp;
                                      <button on="tap:sealing-ring" class="btn btnSmall">Spezifikationen</button></td>
                                    </tr>
                                    <tr>
                                      <th scope="row">16</th>
                                      <td>Nuß</td>
                                      <td>Zum Verschließen des Kabeleinlasses</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">17</th>
                                      <td>Halterung</td>
                                      <td>Wand- und Deckenhalterung
                                      &nbsp;&nbsp;
                                      <button on="tap:bracket" class="btn btnSmall">Spezifikationen</button>
                                    <button on="tap:bracket-installation" class="btn btnSmall">Installation</button></td>
                                    </tr>
                                  </table>
                              </div>
                            </div>
                        </div>
                        <!-- /onecard -->
                    </div>
                    <!-- /card-container -->

                </section>
                <!-- /blade -->

                <amp-lightbox id="lense-adjustment" layout="nodisplay">
                  <div class="lightbox">
                    <div class="card-container">
                      <div class="onecard">
                        <div class="image centered">
                            <amp-img noloading height="636" width="548" layout="fixed" src="/images/Usermanuals/IN-9008HD_Lense_Adjustment.png"></amp-img>
                        </div>
                        <div class="action">
                          <table class="twelve columns no-highlight">
                            <tr>
                              <td>
                                <h3 class="inlineHeader">Objektivjustage IN-9008 HD&nbsp;&nbsp;&nbsp;</h3>
                              </td>
                              <td class="align-right">
                                <button class="navGo navGoRed" on="tap:lense-adjustment.close">Schließen</button>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </amp-lightbox>

                <amp-lightbox id="pir-sensor" layout="nodisplay">
                  <div class="lightbox">
                    <div class="card-container">
                      <div class="onecard">
                        <div class="image centered">
                            <amp-img noloading height=800 width=1200 layout=responsive src="/images/Usermanuals/PaPIR_Specifications.png"></amp-img>
                        </div>
                        <div class="action">
                          <table class="twelve columns no-highlight">
                            <tr>
                              <td>
                                <h3 class="inlineHeader">Panasonic PaPIR EKMC16 Technische Spezifikationen&nbsp;&nbsp;&nbsp;</h3>
                              </td>
                              <td class="align-right">
                                <button class="navGo navGoRed" on="tap:pir-sensor.close">Schließen</button>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </amp-lightbox>

                <amp-lightbox id="status-leds" layout="nodisplay">
                  <div class="lightbox">
                    <div class="card-container">
                      <div class="onecard">
                        <div class="twelve columns content">
                          <table>
                            <tr>
                              <th>Status</th>
                              <td>Blaue LED</td>
                              <td>Rote LED</td>
                            </tr>
                            <tr>
                              <th>Konstant an</th>
                              <td>Mit WLAN verbunden</td>
                              <td>N/A</td>
                            </tr>
                            <tr>
                              <th>Langsames Blinken</th>
                              <td>Verbindungsaufbau mit WPS</td>
                              <td>Normalbetrieb</td>
                            </tr>
                            <tr>
                              <th>Schnelles Blinken</th>
                              <td>N/A</td>
                              <td>Firmware Upgrade</td>
                            </tr>
                          </table>
                        </div>
                        <div class="action">
                          <table class="twelve columns no-highlight">
                            <tr>
                              <td>
                                <h3 class="inlineHeader">Status LEDs&nbsp;&nbsp;&nbsp;</h3>
                              </td>
                              <td class="align-right">
                                <button class="navGo navGoRed" on="tap:status-leds.close">Schließen</button>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </amp-lightbox>

                <amp-lightbox id="reset-button" layout="nodisplay">
                  <div class="lightbox">
                    <div class="card-container">
                      <div class="onecard">
                        <div class="image centered">
                            <amp-img noloading height=596 width=632 layout=fixed src="/images/Usermanuals/IN-9008HD_Camera_Reset.png"></amp-img>
                        </div>
                        <div class="action">
                          <table class="twelve columns no-highlight">
                            <tr>
                              <td>
                                <h3 class="inlineHeader">Drücken Sie 3s für WPS oder 15s für Werksreset&nbsp;&nbsp;&nbsp;</h3>
                              </td>
                              <td class="align-right">
                                <button class="navGo navGoRed" on="tap:reset-button.close">Schließen</button>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </amp-lightbox>

                <amp-lightbox id="feedthrough" layout="nodisplay">
                  <div class="lightbox">
                    <div class="card-container">
                      <div class="onecard">
                        <div class="image centered">
                            <amp-img noloading height=300 width=1194 layout=responsive src="/images/Usermanuals/IN-9008HD_Cable_Feedthrough.png"></amp-img>
                        </div>
                        <div class="action">
                          <table class="twelve columns no-highlight">
                            <tr>
                              <td>
                                <h3 class="inlineHeader">IP65 wettergeschützter Kabeleinlass&nbsp;&nbsp;&nbsp;</h3>
                              </td>
                              <td class="align-right">
                                <button class="navGo navGoRed" on="tap:feedthrough.close">Schließen</button>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </amp-lightbox>

                <amp-lightbox id="sealing-ring" layout="nodisplay">
                  <div class="lightbox">
                    <div class="card-container">
                      <div class="onecard">
                        <div class="image centered">
                            <amp-img noloading height=720 width=1140 layout=responsive src="/images/Usermanuals/IN-9008HD_Sealing_Ring.png"></amp-img>
                        </div>
                        <div class="action">
                          <table class="twelve columns no-highlight">
                            <tr>
                              <td>
                                <h3 class="inlineHeader">Kabeleinlass Dichtungsring&nbsp;&nbsp;&nbsp;</h3>
                              </td>
                              <td class="align-right">
                                <button class="navGo navGoRed" on="tap:sealing-ring.close">Schließen</button>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </amp-lightbox>

                <amp-lightbox id="bracket" layout="nodisplay">
                  <div class="lightbox">
                    <div class="card-container">
                      <div class="onecard">
                        <div class="image centered">
                            <amp-img noloading height=882 width=1152 layout=responsive src="/images/Usermanuals/IN-9008HD_Bracket.png"></amp-img>
                        </div>
                        <div class="action">
                          <table class="twelve columns no-highlight">
                            <tr>
                              <td>
                                <h3 class="inlineHeader">Kamerahalterungt&nbsp;&nbsp;&nbsp;</h3>
                              </td>
                              <td class="align-right">
                                <button class="navGo navGoRed" on="tap:bracket.close">Schließen</button>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </amp-lightbox>

                <amp-lightbox id="bracket-installation" layout="nodisplay">
                  <div class="lightbox">
                    <div class="card-container">
                      <div class="onecard">
                        <div class="image centered">
                            <amp-img noloading height=522 width=1206 layout=responsive src="/images/Usermanuals/IN-9008HD_Wall_Ceiling_Mount.png"></amp-img>
                        </div>
                        <div class="action">
                          <table class="twelve columns no-highlight">
                            <tr>
                              <td>
                                <h3 class="inlineHeader">Wand- und Deckeninstallation&nbsp;&nbsp;&nbsp;</h3>
                              </td>
                              <td class="align-right">
                                <button class="navGo navGoRed" on="tap:bracket-installation.close">Schließen</button>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </amp-lightbox>

            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../_partials/content/_bluenav-usermanual-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>

    </body>

</html>
