<!DOCTYPE html>
<html ⚡>

<head>
    <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Outdoor_Cameras/IN-9008_HD/Usermanual">
</head>

<body class="home">

  <% include ../_partials/amp/_amp-header.ejs %>

  <div class="wrap">
      <div class="container main">

        <% include ../_partials/content/_bluenav-9008.ejs %>

                <section class="blade get-started">
                    <div class="container">

                        <h1 class="post-title">IN-9008 HD User Manual</h1>

                        <div class="card-container">
                            <div class="onecard">
                                <div class="image">
                                    <a href="/Outdoor_Cameras/IN-9008_HD/Product_Features">
                                      <amp-img role="button" tabindex="0" src="/images/IN-9008_explodedVIew.png" width="842" height="595" layout="responsive"></amp-img>
                                    </a>
                                </div>
                            </div>
                            <!-- /onecard -->

                        <div class="card-container">
                            <div class="onecard">
                                <div class="image">
                                    <a href="/Outdoor_Cameras/IN-9008_HD/Point2Point">
                                      <amp-img role="button" tabindex="0" src="/images/P2P_Box_5905.psd.png" width="900" height="650" layout="responsive"></amp-img>
                                    </a>
                                    <div class="action">
                                        <p>Verbinden Sie Ihre Kamera mit Ihrem lokalen WLAN Netzwerk, indem Sie den <strong>WPS</strong> Button (WiFi Protected Setup) drücken. Zur Verbindung über das Internet braucht nur der <a href="/Web_User_Interface/1080p_Series/Network/Remote_Access/">P2P QR Code</a> mit unserer <a href="/Software/iOS/InstarVision/iPhone/P2P">iPhone</a>, <a href="/Software/iOS/InstarVision/iPad/P2P">iPad</a>, <a href="/Software/Android/InstarVision/P2P">Android</a>, <a href="/Software/Windows/InstarVision/Windows_Phone/P2P">Windows Phone</a> oder <a href="/Software/Windows/InstarVision/Metro/P2P">Windows (Metro)</a> App eingescanned werden.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- /onecard -->
                        </div>
                        <!-- /card-container -->

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                  <a href="/Outdoor_Cameras/IN-9008_HD/Lense_Adjustment">
                                    <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_Lense-Adjust_IN-5905HD.png"></amp-img>
                                  </a>
                                </div>
                                <div class="action">
                                  <h4>Passen Sie den Tiefenschärfebereich an.</h4>
                                  <p class="justify">Sie können einfach <a href="/Outdoor_Cameras/IN-9008_HD/Lense_Adjustment">am Objektiv drehen</a> bis Sie ein scharfes Bild in der Weboberfläche der Kamera haben. Das Objektiv Ihrer Kamera kann vom Nahbereich, wenige Zentimeter vor der Kamera, bis auf unendlich fokussiert werden.</p>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="image">
                                  <a href="/Web_User_Interface/1080p_Series/System/User/">
                                    <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_User_IN-6014HD.png"></amp-img>
                                  </a>
                                </div>
                                <div class="action">
                                  <h4>Schützen Sie Ihre Privatsphäre.</h4>
                                  <p class="justify">Ändern Sie das Login <a href="/Web_User_Interface/1080p_Series/System/User/">aller 3 Benutzerklassen</a> - administrator, user and visitor - um Ihre Kamera abzusichern. Wenn Sie Ihr Login verlegt haben, können Sie die Kamera einfach wieder in die <a href="/Outdoor_Cameras/IN-9008_HD/Camera_Reset/">Werkseinstellungen</a> bringen.<br><br></p>
                                </div>
                            </div>
                        </div>
                        <!-- /card-container -->

                            <div class="card-container">
                                <div class="onecard">
                                    <div class="image">
                                      <a href="/Internet_Access/Port_Forwarding/">
                                        <amp-img role="button" tabindex="0" src="/images/Portforwarding_Box.png" width="900" height="650" layout="responsive"></amp-img>
                                      </a>
                                      <div class="action">
                                          <p>Alle INSTAR Kameras kommen mit einer <a href="/Web_User_Interface/1080p_Series/Network/Remote_Access/">kostenlosen DDNS Adresse</a>, die Ihnen den Vollzugriff auf die Kamera ermöglicht.</p>
                                      </div>
                                    </div>
                                </div>
                                <!-- /onecard -->
                            </div>
                            <!-- /card-container -->

                            <div class="card-container">
                              <div class="twocard">
                                  <div class="image">
                                    <a href="/Web_User_Interface/1080p_Series/Alarm/Areas/">
                                      <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_MotionDetection_IN-6014HD.png"></amp-img>
                                    </a>
                                  </div>
                                  <div class="action">
                                    <h4>Bewegungserkennung</h4>
                                    <p class="justify">Nutzen Sie die software-basierte Bewegungserkennung <a href="/Web_User_Interface/1080p_Series/Alarm/Actions/">in Kombination mit dem integrierten Wärmesensor (PIR)</a>, um effectiv Personen, Tiere oder Autos zu erkennen - während bewegte Bäume, vorbeiziehende Wolken oder das Einschalten einer Lichtquelle nicht zu einem Alarm führen.</p>
                                  </div>
                              </div>
                              <div class="twocard">
                                  <div class="image">
                                    <a href="/Web_User_Interface/1080p_Series/Alarm/Actions/">
                                      <amp-img noloading height=400 width=400 layout=responsive src="/images/QL-Box_Notification_IN-6014HD.png"></amp-img>
                                    </a>
                                  </div>
                                  <div class="action">
                                    <h4>Email und Push Benachrichtigung</h4>
                                    <p class="justify">Aktivieren Sie die <a href="/Web_User_Interface/1080p_Series/Alarm/Push_Service/">Push Benachrichtigung</a> in unserer <a href="/Software/iOS/InstarVision">iOS</a>, <a href="/Software/Android/InstarVision">Android</a> oder <a href="/Software/Windows/InstarVision/Windows_Phone">Windows Phone</a>) App, um - im Falle eines Alarms - umgehend alarmiert zu werden. Oder nutzen Sie die <a href="/Web_User_Interface/1080p_Series/Alarm/Actions/">Email Benachrichtigung</a> um zusätzlich noch ein paar Bilder zu erhalten.<br><br></p>
                                  </div>
                              </div>
                            </div>
                            <!-- /card-container -->

                    </div>
                    <!-- /container -->
                </section>
                <!-- /blade -->
            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <section class="blade blog mobile-down">

            <div class="container wider">
                <div class="row">
                    <div class="twelve columns">
                        <h1>Table of Topics</h1>
                    </div>
                </div>

                <div class="tab-container">

                    <a class="tab" href="/Outdoor_Cameras/IN-5905_HD/Safety_Warnings">
                        <h3>Safety Warnings</h3>
                        <div class="subtitle">Intermediate</div>
                    </a>

                    <a class="tab" href="/Outdoor_Cameras/IN-5905_HD/Product_Features">
                        <h3>Product Features</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Outdoor_Cameras/IN-5905_HD/Quick_Installation">
                        <h3>Quick Installation</h3>
                        <div class="subtitle">Advanced</div>
                    </a>

                    <a class="tab" href="/Outdoor_Cameras/IN-5905_HD/Point2Point">
                        <h3>P2P &amp; WPS</h3>
                        <div class="subtitle">Intermediate</div>
                    </a>

                    <a class="tab" href="/Web_User_Interface/720p_Series">
                        <h3>Web User Interface</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/WebUI_And_Firmware_Upgrade">
                        <h3>Software Update</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Outdoor_Cameras/IN-5905_HD/Video_Streaming">
                        <h3>Video Streaming</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Outdoor_Cameras/IN-5905_HD/Camera_Reset">
                        <h3>Camera Reset</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Outdoor_Cameras/IN-5905_HD/Lense_Adjustment">
                        <h3>Lense Adjustment</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Outdoor_Cameras/IN-5905_HD/Technical_Specifications">
                        <h3>Technical Specifications</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Outdoor_Cameras/IN-5905_HD/Warranty">
                        <h3>Warranty &amp; Disposal</h3>
                        <div class="subtitle">Easy</div>
                    </a>
                </div>

                <a href="/Products/Usermanuals" target="_blank">VIEW MORE</a>

            </div>
        </section>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>

    </body>

</html>
