<!DOCTYPE html>
<html ⚡ lang="de">

<head>
    <% include ../_partials/amp/_amp-head.ejs %>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <script async custom-element="amp-lightbox" src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js"></script>
    <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
    <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
</head>

<body class="home">

  <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
      <% include ../_partials/amp/_ampLandingSidebar.ejs %>
  </amp-sidebar>

  <header class="header fixed">
    <% include ../_partials/amp/_amp-header.ejs %>
  </header>

  <div class="wrap">
      <div class="container main">

        <% include ../_partials/content/_bluenav-usermanual.ejs %>

                <section class="blade wrapper content">

                  <div>
                    <h2>IN-9008 Full HD <a href="https://www.instar.de/ip-aussenkameras/in-9008fullhd-series-html.html" target="_blank"><button type="button" name="button" class="btn float-right">Produkt kaufen</button></a></h2>
                    <h3>Außenraumüberwachung in 1080p Auflösung</h3>

                    <div class="card-container margin">
                        <div class="onecard">
                            <div class="title">
                            <h3>Produktübersicht</h3>
                            </div>
                            <div class="image">
                                <amp-img role="button" tabindex="0" src="/images/Usermanuals/IN-9008_Overview_width1650.png" width="1246" height="629" layout="responsive"></amp-img>
                            </div>
                            <div class="action">
                                <p class="justify"><strong>1.)</strong> Hochleistungs-IR-LED´s für Nachtsicht, <strong>2.)</strong> Standard 4.2mm F/2.1 Infrarot Objektiv, <strong>3.)</strong>  Fotodiode für Dämmerungsschaltung, <strong>4.)</strong> Integrierter Passiver Infrarot Sensor, <strong>5.)</strong> Hochweriges IP65 wettergeschütztes Aluminium Gehäuse, <strong>6.)</strong> WLAN Antennen Anschluß (<a href="/Products/SMA_RP-SMA_Antenna_Connector" target="_blank">SMA</a>), <strong>7.)</strong> Metall Halterung -> Sehen Sie bitte unsere <a href="/Outdoor_Cameras/IN-9008_HD/Quick_Installation">Schnellinstallation Anleitung</a> für den Anschluß der Kamerakabel.</p>
                            </div>
                        </div>
                        <!-- /onecard -->
                    </div>
                    <!-- /card-container -->
                  </div>
                  <!-- /margin -->

                    <table>
                      <tr>
                        <th width="25%">
                            <strong>WLAN Variante</strong>
                        </th>
                        <th width="25%">
                            <strong>PoE Variante</strong>
                        </th>
                        <th width="20%">
                            <strong>Sichtfeld</strong>
                        </th>
                        <th>
                            <strong>Pan &amp; Tilt</strong>
                        </th>
                        <th>
                            <strong>Zoom</strong>
                        </th>
                      </tr>
                      <tr>
                        <td><a href="https://www.instar.de/ip-aussenkameras/in-9008fullhd-series-html/in-9008fullhd-white.html" target="_blank">weiss</a> / <a href="https://www.instar.de/ip-aussenkameras/in-9008fullhd-series-html/in-9008fullhd-black.html" target="_blank">schwarz</a></td>
                        <td>nicht verfügbar</td>
                        <td>ca. 90°</td>
                        <td>nicht verfügbar</td>
                        <td>digital</td>
                      </tr>
                      </table>

                  <div class="margin">
                      <p class="justify">Die IN-9008 HD ist eine wettersichere und kabellose Außenkamera. Dank der eingebauten Hochleistungs-Infrarot Dioden besitzt die Kamera eine Nachtsicht mit hoher Leistung, wodurch sie weit ins Dunkle sehen können. Der integrierte IR-Cut Filter ermöglicht es ihnen zudem Orginalfarben aufzunehmen, wie sie über das menschliche Auge wiedergegeben werden. Über den effizienten h.264 Kompressions-Codec ist es möglich, Videodateien auf eine MicroSD Karte mit optimaler Bildauflösung trotz vergleichbar niedriger Dateigröße, aufzunehmen.</p>
                      <p class="justify">Für Überwachungszwecke kann die IN-9008 HD in existierende Systeme integriert werden. Mit der Hilfe des praktischen Onvif Protokolls, werden lediglich einige Mausklicks benötigt. Aber auch als Einzelgerät verfügt die Kamera über Alarmfunktionen wie die Email Benachrichtigung oder Kompatibilität mit Signal-Geräten. Über die WPS Funktion kann die Kamera sich per Knopfdruck mit ihrem WLAN Netzwerk verbinden. Der Zugriff auf die Kamera über das Internet ist noch einfacher. Die Point-2-Point Verbindung kann über das Scannen eines QR Codes mit unserer Smartphone App eingerichtet werden. Die Instar Visions App ist für Android, iOS und Windows Phone 8 verfügbar.</p>
                      <p class="justify">Der verbaute <strong>Panasonic PIR Sensor</strong> hat eine hat eine wesentlich höhere Empfindlichkeit als die Sensoren der Innekameras und hat damit eine Reichweite von bis zu 12m. Für eine erfolgreiche Erkennung reicht bereits eine Temperaturdifferenz von ca. 4°C zwischen dem zu erkennenden Objekt (Person, Auto, usw.) und dem Hintergrund.</p>
                  </div>
                  <!-- /margin -->

                  <div class="desktop-up">
                    <div class="six columns margin">
                      <h4>Nachtsicht (Minimum / Maximum) [m]</h4>
                      <amp-iframe width=920 height=700
                          sandbox="allow-scripts allow-same-origin"
                          layout="responsive"
                          resizable
                          frameborder="0"
                          src="https://wiki.instar.com/Outdoor_Cameras/IN-9008_HD/Nightvision_Graph/">
                          <div overflow tabindex=0 role=button aria-label="Read more"></div>
                          <amp-img layout="fill" src="/images/Usermanuals/placeholder_4-2mm_Lense_Graph.jpg" placeholder></amp-img>
                      </amp-iframe>
                    </div>
                    <!-- /six columns -->
                    <div class="six columns margin">
                      <h4>Blickwinkel (Dia., Hor., Vert.) [°]</h3>
                      <amp-iframe width=920 height=700
                          sandbox="allow-scripts allow-same-origin"
                          layout="responsive"
                          resizable
                          frameborder="0"
                          src="https://wiki.instar.com/Outdoor_Cameras/IN-9008_HD/Angle_Graph/">
                          <div overflow tabindex=0 role=button aria-label="Read more"></div>
                          <amp-img layout="fill" src="/images/Usermanuals/placeholder_Image_Width_Graph.jpg" placeholder></amp-img>
                      </amp-iframe>
                    </div>
                    <!-- /six columns -->
                  </div>

                  <div class="margin">
                    <h3>Hardware</h3>

                    <ul>
                      <li>Nachtsicht mit 5 Infrarot LEDs @850nm (kaum sichtbar für das menschliche Auge) für eine Distanz von bis zu 12 - 20m</li>
                      <li>Sehr kompaktes hochwertiges wasserdichtes Aluminium Gehäuse</li>
                      <li>Integrated Panasonic Pyroelectric Sensor - PIR Range up to 12m</li>
                      <li>Wide Dynamic Range (WDR) HD 720p Farb-CMOS Sensor</li>
                    </ul>

                    <h3>Netzwerk</h3>

                    <ul>
                      <li>RJ-45 Ethernet Port für eine einfache Integration in ihr 100Mbit Heimnetzwerk</li>
                      <li>Kompatibel mit WiFi IEEE 802.11 b/g bis zu 54Mbit Netzwerke mit WEP, WPA und WPA2 Verschlüsselung</li>
                      <li>DHCP und UPnP Unterstützung für eine automatische Integration</li>
                      <li>Integrierte kostenlose <a href="/Internet_Access/The_DDNS_Service/">DDNS ("Internet") Adresse</a> und <a href="/Web_User_Interface/1080p_Series/Network/Remote_Access/">P2P User ID</a> um Ihre Kamera über das Internet zu erreichen</li>
                    </ul>

                    <h3>Software</h3>

                    <ul>
                      <li>Kostenlose <a href="/Software/Android">Android</a>, <a href="/Software/iOS">iPhone</a> und <a href="/Software/Windows">Windows Phone</a> App</li>
                      <li>Die Web Benutzeroberfläche erlaubt eine einfache Konfiguration über ihren Standard-Internetbrowser (Chrome, Safari, Firefox, Internet Explorer)</li>
                      <li>Multi-User Management und gleichzeitige Logins für drei Benutzer</li>
                      <li>Softwarebasierte Bewegungs-und Audioerkennung und Email-Benachrichtigung mit angehängten Momentaufnahmen</li>
                      <li>Speichern Sie Videos direkt auf der <a href="/Motion_Detection/SD_Card_Access/">internen SD Karte</a></li>
                    </ul>
                  </div>
                  <!-- /margin -->

                  <h3>Bildqualität</h3>

                  <div class="margin">

                    <amp-carousel
                        layout="responsive"
                        width="1920"
                        height="1080"
                        type="slides">

                        <div class="slide">
                          <amp-img src="/images/Usermanuals/IN-9008HD-vs-IN-5907HD_day.png"
                            layout="fill"
                            alt="IN-9008HD-vs-IN-5905HD"></amp-img>
                        </div>

                        <div class="slide">
                          <amp-img src="/images/Usermanuals/IN-9008HD-vs-IN-5905HD_day.png"
                            layout="fill"
                            alt="IN-9008HD-vs-IN-5905HD"></amp-img>
                        </div>

                        <div class="slide">
                          <amp-img src="/images/Usermanuals/IN-9008HD-vs-IN-5907HD.png"
                            layout="fill"
                            alt="IN-9008HD-vs-IN-5907HD"></amp-img>
                        </div>

                        <div class="slide">
                          <amp-img src="/images/Usermanuals/IN-9008HD-vs-IN-5905HD_night.png"
                            layout="fill"
                            alt="IN-9008HD-vs-IN-5905HD"></amp-img>
                        </div>

                        <div class="slide">
                          <amp-img src="/images/Usermanuals/IN-9008HD-vs-IN-5905HD_day2.png"
                            layout="fill"
                            alt="IN-9008HD-vs-IN-5905HD"></amp-img>
                        </div>
                      </amp-carousel>
                  </div>
                  <!-- /margin -->

                  <div class="margin">
                      <p class="justify">Der 1/3 Zoll WDR Sensor baut auf einem <strong>Panasonic</strong> 1080p HD Chipsatz mit überlegender Nachtsichtempfindlichkeit auf. <strong>Panasonic</strong> bietet eine große Variation an Bildsensoren (<a href="http://www.semicon.panasonic.co.jp/en/products/imagesensors/surveillance/?utm_medium=flyer&utm_source=flyer&utm_campaign=20140218&utm_content=MN3422x" target="_blank">νMaicovicon®</a>) für Sicherheits- und Netzwerkkameras, welche auf dem industriell höchsten Standard basieren und können in Sicherheitskameras mit hoher Bildqualität und hoher Sensitivität ohne Rauschen verwendet werden. Der CMOS Bildsensor, νMaicovicon®, bietet hohe Bildqualität vergleich mit High-Speed CCD Technologien, hohe S/N Verhältnis, wenig Rauschen, und High Dynamic Range. Selbst in einer dunklen Umgebung können Sie Snapshots mit exzellenter Zeichenerkennung, Farbreproduzierung und Objekterkennung erhalten. Selbst in Sequenzen mit sich schnell bewegenden Objekten, liefert der Bildsensor klare Bilder ohne Bewegungsunschärfe. Der WDR garantiert High-Dynamic Range - Sie können gleichzeitig dunkle und helle Bereiche in Ihrem Videobild auflösen.</p>
                  </div>
                  <!-- /margin -->



                  <h3>Vergleich der Auflösung</h3>

                  <div class="card-container margin">
                      <div class="card">
                          <div class="image">
                            <amp-img
                                on="tap:IN-9008v5905_resTest"
                                role="button"
                                tabindex="0"
                                src="/images/Usermanuals/IN-9008-vs-IN-5905_resTest.png" width=1237 height=695 layout="responsive"
                                class="shadow">
                            </amp-img>
                          </div>
                          <div class="action">
                              <h4>IN-9008 HD / IN-5905 HD</h4>
                          </div>
                      </div>
                      <div class="card">
                          <div class="image">
                            <amp-img
                                on="tap:IN-9008v5907_resTest"
                                role="button"
                                tabindex="0"
                                src="/images/Usermanuals/IN-9008-vs-IN-5907_resTest.png" width="1237" height="695" layout="responsive"
                                class="shadow">
                            </amp-img>
                          <div class="action">
                              <h4>IN-9008 HD / IN-5907 HD</h4>
                          </div>
                      </div>
                    </div>
                    <div class="card">
                        <div class="image">
                          <amp-img
                              on="tap:IN-9008v5907WA_resTest"
                              role="button"
                              tabindex="0"
                              src="/images/Usermanuals/IN-9008-vs-IN-5907_WA_resTest.png" width=1237 height=695 layout="responsive"
                              class="shadow">
                          </amp-img>
                        <div class="action">
                            <h4>IN-9008 HD / IN-5907 HD</h4>
                        </div>
                    </div>
                  </div>
                  </div>
                  <!-- /card-container -->

                  <div class="card-container margin">
                      <div class="card">
                          <div class="image">
                            <amp-img
                                on="tap:IN-9008v5905_2_resTest"
                                role="button"
                                tabindex="0"
                                src="/images/Usermanuals/IN-9008v5905_resTest2.png" width="1237" height="695" layout="responsive"
                                class="shadow">
                            </amp-img>
                          </div>
                          <div class="action">
                              <h4>IN-9008 HD / IN-5905 HD</h4>
                          </div>
                      </div>
                      <div class="card">
                          <div class="image">
                            <amp-img
                                on="tap:IN-9008v5905_3_resTest"
                                role="button"
                                tabindex="0"
                                src="/images/Usermanuals/IN-9008v5905_resTest3.png" width="1237" height="695" layout="responsive"
                                class="shadow">
                            </amp-img>
                          <div class="action">
                              <h4>IN-9008 HD / IN-5905 HD</h4>
                          </div>
                      </div>
                    </div>
                    <div class="card">
                        <div class="image">
                          <amp-img
                              on="tap:IN-9008v5905_Night_resTest"
                              role="button"
                              tabindex="0"
                              src="/images/Usermanuals/IN-9008-vs-IN-5905_Night_resTest.png" width="1237" height="695" layout="responsive"
                              class="shadow">
                          </amp-img>
                        <div class="action">
                            <h4>IN-9008 HD / IN-5905 HD</h4>
                        </div>
                    </div>
                  </div>
                  </div>
                  <!-- /card-container -->

                  <div class="margin">
                      <p class="justify">Die Kamera wird komfortable mit Ihrem Smartphone gesteuert - egal ob Sie sich in Ihrem lokalen Netzwerk befinden, oder unterwegs sind. Die Anbindung an Ihr Netzwerk erfolgt über 2.4GHz (802.11b/g/n) Wi-Fi Modul (WPA/WPA2/CCMP) oder durch die 100MBit LAN Schnittstelle, um eine flüssige Wiedergabe des Videostreams zu ermöglichen. Die Kamera verfügt über 10 Infrarot LEDs @850nm und ermöglicht damit eine Nachtsicht von 5-10m. Unsere FHD (1080p) Kameraserie bringt Ihnen alle der gewohnten Vorzüge der 720p Serie, kombiniert mit der gestochen scharfen Auflösung von 1920x1080 Pixel.</p>
                  </div>
                  <!-- /margin -->

                  <div class="desktop-up margin">
                    <div class="six columns">
                      <h3>IN-9008 HD vs. IN-5907 HD</h3>
                      <amp-iframe width=920 height=700
                          sandbox="allow-scripts allow-same-origin"
                          layout="responsive"
                          resizable
                          frameborder="0"
                          src="https://wiki.instar.com/Outdoor_Cameras/IN-9008_HD/9008v5907/">
                          <div overflow tabindex=0 role=button aria-label="Read more"></div>
                          <amp-img layout="fill" src="/images/Usermanuals/placeholder_4-2mm_Lense_Graph.jpg" placeholder></amp-img>
                      </amp-iframe>
                    </div>
                    <!-- /six columns -->
                    <div class="six columns">
                      <h3>IN-9008 HD vs. IN-2905</h3>
                      <amp-iframe width=920 height=700
                          sandbox="allow-scripts allow-same-origin"
                          layout="responsive"
                          resizable
                          frameborder="0"
                          src="https://wiki.instar.com/Outdoor_Cameras/IN-9008_HD/9008v2905/">
                          <div overflow tabindex=0 role=button aria-label="Read more"></div>
                          <amp-img layout="fill" src="/images/Usermanuals/placeholder_Image_Width_Graph.jpg" placeholder></amp-img>
                      </amp-iframe>
                    </div>
                    <!-- /six columns -->
                  </div>

                </section>
                <!-- /blade -->

                <amp-lightbox id="IN-9008v5905_resTest" layout="nodisplay">
                  <div class="lightbox">
                    <amp-img src="/images/Usermanuals/IN-9008-vs-IN-5905_resTestBig.png" width=720 height=832
                    tabindex="0"
                    on="tap:IN-9008v5905_resTest.close"
                    role="button">
                  </div>
                </amp-lightbox>

                <amp-lightbox id="IN-9008v5907_resTest" layout="nodisplay">
                  <div class="lightbox">
                    <amp-img src="/images/Usermanuals/IN-9008-vs-IN-5907_resTestBig.png" width=720 height=832
                    tabindex="0"
                    on="tap:IN-9008v5907_resTest.close"
                    role="button">
                  </div>
                </amp-lightbox>

                <amp-lightbox id="IN-9008v5907WA_resTest" layout="nodisplay">
                  <div class="lightbox">
                    <amp-img src="/images/Usermanuals/IN-9008-vs-IN-5907_WA_resTestBig.png" width=720 height=832
                    tabindex="0"
                    on="tap:IN-9008v5907WA_resTest.close"
                    role="button">
                  </div>
                </amp-lightbox>

                <amp-lightbox id="IN-9008v5905_2_resTest" layout="nodisplay">
                  <div class="lightbox">
                    <amp-img src="/images/Usermanuals/IN-9008v5905_resTestBig2.png" width=720 height=832
                    tabindex="0"
                    on="tap:IN-9008v5905_2_resTest.close"
                    role="button">
                  </div>
                </amp-lightbox>

                <amp-lightbox id="IN-9008v5905_3_resTest" layout="nodisplay">
                  <div class="lightbox">
                    <amp-img src="/images/Usermanuals/IN-9008v5905_resTestBig3.png" width=720 height=832
                    tabindex="0"
                    on="tap:IN-9008v5905_3_resTest.close"
                    role="button">
                  </div>
                </amp-lightbox>

                <amp-lightbox id="IN-9008v5905_Night_resTest" layout="nodisplay">
                  <div class="lightbox">
                    <amp-img src="/images/Usermanuals/IN-9008-vs-IN-5905_Night_resTestBig.png" width=720 height=832
                    tabindex="0"
                    on="tap:IN-9008v5905_Night_resTest.close"
                    role="button">
                  </div>
                </amp-lightbox>

        </div>
        <!-- /container main -->
    </div>
    <!-- /wrap-->

    <% include ../_partials/content/_bluenav-usermanual-mobile.ejs %>

    <footer>
        <% include ../_partials/amp/_amp-footer.ejs %>
    </footer>

</body>

</html>
