<% include ../_partials/template/_head_chart.ejs %>

    <body>
      <% include ../_partials/template/_outdated.ejs %>

      <div id="wrapper">

        <header><% include ../_partials/template/_header.ejs %></header>
        <!-- Navbar-->

        <div class="clearfix"></div>

        <!-- #############################################  Body ############################################# -->

            <section class="container mb">
                <div class="row mt">

                <div class="col-12 mb">
                    <h1>IN-9008 HD</h1>
                    <h3 class="text-muted">Produktüberblick</h3>
                </div>

                <div class="col-12">
                  <img src="/images/IN-5905_Overview_width1650.png" alt="IN-9008 HD Overview" class="img-fluid img-rounded shadow" />
                </div>

                <div class="caption col-12 mb">
                  <p class="text-justify"><strong>1.)</strong> Hochwertiges, wasserfestes Aluminiumgehäuse <strong>2.)</strong> Infrarot LED´s für Nachtsicht, <strong>3.)</strong>  Standard 4.2mm F/2.1 Infrarot Objektiv, <strong>4.)</strong> Fotodiode für Nachtsichtwechsel, <strong>5.)</strong> Metall Wandhalterung, <strong>6.)</strong> Wifi Antennenanschluss, <strong>7.)</strong> RJ45 Ethernet Anschluss, <strong>8.)</strong> Reset-Knopf, <strong>9.)</strong> Alarm I/O Anschluss für externe Geräte (siehe auch <a href="/Products/IN-Motion">IN-Motion 500</a> und <a href="/Products/IN-Motion">IN-Motion 300</a>), <strong>10.)</strong> Gleichstrom Netzteil Anschluss, <strong>11.)</strong> Audio Ausgang für externe Lautsprecher, <strong>12.)</strong> Audio Eingang für externe Mikrofone (e.g. <a href="/Products/IN-Mikro">IN-Mikro 380</a>)</p>
                </div>

                <div class="clearfix"></div>

                <div class="col-12 mb centered hidden-md-down">
                  <div class="btn-group" role="group">
                    <a class="btn btn-lg btn-outline-primary" href="/Outdoor_Cameras/IN-9008_HD/Technical_Specifications/" role="button">Technische Spezifikationen</a>
                    <a class="btn btn-lg btn-outline-primary" href="/Outdoor_Cameras/IN-9008_HD/Usermanual/" role="button">Handbuch</a>
                    <a class="btn btn-lg btn-outline-primary" href="/Outdoor_Cameras/IN-9008_HD/Quick_Installation/" role="button">Schnell Installation</a>
                    <a class="btn btn-lg btn-outline-primary" href="/Web_User_Interface/1080p_Series/" role="button">Web Oberfläche</a>
                  </div>
                </div>

                <div class="col-12 mb hidden-lg-up">
                  <a class="btn btn-block btn-outline-primary" href="/Outdoor_Cameras/IN-9008_HD/Technical_Specifications/" role="button">Technische Spezifikationen</a>
                  <a class="btn btn-block btn-outline-primary" href="/Outdoor_Cameras/IN-9008_HD/Usermanual/" role="button">Handbuch</a>
                  <a class="btn btn-block btn-outline-primary" href="/Outdoor_Cameras/IN-9008_HD/Quick_Installation/" role="button">Schnell Installation</a>
                  <a class="btn btn-block btn-outline-primary" href="/Web_User_Interface/1080p_Series/" role="button">Web Oberfläche</a>
                </div>

            <!-- ######################################  Chart JS ###################################### -->

                <div class="col-lg-6 mb">
                  <div class="card shadow">
                    <div class="card-header">
                      <h5>Nachtsicht (Minimum / Maximum) [m]</h5>
                    </div>
                    <div class="card-block">
                      <canvas id="nightvision9008" width="600" height="400"></canvas>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb">
                  <div class="card shadow">
                    <div class="card-header">
                      <h5>Blickwinkel (Dia., Hor., Vert.) [°]</h5>
                    </div>
                    <div class="card-block">
                      <canvas id="angleofview9008" width="600" height="400"></canvas>
                    </div>
                  </div>
                </div>

                <script src="/javascripts/chartjs/overview9008_angleofview.js"></script>
                <script src="/javascripts/chartjs/overview9008_nightvision.js"></script>

            <!-- ######################################  Chart JS ###################################### -->

                <div class="clearfix"></div>

                <div class="col-12 mb">
                  <p class="text-justify">Die IN-9008 HD ist eine wettersichere und kabellose Außenkamera. Dank der eingebauten Hochleistungs-Infrarot Dioden besitzt die Kamera eine Nachtsicht mit hoher Leistung, wodurch sie weit ins Dunkle sehen können. Der integrierte IR-Cut Filter ermöglicht es ihnen zudem Orginalfarben aufzunehmen, wie sie über das menschliche Auge wiedergegeben werden. Über den effizienten h.264 Kompressions-Codec ist es möglich, Videodateien auf eine MicroSD Karte mit optimaler Bildauflösung trotz vergleichbar niedriger Dateigröße, aufzunehmen.</p>
                  <p class="text-justify">Für Überwachungszwecke kann die IN-9008 HD in existierende Systeme integriert werden. Mit der Hilfe des praktischen Onvif Protokolls, werden lediglich einige Mausklicks benötigt. Aber auch als Einzelgerät verfügt die Kamera über Alarmfunktionen wie die Email Benachrichtigung oder Kompatibilität mit Signal-Geräten. Über die WPS Funktion kann die Kamera sich per Knopfdruck mit ihrem WLAN Netzwerk verbinden. Der Zugriff auf die Kamera über das Internet ist noch einfacher. Die Point-2-Point Verbindung kann über das Scannen eines QR Codes mit unserer Smartphone App eingerichtet werden. Die Instar Visions App ist für Android, iOS und Windows Phone 8 verfügbar.</p>
                  <p class="text-justify">Der verbaute <strong>Panasonic PIR Sensor</strong> hat eine hat eine wesentlich höhere Empfindlichkeit als die Sensoren der Innekameras und hat damit eine Reichweite von bis zu 12m. Für eine erfolgreiche Erkennung reicht bereits eine Temperaturdifferenz von ca. 4°C zwischen dem zu erkennenden Objekt (Person, Auto, usw.) und dem Hintergrund.</p>
                </div>

                <div class="clearfix"></div>

                <!-- #####################################  Card ##################################### -->

                  <div class="col-12 col-sm-12 col-md-4 mb">
                    <div class="card shadow centered">
                        <div class="card-block centered">
                          <h4 class="card-title">INSTAR IN-9008 HD</h4>
                          <h6 class="card-subtitle text-muted">1080p IP Außenkamera</h6>
                        </div>
                        <div class="centered">
                          <img src="/images/INSTAR_IN-5905_Infobox.png" alt="IN-9008 HD" class="img-fluid">
                        </div>
                        <div class="card-block centered mt">
                          <a href="/Outdoor_Cameras/IN-9008_HD/Technical_Specifications" class="btn btn-outline-primary btn-block"><i class="fa fa-cogs"></i>  Spezifikationen</a>
                            <a href="/Outdoor_Cameras/IN-9008_HD/Downloads" class="btn btn-outline-primary btn-block"><i class="fa fa-download"></i>  Downloads</a>
                          <a href="http://www.instar.de/outdoor-table" class="btn btn-outline-primary btn-block"><i class="fa fa-balance-scale"></i>  Vergleichen</a>
                          <a href="http://www.instar.de/ip-aussenkameras/in-9008hd-series.html" class="btn btn-outline-primary btn-block"><i class="fa fa-shopping-cart"></i>  zum Shop</a>
                        </div>
                    </div>
                  </div>

                <!-- #####################################  LIST ##################################### -->

                    <div class="col-12 col-sm-12 col-md-7 col-md-offset-1 mb">
                      <h3>Hardware</h3>

                      <ul>
                        <li>Nachtsicht mit 5 Infrarot LEDs @850nm (kaum sichtbar für das menschliche Auge) für eine Distanz von bis zu 12 - 20m</li>
                        <li>Sehr kompaktes hochwertiges wasserdichtes Aluminium Gehäuse</li>
                        <li>Integrated Panasonic Pyroelectric Sensor - PIR Range up to 12m</li>
                        <li>Wide Dynamic Range (WDR) HD 720p Farb-CMOS Sensor</li>
                      </ul>

                      <h3>Netzwerk</h3>

                      <ul>
                        <li>RJ-45 Ethernet Port für eine einfache Integration in ihr 100Mbit Heimnetzwerk</li>
                        <li>Kompatibel mit WiFi IEEE 802.11 b/g bis zu 54Mbit Netzwerke mit WEP, WPA und WPA2 Verschlüsselung</li>
                        <li>DHCP und UPnP Unterstützung für eine automatische Integration</li>
                        <li>Integrierte individuelle DDNS ("Internet") Adresse um auf ihre Kamera über das Internet zuzugreifen</li>
                      </ul>

                      <h3>Software</h3>

                      <ul>
                        <li>Free <a href="/Software/Android">Android</a>, <a href="/Software/iOS">iPhone</a> und <a href="/Software/Windows">Windows Phone</a> App</li>
                        <li>Die Web Benutzeroberfläche erlaubt eine einfache Konfiguration über ihren Standard-Internetbrowser (Chrome, Safari, Firefox, Internet Explorer)</li>
                        <li>Multi-User Management und gleichzeitige Logins für drei Benutzer</li>
                        <li>Softwarebasierte Bewegungs-und Audioerkennung und Email-Benachrichtigung mit angehängten Momentaufnahmen</li>
                        <li>Speichern sie Videos direkt auf ihren PC (nur über ActiveX)</li>
                      </ul>
                    </div>

                    <div class="col-12 mb">
                        <p class="text-justify">
                          Der 1/3 Zoll WDR Sensor basiert auf einer 4.3 micron OmniPixel3-HS™ Pixel welche 720p HD ermöglicht, mit einer ungleichen Empfindlichkeit bei schwachem Licht und einem dynamischen Farbbereich von 115dB – zum Vergleich liegt dieser bei den regulären VGA IP Kameras bei 60dB. Durch das WDR sind hochaufgelöste detaillierte Farbvideos auch bei stark-kontrastreichen Umgebungslichtern möglich.                        </p><br>
                        <!-- Button trigger modal -->
                        <button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#Sensor">
                          Sample Images
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="Sensor" tabindex="-1" role="dialog" aria-labelledby="Sensor" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Panasonic MN34229</h4>
                              </div>
                              <div class="modal-body">
                                  <img src="/images/Panasonic_MN34229_Backlight.png" class="img-fluid"></img><br/>
                                  <p class="text-muted">Kompensierung Hintergrundbeleuchtung</p>
                                  <img src="/images/Panasonic_MN34229_Motion-Blur.png" class="img-fluid"></img><br/>
                                  <p class="text-muted">Bewegungsunschärfe</p>
                                  <img src="/images/Panasonic_MN34229_WDR.png" class="img-fluid"></img><br/>
                                  <p class="text-muted">Wide Dynamic Range</p>
                                  <img src="/images/Panasonic_MN34229_ColourNoiseI.png" class="img-fluid"></img><br/>
                                  <p class="text-muted">Zeichenerkennung</p>
                                  <img src="/images/Panasonic_MN34229_ColourNoiseII.png" class="img-fluid"></img><br/>
                                  <p class="text-muted">Low Light Colour Noise</p>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Schließen</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- /modal -->
                    </div>

                    <div class="col-12">
                      <p class="text-justify">Viele eingebaute Funktionen ermöglichen es ihnen die Kamera nicht nur zur Überwachung, sondern auch für private Projekte zu nutzen. Durch die FTP Unterstützung kann ihre IN-5905 HD als multifunktionale Außenkamera für eine Integration auf ihrer Webseite genutzt werden.</p>
                    </div>

          <div class="clearfix"></div>

        </div>
        <!-- /row -->
        </section>
        <!-- /container -->

        <section class="container mb">
          <div class="row mt">

          <div class="clearfix"></div>

          <!-- ############################################  Chart JS ########################################## -->

          <div class="col-lg-6 mb">
            <div class="card shadow">
              <div class="card-header">
                <h5>IN-9008 HD vs. IN-5907 HD</h5>
              </div>
              <div class="card-block">
                <canvas id="radar9008_5907" width="600" height="400"></canvas>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mb">
            <div class="card shadow">
              <div class="card-header">
                <h5>IN-9008 HD vs. IN-2905 V2</h5>
              </div>
              <div class="card-block">
                <canvas id="radar9008_2905" width="600" height="400"></canvas>
              </div>
            </div>
          </div>


          <script src="/javascripts/chartjs/overview9008_radar5907.js"></script>
          <script src="/javascripts/chartjs/overview9008_radar2905.js"></script>

          <!-- #############################################  Chart JS ############################################# -->

            </div>
            <!-- /row -->
          </section>
          <!-- /Container -->

        <section class="instarvision"><% include ../_partials/content/_instarvision.ejs %></section>
        <!-- /webui -->

        <section class="social"><% include ../_partials/template/_social.ejs %></section>
        <!-- /social -->

        <!-- ############################################# Footer ############################################# -->

        <footer><% include ../_partials/template/_footer.ejs %></footer>

        <% include ../_partials/template/_jsdefaults.ejs %>

        <!-- ########################################### Chart JS ########################################### -->



        </div>

    </body>

</html>
