<!DOCTYPE html>
<html ⚡>

<head>
    <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Outdoor_Cameras/IN-9008_HD/Product_Features">
</head>

<body class="home">

  <% include ../_partials/amp/_amp-header.ejs %>

  <div class="wrap">
      <div class="container main">

        <% include ../_partials/content/_bluenav-9008.ejs %>

                <section class="blade get-started">

                    <h1 class="post-title">IN-9008 HD</h1>
                    <h2>Produkt Features</h2>

                    <div class="card-container margin">
                        <div class="onecard">
                            <div class="image">
                              <div class="action">
                              </div>
                              <a href="/Outdoor_Cameras/IN-9008_HD/Technical_Specifications">
                                <amp-img role="button" tabindex="0" src="/images/IN-5905HD_Product-Overview.png" width="1000" height="400" layout="responsive"></amp-img>
                              </a>
                              <div class="action">

                                  <table class="table margin">
                                    <tr>
                                      <th>#</th>
                                      <th>Komponenten</th>
                                      <th>Funktion</th>
                                    </tr>

                                    <tr>
                                      <th scope="row">1</th>
                                      <td>IP65 Metallgehäuse</td>
                                      <td>Qualitativ hochwertiges wettergeschütztes Aluminium Gehäuse</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">2</th>
                                      <td>Infrarot LEDs</td>
                                      <td>5x High-power Nachtsicht IR LED´s @850nm</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">3</th>
                                      <td>Objektiv</td>
                                      <td>Standard 4.2mm F/2.1 Infrarot Objektiv / Blickwinkel: 72.3º dia.)</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">4</th>
                                      <td>CMOS Sensor</td>
                                      <td>Dämmerungschalter für die IR LEDs</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">5</th>
                                      <td>Wandhalterung</td>
                                      <td>Kamera Wandhalterung</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">6</th>
                                      <td>Antennen Anschluß</td>
                                      <td>SMA WLAN Antennen Anschluß</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">7</th>
                                      <td>Netzwerk Port</td>
                                      <td>RJ45 LAN Port für das CAT5e Ethernet Kabel</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">8</th>
                                      <td>Reset / WPS Button</td>
                                      <p><strong>3s</strong> aktiviert WPS (<a href="/Outdoor_Cameras/IN-9008_HD/Point2Point/">Wireless Protected Setup</a>)</p>
                                      <p><strong>10s</strong> setzt Kamera auf Werkseinstellungen zurücksetzen</p>
                                    </tr>
                                    <tr>
                                      <th scope="row">9</th>
                                      <td>Alarm In/Output</td>
                                      <td>Für externe Alarmmelder (z.B. <a href="/Products/IN-Motion">IN-Motion 500</a>) und Hausautomationen<br>Potentialfreier Alarmausgang für max. 60VDC/125VAC und 1A</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">10</th>
                                      <td>Netzanschluss</td>
                                      <td>12V / 2A dc</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">11</th>
                                      <td>Audioausgang</td>
                                      <td>Für Kopfhörer oder Aktiv-Lautsprecher</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">12</th>
                                      <td>Audioeingang</td>
                                      <td>Für externe Mikrofone (z.B. <a href="/Products/IN-Mikro">IN-Mikro 380</a>)</td>
                                    </tr>
                                  </table>
                              </div>
                            </div>
                        </div>
                        <!-- /onecard -->
                    </div>
                    <!-- /card-container -->

                </section>
                <!-- /blade -->
            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <section class="blade blog mobile-down">

            <div class="container wider">
                <div class="row">
                    <div class="twelve columns">
                        <h1>Themen</h1>
                    </div>
                </div>

                <div class="tab-container">

                <section class="blade blog mobile-down">

                    <div class="container wider">
                        <div class="row">
                            <div class="twelve columns">
                                <h1>Verwandte Themen</h1>
                            </div>
                        </div>

                        <div class="tab-container">

                            <a class="tab" href="/Outdoor_Cameras/IN-9008_HD/Safety_Warnings">
                                <h3>Sicherheitswarnungen</h3>
                            </a>

                            <a class="tab" href="/Outdoor_Cameras/IN-9008_HD/Product_Features">
                                <h3>Produkt Features</h3>
                            </a>

                            <a class="tab" href="/Outdoor_Cameras/IN-9008_HD/Quick_Installation">
                                <h3>Schnellinstallation</h3>
                            </a>

                            <a class="tab" href="/Web_User_Interface/1080p_Series">
                                <h3>Weboberfläche</h3>
                            </a>

                            <a class="tab" href="/Quick_Installation/WebUI_And_Firmware_Upgrade">
                                <h3>Software Update</h3>
                            </a>

                            <a class="tab" href="/Outdoor_Cameras/IN-9008_HD/Video_Streaming">
                                <h3>Video Streaming</h3>
                            </a>

                            <a class="tab" href="/Outdoor_Cameras/IN-9008_HD/Camera_Reset">
                                <h3>Kamera Reset</h3>
                            </a>

                            <a class="tab" href="/Outdoor_Cameras/IN-9008_HD/Lense_Adjustment">
                                <h3>Objektivjustage</h3>
                            </a>

                            <a class="tab" href="/Outdoor_Cameras/IN-9008_HD/Technical_Specifications">
                                <h3>Technische Spezifikationen</h3>
                            </a>

                            <a class="tab" href="/Outdoor_Cameras/IN-9008_HD/Warranty">
                                <h3>Garantie &amp; Gewährleistung</h3>
                            </a>
                        </div>

                        <a href="/Products/Usermanuals" target="_blank">MEHR ANSEHEN</a>

                    </div>
                </section>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>

    </body>

</html>
