<!DOCTYPE html>
<html ⚡ lang="de">

<head>
    <% include ../_partials/amp/_amp-head.ejs %>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
</head>

<body class="home">

  <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
      <% include ../_partials/amp/_ampLandingSidebar.ejs %>
  </amp-sidebar>

  <header class="header fixed">
    <% include ../_partials/amp/_amp-header.ejs %>
  </header>

  <div class="wrap">
      <div class="container main">

        <% include ../_partials/content/_bluenav-usermanual.ejs %>

                <section itemscope itemtype="http://schema.org/Article" class="blade wrapper content">
                  <% include ../_partials/amp/_schemaArticle.ejs %>

                    <div class="container">

                      <div>
                        <table class="no-highlight">
                          <tr>
                            <td>
                              <h1 itemprop="name" class="inlineHeader">IN-9008 HD Schnell Installation&nbsp;&nbsp;&nbsp;</h1>
                              <h4>WPS Funktion</h4>
                            </td>
                            <td>
                              <a href="/Outdoor_Cameras/IN-9008_HD/Quick_Installation/PoE_or_WiFi/"><button class="navGo navGoRed">Abschnitt II</button></a>
                            </td>
                          </tr>
                        </table>
                      </div>
                      <!-- /margin -->

                      <div class="card-container">
                          <div class="onecard">
                              <div class="title">
                                  <h3><span class="strong">II-e-1</span>   Activieren Sie WPS</h3>
                              </div>
                              <div class="image">
                                  <amp-img
                                      on="tap:lightbox5"
                                      role="button"
                                      tabindex="0"
                                      src="/images/Usermanuals/IN-9008-Quick-Installation-II-E-1.png" width="842" height="595" layout="responsive">
                                  </amp-img>
                                  <div class="action">
                                      <p>Schließen Sie die WiFi-Antenne an und stellen Sie sicher, dass das Antennenkabel noch angeschlossen ist (siehe Schritt 3 <a href="/Outdoor_Cameras/IN-9008_HD/Quick_Installation/PoE_or_WiFi">hier</a>). Stecken Sie das Netzteil ein und warten Sie, bis die Kamera hochgefahren ist. Drücken Sie die Reset / WPS-Taste für 3s, um die WPS-Funktion zu aktivieren (Achtung: Durch Drücken von 10s wird die Kamera zurückgesetzt!).</p>
                                  </div>
                              </div>
                          </div>
                          <!-- /onecard -->
                      </div>
                      <!-- /card-container -->

                        <div class="card-container">
                            <div class="twocard">
                                <div class="title">
                                    <h3><span class="strong">II-e-2</span>   Router WPS</h3>
                                </div>
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Usermanuals/QI-P2P_Tile_9008_Step_06.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="text-justify">Aktivieren Sie den WPS-Modus Ihres Routers gleichzeitig mit der Aktivierung auf Ihrer Kamera. Bitte beziehen Sie sich auf das Handbuch Ihres Router bezüglich der WPS-Funktion.</p>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="title">
                                    <h3><span class="strong">II-e-3</span>   Camera Tool</h3>
                                </div>
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Usermanuals/Quickinstallation_Tile_9008_Step_10.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="text-justify">Starten Sie das <a href="http://install.instar.de/en/optional_tool_en.html">IP Camera Tool</a> und doppelklicken Sie auf den Namen der Kamera.<br/><br/></p>
                                </div>
                            </div>
                        </div>
                        <!-- /card-container -->

                        <div class="card-container">
                            <div class="twocard">
                                <div class="title">
                                    <h3><span class="strong">II-e-4</span>   Benutzer Login</h3>
                                </div>
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Usermanuals/Quickinstallation_Tile_9008_Step_11.png"></amp-img>
                                </div>
                                <div class="action">
                                      <p class="text-justify">Der Standard-Administrator-Login ist Benutzer / Passwort: <strong>admin / instar</strong>. Unser <a href="http://install.instar.de">Installation Wizard</a> führt Sie durch den Rest des Installationsprozesses.</p>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="title">
                                    <h3><span class="strong">II-e-5</span>   Video Plugin</h3>
                                </div>
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Usermanuals/Quickinstallation_Tile_9008_Step_12.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="text-justify">Sie müssen jetzt das <a href="/Quick_Installation/Live_Video">Adobe Flash Plugin</a> installieren, um den h.264 Video-Stream anzuzeigen. Sie können alternative den <a href="/Web_User_Interface/1080p_Series/Multimedia/Video/">MJPEG Stream</a> aktivieren, falls Sie nicht berechtigt sind Browser-Plugins auf Ihrem Computer zu installieren.</p>
                                </div>
                            </div>
                        </div>
                        <!-- /card-container -->

                      <div class="card-container">
                          <div class="onecard">
                              <div class="title">
                                  <h3><span class="strong">II-e-6</span>   Internet Zugang</h3>
                              </div>
                              <div class="image">
                                  <amp-img
                                      on="tap:lightbox8"
                                      role="button"
                                      tabindex="0"
                                      src="/images/Usermanuals/IN-9008-Quick-Installation-1-(16).png" width="842" height="595" layout="responsive">
                                  </amp-img>
                                  <div class="action">
                                      <p class="text-justify">Sie müssen <a href="/Internet_Access/Port_Forwarding">einen Port</a> in Ihrem Router weiterleiten, wenn Sie über die <a href="/Internet_Access/The_DDNS_Service">DDNS-Adresse</a> aus dem Internet auf Ihre Kamera zugreifen möchten. Alternativ können Sie die <a href="/Web_User_Interface/1080p_Series/Network/Remote_Access/">P2P-Benutzer-ID</a> verwenden, um mit unserer Smartphone-App auf Ihre Kamera zuzugreifen (siehe Schritt 12 weiter unten).</p>
                                  </div>
                              </div>
                          </div>
                          <!-- /onecard -->
                      </div>
                      <!-- /card-container -->

                        <div class="card-container">
                            <div class="twocard">
                                <div class="title">
                                    <h3><span class="strong">II-e-7</span>   DDNS Zugriff</h3>
                                </div>
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Usermanuals/Quickinstallation_Tile_9008_Step_19.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="text-justify">Jetzt können Sie die DDNS-Informationen Ihrer Kamera in unser kostenlose <a href="/Software/Windows/InstarVision/Windows_Phone/DDNS">Windows Phone</a>, <a href="/Software/Windows/InstarVision/Metro/DDNS">Windows Metro</a>, <a href="/Software/Android/InstarVision/DDNS">Android</a>, <a href="/Software/iOS/InstarVision/iPhone/DDNS">iPhone</a>, <a href="/Software/iOS/InstarVision/iPad/DDNS">iPad</a> oder <a href="/Software/Other_Platforms/InstarVision_Blackberry">Blackberry</a> App eingeben.<br><br><br></p>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="title">
                                    <h3><span class="strong">II-e-8</span>   P2P Zugriff</h3>
                                </div>
                                <div class="image">
                                    <amp-img noloading height=450 width=600 layout=responsive src="/images/Usermanuals/Quickinstallation_Tile_9008_Step_20.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="text-justify">Wenn Sie keinen Port für den DDNS-Dienst der Kamera öffnen können, können Sie stattdessen den <a href="/Web_User_Interface/1080p_Series/Network/Remote_Access/">P2P-Dienst </a> mit unserer <a href="/Software/Windows/InstarVision/Windows_Phone/P2P">Windows Phone</a>, <a href="/Software/Windows/InstarVision/Metro/P2P">Windows Metro</a>, <a href="/Software/Android/InstarVision/P2P">Android</a>, <a href="/Software/iOS/InstarVision/iPhone/P2P">iPhone</a>, <a href="/Software/iOS/InstarVision/iPad/P2P">iPad</a> oder <a href="/Software/Other_Platforms/InstarVision_Blackberry">Blackberry</a> App verwenden.</p>
                                </div>
                            </div>
                        </div>
                        <!-- /card-container -->

                        <div class="card-container">
                            <div class="onecard">
                                <div class="title">
                                    <h3><span class="strong">II-e-9</span>   Zusammenbauen</h3>
                                </div>
                                <div class="image">
                                    <amp-img
                                        on="tap:lightbox8"
                                        role="button"
                                        tabindex="0"
                                        src="/images/Usermanuals/IN-9008-Quick-Installation-II-E-9.png" width="842" height="595" layout="responsive">
                                    </amp-img>
                                    <div class="action">
                                        <p>Befestigen Sie die Hauptplatine und montieren Sie die Rückplatte mit den 4 Schrauben wieder am Kameragehäuse. Schrauben Sie danach die Wandhalterung an der Rückseite der Kamera.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- /onecard -->
                        </div>
                        <!-- /card-container -->

                          <div class="card-container">
                              <div class="onecard">
                                  <div class="title">
                                      <h3><span class="strong">II-e-10</span>   Installation</h3>
                                  </div>
                                  <div class="image">
                                      <amp-img
                                          on="tap:lightbox9"
                                          role="button"
                                          tabindex="0"
                                          src="/images/Usermanuals/IN-9008-Quick-Installation-II-E-10.png" width="842" height="595" layout="responsive">
                                      </amp-img>
                                      <div class="action">
                                          <p>Installieren Sie Ihre Kamera und schließen Sie das Netzteil an. Die Kamera sollte sich automatisch wieder mit Ihrem WiFi-Netzwerk verbinden.</p>
                                      </div>
                                  </div>
                              </div>
                              <!-- /onecard -->
                          </div>
                          <!-- /card-container -->

                    </div>
                    <!-- /container -->
                </section>
                <!-- /blade -->

                <!-- ################ Lightboxes ###################### -->

                <amp-image-lightbox id="lightbox5" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox8" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox8" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox9" layout="nodisplay"></amp-image-lightbox>

            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../_partials/content/_bluenav-usermanual-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>

    </body>

</html>
