<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    </head>

    <body class="home">

        <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
            <% include ../_partials/amp/_ampLandingSidebar.ejs %>
        </amp-sidebar>

        <header class="header fixed">
            <% include ../_partials/amp/_amp-header.ejs %>
        </header>

        <div class="wrap">
            <div class="container main">

              <% include ../_partials/content/_bluenav-general.ejs %>

                    <article class="blade wrapper content">
                    <!-- article -->

                    <div>
                        <h1>Android &amp; iOS Software</h1>
                        <h2>IP Cam Viewer</h2>
                        <p>
                          Um auf Ihre IP Kamera mit der App IP Cam Viewer zuzugreifen, empfehlen wir zuerst die aktuellste Version aus dem App Store herunterzuladen. Nutzen Sie das Suchwort <a href="https://play.google.com/store/apps/details?id=com.rcreations.WebCamViewerPaid&hl=en">IP Cam Viewer</a> um die App im AppStore zu finden.
                        </p>

                        <div class="margin">
                            <p><strong>INSTAR Full HD Kamera?</strong>
                            <a href="/Software/Mobile_Apps_HTTPS_and_RTSP/" target="_blank"><button type="button" class="navGo navGoRed">RTSP Stream</button></a></p>
                        </div>
                        <!-- /margin -->
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h3>Kameras hinzufügen</h3>
                      <p>Nachdem Sie die neueste Version installiert haben, Starten Sie die App und klicken den + Button unten links um eine neue Kamera hinzuzufügen.</p>
                      <br>
                      <div>
                          <amp-img role="button" tabindex="0" src="/images/Software/IP-Cam-Viewer_Android_(1).png" width="1280" height="800" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <p><strong>Fig1.</strong> Klicken Sie auf den + Button um eine neue Kamera hinzuzufügen.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img role="button" tabindex="0" src="/images/Software/IP-Cam-Viewer_Android_(2).png" width="1280" height="800" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <p><strong>Fig2.</strong> Auswählen um eine neue Kamera hinzuzufügen.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h3>Kamera Setup</h3>
                      <br>
                      <div>
                          <amp-img role="button" tabindex="0" src="/images/Software/TinyCam-Monitor_(4).png" width="1280" height="800" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <br>
                      <p class="justify"><strong>Fig3.</strong> <strong>HD Kamera</strong>: Wählen Sie das richtige INSTAR Kamera Profil, geben Sie die IP-Adresse der Kamera ein oder die <a href="/Internet_Access/The_DDNS_Service">DDNS Adresse</a>, den Web Port und Ihre persönlichen Kamera-Logindaten. Ihre HD Kamera bietet Ihnen 3 verschiedene Videokanäle mit unterschiedlichen Auflösungen - 11, 12 und 13. Wir empfehlen den Kanal 12, wenn Sie aus dem Internet zugreifen (bei Problemen können Sie auch auf den Kanal 13 wechseln).</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img role="button" tabindex="0" src="/images/Software/IP-Cam-Viewer_Android_(4).png" width="1280" height="800" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <br>
                      <p><strong>Fig4.</strong> <strong>VGA Kamera</strong>: Wählen Sie das richtige INSTAR Kamera Profil, geben Sie die IP-Adresse der Kamera ein oder die <a href="/Internet_Access/The_DDNS_Service">DDNS Adresse</a>, den Web Port und Ihre persönlichen Kamera-Logindaten.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <p>Bitte geben Sie folgende Daten ein um Ihre Kamera hinzuzufügen:</p>
                      <ul>
                        <li><strong>Kamera Name</strong>: Sie können einen Namen für Ihre Kamera auswählen - der Name muss nicht mit dem Kameranamen in der Weboberfläche übereinstimmen.</li>
                        <li><strong>Kamera Modell</strong>: IP Cam Viewer erlaubt es Kameras von verschiedenen Herstellern hinzuzufügen. Bitte wählen Sie den Korrekte Hersteller und das Modell Ihrer Kamera.</li>
                        <li><strong>Hostname/IP Adresse</strong>: Geben Sie die lokale IP Adresse (z.B. 192.168.178.26) ein, um Ihre Kamera von zu Hause aus zu erreichen oder nutzen Sie Ihre <a href="/Internet_Access/The_DDNS_Service">DDNS Adresse</a> (z.B. abcd12.ddns-instar.de) when Sie Ihre Kamera von außerhalb erreichen möchten. Bitte beachten Sie, dass Sie eine <a href="/Internet_Access/Port_Forwarding">Portweiterleitung</a> in Ihrem Router benötigen, um den DDNS Service zu nutzen! Sie müssen nicht den Port Ihrer Kamera dahinterschreiben, wenn Ihre Kamera einen anderen HTTP Port als Port 80 verwendet.</li>
                        <li><strong>Port</strong>: Geben Sie den HTTP Port der Kamera ein, dieser kann in der Weboberfläche unter Netzwerk / IP Konfiguration gefunden werden. Der Standardwert ist 80.</li>
                        <li><strong>Benutzername</strong>: Um Ihre Kamera zu erreichen müssen Sie den Benutzernamen Ihrer Kamera eingeben. Der Standardbenutzername für HD und VGA Kameras ist admin.</li>
                        <li><strong>Passwort</strong>: Geben Sie das Passwort ein, dass Sie für Ihre Weboberfläche nutzen. Das Standardpasswort für HD Kameras ist instar und kein Passwort bei VGA Kameras.</li>
                      </ul>
                      <br>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h3>Erweiterte Einstellungen</h3>
                      <p>Verwenden Sie den Mehr Optionen Button im Installationsmenü um die erweiterten Funktionen im Menü zu aktivieren.</p>
                      <br>
                      <div>
                          <amp-img role="button" tabindex="0" src="/images/Software/IP-Cam-Viewer_Android_(5).png" width="1280" height="800" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <br>
                      <p><strong>Fig5.</strong> Erweiterte Funktionen aktivieren.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h3>Das Live View Fenster</h3>
                      <br>
                      <div>
                          <amp-img role="button" tabindex="0" src="/images/Software/IP-Cam-Viewer_Android_(14).png" width="1280" height="800" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <br>
                      <p><strong>Fig6.</strong> Nachdem Sie Ihre Kamera hinzugefügt haben, können Sie Ihre Kamera im Multiview Fenster sehen. Das Multiview Fenster erlaubt es Ihnen, einen Blick auf all Ihre Kameras zu werfen.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h3>Das Kamera Fenster</h3>
                      <p>Sie können das Kamera Fenster erreichen, indem Sie auf ein KameraVideo im Multiview Fenster klicken. Sie haben Zugriff auf verschiedene Buttons, je nachdem welche Funktionen Ihre Kamera unterstützt.</p>
                      <div>
                          <amp-img role="button" tabindex="0" src="/images/Software/IP-Cam-Viewer_Android_(16).png" width="1280" height="800" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <br>
                      <p><strong>Fig7.</strong> Durch Auswählen einer Kamera im Multiview Fenster gelangen Sie zur Kamera.</p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->
            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
