<% include ../_partials/template/_head.ejs %>

    <body>
      <% include ../_partials/template/_outdated.ejs %>

      <div id="wrapper">

        <header><% include ../_partials/template/_header.ejs %></header>
        <!-- Navbar-->

        <div class="clearfix"></div>

        <!-- #############################################  Content ############################################# -->

        <div itemscope itemtype="http://schema.org/Article" class="container">
          <% include ../_partials/amp/_schemaArticle.ejs %>
          
          <div class="row">

            <div class="col-sm-12 col-md-7">

              <div class="mb mt">
                <h1 itemprop="name">InstarVision für Blackberry</h1>
                <br>
                <p class="text-justify">Um Ihre IP Kamera mit unserer Blackberry App <strong>InstarVision</strong> zu erreichen, empfehlen wir zuerst die <a itemprop="url" href="https://appworld.blackberry.com/webstore/content/59960469/?lang=en">neueste Version</a> aus dem App-Store herunterladen. Nutzen Sie das Suchwort Instar, um die App im BB-Store zu finden.</p>
              </div>

              <div class="card card-inverse card-success mb mt">
                <div class="card-block">
                  <blockquote class="card-blockquote">
                    <p>Für mehr Informationen lesen Sie unseren Artikel über die: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="/Software/Android/InstarVision"><button type="button" class="btn btn-primary">Android App</button></a></p>
                  </blockquote>
                </div>
              </div>


              <!-- ########################################### Gallery ########################################### -->

              <div class="card-deck-wrapper">
                <div class="card-deck">
                  <div class="card card-inverse mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid" src="/images/Software/Instarvision.blackberry.app_01.png" alt="Card image cap">
                    <div class="card-block">
                      <p class="card-title">Multi-Ansicht</p>
                    </div>
                  </div>
                  <div class="card card-inverse mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid" src="/images/Software/Instarvision.blackberry.app_02.png" alt="Card image cap">
                    <div class="card-block">
                      <p class="card-title">Vollbildanschicht</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /Deck-Wrapper -->

              <div class="card-deck-wrapper mb">
                <div class="card-deck">
                  <div class="card card-inverse" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid" src="/images/Software/Instarvision.blackberry.app_03.png" alt="Card image cap">
                    <div class="card-block">
                      <p class="card-title">Volle Kamerakontrolle</p>
                    </div>
                  </div>
                  <div class="card card-inverse mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid" src="/images/Software/Instarvision.blackberry.app_04en.png" alt="Card image cap">
                    <div class="card-block">
                      <p class="card-title">FAQ Seiten miteingebunden</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /Deck-Wrapper -->

              <div class="card-deck-wrapper">
                <div class="card-deck">
                  <div class="card card-inverse mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid" src="/images/Software/Instarvision.blackberry.app_05en.png" alt="Card image cap">
                    <div class="card-block">
                      <p class="card-title">Anpassbar</p>
                    </div>
                  </div>
                  <div class="card invisible">
                  </div>
                </div>
              </div>
              <!-- /Deck-Wrapper -->



            </div>
            <!-- /Close Content Container -->

            <!-- ##################################### Aside ########################################## -->

            <aside class="container hidden-sm-down offset-md-1 col-md-3"> <!-- Side Nav Container -->

              <div style="cursor: pointer; margin:40px 15px 20px 20px;">
                <a href="https://appworld.blackberry.com/webstore/content/59960469/?lang=en">
                  <img src="/images/Software/BFBLogo_90x35-wht.png" class="img-fluid img-rounded shadow" alt="InstarVision for Blackberry" style="margin-bottom: 10px"/>
                </a>
              </div>

              <div style="cursor: pointer; margin:40px 15px 20px 20px;" onclick="window.location='/index.php/InstarVision_Surveillance_Solution';">
                <img src="/images/Software/Slider_6012hd_blank.jpg" class="img-fluid img-rounded shadow" alt="InstarVision IP Surveillance Solution" style="margin-bottom: 10px"/>
                <p class="text-muted text-justify">*Alle Smartphone Apps sind kostenlos verfügbar - Android, iOS, Blackberry and Windows Phone - als auch die Windows Metro App. Preise für unsere Windows und MacOSX Version von InstarVision finden Sie in unserem <a href="http://www.instar.de/software.html"> Webshop</a>.</p>
              </div>

              <div style="cursor: pointer; margin:40px 15px 20px 20px;">
                <h4>InstarVision IP Überwachngsstation</h4>
                <ul>
                  <li><a href="/Software/Windows/InstarVision" title="InstarVision for Windows">Windows</a></li>
                  <li><a href="/Software/iOS/InstarVision" title="InstarVision for iOS">iOS</a></li>
                  <li><a href="/Software/Android/InstarVision" title="InstarVision for Blackberry">Android</a></li>
                  <li><a href="/Software/Windows/InstarVision/Windows_Phone" title="InstarVision for Windows Phone">Windows Phone</a></li>
                  <li><a href="/Software/Windows/InstarVision/Metro" title="InstarVision for Windows Metro">Windows Metro</a></li>
                  <li><a href="/Software/Other_Platforms/InstarVision_Blackberry" title="InstarVision for Blackberry">Blackberry</a></li>
               </ul>
              </div>

            </aside>



          </div>
          <!-- / row -->
        </div>
        <!-- / container -->

        <div class="clearfix mb"></div>

        <!-- #############################################  Gallery ############################################# -->

        <section class="instarvision mb"><% include ../_partials/content/_instarvision.ejs %></section>
        <!-- /webui -->

        <section class="social"><% include ../_partials/template/_social.ejs %></section>
        <!-- /social -->

        <!-- ############################################# Footer ############################################# -->

        <footer><% include ../_partials/template/_footer.ejs %></footer>

        <% include ../_partials/template/_jsdefaults.ejs %>

        </div>
        <!-- /Wrapper -->

    </body>

</html>
