<!DOCTYPE html>
<html ⚡ lang="en">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-fit-text" src="https://cdn.ampproject.org/v0/amp-fit-text-0.1.js"></script>
    </head>

    <body class="home">

        <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
            <% include ../_partials/amp/_ampLandingSidebar.ejs %>
        </amp-sidebar>

        <header class="header fixed">
            <% include ../_partials/amp/_amp-header.ejs %>
        </header>

        <div class="wrap">
            <div class="container main">

              <% include ../_partials/content/_bluenav-general.ejs %>

                  <section class="blade wrapper content">
                      <!-- section -->

                  <div>
                    <h1>Software</h1>
                    <h2>InstarVision Surveillance Station</h2>
                    <h4>Offizielle INSTAR Software für Ihre INSTAR IP Kamera</h4>
                  </div>

                  <div class="row">

                    <a href="/Software/Windows/InstarVision/">
                      <div class="mediaObject six columns shadow">
                          <amp-img noloading width=75 height=75 layout=fixed src="/images/Landing_Tiles/Wiki_Tiles_P-Windows_white.png"></amp-img>
                        <div>
                          <h3>Windows 7 - 10</h3>
                          <br>
                          <amp-fit-text
                              width="245"
                              height="115"
                              layout="responsive"
                              class="desktop-up">Verwenden Sie unser InstarVision Surveillance Center, um bis zu 64 IP-Kameras von Ihrem Windows 7, 8 oder 10 PC aus zu verwalten. Kontinuierliche oder Alarmaufzeichnungen mit FTP-Uploads und E-Mail-Benachrichtigungen.
                          </amp-fit-text>
                          <p class="mobile-down">Verwenden Sie unser InstarVision Surveillance Center, um bis zu 64 IP-Kameras von Ihrem Windows 7, 8 oder 10 PC aus zu verwalten. Kontinuierliche oder Alarmaufzeichnungen mit FTP-Uploads und E-Mail-Benachrichtigungen.</p>
                        </div>
                      </div>
                    </a>

                    <a href="/Software/Windows/InstarVision/Metro/">
                      <div class="mediaObject six columns shadow">
                          <amp-img noloading width=75 height=75 layout=fixed src="/images/Landing_Tiles/Wiki_Tiles_P-Windows_white.png"></amp-img>
                        <div>
                          <h3>Windows Metro</h3>
                          <br>
                          <amp-fit-text
                              width="245"
                              height="115"
                              layout="responsive"
                              class="desktop-up">Die kostenlose Windows 8 - 10 Metro Software kann im Microsoft Store installiert werden und ermöglicht Ihnen die Erstellung einer Multiansicht mit allen lokalen oder über das Internet mit DDNS oder P2P verbundenen IP-Kameras auf Ihrem Windows Desktop.
                          </amp-fit-text>
                          <p class="mobile-down">Die kostenlose Windows 8 - 10 Metro Software kann im Microsoft Store installiert werden und ermöglicht Ihnen die Erstellung einer Multiansicht mit allen lokalen oder über das Internet mit DDNS oder P2P verbundenen IP-Kameras.</p>
                        </div>
                      </div>
                    </a>

                  </div>
                  <!-- /row -->

                  <div class="row">

                    <a href="/Software/Windows/InstarVision/Windows_Phone/">
                      <div class="mediaObject six columns shadow">
                          <amp-img noloading width=75 height=75 layout=fixed src="/images/Landing_Tiles/Wiki_Tiles_P-Windows_white.png"></amp-img>
                        <div>
                          <h3>Windows Phone</h3>
                          <br>
                          <amp-fit-text
                              width="245"
                              height="115"
                              layout="responsive"
                              class="desktop-up">Verwenden Sie unsere InstarVision Windows Phone App, um Ihre IP-Kameras von Ihrem Smartphone aus zu verwalten. Fügen Sie Ihre Kamera über DDNS oder P2P hinzu und werden Sie per Alarm Push Notifications und Email benachrichtigt.
                          </amp-fit-text>
                          <p class="mobile-down">Verwenden Sie unsere InstarVision Windows Phone App, um Ihre IP-Kameras von Ihrem Smartphone aus zu verwalten. Fügen Sie Ihre Kamera über DDNS oder P2P hinzu und werden Sie per Alarm Push Notifications und Email benachrichtigt.</p>
                        </div>
                      </div>
                    </a>

                    <a href="/Software/Android/InstarVision/">
                      <div class="mediaObject six columns shadow">
                          <amp-img noloading width=75 height=75 layout=fixed src="/images/Landing_Tiles/Wiki_Tiles_P-Android_white.png"></amp-img>
                        <div>
                          <h3>Android</h3>
                          <br>
                          <amp-fit-text
                              width="245"
                              height="115"
                              layout="responsive"
                              class="desktop-up">Verwenden Sie unsere InstarVision Android App, um Ihre IP-Kameras von Ihrem Smartphone oder Tablet aus zu verwalten. Fügen Sie Ihre Kamera über DDNS oder P2P hinzu und werden Sie über die Bewegungserkennung Push Notifications benachrichtigt.
                          </amp-fit-text>
                          <p class="mobile-down">Verwenden Sie unsere InstarVision Android App, um Ihre IP-Kameras von Ihrem Smartphone oder Tablet aus zu verwalten. Fügen Sie Ihre Kamera über DDNS oder P2P hinzu und werden Sie über die Bewegungserkennung Push Notifications benachrichtigt.</p>
                        </div>
                      </div>
                    </a>

                  </div>
                  <!-- /row -->

                  <div class="row">

                    <a href="/Software/iOS/InstarVision/iPhone/">
                      <div class="mediaObject six columns shadow">
                          <amp-img noloading width=75 height=75 layout=fixed src="/images/Landing_Tiles/Wiki_Tiles_P-iOS_white.png"></amp-img>
                        <div>
                          <h3>iOS - iPhone</h3>
                          <br>
                          <amp-fit-text
                              width="245"
                              height="115"
                              layout="responsive"
                              class="desktop-up">Verwenden Sie unsere InstarVision iPhone App, um Ihre IP-Kamera von Ihrem Apple Smartphone aus zu verwalten. Fügen Sie Ihre Kamera über DDNS oder P2P hinzu und erhalten Sie eine Push-Benachrichtigung, falls eine Bewegung erkannt wird.
                          </amp-fit-text>
                          <p class="mobile-down">Verwenden Sie unsere InstarVision iPhone App, um Ihre IP-Kamera von Ihrem Apple Smartphone aus zu verwalten. Fügen Sie Ihre Kamera über DDNS oder P2P hinzu und werden Sie per Push-Benachrichtigung benachrichtigt, falls eine Bewegung erkannt wird.</p>
                        </div>
                      </div>
                    </a>

                    <a href="/Software/iOS/InstarVision/iPad">
                      <div class="mediaObject six columns shadow">
                          <amp-img noloading width=75 height=75 layout=fixed src="/images/Landing_Tiles/Wiki_Tiles_P-iOS_white.png"></amp-img>
                        <div>
                          <h3>iOS - iPad</h3>
                          <br>
                          <amp-fit-text
                              width="245"
                              height="115"
                              layout="responsive"
                              class="desktop-up">Verwenden Sie unsere InstarVision iPad App, um Ihre IP-Kamera von Ihrem Apple Tablet aus zu verwalten. Fügen Sie Ihre Kamera über DDNS oder P2P hinzu und werden Sie per Push-Benachrichtigung benachrichtigt, falls eine Bewegung erkannt wird.
                          </amp-fit-text>
                          <p class="mobile-down">Verwenden Sie unsere InstarVision iPad App, um Ihre IP-Kamera von Ihrem Apple Tablet aus zu verwalten. Fügen Sie Ihre Kamera über DDNS oder P2P hinzu und werden Sie per Push-Benachrichtigung benachrichtigt, falls eine Bewegung erkannt wird.</p>
                        </div>
                      </div>
                    </a>

                  </div>
                  <!-- /row -->

                </section>
                <!-- /article -->
            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
