<% include ../_partials/template/_head.ejs %>

    <body itemscope itemtype="http://schema.org/Article">
      <% include ../_partials/template/_outdated.ejs %>

      <div id="wrapper">

        <header><% include ../_partials/template/_header.ejs %></header>
        <!-- Navbar-->

        <div class="clearfix"></div>

        <!-- #############################################  Gallery ############################################# -->

        <section class="container mb">
          <div class="row">

            <div class="container col-12">
            <!-- Media Container -->

              <h1 itemprop="name">Das Einstellungsmenü</h1>
              <br>
              <br>

              <div class="card-deck-wrapper">
                <div class="card-deck">
                  <div class="card card-inverse mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid img-rounded" src="/images/Software/IPhone_App_NEW_(26).png" alt="InstarVision for iOS">
                    <div class="card-block">
                      <p style="padding: 10px 5px 0 5px; color: #FFF;">
                      <span class="fa-stack">
                      <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                      <strong class="fa-stack-1x">1</strong>
                    </span> Der Einstellungen Button führt Sie zu den allgemeinen Einstellungen der App.</p>
                    </div>
                  </div>
                  <div class="card card-inverse mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid img-rounded" src="/images/Software/IPhone_App_NEW_(27).png" alt="InstarVision for iOS">
                    <div class="card-block">
                      <p style="padding: 10px 5px 0 5px; color: #FFF;">
                      <span class="fa-stack">
                      <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                      <strong class="fa-stack-1x" style="color: white;">2</strong>
                    </span> Das Einstellungsmenü beinhaltet auch eine Hilfe Sektion.</p>
                    </div>
                  </div>
                  <div class="card card-inverse mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid img-rounded" src="/images/Software/IPhone_App_NEW_(28).png" alt="InstarVision for iOS">
                    <div class="card-block">
                      <p style="padding: 10px 5px 0 5px; color: #FFF;">
                      <span class="fa-stack">
                      <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                      <strong class="fa-stack-1x" style="color: white;">3</strong>
                    </span> Unter Schaltflächen finden Sie eine Beschreibung aller Funktionsbuttons der App. Siehe auch Multview Menü.</p>
                    </div>
                  </div>
                  <div class="card invisible">
                  </div>
                </div>
              </div>

              <div class="clearfix"></div>

            </div>
            <!-- /Row -->
          </section>
          <!-- /Container -->

          <!-- #############################################  Table ############################################# -->

          <section class="container mb">
            <div class="row">

              <div class="container col-12 mt">
              <!-- Text Container -->

                <h3>Globale Einstellungen für die App</h3>
                <p class="text-justify">Die allgmeinen Einstellungen ermöglichen Ihnen globale Videoeinstellungen zu setzen und die eingebundenen Kameras zu exportieren/importieren.</p>

                <table class="table table-hover">
                  <tr>
                    <th scope="row">Mobiler Modus</th>
                    <td>Der mobile Modus greift Schnappschüsse in einem festen Intervall von der Kamera ab, anstatt den h.264 Stream zu nehmen. Dies reduziert die Bandbreitenanforderungen und ermöglicht Ihnen den Zugriff auch wenn die 3G/LTE Verbindung zu schwach ist um einen hochaufgelösten Live Stream aufrecht zu halten. Sie können hiermit auch drastisch das Datenaufkommen reduzieren. Beachten Sie bitte, dass der mobile Modus nicht für P2P Kameras zur Verfügung steht.</td>
                  </tr>
                  <tr>
                    <th scope="row">Bildvorschau</th>
                    <td>Bestimmen Sie wieviele Kameras Sie im Multiview Menü gleichzeitig sehen wollen und mit welcher Bildwiederholungsrate die Kameras angezeigt werden. Sie können auch festlegen ob die App das Seitenverhältnis des Kamerabildes beachten soll, ob der Bildschirm Ihres Smartphones kontinuierlich an sein soll (wenn die App läuft) und ob Sie die Aktualisierung der Bilder stoppen möchten, wenn Ihr Smartphone sich nicht in einem WLAN befindet (3G, LTE...).</td>
                  </tr>
                  <tr>
                    <th scope="row">Video Optionen</th>
                    <td>Diese Einstellungen betreffen die Vollbildansicht des Live Streams Ihrer Kamera. Bestimmen Sie ob Sie das Bildseitenverhältnis des Videos Ihrer Kamera einhalten möchten (oder ob dieses frei maximiert werden soll), ob der Bildschirm Ihres Smartphones permanent an bleiben soll und ob Sie das hardware-beschleunigte Video Rendering nutzen möchten.</td>
                  </tr>
                  <tr>
                    <th scope="row">Audio</th>
                    <td>Das Audio der Kameras wird standardmäßig um 50% verstärkt. Passen Sie diesen Wert hier an.</td>
                  </tr>
                  <tr>
                    <th scope="row">Data &amp; Sync</th>
                    <td>Die App synchronisiert alle Einstellungen (Status der Bewegungserkennung, Relaistellung, Audioalarm, etc.) mit Ihrer Kamera, wenn Sie auf den Live Stream der Kamera zugreifen. Sie können hier einmal global die Einstellungen aller eingebundenen Kameras aktualisieren. Die Export Funktion exportiert die gemachten Einstellungen, inklusive aller eingebundener Kameras, in eine Datei. Über den Import können Sie diese beispielsweise auf ein anderes Smartphone übertragen.</td>
                  </tr>
                </table>

              </div>


          </div>
          <!-- / row -->
        </section>
        <!-- / container -->

        <!-- #############################################  Youtube ############################################# -->

        <section class="container">
          <div class="row">

            <div class="mb mt">

              <h2>Verfügbare Youtube Anleitungen:</h2>
              <br>

              <div class="card-group mb">
                  <div class="card">
                      <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/pSxS0qpFrg8?rel=0" allowfullscreen></iframe>
                      </div>
                      <div class="card-block">
                        <h4 class="card-title">App Einstellungen</h4>
                      </div>
                    </div>
                </div>

              </div>

            </div>
            <!-- / row -->
          </section>
          <!-- / container -->

        <div class="clearfix mb"></div>

        <!-- #############################################  Gallery ############################################# -->

        <section class="instarvision mb"><% include ../_partials/content/_instarvision.ejs %></section>
        <!-- /webui -->

        <section class="social"><% include ../_partials/template/_social.ejs %></section>
        <!-- /social -->

        <!-- ############################################# Footer ############################################# -->

        <footer><% include ../_partials/template/_footer.ejs %></footer>

        <% include ../_partials/template/_jsdefaults.ejs %>

        </div>
        <!-- /Wrapper -->

    </body>

</html>
