<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
    </head>

    <body class="home">

        <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
            <% include ../_partials/amp/_ampLandingSidebar.ejs %>
        </amp-sidebar>

        <header class="header fixed">
            <% include ../_partials/amp/_amp-header.ejs %>
        </header>

        <div class="wrap">
            <div class="container main">

              <% include ../_partials/content/_bluenav-general.ejs %>

                    <article itemscope itemtype="http://schema.org/Article" class="blade wrapper content">
                    <!-- article -->

                    <div>
                        <h1>Andere Platformen</h1>
                        <h2 itemprop="name">QNAP Surveillance Station</h2>
                        <p class="text-justify">Die Überwachungsstation ist ein professionelles Netzwerküberwachungs Video-Management-System (VMS). Als eine der Turbo NAS Standardanwendungen kann die Überwachungsstation auf dem QTS App Center aktiviert werden, um den Turbo NAS in ein professionelles Netzwerk-Videorekorder (NVR) System zuverwandeln. Welches es Ihnen ermöglicht, mittels Echtzeit-Überwachung, Aufzeichnung, Wiedergabe, Alarmmeldungen, Intelligent Video Analyse (IVA) und Management, Ihr Vermögen und Eigentum zu schützen, wenn es mit unterstützten IP-Kameras eingesetzt wird.<br><br>Um Ihre INSTAR IP-Kamera in der <a href="http://www.qnap.com/i/station/en/surveillance-overview-s.php">QNAP Surveillance Station</a> zu integrieren, empfehlen wir Ihnen, die neueste Version von QNAP im App-Store herunterzuladen.</p>
                    </div>

                    <div class="margin">
                      <h3>Fügen Sie eine HD-Kamera hinzu</h3>
                      <p>Starten Sie die Überwachungs App aus der QNAP Weboberfläche und klicken Sie auf die Schaltfläche <strong>Hinzufügen</strong>. Geben Sie nun die Adresse Ihrer lokalen HD-Kamera, den HTTP und RTSP-Port und Ihre Anmeldedaten ein.</p>
                      <br>
                      <amp-img
                          on="tap:QNAP_Surveillance_Station_02"
                          role="button"
                          tabindex="0"
                          src="/images/Software/QNAP_Surveillance_Station_02.png" width="1150" height="615" layout="responsive" class="shadow">
                      </amp-img>
                      <br>
                      <p>Starten Sie die Überwachungs App aus der QNAP Weboberfläche und klicken Sie auf die Schaltfläche <strong>Hinzufügen</strong>.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:QNAP_Surveillance_Station_03"
                          role="button"
                          tabindex="0"
                          src="/images/Software/QNAP_Surveillance_Station_03.png" width="1150" height="608" layout="responsive" class="shadow">
                      </amp-img>
                      <br>
                      <p>Geben Sie die lokale IP-Adresse der Kamera und Ihre Zugangsdaten ein.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:QNAP_Surveillance_Station_04"
                          role="button"
                          tabindex="0"
                          src="/images/Software/QNAP_Surveillance_Station_04.png" width="1150" height="608" layout="responsive" class="shadow">
                      </amp-img>
                      <br>
                      <p>Stellen Sie die Bildqualität des Kamera- Live-Streams auf Ihre Bedürfnisse ein.</p>
                      <br>
                      <h4>Wie kann ich ein nicht gelistetet Kameramodell hinzufügen?</h4>
                      <div class="card-container">
                          <div class="twocard">
                              <div class="image">
                                <amp-img
                                    on="tap:QNAP_Surveillance_Station_X1"
                                    role="button"
                                    tabindex="0"
                                    src="/images/Software/QNAP_Surveillance_Station_X1.png" height=411 width=770 layout="responsive" class="shadow">
                                </amp-img>
                              </div>
                              <div class="action">
                                  <p>Wenn Sie veruchen ein Kameramodel zur Surveillance Station hinzufügen möchten, dass noch nicht unterstützt wird, werden Sie eine <strong>Model Mismatch</strong> Fehlermeldung erhalten.</p>
                              </div>
                          </div>
                          <div class="twocard">
                              <div class="image">
                                <amp-img
                                    on="tap:QNAP_Surveillance_Station_X2"
                                    role="button"
                                    tabindex="0"
                                    src="/images/Software/QNAP_Surveillance_Station_X2.png" height=411 width=770 layout="responsive" class="shadow">
                                </amp-img>
                              </div>
                              <div class="action">
                                  <p>Ändern Sie dann einfach den Kameranamen unter Multimedia/Bild der Kamera Weboberfläche in ein unterstütztes Kameramodel.<br><br></p>
                              </div>
                          </div>
                      </div>
                      <!-- Card Container -->
                    </div>
                    <!-- /margin -->



                    <div class="margin">
                      <h3>Fügen Sie eine VGA-Kamera hinzu</h3>
                      <p>Starten Sie die Überwachungs App aus der QNAP Weboberfläche und klicken Sie auf die Schaltfläche <strong>Hinzufügen</strong>. Geben Sie nun die Adresse Ihrer lokalen HD-Kamera, den HTTP und RTSP-Port und Ihre Anmeldedaten ein.</p>
                      <br>
                      <amp-img
                          on="tap:QNAP_Surveillance_Station_02"
                          role="button"
                          tabindex="0"
                          src="/images/Software/QNAP_Surveillance_Station_02.png" width="1150" height="615" layout="responsive" class="shadow">
                      </amp-img>
                      <br>
                      <p>Starten Sie die Überwachungs-App aus der QNAP Weboberfläche und klicken Sie auf die Schaltfläche Hinzufügen.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:QNAP_Surveillance_Station_06"
                          role="button"
                          tabindex="0"
                          src="/images/Software/QNAP_Surveillance_Station_06.png" width="1150" height="613" layout="responsive" class="shadow">
                      </amp-img>
                      <br>
                      <p>Geben Sie die lokale IP-Adresse der Kamera und Ihre Zugangsdaten ein.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:QNAP_Surveillance_Station_07"
                          role="button"
                          tabindex="0"
                          src="/images/Software/QNAP_Surveillance_Station_07.png" width="1150" height="612" layout="responsive" class="shadow">
                      </amp-img>
                      <br>
                      <p>Stellen Sie die Bildqualität des Kamera- Live-Streams auf Ihre Bedürfnisse ein.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:QNAP_Surveillance_Station_02"
                          role="button"
                          tabindex="0"
                          src="/images/Software/QNAP_Surveillance_Station_02.png" width="1150" height="615" layout="responsive" class="shadow">
                      </amp-img>
                        <br>
                        <p>Beide Kameras sind nun, nach der Bestätigung Ihrer Einstellungen verfügbar.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h3>Ereignisverwaltung</h3>
                      <p>Öffnen Sie den Event-Manager, um die Alarmaufzeichnung im Falle einer Bewegungserkennung zu aktivieren oder binden Sie, die Aufnahmefunktion an den externen Alarmeingang an - so dass ein externer Sensor (zB einen PIR-Bewegungsmelder) eine Alarmaufzeichnung starten kann. Gehen Sie auf erweiterte Einstellungen, um die Länge der Alarmaufzeichnung anzupassen und die Speicherungen zu verwalten.</p>
                      <br>
                        <amp-img
                            on="tap:QNAP_Surveillance_Station_08"
                            role="button"
                            tabindex="0"
                            src="/images/Software/QNAP_Surveillance_Station_08.png" width="1150" height="613" layout="responsive" class="shadow">
                        </amp-img>
                      <br>
                      <p>Stellen Sie die Videoaufzeichnung Ihrer Kamera, für den Alarmfall ein.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h3>Monitor und Wiedergabe</h3>
                      <p>Verwenden Sie das Monitorfenster, um ein Auge auf die Echtzeit- Aufnahmen Ihrer INSTAR Kameras zu haben. Jedes Mal, wenn eine verdächtige Ereignis auftritt, macht die Kamera einen Schnappschuss, um eine Aufzeichnung zu haben und ergreift sofort die entsprechenden Maßnahmen. Über das Wiedergabefenster können Sie schnell Videos von verdächtigen Vorfällen auf der Überwachungsstation finden, mit Hilfe einer intuitiven Zeitleiste, Bildvorschau, intelligente Videoanalyse (IVA) und vieles mehr.</p>
                      <br>
                        <amp-img
                            on="tap:QNAP_Surveillance_Station_10"
                            role="button"
                            tabindex="0"
                            src="/images/Software/QNAP_Surveillance_Station_10.png" width="1150" height="615" layout="responsive" class="shadow">
                        </amp-img>
                      <br>
                      <p>Verwenden Sie die Live-Ansicht, um die Echtzeit-Aufnahmen von Ihren IP-Kameras zu sehen.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:QNAP_Surveillance_Station_11"
                          role="button"
                          tabindex="0"
                          src="/images/Software/QNAP_Surveillance_Station_11.png" width="1150" height="612" layout="responsive" class="shadow">
                      </amp-img>
                      <br>
                      <p>Finden Sie schnell Videos von verdächtigen Vorfällen auf der Überwachungsstation, mit Hilfe einer intuitiven Zeitleiste.</p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->

                <!-- ###################### Lightboxes ######################## -->

                <amp-image-lightbox id="QNAP_Surveillance_Station_02" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="QNAP_Surveillance_Station_03" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="QNAP_Surveillance_Station_04" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="QNAP_Surveillance_Station_X1" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="QNAP_Surveillance_Station_X2" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="QNAP_Surveillance_Station_02" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="QNAP_Surveillance_Station_06" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="QNAP_Surveillance_Station_07" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="QNAP_Surveillance_Station_02" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="QNAP_Surveillance_Station_08" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="QNAP_Surveillance_Station_10" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="QNAP_Surveillance_Station_11" layout="nodisplay"></amp-image-lightbox>

            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
