<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    </head>

    <body class="home">

        <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
            <% include ../_partials/amp/_ampLandingSidebar.ejs %>
        </amp-sidebar>

        <header class="header fixed">
            <% include ../_partials/amp/_amp-header.ejs %>
        </header>

        <div class="wrap">
            <div class="container main">

              <% include ../_partials/content/_bluenav-general.ejs %>

                    <article itemscope itemtype="http://schema.org/Article" class="blade wrapper content">
                      <% include ../_partials/amp/_schemaArticle.ejs %>

                    <div class="margin">
                        <h1>Andere Plattformen</h1>
                        <h2 itemprop="name">Domovea Hausautomatisierung</h2>
                        <p class="justify">KNX domovea ist das neue Lösungsangebot für ein vernetztes Visualisierungssystem für die Gebäudesteuerung. Das System besteht aus einer Client-Software und einem Hardware-Server zum Verteilereinbau. Die Vernetzung aller im Gebäude verwendeten technischen Geräte über die weltweit standardisierte KNX-Gebäudeautomation und die Integration der Gebäudetechnik über LAN oder WLAN sowie dem Internet ist die Basis für eine benutzerfreundliche Bedienung und Überwachung der intelligenten Haustechnik. Hier liegen die Einsatzgebiete und Anwendungen der tebis KNX domovea-Visualisierung.</p>
                        <p class="justify">Im folgenden zeigen wir Ihnen wie Sie Ihre INSTAR IP Kamera in die Domovea Software einfügen können:</p>
                    </div>
                    <!-- /margin -->

                    <div class="card-container">
                        <div class="onecard">
                            <div class="image">
                              <amp-img
                                  src="/images/Software/Domovea_01.png" width="900" height="650" layout="responsive">
                              </amp-img>
                              <div class="action">
                                  <p><strong>Schritt 01</strong> Starten Sie bitte das Domovea Konfigurations-Tool und öffnen Sie das Kamera Konfigurationsmenü.</p>
                              </div>
                            </div>
                        </div>
                        <!-- /onecard -->
                    </div>
                    <!-- /card-container -->

                    <div class="card-container">
                        <div class="onecard">
                            <div class="image">
                              <amp-img
                                  src="/images/Software/Domovea_02.png" width="900" height="650" layout="responsive">
                              </amp-img>
                              <div class="action">
                                  <p><strong>Schritt 02</strong> Jetzt müssen wir noch die INSTAR Kamera Templates in das Domovea System importieren. Klicken Sie hier auf <a itemprop="url" href="/dl/Domovea_Excamfiles_INSTAR.zip" target="_blank">DOWNLOAD</a> um die benötigten Excam Dateien für die Modelle IN-5905 HD, IN-5907 HD, IN-6001 HD, IN-6012 HD, IN-6014 HD herunterzuladen (wir hatten noch keine Möglichkeit es zu testen - aber die CGI Befehle der neuen Full HD Serie sind weitestgehend identisch mit den oben genannten Modellen. Man sollte also die IN-8015 Full HD auch als IN-6014 HD und die IN-9008 Full HD als IN-5905 HD einbinden können).</p>
                              </div>
                            </div>
                        </div>
                        <!-- /onecard -->
                    </div>
                    <!-- /card-container -->

                    <div class="card-container">
                        <div class="onecard">
                            <div class="image">
                              <amp-img
                                  src="/images/Software/Domovea_03.png" width="900" height="650" layout="responsive">
                              </amp-img>
                              <div class="action">
                                  <p><strong>Schritt 03</strong> Öffnen Sie den Import Dialog und wählen Sie die Excam Datei für Ihr Kameramodell aus. Beachten Sie bitte, dass Domovea nicht die Pan&amp;Tilt Funktion unserer Kameras - Sie können die Kamera also nicht über die Software schwenken oder neigen.</p>
                              </div>
                            </div>
                        </div>
                        <!-- /onecard -->
                    </div>
                    <!-- /card-container -->

                    <div class="card-container">
                        <div class="onecard">
                            <div class="image">
                              <amp-img
                                  src="/images/Software/Domovea_04.png" width="900" height="650" layout="responsive">
                              </amp-img>
                              <div class="action">
                                  <p><strong>Schritt 04</strong> Warten Sie auf die Bestätigung.</p>
                              </div>
                            </div>
                        </div>
                        <!-- /onecard -->
                    </div>
                    <!-- /card-container -->

                    <div class="card-container">
                        <div class="onecard">
                            <div class="image">
                              <amp-img
                                  src="/images/Software/Domovea_05.png" width="900" height="650" layout="responsive">
                              </amp-img>
                              <div class="action">
                                  <p><strong>Schritt 05</strong> Das Menü zum Hinzufügen von Kameras sollte jetzt Ihr INSTAR Kamera Modell beinhalten. Wählen Sie Ihr Modell aus dem Auswahlmenü.</p>
                              </div>
                            </div>
                        </div>
                        <!-- /onecard -->
                    </div>
                    <!-- /card-container -->

                    <div class="card-container">
                        <div class="onecard">
                            <div class="image">
                              <amp-img
                                  src="/images/Software/Domovea_06.png" width="900" height="650" layout="responsive">
                              </amp-img>
                              <div class="action">
                                  <p><strong>Schritt 06</strong> Fügen Sie hier die IP Adresse Ihrer Kamera und das Login Ihres Kamerabenutzers ein.</p>
                              </div>
                            </div>
                        </div>
                        <!-- /onecard -->
                    </div>
                    <!-- /card-container -->

                </article>
                <!-- /article -->
            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
