<% include ../_partials/template/_head.ejs %>

    <body itemscope itemtype="http://schema.org/Article">
      <% include ../_partials/template/_outdated.ejs %>

      <div id="wrapper">

        <header><% include ../_partials/template/_header.ejs %></header>
        <!-- Navbar-->
        <div class="clearfix mb"></div>

        <!--############################################Banner#################################################-->

        <section class="container mb">
          <div class="row">

            <div class="hidden-sm-down col-md-12 text-xs-center">
                <img src="/images/Software/Banner_en-InstarVision2-0_Layout.png" class="shadow img-fluid" alt="InstarVision 2 Layout"/>
            </div>

            <div class="hidden-md-up col-12 text-xs-center">
                <img src="/images/Software/Banner_en-InstarVision2-0_small_Layout.png" class="shadow img-fluid" alt="InstarVision 2.0 Layout"/>
            </div>

          </div>
          <!-- /row -->
        </section>
        <!-- /container -->

        <!--###################################### Camera List ###########################################-->

        <section class="container mb">
          <div class="row">

              <div class="col-12 mt">
                <h1 itemprop="name"><i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp; Seitennavigation - Layout</h1>
              </div>

              <div class="hidden-md-down col-lg-3 mt mb" style="padding-top: 5px;">
                  <img src="/images/Software/Image019_cut.png" alt="InstarVision 2.0 Surveillance Center User Interface - Layout" class="shadow img-fluid"/>
              </div>

              <div class="col-md-12 col-lg-9 mt">

                  <div class="col-12">
                      <p class="text-justify">Passen Sie die Anordnung des Video Canvas an. Wählen Sie eine geeignete Anordnung der Kamerakanäle auf dem Video Canvas im Layout Menü. Die Anordnung wird bei jedem Neustart der Software wieder auf den Start-Up Modus zurückfallen. Dieses Standard Layout können Sie im System Menü festlegen.</p>
                  </div>

                  <div class="col-sm-12 col-md-4 text-xs-center mb">
                      <img src="/images/Software/Image019_Settings.png" alt="InstarVision 2.0 Surveillance Center User Interface - Layout" class="shadow img-fluid"/>
                  </div>

                  <div class="col-sm-12 col-md-8">
                      <p class="text-justify">Sie können ein Layout wählen, das Ihnen nur einen Teil der aktiven Kameras anzeigt, um so größere Darstellungsfelder für jede Kamera zu erhalten. Zum Beispiel, wenn Sie 16 Kameras haben, Können Sie das 2x2 Canvas Layout wählen. Sie können dann den Move Camera Right Button nutzen um zur nächsten Kamera in der Kamera Liste zu wechseln. Der Button Move Camera Left wird Sie wieder zu der Kamera bringen, die zuvor im Fokus war. In den System Einstellungen finden Sie eine Funktion um automatisch durch die vorhandenen Kameras zu wechseln.</p>
                  </div>

                  <div class="col-12">
                      <p class="text-justify">Es gibt Layout Vorlagen, die optimiert sind für VGA Kameras mit einem 4:3 Seitenverhältnis und Vorlagen speziell für HD Kameras mit einem 16:9 Seitenverhältnis. Klicken Sie auf das Hamburger Icon (die 3 horizontalen Striche) oberhalb der Seiten Navigation für eine Schnellauswahl der jeweiligen Vorlagen.</p>
                      <p class="text-justify">Bewegen Sie Ihren Mauszeiger über den Rand der Software und ziehen Sie die Oberfläche auf die Größe, die Sie für Ihre Ansprüche benötigen. Sie können die Seiten Navigation, über den dünnen Button auf halber Höhe, auch schließen und somit die verfügbare Fläche für den Video Canvas maximieren. Ein Rechtsklick auf den Video Canvas schalten diesen in einen Vollbildmodus, bei dem die Benutzeroberfläche ausgeblendet wird. Ein Druck auf die Esc bringt Sie wieder zurück zur normalen Ansicht.</p>
                  </div>

              </div>

            </div>
            <!-- /row -->
          </section>
          <!-- /container -->

          <div class="clearfix"></div>

        <!--########################################### Mason Wall################################################-->

        <section class="container mb">
          <div class="row">

            <div class="col-12 mb">
                <h2><i class="fa fa-bars" aria-hidden="true"></i>&nbsp; Passen Sie die Anordnung des Video Canvas an</h2>
            </div>

            <div class="col-12">

              <div class="card-deck-wrapper mb">
                <div class="card-deck">
                    <div class="card card-inverse shadow" style="background-color: #333; border-color: #333;">
                      <img class="card-img-top img-fluid" src="/images/Software/InstarVision2_Layout_1x1.png" alt="InstarVision 2.0 :: Layout">
                      <div class="card-block text-xs-center">
                        <h2 class="card-title"><span style="text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);">1x1</span></h2>
                      </div>
                    </div>
                    <div class="card card-inverse shadow" style="background-color: #333; border-color: #333;">
                      <img class="card-img-top img-fluid" src="/images/Software/InstarVision2_Layout_2x2.png" alt="InstarVision 2.0 :: Layout">
                      <div class="card-block text-xs-center">
                        <h2 class="card-title"><span style="text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);">2x2</span></h2>
                      </div>
                    </div>
                  </div>
              </div>
              <!-- /deck-wrapper -->

              <div class="card-deck-wrapper mb">
                <div class="card-deck">
                  <div class="card card-inverse shadow" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid" src="/images/Software/InstarVision2_Layout_3x3.png" alt="InstarVision 2.0 :: Layout">
                    <div class="card-block text-xs-center">
                      <h2 class="card-title"><span style="text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);">3x3</span></h2>
                    </div>
                  </div>
                  <div class="card card-inverse shadow" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid" src="/images/Software/InstarVision2_Layout_8x8.png" alt="InstarVision 2.0 :: Layout">
                    <div class="card-block text-xs-center">
                      <h2 class="card-title"><span style="text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);">8x8</span></h2>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /deck-wrapper -->

          </div>
          <!-- /col-12 -->
        </div>
        <!-- /row -->
      </section>
      <!-- /container -->

      <div class="clearfix"></div>

        <!-- #############################################  Gallery ############################################# -->

        <section class="instarvision mb"><% include ../_partials/content/_instarvision.ejs %></section>
        <!-- /webui -->

        <section class="social"><% include ../_partials/template/_social.ejs %></section>
        <!-- /social -->

        <!-- ############################################# Footer ############################################# -->

        <footer><% include ../_partials/template/_footer.ejs %></footer>

        <% include ../_partials/template/_jsdefaults.ejs %>

        </div>
        <!-- /Wrapper -->

    </body>

</html>
