<% include ../_partials/template/_head.ejs %>

    <body itemscope itemtype="http://schema.org/Article">
      <% include ../_partials/template/_outdated.ejs %>

      <div id="wrapper">

        <header><% include ../_partials/template/_header.ejs %></header>
        <!-- Navbar-->
        <div class="clearfix mb"></div>

        <!--############################################Banner#################################################-->

        <section class="container mb">
          <div class="row">

            <div class="hidden-sm-down col-md-12 text-xs-center">
                <img src="/images/Software/Banner_en-InstarVision2-0_Advanced.png" class="shadow img-fluid" alt="InstarVision 2 Advanced"/>
            </div>

            <div class="hidden-md-up col-12 text-xs-center">
                <img src="/images/Software/Banner_en-InstarVision2-0_small_Advanced.png" class="shadow img-fluid" alt="InstarVision 2.0 Advanced"/>
            </div>

          </div>
          <!-- /row -->
        </section>
        <!-- /container -->

        <!--###################################### Camera List ###########################################-->

        <section class="container">
          <div class="row">

              <div class="col-12 mt mb">
                <h1 itemprop="name"><i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp; Seitennavigation - Import &amp; Export der Systemeinstellungen</h1>
              </div>

              <div class="col-md-12 col-lg-5 mt mb" style="padding-top: 5px;">
                  <img src="/images/Software/Image049_Import.png" alt="InstarVision 2.0 Surveillance Center User Interface - Record Menu" class="shadow img-fluid"/>
              </div>

              <div class="col-md-12 col-lg-7 mt">
                <p class="lead">Importieren</p>
                <p class="text-justify">Es ist empfohlen die Einstellungen der InstarVision zu exportieren (siehe unten), sobald man die Software vollständig eingerichtet hat. Wenn Sie die Software neuinstallieren mussten, gehen Sie einfach in das Importieren Menü, wählen Sie die exportierte Datei aus - standardmäßig ist diese instarvision2.cfg benannt - und klicken Sie OK. Nach dem Neustart der Software werden die Einstellungen wieder hergestellt sein.</p>
              </div>

            </div>
            <!-- /row -->
          </section>
          <!-- /container -->

          <section class="container">
            <div class="row">

              <div class="col-md-12 col-lg-5 mt mb" style="padding-top: 5px;">
                  <img src="/images/Software/Image049_Export.png" alt="InstarVision 2.0 Surveillance Center User Interface - Record Menu" class="shadow img-fluid"/>
              </div>

              <div class="col-md-12 col-lg-7 mt">
                <p class="lead">Exportieren</p>
                <p class="text-justify">Stellen Sie sicher, dass Sie vor jeder Änderung der Einstellungen der InstarVision, ein Backup des Systems machen. Klicken Sie auf exportieren und wählen Sie den Speicherpfad für die Config Datei. Sollten die neuen Einstellungen nicht zu dem gewünschten Ergebnis führen, können Sie mit der Import Funktion (siehe oben) die alte Konfiguration wieder mit ein paar Klicks herstellen.</p>
              </div>

            </div>
            <!-- /row -->
          </section>
          <!-- /container -->


      <div class="clearfix mt"></div>

        <!-- #############################################  Gallery ############################################# -->

        <section class="instarvision mb"><% include ../_partials/content/_instarvision.ejs %></section>
        <!-- /webui -->

        <section class="social"><% include ../_partials/template/_social.ejs %></section>
        <!-- /social -->

        <!-- ############################################# Footer ############################################# -->

        <footer><% include ../_partials/template/_footer.ejs %></footer>

        <% include ../_partials/template/_jsdefaults.ejs %>

        </div>
        <!-- /Wrapper -->

    </body>

</html>
