<% include ../_partials/template/_head.ejs %>

    <body itemscope itemtype="http://schema.org/Article">
      <% include ../_partials/template/_outdated.ejs %>

      <div id="wrapper">

        <header><% include ../_partials/template/_header.ejs %></header>
        <!-- Navbar-->
        <div class="clearfix mb"></div>

        <!--############################################Banner#################################################-->

        <section class="container mb">
          <div class="row">

            <div class="hidden-sm-down col-md-12 text-xs-center">
                <img src="/images/Software/Banner_en-InstarVision2-0_About.png" class="shadow img-fluid" alt="InstarVision 2 About"/>
            </div>

            <div class="hidden-md-up col-12 text-xs-center">
                <img src="/images/Software/Banner_en-InstarVision2-0_small_About.png" class="shadow img-fluid" alt="InstarVision 2.0 About"/>
            </div>

          </div>
          <!-- /row -->
        </section>
        <!-- /container -->

        <!--###################################### Camera List ###########################################-->

        <section class="container mb">
          <div class="row">

              <div class="col-12 mt">
                <h1 itemprop="name"><i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp; Seitennavigation - Über</h1>
              </div>

              <div class="hidden-md-down col-lg-2 mt mb" style="padding-top: 5px;">
                  <img src="/images/Software/Image051.png" alt="InstarVision 2.0 Surveillance Center User Interface - About" class="shadow img-fluid"/>
              </div>

              <div class="col-md-12 col-lg-10 mt">

                  <div class="col-12 mb">
                      <ul class="list-group shadow" style="list-style-type: none;">
                        <li class="list-group-item pb">
                          <h3 class="list-group-item-heading">Software Version</h3>
                          <br>
                          <p class="text-justify list-group-item-text">Version Nummer Ihrer Software Installation.</p>
                        </li>
                        <li class="list-group-item pb">
                          <h3 class="list-group-item-heading">Verfügbare Kanäle</h3>
                          <br>
                          <p class="text-justify list-group-item-text">Die Anzahl der verfügbaren Kanäle (Kameras die Sie erlaubt sind zur Kamera Liste hinzuzufügen) hängt von Ihrer Lizenz ab. Sie können maximal bis zu 64 Kameras in das InstarVision Überwachung Center hinzufügen.</p>
                        </li>
                        <li class="list-group-item pb">
                          <h3 class="list-group-item-heading">Aktiver Nutzer</h3>
                          <br>
                          <p class="text-justify list-group-item-text">Zeigt Ihnen das aktive Benutzerprofil.</p>
                        </li>
                        <li class="list-group-item pb">
                          <h3 class="list-group-item-heading">Support Information</h3>
                          <br>
                          <p class="text-justify list-group-item-text">Bitte nutzen Sie die offizielle INSTAR Webseite um uns zu kontaktieren. Das INSTAR Support Team steht Ihnen bei Fragen und Anregungen gerne zur Verfügung.</p>
                        </li>
                      </ul>
                  </div>

              </div>

              <div class="clearfix"></div>

            </div>
            <!-- /row -->
          </section>
          <!-- /container -->

          <div class="clearfix"></div>

        <!-- #############################################  Gallery ############################################# -->

        <section class="instarvision mb"><% include ../_partials/content/_instarvision.ejs %></section>
        <!-- /webui -->

        <section class="social"><% include ../_partials/template/_social.ejs %></section>
        <!-- /social -->

        <!-- ############################################# Footer ############################################# -->

        <footer><% include ../_partials/template/_footer.ejs %></footer>

        <% include ../_partials/template/_jsdefaults.ejs %>

        </div>
        <!-- /Wrapper -->

    </body>

</html>
