<% include ../_partials/template/_head.ejs %>

    <body>
      <% include ../_partials/template/_outdated.ejs %>

      <div id="wrapper">

        <header><% include ../_partials/template/_header.ejs %></header>
        <!-- Navbar-->
        <div class="clearfix mb"></div>

        <!--###################################### Camera List ###########################################-->

        <section itemscope itemtype="http://schema.org/Article" class="container mb">
          <% include ../_partials/amp/_schemaArticle.ejs %>
          
          <div class="row">

              <div class="col-12 mt mb">
                <h1 itemprop="name"><i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp; Seitennavigation - INSTAR Player</h1>
              </div>

              <div class="col-md-12 col-lg-4 mt mb" style="padding-top: 5px;">
                  <img src="/images/Software/Image050-Player.png" alt="InstarVision 2.0 Surveillance Center User Interface - Record Menu" class="shadow img-fluid"/>
              </div>

              <div class="col-md-12 col-lg-8 mt">
                <p class="lead">Der INSTAR Player ist eine separate Software mit der Sie schnell Ihre Aufnahmen sichten können</p>
                <p class="text-justify">Nach dem Start des INSTAR Players wird dieser automatisch den aktiven Aufnahmepfad der InstarVision finden und dessen Inhalt auflisten. Selektieren Sie den Tag und den Kamerakanal, den Sie sich ansehen möchten, und doppelklicken Sie das erste Video. Sie können die Wiedergabe beschleunigen und automatisch durch alle folgende Video springen um einen schnellen Überblick zu erhalten.</p>
                <p class="text-justify">Klicken Sie auf den Multiview Button  INSTAR Player :: Multiview  um sich gleichzeitig 4, 6 oder 9 Kameras anzeigen zu lassen. Um die zusätzlichen Darstellungsfelder zu nutzen, selektieren Sie einfach das Feld und doppelklicken Sie ein Video, das Sie dort abspielen möchten.</p>
              </div>

            </div>
            <!-- /row -->
          </section>
          <!-- /container -->


      <div class="clearfix mt"></div>

        <!-- #############################################  Gallery ############################################# -->

        <section class="instarvision mb"><% include ../_partials/content/_instarvision.ejs %></section>
        <!-- /webui -->

        <section class="social"><% include ../_partials/template/_social.ejs %></section>
        <!-- /social -->

        <!-- ############################################# Footer ############################################# -->

        <footer><% include ../_partials/template/_footer.ejs %></footer>

        <% include ../_partials/template/_jsdefaults.ejs %>

        </div>
        <!-- /Wrapper -->

    </body>

</html>
