<% include ../_partials/template/_head.ejs %>

    <body itemscope itemtype="http://schema.org/Article">
      <% include ../_partials/template/_outdated.ejs %>

      <div id="wrapper">

        <header><% include ../_partials/template/_header.ejs %></header>
        <!-- Navbar-->

        <div class="clearfix"></div>

        <!-- #############################################  Gallery ############################################# -->

        <section class="container mb">
          <div class="row">

            <div class="container col-12">
            <!-- Media Container -->

              <h1 itemprop="name">Das Aufnahme Menü</h1>
              <br>
              <br>

              <div class="card-deck-wrapper">
                <div class="card-deck">
                  <div class="card card-inverse mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid img-rounded" src="/images/Software/WP_App7.png" alt="InstarVision for Windows Phone">
                    <div class="card-block">
                      <p style="padding: 10px 5px 0 5px; color: #FFF;">
                      <span class="fa-stack">
                      <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                      <strong class="fa-stack-1x">1</strong>
                    </span> Öffnen Sie das Aufnahme Menü um sich eine Liste aller manuell aufgenommener Videos auf Ihrem Smartphone anzeigen zu lassen.</p>
                    </div>
                  </div>
                  <div class="card card-inverse mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid img-rounded" src="/images/Software/WP_App8.png" alt="InstarVision for Windows Phone">
                    <div class="card-block">
                      <p style="padding: 10px 5px 0 5px; color: #FFF;">
                      <span class="fa-stack">
                      <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                      <strong class="fa-stack-1x" style="color: white;">2</strong>
                    </span> Drücken Sie im Aufnahme Menü auf das SD Karte Symbol um eine Listenansicht der Medien auf der SD Karte Ihrer IP Kamera zu sehen.</p>
                    </div>
                  </div>
                  <div class="card card-inverse mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid img-rounded" src="/images/Software/WP_App10.png" alt="InstarVision for Windows Phone">
                    <div class="card-block">
                      <p style="padding: 10px 5px 0 5px; color: #FFF;">
                      <span class="fa-stack">
                      <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                      <strong class="fa-stack-1x" style="color: white;">3</strong>
                    </span> Alle Dateien werden in Tagesordner sortiert.</p>
                    </div>
                  </div>
                  <div class="card card-inverse mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid img-rounded" src="/images/Software/WP_App11.png" alt="InstarVision for Windows Phone">
                    <div class="card-block">
                      <p style="padding: 10px 5px 0 5px; color: #FFF;">
                      <span class="fa-stack">
                      <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                      <strong class="fa-stack-1x" style="color: white;">4</strong>
                    </span> Jeder Tages-Ordner kann einen Record Unterordner für Videos und einen Images Unterordner für Bilder haben.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="clearfix"></div>

              <div class="card-deck-wrapper">
                <div class="card-deck">
                  <div class="card card-inverse mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid img-rounded" src="/images/Software/WP_App12.png" alt="InstarVision for Windows Phone">
                    <div class="card-block">
                      <p style="padding: 10px 5px 0 5px; color: #FFF;">
                      <span class="fa-stack">
                      <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                      <strong class="fa-stack-1x">5</strong>
                    </span> <a href="/Web_User_Interface/1080p_Series/Alarm/Actions/">Alarm Videos</a> beginnen mit dem Buchtsaben <strong>A</strong>, <a href="/Web_User_Interface/1080p_Series/Recording/Video/">geplante Aufnahmen</a> mit <strong>P</strong> und <a href="/Web_User_Interface/720p_Series/Menu_Bar/">manuelle Aufnahmen</a> mit <strong>N</strong>.</p>
                    </div>
                  </div>
                  <div class="card card-inverse mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid img-rounded" src="/images/Software/WP_App13.png" alt="InstarVision for Windows Phone">
                    <div class="card-block">
                      <p style="padding: 10px 5px 0 5px; color: #FFF;">
                      <span class="fa-stack">
                      <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                      <strong class="fa-stack-1x" style="color: white;">6</strong>
                    </span> Sie können sich alle Videos direkt in der App ansehen.</p>
                    </div>
                  </div>
                  <div class="card card-inverse mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid img-rounded" src="/images/Software/WP_App15.png" alt="InstarVision for Windows Phone">
                    <div class="card-block">
                      <p style="padding: 10px 5px 0 5px; color: #FFF;">
                      <span class="fa-stack">
                      <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                      <strong class="fa-stack-1x" style="color: white;">7</strong>
                    </span> Schnappschüsse und Videos, die direkt auf dem internen Speicher des Handys aufgenommen wurden, werden mit einer kleinen Voransicht dargestellt.</p>
                    </div>
                  </div>
                  <div class="card card-inverse mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid img-rounded" src="/images/Software/WP_App16.png" alt="InstarVision for Windows Phone">
                    <div class="card-block">
                      <p style="padding: 10px 5px 0 5px; color: #FFF;">
                      <span class="fa-stack">
                      <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                      <strong class="fa-stack-1x" style="color: white;">8</strong>
                    </span> Sie können sich alle Bilder direkt in der App ansehen.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="clearfix"></div>

            </div>
            <!-- /Row -->
          </section>
          <!-- /Container -->

          <!-- #############################################  Table ############################################# -->

          <section class="container mb">
            <div class="row">

              <div class="container col-12 mt mb">
              <!-- Text Container -->

              <div class="card card-inverse card-danger mb">
                <div class="card-block">
                  <blockquote class="card-blockquote">
                    <p class="lead"><strong><u>Beachten Sie bitte</u></strong>:</p>
                    <p>Wenn Sie eine Kamera über P2P hinzufügen, sind Sie nicht in der Lage die Video Einstellungen (Bitrate, Kontrast, Helligkeit, usw.) zu ändern und auf Bilddateien auf der SD Karte zuzugreifen (der Zugriff auf Videos ist möglich).</p>
                  </blockquote>
                </div>
              </div>


          </div>
          <!-- / row -->
        </section>
        <!-- / container -->

        <div class="clearfix"></div>

        <!-- #############################################  Gallery ############################################# -->

        <section class="instarvision mb"><% include ../_partials/content/_instarvision.ejs %></section>
        <!-- /webui -->

        <section class="social"><% include ../_partials/template/_social.ejs %></section>
        <!-- /social -->

        <!-- ############################################# Footer ############################################# -->

        <footer><% include ../_partials/template/_footer.ejs %></footer>

        <% include ../_partials/template/_jsdefaults.ejs %>

        </div>
        <!-- /Wrapper -->

    </body>

</html>
