<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
    </head>

    <body class="home">

        <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
            <% include ../_partials/amp/_ampLandingSidebar.ejs %>
        </amp-sidebar>

        <header class="header fixed">
            <% include ../_partials/amp/_amp-header.ejs %>
        </header>

        <div class="wrap">
            <div class="container main">

              <% include ../_partials/content/_bluenav-general.ejs %>

                    <article itemscope itemtype="http://schema.org/Article" class="blade wrapper content">
                      <% include ../_partials/amp/_schemaArticle.ejs %>

                    <div>
                        <h1>Windows Software</h1>
                        <h2 itemprop="name">Logiware go1984</h2>
                        <p class="justify">go1984 ist die Software zur professionellen und problemlosen Videoüberwachung. Die Software verarbeitet dabei neben digitalen Netzwerkkameras ebenso analoge Videoquellen über Video-Encoder. Unternehmen mit bestehender analoger Videotechnik können auf diese Weise den "smarten Umstieg" in die digitale Welt vornehmen und bereits vorhandene Hardware integrieren. go1984 <a itemprop="url" href="http://www.go1984.com/en/supported-devices.html">unterstützt die Hardware</a> zahlreicher namhafter Hersteller, wie z. B.: INSTAR, Axis, Sony, Allnet, Abus, Panasonic, Mobotix, Bosch, Siemens, Basler, Samsung, Grundig und viele weitere. go1984 ist verfügbar in <a itemprop="url" href="http://www.go1984.com/de/softwareuebersicht.html">verschiedenen Ausführungen</a>. Der Funktionsumfang von go1984 beinhaltet alles, was für den Betrieb einer professionellen Videoüberwachung benötigt wird. Dazu gehören u. a.:</p>
                        <br>
                        <ul>
                          <li>Live-Videoüberwachung</li>
                          <li>Aufzeichnung (gesteuert durch Zeitplaner, bei Bewegung oder dauerhaft)</li>
                          <li>Kalenderfunktionen</li>
                          <li>Steuerung von PTZ-Kameras</li>
                          <li>Fernzugriff über das Netzwerk oder Internet über Windows PC, Apple Mac, iOS, Android oder WindowsPhone Gerät</li>
                          <li>Alarmierung akustisch, per E-Mail, Telefonanruf (ISDN) oder Push-Nachricht</li>
                        </ul>
                    </div>

                    <div class="margin">
                      <h3>Hinzufügen einer INSTAR IP Kamera</h3>
                      <p>Um eine IP-Kamera hinzuzufügen, wählen Sie bitte im go1984-Explorer den Eintrag <strong>IP-Kameras</strong> aus. Es wird Ihnen Liste mit den Abbildungen aller verfügbaren Kameras angezeigt. Über einen Filter können Sie die Suche nach dem gewünschten Modell komfortabel eingrenzen. Erlaubt sind dabei Zeichen und Zahlen in jeglicher Kombination. So listet bspw. der Eintrag <strong>INSTAR</strong> alle Kameras auf, die diese Buchstabenkombination in Ihrer Bezeichnung tragen.</p>
                      <br>
                      <amp-img
                          on="tap:lightbox1"
                          role="button"
                          tabindex="0"
                          src="/images/Software/Go1984_01.png" width="800" height="571" layout="responsive" class="shadow">
                      </amp-img>
                        <br>
                        <p>Per Doppelklick auf die Abbildung des gesuchten Kameramodells kann dieses nun hinzugefügt werden.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h3>Hinzufügen einer HD Kamera (h.264)</h3>
                      <br>
                      <amp-img
                          on="tap:lightbox2"
                          role="button"
                          tabindex="0"
                          src="/images/Software/Go1984_02_H264.png" width="800" height="577" layout="responsive" class="shadow">
                      </amp-img>
                      <br>
                      <p>Hinzufügen einer INSTAR HD Kamera - h.264 Stream.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p class="justify">Bitte nehmen Sie hier die folgenden Einstellungen vor:</p>
                        <ul>
                          <li><strong>Name</strong>: Geben Sie der Kamera eine eindeutige Kurzbezeichnung, unter der diese dann in go1984 verwendet wird.</li>
                          <li><strong>IP</strong>: Tragen Sie hier die IP-Adresse oder den Hostnamen der Kamera ein. Sollten Sie der Kamera noch keine IP-Adresse zugewiesen haben - z.B. 192.168.1.106 oder abcd12.ddns-instar.de.</li>
                          <li><strong>Port</strong>: Sollte der Kamera-Port vom Standardport "554" abweichen, so können Sie diesen hier ändern. Überprüfen Sie den RTSP Port Ihrer Kamera in der Weboberfläche unter Netzwerk/IP Konfiguration.</li>
                          <li><strong>PTZ Port</strong>: Handelt es sich bei der ausgewählten IP-Kamera um eine PTZ-Kamera, können Sie hier ggf. den Port für die Kamerasteuerung anpassen. Bei INSTAR Kameras können Sie den Standard belassen.</li>
                          <li><strong>Benutzername</strong>: Sollte für den Kamerazugriff eine Authentifizierung notwendig sein, geben Sie hier bitte den Benutzernamen ein. Der Standard für INSTAR HD Kameras ist <strong>admin</strong>.</li>
                          <li><strong>Passwort</strong>: Geben Sie hier das Passwort für die oben genannte Authentifizierung ein. Die Standardpasswörter entnehmen Sie bitte der Dokumentation Ihres Kamerahandbuches. Der Standard für INSTAR HD Kameras ist <strong>instar</strong>.</li>
                        </ul>
                        <p>Bestätigen Sie Ihre Angaben anschließend mit <strong>OK</strong>.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                    <amp-img
                        on="tap:lightbox3"
                        role="button"
                        tabindex="0"
                        src="/images/Software/Go1984_05_H264.png" width="800" height="569" layout="responsive" class="shadow">
                    </amp-img>
                      <br>
                      <p>Die Kamera wird über ihren RTSP Video Stream hinzugefügt.</p>
                      <p class="justify">Die neu hinzugefügte Kamera erscheint nun im Zweig <strong>IP-Kameras</strong> im go1984 Explorer. Die Grundkonfiguration der Kamera ist damit abgeschlossen. go1984 hat die Bewegungserkennung und die Aufzeichnung für die neue Bildquelle automatisch aktiviert. Standardmäßig wird nur bei erkannter Bewegung aufgezeichnet. Falls Sie eine permanente Aufzeichnung wünschen, deaktivieren Sie einfach die Bewegungserkennung, indem Sie das Optionsfeld vor der Option <strong>Bewegungserkennung</strong> anklicken.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h3>Hinzufügen einer HD Kamera (MJPEG)</h3>
                      <br>
                      <amp-img
                          on="tap:lightbox4"
                          role="button"
                          tabindex="0"
                          src="/images/Software/Go1984_02_MJPEG.png" width="800" height="572" layout="responsive" class="shadow">
                      </amp-img>
                      <br>
                      <p>Hinzufügen einer HD Kamera - MJPEG Stream</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p class="justify">Bitte nehmen Sie hier die folgenden Einstellungen vor:</p>
                        <ul>
                          <li><strong>Name</strong>: Geben Sie der Kamera eine eindeutige Kurzbezeichnung, unter der diese dann in go1984 verwendet wird.</li>
                          <li><strong>IP</strong>: Tragen Sie hier die IP-Adresse oder den Hostnamen der Kamera ein. Sollten Sie der Kamera noch keine IP-Adresse zugewiesen haben - z.B. 192.168.1.106 oder abcd12.ddns-instar.de.</li>
                          <li><strong>Port</strong>: Sollte der Kamera-Port vom Standardport "80" abweichen, so können Sie diesen hier ändern. Überprüfen Sie den Web Port Ihrer Kamera in der Weboberfläche unter Netzwerk/IP Konfiguration.</li>
                          <li><strong>PTZ Port</strong>: Handelt es sich bei der ausgewählten IP-Kamera um eine PTZ-Kamera, können Sie hier ggf. den Port für die Kamerasteuerung anpassen. Bei INSTAR Kameras können Sie den Standard belassen.</li>
                          <li><strong>Benutzername</strong>: Sollte für den Kamerazugriff eine Authentifizierung notwendig sein, geben Sie hier bitte den Benutzernamen ein. Der Standard für INSTAR HD Kameras ist <strong>admin</strong>.</li>
                          <li><strong>Kennwort</strong>: Geben Sie hier das Passwort für die oben genannte Authentifizierung ein. Die Standardpasswörter entnehmen Sie bitte der Dokumentation Ihres Kamerahandbuches. Der Standard für INSTAR HD Kameras ist instar.</li>
                        </ul>
                        <p>Bestätigen Sie Ihre Angaben anschließend mit <strong>OK</strong>.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox5"
                          role="button"
                          tabindex="0"
                          src="/images/Software/Go1984_05_MJPEG.png" width="800" height="576" layout="responsive" class="shadow">
                      </amp-img>
                      <br>
                      <p>Hinzufügen einer HD Kamera - MJPEG Stream.</p>
                      <p class="justify">Die neu hinzugefügte Kamera erscheint nun im Zweig <strong>IP-Kameras</strong> im go1984 Explorer. Die Grundkonfiguration der Kamera ist damit abgeschlossen. go1984 hat die Bewegungserkennung und die Aufzeichnung für die neue Bildquelle automatisch aktiviert. Standardmäßig wird nur bei erkannter Bewegung aufgezeichnet. Falls Sie eine permanente Aufzeichnung wünschen, deaktivieren Sie einfach die Bewegungserkennung, indem Sie das Optionsfeld vor der Option <strong>Bewegungserkennung</strong> anklicken.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h3>Hinzufügen einer VGA Kamera (MJPEG)</h3>
                      <br>
                        <amp-img
                            on="tap:lightbox6"
                            role="button"
                            tabindex="0"
                            src="/images/Software/Go1984_02_VGA.png" width="800" height="573" layout="responsive" class="shadow">
                        </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p class="justify">Bitte nehmen Sie hier die folgenden Einstellungen vor:</p>
                        <ul>
                          <li><strong>Name</strong>: Geben Sie der Kamera eine eindeutige Kurzbezeichnung, unter der diese dann in go1984 verwendet wird.</li>
                          <li><strong>IP</strong>: Tragen Sie hier die IP-Adresse oder den Hostnamen der Kamera ein. Sollten Sie der Kamera noch keine IP-Adresse zugewiesen haben - z.B. 192.168.1.106 oder abcd12.ddns-instar.de.</li>
                          <li><strong>Port</strong>: Sollte der Kamera-Port vom Standardport "80" abweichen, so können Sie diesen hier ändern. Überprüfen Sie den Web Port Ihrer Kamera in der Weboberfläche unter Netzwerk/IP Konfiguration.</li>
                          <li><strong>PTZ Port</strong>: Handelt es sich bei der ausgewählten IP-Kamera um eine PTZ-Kamera, können Sie hier ggf. den Port für die Kamerasteuerung anpassen. Bei INSTAR Kameras können Sie den Standard belassen.</li>
                          <li><strong>Benutzername</strong>: Sollte für den Kamerazugriff eine Authentifizierung notwendig sein, geben Sie hier bitte den Benutzernamen ein. Der Standard für INSTAR HD Kameras ist <strong>admin</strong>.</li>
                          <li><strong>Kennwort</strong>: Geben Sie hier das Passwort für die oben genannte Authentifizierung ein. Die Standardpasswörter entnehmen Sie bitte der Dokumentation Ihres Kamerahandbuches. Der Standard für INSTAR VGA Kameras ist <strong>&#171;leer&#187;</strong>.</li>
                        </ul>
                        <p>Bestätigen Sie Ihre Angaben anschließend mit <strong>OK</strong>.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <amp-img
                            on="tap:lightbox7"
                            role="button"
                            tabindex="0"
                            src="/images/Software/Go1984_05_VGA.png" width="800" height="571" layout="responsive" class="shadow">
                        </amp-img>
                          <br>
                          <p class="justify">Die neu hinzugefügte Kamera erscheint nun im Zweig <strong>IP-Kameras</strong> im go1984 Explorer. Die Grundkonfiguration der Kamera ist damit abgeschlossen. go1984 hat die Bewegungserkennung und die Aufzeichnung für die neue Bildquelle automatisch aktiviert. Standardmäßig wird nur bei erkannter Bewegung aufgezeichnet. Falls Sie eine permanente Aufzeichnung wünschen, deaktivieren Sie einfach die Bewegungserkennung, indem Sie das Optionsfeld vor der Option <strong>Bewegungserkennung</strong> anklicken.</p>
                    </div>

                        <div class="margin">
                          <h3>Live Video</h3>
                          <br>
                          <amp-img
                              on="tap:lightbox8"
                              role="button"
                              tabindex="0"
                              src="/images/Software/Go1984_03_H264.png" width="800" height="573" layout="responsive" class="shadow">
                          </amp-img>
                          <br>
                          <p>Halten Sie hier den Live Video Stream der Kamera im Auge und kontrollieren Sie die Schwenk- und Neigefunktion.</p>
                          <p>Sie können das Live Video ansehen, indem Sie die Kamera im Seitenmenü anklicken. Wenn Sie eine langsame Bildwiederholungsrate beobachten, oder der Live Stream zwischenzeitlich gänzlich abbricht, können Sie die Qualität des Videos der Kamera anpassen, um geringere Bandbreitenanforderungen an Ihr Netzwerk zu stellen. Gehen Sie nach Video/Eigenschaften (s. Screenshots im vorherigen Abschnitt oben) und wählen Sie einen geeigneten Stream aus. Sie können z.B. bei den HD Kameras den Parameter Uri von 11 (hohe Qualität) auf 12 (mittlere Qualität) oder 13 (niedrige Bandbreitenanforderung). Wenn Sie den MJPEG Stream ihrer HD Kamera, setzen Sie einfach den Wert für -chn von 11 auf 12 oderr 13. Sie können auch die Video Parameter in der Kamera selbst über die Weboberfläche anpassen.</p>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <h3>Bewegungserkennung</h3>
                          <br>
                          <amp-img
                              on="tap:lightbox9"
                              role="button"
                              tabindex="0"
                              src="/images/Software/Go1984_07.png" width="800" height="574" layout="responsive" class="shadow">
                          </amp-img>
                          <br>
                          <p class="justify">go1984 ist mit einer leistungsstarken, integrierten Bewegungserkennung ausgestattet, die auf einem optimierten Differenzbildverfahren basiert. Bei erkannter Bewegung wird das sogenannte <em>Motion-Signal</em> für diese Kamera aktiviert. Dieses Signal kann verwendet werden, um z. B. die Aufzeichnung zu starten, einen FTP-Upload zu triggern oder einen Alarm auszulösen.</p>
                          <p class="justify">Häufig ist es sinnvoll, bestimmte Bereiche des Kamerabildes von der Bewegungserkennung auszuschließen. Dazu können Sie eine beliebige Maske über das Bild zeichnen. Es stehen Ihnen hierzu diverse Hilfsmittel zur Verfügung. Zur Kontrolle wird die Maske transparent auf dem Bild angezeigt. Eingegraute Bereiche bleiben in der Folge unberücksichtigt.</p>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <amp-img
                              on="tap:lightbox10"
                              role="button"
                              tabindex="0"
                              src="/images/Software/Go1984_07.png" width="800" height="574" layout="responsive" class="shadow">
                          </amp-img>
                          <br>
                          <p class="justify">Für übliche Einsatzzwecke müssen die Einstellungen der Bewegungserkennung nicht weiter als oben beschrieben justiert zu werden. Sollten die Standardwerte für Ihren Einsatzzweck nicht das gewünschte Ergebnis liefern, finden Sie im Reiter "Einstellungen" weitere Einstellmöglichkeiten.</p>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <h3>Speichermanagement</h3>
                          <br>
                          <amp-img
                              on="tap:lightbox11"
                              role="button"
                              tabindex="0"
                              src="/images/Software/Go1984_09.png" width="800" height="571" layout="responsive" class="shadow">
                          </amp-img>
                          <br>
                          <p class="justify">go1984 ist mit einem effizienten Ringspeicher ausgestattet. Sie können den vorhanden Festplattenplatz so optimal auf die vorhandenen Kameras aufteilen und stellen damit sicher, dass für neue Aufnahmen immer genügend Speicherplatz zur Verfügung steht. go1984 kann automatisch die ältesten Aufnahmen löschen, wenn das zugewiesene Speicherkontingent erschöpft ist. Außerdem können Sie pro Kamera ein individuelles Aufnahmeverzeichnis wählen, indem Sie im Reiter <strong>Speicherung</strong> unterhalb von <strong>Aufnahmeverzeichnis</strong> auf das Ordnersymbol klicken.</p>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <h3>Email Benachrichtigung</h3>
                          <br>
                          <amp-img
                              on="tap:lightbox12"
                              role="button"
                              tabindex="0"
                              src="/images/Software/Go1984_10.png" width="800" height="571" layout="responsive" class="shadow">
                          </amp-img>
                          <br>
                          <p class="justify">Um überhaupt E-Mails aus go1984 versenden zu können, muss einmalig ein sogenannter SMTP-Server eingetragen werden. Ist dies bereits geschehen, können Sie direkt hier fortfahren. Wählen Sie den Eintrag "Benachrichtigung" im go1984-Explorer aus. Im Feld Email-Adresse können Sie einen oder mehrere Empfänger (durch Semikola getrennt) eintragen. Wenn gewünscht, können Sie die Betreffzeile anpassen. Die Variable "%Cameraname%" wird automatisch beim Versenden der E-Mail durch den Namen der auslösenden Kamera ersetzt.</p>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <h3>FTP Upload</h3>
                          <br>
                          <amp-img
                              on="tap:lightbox13"
                              role="button"
                              tabindex="0"
                              src="/images/Software/Go1984_11.png" width="800" height="572" layout="responsive" class="shadow">
                          </amp-img>
                          <br>
                          <p class="justify">Sollen Kamerabilder alternativ zur lokalen Speicherung auch auf einen FTP-Server gesendet werden, muss der folgende Dialog bearbeitet werden. Zunächst tragen Sie die Zugangsdaten zu Ihrem FTP Server ein:</p>
                          <ul>
                            <li><strong>FTP Server</strong>: Domainname oder IP Ihres FTP-Servers, z. B. ftp.online.de</li>
                            <li><strong>Port</strong>: FTP Port, normalerweise immer <strong>21</strong></li>
                            <li><strong>FTP user ID</strong>: Benutzername für die Anmeldung am FTP-Server</li>
                            <li><strong>FTP password</strong>: Passwort für die Anmeldung am FTP-Server</li>
                            <li><strong>FTP directory</strong>: Unterverzeichnis auf dem FTP-Server, in dem gespeichert werden soll</li>
                            <li><strong>Passive mode</strong>: Falls Ihr FTP-Server nicht im Aktiv-Modus betrieben werden kann, markieren Sie die Option</li>
                            <li><strong>Keep connection</strong>: Nach dem Upload eines Bildes wird die Verbindung zum FTP-Server aufrecht erhalten. Soll die Verbindung jeweils getrennt werden, deaktivieren Sie diese Option</li>
                          </ul>
                          <p class="justify">Optional können Sie das Bild vor der Speicherung auf dem FTP-Server auf eine neue Größe skalieren. Aktivieren Sie diese Option und bestimmen Sie die neue Größe des Bildes in den entsprechenden Feldern.</p>
                        </div>
                        <!-- /margin -->

                </article>
                <!-- /article -->

                <!-- #################### Lightboxes ######################## -->
                <amp-image-lightbox id="lightbox1" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox2" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox3" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox4" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox5" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox6" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox7" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox8" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox9" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox10" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox11" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox12" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox13" layout="nodisplay"></amp-image-lightbox>

            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
