<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    </head>

    <body class="home">

        <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
            <% include ../_partials/amp/_ampLandingSidebar.ejs %>
        </amp-sidebar>

        <header class="header fixed">
            <% include ../_partials/amp/_amp-header.ejs %>
        </header>

        <div class="wrap">
            <div class="container main">

              <% include ../_partials/content/_bluenav-general.ejs %>

                    <article itemscope itemtype="http://schema.org/Article" class="blade wrapper content">
                    <!-- article -->

                    <div>
                        <h1>Windows Software</h1>
                        <h2 itemprop="name">ZoneTrigger</h2>
                        <p class="justify">Bei der Zone Trigger Software-Serie geht es um die integrierte Bewegungs- oder Audioerkennung in benutzerspezifischen Projekten. In der Bewegungserkennung kann Zone Trigger eine Vielzahl von Aufgaben erledigen, wie Sounds abspielen, Programme ausführen oder die Kontrolle über andere Software und Hardware übernehmen oder Emails und Dateien über das Internet senden. Außerdem hat es viele extrea Funktionen wie Archiv-Dienste und einen eingebauten HTTP-Server für ein Remote-Bild.</p>
                        <p>
                          Damit Sie ihre INSTAR IP Kamera in <a itemprop="url" href="http://www.zonetrigger.com/">ZoneTrigger</a> einbinden können, empfehlen wir die aktuellste Version von <a itemprop="url" href="http://www.zonetrigger.com/">HIER</a> herunterzuladen.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h3>Hinzufügen einer Kamera</h3>
                      <p>Nachdem Sie die neuste Version von ZoneTrigger hinzugefügt haben, öffnen Sie bitte das Programm und öffnen Sie <strong>Add a New Video Source</strong> und wählen Sie "Add an IP camera by URL". Geben Sie den HTTP Port der Kamera ein, aber lassen Sie den Nutzernamen und das Passwort frei. Klicken Sie dann auf <strong>Pfad festlegen</strong> und fügen Sie die Zeile <span class="code">videostream.cgi?user=admin&pwd=</span> ein, wenn Ihre Kamera den Standardlogin <em>user = admin</em> und <em>password = &lt;empty&gt;</em> - verändenr Sie den Videopfad entsprechend, wenn Sie etwas geändert haben. </p>
                    </div>
                    <!-- /margin -->


                    <div class="margin">
                      <div>
                          <amp-img role="button" tabindex="0" src="/images/Software/Webcam-ZoneTrigger_01.png" width="918" height="468" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <br>
                      <p>Eine neue Videoquelle per URL hinzufügen.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h3>Bewegungserkennung</h3>
                      <p>ZoneTrigger, wie der Name der Software bereits vermuten lässt, verwendet Trigger-Zonen, die Sie frei über das Video positionieren können. Standardmäßig ist es ein kreisförmiger Hot Spot, der eine softwarebasierte Bewegungserkennung verwendet, um einen Alarm auszulösen. Dies ist die einfachste und vielseitigste Technik. Die Software schaut nach Veränderungen zwischen den Frames durch Vergleichen der Pixel-Farbe und Helligkeit. Diese Unterschiede können durch Bewegungen, Licht an/aus, Schatten und sogar durch Vibrationen verursacht werden. Sie können einfach eine Aktion zu einem Alarmevent zurodnen wie zum Beispiel ein Video aufnehmen, ein Snapshot auf einen FTP Server hochladen, oder eine Benachrichtigungs-Mail versenden.</p>
                      <br>
                      <div>
                          <amp-img role="button" tabindex="0" src="/images/Software/Webcam-ZoneTrigger_02.png" width="915" height="478" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <br>
                      <p>Eine neue Videoquelle per URL hinzufügen.</p>
                      <p>Es gibt viel noch viel mehr Auslöser neben der einfachen Bewegungserkennung, die in Ihrem Überwachungsaufgabe eingebunden werden können. Dazu zählen Flow Control, der erkennt in welche Richtung sich Menschen bewegen, ein Level Measure oder ein Pattern Matching die versuchen das Eingabebild mit einem Referenzbild zu vergleichen um ein Objekt oder eine Person zu erkennen.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img role="button" tabindex="0" src="/images/Software/Webcam-ZoneTrigger_03.png" width="915" height="465" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <br>
                      <p>Sie haben neben der Standard Bewegungserkennung eine Vielzahl von erweiterten Auslösern.</p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->
            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
