<% include ../_partials/template/_head.ejs %>

    <body>
      <% include ../_partials/template/_outdated.ejs %>

      <div id="wrapper">

        <header><% include ../_partials/template/_header.ejs %></header>
        <!-- Navbar-->
        <div class="clearfix mb"></div>

        <!--############################################Banner#################################################-->

        <section itemscope itemtype="http://schema.org/Article" class="container mb">
          <% include ../_partials/amp/_schemaArticle.ejs %>
          
          <div class="row">

            <div class="hidden-sm-down col-md-12 text-xs-center">
                <img src="/images/Software/Banner_en-InstarVision2-0_Record.png" class="shadow img-fluid" alt="InstarVision 2 Record"/>
            </div>

            <div class="hidden-md-up col-12 text-xs-center">
                <img src="/images/Software/Banner_en-InstarVision2-0_small_Record.png" class="shadow img-fluid" alt="InstarVision 2.0 Record"/>
            </div>

          </div>
          <!-- /row -->
        </section>
        <!-- /container -->

        <!--###################################### Camera List ###########################################-->

        <section class="container mb">
          <div class="row">

              <div class="col-12 mt">
                <h1 itemprop="name"><i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp; Seitennavigation - Aufnahme</h1>
              </div>

              <div class="col-12 mt">
                  <p class="text-justify">Das InstarVision Überwachung Center bietet Ihnen eine Vielzahl von Möglichkeiten Ereignisse aufzuzeichnen - programmieren Sie eine geplante Aufnahme, nutzen Sie die interne Bewegungserkennung um Videoaufnahmen, FTP Uploads und Email Benachrichtigungen auszulösen oder nehmen Sie Fotoserien auf - die man später zu Zeitrafferaufnahmen zusammensetzen kann*.<br><span class="text-muted">*benötigt Drittanbieter Software</span></p>
              </div>

              <div class="hidden-md-down col-lg-3 mt mb" style="padding-top: 5px;">
                  <img src="/images/Software/Image040.png" alt="InstarVision 2.0 Surveillance Center User Interface - Record" class="shadow img-fluid"/>
              </div>

              <div class="col-md-12 col-lg-9 mt">

                  <div class="col-12">
                      <div class="card-deck-wrapper mb">
                        <div class="card-deck">
                            <div class="card card-inverse shadow" style="background-color: #333; border-color: #333;">
                              <img class="card-img-top img-fluid" src="/images/Software/Image043_small.png" alt="InstarVision 2.0 :: Layout">
                              <div class="card-block">
                                <h4 class="card-title">Allgemein</h4>
                                <p class="card-text">Allgemeine Einstellungen für die Videoaufnahme.</p>
                                <a href="/Software/Windows/InstarVision/Record/General" class="btn btn-primary">Mehr</a>
                              </div>
                            </div>
                            <div class="card card-inverse shadow" style="background-color: #333; border-color: #333;">
                              <img class="card-img-top img-fluid" src="/images/Software/Image041_small.png" alt="InstarVision 2.0 :: Layout">
                              <div class="card-block">
                                <h4 class="card-title">Zeitplan</h4>
                                <p class="card-text">Legen Sie geplante Videoaufnahmen für Ihre Kamera fest.</p>
                                <a href="/Software/Windows/InstarVision/Record/Schedule" class="btn btn-primary">Mehr</a>
                              </div>
                            </div>
                            <div class="card card-inverse shadow" style="background-color: #333; border-color: #333;">
                              <img class="card-img-top img-fluid" src="/images/Software/Image042_small.png" alt="InstarVision 2.0 :: Layout">
                              <div class="card-block">
                                <h4 class="card-title">Alarm</h4>
                                <p class="card-text">Aktivieren Sie die Bewegungserkennung und die Alarm Videoaufnahme.</p>
                                <a href="/Software/Windows/InstarVision/Record/Alarm" class="btn btn-primary">Mehr</a>
                              </div>
                            </div>
                          </div>
                      </div>
                      <!-- /deck-wrapper -->

                      <div class="card-deck-wrapper mb">
                        <div class="card-deck">
                            <div class="card card-inverse shadow" style="background-color: #333; border-color: #333;">
                              <img class="card-img-top img-fluid" src="/images/Software/Image044_small.png" alt="InstarVision 2.0 :: Layout">
                              <div class="card-block">
                                <h4 class="card-title">Fotoserie</h4>
                                <p class="card-text">Starten Sie eine Intervall Schnappschussaufnahme.</p>
                                <a href="/Software/Windows/InstarVision/Record/Photoseries" class="btn btn-primary">Mehr</a>
                              </div>
                            </div>
                            <div class="card card-inverse shadow" style="background-color: #333; border-color: #333;">
                              <img class="card-img-top img-fluid" src="/images/Software/Image045-1_small.png" alt="InstarVision 2.0 :: Layout">
                              <div class="card-block">
                                <h4 class="card-title">Email</h4>
                                <p class="card-text">Lassen Sie sich, im Falle eines Alarms, per Email benachrichtigen</p>
                                <a href="/Software/Windows/InstarVision/Record/Email" class="btn btn-primary">Mehr</a>
                              </div>
                            </div>
                            <div class="card card-inverse shadow" style="background-color: #333; border-color: #333;">
                              <img class="card-img-top img-fluid" src="/images/Software/Image045-2_small.png" alt="InstarVision 2.0 :: Layout">
                              <div class="card-block">
                                <h4 class="card-title">FTP Server</h4>
                                <p class="card-text">Sichern Sie Ihre Alarmaufnahmen auf einem separaten FTP Server.</p>
                                <a href="/Software/Windows/InstarVision/Record/FTP" class="btn btn-primary">Mehr</a>
                              </div>
                            </div>
                          </div>
                      </div>
                      <!-- /deck-wrapper -->
                  </div>

              </div>

            </div>
            <!-- /row -->
          </section>
          <!-- /container -->

          <div class="clearfix"></div>

        <!-- #############################################  Gallery ############################################# -->

        <section class="instarvision mb"><% include ../_partials/content/_instarvision.ejs %></section>
        <!-- /webui -->

        <section class="social"><% include ../_partials/template/_social.ejs %></section>
        <!-- /social -->

        <!-- ############################################# Footer ############################################# -->

        <footer><% include ../_partials/template/_footer.ejs %></footer>

        <% include ../_partials/template/_jsdefaults.ejs %>

        </div>
        <!-- /Wrapper -->

    </body>

</html>
