<% include ../_partials/template/_head.ejs %>

    <body itemscope itemtype="http://schema.org/Article">
      <% include ../_partials/template/_outdated.ejs %>

      <div id="wrapper">

        <header><% include ../_partials/template/_header.ejs %></header>
        <!-- Navbar-->
        <div class="clearfix mb"></div>

        <!--############################################Banner#################################################-->

        <section class="container mb">
          <div class="row">

            <div class="hidden-sm-down col-md-12 text-xs-center">
                <img src="/images/Software/Banner_en-InstarVision2-0_Advanced.png" class="shadow img-fluid" alt="InstarVision 2 Advanced"/>
            </div>

            <div class="hidden-md-up col-12 text-xs-center">
                <img src="/images/Software/Banner_en-InstarVision2-0_small_Advanced.png" class="shadow img-fluid" alt="InstarVision 2.0 Advanced"/>
            </div>

          </div>
          <!-- /row -->
        </section>
        <!-- /container -->

        <!--###################################### Camera List ###########################################-->

        <section class="container mb">
          <div class="row">

              <div class="col-12 mt">
                <h1 itemprop="name"><i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp; Seitennavigation - Erweitert</h1>
              </div>

              <div class="col-12 mt">
                  <p class="lead">Das Erweitert Menü gibt Ihnen Zugriff zu einer Reihe von Werkzeugen, die über den alltäglichen Einsatz des Sicherheit Centers hinausgehen.</p>
                  <p class="text-justify">Überprüfen Sie das System Log auf Unregelmäßigkeit, exportieren Sie Ihre Systemeinstellungen um diese später - z.B. nach einem System Crash - wieder problemlos einspielen zu können, öffnen Sie das Aufnahmeverzeichnis der Software im Windows Explorer um Zugriff auf die Video Dateien zu bekommen oder öffnen Sie den INSTAR Player um sich einen schnellen Überblick über die gespeicherten Aufnahmen zu machen.</p>
              </div>

              <div class="hidden-md-down col-lg-3 mt mb" style="padding-top: 5px;">
                  <img src="/images/Software/Image049.png" alt="InstarVision 2.0 Surveillance Center User Interface - Advanced" class="shadow img-fluid"/>
              </div>

              <div class="col-md-12 col-lg-9 mt">

                  <div class="col-12">
                      <div class="card-deck-wrapper mb">
                        <div class="card-deck">
                            <div class="card card-inverse shadow" style="background-color: #333; border-color: #333;">
                              <img class="card-img-top img-fluid" src="/images/Software/Image003_small.png" alt="InstarVision 2.0 :: Advanced">
                              <div class="card-block">
                                <h4 class="card-title">Lizenz</h4>
                                <p class="card-text">Geben Sie Ihren Lizenzschlüssel ein oder Upgraden Sie Ihre Installation</p>
                                <a href="/Software/Windows/InstarVision/Advanced/License" class="btn btn-primary">Mehr</a>
                              </div>
                            </div>
                            <div class="card card-inverse shadow" style="background-color: #333; border-color: #333;">
                              <img class="card-img-top img-fluid" src="/images/Software/Image050-Log_small.png" alt="InstarVision 2.0 :: Advanced">
                              <div class="card-block">
                                <h4 class="card-title">Log Info</h4>
                                <p class="card-text">Überprüfen Sie das System Log</p>
                                <a href="/Software/Windows/InstarVision/Advanced/Log" class="btn btn-primary">Mehr</a>
                              </div>
                            </div>
                            <div class="card card-inverse shadow" style="background-color: #333; border-color: #333;">
                              <img class="card-img-top img-fluid" src="/images/Software/Image049_Export_small.png" alt="InstarVision 2.0 :: Advanced">
                              <div class="card-block">
                                <h4 class="card-title">Import / Export</h4>
                                <p class="card-text">Export/Import der Systemeinstellungen</p>
                                <a href="/Software/Windows/InstarVision/Advanced/Export" class="btn btn-primary">Mehr</a>
                              </div>
                            </div>
                          </div>
                      </div>
                      <!-- /deck-wrapper -->

                      <div class="card-deck-wrapper mb">
                        <div class="card-deck">
                            <div class="card card-inverse shadow" style="background-color: #333; border-color: #333;">
                              <img class="card-img-top img-fluid" src="/images/Software/Image050-Player_small.png" alt="InstarVision 2.0 :: Advanced">
                              <div class="card-block">
                                <h4 class="card-title">Player</h4>
                                <p class="card-text">INSTAR Video Player</p>
                                <a href="/Software/Windows/InstarVision/Advanced/Player" class="btn btn-primary">Mehr</a>
                              </div>
                            </div>
                            <div class="card card-inverse shadow" style="background-color: #333; border-color: #333;">
                              <img class="card-img-top img-fluid" src="/images/Software/Image049_Export_small.png" alt="InstarVision 2.0 :: Advanced">
                              <div class="card-block">
                                <h4 class="card-title">Explorer</h4>
                                <p class="card-text">Öffnen Sie den Windows Explorer</p>
                                <a href="/Software/Windows/InstarVision/Advanced/Explorer" class="btn btn-primary">Mehr</a>
                              </div>
                            </div>
                            <div class="card invisible">
                            </div>
                          </div>
                      </div>
                      <!-- /deck-wrapper -->
                  </div>

              </div>

            </div>
            <!-- /row -->
          </section>
          <!-- /container -->

          <div class="clearfix"></div>

        <!-- #############################################  Gallery ############################################# -->

        <section class="instarvision mb"><% include ../_partials/content/_instarvision.ejs %></section>
        <!-- /webui -->

        <section class="social"><% include ../_partials/template/_social.ejs %></section>
        <!-- /social -->

        <!-- ############################################# Footer ############################################# -->

        <footer><% include ../_partials/template/_footer.ejs %></footer>

        <% include ../_partials/template/_jsdefaults.ejs %>

        </div>
        <!-- /Wrapper -->

    </body>

</html>
