<% include ../_partials/template/_head.ejs %>

    <body>
      <% include ../_partials/template/_outdated.ejs %>

      <div id="wrapper">

        <header><% include ../_partials/template/_header.ejs %></header>
        <!-- Navbar-->
        <div class="clearfix mb"></div>

        <!--############################################Banner#################################################-->

        <section itemscope itemtype="http://schema.org/Article" class="container mb">
          <% include ../_partials/amp/_schemaArticle.ejs %>
          
          <div class="row">

            <div class="hidden-sm-down col-md-12 text-xs-center">
                <img src="/images/Software/Banner_en-InstarVision2-0_Camera-List.png" class="shadow img-fluid" alt="InstarVision 2 Camera List"/>
            </div>

            <div class="hidden-md-up col-12 text-xs-center">
                <img src="/images/Software/Banner_en-InstarVision2-0_small_Camera-List.png" class="shadow img-fluid" alt="InstarVision 2.0 Camera List"/>
            </div>

          </div>
          <!-- /row -->
        </section>
        <!-- /container -->

        <!--###################################### Camera List ###########################################-->

        <section class="container mb">
          <div class="row">

              <div class="col-12 mt">
                <h1 itemprop="name"><i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp; Seitennavigation - Kameraliste</h1>
              </div>

              <div class="hidden-md-down col-lg-3 mt mb" style="padding-top: 5px;">
                  <img src="/images/Software/Image007.png" alt="InstarVision 2.0 Surveillance Center User Interface - Camera List" class="shadow img-fluid"/>
              </div>

              <div class="col-md-12 col-lg-9 mt">

                  <p class="text-justify">Die Kamera Liste zeigt Ihnen alle eingebundenen Kameras und angelegten elektronische Karten. Neben IP Kameras können Sie auch USB Webcams und Fernzugriffe auf sekundäre Installationen des Sicherheit Center als Videoquellen einbinden. Klicken Sie einfach auf den + Button unten rechts oder führen Sie einen Rechtsklick auf Kamera aus und öffnen Sie den Dialog zum Hinzufügen von Kameras:</p>

                  <div class="col-sm-12 hidden-md-up text-xs-center mb">
                      <img src="/images/Software/Image007_cut_small.png" alt="InstarVision 2.0 Surveillance Center User Interface - Camera List" class="shadow"/>
                  </div>

                  <h3>Kameras hinzufügen</h3>

                  <p class="text-justify">Im Sicherheits-Center können Sie 3 unterschiedliche Videoquellen hinzufügen. Eine USB Kamera - wie sie z.B. an Ihrem Laptop installiert ist. Oder generell Webcams, die über eine USB Schnittstelle mit dem Server verbunden sind, auf dem die Software läuft. Netzwerk Kameras sind IP Kameras in Ihrem lokalen Netzwerk - also Kameras, die über eine lokale IP Adresse wie 192.168.1.101 erreichbar sind - als auch Kameras, die Sie über das Internet über eine DDNS Adresse wie abcd12.ddns-instar.de einbinden möchten. Der InstarVision Remote Access ist eine Funktion des Sicherheit Centers, die es Ihnen erlaubt auf den Videostream einer Kamera zuzugreifen, die in einer zweiten Installation der Software eingebunden ist. Die Reihenfolge der Kameras in der Kamera Liste bestimmt die Reihenfolge, die diese auf dem Video Canvas einnehmen.</p>

                  <div class="clearfix"></div>

                  <div class="card-deck-wrapper mb">
                    <div class="card-deck">
                        <div class="card card-inverse shadow" style="background-color: #333; border-color: #333;">
                          <img class="card-img-top img-fluid" src="/images/Software/Image010.png" alt="Add Camera">
                          <div class="card-block">
                            <h4 class="card-title"><span style="text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);">Hinzufügen</span></h4>
                            <p class="card-text">Klicken Sie auf den + Button oder führen Sie einen Rechtsklick auf Kamera in der Kamera Liste aus.</p>
                          </div>
                        </div>
                        <div class="card card-inverse shadow" style="background-color: #333; border-color: #333;">
                          <img class="card-img-top img-fluid" src="/images/Software/Image013.png" alt="Add Camera">
                          <div class="card-block">
                            <h4 class="card-title"><span style="text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);">Bearbeiten</span></h4>
                            <p class="card-text">Führen Sie einen Rechtsklick auf die Kamera aus, um sie zu bearbeiten.</p>
                          </div>
                        </div>
                        <div class="card card-inverse shadow" style="background-color: #333; border-color: #333;">
                          <img class="card-img-top img-fluid" src="/images/Software/Image014.png" alt="Add Camera">
                          <div class="card-block">
                            <h4 class="card-title"><span style="text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);">Umbenennen</span></h4>
                            <p class="card-text">Klicken Sie 2 x auf den Kameranamen um ihn zu ändern. Oder öffnen Sie das Eigenschaften Menü und ändern Sie ihn dort.</p>
                          </div>
                        </div>
                      </div>
                  </div>

                  <div class="clearfix"></div>

              </div>

              <div class="col-12">
                <p class="text-justify">Führen Sie einen Rechtsklick auf eine Kamera aus um diese zu deaktivieren, löschen oder zu duplizieren. Das Eigenschaften Menü gibt Ihnen Zugriff auf die Netzwerk und Videoparameter der Kamera, die Sie während des Hinzufügen der Kamera festgelegt haben. Das Bitrate Menü erlaubt es Ihnen die Qualität des Videostreams anzupassen. Beachten Sie bitte, dass eine hohe Qualitätseinstellung auch hohe Anforderungen an Ihr Netzwerk und an die Server CPU stellt!</p>
              </div>

          </div>
          <!-- /row -->
        </section>
        <!-- /container -->

        <div class="clearfix"></div>

        <!--########################################## USB Webcams###############################################-->

        <section class="container mb">
          <div class="row">

            <div class="col-12 mb">
                <h2><i class="fa fa-bars" aria-hidden="true"></i>&nbsp; Hinzufügen von USB Webcams</h2>
            </div>

            <div class="col-sm-12 col-md-4" style="margin-top: 5px;">
                <img src="/images/Software/Image015.png" alt="InstarVision 2.0 - Add USB Camera" class="shadow img-fluid mb"/>
            </div>

            <div class="col-sm-12 col-md-8">
              <p class="text-justify">Das InstarVision Überwachung Center findet Kameras automatisch, die direkt am PC oder Laptop angeschlossen sind. Wählen Sie einfach die Video und Audio Quelle aus der Liste aus und klicken Sie auf OK um diese als Kanal zur Kamera Liste hinzuzufügen. Wenn Sie eine Video Capture Karte verwenden, installieren Sie bitte einen WDM Treiber um das Videosignal streamen zu können. Für Camcorder und externe USB Webcams, schließen Sie diese bitte an der USB Schnittstelle des Computers an und starten Sie diesen neu. Die Geräte sollten danach als verfügbare Videoquelle im Drop-down Menü auftauchen.</p>
              <p class="text-justify">Die hier hinzugefügte Video Quelle steht Ihnen für alle erweiterten Features des Sicherheit Centers zur Verfügung. Sie können somit Ihren Laptop - mit integrierter Webcam - in eine vollwertige Überwachung Station verwandeln. Sie möchten wissen wer Ihren Laptop benutzt oder Ihr Büro betritt, wenn Sie nicht da sind? Das InstarVision Sicherheit Center ist die Lösung für Ihr ruhiges Gewissen.</p>
            </div>

          </div>
          <!-- /row -->
        </section>
        <!-- /container -->

        <div class="clearfix"></div>

        <!--############################################ IP Camera#################################################-->

        <section class="container mb">
          <div class="row">

            <div class="col-12 mb">
                <h2><i class="fa fa-bars" aria-hidden="true"></i>&nbsp; Hinzufügen von Netzwerk IP Kameras</h2>
            </div>

            <div class="col-sm-12 col-md-4" style="margin-top: 5px;">
                <img src="/images/Software/Image017.png" alt="InstarVision 2.0 - Add IP Camera" class="shadow img-fluid mb"/>
            </div>

            <div class="col-sm-12 col-md-8">
              <p class="text-justify">Das InstarVision Überwachung Center kann automatisch nach INSTAR HD und VGA Kameras in Ihrem lokalen Netzwerk suchen. Öffnen Sie dafür das Suchen Fenster, wählen Sie Ihren Kamera Typ (HD oder VGA) und klicken Sie auf Suchen. Wenn Sie eine gefundene Kamera aus der Liste selektieren, werden die notwendigen Parameter oben automatisch ausgefüllt. Passen Sie einfach Ihr Kamera Modell und persönliches Kamera Login an - Sie brauchen den Video/Audio Access und Ports nicht ändern. Klicken Sie danach auf OK um die Kamera der Liste hinzuzufügen.</p>
              <p class="text-justify">Wenn Sie eine Kamera hinzufügen möchten, die nicht in Ihrem lokalen Netzwerk eingebunden ist, ist es am einfachsten eine bereits hinzugefügte lokale Kamera zu duplizieren und die lokale IP durch die entsprechende Internet (DDNS) Adresse zu ersetzen. Wenn Sie keine lokale Kamera haben, müssen Sie den Video Access Name Ihrer INSTAR IP Kamera von Hand eingeben - dieser lautet livestream/11?action=playUNDEINFUEGENmedia=video_audio_data für HD und videostream.cgi für VGA Kameras.</p>
            </div>

            <div class="col-12 mb">
              <p class="text-justify">Wenn Sie eine Drittanbieter Kamera einbinden möchten, passen Sie den Video und Audio Zugriff bitte entsprechend der Dokumentation Ihres Anbieters an. Sie können auch einmal die Suchfunktion probieren - diese wird aber nur Kameras finden, die den gleichen Chipsatz nutzen, der auch in INSTAR Kameras verbaut ist. Sollten Sie keine Dokumentation für Ihre Kamera finden, können Sie einmal einen Blick in die iSpy Datenbank werfen.</p>
            </div>

          </div>
          <!-- /row -->
        </section>
        <!-- /container -->

        <div class="clearfix"></div>

        <!--############################################ Remote Instance#################################################-->

        <section class="container mb">
          <div class="row">

            <div class="col-12 mb">
                <h2><i class="fa fa-bars" aria-hidden="true"></i>&nbsp; Hinzufügen eines Fernzugriffes</h2>
            </div>

            <div class="col-sm-12 col-md-4" style="margin-top: 5px;">
                <img src="/images/Software/Image018.png" alt="InstarVision 2.0 - Add Remote Instance" class="shadow img-fluid mb"/>
            </div>

            <div class="col-sm-12 col-md-8">
              <p class="text-justify">Das InstarVision Sicherheit Center ermöglicht Ihnen das Streamen des Videos Ihrer Kamera über das Internet. Sie können diese Funktion nutzen einen Videostream aus einer Installation der Software in einer sekundären Installation einzubinden. Auf diese Weise können Sie z.B. alle Kameras von Ort A durch einen offenen Port zum Ort B durchleiten. Für den Zugriff können Sie die DDNS Adresse einer Kamera am Ort A nutzen und einfach einen TCP Port zum InstarVision Überwachung Center durchleiten. Der TCP Port, über den der Videostream läuft, legen Sie in der Software im System Menü fest. Auf diesem Weg nutzen Sie Ihre Netzwerk Ressourcen effizienter und halten Ihr Netzwerk sicherer. Des Weiteren umgehen Sie das Problem, dass die Kamera jeweils nur 3 gleichzeitige Stream Zugriffe erlaubt. Wenn Sie die Kamera z.B. in eine Webseite einbinden, wird der Stream mehr als 3 gleichzeitigen Besuchern zur Verfügung stehen.</p>
            </div>

          </div>
          <!-- /row -->
        </section>
        <!-- /container -->

        <!--############################################### Live Video####################################################-->

        <section class="container mb">
          <div class="row">

            <div class="col-12 mb">
                <h2><i class="fa fa-bars" aria-hidden="true"></i>&nbsp; Kamera Darstellungsfeld</h2>
            </div>

            <div class="col-12 mb">
              <p class="text-justify">Sie können - abhängig von Ihrer Lizenz - bis zu 64 Kameras zum InstarVision Überwachung Center hinzufügen. Jede Kamera wird in einem Darstellungsfeld links neben der Seiten Navigation dargestellt. Die Anzahl an Kameras, die gleichzeitig dargestellt werden, können Sie im Layout Menü festlegen. Jedes Darstellungsfeld bietet Ihnen eine Reihe von Funktionen mit denen Sie Ihre Kamera kontrollieren können.</p>
            </div>

            <div class="col-md-12 col-lg-6" style="margin-top: 7px;">
                <img src="/images/Software/Image066.png" alt="InstarVision 2.0 - Camera Viewport" class="shadow img-fluid"/>
            </div>

            <div class="col-md-12 col-lg-6">
              <p class="lead">Das OSD (On-Screen Display) des Darstellungsfeldes zeigt Ihnen den Namen des Kanals und 6 Kanal Status Buttons.</p>
              <p class="text-justify">Sie können das Video der Kamera doppel-klicken um das Darstellungsfeld des Kanals zu maximieren. Ein erneuter Doppelklick stellt dann wieder Multiansicht her. Ein Rechtsklick einen Vollbild Modus und schließt diesen wieder. Mit Ihrem Mausrad können Sie einen digitalen Zoom nutzen Wenn Sie das Kamerabild gezoomt haben, können Sie die Kamera virtuell schwenken, indem Sie die linke Maustaste gedrückt halten und das Video zur Seite ziehen. Der virtuelle Zoomfaktor wird Ihnen prozentual über dem Live Video angezeigt.</p>
              <img src="/images/Software/Image067.png" class="hidden-sm-down shadow img-fluid"/>
            </div>
            <div class="col-12 mt">
              <p class="text-justify"><img src="/images/Software/Image068a.png" width="12" height="12"/>&nbsp; <strong>IR LEDs</strong> Schalten Sie die Nachtsicht LEDs der Kamera ein oder aus.</p>
              <p class="text-justify"><img src="/images/Software/Image068.png" width="12" height="12"/>&nbsp; <strong>Maximiertes Darstellungsfeld</strong> Dieser Button maximiert das Darstellungsfeld der ausgewählten Kamera. Sie können dies auch über einen Doppelklick auf das Video erreichen.</p>
              <p class="text-justify"><img src="/images/Software/Image069.png" width="12" height="12"/>&nbsp; <strong>Mikrofon</strong> Dieser Button aktiviert das Mikrofon an Ihrem PC/Laptop. Nutzen Sie diese Funktion um einen Audiostream zum internen Lautsprecher Ihrer Kamera zu senden - falls vorhanden.</p>
              <p class="text-justify"><img src="/images/Software/Image071.png" width="12" height="12"/>&nbsp; <strong>Audio</strong> Der Audio Button aktiviert oder deaktiviert den Audiostream von Ihrer Kamera. Das Icon ändert sich zu  wenn der Stream deaktiviert wurde.</p>
              <p class="text-justify"><img src="/images/Software/Image070.png" width="12" height="12"/>&nbsp; <strong>Snapshot</strong> Dieser Button speichert einen Schnappschuss des aktuellen Videostreams als JPG Bilddatei. Die Datei wird im aktuellen Aufnahmepfad im Snapshot Ordner gespeichert.</p>
              <p class="text-justify"><img src="/images/Software/Image075.png" width="12" height="12"/>&nbsp; <strong>Aufnahme</strong> Dieser Button startet und stoppt die manuelle Aufnahme des Videostreams. Die Farben Grün, Blau und Rot zeigen den aktuellen Aufnahme Status des Kanals. Wenn eine Aufnahme gestartet wird, beginnt das Icon im Sekunden Takt zu blinken. Die Farbe  signalisiert die manuelle Aufnahme, welche durch ein erneutes Drücken gestoppt werden kann. Das  steht für eine geplante Aufnahme, welche Sie im Aufnahme Menü unter Zeitplan konfigurieren können. Ein  bedeutet, dass die Bewegungserkennung des Kanals aktiv ist und eine Bewegung erkannt hat. Die Alarmaufnahme können Sie im Alarm Menü konfigurieren.</p>
              <p class="text-justify"><img src="/images/Software/Image074.png" width="12" height="12"/>&nbsp; <strong>Trennen</strong> Dieser Button stoppt den Videostream der ausgewählten Kamera - das Link Symbol neben dem Kanalnamen in der Kamera Liste wird ausgeblendet.</p>
          </div>

        </div>
        <!-- /row -->
      </section>
      <!-- /container -->

      <div class="clearfix"></div>

      <!--################################################# Map ######################################################-->

      <section class="container mb">
        <div class="row">

          <div class="col-12 mb">
              <h2><i class="fa fa-bars" aria-hidden="true"></i>&nbsp; Übersichtskarte</h2>
          </div>

          <div class="col-sm-12 col-md-4" style="margin-top: 7px;">
              <img src="/images/Software/Image083.png" alt="InstarVision 2.0 - Overview Map" class="shadow img-fluid"/>
          </div>

          <div class="col-sm-12 col-md-8 mb">
            <p class="text-justify">Nutzen Sie eine Architektur Zeichnung Ihres Überwachungsbereiches oder einen Schnappschuss von Google Maps als interaktive eMap für Ihre Überwachung. Laden Sie das Bild (jpg, bmp, etc.) indem Sie einen Rechtsklick auf Karte in der Kamera Liste ausführen und Karte Hinzufügen wählen. Sie können die Karte umbenennen, indem Sie den Namen 2 mal anklicken und die Karte löschen, indem Sie sie rechtsklicken und Karte Löschen wählen. Ein Doppelklick öffnet die Karte auf dem Video Canvas. Sie können Ihre Kameras einfach aus der Kamera Liste auf die Karte ziehen und sie dort positionieren. Das Kamera Icon ändert sich zu einer roten Kamera, wenn ein Alarm ausgelöst wurde, oder zu einem rotem Ausrfezeichen, wenn die Verbindung zur Kamera verloren wurde. Ein Rechtsklick auf das Kamera Icon ermöglicht es Ihnen sich den Livestream der Kamera anzeigen zu lassen. Um die Karte zu schließen, können Sie einfach eine Kamera in der Kamera Liste doppelklicken.</p>
          </div>

          <div class="col-12">
            <div class="card-deck-wrapper mb">
              <div class="card-deck">
                  <div class="card card-inverse shadow" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid" src="/images/Software/Image079.png" alt="Add Map">
                    <div class="card-block">
                      <h4 class="card-title"><span style="text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);">Hinzufügen</span></h4>
                      <p class="card-text">Fügen Sie eine Karte hinzu, indem Sie eine Rechtsklick auf Karte ausführen.</p>
                    </div>
                  </div>
                  <div class="card card-inverse shadow" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid" src="/images/Software/Image080.png" alt="Delete Map">
                    <div class="card-block">
                      <h4 class="card-title"><span style="text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);">Löschen</span></h4>
                      <p class="card-text">Löschen Sie eine Karte, indem Sie sie rechtsklicken.</p>
                    </div>
                  </div>
                  <div class="card card-inverse shadow" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid" src="/images/Software/Image081.png" alt="Rename your Map">
                    <div class="card-block">
                      <h4 class="card-title"><span style="text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);">Umbenennen</span></h4>
                      <p class="card-text">Klicken Sie 2 x um den Namen zu ändern - ein Doppelklick öffnet die Kartenansicht.</p>
                    </div>
                  </div>
                  <div class="card card-inverse shadow" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid" src="/images/Software/Image084.png" alt="Edit your Map">
                    <div class="card-block">
                      <h4 class="card-title"><span style="text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);">Bearbeiten</span></h4>
                      <p class="card-text">Ziehen Sie die Kameras aus Ihrer Kamera Liste auf die Karte.</p>
                    </div>
                  </div>
                </div>
            </div>
          </div>

        </div>
        <!-- /row -->
      </section>
      <!-- /container -->

      <div class="clearfix"></div>

        <!--########################################### Mason Wall################################################-->

        <section class="container mb">
          <div class="row">

            <div class="col-12 mb">
                <h3>Wie nutzt man die elektronische Karte.</h3>
            </div>

            <div class="col-12">

              <div class="card-deck-wrapper mb">
                <div class="card-deck">
                    <div class="card card-inverse shadow" style="background-color: #333; border-color: #333;">
                      <img class="card-img-top img-fluid" src="/images/Software/InstarVision2_Map_01.png" alt="InstarVision 2.0 :: Add a Map">
                      <div class="card-block">
                        <p class="card-text"><span class="fa-stack">
                          <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                          <strong class="fa-stack-1x" style="color: white;">1</strong>
                        </span> Durchsuchen Sie das Web nach einer Karte für Ihren Überwachungsraum. Drücken Sie die Druck Taste auf Ihrer Tastatur um das Bild in der Zwischenablage zu speichern.</p>
                      </div>
                    </div>
                    <div class="card card-inverse shadow" style="background-color: #333; border-color: #333;">
                      <img class="card-img-top img-fluid" src="/images/Software/InstarVision2_Map_02.png" alt="InstarVision 2.0 :: Add a Map">
                      <div class="card-block">
                        <p class="card-text"><span class="fa-stack">
                          <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                          <strong class="fa-stack-1x" style="color: white;">2</strong>
                        </span> Öffnen Sie MS Paint (oder ähnlich) und drücken Sie zeitgleich Strg + V um das Bild im Programm zu öffnen. Sie können die Beschneidung Werkzeuge nutzen um die Karte freizustellen.</p>
                      </div>
                    </div>
                  </div>
              </div>
              <!-- /deck-wrapper -->

              <div class="card-deck-wrapper mb">
                <div class="card-deck">
                  <div class="card card-inverse shadow" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid" src="/images/Software/InstarVision2_Map_03.png" alt="InstarVision 2.0 :: Add a Map">
                    <div class="card-block">
                      <p class="card-text"><span class="fa-stack">
                        <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                        <strong class="fa-stack-1x" style="color: white;">3</strong>
                      </span> Halten Sie die linke Maustaste gedrückt um Ihre Kameras auf die Karte zu ziehen. Positionieren Sie sie entsprechend ihres Installationsortes.</p>
                    </div>
                  </div>
                  <div class="card card-inverse shadow" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid" src="/images/Software/InstarVision2_Map_04.png" alt="InstarVision 2.0 :: Add a Map">
                    <div class="card-block">
                      <p class="card-text"><span class="fa-stack">
                        <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                        <strong class="fa-stack-1x" style="color: white;">4</strong>
                      </span> Ein Doppelklick auf das Kamerasymbol öffnet das Live Video der Kamera. Schließen Sie dieses indem Sie auf Esc drücken.</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /deck-wrapper -->

              <div class="card-deck-wrapper mb">
                <div class="card-deck">
                  <div class="card card-inverse shadow" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid" src="/images/Software/InstarVision2_Map_05.png" alt="InstarVision 2.0 :: Add a Map">
                    <div class="card-block">
                      <p class="card-text"><span class="fa-stack">
                        <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                        <strong class="fa-stack-1x" style="color: white;">5</strong>
                      </span> Das Kamera Icon wird beginnen rot zu blinken, wenn ein Alarm ausgelöst wurde. Ein Doppelklick auf den Kameranamen in der Kamera Liste wird Sie wieder auf den Video Canvas führen, um die wieder die Live Videos aller Kameras zu sehen.</p>
                    </div>
                  </div>
                  <div class="card card-inverse shadow" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid" src="/images/Software/InstarVision2_Map_06.png" alt="InstarVision 2.0 :: Add a Map">
                    <div class="card-block">
                      <p class="card-text"><span class="fa-stack">
                        <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                        <strong class="fa-stack-1x" style="color: white;">6</strong>
                      </span> Wenn das Kamera Icon sich in ein rotes, blinkendes Ausrufezeichen wandelt, hat die Software die Verbindung zur Kamera verloren.</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /deck-wrapper -->

          </div>
          <!-- /col-12 -->
        </div>
        <!-- /row -->
      </section>
      <!-- /container -->

      <div class="clearfix"></div>

        <!-- #############################################  Gallery ############################################# -->

        <section class="instarvision mb"><% include ../_partials/content/_instarvision.ejs %></section>
        <!-- /webui -->

        <section class="social"><% include ../_partials/template/_social.ejs %></section>
        <!-- /social -->

        <!-- ############################################# Footer ############################################# -->

        <footer><% include ../_partials/template/_footer.ejs %></footer>

        <% include ../_partials/template/_jsdefaults.ejs %>

        </div>
        <!-- /Wrapper -->

    </body>

</html>
