<% include ../_partials/template/_head.ejs %>

    <body>
      <% include ../_partials/template/_outdated.ejs %>

      <div id="wrapper">

        <header><% include ../_partials/template/_header.ejs %></header>
        <!-- Navbar-->
        <div class="clearfix mb"></div>

        <!--############################################Banner#################################################-->

        <section itemscope itemtype="http://schema.org/Article" class="container mb">
          <% include ../_partials/amp/_schemaArticle.ejs %>

          <div class="row">

            <div class="hidden-sm-down col-md-12 text-xs-center">
                <img src="/images/Software/Banner_en-InstarVision2-0_Users.png" class="shadow img-fluid" alt="InstarVision 2 Users"/>
            </div>

            <div class="hidden-md-up col-12 text-xs-center">
                <img src="/images/Software/Banner_en-InstarVision2-0_small_Users.png" class="shadow img-fluid" alt="InstarVision 2.0 Users"/>
            </div>

          </div>
          <!-- /row -->
        </section>
        <!-- /container -->

        <!--###################################### Camera List ###########################################-->

        <section class="container mb">
          <div class="row">

              <div class="col-12 mt">
                <h1 itemprop="name"><i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp; Seitennavigation - Benutzerverwaltung</h1>
              </div>

              <div class="col-12">
                  <p class="text-justify lead">InstarVision bietet Ihnen eine hochgradig anpassbare mehrstufige Benutzerverwaltung</p>
              </div>

              <div class="hidden-md-down col-lg-3 mt mb" style="padding-top: 5px;">
                  <img src="/images/Software/Image047_cut.png" alt="InstarVision 2.0 Surveillance Center User Interface - Users" class="shadow img-fluid"/>
              </div>

              <div class="col-md-12 col-lg-9 mt">

                  <div class="col-12">
                      <p class="text-justify">Wenn Sie die Software zum ersten Mal starten, wird der Standardbenutzer hinzugefügt. Die Anmeldung ist jedoch nicht aktiv. Sie müssen sich nicht anmelden, um auf die Benutzeroberfläche zuzugreifen. Bitte gehen Sie zum <a href="/Software/Windows/InstarVision/System">Systemmenü</a>, wenn Sie den Passwortschutz aktivieren möchten. Passen Sie das Standardadministratorkonto an, wenn Sie Ihren Computer freigeben oder wenn Sie sicherstellen möchten, dass niemand auf den Software-Webserver zugreifen kann. Sobald ein Administrator erstellt wurde, können Sie weitere Benutzer mit eingeschränkten Rechten erstellen. Geben Sie einfach einen Benutzernamen und ein Passwort ein und klicken Sie auf HINZUFÜGEN, um einen Benutzer zu erstellen. Setzen Sie Prüfzeichen für alles, auf das der Benutzer zugreifen kann. Vergessen Sie nicht, vor dem Schließen des Menüs auf SPEICHERN zu klicken.</p>
                  </div>

                  <div class="col-12 mb">
                      <div class="list-group col-md-6">
                        <a href="#" class="list-group-item list-group-item-action active shadow">
                          <h5 class="list-group-item-heading lead">admin</h5>
                          <p class="list-group-item-text">Standard Benutzername</p>
                        </a>
                      </div>
                      <div class="list-group col-md-6">
                        <a href="#" class="list-group-item list-group-item-action active shadow">
                          <h5 class="list-group-item-heading lead">instar</h5>
                          <p class="list-group-item-text">Standard Kennwort</p>
                        </a>
                      </div>
                  </div>

              </div>

              <div class="col-12">
                  <p class="text-justify lead">Aktivieren Sie den Passwortschutz</p>
                  <p class="text-justify">Der Passwortschutz ist standardmäßig deaktiviert. Gehen Sie zum <a href="/Software/Windows/InstarVision/System">Systemmenü</a>, um die Anmeldung zu aktivieren. Sie müssen die Software nach dem Anpassen / Aktivieren des Administratorkontos neu starten und sich mit Ihren neuen Anmeldeinformationen anmelden. Bitte stellen Sie sicher, dass Sie Ihre Administrator-Anmeldung an einem sicheren Ort aufschreiben. Sie können nicht mehr auf die Software zugreifen, wenn die Anmeldung verloren geht. Wenn Sie sich mit einem Konto mit eingeschränkten Benutzerrechten anmelden, wird bei jedem Versuch, auf einen gesperrten Bereich zuzugreifen, eine Anmeldeaufforderung angezeigt. Geben Sie einfach Ihr Administrator-Login ein, um Ihre Benutzerrechte zu erhöhen.</p>
              </div>

              <div class="col-12">
                  <p class="text-justify lead">Fernzugriff</p>
                  <p class="text-justify">Durch Hinzufügen oder Entfernen von Häkchen unter der Benutzerliste wird der Zugriff auf diese Kameras oder Menüs über die Benutzeroberfläche des ausgewählten Benutzers hinzugefügt oder entfernt. Die Remote-Checkbox legt fest, ob ein Benutzer auf den <a href="/Software/Windows/InstarVision/Webserver">Webserver</a> der Software zugreifen und die Live-RTSP-Streams empfangen kann (siehe <a href="/Software/Windows/InstarVision/System">RTSP-Server-Port</a>) von Ihren Kameras. Falls der Software kein Benutzer hinzugefügt wird, können Sie trotzdem auf den Webserver zugreifen. Bitte beachten Sie jedoch, dass für bestimmte Plugins (Quicktime) ein Login erforderlich ist, um Videos streamen zu können.</p>
              </div>

            </div>
            <!-- /row -->
          </section>
          <!-- /container -->

        <div class="clearfix"></div>

        <!-- #############################################  Gallery ############################################# -->

        <section class="instarvision mb"><% include ../_partials/content/_instarvision.ejs %></section>
        <!-- /webui -->

        <section class="social"><% include ../_partials/template/_social.ejs %></section>
        <!-- /social -->

        <!-- ############################################# Footer ############################################# -->

        <footer><% include ../_partials/template/_footer.ejs %></footer>

        <% include ../_partials/template/_jsdefaults.ejs %>

        </div>
        <!-- /Wrapper -->

    </body>

</html>
