<% include ../_partials/template/_head.ejs %>

    <body itemscope itemtype="http://schema.org/Article">
      <% include ../_partials/template/_outdated.ejs %>

      <div id="wrapper">

        <header><% include ../_partials/template/_header.ejs %></header>
        <!-- Navbar-->
        <div class="clearfix mb"></div>

        <!--############################################Banner#################################################-->

        <section class="container mb">
          <div class="row">

            <div class="hidden-sm-down col-md-12 text-xs-center">
                <img src="/images/Software/Banner_en-InstarVision2-0_Record.png" class="shadow img-fluid" alt="InstarVision 2 Webserver"/>
            </div>

            <div class="hidden-md-up col-12 text-xs-center">
                <img src="/images/Software/Banner_en-InstarVision2-0_small_Record.png" class="shadow img-fluid" alt="InstarVision 2.0 Webserver"/>
            </div>

          </div>
          <!-- /row -->
        </section>
        <!-- /container -->

        <!--###################################### Camera List ###########################################-->

        <section class="container">
          <div class="row">

              <div class="col-12 mt mb">
                <h1 itemprop="name"><i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp; Seitennavigation - Allgemeine Aufnahmeinstellungen</h1>
              </div>

              <div class="col-md-12 col-lg-4 mt mb" style="padding-top: 5px;">
                  <img src="/images/Software/Image043.png" alt="InstarVision 2.0 Surveillance Center User Interface - Record Menu" class="shadow img-fluid"/>
              </div>

              <div class="col-md-12 col-lg-8 mt">
                <h2>Speicherverwaltung</h2>
                <br>
                <p class="text-justify"><span class="lead">AUFNAHMEPFADE</span>  Sie müssen immer erst einen Aufnahmeordner festlegen, bevor Sie eine Aufnahme starten. Beim ersten Software Start wird hierfür ein Ordner im Dokumente-Ordner Ihres Windowsbenutzers angelegt. Wenn Ihr Server mehr als ein Laufwerk besitzt, sollten Sie den Aufnahmeordner nicht auf das Laufwerk legen, auf dem das Betriebssystem installiert ist. Sie können auch mehr als einen Aufnahmepfad festlegen, auf unterschiedlichen Laufwerken. Die Software wird in diesem Fall automatisch zum nächsten Aufnahmeordner springen, sollte die Kapazität des ersten erreicht wurden sein (Overflow). Sie können die Hoch und Runter Pfeile verwenden, um die Reihenfolge zu bestimmen, in der die Verzeichnisse beschrieben werden. Um ein Netzlaufwerk in der InstarVision zu nutzen, muss dieses im Betriebssystem eingebunden sein - d.h. es muss als lokales Laufwerk im Windows Explorer angezeigt werden. Eine (englische) Anleitung, wie Sie Netzlaufwerke in Windows einbinden, finden Sie hier.</p>
              </div>

              <div class="col-12">
                  <h2>Aufnahmepfade</h2>
                  <br>
                  <p class="text-justify">Die Farbe, in der der Aufnahmepfad dargestellt wird, schlüsselt sich wie folgt auf:</p>
                  <ul>
                    <li><span style="color: Orange;"><strong>Orange</strong></span>: Aktives Aufnahmeverzeichnis</li>
                    <li><strong>Schwarz</strong>: Backup Aufnahmeverzeichnisse - die Software wird automatisch auf das nächste Backup Verzeichnis wechseln, sobald das aktive Verzeichnis nicht mehr verfügbar ist oder die Kapazität des Datenträgers erreicht wurde.</li>
                    <li><span style="color: Red;"><strong>Rot</strong></span>: Nicht verfügbares Verzeichnis</li>
                  </ul>
                  <br>
                  <p class="text-justify"><span class="lead">SPEICHER VERWALTUNG</span>  Die InstarVision kann automatisch alte Aufnahmen nach einer bestimmten Zeit löschen. Aktivieren das Automatische Löschen und legen Sie die Anzahl an Tagen fest, die Sie die Aufnahmen sichern möchten.</p>
              </div>

              <div class="col-12">
                  <h2>Videoaufnahme</h2>
                  <br>
                  <p class="text-justify"><span class="lead">VIDEO ENCODIERUNG</span>  Setzen Sie das Dateiformat, den Medien Codec und die Qualität Parameter für die Videoaufnahme der einzelnen Videokanäle fest. Es wird empfohlen, immer die Kodierung zu wählen, die auch von der Kamera verwendet wird. Für INSTAR HD Kameras wäre dies h.264/mp3 - auf diese Weise muss die Software den Stream nicht mehr umwandeln und die Prozessorlast wird entsprechend minimiert. Es empfiehlt sich auch ein kleines Zeitinkrement für den Wert Neue Datei alle zu wählen. Sollte beim Schreiben einer Datei ein Fehler auftreten, wäre somit nur ein kleines Zeitfenster Ihrer Überwachung davon betroffen. Um eine große Anzahl kurzer Videodateien effizient zu handhaben, können Sie den INSTAR Player verwenden. Wenn Sie den Zeitstempel und den Kameranamen im Videostream der Kamera deaktiviert haben, können Sie diese im OSD (On-Screen Display) der Software einblenden. Nutzen Sie das Soft-OSD für MP4, AVI und MKV Aufnahmen, um den Prozessoraufwand weiter zu reduzieren - im Vergleich zu einem in das Video "eingebrannten" (Hard-OSD) Textzug.</p>
              </div>

            </div>
            <!-- /row -->
          </section>
          <!-- /container -->

          <!-- #################################### Modal ############################################# -->

          <section class="container mb">
            <div class="row">

              <!-- Button trigger modal -->
              <div class="col-12 text-xs-right">
                <button class="btn btn-danger" data-toggle="modal" data-target="#myModal">
                  Beschädigte Videodateien?
                </button>
              </div>

              <!-- Modal -->
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content" style="padding: 10px;">

                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h3 class="modal-title" id="myModalLabel">Beschädigte Videodateien nach einem Software-Absturz</h3>
                    </div>

                    <div class="container-fluid center-block">
                      <figure class="mb">
                          <img src="/images/Software/Corrupted_video_file.png" class="img-fluid" alt="Corrupted Video File">
                        </a>
                      </figure>
                    </div>

                    <p class="text-justify" style="margin-bottom: 20px;">Sollte die Software während einer Aufnahme unerwarted beendet werden, z.B. durch einen Absturz des PCs, wird die Video Datei nicht abgeschlossen werden und ist ggf. für Ihren Video Player nicht mehr lesbar!</p>

                    <p class="text-justify" style="margin-bottom: 20px;">Die Datei kann in vielen Fällen noch von kostenlosen Programmen wie dem VLC Player abgespielt werden. Wir empfehlen Ihnen für die Aufnahme den AVI Container zu wählen und die Dateigröße so klein wie möglich zu halten. Der AVI Container hat sich meistens als am robustesten erwiesen und eine kurze Spielzeit für einzelne Dateien minimiert Ihr Risiko eines Datenverlustes noch weiter.</p>

                    <div class="container-fluid center-block">
                      <figure class="mb">
                          <img src="/images/Software/Corrupted_video_file_01.png" class="img-fluid" alt="Corrupted Video File">
                        </a>
                      </figure>
                    </div>

                    <p class="text-justify" style="margin-bottom: 20px;">Um Ihre Datensicherheit zu erhöhen, empfehlen wir Ihnen als Videoformat AVI zu wählen und die Dateigröße so klein wie möglich zu halten.</p>

                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </section>


      <div class="clearfix mt"></div>

        <!-- #############################################  Gallery ############################################# -->

        <section class="instarvision mb"><% include ../_partials/content/_instarvision.ejs %></section>
        <!-- /webui -->

        <section class="social"><% include ../_partials/template/_social.ejs %></section>
        <!-- /social -->

        <!-- ############################################# Footer ############################################# -->

        <footer><% include ../_partials/template/_footer.ejs %></footer>

        <% include ../_partials/template/_jsdefaults.ejs %>

        </div>
        <!-- /Wrapper -->

    </body>

</html>
