<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
    </head>

    <body class="home">

        <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
            <% include ../_partials/amp/_ampLandingSidebar.ejs %>
        </amp-sidebar>

        <header class="header fixed">
            <% include ../_partials/amp/_amp-header.ejs %>
        </header>

        <div class="wrap">
            <div class="container main">

              <% include ../_partials/content/_bluenav-general.ejs %>

                    <article itemscope itemtype="http://schema.org/Article" class="blade wrapper content">
                      <% include ../_partials/amp/_schemaArticle.ejs %>

                    <div>
                        <h1>Windows Software</h1>
                        <h2 itemprop="name">iSpy Connect</h2>
                        <p>
                          iSpy nutzt Ihre Kameras, Webcams, IP Kameras und Mikrofone um Bewegung oder Sound zu erkennen und aufzunehmen. Aufgenommene Dateien sind komprimiert in ein Flash oder mp4 Video und wird verschlüsselt über das Web und lokale Netzwerk gestreamt. iSpy kann auf mehreren Rechnern laufen und hat alle Email, SMS und Twitter Benachrichtigungs Funktionen und Fernzugriff auf das Livebild. Einige Schlüsselfunktionen sind: Unbegrenzte Anzahl an Kameras und Mirkofonen (IP und USB Kameras einbezogen), Bewegungserkennung (3 Arten), Bewegungsverlauf (4 Arten), Aufnehmen bei Erkennung, Aufnehmen nach Zeitplan, Aufnahme mit Audio, Fernzugriff, Netzwerk Audio Broadcast (üner iSpy Server), Passwort-Schutz, Desktop Aufnahme, YouTube Upload, SMS, Twitter und Email Benachrichtigung.
                        </p>
                        <p>
                          Damit Sie Ihre INSTAR IP Kamera in die <a href="www.ispyconnect.com" target="_blank">Spy Software von ISPYConnect</a> einfügen können, empfehlen wir die aktuellste Version <a itemprop="url" href="http://www.ispyconnect.com/download.aspx" target="_blank">HIER</a> herunterzuladen.
                        </p>
                    </div>
                    <!-- /margin -->


                    <div class="margin">
                      <amp-img
                          on="tap:lightbox1"
                          role="button"
                          tabindex="0"
                          src="/images/Software/ISpy_mainview.png" width="1095" height="674" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin"><h2>Hinzufügen einer HD Camera</h2>
                        <p>Nachdem Sie die neueste Version von iSpy installiert haben, öffnen Sie bitte das Programm.</p></div>
                    <div class="margin">
                        <h3>Schritt 1</h3>
                        <p>
                            Klicken Sie den <b>Add</b> Button und wählen Sie <b>IP Camera</b>, um Ihre INSTAR HD Kamera hinzuzufügen.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox2"
                          role="button"
                          tabindex="0"
                          src="/images/Software/ISpy_addHDCam_01.png" width="1081" height="755" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Schritt 2</h3>
                        <p>
                            Falls Sie den <b>MPEG</b>-Stream nutzen möchten, tippen Sie den Benutzernamen und das Passwort in die gegebenen Felder ein. Tippen Sie die komplette URL in das
                            MPEG-URL Feld. Die URL sollte das folgende Muster besitzen: http://&lt;Camera-IP&gt;:&lt;Camera-Port&gt;/videostream.cgi?&lt;Parameters&gt;. Drücken Sie danach auf <b>Ok</b>.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox3"
                          role="button"
                          tabindex="0"
                          src="/images/Software/ISpy_addHDCam_02.png" width="1081" height="755" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                       <p>
                            Falls Sie den <b>H.264</b>-Stream verwenden möchten, tippen Sie den kompletten RTSP URL in das
                            URL Feld. Die URL sollte das folgende Muster besitzen: rtsp://&lt;username&gt;:&lt;password&gt;@&lt;Camera-IP&gt;/11?&lt;Parameters&gt;. Drücken Sie danach auf <b>Ok</b>.
                        </p>
                        <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox4"
                          role="button"
                          tabindex="0"
                          src="/images/Software/ISpy_addHDCam_03.png" width="1081" height="755" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->


                    <div class="margin">
                        <h3>Schritt 3</h3>
                        <p>
                          Geben Sie einen Namen für die neu hinzugefügte Kaemra in das Textfeld name. Drücken Sie danach auf <b>Finish</b>.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:lightbox5"
                          role="button"
                          tabindex="0"
                          src="/images/Software/ISpy_addHDCam_04.png" width="1081" height="755" layout="responsive" class="shadow">
                      </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin"><h2>Erweiterte Einstellungen</h2>
                        <p>iSpy comes with a wealth of feature that cannot be covered in detail here. Please refer to the <a href="http://www.ispyconnect.com/userguide.aspx">iSpy User Guide</a> for a more in-depth tutorial. Also note that iSpy supports <a href="http://www.ispyconnect.com/plugins.aspx">Plugins</a> for added features like License Plate Recognition, Face Recognition, Barcode Scanners, Text Overlays, etc. You can also use the software to make your IP camera available for video chat programs like <a href="http://www.ispyconnect.com/userguide-virtual-webcam-driver.aspx">Skype</a>.
                        </p>
                        <p>The following section is supposed to give you an overview over the advanced features you might want to use with your INSTAR IP camera. You can enter the advanced camera setting by hovering your mouse over the camera video and clicking on the Cog symbol in the context menu.
                        </p>
                        <h3>Camera Settings</h3>
                        <p>The Camera Settings tab allows you to change basic video options like the frame rate and text overlays. You can also edit the video source if the camera address or login was changed. Add a privacy mask to the video image or activate the microphone function if not activated automatically.</p>

                        <div class="margin">
                          <amp-img
                              on="tap:lightbox6"
                              role="button"
                              tabindex="0"
                              src="/images/Software/ISpy_advancedHDCam_01.png" width="1150" height="823" layout="responsive" class="shadow">
                          </amp-img>
                        </div>
                        <!-- /margin -->

                        <p>Bearbeiten Sie einfache Video und Audio Optionen Ihrer Kamera.</p>

                        <div class="margin">
                          <amp-img
                              on="tap:lightbox7"
                              role="button"
                              tabindex="0"
                              src="/images/Software/ISpy_advancedHDCam_02.png" width="1151" height="821" layout="responsive" class="shadow">
                          </amp-img>
                        </div>
                        <!-- /margin -->

                        <p>Fügen Sie eine Schwarz-Weiß Bilddatei zur Kamera um Bereiche zu maskieren, in denen Privatsphäre gedacht ist.</p>

                        <h3>Bewegungserkennung</h3>

                            <p>iSpy kommt mit einer Reihe von verscheidenen Algorithmen zur Bewegungserkennung. Jeder Bewegungserkenner hat verschiedene Perfomance Vorteile und ist für unterschiedliche Zwecke geeignet.</p>

                            <div class="margin">
                            <table>
                                <tr>
                                    <td width="20%">
                                        <strong>Two Frames:</strong>
                                    </td>
                                    <td>Vielleicht der meistgewählte Typ den Sie nutzen werden. iSpy vergleucht nur den letzten Bildframe mit dem jetzigen Bildframe.</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>Custom Frame:</strong>
                                    </td>
                                    <td>iSpy speichert einen Frame und vergleicht nachfolgende Frames mit diesem - gut für das Erkennen wenn sich Sachen ändenr - wie wenn jemand einen Rucksack aus dem Bild nimmt.</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>Background Modelling:</strong>
                                    </td>
                                    <td>iSpy macht einen spezifischen Frame aber stellt ihn nach der Zeit um und legt ihn über den aktuellen Frame, um ihn mit diesem Frame zu vergleichen. Das ist gut, wenn Sie etwas in Ihrem Bild haben, dass sich konstant bewegt - iSpy wird lernen, dieses zu ignorieren.</td>
                                </tr>
                            </table>
                            </div>
                            <!-- /margin -->

                            <div class="margin">
                              <amp-img
                                  on="tap:lightbox8"
                                  role="button"
                                  tabindex="0"
                                  src="/images/Software/ISpy_advancedHDCam_03.png" width="1151" height="822" layout="responsive" class="shadow">
                              </amp-img>
                            </div>
                            <!-- /margin -->

                            <p>Experimentieren Sie mit verschiedenen Algorithmen, um herauszufinden, welcher für Ihre Überwachung am besten geeignet ist.</p>

                            <p>Die Sensibilität kann in einem Tiggerbereich gesetzt werden und erlaubt es Ihnen, ein Minimum und ein Maximum einer Bewegungserkennung zu setzen. Die cut-off Funtkion für High-Detection Level, erlaubt es Ihnen Fehlarlame, zum Beispiel durch Änderungen der Lichtverhältniss zu verweiden (vorbeiziehende Wolken oder vorbeifahrendes Auto in der Nacht). Alle Änderungen die den gesamenten Bildbereich betreffen, können als einen Alarmauslöser einfach entfernt werden, indem Sie ein höheres Detection-Level wählen. Die geringeren Level benötigen ein Minimum an Bewegung, bis ein Alarm ausgelöst wird.</p>


                            <div class="margin">
                              <amp-img
                                  on="tap:lightbox9"
                                  role="button"
                                  tabindex="0"
                                  src="/images/Software/ISpy_advancedHDCam_03.png" width="1151" height="822" layout="responsive" class="shadow">
                              </amp-img>
                            </div>
                            <!-- /margin -->

                            <p>Ein höheres oder niedrigeres Detection-Level setzen, um Fehlalarme zu minimieren.</p>

                            <p>Der HSL Filter sagt iSpy, dass es die bestimmten Farben ignorieren soll wenn auf Bewegung geachtet wird. Es gibt viele Gründe, warum dies hilfreich ist, zum Beispiel das ignorieren konstant beweglicher Objekte (wie Bäume oder Wolken) oder das Aufzeichnen von Objekten mit einer bestimmten Farbe (wie ihr rotes Auto auf einem Parkplatz). Nutzen Sie das Farbrad auf der linken Seite um die Farben auszuwählen, die Sie ignorieren oder verfolgen möchten. Sie können die Minimum und Maximum Level für die Sättigung und Helligkeit festlegen. Eine Live-Vorschau was der Bewegungserkenner sieht, ist auf der oberen rechten Seite. Hier sehen Sie, dass der Bewegungserkenner darauf eingestellt ist nach roten Farben zu suchen und alles andere zu ignorieren - das heißt, dass es nur aufnimmt und Alarm auslöst, wenn etwas rotes in den Bereich eintritt.</p>

                            <div class="margin">
                              <amp-img
                                  on="tap:lightbox10"
                                  role="button"
                                  tabindex="0"
                                  src="/images/Software/ISpy_advancedHDCam_04.png" width="1151" height="823" layout="responsive" class="shadow">
                              </amp-img>
                            </div>
                            <!-- /margin -->

                            <p>Der HSL Filter erlaubt es Ihnen, iSpy Farben zu ignorieren oder nur auf spezifische Farben im Videobild zu reagieren.</p>

                            <p>iSpy can monitor specific areas of the camera view and ignore others. You can add as many rectangular detection zones as you like (iSpy will only monitor the area within the zones). To add a zone, click and drag out a translucent rectangle. To clear all zones click "Clear Zones". Note that with no zones defined iSpy will monitor the entire camera view.</p>

                            <div class="margin">
                              <amp-img
                                  on="tap:lightbox11"
                                  role="button"
                                  tabindex="0"
                                  src="/images/Software/ISpy_advancedHDCam_05.png" width="1149" height="823" layout="responsive" class="shadow">
                              </amp-img>
                            </div>
                            <!-- /margin -->

                            <p>Limit the detection zone by drawing rectangular shapes on the video frame. Only motions inside a drawn zone will be detected to reduce false alerts.</p>


                        <h3>Alarm</h3>

                            <p>iSpy raises alerts for cameras and microphones when it detects movement or sound (you can also raise alerts for no movement or no sound).</p>

                            <div class="margin">
                            <table>
                                <tr>
                                    <td width="20%">
                                        <strong>Mode:</strong>
                                    </td>
                                    <td>Choose between movement/ no movement or plugin modes. Click the "..." button to configure various settings.</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>Continuous/ When Motion Detected/ External Trigger:</strong>
                                    </td>
                                    <td>These options apply to plugins only. For example you may only want to perform license plate recognition (using the plugin) when motion is detected.</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>Actions:</strong>
                                    </td>
                                    <td>Actions to perform on alert - You can add as many actions here as you like.</td>
                                </tr>
                            </table>
                            </div>
                            <!-- /margin -->

                            <div class="margin">
                              <amp-img
                                  on="tap:lightbox12"
                                  role="button"
                                  tabindex="0"
                                  src="/images/Software/ISpy_advancedHDCam_06.png" width="1150" height="823" layout="responsive" class="shadow">
                              </amp-img>
                            </div>
                            <!-- /margin -->

                            <p>Definieren Sie ein Kriterium, dass für das Auslösen eines Alarms gebraucht wird - der Standard ist, Bewegungen im Videobild zu erkennen.</p>

                            <div class="margin">
                              <amp-img
                                  on="tap:lightbox13"
                                  role="button"
                                  tabindex="0"
                                  src="/images/Software/ISpy_advancedHDCam_07.png" width="1151" height="822" layout="responsive" class="shadow">
                              </amp-img>
                            </div>
                            <!-- /margin -->

                            <p>Legen Sie eine Aktion fest die bei einer Erkennung ausgelöst wird - Sie können so viele Aktionen wie Sie möchten hinzufügen.</p>

                        <h3>Aufnehmen</h3>

                        <p>iSpy hat 4 Arten von Aufnahme-Modi:</p>

                        <div class="margin">
                            <table>
                                <tr>
                                    <td width="20%">
                                        <strong>Keine Aufnahme:</strong>
                                    </td>
                                    <td>Manuelles auslösen - entweder durch Rechtsklick auf die Kamera im iSpy und klicken auf "Record" oder durch Klicken auf "Record" im iSpyConnect.</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>Aufnehmen bei Erkennung:</strong>
                                    </td>
                                    <td>Startet die Aufnahme sobald eine Bewegung erkannt wurde, unabhängig wielange die Bewegung erkannt wurde.</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>Aufnehmen bei Alarm:</strong>
                                    </td>
                                    <td>Das ist sehr hilfreich für eine geringe Anzahl an Aufnahmen, wenn Sie einen sensiblen Bewegungserkennungs-Triggerpunkt ausgewählt haben.</td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <strong>Zeitraffer Aufnahme:</strong>
                                    </td>
                                    <td>iSpy speichert einen Frame nach einem Intervall, dass Sie bestimmt haben und kovertiert die Bilder in eine Videodatei. Record on detect meint die Aufnahme soblad iSpy eine Bewegung erkannt hat. Record on alert meint die Aufnahme wenn iSpy einen Alarm ausgelöst hat - Alarme können durch Plugins wie Gesichtserkennung, Kennzeichen Erkennung oder Sonstiges ausgelöst werden.</td>
                                </tr>
                            </table>
                            </div>
                            <!-- /margin -->

                            <div class="margin">
                              <amp-img
                                  on="tap:lightbox14"
                                  role="button"
                                  tabindex="0"
                                  src="/images/Software/ISpy_advancedHDCam_08.png" width="1150" height="821" layout="responsive" class="shadow">
                              </amp-img>
                            </div>
                            <!-- /margin -->

                            <p>Stellen Sie die Aufnahme Einstellungen für Ihre Kamera ein.</p>


                        <h3>PTZ Control</h3>

                        <p>iSpy beinhaltet einen XML definition file für das Steuerung von PTZ Kameras. Sie können von diesem Panel aus Ihre Kamera steuern, oder Sie können PTZ mit iSpy steuern, indem Sie dem mittleren Maus-Button auf der Kamera oder aus dem Kontextmenü drücken (für erweiterte Kommandos wie ein/aus des IR Lichts). Wenn Ihre Kamera Zoom-Funktionen unterstützt, können Sie das Mausrad auf der Kamera verwenden um rein- oder rauszuzoomen.</p>

                        <div class="margin">
                          <amp-img
                              on="tap:lightbox15"
                              role="button"
                              tabindex="0"
                              src="/images/Software/ISpy_advancedHDCam_09.png" width="1151" height="822" layout="responsive" class="shadow">
                          </amp-img>
                        </div>
                        <!-- /margin -->

                        <p>Die PTZ Einstellungen.</p>

                        <div class="margin">
                          <amp-img
                              on="tap:lightbox16"
                              role="button"
                              tabindex="0"
                              src="/images/Software/ISpy_advancedHDCam_10.png" width="1149" height="823" layout="responsive" class="shadow">
                          </amp-img>
                        </div>
                        <!-- /margin -->

                        <p>Das PTZ Menü.</p>

                        <div class="margin">
                          <amp-img
                              on="tap:lightbox17"
                              role="button"
                              tabindex="0"
                              src="/images/Software/ISpy_advancedHDCam_11.png" width="1151" height="821" layout="responsive" class="shadow">
                          </amp-img>
                        </div>
                        <!-- /margin -->

                        <p>Der PTZ Controller.</p>

                        <p>Während Sie das Wiki hier lesen, sind eventuell schon alle INSTAR Kameras im iSpy XML File integriert. Wenn nicht, fügen Sie einfach die folgenden Kommandos zum File hinzu, um PTZ für Ihre Kamera zum Laufen zu bringen:</p>

                        <h4>PTZ Control: Kommandos</h4>

                        <p>IN-3005, IN-3010, IN-3011</p>

                        <div class="code shadow">
                        <code><pre>
                        &lt;Makes&gt;
                            &lt;Make Name="INSTAR" Model="IN-301x" &#47;&gt;
                        &lt;&#47;Makes&gt;
                        &lt;CommandURL&gt;&#47;decoder_control.cgi&lt;&#47;CommandURL&gt;
                        &lt;Commands&gt;
                           &lt;Center&gt;command=25&lt;&#47;Center&gt;
                           &lt;Left&gt;command=4&lt;&#47;Left&gt;
                           &lt;LeftUp&gt;command=90&lt;&#47;LeftUp&gt;
                           &lt;Right&gt;command=6&lt;&#47;Right&gt;
                           &lt;RightUp&gt;command=91&lt;&#47;RightUp&gt;
                           &lt;Up&gt;command=0&lt;&#47;Up&gt;
                           &lt;Down&gt;command=2&lt;&#47;Down&gt;
                           &lt;LeftDown&gt;command=92&lt;&#47;LeftDown&gt;
                           &lt;RightDown&gt;command=93&lt;&#47;RightDown&gt;
                           &lt;Stop&gt;command=1&lt;&#47;Stop&gt;
                        &lt;&#47;Commands&gt;
                        &lt;ExtendedCommands&gt;
                           &lt;Command Name="Stop"&gt;command=1&lt;&#47;Command&gt;
                           &lt;Command Name="Horizon patrol"&gt;command=28&lt;&#47;Command&gt;
                           &lt;Command Name="Stop horizon patrol"&gt;command=29&lt;&#47;Command&gt;
                           &lt;Command Name="Vertical patrol"&gt;command=26&lt;&#47;Command&gt;
                           &lt;Command Name="Stop vertical patrol"&gt;command=27&lt;&#47;Command&gt;
                           &lt;Command Name="IO Output High"&gt;command=94&lt;&#47;Command&gt;
                           &lt;Command Name="IO Output Low"&gt;command=95&lt;&#47;Command&gt;
                           &lt;Command Name="Set Preset 1"&gt;command=30&lt;&#47;Command&gt;
                           &lt;Command Name="Go Preset 1"&gt;command=31&lt;&#47;Command&gt;
                           &lt;Command Name="Set Preset 2"&gt;command=32&lt;&#47;Command&gt;
                           &lt;Command Name="Go Preset 2"&gt;command=33&lt;&#47;Command&gt;
                           &lt;Command Name="Set Preset 3"&gt;command=34&lt;&#47;Command&gt;
                           &lt;Command Name="Go Preset 3"&gt;command=35&lt;&#47;Command&gt;
                           &lt;Command Name="Set Preset 4"&gt;command=36&lt;&#47;Command&gt;
                           &lt;Command Name="Go Preset 4"&gt;command=37&lt;&#47;Command&gt;
                           &lt;Command Name="Set Preset 5"&gt;command=38&lt;&#47;Command&gt;
                           &lt;Command Name="Go Preset 5"&gt;command=39&lt;&#47;Command&gt;
                           &lt;Command Name="Set Preset 6"&gt;command=40&lt;&#47;Command&gt;
                           &lt;Command Name="Go Preset 6"&gt;command=41&lt;&#47;Command&gt;
                           &lt;Command Name="Set Preset 7"&gt;command=42&lt;&#47;Command&gt;
                           &lt;Command Name="Go Preset 7"&gt;command=43&lt;&#47;Command&gt;
                           &lt;Command Name="Set Preset 8"&gt;command=44&lt;&#47;Command&gt;
                           &lt;Command Name="Go Preset 8"&gt;command=45&lt;&#47;Command&gt;
                           &lt;Command Name="Set Preset 9"&gt;command=46&lt;&#47;Command&gt;
                           &lt;Command Name="Go Preset 9"&gt;command=47&lt;&#47;Command&gt;
                           &lt;Command Name="Set Preset 10"&gt;command=48&lt;&#47;Command&gt;
                           &lt;Command Name="Go Preset 10"&gt;command=49&lt;&#47;Command&gt;
                           &lt;Command Name="Set Preset 11"&gt;command=50&lt;&#47;Command&gt;
                           &lt;Command Name="Go Preset 11"&gt;command=51&lt;&#47;Command&gt;
                           &lt;Command Name="Set Preset 12"&gt;command=52&lt;&#47;Command&gt;
                           &lt;Command Name="Go Preset 12"&gt;command=53&lt;&#47;Command&gt;
                           &lt;Command Name="Set Preset 13"&gt;command=54&lt;&#47;Command&gt;
                           &lt;Command Name="Go Preset 13"&gt;command=55&lt;&#47;Command&gt;
                           &lt;Command Name="Set Preset 14"&gt;command=56&lt;&#47;Command&gt;
                           &lt;Command Name="Go Preset 14"&gt;command=57&lt;&#47;Command&gt;
                           &lt;Command Name="Set Preset 15"&gt;command=58&lt;&#47;Command&gt;
                           &lt;Command Name="Go Preset 15"&gt;command=59&lt;&#47;Command&gt;
                        &lt;&#47;ExtendedCommands&gt;
                        </pre></code>
                        </div>

                        <p>IN-4009, IN-4010, IN-4011</p>

                        <div class="code shadow">
                        <code><pre>
                        &lt;Makes&gt;
                            &lt;Make Name="INSTAR" Model="IN-40xx" &#47;&gt;
                        &lt;&#47;Makes&gt;
                        &lt;CommandURL&gt;&#47;decoder_control.cgi&lt;&#47;CommandURL&gt;
                        &lt;Commands&gt;
                            &lt;Center&gt;command=31&lt;&#47;Center&gt;
                            &lt;Left&gt;command=4&lt;&#47;Left&gt;
                            &lt;Right&gt;command=6&lt;&#47;Right&gt;
                            &lt;Up&gt;command=0&lt;&#47;Up&gt;
                            &lt;Down&gt;command=2&lt;&#47;Down&gt;
                            &lt;Stop&gt;command=1&lt;&#47;Stop&gt;
                            &lt;ZoomIn&gt;command=16&lt;&#47;ZoomIn&gt;
                            &lt;ZoomOut&gt;command=18&lt;&#47;ZoomOut&gt;
                        &lt;&#47;Commands&gt;
                        </pre></code>
                        </div>

                        <p>IN-6011 HD, IN-6012 HD, IN-6014 HD, IN-7011 HD</p>

                        <div class="dangercard">
                            <p class="justify">Die PTZ Kommandos commands in iSpy don´t seem to work for our HD models at the moment. Please add your HD camera as an ONVIF cameras - when you are using the wizard to add a new camera, simply choose ONVIF as camera manufacturer. This will automatically choose the ONVIF profile inside the PTZ menu. If you are accesing your camera over the internet, please don´t forget to forward the ONVIF port inside the local router: <strong>The default ONVIF port is 8080</strong>!</p>
                        </div>

                        <br/>

                        <div class="code shadow">
                        <code><pre>
                        &lt;Makes&gt;
                        &lt;Make Name="INSTAR" Model="IN-6&#47;7xx" &#47;&gt;
                        &lt;&#47;Makes&gt;
                        &lt;CommandURL&gt;&#47;web&#47;cgi-bin&#47;hi3510&#47;&lt;&#47;CommandURL&gt;
                        &lt;Commands&gt;
                          &lt;Center&gt;preset.cgi?-act=goto&amp;-number=0&lt;&#47;Center&gt;
                          &lt;Left&gt;ptzctrl.cgi?-Schritt=1&amp;-act=left&lt;&#47;Left&gt;
                          &lt;Right&gt;ptzctrl.cgi?-Schritt=1&amp;-act=right&lt;&#47;Right&gt;
                          &lt;Up&gt;ptzctrl.cgi?-Schritt=1&amp;-act=up&lt;&#47;Up&gt;
                          &lt;Down&gt;ptzctrl.cgi?-Schritt=1&amp;-act=down&lt;&#47;Down&gt;
                          &lt;Stop&gt;ptzctrl.cgi?-Schritt=0&amp;-act=stop&lt;&#47;Stop&gt;
                          &lt;ZoomIn&gt;ptzctrl.cgi?-Schritt=1&amp;-act=zoomin&lt;&#47;ZoomIn&gt;
                          &lt;ZoomOut&gt;ptzctrl.cgi?-Schritt=1&amp;-act=zoomout&lt;&#47;ZoomOut&gt;
                        &lt;&#47;Commands&gt;
                        &lt;ExtendedCommands&gt;
                          &lt;Command Name="Go Preset 1"&gt;preset.cgi?-act=goto&amp;-number=0&lt;&#47;Command&gt;
                          &lt;Command Name="Go Preset 2"&gt;preset.cgi?-act=goto&amp;-number=1&lt;&#47;Command&gt;
                          &lt;Command Name="Go Preset 3"&gt;preset.cgi?-act=goto&amp;-number=2&lt;&#47;Command&gt;
                          &lt;Command Name="Go Preset 4"&gt;preset.cgi?-act=goto&amp;-number=3&lt;&#47;Command&gt;
                          &lt;Command Name="Go Preset 5"&gt;preset.cgi?-act=goto&amp;-number=4&lt;&#47;Command&gt;
                          &lt;Command Name="Go Preset 6"&gt;preset.cgi?-act=goto&amp;-number=5&lt;&#47;Command&gt;
                          &lt;Command Name="Go Preset 7"&gt;preset.cgi?-act=goto&amp;-number=6&lt;&#47;Command&gt;
                          &lt;Command Name="Go Preset 7"&gt;preset.cgi?-act=goto&amp;-number=7&lt;&#47;Command&gt;
                        &lt;&#47;ExtendedCommands&gt;
                        </pre></code>
                        </div>

                    </div>

                </article>
                <!-- /article -->

                <!-- #################### Lightboxes ######################## -->
                <amp-image-lightbox id="lightbox1" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox2" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox3" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox4" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox5" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox6" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox7" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox8" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox9" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox10" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox11" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox12" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox13" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox14" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox15" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox16" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="lightbox17" layout="nodisplay"></amp-image-lightbox>

            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
