<% include ../_partials/template/_head.ejs %>

    <body>
      <% include ../_partials/template/_outdated.ejs %>

      <div id="wrapper">

        <header><% include ../_partials/template/_header.ejs %></header>
        <!-- Navbar-->
        <div class="clearfix mb"></div>

        <!-- #############################################  Gallery ############################################# -->

        <section class="container mb">
          <div class="row">

            <div class="container col-12">
            <!-- Media Container -->

              <h1>Kamera hinzufügen (<a href="/Internet_Access/The_DDNS_Service">DDNS</a>)</h1>
              <br>
              <br>
              <p class="lead">Haben Sie kein Audio bei Ihrer 1080p Kameramodell ?&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/Software/Mobile_Access_Over_HTTPS" target="_blank"><button type="button" class="btn btn-primary">Audio &amp; HTTPS</button></a></p>

              <div class="card-deck-wrapper">
                <div class="card-deck">
                  <div class="card card-inverse mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid img-rounded" src="/images/Software/Windows_Metro_App (1).png" alt="InstarVision for Windows Metro">
                    <div class="card-block">
                      <p style="padding: 10px 5px 0 5px; color: #FFF;">
                      <span class="fa-stack">
                      <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                      <strong class="fa-stack-1x">1</strong>
                      </span> Gehen Sie in das Multiview oder Kameras Menü und klicken Sie den <strong>+</strong> Button in der oberen rechten Ecke, um Ihre Kamera hinzuzufügen.</p>
                    </div>
                  </div>
                  <div class="card card-inverse mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid img-rounded" src="/images/Software/Windows_Metro_App (2).png" alt="InstarVision for Windows Metro">
                    <div class="card-block">
                      <p style="padding: 10px 5px 0 5px; color: #FFF;">
                      <span class="fa-stack">
                      <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                      <strong class="fa-stack-1x" style="color: white;">2</strong>
                      </span> Wählen Sie <strong>Neue IP Kamera</strong>, um eine neue IP-Kamera hinzuzufügen.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="clearfix"></div>

              <div class="card-deck-wrapper">
                <div class="card-deck">
                  <div class="card card-inverse mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid img-rounded" src="/images/Software/Windows_Metro_App (3).png" alt="InstarVision for Windows Metro">
                    <div class="card-block">
                      <p style="padding: 10px 5px 0 5px; color: #FFF;">
                      <span class="fa-stack">
                      <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                      <strong class="fa-stack-1x" style="color: white;">3</strong>
                    </span> Scannen Sie den QR Code in der Weboberfläche - <a href="/Web_User_Interface/720p_Series/Network/DDNS/">720p</a> / <a href="/Web_User_Interface/1080p_Series/Network/Remote_Access/">1080p</a> - oder klicken Sie auf <strong>Auswählen</strong>.</p>
                    </div>
                  </div>
                  <div class="card card-inverse mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid img-rounded" src="/images/Software/Windows_Metro_App (4).png" alt="InstarVision for Windows Metro">
                    <div class="card-block">
                      <p style="padding: 10px 5px 0 5px; color: #FFF;">
                      <span class="fa-stack">
                      <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                      <strong class="fa-stack-1x" style="color: white;">4</strong>
                    </span> Wählen Sie Ihren Kamera Hersteller...</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="clearfix"></div>

              <div class="card-deck-wrapper">
                <div class="card-deck">
                  <div class="card card-inverse mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid img-rounded" src="/images/Software/Windows_Metro_App (5).png" alt="InstarVision for Windows Metro">
                    <div class="card-block">
                      <p style="padding: 10px 5px 0 5px; color: #FFF;">
                      <span class="fa-stack">
                      <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                      <strong class="fa-stack-1x" style="color: white;">5</strong>
                    </span> ... und das Kameramodell.</p>
                    </div>
                  </div>
                  <div class="card card-inverse mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid img-rounded" src="/images/Software/Windows_Metro_App (3).png" alt="InstarVision for Windows Metro">
                    <div class="card-block">
                      <p style="padding: 10px 5px 0 5px; color: #FFF;">
                      <span class="fa-stack">
                      <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                      <strong class="fa-stack-1x" style="color: white;">6</strong>
                    </span> Wählen Sie dann <strong>Weiter</strong> um fortzufahren.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="clearfix"></div>

              <div class="card-deck-wrapper">
                <div class="card-deck">
                  <div class="card card-inverse mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid img-rounded" src="/images/Software/Windows_Metro_App (6).png" alt="InstarVision for Windows Metro">
                    <div class="card-block">
                      <p style="padding: 10px 5px 0 5px; color: #FFF;">
                      <span class="fa-stack">
                      <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                      <strong class="fa-stack-1x" style="color: white;">7</strong>
                    </span> Geben Sie einen Namen für Ihre Kamera ein und klicken Sie auf <strong>Weiter</strong> um fortzufahren.</p>
                    </div>
                  </div>
                  <div class="card card-inverse mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid img-rounded" src="/images/Software/Windows_Metro_App (7).png" alt="InstarVision for Windows Metro">
                    <div class="card-block">
                      <p style="padding: 10px 5px 0 5px; color: #FFF;">
                      <span class="fa-stack">
                      <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                      <strong class="fa-stack-1x" style="color: white;">8</strong>
                    </span> Wenn Sie im dritten Schritt den QR Code gescannt haben, sind die folgenden Felder bereits für Sie ausgefüllt. Andernfalls geben Sie bitte die DDNS - <a href="/Web_User_Interface/720p_Series/Network/DDNS/">720p</a> / <a href="/Web_User_Interface/1080p_Series/Network/Remote_Access/">1080p</a> Serie - oder lokale IP Adresse - <a href="/Web_User_Interface/720p_Series/Network/IP_Configuration/">720p</a> / <a href="/Web_User_Interface/1080p_Series/Network/IP_Configuration/">1080p</a> Serie - Ihrer Kamera an.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="clearfix"></div>

              <div class="card-deck-wrapper">
                <div class="card-deck">
                  <div class="card card-inverse mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid img-rounded" src="/images/Software/Windows_Metro_App (8).png" alt="InstarVision for Windows Metro">
                    <div class="card-block">
                      <p style="padding: 10px 5px 0 5px; color: #FFF;">
                      <span class="fa-stack">
                      <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                      <strong class="fa-stack-1x" style="color: white;">9</strong>
                    </span> Geben Sie hier den LAN Port -  <a href="/Web_User_Interface/720p_Series/Network/IP_Configuration/">720p</a> / <a href="/Web_User_Interface/1080p_Series/Network/IP_Configuration/">1080p</a> Serie - Ihrer Kamera an und wählen <strong>Weiter</strong> um fortzufahren.</p>
                    </div>
                  </div>
                  <div class="card card-inverse mb" style="background-color: #333; border-color: #333;">
                    <img class="card-img-top img-fluid img-rounded" src="/images/Software/Windows_Metro_App (9).png" alt="InstarVision for Windows Metro">
                    <div class="card-block">
                      <p style="padding: 10px 5px 0 5px; color: #FFF;">
                      <span class="fa-stack">
                      <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                      <strong class="fa-stack-1x" style="color: white;">10</strong>
                    </span> Geben Sie hier den Benutzernamen - <a href="/Web_User_Interface/720p_Series/System/User/">720p</a> / <a href="/Web_User_Interface/1080p_Series/System/User/">1080p</a> Serie - des Admin Accounts Ihrer Kamera ein und klicken Sie auf <strong>Weiter</strong> um fortzufahren.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="clearfix"></div>

                <div class="card-deck-wrapper">
                  <div class="card-deck">
                    <div class="card card-inverse mb" style="background-color: #333; border-color: #333;">
                      <img class="card-img-top img-fluid img-rounded" src="/images/Software/Windows_Metro_App (10).png" alt="InstarVision for Windows Metro">
                      <div class="card-block">
                        <p style="padding: 10px 5px 0 5px; color: #FFF;">
                        <span class="fa-stack">
                        <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                        <strong class="fa-stack-1x" style="color: white;">11</strong>
                      </span> Geben Sie hier das Kennwort - <a href="/Web_User_Interface/720p_Series/System/User/">720p</a> / <a href="/Web_User_Interface/1080p_Series/System/User/">1080p</a> Serie - des Admin Accounts Ihrer Kamera ein und klicken Sie auf <strong>Weiter</strong> um fortzufahren.</p>
                      </div>
                    </div>
                    <div class="card card-inverse mb" style="background-color: #333; border-color: #333;">
                      <img class="card-img-top img-fluid img-rounded" src="/images/Software/Windows_Metro_App (11).png" alt="InstarVision for Windows Metro">
                      <div class="card-block">
                        <p style="padding: 10px 5px 0 5px; color: #FFF;">
                        <span class="fa-stack">
                        <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
                        <strong class="fa-stack-1x" style="color: white;">12</strong>
                      </span> Klicken Sie optional auf das <strong>+</strong> um eine lokale IP Adresse und einen lokalen Port anzugeben. Jetzt können Sie Ihre Einstellungen <strong>Testen</strong> und auf Speichern klicken, um Ihre Kamera hinzuzfügen.</p>
                      </div>
                    </div>
                </div>
              </div>

              </div>
              <!-- /Media Container -->

              <div class="clearfix"></div>

            </div>
            <!-- /Row -->
          </section>
          <!-- /Container -->

          <!-- #############################################  Table ############################################# -->

          <section class="container mb">
            <div class="row">

              <div class="container col-12 mt">

                <h3>Hinzufügen einer IP Kamera (<a href="/Internet_Access/The_DDNS_Service">DDNS</a>)</h3>

                <div class="embed-responsive embed-responsive-16by9 mt">
                  <iframe class="embed-responsive-item" src="//www.youtube.com/embed/rysQ89aiQao" allowfullscreen></iframe>
                </div>

                <p class="text-justify">Nachdem Sie die neueste Version der App installiert haben, starten Sie diese bitte und öffnen Sie das Kamera Menü. Das <strong>+</strong> Symbol oben Rechts gibt Ihnen 2 Möglichkeiten Ihre IP Kamera hinzuzufügen.</p>

                <table class="table table-hover">
                  <tr>
                    <th scope="row">DDNS oder P2P:</th>
                    <td>Zuerst müssen Sie wählen, ob Sie die Kamera über ihre lokale IP / DDNS Adresse oder ihre P2P UID hinzufügen möchten. Für den Point-2-Point Dienst lesen Sie bitte hier weiter: <a href="/Web_User_Interface/720p_Series/Network/P2P/">720p</a> / <a href="/Web_User_Interface/1080p_Series/Network/Remote_Access/">1080p</a> Kamera Serie.</td>
                  </tr>
                  <tr>
                    <th scope="row">Kamera Modell:</th>
                    <td>InstarVision ermöglicht es Ihnen auch Kameras hinzuzufügen, die nicht von INSTAR stammen. Wählen Sie hier bitte das passende Kameramodell aus der Liste aus - sollte Ihre Kamera nicht gelistet sein, können Sie gerne unseren Support kontaktieren, damit wir das Model hinzufügen können. Bei einer INSTAR Kamera brauchen Sie nur den QRcode im DDNS Menü scannen: <a href="/Web_User_Interface/720p_Series/Network/DDNS/">720p</a> / <a href="/Web_User_Interface/1080p_Series/Network/Remote_Access/">1080p</a> Kamera Serie - dies wird automatisch alle notwendigen Informationen ausfüllen, die für das Hinzufügen Ihrer Kamera notwendig sind.</td>
                  </tr>
                  <tr>
                    <th scope="row">Kamera Name:</th>
                    <td>Sie können hier einen Namen für Ihre Kamera frei wählen - dies muss nicht der gleiche Namen sein, den Sie für die Kamera in der Weboberfläche vergeben habe.</td>
                  </tr>
                  <tr>
                    <th scope="row">Host/IP-Adresse:</th>
                    <td>Geben Sie hier die lokale IP Adresse (z.B. 192.168.178.26) Ihrer Kamera ein, um diese in Ihrem Heimnetz zu erreichen. Oder geben Sie Ihre DDNS Adresse (z.B. abcd12.ddns-instar.de) ein, wenn Sie Ihre Kamera erreichen möchten, wenn Sie nicht Zuhause sind. Beachten Sie bitte, dass Sie eine <a href="/Internet_Access/Port_Forwarding">Portweiterleitung</a> in Ihrem Internet Router anlegen müssen, um den <a href="/Internet_Access/The_DDNS_Service">DDNS Dienst</a> nutzen zu können!</td>
                  </tr>
                  <tr>
                    <th scope="row">Port:</th>
                    <td>Geben Sie hier den http Port Ihrer Kamera ein. Diesen finden Sie in der Weboberfläche Ihrer Kamera: <a href="/Web_User_Interface/720p_Series/Network/IP_Configuration/">720p</a> / <a href="/Web_User_Interface/1080p_Series/Network/IP_Configuration/">1080p</a> Kamera Serie. Der Standard Wert ist <strong>80</strong> - Aber wir empfehlen Ihnen einen Port zu wählen, der über <strong>8080</strong> liegt. Beachten Sie bitte, dass Sie eine Port Weiterleitung in Ihrem Internet Router anlegen müssen, um den DDNS Dienst nutzen zu können!Geben Sie hier den http Port Ihrer Kamera ein. Diesen finden Sie in der Weboberfläche Ihrer Kamera unter Netzwerk/IP Konfiguration. Der Standard Wert ist 80 - Aber wir empfehlen Ihnen einen Port zu wählen, der über 8080 liegt. Beachten Sie bitte, dass Sie eine  <a href="/Internet_Access/Port_Forwarding">Portweiterleitung</a> in Ihrem Internet Router anlegen müssen, um den <a href="/Internet_Access/The_DDNS_Service">DDNS Dienst</a> nutzen zu können!</td>
                  </tr>
                  <tr>
                    <th scope="row">Benutzername:</th>
                    <td>Damit die App auf Ihre Kamera zugreifen kann, müssen Sie hier den Benutzernamen hinterlegen, mit dem Sie über die Weboberfläche auf die Kamera zugreifen. Der Standard Benutzername für HD und VGA Kameras lautet <strong>admin</strong> .</td>
                  </tr>
                  <tr>
                    <th scope="row">Passwort:</th>
                    <td>Damit die App auf Ihre Kamera zugreifen kann, müssen Sie hier das Kennwort hinterlegen, mit dem Sie über die Weboberfläche auf die Kamera zugreifen. Das Standard Kennwort lautet <strong>instar</strong> für HD Kameras und VGA Kameras haben standardmäßig kein Kennwort vergeben.</td>
                  </tr>
                  <tr>
                    <th scope="row">Test/Add:</th>
                    <td>Anschließend drücken Sie bitte auf Test um Ihre Konfiguration zu überprüfen. Drücken Sie danach auf Speichern um die Kamera hinzuzufügen. Gehen Sie ins  <a href="/Software/Android/InstarVision/Multiview">Multiview Menü</a> um auf den Live Videostream Ihrer Kamera zuzugreifen.</td>
                  </tr>
                </table>

              </div>
              <!-- Text Container -->

          </div>
          <!-- / row -->
        </section>
        <!-- / container -->

        <div class="clearfix"></div>

        <!-- #############################################  Gallery ############################################# -->

        <section class="instarvision mb"><% include ../_partials/content/_instarvision.ejs %></section>
        <!-- /webui -->

        <section class="social"><% include ../_partials/template/_social.ejs %></section>
        <!-- /social -->

        <!-- ############################################# Footer ############################################# -->

        <footer><% include ../_partials/template/_footer.ejs %></footer>

        <% include ../_partials/template/_jsdefaults.ejs %>

        </div>
        <!-- /Wrapper -->

    </body>

</html>
