<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    </head>

    <body class="home">

        <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
            <% include ../_partials/amp/_ampLandingSidebar.ejs %>
        </amp-sidebar>

        <header class="header fixed">
            <% include ../_partials/amp/_amp-header.ejs %>
        </header>

        <div class="wrap">
            <div class="container main">

              <% include ../_partials/content/_bluenav-general.ejs %>

                    <article itemscope itemtype="http://schema.org/Article" class="blade wrapper content">
                    <!-- article -->

                    <div>
                        <h1>Windows Software</h1>
                        <h2 itemprop="name">Webcam XP</h2>
                        <p class="justify">Webcam XP ermöglicht es ihnen ihre Besitztümer von jedem Ort aus über das Internet zu überwachen indem sie ihren Computer in ein Überwachungssystem umwandeln. Verbinden sie sich über Fernsteuerung indem sie andere Computer oder ihr Handy benutzen, übertragen sie Live Videos auf ihre Webseite, legen sie automatische Bild- oder Videoaufnahmen fest oder lösen sie bestimmte Aktionen aus mit der Bewegungserkennung – und alles speziell angepasst für niedrige Hardware Anforderungen.</p>
                        <p>
                        Um die INSTAR IP Kamera in WebcamXP zu integrieren, empfehlen wir ihnen die neuste Version <a itemprop="url" href="http://www.webcamxp.com/download.aspx">HIER</a> herunterzuladen.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h3>Fügen Sie eine Kamera hinzu</h3>
                      <p>Nachdem sie neuste Version des Webcam XP installiert haben öffnen sie bitte das Programm, klicken sie mit der rechten Maustaste auf das + Symbol auf einem der verfügbaren Kanäle um ein neues Kamera Netzwerk hinzuzufügen.</p>
                    </div>
                    <!-- /margin -->


                    <div class="margin">
                      <div>
                          <amp-img role="button" tabindex="0" src="/images/Software/WebcamXP_02.png" width="794" height="631" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <br>
                      <p>Klicken sie mit der rechten Maustaste auf den Videokanal den sie zuweisen wollen und wählen sie Network Cameras aus dem Menü.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img role="button" tabindex="0" src="/images/Software/WebcamXP_03.png" width="797" height="629" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <br>
                      <p>Wählen sie ihr INSTAR Kamera Modell im Network Camera Wizard.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img role="button" tabindex="0" src="/images/Software/WebcamXP_04.png" width="796" height="631" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <br>
                      <p>Tippen sie die IP Adresse ihrer Kamera, den http Port und den Kamera Login Anmeldedaten ein. Verwenden sie die Test Funktion um ihre Eingaben zu überprüfen, klicken sie daraufhin Ok.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img role="button" tabindex="0" src="/images/Software/WebcamXP_05.png" width="792" height="626" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <br>
                      <p>Ihre Kamera ist jetzt betriebsbereit.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h3>Legen Sie einen Zeitplan für Videoaufnahmen fest</h3>
                      <p>WebcamXP verfügt über einen beeindruckenden Scheduler welcher es ihnen ermöglicht Zeitfenster für jede Aktion festzulegen, die sie von der Software ausgeführt haben wollen. Sie können es einfach einstellen zeitgeschaltete Videos aufzunehmen oder ihre Bewegungserkennung zu automatisieren.</p>
                      <br>
                      <div>
                          <amp-img role="button" tabindex="0" src="/images/Software/WebcamXP_07.png" width="797" height="622" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <br>
                      <p>Der Scheduler ermöglicht es ihnen Funktionen wie Videoaufnahmen, Bewegungserkennung oder Webübertragungen zu automatisieren.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h3>Webübertragung</h3>
                      <p>Die Webübertragungsfunktion ermöglicht es ihnen ihren Kamera Live Stream über HTTP zu übertragen und bettet diesen in ihre Webseite ein. Der bereits beschriebene Scheduler ermöglicht es ihnen ihre Liveübertragung nach ihren Wünschen zu automatisieren.</p>
                      <br>
                      <div>
                          <amp-img role="button" tabindex="0" src="/images/Software/WebcamXP_08.png" width="658" height="514" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <br>
                      <p>Übertragen sie ihren Kamera Live Stream über HTTP.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img role="button" tabindex="0" src="/images/Software/WebcamXP_09.png" width="656" height="510" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <br>
                      <p>Greifen sie auf ihren Kamera Live Stream über ihren voreingestellten Webbrowser zu.</p>
                      <p>In dem obigen Beispiel wurde das Video von der localhost Adresse mit dem lokalen Webbrowser abgegriffen. Sie müssen eine Regel für eine Portweiterleitung für den Port 8080 (WebcamXPs voreingestellter Web Server Port) zu ihrem Arbeitsplatz in ihrem Internet Router hinzufügen, um Webcams Web Server außerhalb ihres lokalen Netzwerks verfügbar zu machen.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h3>Bewegungserkennung</h3>
                      <p>Wenn sie auf den Security Reiter wechseln haben sie Zugang zu der Software der Bewegungserkennung und der Audioerkennungsfunktion. Aktivieren sie die Erkennung und passen sie die Empfindlichkeit ihren Bedürfnissen an. Sie können außerdem eine Antwort auf die Alarmerkennung festlegen – wie zum Beispiel eine Video Aufnahme, einen FTP Upload oder eine Email Benachrichtigung.</p>
                      <br>
                        <div>
                            <amp-img role="button" tabindex="0" src="/images/Software/WebcamXP_10.png" width="796" height="626" layout="responsive" class="shadow"></amp-img>
                        </div>
                        <br>
                        <p>Schalten die Bewegungserkennung und Audioerkennung der Software frei und definieren sie eine Antwort auf den Auslöser.</p>
                    </div>

                </article>
                <!-- /article -->
            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
