<% include ../_partials/template/_head.ejs %>

    <body>
      <% include ../_partials/template/_outdated.ejs %>

      <div id="wrapper">

        <header><% include ../_partials/template/_header.ejs %></header>
        <!-- Navbar-->
        <div class="clearfix mb"></div>

        <!--############################################Banner#################################################-->

        <section itemscope itemtype="http://schema.org/Article" class="container mb">
          <% include ../_partials/amp/_schemaArticle.ejs %>

          <div class="row">

            <div class="hidden-sm-down col-md-12 text-xs-center">
                <img src="/images/Software/Banner_en-InstarVision2-0_Record.png" class="shadow img-fluid" alt="InstarVision 2 Webserver"/>
            </div>

            <div class="hidden-md-up col-12 text-xs-center">
                <img src="/images/Software/Banner_en-InstarVision2-0_small_Record.png" class="shadow img-fluid" alt="InstarVision 2.0 Webserver"/>
            </div>

          </div>
          <!-- /row -->
        </section>
        <!-- /container -->

        <!--###################################### Camera List ###########################################-->

        <section class="container mb">
          <div class="row">

              <div class="col-12 mt mb">
                <h1 itemprop="name"><i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp; Alarm Einstellungen</h1>
              </div>

              <div class="col-md-12 col-lg-4 mt mb" style="padding-top: 5px;">
                  <img src="/images/Software/Image042.png" alt="InstarVision 2.0 Surveillance Center User Interface - Record Menu" class="shadow img-fluid"/>
              </div>

              <div class="col-md-12 col-lg-8 mt">
                <p class="lead">Dieses Menü ermöglicht es Ihnen die Bewegungserkennung der Software zu aktivieren und Videoaufnahmen im Alarmfall auszulösen.</p>
                <br>
                <p class="text-justify"><span class="lead">ALARM ZEITPLAN</span>  Wählen Sie einen Kamerakanal aus - oder lassen Sie das Drop-down Menü auf Alle Kanäle stehen um die Aufnahme gleich für alle Kameras zu aktivieren - setzen Sie den Haken bei Alarm Aufnahme um die Bewegungserkennung im gewählten Zeitfenster zu aktivieren. Sie können einfach auf Standard klicken um den Alarm 24/7 "scharf" zu stellen und Alarm Aufnahmen zu erhalten, wenn eine Bewegung erkannt wurde. Selektieren Sie eine Tag über der Zeiteinstellung, um diesen Zeitplan für einzelne Tage anzupassen. Das + Symbol neben den Zeitintervall erlaubt es Ihnen ein zweites Zeitfenster für den ausgewählten Tag zu aktivieren. Sie können z.B. die Bewegungserkennung im ersten Zeitintervall von 0 Uhr bis 7 Uhr laufen lassen und im zweiten dann 19 Uhr bis 23:59 Uhr eintragen, um Ihr Ladenlokal außerhalb der Arbeitszeiten zu überwachen. Beachten Sie bitte, dass der erste Zeitwert immer vor dem zweiten liegen muss. Und das gesamte Zeitfenster darf die 24h des Tages nicht überschreiten! Die Einstellung Zeitintervall 1 08:00:00 AM - 06:00:00 AM  Zeitintervall 2 08:00:00 PM - 06:00:00 AM wäre kein gültiger Eintrag!</p>
              </div>

              <div class="col-12">
                  <p class="text-justify"><span class="lead">BEWEGUNGSERKENNUNG</span>   Das Vorschaufenster wird Ihnen den Livestream der ausgewählten Kamera zeigen. Klicken Sie auf einen Quadranten in diesem Video um einen Marker hinzuzufügen und die Bewegungserkennung für diesen Bereich zu aktivieren. Sparen Sie dabei Bereiche aus, die potentiell Fehlalarme auslösen werden - z.B. sich bewegende Bäume oder belebte Straßen im Hintergrund. Aktivieren Sie den Bewegungstest um Ereignisse im Video, die einen Alarm ausgelöst hätten, farblich hervorzuheben. Passen Sie dann die Empfindlichkeit an bis harmlose Bewegungen im Hintergrund keinen Alarm mehr auslösen. Es ist am besten, wenn sich jemand während dieses Testes durch das Bild bewegt - passen Sie die Empfindlichkeit an, so dass die Person im Bild gerade noch einen Alarm auslöst. Es bietet sich an mit der Feinjustage der Empfindlichkeit bei ca. 50 zu beginnen. Beachten Sie aber bitte, dass die benötigte Empfindlichkeit stark davon abhängt was die Kamera "sieht". Ist die Person weit von der Kamera entfernt, oder haben Sie ein Weitwinkelobjektiv verbaut, wird die benötigte Empfindlichkeit signifikant höher liegen - es kann somit auch zu mehr Fehlalarmen bei der Erkennung kommen. Haben Sie Alle Kanäle ausgewählt, wird das Vorschaufenster das Video der ersten Kamera zeigen - aber alle gemachten Einstellungen werden für alle Kameras gespeichert werden. Sollte sich das Bild, dass die einzelnen Kameras sehen, sehr unterschiedlich sein, empfiehlt es sich jedoch die Bewegungserkennung für alle Kameras einzeln einzustellen. Wählen Sie dafür die Kamera aus dem Dropdown Menü aus und führen Sie den Bewegungstest erneut durch.</p>
              </div>

              <div class="col-12">
                  <p class="text-justify"><span class="lead">ALARM AKTION</span>  Aktivieren Sie die Videoaufnahme im Alarmfall, indem Sie den Haken bei Alarm Aufnahme setzen. Die Länge des Videos wird durch zwei Werte bestimmt - die Aufnahmezeit vor und nach dem Zeitpunkt, an dem die Bewegung erkannt wurde. Beachten Sie bitte, dass das Aktivieren der Aufnahme vor Bewegung dazu führt, dass die Software durchgehend aufnimmt und das Video verwirft, wenn keine Bewegung erkannt wurde. Dies kann zu einer hohen CPU Last auf Ihrem Server führen! Diese Funktion sollte also nur aktiviert werden, wo sie auch benötigt wird. Gehen Sie bitte in die Allgemeinen Aufnahmeeinstellungen um die Videoaufnahme Parameter anzupassen. Weitere optionale Aktionen im Alarmfall sind das automatische Wiederherstellen der Software Benutzeroberfläche, sollte diese minimiert wurden sein, das Abspielen eines Alarmtons oder das Starten einer weiteren Software.</p>
              </div>

            </div>
            <!-- /row -->
          </section>
          <!-- /container -->

      <div class="clearfix"></div>

        <!-- #############################################  Gallery ############################################# -->

        <section class="instarvision mb"><% include ../_partials/content/_instarvision.ejs %></section>
        <!-- /webui -->

        <section class="social"><% include ../_partials/template/_social.ejs %></section>
        <!-- /social -->

        <!-- ############################################# Footer ############################################# -->

        <footer><% include ../_partials/template/_footer.ejs %></footer>

        <% include ../_partials/template/_jsdefaults.ejs %>

        </div>
        <!-- /Wrapper -->

    </body>

</html>
