<% include ../_partials/template/_head.ejs %>

    <body>
      <% include ../_partials/template/_outdated.ejs %>

      <div id="wrapper">

        <header><% include ../_partials/template/_header.ejs %></header>
        <!-- Navbar-->
        <div class="clearfix mb"></div>

        <!-- #############################################  Content ############################################# -->

        <div itemscope itemtype="http://schema.org/Article" class="container mb">
          <% include ../_partials/amp/_schemaArticle.ejs %>
          <div class="row">

            <div class="col-sm-12 col-md-7">

              <h1 itemprop="name">InstarVision für Windows Metro</h1>
              <br>
              <br>

              <p class="text-justify">Um Ihre IP Kamera in unsere Windows Metro App InstarVision einzubinden, empfehlen wir zuerst die neuste Version der Software aus dem <a itemprop="url" href="http://www.microsoft.com/de-de/store/p/instarvision/9nblggh10wtp">Microsoft Store</a>. Benutzen Sie einfach das Suchwort Instar um die App im Store zu finden - oder nutzen Sie den QR Code auf dieser Seite.</p>

              <!-- ##################################### DDNS ########################################## -->

              <div class="mb mt">
                <div class="row">
                  <div class="hidden-xs-down col-sm-4" style="padding: 0 10px 20px 0;">
                    <a href="/Software/Windows/InstarVision/Metro/DDNS">
                      <img src="/images/Software/QL-Box_iOS_InstarVision_DDNS.png" alt="InstarVision Windows Phone App :: DDNS Access" class="img-fluid img-rounded shadow" style="max-height:175px;"/>
                    </a>
                  </div>
                  <div class="hidden-xs-down col-sm-8" style="padding-left: 10px; margin-top: -7px;">
                    <h3><strong>Hinzufügen der Kamera über ihre DDNS Adresse</strong></h3>
                    <p class="text-justify">Der DDNS Zugriff bietet Ihnen den Zugang zu allen Kamerafunktionen. Die DDNS Adresse erlaubt Ihnen darüber hinaus auch den Zugriff auf die Weboberfläche der Kamera in Ihrem Webbrowser. Beachten Sie aber bitte, dass Sie für diesen Zugriff eine <a href="/Internet_Access/Port_Forwarding/">Port Weiterleitung</a> in Ihrem Router benötigen!</p>
                  </div>
                </div>
              </div>

              <div class="hidden-sm-up mb offset-xs-1 col-xs-10">
                <a href="/Software/Windows/InstarVision/Metro/DDNS">
                  <img src="/images/Software/QL-Box_iOS_InstarVision_DDNS.png" alt="InstarVision Windows Phone App :: DDNS Access" class="img-fluid img-rounded shadow"/>
                </a>
              </div>

              <!-- ##################################### P2P ########################################## -->

              <div class="mb mt">
                <div class="row">
                  <div class="hidden-xs-down col-sm-4" style="padding: 0 10px 20px 0;">
                    <a href="/Software/Windows/InstarVision/Metro/P2P">
                      <img src="/images/Software/QL-Box_iOS_InstarVision_P2P.png" alt="InstarVision Windows Phone App :: P2P Access" class="img-fluid img-rounded shadow" style="max-height:175px;"/>
                    </a>
                  </div>
                  <div class="hidden-xs-down col-sm-8" style="padding-left: 10px; margin-top: -7px;">
                    <h3><strong>Hinzufügen der Kamera über ihre P2P ID</strong></h3>
                    <p class="text-justify">Der P2P Zugriff bietet Ihnen <strong>nicht</strong> en vollen Zugriff auf alle Kamerafunktionen. Aber Sie benötigen keine Portweiterleitung in Ihrem Router. Und das Point-to-Point Protokoll funktioniert dort wo ein DDNS Zugriff fehlschlägt - z.B. bei einem 3G/LTE, DSLite oder IPv6 Internetanschluß ohne öffentliche IPv4 Adresse.</p>
                  </div>
                </div>
              </div>

              <div class="hidden-sm-up mb offset-xs-1 col-xs-10">
                <a href="/Software/Windows/InstarVision/Metro/P2P">
                  <img src="/images/Software/QL-Box_iOS_InstarVision_P2P.png" alt="InstarVision Windows Phone App :: P2P Access" class="img-fluid img-rounded shadow"/>
                </a>
              </div>

              <!-- ##################################### Multiview ########################################## -->

              <div class="mb mt">
                <div class="row">
                  <div class="hidden-xs-down col-sm-4" style="padding: 0 10px 20px 0;">
                    <a href="/Software/Windows/InstarVision/Metro/Multiview">
                      <img src="/images/Software/QL-Box_iOS_InstarVision_Multiview.png" alt="InstarVision Windows Phone App :: Multiview Menu" class="img-fluid img-rounded shadow" style="max-height:175px;"/>
                    </a>
                  </div>
                  <div class="hidden-xs-down col-sm-8" style="padding-left: 10px; margin-top: -7px;">
                    <h3><strong>Überblick über das Multiview Menü</strong></h3>
                    <p class="text-justify">Behalten Sie die Übersicht über alle Ihre Kameras im Multiview Menü. Wählen Sie eine Kamera aus um auf Ihren Live Videostream zuzugreifen und ihre Funktionen zu kontrollieren.</p>
                  </div>
                </div>
              </div>

              <div class="hidden-sm-up mb offset-xs-1 col-xs-10">
                <a href="/Software/Windows/InstarVision/Metro/Multiview">
                  <img src="/images/Software/QL-Box_iOS_InstarVision_Multiview.png" alt="InstarVision Windows Phone App :: Multiview Menu" class="img-fluid img-rounded shadow"/>
                </a>
              </div>

              <!-- ##################################### Recording ########################################## -->

              <div class="mb mt">
                <div class="row">
                  <div class="hidden-xs-down col-sm-4" style="padding: 0 10px 20px 0;">
                    <a href="/Software/Windows/InstarVision/Metro/Recording">
                      <img src="/images/Software/QL-Box_iOS_InstarVision_Recording.png" alt="InstarVision Windows Phone App :: Recording Menu" class="img-fluid img-rounded shadow" style="max-height:175px;"/>
                    </a>
                  </div>
                  <div class="hidden-xs-down col-sm-8" style="padding-left: 10px; margin-top: -7px;">
                    <h3><strong>Überblick über das Aufnahme Menü</strong></h3>
                    <p class="text-justify">Öffnen Sie Videos und Schnappschüsse die Sie von der Kamera auf Ihrem Smartphone oder auf der SD Karte der Kamera aufgenommen haben.</p>
                  </div>
                </div>
              </div>

              <div class="hidden-sm-up mb offset-xs-1 col-xs-10">
                <a href="/Software/Windows/InstarVision/Metro/Recording">
                  <img src="/images/Software/QL-Box_iOS_InstarVision_Recording.png" alt="InstarVision Windows Phone App :: Recording Menu" class="img-fluid img-rounded shadow"/>
                </a>
              </div>

              <!-- ##################################### Settings ########################################## -->

              <div class="mb mt">
                <div class="row">
                  <div class="hidden-xs-down col-sm-4" style="padding: 0 10px 20px 0;">
                    <a href="/Software/Windows/InstarVision/Metro/Settings">
                      <img src="/images/Software/QL-Box_iOS_InstarVision_Settings.png" alt="InstarVision Windows Phone App :: General Settings" class="img-fluid img-rounded shadow" style="max-height:175px;"/>
                    </a>
                  </div>
                  <div class="hidden-xs-down col-sm-8" style="padding-left: 10px; margin-top: -7px;">
                    <h3><strong>Überblick über die Allgemeinen Einstellungen</strong></h3>
                    <p class="text-justify">Passen Sie allgemeine Einstellungen der App an oder werfen Sie einen Blick in die Hilfe um einen Überblick über alle Appfunktionen zu bekommen.</p>
                  </div>
                </div>
              </div>

              <div class="hidden-sm-up mb offset-xs-1 col-xs-10">
                <a href="/Software/Windows/InstarVision/Metro/Settings">
                  <img src="/images/Software/QL-Box_iOS_InstarVision_Settings.png" alt="InstarVision Windows Phone App :: General Settings" class="img-fluid img-rounded shadow"/>
                </a>
              </div>

            </div>
            <!-- /Close Content Container -->

            <!-- ##################################### Aside ########################################## -->

            <aside class="container hidden-sm-down offset-md-1 col-md-3"> <!-- Side Nav Container -->

              <div style="cursor: pointer; margin:40px 15px 20px 20px;">
                <a href="http://www.microsoft.com/de-de/store/p/instarvision/9nblggh10wtp" target="_blank">
                  <img src="/images/Software/Microsoft-store.png" class="img-fluid img-rounded shadow" alt="InstarVision for Windows Phone" style="margin-bottom: 10px"/>
                </a>
              </div>

              <div style="cursor: pointer; margin:40px 15px 20px 20px;">
                <img src="/images/Software/Qrcode_Microsoft-Store.png" class="img-fluid img-rounded shadow" alt="InstarVision for Windows Phone" style="margin-bottom: 10px"/>
              </div>

              <div style="cursor: pointer; margin:40px 15px 20px 20px;" onclick="window.location='/index.php/InstarVision_Surveillance_Solution';">
                <img src="/images/Software/Slider_6012hd_blank.jpg" class="img-fluid img-rounded shadow" alt="InstarVision IP Surveillance Solution" style="margin-bottom: 10px"/>
                <p class="text-muted text-justify">*Alle INSTAR Smartphone Apps sind kostenlos im jeweiligen Android, iOS, Blackberry und Microsoft Store erhältlich. Für den Preis der InstarVision Windows Software, schauen Sie bitte in unseren <a href="https://www.instar.de/software.html">Web Shop</a>.</p>
              </div>

              <div style="cursor: pointer; margin:40px 15px 20px 20px;">
                <h4>InstarVision IP Surveillance Software</h4>
                <ul>
                  <li><a href="/Software/Windows/InstarVision" title="InstarVision for Windows">Windows</a></li>
                  <li><a href="/Software/iOS/InstarVision" title="InstarVision for iOS">iOS</a></li>
                  <li><a href="/Software/Android/InstarVision" title="InstarVision for Android">Android</a></li>
                  <li><a href="/Software/Windows/InstarVision/Windows_Phone" title="InstarVision for Windows Phone">Windows Phone</a></li>
                  <li><a href="/Software/Windows/InstarVision/Metro" title="InstarVision for Windows Metro">Windows Metro</a></li>
               </ul>
              </div>

            </aside>



          </div>
          <!-- / row -->
        </div>
        <!-- / container -->

        <div class="clearfix mb"></div>

        <!-- #############################################  Gallery ############################################# -->

        <section class="instarvision mb"><% include ../_partials/content/_instarvision.ejs %></section>
        <!-- /webui -->

        <section class="social"><% include ../_partials/template/_social.ejs %></section>
        <!-- /social -->

        <!-- ############################################# Footer ############################################# -->

        <footer><% include ../_partials/template/_footer.ejs %></footer>

        <% include ../_partials/template/_jsdefaults.ejs %>

        </div>
        <!-- /Wrapper -->

    </body>

</html>
