<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
    </head>

    <body class="home">

        <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
            <% include ../../_partials/amp/_ampLandingSidebar.ejs %>
        </amp-sidebar>

        <header class="header fixed">
            <% include ../../_partials/amp/_amp-header.ejs %>
        </header>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero webUI">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>P2P Overlay</h1>
                                    <p class="intro">
                                      Der P2P Fernzugriff erlaubt es Ihnen, den Livestream Ihrer Kamera über die iOS oder Android App abzugreifen. Scannen Sie einfach den P2P QR Code mit unserer App und bestätigen Sie die Einstellungen - fertig! Bitte beachten Sie, dass der QR Code auf der Verpackung nur funktioniert, wenn Sie noch die Standard-Benutzerdaten eingestellt haben  (<a href="/Web_User_Interface/720p_Series/System/User/">Ändern Sie dies bitte unverzüglich</a>). Der QR Code in der Weboberfläche ist immer mit den aktuellsten Daten hinterlegt.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

            <div class="wrap">
                <div class="container main">

                    <% include ../../_partials/content/_bluenav-general.ejs %>

                        <article itemscope itemtype="http://schema.org/Article" class="blade wrapper content">
                    <!-- article -->

                    <div>
                        <h2 itemprop="name" class="post-title">Point-to-Point Verbindung</h2>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <amp-img
                            on="tap:lightbox_01"
                            role="button"
                            tabindex="0"
                            src="/images/720p_webUI/WebUI-Network_P2P.png" width="716" height="746" layout="responsive" class="shadow">
                        </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <table>
                            <tr>
                                <td width="20%">
                                    <strong>P2P Verbindung aktivieren</strong>
                                </td>
                                <td>Durch das Aktivieren der Point-2-Point Verbindung, verbinden Sie Ihre Kamera direkt mit der InstarVision App auf Ihrem Smartphone oder Tablet. Mit dieser Möglichkeit benötigen Sie <u>keine</u> <a href="/Internet_Access/Port_Forwarding">Portweiterleitung</a> innerhalb Ihres Routers um Ihre Kamera zu erreichen, wenn Sie unterwegs sind. Die Verbindung ist aber - in den meisten Fällen - langsamer als die Geschwindigkeit, die Sie erreichen, wenn Sie die Kamera über eine <a href="/Internet_Access/The_DDNS_Service">DDNS Adresse</a> verwenden.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>P2P User ID</strong>
                                </td>
                                <td>Die ist die Identifikationsnummer Ihrer Kamera, die für die P2P Verbindung verwendet wird. Sie können diese auch manuell in eine Drittanbieter-Software wie <a href="/Software//Windows/P2P_Client">P2P Client</a> eingeben. Wenn Sie unsere Smartphone App nutzen, scannen Sie einfach den QR Code unten um alle benötigten Daten, die Sie zur Verbindung brauchen, übermitteln.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>QR Code</strong>
                                </td>
                                <td>Um Ihre Kamera zu unserer <a href="/Software/iOS/InstarVision/iPhone/P2P">iPhone</a>, <a href="/Software/iOS/InstarVision/iPad/P2P">iPad</a>, <a href="/Software//Windows/InstarVision/Windows_Phone/P2P">Windows Phone</a>, <a href="/Software/Windows/InstarVision/Metro/P2P">Windows Metro</a> oder <a href="/Software/Android/InstarVision/P2P">Android</a> App hinzuzufügen, scannen Sie einfach den QR Code.</td>
                            </tr>
                        </table>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Aktivieren Sie die P2P Funktion um Ihre Kamera über das Internet zu erreichen, ohne eine <a href="/Internet_Access/Port_Forwarding">Portweiterleitung</a> in Ihrem Router einzurichten. Fügen Sie die Kamera einfach in der <a href="/Software/">InstarVision</a> App als P2P Kamera hinzu, scannen Sie den QR Code im Netzwerk/P2P Menü in der Weboberfläche oder vom Sticker auf der Kamera und geben Sie den <a href="/Web_User_Interface/720p_Series/System/User/">Administrator Login</a> ein.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p><strong><a href="/Internet_Access/The_DDNS_Service">DDNS</a> ist normalerweise die bessere Alternative zu P2P, da dort keine vermittelnde Instanz dazwischen geschaltet werden muss. Es geht schneller und man hat sofort den Vollzugriff auf alle Funktionen. Der Nachteil des DDNS ist es jedoch, dass der Heimrouter unangefragte Verbindungen aus dem Internet - aus gutem Grund - abblockt. Man muss daher einen Port öffnen über den die Kamera aus dem Internet erreichbar ist (<a href="/Internet_Access/Port_Forwarding">Stichwort Portweiterleitung</a>).
                        <br><br>
                        Beim P2P gibt es einen INSTAR Relay Server, bei dem sich die Kamera in regelmäßigen Abständen meldet und Nachfragt ob jemand nach ihr gefragt hat. Wenn man also das nächste mal die InstarVision App startet liegt eine Benachrichtigung auf dem Relay Server - "Melde dich mal schnell bei dieser IP Adresse". Die Kamera baut danach selbständig die Verbindung zum Handy auf - man umgeht also das Problem der Firewall im Router, indem man nicht von Außen zugreift, sondern die Kamera nach draußen wählen läßt. Die Point-2-Point Verbindung ist somit eine sehr bequeme und schnell einzurichtende Methode um von Unterwegs auf die Kamera zugreifen zu können.
                        <br><br>
                        Der Relay Server hat in diesem Fall nur eine vermittelnde Funktion. Sollte jedoch die Verbindung von der Kamera nicht aufgebaut werden können, kann auch der Server das Videosignal der Kamera entgegen nehmen und an die App weiterleiten. Dies ist nur eine Fall-Back Absicherung um den Verbindungsaufbau garantieren zu können und auf dem Server wird nur ein Log Eintrag geschrieben, dass die Direktverbindung fehlgeschlagen ist (es werden also keine Videodaten gespeichert).
                        <br><br>
                        Hat man dabei dennoch Bedenken, kann man über den DDNS Zugriff sicherstellen, dass dort keine weiteren Server dazwischen liegen. Eine weitere Alternative ist das Aufbauen einer VPN Verbindung zum eigenen Router - dies ist z.B. mit einer <a href="https://avm.de/service/vpn/uebersicht/">AVM Fritzbox</a> schnell installiert.</strong></p>
                    </div>
                    <!-- /margin -->

                    <div class="successcard">
                        <p><strong>Keine öffentliche IPv4 Adresse benötigt</strong><br/><br/>Sie können Ihre Kamera auch mit einer IPv6 Verbindung oder mobilem AP (UMTS/LTE, mit wechselnder WAN IP) nutzen! Verwenden Sie die P2P Funktion um auf Ihre Kamera zuzugreifen, wenn die Portweiterleitung für den DDNS Dienst nicht funktioniert.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img tabindex="0" src="/images/720p_webUI/P2P-QRcode.png" width="800" height="276" layout="responsive" class="shadow"></amp-img>
                      </div>

                    <div class="margin">
                        <p>Es gibt 3 Wege, um sich mit Ihrer Kamera zu verbinden. Sie können die <strong>Suchfunktion</strong> der App benutzen, um die Kamera im lokalen Netzwerk zu entdecken, <strong>geben Sie die User ID</strong> von der Weboberfläche der Kamera an (oder auf dem Sticker am Kamera Gehäuse) oder verwenden Sie den <strong>QR Code Scanner</strong> um den QR Code zu scannen (halten Sie Ihr Smartphone einfach über den QR Code - der Scanner funktioniert automatisch). Der QR Code in der App wird dynamisch erstellt und enthält alle Informationen, die die App benötigt, um sich mit der Kamera zu verbinden. Der QR Code auf dem Sticker enthält die Standardeinstellungen Ihrer Kamera. Wir empfehlen Ihnen, dass <a href="/Web_User_Interface/720p_Series/System/User/">Administrator Passwort</a> zu ändern und den QR Code der Weboberfläche zu nutzen.</p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->

                <!-- ###################### Lightboxes ######################## -->

                <amp-image-lightbox id="lightbox_01" layout="nodisplay"></amp-image-lightbox>

            </div>
        </div>

        <% include ../../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
