<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
    </head>

    <body class="home">

        <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
            <% include ../../_partials/amp/_ampLandingSidebar.ejs %>
        </amp-sidebar>

        <header class="header fixed">
            <% include ../../_partials/amp/_amp-header.ejs %>
        </header>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero webUI">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>Oberfläche PTZ</h1>
                                    <p class="intro">
                                      Deaktivieren Sie die Kalibrierung bei Starten der Kamera (wird auch die gespeicherten Positionen deaktivieren). Lassen Sie Ihre Kamera nach einem Neustart zu einer gespeicherten Position fahren oder grenzen Sie den Schwenk- und Neigbereich zum Privatsphäre Schutz ein.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

            <div class="wrap">
                <div class="container main">

                    <% include ../../_partials/content/_bluenav-general.ejs %>

                        <article itemscope itemtype="http://schema.org/Article" class="blade wrapper content">
                          <% include ../../_partials/amp/_schemaArticle.ejs %>

                    <div>
                        <h2 itemprop="name" class="post-title">Schwenk &amp; Neige Funktion</h2>
                        <h4>nur in Schwenk, Neige &amp; Zoom Kameras</h4>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                    <amp-img
                        on="tap:lightbox_01"
                        role="button"
                        tabindex="0"
                        src="/images/720p_webUI/WebUI-System_PTZ.png" width="537" height="560" layout="responsive" class="shadow">
                    </amp-img>

                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <table>
                            <tr>
                                <td width="20%">
                                    <strong>Kamera Kalibrierung &amp; Positionen</strong>
                                </td>
                                <td>Aktivieren oder Deaktivieren Sie die PTZ Kalibrierung beim Starten der Kamera. Bitte beachten Sie, dass die <a href="/Web_User_Interface/720p_Series/PTZ_Control/">gespeicherten Positionen</a> nicht länger verfügbar sind, wenn Sie die Kalibrierung deaktivieren.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Position 1 nach dem Neustart</strong>
                                </td>
                                <td>Die Kamera bewegt sich standardmäßig zur mittleren Position nach der Kalibrierung. Aktivieren Sie diese Checkbox, wenn Sie die Kamera stattdessen zur <a href="/Web_User_Interface/720p_Series/PTZ_Control/">gespeicherten Position</a> 1 bewegen wollen. <strong>Nur verfügbar, wenn die Kamera Kalibrierung aktiv ist!</strong></td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Drehen&amp;Neigen löst keinen Alarm aus</strong>
                                </td>
                                <td>In den meisten Fällen ist es nicht gewünscht, dass eine Schwenk&amp;Neig Bewegung Ihrer Kamera eine <a href="/Web_User_Interface/720p_Series/Alarm/Areas/">Bewegungserkennung</a> auslöst. Falls Sie aber benachrichtigt werden wollen, wenn Ihre Kamera bewegt wird, aktivieren Sie diese Checkbox.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Aktivieren Sie Schritt für Schritt Schwenken&amp;Neigen</strong>
                                </td>
                                <td>Mit den Standardeinstellungen wird sich Ihre Kamera solange in eine Richtung bewegen wie Sie den Pfeilbutton im <a href="/Web_User_Interface/720p_Series/PTZ_Control/">Kontroll-Pad</a> drücken. Wenn Ihre Verbindung etwas schlechter ist oder hohe Latenzen aufweist, kann es passieren, dass der Stop-Befehl verloren geht und Ihre Kamera bis zum Ende durchfährt. Sie können die Ein-Schritt Bewegung nutzen, um das zu verhindern. Ihre Kamera wird sich bei jedem drücken nur einen Schritt weiterbewegen - dies gibt Ihnen die höchste Präzision.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Schwenk Geschwindigkeit</strong>
                                </td>
                                <td>Setzen Sie die Geschwindigkeit der horizontalen Bewegung Ihrer Kamera fest.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Tilt speed</strong>
                                </td>
                                <td>Setzen Sie die Geschwindigkeit der vertikalen Bewegung Ihrer Kamera fest.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>vscan Anzahl</strong>
                                </td>
                                <td>Stellen Sie die Menge der vertikalen Läufe Ihrer Kamera ein, nachdem Sie die <a href="/Web_User_Interface/720p_Series/PTZ_Control/">vscan Funktion</a> gestartet haben.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>hscan Anzahl</strong>
                                </td>
                                <td>Stellen Sie die Menge der horizontalen Läufe Ihrer Kamera ein, nachdem Sie die <a href="/Web_User_Interface/720p_Series/PTZ_Control/">hscan Funktion</a> gestartet haben.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Schwenk / Neig Limit Menü anzeigen</strong>
                                </td>
                                <td>Die <a href="/Web_User_Interface/720p_Series/PTZ_Control/">P&amp;T Limits</a> erlauben es Ihnen, die Weite der vertikalen und horizontalen Bewegungen zu begrenzen. Das Limit Menü wird am P&amp;T Kontroll-Pad angezeigt, nachdem Sie die Funktion hier aktiviert haben. <strong>Only available when the camera calibration is active</strong>!</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Alarmposition aktivieren</strong>
                                </td>
                                <td>Aktivieren Sie die Alarm Position, wenn Sie Ihre Kamera zu einer spezifischen Stelle fahren lassen wollen, nachdem ein Alarm ausgelöst wurde. Das ist besonders dann interessant, wenn Sie einen externen Sensor benutzen, wie z.B. den <a href="/Products/IN-Motion">IN-Motion 500</a>, oder den <a href="/Web_User_Interface/720p_Series/Alarm/Audio_Alarm/">Audio Alarm</a>. Lassen Sie Ihre Kamera ein Auge auf die eine Seite halten und den externen Sensor auf die andere Seite. <strong>Nur verfügbar, wenn die Kalibrierung aktiv ist</strong>!</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Alamposition</strong>
                                </td>
                                <td>Set the alarm position here.</td>
                            </tr>
                        </table>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Hier können Sie die Kamera Kalibrierung während dem Starten deaktivieren (beachten Sie, dass dies auch Ihre gespeicherten Positionen deaktivieren wird), die Kamera zur gespeicherten Position 1 fahren lassen und und die Geschwindigkeit und Anzahl an Auto-Scans für die Schwenk &amp; Neig Bewegungen einstellen, wenn Sie <a href="/Web_User_Interface/720p_Series/PTZ_Control/">hscan or vscan</a> nutzen.<br/><br/>Die Schwenk&amp;Neig Limits werden neben dem <a href="/Web_User_Interface/720p_Series/PTZ_Control/">PTZ Kontroll-Pad</a> angezeigt. Nutzen Sie diese um die Bewegungen einzuschrenken.</p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->

                <!-- ###################### Lightboxes ######################## -->

                <amp-image-lightbox id="lightbox_01" layout="nodisplay"></amp-image-lightbox>

            </div>
        </div>

        <% include ../../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
