<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
    </head>

    <body class="home">

        <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
            <% include ../../_partials/amp/_ampLandingSidebar.ejs %>
        </amp-sidebar>

        <header class="header fixed">
            <% include ../../_partials/amp/_amp-header.ejs %>
        </header>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero webUI">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>Oberfläche IP Konfiguration</h1>
                                    <p class="intro">
                                      Ändern Sie IP-Adresse, Gateway und DNS-Server Ihrer Kamera - all diese Einstellungen werden normalerweise mit dem <a href="http://install.instar.de/">Installationsassistenten</a> vorgenommen und müssen nicht geändert werden. Der HTTP-Port der Kamera muss vielleicht geändert werden, um aus dem Internet auf die Weboberfläche zugreifen zu können. Der RTSP Port ist der  <a href="http://wiki.instar.com/index.php/RTSP_Streaming">RTSP Streaming</a> Port der Kamera.                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

            <div class="wrap">
                <div class="container main">

                    <% include ../../_partials/content/_bluenav-general.ejs %>

                        <article itemscope itemtype="http://schema.org/Article" class="blade wrapper content">
                          <% include ../../_partials/amp/_schemaArticle.ejs %>

                    <div>
                        <h2 itemprop="name" class="post-title">Netzwerkkonfiguration</h2>
                    </div>
                    <!-- /margin -->

                    <div class="margin">

                      <div>
                          <amp-img
                              on="tap:lightbox_01"
                              role="button"
                              tabindex="0"
                              src="/images/720p_webUI/WebUI-Network_IP-Config.png" width="716" height="746" layout="responsive" class="shadow">
                          </amp-img>

                          <p>Sie können einstellen, ob die Kamera eine IP-Adresse durch Ihren Router erhält (DHCP), oder ob Sie eine manuelle fixe Adresse eingeben möchten. Grundsätzlich empfehlen wir, den automatischen Modus (DHCP) zu reaktiveren
                             und eine manuelle IP zu vergeben, um Probleme mit Ihrem Remote-Zugang zu vermeiden.
                             Für den RTSP Port verweisen Sie bitte auf RTSP Streaming für Details zur Benutzung des Videostreams der Kamera. Denken Sie daran, den RTSP Port weiterzuleiten, wenn Sie den RTSP Stream über das Internet mit Ihrer DDNS Adresse erreichen möchten.
                             Der RTMP Port wird vom Flash Plugin in der Weboberfläche Ihrer Kamera verwendet. Denken Sie daran den RTMP Port (neben Ihrem LAN Port!) weiterzuleiten, wenn Sie die Weboberfläche über das Internet mit Ihrer DDNS Adresse erreichen möchten.</p>
                      </div>

                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <table>
                            <tr>
                                <td width="20%">
                                    <strong>IP Addresse</strong>
                                </td>
                                <td>Dies it die IP-Adresse Ihrer Kamera innerhalb Ihres lokalen Netzwerks. Um auf die Weboberfläche Ihrer Kamera zuzugreifen, tippen Sie einfach die IP-Adresse Ihrer Kamera in die Adressleiste Ihres Browsers ein. Wenn der LAN Port Ihrer Kamera nicht 80 ist, fügen Sie bitte den Port hinter die IP-Adresse, getrennt durch ein : , wie zum Beispiel 192.168.1.125:8081.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Subnetzmaske</strong>
                                </td>
                                <td>Die Subnetzmaske definiert das Subnetz, in dem Ihre Kamera verbunden ist. In den meisten kleinen Netzwerken ist das Subnetz <strong>255.255.255.0</strong>.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Gateway</strong>
                                </td>
                                <td>Das Gateway ist die Verbindung zwischen Ihrem lokalen Netzwerk und dem Internet. In den meisten kleinen Netzwerken ist das die IP-Adresse Ihres Routers - zum Beispiel <strong>192.168.1.1</strong>, <strong>192.168.2.1</strong> oder <strong>192.168.178.1</strong>.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>DNS Server</strong>
                                </td>
                                <td>Den DNS Server benötigt Ihre Kamera um die Internetadressen aufzulösen. In den meisten kleinen Netzwerken ist das die IP-Adresse Ihres Routers - zum Beispiel <strong>192.168.1.1</strong>, <strong>192.168.2.1</strong> oder <strong>192.168.178.1</strong>.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>LAN Port</strong>
                                </td>
                                <td>The LAN Port ist der HTTP Port Ihrer Kamera. Fügen Sie diesen Port hinter die IP-Adresse Ihrer Kamera, wenn Sie die Weboberfläche über Ihren Browser erreichen möchten. Das ist auch der Port, den Sie in Ihrem Router <a href="/Internet_Access/Port_Forwarding">weiterleiten</a> müssen, um Ihre Kamera über die <a href="/Internet_Access/The_DDNS_Service">DDNS Adresse</a> zu erreichen. Wir empfehlen einen HTTP Port zu verwenden, der höher ist als 8080.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>RTMP (Flash) Port</strong>
                                </td>
                                <td>Der RTMP Port ist der Video Streaming Port für das <a href="/Web_User_Interface/720p_Series/Multimedia/Video/">Flash Video Plugin</a>. Bitte leiten Sie diesen Port weiter, wenn Sie die Weboberfläche <a href="/Internet_Access/The_DDNS_Service">über das Internet</a> erreichen möchten. Sie müssen den Port <strong>nicht</strong> weiterleiten, wenn Sie die Kamera über Ihre Smartphone App erreichen möchten!</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Aktive RTSP Authentifikation</strong>
                                </td>
                                <td>Wenn Sie eine Streaming Software verwenden möchten, wie den <a href="/Software//Windows/VLC_Player">VLC Player</a> um den <a href="http://wiki.instar.com/index.php/Video_Streaming">RTSP Stream</a> zu erhalten, haben Sie die Option, die Authentifikation zu deaktivieren. Der Stream wird in Ihrem Netzwerk frei verfügbar. Bitte stellen Sie sicher, dass die Authentifikation vor der<a href="/Internet_Access/Port_Forwarding">Weiterleitung</a> des RTSP Ports aktiv ist!</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>RTSP Port</strong>
                                </td>
                                <td>Der <a href="http://wiki.instar.com/index.php/Video_Streaming">RTSP Stream</a> Ihrer Kamera läuft über den RTSP Port. Stellen Sie sicher, dass der Port in Ihrem Router <a href="/Internet_Access/Port_Forwarding">weitergeleitet</a> ist, wenn Sie Ihn über Ihre <a href="/Internet_Access/The_DDNS_Service">DDNS Adresse</a> erreichen möchten.</td>
                            </tr>
                        </table>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->

                <!-- ###################### Lightboxes ######################## -->

                <amp-image-lightbox id="lightbox_01" layout="nodisplay"></amp-image-lightbox>

            </div>
        </div>

        <% include ../../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
