<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
    </head>

    <body class="home">

        <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
            <% include ../../_partials/amp/_ampLandingSidebar.ejs %>
        </amp-sidebar>

        <header class="header fixed">
            <% include ../../_partials/amp/_amp-header.ejs %>
        </header>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero webUI">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>Oberfläche: Audio Alarm</h1>
                                    <p class="intro">
                                      Der Audio Alarm in der Kamera benutzt das integrierte Mikrofon um Geräusche zu erkennen und einen Alarm auszulösen. Die Events werden genauso verarbeitet wie bei der Bewegungserkennung und lösen alle in <a href="/Web_User_Interface/720p_Series/Alarm/Actions/">Alarm Aktionen</a> eingerichteten Aktionen aus. Bitte beachten Sie, dass die Sensibilität durch den Regler hier, als auch durch die Lautstärke des Mikrofons beeinflusst wird. Sie können die Verstärkung des Signals im <a href="/Web_User_Interface/720p_Series/Multimedia/Audio/">Multimedia Abschnitt</a>einstellen.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

            <div class="wrap">
                <div class="container main">

                    <% include ../../_partials/content/_bluenav-general.ejs %>

                        <article itemscope itemtype="http://schema.org/Article" class="blade wrapper content">
                    <!-- article -->

                    <div>
                        <h2 itemprop="name" class="post-title">Verwenden Sie Ihre Kamera als Baby Monitor</h2>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <amp-img
                            on="tap:lightbox_01"
                            role="button"
                            tabindex="0"
                            src="/images/720p_webUI/WebUI-Alarm_Audio.png" width="716" height="746" layout="responsive" class="shadow">
                        </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <table>
                            <tr>
                                <td width="20%">
                                    <strong>Audio Alarm durch akustisches Signal</strong>
                                </td>
                                <td>Wenn Ihre Kamera ein internes Mikrofon besitzt - oder Sie ein externes Mikrofon in den Audio-In Eingang Ihrer Kamera eingesteckt haben - können Sie es als Auslöser für Geräusche vor Ihrer Kamera verwenden. Das könnte nützliche sein, wenn Sie Ihre Kamera als Babyphone benutzen wollen.  Der Audio Alarm kann alle eingestellten Alarm Aktionen auslösen, ebenso die Push-Benachrichtigung.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Audio Alarm Sensibilität</strong>
                                </td>
                                <td>Stellen Sie hier die Sensibilität der Audio Erkennung ein. Bitte beachten Sie, dass die Sensibilität auch abhängig von der Signalstärke des Audio Eingangs ist.</td>
                            </tr>
                        </table>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Nutzen Sie das Mikrofon Ihrer Kamera um Geräusche zu erkennen</h3>
                        <p>Der Audio Alarm der Kamera nutzt das integrierte Mikrofon um Geräusche zu erkennen und einen Alarm auszulösen. Die Events werden genauso verarbeitet wie bei der Bewegungserkennung und lösen alle in <a href="/Web_User_Interface/720p_Series/Alarm/Actions/">Alarm Aktionen</a> eingerichteten Aktionen aus. Bitte beachten Sie, dass die Sensibilität durch den Regler hier, als auch durch die Lautstärke des Mikrofons beeinflusst wird. Sie können die Verstärkung des Signals im <a href="/Web_User_Interface/720p_Series/Multimedia/Audio/">Multimedia Abschnitt</a>einstellen.</p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->

                <!-- ###################### Lightboxes ######################## -->

                <amp-image-lightbox id="lightbox_01" layout="nodisplay"></amp-image-lightbox>

            </div>
        </div>

        <% include ../../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
