<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    </head>

    <body class="home">

        <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
            <% include ../../_partials/amp/_ampLandingSidebar.ejs %>
        </amp-sidebar>

        <header class="header fixed">
            <% include ../../_partials/amp/_amp-header.ejs %>
        </header>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero webUI">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                  <h1>Menü PTZ Control</h1>
                                  <p class="intro">
                                      Jede Kamera die schwenkbar und neigbar ist, oder zumindest eine Linse mit einer variablen Brennweite hat kann über PTZ Kommandos in der Weboberfläche gesteuert werden.
                                  </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

            <div class="wrap">
                <div class="container main">

                    <% include ../../_partials/content/_bluenav-general.ejs %>

                        <article itemscope itemtype="http://schema.org/Article" class="blade wrapper content">
                    <!-- article -->

                    <div>
                        <h2 itemprop="name">Pan, Tilt und Zoom Kontrolle</h2>
                    </div>
                    <!-- /margin -->

                    <!-- ##################################### Areas ############################################ -->

                    <div class="card-container margin">
                        <div class="twocard">
                            <div class="image" on="tap:areas-lightbox" role="button" tabindex="0">
                                <amp-img noloading height=300 width=300 layout=responsive src="/images/720p_webUI/WebUI-PTZ_PTZ-Pad.png"></amp-img>
                            </div>
                            <div class="action">
                                <h3>Kontroll-Panel</h3>
                                <p>Sie können das Kontroll-Panel nutzen, um Ihre Kamera zu schwenken und den Kopf der Kamera neigen. Sie können auch eine horizontale (hscan) oder vertikale (vscan) Streife abgehen oder die Kamerabewegung stoppen. Der Modus wird die Kamera in die entsprechenden Endpositionen fahren und dann zur Ausgangsposition zurückfahren. Wenn Sie den Internet Explorer verwenden, können Sie die grenzenden Buttons benutzen um die Kamera in die jeweiligen Richtungen zu fahren und ein Doppel-Klick in die Mitte des Frames wird den Vollbild-Modus starten. Sie können die Geschwindigkeit Ihrer Kamerabewegungen in den <a href="/Web_User_Interface/720p_Series/System/PTZ/">PTZ Einstellungen</a> festlegen oder eine automatische Tour im <a href="/Web_User_Interface/720p_Series/System/PTZ_Tour/">PTZ Tour Menü</a> programmieren.</p>
                            </div>
                        </div>
                        <!-- /Card -->

                        <div class="twocard">
                            <div class="image" on="tap:privacy-lightbox" role="button" tabindex="0">
                                <amp-img noloading height=300 width=300 layout=responsive src="/images/720p_webUI/WebUI-PTZ_Positions.png"></amp-img>
                            </div>
                            <div class="action">
                                <h3>Gespeicherte Positionen</h3>
                                <p>Sie können bis zu 8 Kamerapositionen speichern, indem Sie die Kamera in die gewünschte Position fahren und auf eine der Nummern klicken, nachdem Sie
                                    <strong>Position speichern</strong>
                                    vom Drop-Down Menü ausgewählt haben. Wenn Sie auf die Nummern klicken, während
                                    <strong>Zu Position gehen</strong>
                                    ausgewählt ist, wird die Kamera in die jeweilige gespeicherte Position fahren. Sie können alle Position mit "Alle Positionen reseten" zurücksetzen. Position 1 ist die Startposition Ihrer Kamera!</p>
                            </div>
                        </div>
                        <!-- /Card -->
                    </div>
                    <!-- Card Container -->

                    <div class="dangercard">
                        <p>
                            <strong>
                                <u>Bitte beachten Sie</u>
                            </strong><br/><br/>Die Genauigkeit der Positionen wird mit der Zeit abnehmen. Bitte starten Sie Ihre Kamera neu, um eine erneute Kalibrierung vorzunehmen.</p>
                    </div>
                    <!-- /dangercard -->

                </div>
                <!-- /Container -->

        </div>
        <!-- /Wrapper -->

        <% include ../../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
