<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
    </head>

    <body class="home">

        <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
            <% include ../../_partials/amp/_ampLandingSidebar.ejs %>
        </amp-sidebar>

        <header class="header fixed">
            <% include ../../_partials/amp/_amp-header.ejs %>
        </header>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero webUI">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>Oberfläche FTP</h1>
                                    <p class="intro">
                                      Um den Video <a href="/Web_User_Interface/720p_Series/Alarm/FTP/">FTP Upload</a> zu nutzen, müssen Sie zuerst Ihre FTP Server Adresse und Ihre Logindaten eingeben. Sie können zum Beispiel den <a href="/Motion_Detection/FTP_Server_Setup">FTP-Dienst Ihres Routers</a> als FTP Server nutzen - in diesem Fall müssen Sie die IP Adresse Ihres Routers als FTP Server Adresse eingeben. Wenn Sie einen FTP Server auf Ihrem lokalen PC aufsetzen (zum Beispiel mit<a href="/Motion_Detection/FTP_Server_Setup">Filezilla Server</a>), benutzen Sie die lokale IP-Adresse des PC's, außerdem können Sie natürlich auch die URL des Webservers nutzen. Der Standard FTP-Port ist <strong>21</strong>.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

            <div class="wrap">
                <div class="container main">

                    <% include ../../_partials/content/_bluenav-general.ejs %>

                        <article itemscope itemtype="http://schema.org/Article" class="blade wrapper content">
                        <!-- article -->

                    <div>
                        <h2 itemprop="name" class="post-title">Stellen Sie einen Server für Ihre Uploads ein</h2>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <amp-img
                            on="tap:lightbox_01"
                            role="button"
                            tabindex="0"
                            src="/images/720p_webUI/WebUI-Alarm_FTP.png" width="716" height="746" layout="responsive" class="shadow">
                        </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <table>
                            <tr>
                                <td width="20%">
                                    <strong>FTP Server</strong>
                                </td>
                                <td>Geben Sie hier Ihre FTP Server Adresse ein. Sie können dafür auch Geräte in Ihrem LAN verwenden, z.B. einen <a href="/Motion_Detection/FTP_Server_Setup">lokalen Server</a> oder vielleicht Ihren <a href="/Motion_Detection/FTP_Server_Setup">Router oder Ihr NAS</a>.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>FTP Port</strong>
                                </td>
                                <td>Der Standard Port für den FTP Dienst ist <strong>Port 21</strong>. Stellen Sie hier Ihren Port ein, falls Sie Ihren Server anders konfiguriert haben.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>FTP Ordner</strong>
                                </td>
                                <td> Das FTP Verzeichnis - der Ordner in den Ihre Kamera die Bilder und Videos hochladen wird - ist immer relativ zu Ihrem Root Verzeichnis Ihres FTP Benutzers ! Das Root Verzeichnis für jeden Benutzer ist auf Ihrem FTP Server festgelegt - lesen Sie unsere AVM Fritzbox Anleitung für ein Beispiel.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>FTP Benutzername</strong>
                                </td>
                                <td>The Benutzername - und dessen Benutzerrechte - sind auf Ihrem FTP Server festgelegt. Geben Sie den Benutzernamen ein, den Ihre Kamera verwenden soll.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>FTP Passwort</strong>
                                </td>
                                <td>Geben Sie hier das dazugehörige Passwort ein.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>FTP Modus</strong>
                                </td>
                                <td>Sie können den passiven Modus (PASV) verwenden. Wählen Sie nur den PORT Modus wenn PASV nicht funktioniert. Dies kann passieren, wenn Ihr FTP Server hinter einer NAT Firewall hängt.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>FTP Ordner Struktur</strong>
                                </td>
                                <td>Wenn man viele Dateien auf einen FTP Server hochlädt, ist es empfehlenswert für jeden Tag einen neuen Ordner anzulegen. Diese Einstellung kann bei manchen FTP Servern zu Problemen führen. In diesem Fall laden Sie bitte alle Dateien in einen Ordner.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Test</strong>
                                </td>
                                <td>Die Testfunktion wird versuchen eine Datei auf Ihren FTP Server hochzuladen - der Name der Datei besteht aus dem Großbuchstaben <strong>T</strong> und einem <strong>Zeitstempel</strong>. Vergessen Sie nicht, Ihre <u>Einstellungen zu Bestätigen</u>, bevor Sie die Testfunktion nutzen!</td>
                            </tr>
                        </table>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>FTP Server Upload</h3>
                        <p>Um den Video <a href="/Web_User_Interface/720p_Series/Alarm/FTP/">FTP Upload</a> zu nutzen, müssen Sie zuerst Ihre FTP Server Adresse und Ihre Logindaten eingeben. Sie können zum Beispiel den <a href="/Motion_Detection/FTP_Server_Setup">FTP-Dienst Ihres Routers</a> als FTP Server nutzen - in diesem Fall müssen Sie die IP Adresse Ihres Routers als FTP Server Adresse eingeben. Wenn Sie einen FTP Server auf Ihrem lokalen PC aufsetzen (zum Beispiel mit<a href="/Motion_Detection/FTP_Server_Setup">Filezilla Server</a>), benutzen Sie die lokale IP-Adresse des PC's, außerdem können Sie natürlich auch die URL des Webservers nutzen. Der Standard FTP-Port ist <strong>21</strong>.<br/><br/>
                        Sie können ein Upload Verzeichnis für Ihre Kamera unter FTP Ordner anlegen. Den Root Ordner Ihres FTP Servers erreichen Sie mit einem <strong>./</strong>.  Das Trennzeichen für die Ordner ist ein Schrägstrich. Ein Unterordner (z.B. INSTAR) kann mit <strong>./INSTAR</strong> erreicht werden. Ein Schrägstrich am Ende ist nicht von Bedeutung, kann aber verwendet werden.<br/><br/>
                        Der FTP Benutzername und das FTP Passwort sind Ihre Logindaten.<br/><br/>
                        Der Name des Videos ist fix und setzt sich aus folgender Syntax zusammen: <em>rec011_YYYYMMDDhhmmss.asf</em>. Der erste Teil zeigt den Kanal der für die Aufnahme verwendet wurde - 11, 12 oder 13. Getrennt durch einen Unterstrich folgt der Zeitstempel, der die Zeit der Bewegungserkennung beinhaltet.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin primarycard">
                      <p>Der Ursprung einer Aufnahme (Video oder Einzelbild) auf der SD Karte oder dem FTP Server, kann man anhand des Vorgestellten Buchstabens im Dateinamen ableiten.<br><br></p>
                      <ul>
                        <li class="whitetext"><p>Alarmaufnahmen:  <strong>A</strong></p></li>
                        <li class="whitetext"><p>Geplante Aufnahme / Fotoserie:  <strong>P</strong></p></li>
                        <li class="whitetext"><p>Manuelle Aufnahme:  <strong>N</strong></p></li>
                        <li class="whitetext"><p>FTP Test:  <strong>T</strong></p></li>
                      </ul>
                      <br><br>
                      <p><u>Beispiel</u>: Die Datei P17073016245100.jpg stammt aus einer Fotoserie und wurde am 2017 (Jahr). 07 (Monat). 30 (Tag) um 16:24:51 aufgenommen.</p>
                    </div>

                    <div class="margin">
                        <h3>Passiv oder Port</h3>
                        <p>Für den FTP Modus können Sie zwischen dem passiven (<strong>PASV</strong>) und dem aktiven Modus (<strong>PORT</strong>) wählen. Der Standard ist der aktive PASV Modus. Wenn Ihr Server hinter einem Router mit einer aktiven NAT installiert ist, oder wenn die Firewall das Netzwerk des Servers von einem externen Zugriff durch Ihre Kamera blockiert, sollten Sie den Port Modus auswählen.</p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->

                <!-- ###################### Lightboxes ######################## -->

                <amp-image-lightbox id="lightbox_01" layout="nodisplay"></amp-image-lightbox>

            </div>
        </div>

        <% include ../../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
