<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
    </head>

    <body class="home">

        <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
            <% include ../../_partials/amp/_ampLandingSidebar.ejs %>
        </amp-sidebar>

        <header class="header fixed">
            <% include ../../_partials/amp/_amp-header.ejs %>
        </header>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero webUI">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>Oberfläche Video</h1>
                                    <p class="intro">
                                      Die Videoeinstellungen erlauben es, die Qualität von allen 3 Videostreams Ihrer Kamera einzustellen. Bitte beachten Sie, dass eine hohe Qualität in den Videoeinstellungen auch gleichzeitig hohe Hardware- und Bandbreitenansprüche mit sich bringt. Richten Sie die Videoeinstellungen ein, um ein flüssiges Video zu erhalten. Bitte schauen Sie unter <a href="/index.php/RTSP_Streaming">RTSP Streaming</a> um auf die Kamera Streams 2 und 3 zuzugreifen.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

            <div class="wrap">
                <div class="container main">

                    <% include ../../_partials/content/_bluenav-general.ejs %>

                        <article itemscope itemtype="http://schema.org/Article" class="blade wrapper content">
                          <% include ../../_partials/amp/_schemaArticle.ejs %>

                    <div>
                        <h2 itemprop="name" class="post-title">Einrichten der Videoeinstellungen</h2>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <amp-img
                            on="tap:lightbox_01"
                            role="button"
                            tabindex="0"
                            src="/images/720p_webUI/WebUI-Multimedia_Video.png" width="716" height="746" layout="responsive" class="shadow">
                        </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <table>
                            <tr>
                                <td width="20%">
                                    <strong>MJPEG Stream aktivieren</strong>
                                </td>
                                <td>Ihre Kamera bietet die Möglichkeit, anstatt eines h.264 codiertem Videostream, eine Sequenz in Form von einzelnen Bildern zu senden. Der Motion-JPEG Stream hat den Vorteil, ohne ein Video-Plugin in jedem Webbrowsert angezeigt zu werden. Das ist notwendig, wenn Sie das Live-Video auf einem Rechner sehen möchten, auf dem Sie keine Rechte haben ein benötigtes Plugin zu installieren, z.B. Ihr Arbeitsrechner. Der Nachteil dieses Modus ist das die Komprimierung wesentlich geringer ist und Sie eine wesentlich höhere Bandbreite benötigen. Sie können den Modus aktivieren/deaktivieren mit dem Schnellzugriff in der oberen <a href="/Web_User_Interface/720p_Series/Video_Menu_Bar/">Video Menüleiste</a>.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Video Kanal</strong>
                                </td>
                                <td>Ihre Kamera kann das h.264 Video in 3 verschiedenen Streams mit unterschiedlichen Auflösungen senden. Sie können alle 3 Streams unabhängig voneinander mit <a href="/Software/">externer Software</a> erreichen. Den Stream den Sie hier auswählen wird innerhalb der Weboberfläche dargestellt.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Video Auflösung</strong>
                                </td>
                                <td>Zeigt die Auflösug des ausgewählten Videostreams. Die Videoauflösung wird durch den Videokanal, den Sie oben ausgewählt haben, definiert. Zum Beispiel wird der erste Kanal immer in 720p HD Auflösung streamen.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Video Framerate</strong>
                                </td>
                                <td>Dieser Wert gibt die Frames per Sekunde an die Ihre Kamera streamen soll. Bitte beachten Sie, dass dieser Wert nur ein theoretisches Maximum ist, der ihre Kamera nicht überschreiten soll. Die tatsächliche Framerate kann durch die Netzwerkverbindung und die Expositionszeit des Bildsensors (desto dunkler das Image wird, desto länger muss der Bildsensor Licht sammeln und desto länger dauert es einen Frame zu laden) beeinflusst werden. Die Framerate eignet sich dafür, ein Höchstlimit für die Nutzung der Bandbreite Ihrer Kamera zu setzen, um eine Netzwerküberlastung zu vermeiden. Der Standardwert von <strong>15 fps</strong> ist normalerweise ein guter Kompromiss für die meisten Überwachungsszenarien.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Video Bitrate</strong>
                                </td>
                                <td>Dieser Wert legt fest wieviele Informationen in einen Videostream gepackt werden können. Ein erhöhen der Bitrate wird auch die Bandbreite massiv erhöhen, um den Stream im lokalen Netzwerk anzusehen. Auch die Dateigrößen der Videoaufnahmen werden sich erhöhen. Ein signifikanter Vorteil in der Bildqualität wird nur erreicht, wenn das Video viele kleine feine Details aufweist. Normalerweise wird empfohlen diesen Wert bei den Standardeinstellungen von <strong>1024-2048kbps</strong> zu belassen.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Videocodierung</strong>
                                </td>
                                <td>Einstellen, um die gesetzte Bitrate zu halten, oder die Kamera eigenständig eine geringere Bitrate auswählen lassen (z.B. arbeitet Ihre Kamera während der Nacht oft mit einer geringeren Bitrate). Das hat Auswirkungen auf die Dateigröße der aufgenommenen Videos, als auch auf die genutzte Bandbreite des Livestreams. Wir empfehlen, dass Sie die <strong>variable Bitrate</strong> nutzen.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Bildqualität</strong>
                                </td>
                                <td>Stellen Sie die JPG Qualität jedes Frames im h.264 Video ein. Sie werden das beste Ergebnis erhalten, wenn Sie den Wert bei <strong>3</strong>belassen.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Keyframe Intervall</strong>
                                </td>
                                <td>Ein Keyframe (I-Frame) ist ein in seiner Gesamtheit codierter Frame, wie ein JPEG Bild. P-frames sind "vorausgesagt", das heißt, Sie enthalten nur die Veränderungen von einem Frame zum nächsten Frame. Daher sind I-Frames typischerweise 10x so groß wie P-Frames, desto weniger Sie haben, desto mehr Kompression ist möglich. Als Kompromiss zwischen Bildqualität und benötigter Bandbreite wird empfohlen, 1 Keyframe pro Sekunde zu erzeugen. Mit dem Standardintervall von <strong>20 Frames</strong> und einer Framerate von 15fps wird Ihre Kamera ein I-Frame alle 1,33s (20 Frames/15 Frames/s) senden.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>h.264 Video Plugin</strong>
                                </td>
                                <td>Hier können Sie das Plugin auswählen, mit dem die Weboberfläche den h.264 Stream wiedergeben soll. Das Standardplugin ist <strong>Flash</strong>. Der Quicktime Player oder ActiveX Player stehen optional zur Verfügung. Das ActiveX Plugin kann nur unter Windows mit dem Internet Explorer oder Mozilla Firefox verwendet werden, bietet aber <a href="/Web_User_Interface/720p_Series/Video_Menu_Bar/">einige Vorteile</a> gegenüber den anderen Plugins. Grundsätzlich empfehlen wir das Flash Plugin zu nutzen.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>MotionJPEG Video Modus</strong>
                                </td>
                                <td>Wenn Sie dem MJPEG Stream nutzen, können Sie zwischen den beiden Modi - ein "echter"" MJPEG Stream (empfohlen) oder einem "simulierten" Stream that is created by letting your browser request a new snapshot for each frame. I am not sure what the latter is for - but it is always nice to have it :)</td>
                            </tr>
                        </table>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>  Die Videoeinstellungen erlauben es, die Qualität von allen 3 Videostreams Ihrer Kamera einzustellen. Bitte beachten Sie, dass eine hohe Qualität in den Videoeinstellungen auch gleichzeitig hohe Hardware- und Bandbreitenansprüche mit sich bringt. Richten Sie die Videoeinstellungen ein, um ein flüssiges Video zu erhalten. Bitte schauen Sie unter <a href="/index.php/RTSP_Streaming">RTSP Streaming</a> um auf die Kamera Streams 2 und 3 zuzugreifen.</p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->

                <!-- ###################### Lightboxes ######################## -->

                <amp-image-lightbox id="lightbox_01" layout="nodisplay"></amp-image-lightbox>

            </div>
        </div>

        <% include ../../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
