<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
    </head>

    <body class="home">

        <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
            <% include ../../_partials/amp/_ampLandingSidebar.ejs %>
        </amp-sidebar>

        <header class="header fixed">
            <% include ../../_partials/amp/_amp-header.ejs %>
        </header>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero webUI">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>Oberfläche SMTP Server</h1>
                                    <p class="intro">
                                      Verwenden Sie einfach <strong>INSTAR Voreinstellungen</strong>, wenn Sie die SMTP Informationen Ihres Email Providers nicht kennen. Choose the preset from the drop down menu and confirm. The Email recipient can be set in the <a href="/Web_User_Interface/720p_Series/Alarm/Email/">Email Menu</a>. Set-up this way, your camera will use an INSTAR Server to send alarm mails to your personal Email address. This transfer will be TLS encrypted and INSTAR does not store any copies of your Emails!. Remember Daylight-Saving-Time!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

            <div class="wrap">
                <div class="container main">

                    <% include ../../_partials/content/_bluenav-general.ejs %>

                        <article itemscope itemtype="http://schema.org/Article" class="blade wrapper content">
                        <!-- article -->

                    <div>
                        <h2 itemprop="name" class="post-title">Geben Sie einen Server für die ausgehenden Emails an.</h2>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <amp-img
                            on="tap:lightbox_01"
                            role="button"
                            tabindex="0"
                            src="/images/720p_webUI/WebUI-Alarm_SMTP.png" width="716" height="746" layout="responsive" class="shadow">
                        </amp-img>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <table>
                            <tr>
                                <td width="20%">
                                    <strong>SMTP Voreinstellungen</strong>
                                </td>
                                <td>Ihre INSTAR Kamera kann mit nahezu jedem Email Provider kommunizieren. Die Voreinstellungen geben Ihnen nur einen Überblick über die meistgenutzen Provider. Falls Sie Ihren nicht finden, tippen Sie die Daten manuell ein. Wenn Sie die Serveradresse Ihres Providers nicht kennen, verwenden Sie einfach <strong>INSTAR SMTP Server</strong>. Diese Voreinstellung erlaubt es Ihnen, über einen INSTAR Server die Mail direkt zu Ihrer persönlichen E-Mail Adresse zu senden. Alles was Sie als nächstes machen müssen, ist Ihre persönliche Email Adresse als Empfänger im <a href="/Web_User_Interface/720p_Series/Alarm/Email/">Email Menü</a> einzutragen.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>SMTP Server</strong>
                                </td>
                                <td>Geben Sie die Serveradresse Ihres Email Providers ein. Wenn Sie die Serveradresse Ihres Providers nicht kennen, verwenden Sie einfach <strong>INSTAR SMTP Server</strong>. Diese Voreinstellung erlaubt es Ihnen, über einen INSTAR Server die Mail direkt zu Ihrer persönlichen E-Mail Adresse zu senden. Alles was Sie als nächstes machen müssen, ist Ihre persönliche Email Adresse als Empfänger im <a href="/Web_User_Interface/720p_Series/Alarm/Email/">Email Menü</a> einzutragen.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>SMTP Port</strong>
                                </td>
                                <td>Wählen Sie den Port, den Ihr SMTP Server benutzt um Ihre Emails zu empfangen. Der Standardport für eine unverschlüsselte Mailübertragung ist <strong>25</strong>, für SSL wählen Sie Port <strong>465</strong> und TLS/STARTTLS nutzt den Port <strong>587</strong>.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>SMTP SSL</strong>
                                </td>
                                <td>Wählen sie den Verschlüsselungsmodus den Ihr SMTP Server benutzt. Beachten Sie, dass die meisten Server zwar alle Verschlüsselungen unterstützen, dafür aber unterschiedliche Ports verwenden.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>SMTP Benutzername</strong>
                                </td>
                                <td>Geben Sie Ihren Email Benutzernamen ein - dies ist, in den meisten Fällen, einfach Ihre Email Adresse.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>SMTP Passwort</strong>
                                </td>
                                <td>Geben Sie das Passwort Ihres Email Accounts an und bestätigen Sie es.</td>
                            </tr>
                        </table>
                    </div>
                    <!-- /margin -->

                    <div class="dangercard">
                        <p><strong><u>Achtung:</u></strong><br/><br/>Beachten Sie, dass die maximale Länge Ihres Email Passworts 39 Zeichen ist. Die folgenden Sonderzeichen werden nicht unterstützt: <span class="code">&amp; = " ` + \</span></p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Server Voreinstellungen</h3>
                        <p>Verwenden Sie einfach <strong>INSTAR Voreinstellungen</strong>, wenn Sie die SMTP Informationen Ihres Email Providers nicht kennen. Choose the preset from the drop down menu and confirm. The Email recipient can be set in the <a href="/Web_User_Interface/720p_Series/Alarm/Email/">Email Menu</a>. Set-up this way, your camera will use an INSTAR Server to send alarm mails to your personal Email address. This transfer will be TLS encrypted and INSTAR does not store any copies of your Emails!. Remember Daylight-Saving-Time!</p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->

                <!-- ###################### Lightboxes ######################## -->

                <amp-image-lightbox id="lightbox_01" layout="nodisplay"></amp-image-lightbox>

            </div>
        </div>

        <% include ../../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
