<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    </head>

    <body class="home">

        <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
            <% include ../../_partials/amp/_ampLandingSidebar.ejs %>
        </amp-sidebar>

        <header class="header fixed">
            <% include ../../_partials/amp/_amp-header.ejs %>
        </header>

            <div class="wrap">
                <div class="container main">

                    <% include ../../_partials/content/_bluenav-general.ejs %>

                        <article itemscope itemtype="http://schema.org/Article" class="blade wrapper content">
                          <% include ../../_partials/amp/_schemaArticle.ejs %>

                <div class="container">
                    <div class="row">
                        <div class="twelve columns">
                            <h1 itemprop="name">Alarm Menü</h1>
                        </div>
                    </div>

                    <!-- ##################################### Areas ############################################ -->



                    <div class="card-container margin">

                        <div class="twocard">
                            <a href="/Web_User_Interface/720p_Series/Alarm/Areas/">
                            <div class="image"on=" tap:areas-lightbox.close">
                                <amp-img noloading height=400 width=400 layout=responsive src="/images/720p_webUI/QL-Box_WebUI_Alarm_Areas_mouseOver.png"></amp-img>
                            </div>
                            </a>
                            <div class="action">
                                <p>Die Alarmbereiche bestimmen die Bildbereiche, die für die interne, softwarebasierte Bewegungserkennung der Kamera herangezogen wird. Sie können bis zu vier Alarmbereiche einzeichnen - aktivieren Sie einfach einen der 4 Bereiche und zeichnen sie diesen in den gewünschten Bildausschnitt ein, indem Sie die linke Maustaste gedrückt halten und die Maus bewegen. Der Schwellenwert für ein Alarmereignis kann über die Empfindlichkeit festgelegt werden - von sehr unempfindlich (Wert = 0) bis sehr empfindl ich (Wert = 100). Die Empfindlichkeit wird darüber hinaus von der Größe des Bereiches bestimmt. Je kleiner der Bereich, desto mehr Fläche nimmt eine Änderung im Bild prozentual ein. Wenn Sie eine hohe Empfindlichkeit brauchen, setzten Sie viele kleine Alarmbereiche. Wenn Sie zu viele Fehlalarme erhalten, ist es besser einen großen Bereich aufzuziehen.</p>
                            </div>
                        </div>

                        <!-- ##################################### Privacy ############################################ -->

                        <div class="twocard">
                            <a href="/Web_User_Interface/720p_Series/Alarm/Privacy_Mask/">
                            <div class="image">
                                <amp-img noloading height=400 width=400 layout=responsive src="/images/720p_webUI/QL-Box_WebUI_Alarm_Privacy_mouseOver.png"></amp-img>
                            </div>
                            </a>
                            <div class="action">
                                <p>Die Privatsphäre Maske erlaubt es Ihnen Bereiche, die Sie nicht überwachen dürfen im Video auszuschwärzen. Wenn Sie z.B. Ihren Hauseingang überwachen und einen Teil der öffentlichen Straße im Bild haben, können Sie diesen Bereich aus dem Videobild entfernen. Beachten Sie bitte, dass die Privatsphären Maske nicht von der Funktion zum Drehen und Spiegeln des Videobildes erfasst wird. Wenn Sie Ihre Kamera über Kopf montiert haben, müssen Sie zuerst das Bild wieder richtig herum drehen und spiegeln, die Masken einzeichnen und das Bild danach wieder aufrichten. Sie können bis zu 4 Masken einzeichnen - aktivieren Sie einfach eine der 4 Masken und zeichnen sie diese in den gewünschten Bildausschnitt ein, indem Sie die linke Maustaste gedrückt halten und die Maus bewegen.</p>
                            </div>
                        </div>

                    </div>
                    <!-- /card container -->

                      <!-- ##################################### Actions ############################################ -->

                      <div class="card-container margin">

                        <div class="twocard">
                            <a href="/Web_User_Interface/720p_Series/Alarm/Actions/">
                            <div class="image">
                                <amp-img noloading height=400 width=400 layout=responsive src="/images/720p_webUI/QL-Box_WebUI_Alarm_Actions_mouseOver.png"></amp-img>
                            </div>
                            </a>
                            <div class="action">
                                <p class="actions">Bestimmen Sie hier welche Aktionen die Kamera ausführen soll, wenn ein Alarmereignis ausgelöst wurde. Alarme können ausgelöst werden durch die interne Bewegungserkennung der Kamera, durch den Audio Alarm oder durch einen externen Sensor. Sie können Ihre Kamera anweisen Ihnen eine Email (mit Schnappschüssen) zu senden oder Bilder auf der internen SD Karte abzulegen, bzw. auf den FTP Server hochzuladen. Stellen Sie bitte sicher, dass Sie einen SMTP Server hinterlegt haben, bevor Sie den Email Versand aktivieren. Auch für den FTP Versand muss zuerst ein FTP Server hinterlegt sein. Sollte die Option zum Speichern auf der internen SD Karte nicht auswählbar sein, müsste die interne SD Karte überprüft werden.</p>
                            </div>
                        </div>

                        <!-- ##################################### Schedule ############################################ -->

                        <div class="twocard">
                            <a href="/Web_User_Interface/720p_Series/Alarm/Schedule/">
                            <div class="image">
                                <amp-img noloading height=400 width=400 layout=responsive src="/images/720p_webUI/QL-Box_WebUI_Alarm_Schedule_mouseOver.png"></amp-img>
                            </div>
                            </a>
                            <div class="action">
                                <p>Hier können Sie die Zeitfenster festlegen in dem die Bewegungserkennung der Kamera für aktivierte Alarmbereiche aktiv sein soll. Beachten Sie bitte, dass dieser Zeitplan auch für die Alarmauslösung durch den Audio Alarm oder durch einen externen Sensor regelt. Jedes blaue Quadrat entspricht dabei 30 Minuten, in denen der Alarm scharfgestellt ist. Stellen Sie bitte sicher, dass in der Kamera die richtige Zeitzone und der Wert für die Sommerzeit gesetzt wurde bevor Sie den Zeitplan aktivieren.</p>
                            </div>
                        </div>

                    </div>
                    <!-- /card container-->

                      <!-- ##################################### SMTP ############################################ -->

                      <div class="card-container margin">

                        <div class="twocard">
                            <a href="/Web_User_Interface/720p_Series/Alarm/SMTP_Server/">
                            <div class="image">
                                <amp-img noloading height=400 width=400 layout=responsive src="/images/720p_webUI/QL-Box_WebUI_Alarm_SMTP_mouseOver.png"></amp-img>
                            </div>
                            </a>
                            <div class="action">
                                <p>Um den Email Versand nutzen zu können, müssen Sie in der Kamera die Zugangsdaten zum Emailausgangsserver Ihres Anbieters hinterlegen. Sollten Sie diese nicht zur Hand haben, können Sie einfach die INSTAR Vorauswahl nutzen. Wählen Sie dafür einfach den INSTAR SMTP Server aus der Vorauswahl und bestätigen Sie die Eingabe. Ihre persönliche Empfänger Adresse können Sie dann im Email Menü hinterlegen. Mit dieser Einrichtung wird die Kamera Benachrichtigungs-Emails - TLS Verschlüsselt - über den, in Deutschland stehenden, INSTAR Server an Ihre persönliche Email Adresse senden. INSTAR führt dabei keine Datenspeicherung durch, sondern leitet die Emails einfach weiter.</p>
                            </div>
                        </div>

                        <!-- ##################################### Email ############################################ -->

                        <div class="twocard">
                              <a href="/Web_User_Interface/720p_Series/Alarm/Email/">
                              <div class="image">
                                  <amp-img noloading height=400 width=400 layout=responsive src="/images/720p_webUI/QL-Box_WebUI_Alarm_Email_mouseOver.png"></amp-img>
                              </div>
                              </a>
                              <div class="action">
                                  <p>Im Email Menü können Sie die Absender und Ihre Empfänger Adresse für die Email Benachrichtigung hinterlegen. Der Absender muss entsprechend des gewählten SMTP Accounts gesetzt werden. Beachten Sie bitte, dass einige Email Anbieter es nicht erlauben, wenn Absender und Empfänger Email gleich gewählt werden! Als Empfänger können Sie mehrere Email Adressen, getrennt durch ein Semikolon gesetzt werden, z.B. max.mustermann@instar.de;franz.fingerhut@instar.de. Es ist empfohlen auch einen Betreff und Email Text (max 64 Zeichen) einzutragen, da leere Emails ggf. an Spam-Wächtern hängen bleiben.</p>
                              </div>
                          </div>

                        </div>
                      <!-- /card container -->

                    <!-- ##################################### FTP ############################################ -->

                    <div class="card-container margin">

                      <div class="twocard">
                            <a href="/Web_User_Interface/720p_Series/Alarm/FTP/">
                            <div class="image">
                                <amp-img noloading height=400 width=400 layout=responsive src="/images/720p_webUI/QL-Box_WebUI_Alarm_FTP_mouseOver.png"></amp-img>
                            </div>
                            </a>
                            <div class="action">
                                <p>Um den FTP Upload zu nutzen, müssen Sie zuerst einen FTP Server und Ihre Login Daten hinterlegen. Sie können z.B. Ihren Router als Empfänger des FTP Uploads einrichten - in diesem Fall können Sie einfach die Router IP Adresse (z.B. 192.168.178.1) als FTP Server Adresse eintragen. Der Standard FTP Port ist 21 und der Standard Modus ist passiv (PASV). Beachten Sie bitte, dass es manche FTP Server (z.B. Telekom Speedport) es nicht erlauben, für jeden Tag einen neunen Ordner anzulegen.</p>
                            </div>
                        </div>

                      <!-- ##################################### Audio Alarm ############################################ -->

                      <div class="twocard">
                            <a href="/Web_User_Interface/720p_Series/Alarm/Audio_Alarm/">
                            <div class="image">
                                <amp-img noloading height=400 width=400 layout=responsive src="/images/720p_webUI/QL-Box_WebUI_Alarm_Audio_mouseOver.png"></amp-img>
                            </div>
                            </a>
                            <div class="action">
                                <p>Der Audio Alarm nutzt das Mikrofon der Kamera um bei einem lauten Geräusch einen Alarm auslösen zu können. Diese Alarmereignisse werden genauso behandelt, wie die Ereignisse der Bewegungserkennung und führen zu der Auslösung der von Ihnen festgelegten Alarm Aktionen. Beachten Sie bitte, dass die Empfindlichkeit dieser Detektion sowohl von der hier eingestellten Empfindlichkeit, als auch der eingestellten Lautstärke des Audio-Eingangs in der Multimedia Sektion der Weboberfläche.</p>
                            </div>
                        </div>

                      </div>
                      <!-- /card container -->

                  <!-- ##################################### SD Card ############################################ -->

                  <div class="card-container margin">

                    <div class="twocard">
                        <a href="/Web_User_Interface/720p_Series/Alarm/SD_Card/">
                        <div class="image">
                            <amp-img noloading height=400 width=400 layout=responsive src="/images/720p_webUI/QL-Box_WebUI_Alarm_SD_mouseOver.png"></amp-img>
                        </div>
                        </a>
                        <div class="action">
                            <p>Wählen Sie ob Sie die SD Karte auswerfen oder Formatieren möchten und bestätigen Sie die Eingabe. Es ist immer empfohlen die SD Karte zuerst auszuwerfen, bevor Sie sie aus der Kamera entfernen. Gerade wenn die Kamera eine Aufnahme durchführt während die Stromversorgung gekappt wird, kann es zu Fehlern im Dateisystem kommen. Sollte die SD Karte beschädigt werden, wird das Betriebsysstem versuchen die SD Karte zu reparieren und es kann einige Minuten dauern, bis die SD Karte wieder verfügbar ist. Sollte die SD Karte auch nach einiger Zeit noch nicht erreichbar sein, können Sie probieren die Karte zu formatieren. Sollte die Karte ausgeworfen werden, wird das Betriebssystem versuchen Sie nach einiger Zeit wieder automatisch zu mounten.</p>
                        </div>
                    </div>

                    <div class="twocard invisible"></div>
                    <!-- /Card -->

                </div>
                <!-- /Card Container -->

                </div>
                <!-- /Container -->
            </section>
            <!-- /Blade -->
          </div>
          <!-- /Container -->
        </div>
        <!-- /Wrapper -->

        <% include ../../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
