<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-lightbox" src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js"></script>
    </head>

    <body class="home">

        <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
            <% include ../../_partials/amp/_ampLandingSidebar.ejs %>
        </amp-sidebar>

        <header class="header fixed">
            <% include ../../_partials/amp/_amp-header.ejs %>
        </header>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero webUI">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>Oberfläche Benutzer</h1>
                                    <p class="intro">
                                      Ihre Kamera ist mit 3 Benutzerklassen eingerichtet - Administrator, Benutzer und Besucher - und ein Passwort für alle - instar. Bitte ändern Sie dieses sobald Sie Ihre <a href="/Internet_Access/The_DDNS_Service">Kamera ins Internet weiterleiten</a>. Und vergessen Sie nicht alle 3 zu ändern. Sie können den RTSP Stream verwenden, wenn Sie Nutzern den Zugriff auf das Kamerabild ohne Passwort erlauben wollen.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

            <div class="wrap">
                <div class="container main">

                    <% include ../../_partials/content/_bluenav-general.ejs %>

                        <article itemscope itemtype="http://schema.org/Article" class="blade wrapper content">
                    <!-- article -->

                    <div>
                        <h2 itemprop="name" class="post-title">Ändern Sie den Login, bevor Sie Ihre Kamera weiterleiten</h2>
                    </div>
                    <!-- /margin -->

                    <div class="margin">

                      <div>
                          <amp-img on="tap:lightbox1" role="button" tabindex="0" src="/images/720p_webUI/WebUI-System_User.png" width="537" height="560" layout="responsive" class="shadow"></amp-img>
                      </div>

                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <table>
                            <tr>
                                <td width="20%">
                                    <strong>Admin Name</strong>
                                </td>
                                <td>Das ist der Name und das Passwort des Administrator Logins. Der Administrator hat Zugriff auf alle Funktionen der Kamera. Der Standard ist <strong>admin/instar</strong>.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Benutzer Name</strong>
                                </td>
                                <td>Das ist der Name und das Passwort des normalen Benutzerlogins. Der Benutzer hat Zugriff auf den Videostream und kann außerdem die Kamera Schwenken&amp;Neigen (nur PTZ Kameras). Das Konfigurationsmenü ist nicht verfügbar. Der Standard ist <strong>user/instar</strong>.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Gast Name</strong>
                                </td>
                                <td>Das ist der Name und das Passowort des normalen Gastlogins. Der Gast hat nur Zugriff auf den Videostream. Der Standard ist <strong>guest/instar</strong>.</td>
                            </tr>
                        </table>
                    </div>
                    <!-- /margin -->

                    <div class="dangercard">
                        <p><strong>Achtung:</strong><br/><br/>Der Benutzername und das Passwort sollte nicht mehr als 30 Zeichen enthalten. Die folgenden Sonderzeichen werden <u>unterstützt</u>: <span class="code">@ $ * - _ . / ?</span>. Die folgenden Sonderzeichen werden <u>nicht unterstützt</u>: <span class="code">&amp; § = ä ö ü + # ß ´ ! " ( ) % ' : ; , LEERZEICHEN</span></p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Ihre Kamera ist mit 3 Benutzerklassen eingerichtet - Administrator, Benutzer und Besucher - und ein Passwort für alle - instar. Bitte ändern Sie dieses sobald Sie Ihre <a href="/Internet_Access/The_DDNS_Service">Kamera ins Internet weiterleiten</a>. Und vergessen Sie nicht alle 3 zu ändern. Sie können den RTSP Stream verwenden, wenn Sie Nutzern den Zugriff auf das Kamerabild ohne Passwort erlauben wollen.</p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->

                <!-- ############## Lightboxes ###################### -->

                  <amp-lightbox id="lightbox1" layout="nodisplay">
                      <div class="lightbox" on="tap:lightbox1.close" role="button" tabindex="0" class="centered">
                          <amp-img on="tap:lightbox1.close" role="button" tabindex="0" src="/images/720p_webUI/WebUI-System_User.png" width="716" height="746" layout="responsive" class="shadow"></amp-img>
                      </div>
                  </amp-lightbox>

            </div>
        </div>

        <% include ../../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
