<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Web_User_Interface/1080p_Series/Recording/Video/">
    </head>

    <body class="home">

      <% include ../../_partials/amp/_amp-header.ejs %>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero webUI">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                  <h1>Oberfläche Videoaufnahmen</h1>
                                    <p class="intro">
                                      Hier können Sie die geplanten Videoaufnahmen aktivieren. Diese Funktion wird ein Video innerhalb des Zeitraums, der im  <a href="/Web_User_Interface/720p_Series/Recording/Schedule/">Aufnahmezeitplan</a> festgelegt wurde, auf die interne SD Karte aufnehmen. Sie können die Auflösung und Länge jeder Datei festlegen.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

        <div class="wrap">
            <div class="container main">

                <% include ../../_partials/content/_bluenav-1080p-webUI.ejs %>

                <article>
                    <!-- article -->

                    <div class="margin">
                      <h2 class="post-title">Konfigurieren der geplanten Aufnahmen auf die SD Karte</h2>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img srcset="/images/1080p_webUI/1080p_Settings_Tasks_Recording.jpg 100w, /images/1080p_webUI/1080p_Settings_Tasks_Recording.png 1500w" width="1371" height="949" layout="responsive" class="shadow" on="tap:recVid" role="button" tabindex="0"></amp-img>
                      </div>
                    </div>
                    <!-- /margin -->
                    <amp-lightbox id="recVid" layout="nodisplay">
                      <div class="lightbox">
                        <amp-img src="/images/1080p_webUI/1080p_Settings_Tasks_Recording.jpg" width="800" height="550" on="tap:recVid.close" role="button" tabindex="1">
                      </div>
                    </amp-lightbox>

                    <div class="margin">
                        <table>
                            <tr>
                                <td width="20%">
                                  <strong>Speichern Sie die geplanten Videoaufnahmen auf der SD Karte</strong>
                                </td>
                                <td>Aktivieren Sie die geplante Aufnahme auf die interne SD Karte. Bitte beachten Sie, dass die Aufnahme nur startet, wenn der <a href="/Web_User_Interface/720p_Series/Recording/Schedule/">Aufnahme Zeitplan</a> auch aktiv ist.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                  <strong>Video Qualität</strong>
                                </td>
                                <td>Stellen Sie die Videoqualität für die geplanten Aufnahmen ein.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                  <strong>Videolänge in Sekunden</strong>
                                </td>
                                <td>Es wird empfohlen die Aufnahmen in kleinere Dateien aufzuteilen, damit Sie im Falle eines Schreibfehlers die Datensicherheit behalten. Die maximalie Länge einer Videodatei beträgt 900 Sekunden (15 Minuten).</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Schedule</strong>
                                </td>
                                <td>Jedes orangene Kästchen steht für 30min Aufnahmezeit. Nutzen Sie die Voreinstellungen über dem Zeitplan, um gewöhnliche Zeitfenster einzustellen.</td>
                            </tr>
                        </table>
                    </div>
                    <!-- /margin -->
                </article>
                <!-- /article -->

              </div>
              <!-- /container main -->
          </div>
          <!-- /wrap-->

          <% include ../../_partials/content/_bluenav-1080p-webUI-mobile.ejs %>

        <footer>
            <% include ../../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
