<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-lightbox" src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js"></script>
    </head>

    <body class="home">

        <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
            <% include ../../_partials/amp/_ampLandingSidebar.ejs %>
        </amp-sidebar>

        <header class="header fixed">
            <% include ../../_partials/amp/_amp-header.ejs %>
        </header>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero webUI">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>Oberfläche ONVIF</h1>
                                    <p class="intro">
                                      Die Überwachungsindustrie hat ein offenes Standardprotokoll entwickelt, dass sich <a href="/Quick_Installation/ONVIF">ONVIF</a>  nennt. Dieses Protokoll erlaubt es Kameras untereinander und mit Netzwerkgeräten zu kommunizieren. Sie können den Service aktivieren oder deaktivieren und den Port ändern - wie es Ihr empfangenes ONVIF Gerät benötigt.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

            <div class="wrap">
                <div class="container main">

                    <% include ../../_partials/content/_bluenav-general.ejs %>

                        <article itemscope itemtype="http://schema.org/Article" class="blade wrapper content">
                    <!-- article -->

                    <div>
                        <h2 itemprop="name" class="post-title">Integrieren Sie Ihre INSTAR Kamera in eine Drittanbieter-Applikation</h2>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p><a href="/Quick_Installation/ONVIF">ONVIF</a> ist eine globaler Standard für die Kommunikation zwischen Netzwerk Sicherheitsprodukten - wie Ihre IP Kamera und z.B. einen Netzwerk Rekorder. Die ONVIF Spezifikationen garantieren Ihnen, dass die Netzwerkgeräte zusammenarbeiten - auch dann, wenn Sie von anderen Herstellern stammen. Nutzen Sie den ONVIF Dienst Ihrer INSTAR Kamera um diese in bereits bestehende Sicherheitssysteme zu integrieren. Neben dem aktivieren und deaktivieren des Dienstes, erlaubt Ihnen das Overlay auch das Festlegen des ONVIF Ports (Standard: 8080) und ob Sie eine Authentifizierung durch die zugreifende Anwendung verlangen oder nicht. Beachten Sie bitte, dass durch das Deaktivieren der Authentifizierung jeder in Ihrem lokalen Netzwerk über das ONVIF Protokoll Zugriff auf die Kamera hat. Deaktivieren Sie die Authentifizierung nur, wenn das Kameranetzwerk nur Ihnen Zugänglich ist und die Authentifizierung Ihnen bei der Einbindung Probleme bereitet. Der ONVIF Port darf in diesem Fall unter keinen Umständen in Ihrem Router durchgeleitet werden!</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img srcset="/images/1080p_webUI/1080p_Settings_Network_ONVIF.jpg 100w, /images/1080p_webUI/1080p_Settings_Network_ONVIF.png 1500w" width="1371" height="949" layout="responsive" class="shadow" on="tap:netFTP" role="button" tabindex="0"></amp-img>
                      </div>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <table>
                            <tr>
                                <td width="20%">
                                    <strong>ONVIF Protokoll aktivieren</strong>
                                </td>
                                <td>Aktivieren oder deaktivieren Sie den <a href="/Quick_Installation/ONVIF/">ONVIF</a> Dienst in Ihrer Kamera.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>ONVIF Port</strong>
                                </td>
                                <td>Dies ist der Port über den Ihre Kamera über das <a href="/Quick_Installation/ONVIF/">ONVIF</a> Protokoll ansprechbar ist. Es wird empfohlen diesen auf dem Standardwert von 8080 zu belassen. Achten Sie bitte darauf nicht den LAN, RTMP oder RTSP Port auf den gleichen Wert zu legen!</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>ONVIF Authentifizierung</strong>
                                </td>
                                <td>Sollten Sie Probleme haben die Kamera in eine Drittanbieter Anwendung über den ONVIF Dienst einzubinden, können Sie hier einmal probieren testweise die Authentifizierung zu deaktivieren. In diesem Fall sollte man den ONVIF Port nicht im Router durchleiten, um unerwünschte Zugriffe auf die Kamera zu vermeiden.</td>
                            </tr>
                        </table>
                    </div>
                    <!-- /margin -->
                </article>
                <!-- /article -->

                <amp-lightbox id="netFTP" layout="nodisplay">
                  <div class="lightbox">
                    <amp-img src="/images/1080p_webUI/1080p_Settings_Network_ONVIF.jpg" width="800" height="550" on="tap:netFTP.close" role="button" tabindex="1">
                  </div>
                </amp-lightbox>

              </div>
              <!-- /container main -->
          </div>
          <!-- /wrap-->

          <% include ../../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
