<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-lightbox" src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js"></script>
    </head>

    <body class="home">

        <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
            <% include ../../_partials/amp/_ampLandingSidebar.ejs %>
        </amp-sidebar>

        <header class="header fixed">
            <% include ../../_partials/amp/_amp-header.ejs %>
        </header>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero webUI">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>Oberfläche Bild</h1>
                                    <p class="intro">
                                      Hier können Sie die Bildparameter Helligkeit, Sättigkeit, Kontrast, Exposition und Schärfe einstellen. Sie können das Videobild drehen und spiegeln.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

            <div class="wrap">
                <div class="container main">

                    <% include ../../_partials/content/_bluenav-general.ejs %>

                        <article itemscope itemtype="http://schema.org/Article" class="blade wrapper content">
                          <% include ../../_partials/amp/_schemaArticle.ejs %>

                    <div>
                        <h2 itemprop="name" class="post-title">Bildeinstellungen</h2>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p class="justify">Hier können Sie die Bildparameter Helligkeit, Sättigkeit, Kontrast, Exposition und Schärfe einstellen. Sie können das Videobild drehen und spiegeln.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h4>Ihr Bild wirkt unscharf? Die Farben sind unnatürlich? Sie haben zuviel Bildrauschen?</h4>
                    </div>
                    <!-- /margin -->

                    <div class="card-container margin">
                          <div class="twocard">
                              <div class="image">
                                <amp-img
                                    on="tap:HardwareWDR"
                                    role="button"
                                    tabindex="0"
                                    src="/images/1080p_webUI/IN-8015FHD_Hardware_WDR_Thumb.jpg" width="235" height="135" layout="responsive" class="shadow">
                                </amp-img>
                              </div>
                              <div class="action">
                                  <h4>Hardware WDR Modus</h4>
                              </div>
                          </div>
                          <div class="twocard">
                              <div class="image">
                                <amp-img
                                    on="tap:SoftwareWDR"
                                    role="button"
                                    tabindex="0"
                                    src="/images/1080p_webUI/IN-8015FHD_Software_WDR_Thumb.jpg" width="235" height="135" layout="responsive" class="shadow">
                                </amp-img>
                              <div class="action">
                                  <h4>Software WDR Modus</h4>
                              </div>
                          </div>
                        </div>
                    </div>
                    <!-- /card-container -->

                    <div class="margin">
                        <p class="justify">Lesen Sie hier wie Sie die diese Probleme in den Griff bekommen können. Oder warum Sie die Bildeinstellungen eventuell so lassen möchten, um ein Überwachungsvideo zu erhalten, dass es Ihnen erlaubt möglichst viele Details zu erkennen.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img srcset="/images/1080p_webUI/1080p_Settings_Multimedia_Image.jpg 100w, /images/1080p_webUI/1080p_Settings_Multimedia_Image.png 1500w" width="1371" height="949" layout="responsive" class="shadow" on="tap:multiImg" role="button" tabindex="0"></amp-img>
                      </div>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <a href="/Web_User_Interface/1080p_Series/Multimedia/Image/9008vs5905/"><button class="navGo">9008 vs 5905</button></a>
                      <a href="/Web_User_Interface/1080p_Series/Multimedia/Image/Wide_Dynamic_Range/"><button class="navGo">WDR Settings</button></a>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <table>
                            <tr>
                                <td width="20%">
                                    <strong>Default</strong>
                                </td>
                                <td>
                                  Dieser Button setzt die Bildeinstellungen auf ihre Standardwerte zurück:<br>
                                  <ul>
                                    <li>Farbton: 50</li>
                                    <li>Helligkeit: 50</li>
                                    <li>Bildsättigung: 112</li>
                                    <li>Kontrast: 50</li>
                                    <li>Bildschärfe: 60</li>
                                    <li>Gamma: 1</li>
                                    <li>Belichtung: 64</li>
                                  </ul>
                                </td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Farbton</strong>
                                </td>
                                <td>Passen Sie hier die Farbtemperatur des Videobildes ein.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Helligkeit</strong>
                                </td>
                                <td>Stellen Sie die Helligkeit des Videobilds ein. Um ein helleres Bild zu erhalten, können Sie hier den Wert <strong>75</strong> eintragen.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Bildsättigung</strong>
                                </td>
                                <td>Stellen Sie die Sättigung des Videobilds ein. Um kräftigere Farben im Video zu erhalten, können Sie hier einen Wert von <strong>125</strong> einstellen. Dieser Wert steht nur im Tag-Modus der Kamera zur Verfügung.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Kontrast</strong>
                                </td>
                                <td>Stellen Sie den Kontrast des Videobilds ein.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Bildschärfe</strong>
                                </td>
                                <td>Stellen Sie die Schärfe des Videobilds ein. Dieser Wert verstellt nicht das Objektiv um einen besseren Fokus zu erhalten, sondern zeichnet kontrastreiche Kanten im Video nach, um eine höhere Schärfung des Bildes zu erhalten. Sie können den Wert auf ca. <strong>75</strong> anheben<br><br>
                                Beachten Sie dabei aber, dass die Schärfung bei detailreichen Szenen, z.B. Grünanlagen, zu unschönen digitalen Artefakten im Bild führen kann. In diesem Fall sollte man den Wert reduzieren.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Gamma</strong>
                                </td>
                                <td>Stellen Sie den Gamma-Wert des Bilds ein. Die Gamma Korrektur hebt (oder senkt) die Mitteltöne im Bild, während sehr dunkle und sehr helle Bereiche nicht verändert werden.<br><br>
                                Das bedeutet, während der Helligkeit Wert unterbelichtete Bilder über das gesamte Spektrum anhebt und das Ergebnis ein sehr "verwaschen" aussehendes Bild ist, können Sie mit dem Gamma Wert das <strong>Bild aufhellen</strong> (oder abdunkeln) <strong>ohne den Kontrast zu verlieren</strong>. Gerade im Nachtmodus kann ein Gamma Wert von <strong>0</strong> das Bild angenehm heller machen.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Belichtung</strong>
                                </td>
                                <td>Stellen Sie hier den Belichtung (Shutter) für die Videoaufnahme ein. Beachten Sie, dass eine lange Belichtungszeit das Bild stark aufhellt. Dies führt allerdings dazu, das schnelle Bewegungen nicht mehr aufgelöst werden - d.h. Personen, die durchs Bild gehen, werden "verschmiert" dargestellt werden. Es ist besser mit kurzen Belichtungszeiten zu arbeiten und den Helligkeit und Gamma Wert zu nutzen um das Video aufzuhellen.</td>
                            </tr>
                        </table>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img srcset="/images/1080p_webUI/1080p_Settings_Multimedia_Image_Advanced.jpg 100w, /images/1080p_webUI/1080p_Settings_Multimedia_Image_Advanced.png 1500w" width="1371" height="949" layout="responsive" class="shadow" on="tap:multiImg2" role="button" tabindex="0"></amp-img>
                      </div>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <table>
                            <tr>
                                <td width="20%">
                                    <strong>Default</strong>
                                </td>
                                <td>Dieser Button setzt die Bildeinstellungen auf ihre Standardwerte zurück.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Bild um 180° drehen</strong>
                                </td>
                                <td>Falls Sie Ihre Kamera Über-Kopf installiert haben, drehen und spiegeln Sie einfach das Bild, um es wieder richtig zu sehen.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Bild entzerren</strong>
                                </td>
                                <td>Gerade Weitwinkel-Objektive können Ihr Kamerabild verzerren. Nutzen Sie diesen Slider, um eine Korrektur vorzunehmen.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Hardware WDR</strong>
                                </td>
                                <td>Ist Ihre Kamera starkem Gegenlicht ausgesetzt? Der Hardware WDR Modus erlaubt es Ihnen, damit umzugehen. Dunkle Bereiche im Bild werden heller dargestellt und helle Bereiche dunkler - d.h. Sie können auch im Schatte noch Strukturen erkennen und Fenster oder Lichtquellen "blenden" die Kamera nicht mehr. Aber der Hardware WDR Modus führt häufig dazu, dass das Bild an Kontrast verliert und etwas unscharf wirkt!<br><br>
                                <small>Beachten Sie bitte, das nach dem Umschalten zwischen Hardware und Software WDR der Videostream neugestartet wird und das Bild kurz schwarz wird.</small></td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Software WDR</strong>
                                </td>
                                <td>Der <strong>Hardware WDR Modus</strong> ist der <u>beste Modus</u> für eine Überwachungsaufgabe. Sie können auch unter widrigen Verhältnissen das Videobild auswerten - der Einbrecher wird sich nicht im Schatten verbergen können.<br><br>
                                Aber bei manchen Anwendungen ist die Ästhetik einfach wichtiger und man möchte ein <strong>kontrastreicheres Bild mit natürlicheren Farben</strong> haben. Die wird Ihnen beim Software Modus geboten. Auch hier wird der Dynamikbereich des Videos noch etwas erhöht, allerdings nur noch über eine Software Emulation. Ein anheben der WDR Stärke (s.u.) wird hier bei dunklen Szenen schnell zu Bildrauschen führen, das man durch den Entrauschen Wert (s.u.) entgegenwirken kann. Es ist jedoch meistens besser die WDR Stärke niedrig zu halten und stattdessen die Helligkeit und die Gamma Korrektur (s.o.) anzuheben, um das Bild aufzuhellen.<br><br>
                                <small>Beachten Sie bitte, das nach dem Umschalten zwischen Hardware und Software WDR der Videostream neugestartet wird und das Bild kurz schwarz wird.</small></td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Auto WDR</strong>
                                </td>
                                <td>Lassen Sie Ihre Kamera automatisch bestimmen, wieviel WDR notwendig ist, um helle und dunkel Bereiche im Bild auszugleichen. Deaktivieren Sie den Auto Modus um manuell einen festen Wert vorzugeben (s.u.)<br><br>
                                <small>Nur für den Hardware WDR Modus verfügbar!</small></td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Dynamische WDR Stärke</strong>
                                </td>
                                <td>Legen Sie hier fest wie aggressiv der automatische Hardware WDR arbeiten soll. Um so größer der Wert, desto stärker der WDR Modus.<br><br>
                                <small>Nur für den Hardware WDR Modus verfügbar!</small></td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Feste WDR Stärke</strong>
                                </td>
                                <td>Wenn Sie nicht möchten, dass die Kamera die WDR Stärke an die jeweilige Szene anpasst (oder Sie den Software WDR nutzen), können Sie hier einen festen Wert vorgeben.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Auto. Entrauschen</strong>
                                </td>
                                <td>Entfernen Sie digitales Rauschen in ihrem Kamerabild.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Fester Entrauschwert</strong>
                                </td>
                                <td>Deaktivieren Sie das automatische Entrauschen oben, um einen manuellen Wert einzustellen. Wenn Sie mit den von Ihnen gewählten Bildeinstellungen ein zu starkes Bildrauschen erhalten, können Sie diesen Wert auf <strong>220 - 240</strong> anheben. Beachten Sie bitte, dass ein hoher Wert jedoch dazu führt, dass Sie Details im Video verlieren. Für die Überwachung ist ein leicht verrauschtes Bild häfig besser auszuwerten (z.B. um Nummernschildern oder Gesichter zu erkennen).</td>
                            </tr>
                        </table>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->

                <!-- ########################## Lightboxes ################################## -->

                <amp-lightbox id="multiImg" layout="nodisplay">
                  <div class="lightbox">
                    <amp-img src="/images/1080p_webUI/1080p_Settings_Multimedia_Image.jpg" width="800" height="550" on="tap:multiImg.close" role="button" tabindex="1">
                  </div>
                </amp-lightbox>

                <amp-lightbox id="multiImg2" layout="nodisplay">
                  <div class="lightbox">
                    <amp-img src="/images/1080p_webUI/1080p_Settings_Multimedia_Image_Advanced.jpg" width="800" height="550" on="tap:multiImg2.close" role="button" tabindex="1">
                  </div>
                </amp-lightbox>

                <amp-lightbox id="HardwareWDR" layout="nodisplay">
                  <div class="lightbox">
                    <amp-img src="/images/1080p_webUI/IN-8015FHD_Hardware_WDR.jpg" width=1920 height=1080
                    tabindex="0" layout="responsive"
                    on="tap:HardwareWDR.close"
                    role="button">
                  </div>
                </amp-lightbox>

                <amp-lightbox id="SoftwareWDR" layout="nodisplay">
                  <div class="lightbox">
                    <amp-img src="/images/1080p_webUI/IN-8015FHD_Software_WDR.jpg" width=1920 height=1080
                    tabindex="0" layout="responsive"
                    on="tap:SoftwareWDR.close"
                    role="button">
                  </div>
                </amp-lightbox>

            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
