<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Web_User_Interface/1080p_Series/Features/SD_Card/">
    </head>

    <body class="home">

      <% include ../../_partials/amp/_amp-header.ejs %>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero webUI">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>SD Karte</h1>
                                    <p class="intro">
                                      Wählen Sie ob Sie die SD Karte auswerfen oder Formatieren möchten und bestätigen Sie die Eingabe. Es ist immer empfohlen die SD Karte zuerst auszuwerfen, bevor Sie sie aus der Kamera entfernen. Gerade wenn die Kamera eine Aufnahme durchführt während die Stromversorgung gekappt wird, kann es zu Fehlern im Dateisystem kommen. Sollte die SD Karte beschädigt werden, wird das Betriebsysstem versuchen die SD Karte zu reparieren und es kann einige Minuten dauern, bis die SD Karte wieder verfügbar ist. Sollte die SD Karte auch nach einiger Zeit noch nicht erreichbar sein, können Sie probieren die Karte zu formatieren. Sollte die Karte ausgeworfen werden, wird das Betriebssystem versuchen Sie nach einiger Zeit wieder automatisch zu mounten.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

        <div class="wrap">
            <div class="container main">

                <% include ../../_partials/content/_bluenav-1080p-webUI.ejs %>

                <article>
                    <!-- article -->

                    <div class="margin">
                        <h2 class="post-title">Öffnen, Formartieren oder Auswerfen der SD Karte</h2>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img srcset="/images/1080p_webUI/1080p_Settings_Features_SD_Card.jpg 100w, /images/1080p_webUI/1080p_Settings_Features_SD_Card.png 1500w" width="1371" height="949" layout="responsive" class="shadow" on="tap:featuresSD" role="button" tabindex="0"></amp-img>
                      </div>
                    </div>
                    <!-- /margin -->
                    <amp-lightbox id="featuresSD" layout="nodisplay">
                      <div class="lightbox">
                        <amp-img src="/images/1080p_webUI/1080p_Settings_Features_SD_Card.jpg" width="800" height="550" on="tap:featuresSD.close" role="button" tabindex="1">
                      </div>
                    </amp-lightbox>

                    <div class="margin">
                        <h3>Menü SD-Karte</h3>
                        <p>Wählen Sie ob Sie die SD Karte auswerfen oder Formatieren möchten und bestätigen Sie die Eingabe. Es ist immer empfohlen die SD Karte zuerst auszuwerfen, bevor Sie sie aus der Kamera entfernen. Gerade wenn die Kamera eine Aufnahme durchführt während die Stromversorgung gekappt wird, kann es zu Fehlern im Dateisystem kommen. Sollte die SD Karte beschädigt werden, wird das Betriebsysstem versuchen die SD Karte zu reparieren und es kann einige Minuten dauern, bis die SD Karte wieder verfügbar ist. Sollte die SD Karte auch nach einiger Zeit noch nicht erreichbar sein, können Sie probieren die Karte zu formatieren. Sollte die Karte ausgeworfen werden, wird das Betriebssystem versuchen Sie nach einiger Zeit wieder automatisch zu mounten.<br/><br/>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <table>
                            <tr>
                                <td width="20%">
                                    <strong>SD Ordner öffnen</strong>
                                </td>
                                <td>Ein Klick auf den Ordner-Button wird Sie durch das SD-Karten Verzeichnis führen, wo all Ihre Snapshots und Videoaufnahmen abliegen. Nutzen Sie den Admin-Login der Kamera, um auf das Verzeichnis zuzugreifen. Es gibt auch bequemere Wege, um auf die Aufnahmen zuzugreifen. Zum Beispiel über <a href="/Motion_Detection/SD_Card_Access">Drittanbieter Software</a>, oder unsere mobile App InstarVision für <a href="/Software//iOS/InstarVision/iPhone/Recording">iPhone</a>, <a href="/Software//iOS/InstarVision/iPad/Recording">iPad</a>, <a href="/Software//Android/InstarVision/Recording">Android</a>.<a href="/Software//Windows/InstarVision/Windows_Phone/Recording">Windows Phone</a> und <a href="/Software//Windows/InstarVision/Metro/Recording">Windows Metro</a>.</td>                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>SD-Karte auswerfen</strong>
                                </td>
                                <td>Unmounten Sie die SD-Karte <strong>bevor</strong> Sie die Karte aus der Kamera ziehen. Das Betriebssystem der Kamera wird in regelmäßigen Zeitabständen versuchen, die Karte wieder bereitzustellen.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>SD-Karte formatieren</strong>
                                </td>
                                <td>Ihre Kamera wird den ältesten Ordner <strong>automatisch</strong> löschen, sobald die Speicherkapazität der Karte erreicht ist. So ist immer genug Platz für neue Aufnahmen verfügbar! Nutzen Sie den "Formatierungs"-Befehl, wenn Sie Ihre Aufnahmen auf der Kamera löschen möchten, oder wenn das Filesystem der Kamera korrupt ist. Dies kann nach einem Neustart vorkommen oder wenn Sie die SD-Karte der Kamera entfernen, während noch Dateien auf die Karte geschrieben werden.</td>
                            </tr>
                        </table>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->

              </div>
              <!-- /container main -->
          </div>
          <!-- /wrap-->

          <% include ../../_partials/content/_bluenav-1080p-webUI-mobile.ejs %>

        <footer>
            <% include ../../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
