<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-lightbox" src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js"></script>
    </head>

    <body class="home">

        <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
            <% include ../../_partials/amp/_ampLandingSidebar.ejs %>
        </amp-sidebar>

        <header class="header fixed">
            <% include ../../_partials/amp/_amp-header.ejs %>
        </header>

      <div class="wrap mobile-down">
          <div class="content">
              <section class="hero webUI">
                  <div class="container">
                      <div class="row">
                          <div class="six columns">
                              <div class="intro-container">
                                  <h1>Oberfläche Aktionen</h1>
                                  <p class="intro">
                                    Legen Sie fest, was Ihre Kamera im Alarmfall machen soll. Bestimmen Sie hier welche Aktionen die Kamera ausführen soll, wenn ein Alarmereignis ausgelöst wurde. Alarme können ausgelöst werden durch die <a href="/Web_User_Interface/720p_Series/Alarm/SMTP_Server/">SMTP Server settings</a> before activating the <a href="/Web_User_Interface/720p_Series/Alarm/Email/">email notification</a> and that you have a SD card in your cameras SDHC card slot (max. 32 GB) to use the <a href="/Web_User_Interface/720p_Series/Recording/">video recording</a> and <a href="/Web_User_Interface/720p_Series/Alarm/FTP/">send-to-FTP function</a> - a 4 GB SD card is included in the delivery.
                                  </p>
                              </div>
                          </div>
                      </div>
                  </div>
              </section>
              <!-- /Hero -->
          </div>
          <!-- /Content -->
      </div>
      <!-- /Wrap -->

          <div class="wrap">
              <div class="container main">

                  <% include ../../_partials/content/_bluenav-general.ejs %>

                      <article itemscope itemtype="http://schema.org/Article" class="blade wrapper content">
                  <!-- article -->

                  <div>
                    <h2 itemprop="name" class="post-title">Einstellen, was die Kamera im Alarmfall tun soll.</h2>
                  </div>
                  <!-- /margin -->

                  <div class="margin">
                      <h3>Was wollen Sie Ihre Kamera im Alarmfall machen lassen?</h3>
                      <p>Stellen Sie das Verhalten der Kamera im Fall eines Alarms der Bewegegunserkennung ein. Sie können Ihre Kamera Emails senden lassen oder Snapshots und Videos auf Ihre SD-Karte speichern lassen. Bitte stellen Sie sicher, dass Sie Ihre <a href="/Web_User_Interface/720p_Series/Alarm/SMTP_Server/">SMTP Server Einstellungen</a> eintragen, bevor Sie die <a href="/Web_User_Interface/720p_Series/Alarm/Email/">Email Benachrichtigung</a> aktivieren und stellen Sie sicher, dass Sie eine SD-Karte in Ihrem SDHC Kartenslot eingesteckt haben (max. 32 GB) um die <a href="/Web_User_Interface/720p_Series/Recording/">Videoaufnahme-Funktion</a> und die <a href="/Web_User_Interface/720p_Series/Alarm/FTP/">Send-To-FTP Aktion</a> nutzen zu können - eine 4 GB SD Karte ist im Lieferumfang erhalten.</p>
                  </div>
                  <!-- /margin -->

                  <div class="margin">
                      <h3>Softwarebasierte Bewegungserkennung</h3>
                      <p>Die softwarebasierte Bewegungserkennung, die von Ihrer Kamera für die aktivierten <a href="/Web_User_Interface/720p_Series/Alarm/Areas/">Alarm Bereiche</a> genutzt wird, benötigt keine zusätzliche Hardware und kann in kontrollierten Innenräumen sehr präzise arbeiten. Der Nachteil ist, dass die Kamera keine Unterschiede macht und zum Beispiel eine vorbeiziehende Wolke ebenso ein Alarm auslösen wird, wie ein Mensch. Alles kann einen Alarm auslösen.</p>
                  </div>
                  <!-- /margin -->

                  <div class="margin">
                    <div>
                        <amp-img srcset="/images/1080p_webUI/1080p_Settings_Alarm_Actions.jpg 100w, /images/1080p_webUI/1080p_Settings_Alarm_Actions.png 1500w" width="1371" height="949" layout="responsive" class="shadow" on="tap:alarmActions" role="button" tabindex="0"></amp-img>
                    </div>
                  </div>
                  <!-- /margin -->

                  <div class="margin">
                      <table>
                          <tr>
                              <td width="20%">
                                  <strong>Alarm-Email senden</strong>
                              </td>
                              <td>Alle Alarm-Aktionen können über die <a href="/Web_User_Interface/720p_Series/Alarm/Areas/">Bereiche der Bewegungserkennung</a>, den Alarmeigang, als auch den<a href="/Web_User_Interface/720p_Series/Alarm/Audio_Alarm/">Audio Alarm</a> ausgelöst werden. Hier können Sie die Alarmbenachrichtigung per Email aktivieren. Bitte beachten Sie, dass Sie zuerst den <a href="/Web_User_Interface/720p_Series/Alarm/SMTP_Server/">ausgehenden Email Server (SMTP)</a> und den <a href="/Web_User_Interface/720p_Series/Alarm/Email/">Email Empfänger</a> eingeben müssen.</td>
                          </tr>
                          <tr>
                              <td width="20%">
                                  <strong>Alarm Video auf SD-Karte senden</strong>
                              </td>
                              <td>Aktivieren, um im Alarmfall ein Video auf die interne <a href="/Web_User_Interface/720p_Series/Alarm/SD_Card/">SD Karte</a> zu senden. Eine Alarm-Video Datei startet immer mit einem <strong>A</strong> und danach mit einem Zeitstempel. Ihre Kamera nimmt immer 3 Sekunden vor dem Alarm und 15 Sekunden nach dem Alarm auf.</td>
                          </tr>
                          <tr>
                              <td width="20%">
                                  <strong>Alarm Video auf einen FTP-Server senden</strong>
                              </td>
                              <td>Aktivieren, um im Alarmfall ein Video auf Ihren FTP Server zu senden. Bitte beachten Sie, dass Sie zuerst Ihre <a href="/Web_User_Interface/720p_Series/Alarm/FTP/">FTP Server Informationen</a> eingeben müssen.</td>
                          </tr>
                          <tr>
                              <td width="20%">
                                  <strong>Alarm Snapshot auf SD-Karte senden</strong>
                              </td>
                              <td>Aktivieren, um im Alarmfall einen Snapshot auf die interne<a href="/Web_User_Interface/720p_Series/Alarm/SD_Card/">SD-Karte</a> zu senden.</td>
                          </tr>
                          <tr>
                              <td width="20%">
                                  <strong>Alarm Snapshot auf FTP Server senden</strong>
                              </td>
                              <td>Aktivieren, um im Alarmfall Snapshots auf Ihren FTP Server zu senden. Bitte beachten Sie, dass Sie zuerst Ihre FTP Server Informationen im <a href="/Web_User_Interface/720p_Series/Alarm/FTP/">FTP Menü</a> eingeben müssen.</td>
                          </tr>
                          <tr>
                              <td width="20%">
                                  <strong>Snapshot Auflösung</strong>
                              </td>
                              <td>Stellen Sie die Auflösung für die Snapshots ein, die im Alarmfall per FTP hochgeladen werden, per Email gesendet werden oder auf der SD-Karte gespeichert werden.</td>
                          </tr>
                          <tr>
                              <td width="20%">
                                  <strong>Fotos in Email</strong>
                              </td>
                              <td>Stellen Sie ein, wieviele Snapshots in einer Alarm Email angehägnt werden sollen. Bitte beachten Sie, dass die Email etwas verzögert eintrifft, wenn zu viele Bilder angehängt werden. Wenn Sie ohne eine Verzögerung benachrichtigt werden wollen, nutzen Sie bitte den <a href="/Web_User_Interface/720p_Series/Network/Push_Service/">Push Service</a>.</td>
                          </tr>
                          <tr>
                              <td width="20%">
                                  <strong>Fotos auf SD-Karte</strong>
                              </td>
                              <td>Stellen Sie ein, wieviele Snapshots Sie im Alarmfall auf Ihrer <a href="/Web_User_Interface/720p_Series/Alarm/SD_Card/">SD-Karte</a> speichern wollen.</td>
                          </tr>
                          <tr>
                              <td width="20%">
                                  <strong>Fotos per FTP Upload</strong>
                              </td>
                              <td>Stellen Sie ein, wieviele Snapshots Sie im Alarmfall von Ihrer Kamera auf Ihren <a href="/Web_User_Interface/720p_Series/Alarm/FTP/">FTP Server</a> senden wollen.</td>
                          </tr>
                          <tr>
                              <td width="20%">
                                  <strong>Play Alarm Signal</strong>
                              </td>
                              <td>Stellen Sie hier ein ob die Kamera bei einem Alarm einen Alarmton ausgeben soll. Bitte verwenden Sie diese Funktion nicht in Kombination mit dem Audio Alarm (unten) :).</td>
                          </tr>
                          <tr>
                              <td width="20%">
                                  <strong>Audio Alarm aktivieren</strong>
                              </td>
                              <td>Lassen Sie Ihre Kamera Geräusche hören. Dies ist die ideale Funktion, um Ihre Kamera als Babyphone zu nutzen.</td>
                          </tr>
                          <tr>
                              <td width="20%">
                                  <strong>Sensibilität</strong>
                              </td>
                              <td>Einstellen, wie sensibel die Audio Erkennung reagieren soll.</td>
                          </tr>
                          <tr>
                              <td width="20%">
                                  <strong>Alarm Ausgang aktivieren</strong>
                              </td>
                              <td>Aktivieren Sie den externen Alarm Ausgang Ihrer Kamera (nicht bei allen Kameramodellen verfügbar) und lassen Sie Ihre Kamera im Alarmfall das Relais schließen.</td>
                          </tr>
                          <tr>
                              <td width="20%">
                                  <strong>Schließzeit des Relais in Sekunden</strong>
                              </td>
                              <td>Einstellen, wielange das Relais am Alarmausgang im Alarmfall geschlossen bleiben soll.</td>
                          </tr>
                          <tr>
                              <td width="20%">
                                  <strong>Externen Alarm Eingang aktivieren.</strong>
                              </td>
                              <td>Aktivieren Sie den Alarm Eingang Ihrer Kamera (nicht bei allen Kameramodellen verfügbar). Informationen über das Verbinden mit einem externen Sensor können Sie <a href="/Products/IN-Motion/">hier</a> finden. Sie können jeden Sensor mit Ihrer Kamera verbinden, welcher mit einem potentialfreien Kontakt arbeitet.</td>
                          </tr>
                          <tr>
                              <td width="20%">
                                  <strong>Externer Sensor während Alarm / Alarm Gerät eingestellt auf</strong>
                              </td>
                              <td>Stellen Sie ein, ob Ihr externer Sensor im Alarmfall schließt oder öffnet (siehe auch: <a href="/Products/IN-Motion/500/">IN-Motion 500</a>). Bitte beachten Sie, dass Ihre Kamera sich in einem konstanten Alarmzustand befindet, wenn Sie den Alarmeingang auf N.C. stellen und dabei keinen externen Sensor angeschlossen haben.</td>
                          </tr>
                          <tr>
                              <td width="20%">
                                  <strong>Alarmeingang und Alarmbereiche koppeln</strong>
                              </td>
                              <td>Es wird empfohlen die <a href="/Web_User_Interface/720p_Series/Alarm/Areas/">interne Bewegungserkennung</a> mit dem externen Sensor zu koppeln. Bitte beachten Sie, dass Sie mindestens einen Alarmbereich aktiviert haben müssen, um die Kopplungsfunktion nutzen zu können.</td>
                          </tr>
                          <tr>
                              <td width="20%">
                                  <strong>Internen PIR Sensor aktivieren.</strong>
                              </td>
                              <td>Aktivieren Sie den internen passiven Infrarot Sensor (PIR Bewegegunserkennung) um einen Alarm auszulösen, wenn eine Person den Überwachungsbereich betritt. Sie können die <a href="/Web_User_Interface/720p_Series/Alarm/Areas/">Alarmbereiche</a> deaktivieren, wenn der PIR Sensor aktiv ist.</td>
                          </tr>
                          <tr>
                              <td width="20%">
                                <strong>PIR und Alarmbereiche koppeln</strong>
                              </td>
                              <td>Sie können auch die <a href="/Web_User_Interface/720p_Series/Alarm/Areas/">Alarmbereiche</a> mit dem internen PIR Sensor koppeln. Nutzen Sie diese Funktion um effizient gegen Falschalarme vorzugehen. Bitte denken Sie daran, dass Sie mindestens einen Alarmbereich aktiviert haben müssen, um diese Funktion nutzen zu können! Zusätzlich müssen Sie das <a href="/Software//iOS">Augen-Symbol</a> als auch das <a href="/Software//iOS">Einbrecher Symbol</a> in unserer Smartphone App um den Alarm zu deaktivieren.</td>
                          </tr>
                      </table>
                  </div>
                  <!-- /margin -->

                  <div class="margin">
                    <h3>Einen externen Sensor nutzen</h3>
                      <p>Sie können einen Bewegungsmelder wie den <a href="/Products/IN-Motion">IN-Motion 500</a> <!-- Muss nochmal nachgeschaut werden, keine Ahnung wie man das übersetzen soll --> nutzen, um die Erkennung Ihrer Kamera zu verbessern (Nur Kameras mit einem Alarm-In Anschluss), wenn Ihre Kamera keinen eingebauten PIR Bewegungssensor verbaut hat. Verbinden Sie einfach den Sensor mit dem Alarm Eingang und aktivieren Sie den externen Eingang. Die Kamera wird einen Alarm auslösen, wenn die Pins 3&amp;4 überbrückt sind und das Relais auf Alarm geschlossen ist. Wenn es auf geöffnet bei Alarm gesetzt ist, n alarm, the alarm will be triggered once the circuit is broken by the relay inside the detector (n.c. “Normally Closed”) or if the wire is disconnected. The state you have to choose depends on your sensor - the wrong choice will give a continuous alert once the detector is connected.</p>
                  </div>
                  <!-- /margin -->

                  <div class="dangercard">
                      <p><strong><u>Remark:</u></strong><br/><br/>When you are using an external sensor (or the internal PIR sensor in case of the IN-8015 HD), then you have to either deactivate the internal motion detection (Alarm Areas) or have to couple it with the Alarm Input! The alarm cannot be triggered otherwise.<br/><br/>Once you linked both detection methods, you always have to deactivate <u>both</u> to deactivate the motion detection!</p>
                  </div>
                  <!-- /margin -->

                  <div class="margin">
                      <h3>Den Internen Sensor der Kamera nutzen (<strong>z.B. IN-8015 HD</strong>)</h3>
                      <p>Das Aktivieren des internen oder externen PIR Sensors begrenzt die Bewegungserkennung auf Objekte deren Temperatur sich vom Hintergrund unterscheidet. In den meisten Fällen wird das ein Mensch oder ein Tier vor der Kamera sein, sowie der warme Motor des Autos. Änderungen der Lichtverhältnisse oder Nebel vor der Kamera werden vom PIR Sensor nicht erfasst.<br/><br/>Durch das Koppeln des PIR Sensors mit den Alarmbereichen, erhalten Sie nur einen Alarm wenn beide Methoden zur selben Zeit auslösen. Dies wird die Anzahl Ihrer Fehlalarme, falls Sie welche haben, stark reduzieren. Bitte beachten Sie auch, dass es auch dazu führen kann, dass positive Alarme nicht erfasst werden.</p>
                  </div>
                  <!-- /margin -->

                  <div class="margin">
                      <h3>Schalten Sie externe Geräte im Falle eines Alarms (oder manuell)</h3>
                      <p>Der externe Ausgang ist an ein Relais angeschlossen, welches manuell oder automatisch geschaltet werden kann. Bitte aktivieren Sie den externen Ausgang, um die Kamera den Stromkreis zu einem externen Gerät (angeschlossen an Pin 1 und 2) schließen zu lassen. Der externe Ausgang kann dazu genutzt werden, Sirenen oder LED-Leuchten einzuschalten. Er kann außerdem genutzt werden, um verbundene Geräte manuell anzusteuern, z.B. über unsere Smartphone App. Das Relais kann an Stromkreise mit bis zu 60 V Gleichspannung / 125 V Wechselspannung und max. 1 A. angeschlossen werden.</p>
                  </div>
                  <!-- /margin -->

                  <div class="clearfix mb mt"></div>

              </article>
              <!-- /article -->

              <amp-lightbox id="alarmActions" layout="nodisplay">
                <div class="lightbox">
                  <amp-img src="/images/1080p_webUI/1080p_Settings_Alarm_Actions.jpg" width="800" height="550" on="tap:alarmActions.close" role="button" tabindex="1">
                </div>
              </amp-lightbox>

            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
