<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Web_User_Interface/1080p_Series/Alarm">
    </head>

    <body class="home">

      <% include ../../_partials/amp/_amp-header.ejs %>

        <div class="wrap">
            <div class="container main">

                <% include ../../_partials/content/_bluenav-1080p-webUI.ejs %>

            <section class="blade get-started">
                <div class="container">
                    <div class="row">
                        <div class="twelve columns">
                            <h1>Alarm Menü</h1>
                        </div>
                    </div>

                    <!-- ################################ Areas #################################### -->



                    <div class="card-container margin">
                        <div class="twocard">
                            <div class="image">
                                <a href="/Web_User_Interface/1080p_Series/Alarm/Areas/">
                                  <amp-img noloading height=400 width=400 layout=responsive src="/images/1080p_webUI/QL-Box_WebUI_1080p_Alarm_Areas.png"></amp-img>
                                </a>
                            </div>
                            <div class="content">
                                <hr>
                                <p>Die Alarmbereiche bestimmen die Bildbereiche, die für die interne, softwarebasierte Bewegungserkennung der Kamera herangezogen wird. Sie können bis zu vier Alarmbereiche einzeichnen - aktivieren Sie einfach einen der 4 Bereiche und zeichnen sie diesen in den gewünschten Bildausschnitt ein, indem Sie die linke Maustaste gedrückt halten und die Maus bewegen. Der Schwellenwert für ein Alarmereignis kann über die Empfindlichkeit festgelegt werden - von sehr unempfindlich (Wert = 0) bis sehr empfindlich (Wert = 100). Die Empfindlichkeit wird darüber hinaus von der Größe des Bereiches bestimmt. Je kleiner der Bereich, desto mehr Fläche nimmt eine Änderung im Bild prozentual ein. Wenn Sie eine hohe Empfindlichkeit brauchen, setzten Sie viele kleine Alarmbereiche. Wenn Sie zu viele Fehlalarme erhalten, ist es besser einen großen Bereich aufzuziehen.</p>
                            </div>
                            <div class="action">
                                <a href="/Web_User_Interface/1080p_Series/Alarm/Areas/">Menü Bereiche</a>
                            </div>
                        </div>
                        <!-- /Card -->

                        <!-- ################################# Privacy ################################# -->

                        <div class="twocard">
                              <div class="image">
                                  <a href="/Web_User_Interface/1080p_Series/Alarm/Actions/">
                                    <amp-img noloading height=400 width=400 layout=responsive src="/images/1080p_webUI/QL-Box_WebUI_1080p_Alarm_Actions.png"></amp-img>
                                  </a>
                                </div>
                              <div class="content">
                                  <hr>
                                  <p>Bestimmen Sie hier welche Aktionen die Kamera ausführen soll, wenn ein Alarmereignis ausgelöst wurde. Alarme können ausgelöst werden durch die interne Bewegungserkennung der Kamera, durch den Audio Alarm oder durch einen externen Sensor. Sie können Ihre Kamera anweisen Ihnen eine Email (mit Schnappschüssen) zu senden oder Bilder auf der internen SD Karte abzulegen, bzw. auf den FTP Server hochzuladen. Stellen Sie bitte sicher, dass Sie einen SMTP Server hinterlegt haben, bevor Sie den Email Versand aktivieren. Auch für den FTP Versand muss zuerst ein FTP Server hinterlegt sein. Sollte die Option zum Speichern auf der internen SD Karte nicht auswählbar sein, müsste die interne SD Karte überprüft werden.</p>
                              </div>
                              <div class="action">
                                  <a href="/Web_User_Interface/1080p_Series/Alarm/Actions/">Menü Aktionen</a>
                              </div>
                          </div>
                          <!-- /Card -->
                      </div>
                      <!-- Card Container -->

                      <!-- ########################### Actions ################################ -->

                      <div class="card-container margin">
                          <div class="twocard">
                              <div class="image">
                                <a href="/Web_User_Interface/1080p_Series/Alarm/Schedule/">
                                  <amp-img noloading height=400 width=400 layout=responsive src="/images/1080p_webUI/QL-Box_WebUI_1080p_Alarm_Schedule.png"></amp-img>
                                </a>
                              </div>
                              <div class="content">
                                  <hr>
                                  <p>Hier können Sie die Zeitfenster festlegen in dem die Bewegungserkennung der Kamera für aktivierte Alarmbereiche aktiv sein soll. Beachten Sie bitte, dass dieser Zeitplan auch für die Alarmauslösung durch den Audio Alarm oder durch einen externen Sensor regelt. Jedes blaue Quadrat entspricht dabei 30 Minuten, in denen der Alarm scharfgestellt ist. Stellen Sie bitte sicher, dass in der Kamera die richtige Zeitzone und der Wert für die Sommerzeit gesetzt wurde bevor Sie den Zeitplan aktivieren.</p>
                              </div>
                              <div class="action">
                                  <a href="/Web_User_Interface/1080p_Series/Alarm/Schedule/">Menü Zeitplan</a>
                              </div>
                            </div>
                            <!-- /Card -->

                        <!-- ############################### Email ############################### -->

                        <div class="twocard">
                            <div class="image">
                              <a href="/Web_User_Interface/1080p_Series/Alarm/Push_Service/">
                                <amp-img noloading height=400 width=400 layout=responsive src="/images/1080p_webUI/QL-Box_WebUI_1080p_Alarm_Push_Service.png"></amp-img>
                              </a>
                            </div>
                            <div class="content">
                                <hr>
                                <p>Ihre Kamera kann Sie per Email informieren, jedes Mal wenn die Bewegungserkennung ausgelöst hat. Eine Push-Benachrichtigung erfüllt den selben Zweck, ist aber viel schneller! Aktivieren Sie die Push-Benachrichtigung, wenn Sie direkt über einen Alarm informiert werden möchten. Die Push-Benachrichtigung funktioniert nur mit der InstarVision App für <a href="/Software/iOS">iOS</a> oder <a href="/Software/Android">Android</a> Geräte.</p>
                            </div>
                            <div class="action">
                                <a href="/Web_User_Interface/1080p_Series/Alarm/Push_Service/">Menü Push Dienst</a>
                            </div>
                        </div>
                        <!-- /Card -->
                    </div>
                    <!-- /Card Container -->

                    <!-- ############################### FTP ################################# -->

                    <div class="card-container margin">
                      <div class="twocard">
                          <div>
                            <a href="/Web_User_Interface/1080p_Series/Alarm/Alarm_Server/">
                              <amp-img noloading height=400 width=400 layout=responsive src="/images/1080p_webUI/QL-Box_WebUI_1080p_Alarm_Server.png"></amp-img>
                            </a>
                          </div>
                          <div class="content">
                              <hr>
                              <p>Alarm Server</p>
                          </div>
                          <div class="action">
                              <a href="/Web_User_Interface/1080p_Series/Alarm/Alarm_Server/">Alarm Server</a>
                          </div>
                      </div>
                      <!-- /Card -->

                      <div class="twocard invisible"></div>
                      <!-- /Card -->

                </div>
                <!-- /Card Container -->
                </div>
                <!-- /Container -->
            </section>
            <!-- /Blade -->

        </div>
        <!-- /container main -->
    </div>
    <!-- /wrap-->

    <% include ../../_partials/content/_bluenav-1080p-webUI-mobile.ejs %>

        <footer>
            <% include ../../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
