<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-lightbox" src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js"></script>
    </head>

    <body class="home">

        <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
            <% include ../../_partials/amp/_ampLandingSidebar.ejs %>
        </amp-sidebar>

        <header class="header fixed">
            <% include ../../_partials/amp/_amp-header.ejs %>
        </header>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero webUI">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>Oberfläche PTZ Tour</h1>
                                    <p class="intro">
                                      INSTAR
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

            <div class="wrap">
                <div class="container main">

                    <% include ../../_partials/content/_bluenav-general.ejs %>

                        <article itemscope itemtype="http://schema.org/Article" class="blade wrapper content">
                    <!-- article -->

                    <div>
                        <h2 itemprop="name" class="post-title">Ihre eigene Kamera-Tour planen</h2>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img srcset="/images/1080p_webUI/1080p_Settings_Features_PTZ_Tour.jpg 100w, /images/1080p_webUI/1080p_Settings_Features_PTZ_Tour.png 1500w" width="1371" height="949" layout="responsive" class="shadow" on="tap:featuresPTZ" role="button" tabindex="0"></amp-img>
                      </div>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <table>
                            <tr>
                                <td width="20%">
                                    <strong>Ihre Funktion aktivieren</strong>
                                </td>
                                <td>Programmieren Sie Ihre eigene Kameratour, wählen Sie dazu eine Position aus Ihren <a href="/Web_User_Interface/720p_Series/PTZ_Control/">gespeicherten Funktionen</a> und setzen Sie eine Zeit, wie lange die Kamera auf dieser Position bleiben soll (max. 43.200s = 12h).</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Anzahl der Wiederholungen</strong>
                                </td>
                                <td>Sie können die Tour bis zu 50 mal wiederholen lassen.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Ihre Tour starten</strong>
                                </td>
                                <td>Klicken Sie auf Bestätigen, um die erste Tour zu starten.</td>
                            </tr>
                        </table>
                    </div>
                    <!-- /margin -->
                </article>
                <!-- /article -->

                <amp-lightbox id="featuresPTZ" layout="nodisplay">
                  <div class="lightbox">
                    <amp-img src="/images/1080p_webUI/1080p_Settings_Features_PTZ_Tour.jpg" width="800" height="550" on="tap:featuresPTZ.close" role="button" tabindex="1">
                  </div>
                </amp-lightbox>

              </div>
              <!-- /container main -->
          </div>
          <!-- /wrap-->

          <% include ../../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
