<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Web_User_Interface/1080p_Series/Features/PTZ/">
    </head>

    <body class="home">

      <% include ../../_partials/amp/_amp-header.ejs %>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero webUI">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>Oberfläche PTZ</h1>
                                    <p class="intro">
                                       Lassen Sie Ihre Kamera nach dem Neustart auf eine gespeicherte Position fahren oder limitieren Sie die Dreh- und Schwenkbewegung.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

        <div class="wrap">
            <div class="container main">

                <% include ../../_partials/content/_bluenav-1080p-webUI.ejs %>

                <article>
                    <!-- article -->

                    <div class="margin">
                        <h2 class="post-title">Pan &amp; Tilt Function (only in Pan, Tilt &amp; Zoom Cameras)</h2>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img srcset="/images/1080p_webUI/1080p_Settings_Features_PTZ_Positions.jpg 100w, /images/1080p_webUI/1080p_Settings_Features_PTZ_Positions.png 1500w" width="1371" height="949" layout="responsive" class="shadow" on="tap:featuresPTZ" role="button" tabindex="0"></amp-img>
                      </div>
                    </div>
                    <!-- /margin -->
                    <amp-lightbox id="featuresPTZ" layout="nodisplay">
                      <div class="lightbox">
                        <amp-img src="/images/1080p_webUI/1080p_Settings_Features_PTZ_Positions.jpg" width="800" height="550" on="tap:featuresPTZ.close" role="button" tabindex="1">
                      </div>
                    </amp-lightbox>

                    <div class="margin">
                        <table>
                            <tr>
                                <td width="20%">
                                    <strong>Justagefahrt und Positionen</strong>
                                </td>
                                <td>Aktivieren/Deaktivieren Sie hier die Kalibrierungsfahrt, die die Kamera beim Neustart durchführt. Beachten Sie bitte, dass die speicherbaren Positionen der Kamera nur mit aktiver Kalibrierungsfahrt zur Verfügung stehen.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Position 1 nach Neustart</strong>
                                </td>
                                <td>Nach einem Neustart fährt die Kamera nach der Kalibrierung immer in eine Mittelposition. Hier haben Sie die Möglichkeit die Kamera stattdessen die gespeicherte Position 1 anfahren zu lassen. <strong>Nur verfügbar mit aktivierter Justagefahrt!</strong></td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Alarmposition aktivieren</strong>
                                </td>
                                <td>Möchten Sie, dass die Kamera bei einem Alarmereignis automatisch eine gespeicherte Position anfährt? Dann aktivieren Sie diese Funktion hier. Dies ist besonders interessant bei der Verwendung eines externen Bewegungsmelders oder des Audioalarms. Lasse Sie die Kamera eine Richtung überwachen und den anderen Sensor die andere. Nur verfügbar mit aktivierter Justagefahrt!</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Alamposition</strong>
                                </td>
                                <td>Legen Sie hier fest, welche Position die Kamera bei einem Alarm anfahren soll.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Automatisch auf Parkposition fahren</strong>
                                </td>
                                <td>Wollen Sie Ihre Kamera standardmäßig immer auf eine bestimmte Position fahren? Aktivieren Sie die Parkposition, um Ihre Kamera automatisch auf diese Position zurückzufahren, nachdem Sie bewegt wurde.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Parkposition auswählen</strong>
                                </td>
                                <td>Legen Sie hier die Parkposition fest (siehe oben).</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Nach x Sekunden bewegen</strong>
                                </td>
                                <td>Ihre Kamera wird für x Sekunden warten und dann zu Ihrer Parkposition zurückfahren.</td>
                            </tr>
                        </table>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Here you can disable the cameras calibration run during start-up (please note that this also deactivates your saved postions!), send it to saved position 1 after a reboot and set the speed and number of auto-scans for the pan &amp; tilt movement when you use the <a href="#">hscan or vscan</a>.<br/><br/>The Pan&amp;Tilt Limits will be displayed next to the <a href="#">PTZ control pad</a>. You can use them to limit the range of movement of your camera (see below).</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img srcset="/images/1080p_webUI/1080p_Settings_Features_PTZ_Advanced.jpg 100w, /images/1080p_webUI/1080p_Settings_Features_PTZ_Advanced.png 1500w" width="1371" height="949" layout="responsive" class="shadow" on="tap:featuresPTZ2" role="button" tabindex="0"></amp-img>
                      </div>
                    </div>
                    <!-- /margin -->
                    <amp-lightbox id="featuresPTZ2" layout="nodisplay">
                      <div class="lightbox">
                        <amp-img src="/images/1080p_webUI/1080p_Settings_Features_PTZ_Advanced.jpg" width="800" height="550" on="tap:featuresPTZ2.close" role="button" tabindex="1">
                      </div>
                    </amp-lightbox>

                    <div class="margin">
                        <table>
                            <tr>
                                <td width="20%">
                                    <strong>Show border menu</strong>
                                </td>
                                <td>The <a href="#">P&amp;T Limits</a> allow you to reduce the range that your camera can move vertically and horizontally. The limits menu will be displayed at the P&amp;T control pad once you activated the function here. <strong>Only available when the camera calibration is active</strong>!</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Avoid alarms while moving</strong>
                                </td>
                                <td>In most cases it is unwanted, that the pan&amp;tilt movement of your camera causes a <a href="/Web_User_Interface/720p_Series/Alarm/Areas/">motion detection</a>. But if you want to be notified whenever your camera is moved, just check this box.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Activate step-by-step movement</strong>
                                </td>
                                <td>With the default settings, your camera will move in one direction as long as you press the arrow button on the <a href="#">control pad</a>. When your connection to the camera is plaqued with high latencies, it might happen, that the stop command is lost and your camera moves all the way to the end of range. You can use the one-step motion to prevent this from happening. Your camera will only move one step with every click on the control pad - giving you the highest ammount of precision.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Horizontal speed</strong>
                                </td>
                                <td>Set the velocity of the horizontal motion of your camera.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Tilt speed</strong>
                                </td>
                                <td>Set the velocity of the vertikal motion of your camera.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Number of VSCAN rounds</strong>
                                </td>
                                <td>Set the ammount of vertical runs your camera should perform once you start the <a href="#">vscan function</a>.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Number of HSCAN rounds</strong>
                                </td>
                                <td>Set the ammount of horizontal runs your camera should perform once you start the <a href="#">hscan function</a>.</td>
                            </tr>
                        </table>
                    </div>
                    <!-- /margin -->

                  <div class="clearfix margin"></div>

                </article>
                <!-- /article -->

              </div>
              <!-- /container main -->
          </div>
          <!-- /wrap-->

          <% include ../../_partials/content/_bluenav-1080p-webUI-mobile.ejs %>

        <footer>
            <% include ../../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
