<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    </head>

    <body class="home">

        <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
            <% include ../../_partials/amp/_ampLandingSidebar.ejs %>
        </amp-sidebar>

        <header class="header fixed">
            <% include ../../_partials/amp/_amp-header.ejs %>
        </header>

            <div class="wrap">
                <div class="container main">

                    <% include ../../_partials/content/_bluenav-general.ejs %>

                        <article itemscope itemtype="http://schema.org/Article" class="blade wrapper content">

                <div class="container">
                    <div class="row">
                        <div class="twelve columns">
                            <h1 itemprop="name">Multimedia Menü</h1>
                        </div>
                    </div>

                    <!-- ############################# Audio #################################### -->

                    <div class="card-container margin">
                        <div class="twocard">
                            <div class="image">
                              <a href="/Web_User_Interface/1080p_Series/Multimedia/Audio/">
                                <amp-img noloading height=400 width=400 layout=responsive src="/images/1080p_webUI/QL-Box_WebUI_1080p_Multimedia_Audio.png"></amp-img>
                              </a>
                            </div>
                            <div class="action">
                                <p>Hier können Sie die Verstärkung des Audiosignals für den Audioeingang und Audioausgang festlegen. Dies betrifft entweder extern angeschlossene Mikrofone und Lautsprecher an der Kamera, oder, wenn Ihr Kameramodell über ein Mikrofon und Lautsprecher verfügt, die interne Hardware. Alternativ können Sie den Audiostream auch komplett deaktivieren. Der Alarmton ist eine Audiodatei, die abgespielt wird sobald eine Alarm ausgelöst wird. Dies ist nicht zu verwechseln mit dem Audio Alarm, der das Mikrofon der Kamera nutzt um einen Alarm auszulösen, sobald etwas lautes in der Nähe der Kamera geschieht. Beachten Sie bitte, dass die hier eingestellte Lautstärke für den Audioeingang (durch das Mikrofon an der Kamera) mit in die Empfindlichkeit des Audio Alarms einfließt - der Audioalarm ist umso empfindlicher, desto höher seine Empfindlichkeit im Audio Alarm Overlay eingestellt wird UND desto höher die Verstärkung des Audioeingangs hier gesetzt wird.</p>
                            </div>
                        </div>
                        <!-- /Card -->

                        <!-- ########################### Video ################################## -->

                        <div class="twocard">
                            <div>
                              <a href="/Web_User_Interface/1080p_Series/Multimedia/Video/">
                                <amp-img noloading height=400 width=400 layout=responsive src="/images/1080p_webUI/QL-Box_WebUI_1080p_Multimedia_Video.png"></amp-img>
                              </a>
                            </div>
                            <div class="action">
                                <p>Die Video Einstellungen erlauben Ihnen die Qualität der 3 h.264 Videostreams und des MJPG Streams der Kamera einzuregeln. Beachten Sie bitte, dass hohe Qualitätseinstellungen auch zu hohen Bandbreitenanforderungen führen und die Grafikkarte des Zugreifenden Rechners belasten. Die Einstellungen, die Sie hier wählen, sollten immer ein Kompromiss sein aus Bildqualität und der Anforderung, dass Sie zur jeder Zeit einen flüssigen Videostream erhalten möchten, wenn Sie auf die Kamera zugreifen. Sie haben hier noch die Möglichkeit das benutzte Video Plugin für die Videowiedergabe festzulegen und den MJPEG Stream zwischen einen vollwertigen MJPEG Stream und einem pseudo MJEPG Stream umzuschalten.</p>
                            </div>
                        </div>
                        <!-- /Card -->
                      </div>
                      <!-- Card Container -->

                      <!-- ########################### Image ################################## -->

                      <div class="card-container margin">
                          <div class="twocard">
                            <div>
                              <a href="/Web_User_Interface/1080p_Series/Multimedia/Image/">
                                  <amp-img noloading height=400 width=400 layout=responsive src="/images/1080p_webUI/QL-Box_WebUI_1080p_Multimedia_Image.png"></amp-img>
                              </a>
                            </div>
                            <div class="action">
                                <p>Hier können Sie die Bildparameter, wie Helligkeit, Sättigung, Kontrast, Belichtung (Shutter) und Schärfe, einstellen. Die Funktion zum Drehen&Spiegeln erlaubt es Ihnen ein aufrechtes Bild zu erhalten, wenn Sie die Kamera über Kopf montieren. Der Kameraname und Zeitstempel, der Ihnen im Livevideo angezeigt wird, kann hier ebenfalls angepasst werden. Beachten Sie bitte, das ein Ändern des Kameranamen einen Neustart der Kamera benötigt.</p>
                            </div>
                        </div>
                        <!-- /Card -->

                        <div class="twocard">
                            <div>
                              <a href="/Web_User_Interface/1080p_Series/Multimedia/Privacy_Mask/">
                                <amp-img noloading height=400 width=400 layout=responsive src="/images/1080p_webUI/QL-Box_WebUI_1080p_Multimedia_Privacy.png"></amp-img>
                              </a>
                            </div>
                            <div class="action">
                                <p>Die Privatsphäre Maske erlaubt es Ihnen Bereiche, die Sie nicht überwachen dürfen im Video auszuschwärzen. Wenn Sie z.B. Ihren Hauseingang überwachen und einen Teil der öffentlichen Straße im Bild haben, könnnen Sie diesen Bereich aus dem Videobild entfernen.</p>
                            </div>
                        </div>
                        <!-- /Card -->
                    </div>
                    <!-- /Card Container -->
                </div>
                <!-- /Container -->
            </section>
            <!-- /Blade -->
        </div>
        <!-- /container main -->
    </div>
    <!-- /wrap-->

    <% include ../../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
