<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-lightbox" src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js"></script>
    </head>

    <body class="home">

        <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
            <% include ../../_partials/amp/_ampLandingSidebar.ejs %>
        </amp-sidebar>

        <header class="header fixed">
            <% include ../../_partials/amp/_amp-header.ejs %>
        </header>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero webUI">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>Oberfläche System Log</h1>
                                    <p class="intro">
                                      Nutzen Sie das Log um Fehlerquellen auf die Schliche zu kommen. Sie erhalten keine Alarm Emails mehr, die SMTP Server Daten scheinen aber noch zu funktionieren? Schauen Sie im Log nach, ob überhaupt noch Alarme ausgelöst werden. Sie erhalten kontinuierlich Alarmbenachrichtigungen, obwohl Sie testweise schon einmal die Bewegungserkennung ganz deaktiviert haben? Überprüfen Sie im Log was den Alarm auslöst. Ist eventuell der Audio Alarm aktiv? Oder kommt der Trigger vom Alarmeingang der Kamera?.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

            <div class="wrap">
                <div class="container main">

                    <% include ../../_partials/content/_bluenav-general.ejs %>

                        <article itemscope itemtype="http://schema.org/Article" class="blade wrapper content">
                        <!-- article -->

                    <div>
                        <h2 itemprop="name" class="post-title">Halten Sie ein Auge auf die Einstellungen Ihrer Kamera</h2>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img srcset="/images/1080p_webUI/1080p_Settings_System_Log.jpg 100w, /images/1080p_webUI/1080p_Settings_System_Log.png 1500w" width="1371" height="949" layout="responsive" class="shadow" on="tap:sysLog" role="button" tabindex="0"></amp-img>
                      </div>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <table>
                            <tr>
                                <td width="20%">
                                    <strong>ipc_server start</strong>
                                </td>
                                <td>Zeitpunkt des letzten Neustarts Ihrer Kamera. Beachten Sie bitte, dass das Systemlog bei einem Neustart gelöscht wird.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>-- leere Zeile --</strong>
                                </td>
                                <td>Login auf den Videostream über das Flash Video Plugin.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>user(admin, user oder guest) login für live stream</strong>
                                </td>
                                <td>Login des Administrators, Benutzers oder Gastes auf den Live Video Stream (außer über das Flash Plugin s.o.).</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>motion detection(area= 1,2,3 oder 4) alarm</strong>
                                </td>
                                <td>Zeitpunkt einer Bewegungserkennung innerhalb des Alarmbereiches 1, 2, 3 oder 4.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>input alarm</strong>
                                </td>
                                <td>Eine Alarmauslösung durch den Alarmeingang Ihrer Kamera - durch einen externen Bewegungsmelder oder den interne PIR Melder (im Falle der IN-6014 HD).</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>audio alarm</strong>
                                </td>
                                <td>Eine Alarmauslösung durch den Audioalarm Ihrer Kamera.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>alarm event: alarm to email (snap)</strong>
                                </td>
                                <td>Es wurde eine Alarm Email gemäß Ihrer Einstellungen im Alarmaktionen Menü versandt.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>alarm event: alarm to ftp (snap oder video)</strong>
                                </td>
                                <td>Es wurde eine Bild oder Video Datei gemäß Ihrer Einstellungen im Alarmaktionen Menü auf Ihren FTP Server abgelegt.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>alarm event: alarm to SD (snap oder video)</strong>
                                </td>
                                <td>Es wurde eine Bild oder Video Datei gemäß Ihrer Einstellungen im Alarmaktionen Menü auf der SD KarteIhrer Kamera abgelegt.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Löschen</strong>
                                </td>
                                <td>Löschen Sie alle Logbuch Einträge. Beachten Sie bitte, dass die Einträge auch bei einem Neustart der Kamera gelöscht werden.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Aktualisieren</strong>
                                </td>
                                <td>Wenn Sie das Systemlogbuch öffnen, werden automatisch alle aktuellen Einträge ausgelesen. Drücken Sie auf Aktualisieren um sich neu hinzugekommene Einträge anzeigen zu lassen.</td>
                            </tr>
                        </table>
                    </div>
                    <!-- /margin -->
                </article>
                <!-- /article -->

                <amp-lightbox id="sysLog" layout="nodisplay">
                  <div class="lightbox">
                    <amp-img src="/images/1080p_webUI/1080p_Settings_System_Log.jpg" width="800" height="550" on="tap:sysLog.close" role="button" tabindex="1">
                  </div>
                </amp-lightbox>

              </div>
              <!-- /container main -->
          </div>
          <!-- /wrap-->

          <% include ../../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
