<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Web_User_Interface/1080p_Series/Alarm/Alarm_Server//">
    </head>

    <body class="home">

      <% include ../../_partials/amp/_amp-header.ejs %>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero webUI">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>Alarm Server</h1>
                                    <p class="intro">
                                      Sie können die Alarmserver-Funktion nutzen um einen HTTP-Request zu einem verbundenen Server zu senden. Der Server benötigt eine kompatible Software um diesen Request als Alarm zu interpretieren und weitere Aktionen folgen zu lassen. Diese Funktion wird oft von Smart-Home Alarmsystemen unterstützt. Sie können eigene Kommandos zum Request hinzufügen, um spezielle Aktionen in der Serversoftware auszulösen.                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

      <div class="wrap">
          <div class="container main">

              <% include ../../_partials/content/_bluenav-1080p-webUI.ejs %>

                <article>
                    <!-- article -->

                    <div class="margin">
                        <h2 class="post-title">Alarm Server und Heimautomationssystem</h2>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Lassen Sie die Kamera ein HTTP GET Kommando senden</h3>
                    </div>
                    <!-- /margin -->

                    <div class="margin">

                      <div>
                          <amp-img srcset="/images/1080p_webUI/1080p_Settings_Alarm_Alarmserver.jpg 100w, /images/1080p_webUI/1080p_Settings_Alarm_Alarmserver.png 1500w" width="1371" height="949" layout="responsive" class="shadow" on="tap:alarmServer" role="button" tabindex="0"></amp-img>
                      </div>

                      <amp-lightbox id="alarmServer" layout="nodisplay">
                        <div class="lightbox">
                          <amp-img src="/images/1080p_webUI/1080p_Settings_Alarm_Alarmserver.jpg" width="800" height="550" on="tap:alarmServer.close" role="button" tabindex="1">
                        </div>
                      </amp-lightbox>

                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <table>
                            <tr>
                                <td width="20%">
                                    <strong>Alarm Server kontaktieren</strong>
                                </td>
                                <td>Aktivieren Sie die Alarm Server Funktion</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Alarm Server Adresse</strong>
                                </td>
                                <td>Geben Sie die IP-Adresse Ihres Alarmservers ein - z.B. Ihr <a href="http://fhem.de/fhem.html" target="_blank">FHEM</a> Server.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Server Port</strong>
                                </td>
                                <td>Geben Sei den TCP Port ein, auf den Ihr Alarm Server hört.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Server Pfad</strong>
                                </td>
                                <td>Geben Sie die URL zum Server an.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Parameter</strong>
                                </td>
                                <td>Sie können optionale Parameter zur URL hinzufügen.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Alarm Trigger anhängen</strong>
                                </td>
                                <td>Der Alarm Trigger (z.B. "Bewegungserkennung Bereich 1 " oder "Audioerkennung") wird zum HTTP Request in Form eines Querys hinzugefügt.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Authentifizierung</strong>
                                </td>
                                <td>Fügen Sie Ihren Serverlogin zur URL hinzu</td>
                            </tr>
                        </table>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->

              </div>
              <!-- /container main -->
          </div>
          <!-- /wrap-->

          <% include ../../_partials/content/_bluenav-1080p-webUI-mobile.ejs %>

        <footer>
            <% include ../../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
