<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-lightbox" src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js"></script>
    </head>

    <body class="home">

        <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
            <% include ../../_partials/amp/_ampLandingSidebar.ejs %>
        </amp-sidebar>

        <header class="header fixed">
            <% include ../../_partials/amp/_amp-header.ejs %>
        </header>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero webUI">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>Oberfläche Bild</h1>
                                    <p class="intro">
                                      Hier können Sie die Bildparameter Helligkeit, Sättigkeit, Kontrast, Exposition und Schärfe einstellen. Sie können das Videobild drehen und spiegeln, einen Zeitstempel anzeigen oder der Kamera einen Namen geben und diesen ebenfalls anzeigen lassen. Die dargestellten Parameter sind im Bild eingebrannt. Sie müssen die Kamera neustarten, nachdem Sie den Namen geändert haben.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

            <div class="wrap">
                <div class="container main">

                    <% include ../../_partials/content/_bluenav-general.ejs %>

                        <article itemscope itemtype="http://schema.org/Article" class="blade wrapper content">
                          <% include ../../_partials/amp/_schemaArticle.ejs %>

                    <div>
                        <h2 itemprop="name" class="post-title">Bildeinstellungen</h2>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p>Hier können Sie die Bildparameter Helligkeit, Sättigkeit, Kontrast, Exposition und Schärfe einstellen. Sie können das Videobild drehen und spiegeln, einen Zeitstempel anzeigen oder der Kamera einen Namen geben und diesen ebenfalls anzeigen lassen. Die dargestellten Parameter sind im Bild eingebrannt. Sie müssen die Kamera neustarten, nachdem Sie den Namen geändert haben.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img srcset="/images/1080p_webUI/1080p_Settings_Multimedia_Image.jpg 100w, /images/1080p_webUI/1080p_Settings_Multimedia_Image.png 1500w" width="1371" height="949" layout="responsive" class="shadow" on="tap:multiImg" role="button" tabindex="0"></amp-img>
                      </div>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <a href="/Web_User_Interface/1080p_Series/Multimedia/Image/Wide_Dynamic_Range/"><button class="navGo">WDR Settings</button></a>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <table>
                            <tr>
                                <td width="20%">
                                    <strong>Default</strong>
                                </td>
                                <td>Dieser Button setzt die Bildeinstellungen auf ihre Standardwerte zurück.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Helligkeit</strong>
                                </td>
                                <td>Stellen Sie die Helligkeit des Videobilds ein.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Sättigkeit</strong>
                                </td>
                                <td>Stellen Sie die Sättigkeit des Videobilds ein.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Kontrast</strong>
                                </td>
                                <td>Stellen Sie den Kontrast des Videobilds ein.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Schärfe</strong>
                                </td>
                                <td>Stellen Sie die Schärfe des Videobilds ein.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Gamma</strong>
                                </td>
                                <td>Stellen Sie den Gamma-Wert des Bilds ein.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Exposure</strong>
                                </td>
                                <td>Stellen Sie hier den Belichtung (Shutter) für die Videoaufnahme ein.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Bild um 180° drehen</strong>
                                </td>
                                <td>Falls Sie Ihre Kamera Über-Kopf installiert haben, drehen und spiegeln Sie einfach das Bild, um es wieder richtig zu sehen.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Bild entzerren</strong>
                                </td>
                                <td>Gerade Weitwinkel-Objektive können Ihr Kamerabild verzerren. Nutzen Sie diesen Slider, um eine Korrektur vorzunehmen.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Auto WDR</strong>
                                </td>
                                <td>Ist Ihre Kamera starker Hintergrundbeleuchtung ausgesetzt? Der WDR Modus erlaubt es Ihnen, damit umzugehen.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Feste WDR Stärke</strong>
                                </td>
                                <td>Sie können die Menge des WDR Prozesses, der auf Ihr Videobild angewendet wird, frei einstellen (wenn Auto WDR deaktiviert ist).</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Auto. Entrauschen</strong>
                                </td>
                                <td>Entfernen Sie digitales Rauschen in ihrem Kamerabild.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Fester Entrauschwert</strong>
                                </td>
                                <td>Deaktivieren Sie das automatische Entrauschen oben, um einen manuellen Wert einzustellen.</td>
                            </tr>
                        </table>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->

                <amp-lightbox id="multiImg" layout="nodisplay">
                  <div class="lightbox">
                    <amp-img src="/images/1080p_webUI/1080p_Settings_Multimedia_Image.jpg" width="800" height="550" on="tap:multiImg.close" role="button" tabindex="1">
                  </div>
                </amp-lightbox>

            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
