<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Web_User_Interface/1080p_Series/System/Info/">
    </head>

    <body class="home">

      <% include ../../_partials/amp/_amp-header.ejs %>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero webUI">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>Oberfläche Info</h1>
                                    <p class="intro">
                                      Das Info Panel ist eine einfache Sammlung von Systemvariablen die von Interesse sein können, wenn Sie Ihr Kamerasystem auf Fehler überprüfen müssen. Der DDNS Zugriff funktioniert nicht mehr? Überprüfen Sie hier den DDNS status (muss erfolgreich sein) und den UPnP Status (muss deaktiviert sein, wenn Sie eine manuelle Portweiterleitung eingerichtet haben). Sie können auch die WAN IP aus diesem Menü (anstatt der DDNS Adresse) verwenden, um direkt auf Ihre Kamera zuzugreifen. Sollte der Zugriff über die WAN IP möglich sein, über die DDNS Adresse jedoch nicht, ist vermutlich die Portweiterleitung der Schuldige. Um weiteren Fehlerquellen auf die Schliche zu kommen, überprüfen Sie auch das Sytem Logbuch.Das Info Panel ist eine einfache Sammlung von Systemvariablen die von Interesse sein können, wenn Sie Ihr Kamerasystem auf Fehler überprüfen müssen. Der DDNS Zugriff funktioniert nicht mehr? Überprüfen Sie hier den DDNS status (muss erfolgreich sein) und den UPnP Status (muss deaktiviert sein, wenn Sie eine manuelle Portweiterleitung eingerichtet haben). Sie können auch die WAN IP aus diesem Menü (anstatt der DDNS Adresse) verwenden, um direkt auf Ihre Kamera zuzugreifen. Sollte der Zugriff über die WAN IP möglich sein, über die DDNS Adresse jedoch nicht, ist vermutlich die Portweiterleitung der Schuldige. Um weiteren Fehlerquellen auf die Schliche zu kommen, überprüfen Sie auch das Sytem Logbuch.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

        <div class="wrap">
            <div class="container main">

                <% include ../../_partials/content/_bluenav-1080p-webUI.ejs %>

                <article>
                    <!-- article -->

                    <div class="margin">
                        <h2 class="post-title">Halten Sie ein Auge auf die Einstellungen der Kamera</h2>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img srcset="/images/1080p_webUI/1080p_Settings_System_Info.jpg 100w, /images/1080p_webUI/1080p_Settings_System_Info.png 1500w" width="1371" height="949" layout="responsive" class="shadow" on="tap:sysInfo" role="button" tabindex="0"></amp-img>
                      </div>
                    </div>
                    <!-- /margin -->
                    <amp-lightbox id="sysInfo" layout="nodisplay">
                      <div class="lightbox">
                        <amp-img src="/images/1080p_webUI/1080p_Settings_System_Info.jpg" width="800" height="550" on="tap:sysInfo.close" role="button" tabindex="1">
                      </div>
                    </amp-lightbox>

                    <div class="margin">
                        <table>
                            <tr>
                                <td width="20%">
                                    <strong>Kamera ID</strong>
                                </td>
                                <td>Modellbezeichnung Ihrer Kamera.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Firmware Version</strong>
                                </td>
                                <td>Versionsnummer des Betriebssystems Ihrer Kamera. Sie finden die neueste Firmware/Weboberfläche für Ihre Kamera in unserem Download Bereich. Das Aufspielen der neuen Software können Sie über das Update Menü durchführen.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>WebUI Version</strong>
                                </td>
                                <td>Versionsnummer des Benutzeroberfläche Ihrer Kamera. Sie finden die neueste Firmware/Weboberfläche für Ihre Kamera in unserem Download Bereich. Das Aufspielen der neuen Software können Sie über das Update Menü durchführen.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Netzwerktyp</strong>
                                </td>
                                <td>Zeigt an ob sich Ihre Kamera im LAN oder WLAN Betrieb befindet.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>MAC Adresse</strong>
                                </td>
                                <td>Hardware Identifikation der jeweils aktiven (LAN oder WLAN) Netzwerkschnittstelle.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>SD Status</strong>
                                </td>
                                <td>Anzeige der Betriebsbereitschaft Ihrer SD Karte und des verbleibenden Speicherplatzes.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>IR LED Status</strong>
                                </td>
                                <td>Betriebsmodus der Nachtsicht LEDs - diese werden entweder automatisch geschaltet, oder sind permanent aus.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>WAN IP Adresse</strong>
                                </td>
                                <td><strong>W</strong>ide <strong>A</strong>rea <strong>N</strong>etwork Adresse Ihres Internetanschlusses. Dies ist die Adresse, die hinter Ihrer DDNS Adresse hinterlegt wird um die Kamera von extern zu erreichen.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>DDNS Status</strong>
                                </td>
                                <td>Überprüft ob die WAN IP Adresse Ihres Internetanschlusses hinter Ihrer DDNS Adresse hinterlegt wurde. Dies wird für den Zugriff über das Internet auf die Kamera benötigt.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>UPnP Status</strong>
                                </td>
                                <td>Der UPnP Dienst würde automatisch eine Portweiterleitung für den DDNS Zugriff auf Ihre Kamera anlegen. Wir empfehlen jedoch dies manuell zu machen und UPnP zu deaktivieren.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Kamera aktiv seit</strong>
                                </td>
                                <td>Laufzeit Ihrer Kamera seit dem letzten System Start.</td>
                            </tr>
                        </table>
                    </div>
                    <!-- /margin -->
                </article>
                <!-- /article -->

              </div>
              <!-- /container main -->
          </div>
          <!-- /wrap-->

          <% include ../../_partials/content/_bluenav-1080p-webUI-mobile.ejs %>

        <footer>
            <% include ../../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
