<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Web_User_Interface/1080p_Series/Recording/">
    </head>

    <body class="home">

      <% include ../../_partials/amp/_amp-header.ejs %>

        <div class="wrap">
            <div class="container main">

                <% include ../../_partials/content/_bluenav-1080p-webUI.ejs %>

            <section class="blade get-started">
                <div class="container">
                    <div class="row">
                        <div class="twelve columns">
                          <h1>Menü Aufnahme</h1>
                        </div>
                    </div>

                    <!-- ##################################### Photoseries ##################################### -->

                    <div class="card-container margin">
                      <div class="twocard">
                          <div class="image">
                              <a href="/Web_User_Interface/1080p_Series/Recording/Video/">
                                <amp-img noloading height=400 width=400 layout=responsive
                                  src="/images/1080p_webUI/QL-Box_WebUI_1080p_Recording_Video.png"></amp-img>
                              </a>
                          </div>
                          <div class="content">
                              <hr>
                              <p>Aktivieren Sie hier die geplante Videoaufnahme. Der oben definierte Zeitplan bestimmt dabei zu welchen Zeiten die Kamera Aufnahmen durchführt. Legen Sie hier die Auflösung, Länge pro Datei und die maximale Länge einer manuellen Aufnahme fest.</p>
                          </div>
                          <div class="action">
                              <a href="/Web_User_Interface/1080p_Series/Recording/Video/">Menü Video</a>
                          </div>
                      </div>
                      <!-- /Card -->

                        <!-- ##################################### Video #################################### -->

                        <div class="twocard">
                            <div class="image">
                                <a href="/Web_User_Interface/1080p_Series/Recording/Photoseries/">
                                  <amp-img noloading height=400 width=400 layout=responsive src="/images/1080p_webUI/QL-Box_WebUI_1080p_Recording_Photoseries.png"></amp-img>
                                </a>
                            </div>
                            <div class="content">
                                <hr>
                                <p>Nehmen Sie Schnappschüsse im Zeitintervall auf und setzen Sie die Bilder über einen Drittanbietersoftware zu einem Zeitraffervideo zusammen. Alternativ kann die Funktion auch Einzelbilder mit einem festgelegten Bildnamen auf einen FTP Server hochladen. Dies bietet Ihnen eine einfache Möglichkeit ein quasi-Livebild der Kamera auf Ihrer Webseite einzubinden.</p>
                            </div>
                            <div class="action">
                                <a href="/Web_User_Interface/1080p_Series/Recording/Photoseries/">Menü Fotoserie</a>
                            </div>
                        </div>
                        <!-- /Card -->
                      </div>
                      <!-- Card Container -->
                </div>
                <!-- /Container -->
            </section>
            <!-- /Blade -->

          </div>
          <!-- /container main -->
      </div>
      <!-- /wrap-->

      <% include ../../_partials/content/_bluenav-1080p-webUI-mobile.ejs %>

        <footer>
            <% include ../../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
