<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Web_User_Interface/1080p_Series/Features/PTZ_Tour/">
    </head>

    <body class="home">

      <% include ../../_partials/amp/_amp-header.ejs %>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero webUI">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>Oberfläche PTZ Tour</h1>
                                    <p class="intro">
                                      INSTAR
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

        <div class="wrap">
            <div class="container main">

                <% include ../../_partials/content/_bluenav-1080p-webUI.ejs %>

                <article>
                    <!-- article -->

                    <div class="margin">
                        <h2 class="post-title">Ihre eigene Kamera-Tour planen</h2>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img srcset=" http://placehold.it/1371x940 100w, http://placehold.it/1371x940 1500w" width="1371" height="949" layout="responsive" class="shadow" on="tap:featuresTour" role="button" tabindex="0"></amp-img>
                      </div>
                    </div>
                    <!-- /margin -->
                    <amp-lightbox id="featuresTour" layout="nodisplay">
                      <div class="lightbox">
                        <amp-img src="http://placehold.it/1371x940" width="800" height="550" on="tap:featuresTour.close" role="button" tabindex="1">
                      </div>
                    </amp-lightbox>

                    <div class="margin">
                        <table>
                            <tr>
                                <td width="20%">
                                    <strong>Ihre Funktion aktivieren</strong>
                                </td>
                                <td>Programmieren Sie Ihre eigene Kameratour, wählen Sie dazu eine Position aus Ihren <a href="/Web_User_Interface/720p_Series/PTZ_Control/">gespeicherten Funktionen</a> und setzen Sie eine Zeit, wie lange die Kamera auf dieser Position bleiben soll (max. 43.200s = 12h).</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Anzahl der Wiederholungen</strong>
                                </td>
                                <td>Sie können die Tour bis zu 50 mal wiederholen lassen.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Ihre Tour starten</strong>
                                </td>
                                <td>Klicken Sie auf Bestätigen, um die erste Tour zu starten.</td>
                            </tr>
                        </table>
                    </div>
                    <!-- /margin -->
                </article>
                <!-- /article -->

              </div>
              <!-- /container main -->
          </div>
          <!-- /wrap-->

          <% include ../../_partials/content/_bluenav-1080p-webUI-mobile.ejs %>

        <footer>
            <% include ../../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
