<section <%= qiacc %>>
    <header class="accordion-header">
        <h4 class="accordion-title">Schnell Installation</h4>
    </header>
    <div class="accordion-content">
      <ul>
          <li>
              <a href="/Quick_Installation/How_Does_An_IP_Camera_Work/">Wie funktioniert eine IP Kamera?</a>
          </li>
          <li>
              <a href="/Quick_Installation/After_Unpacking/">Nach dem Auspacken</a>
          </li>
          <li>
              <a href="/Quick_Installation/First_Steps/">Erste Schritte</a>
          </li>
          <li>
              <a href="/Quick_Installation/Power_over_Ethernet/">Power over Ethernet</a>
          </li>
          <li>
              <a href="/Quick_Installation/Direct_LAN_Connection/">Direkte LAN Verbindung</a>
          </li>
          <li>
              <a href="/Quick_Installation/Alternative_IP_Scanner/">Auffinden Ihrer IP Kamera</a>
          </li>
          <ul>
              <li>
                  <a href="/Quick_Installation/Alternative_IP_Scanner/">INSTAR Kamera Tool</a>
              </li>
              <li>
                  <a href="/Quick_Installation/Alternative_IP_Scanner/Angry_IP_Scanner/">Angry IP Scanner</a>
              </li>
              <li>
                  <a href="/Quick_Installation/Alternative_IP_Scanner/Fing_CLI/">Fing CLI</a>
              </li>
              <li>
                  <a href="/Quick_Installation/Alternative_IP_Scanner/Fing_Mobile/">Fing Mobile</a>
              </li>
          </ul>
          <li>
              <a href="/Quick_Installation/Language_Selection/">Sprachauswahl</a>
          </li>
          <li>
              <a href="/Quick_Installation/Live_Video/">Live Video (Flash)</a>
          </li>
          <ul>
              <li>
                  <a href="/Quick_Installation/Live_Video/ActiveX/">ActiveX</a>
              </li>
              <li>
                  <a href="/Quick_Installation/Live_Video/QuickTime/">QuickTime</a>
              </li>
              <li>
                  <a href="/Quick_Installation/Live_Video/MJPEG/">MJPEG</a>
              </li>
          </ul>
          <ul>
              <li>
                  <a href="/Quick_Installation/Live_Video/Troubleshooting/Avast/">Avast Internet Security</a>
              </li>
              <li>
                  <a href="/Quick_Installation/Live_Video/Troubleshooting/Kaspersky_2013/">Kaspersky 2013</a>
              </li>
              <li>
                  <a href="/Quick_Installation/Live_Video/Troubleshooting/Kaspersky_2014">Kaspersky 2014</a>
              </li>
              <li>
                  <a href="/Quick_Installation/Live_Video/Troubleshooting/Kaspersky_2017">Kaspersky 2017</a>
              </li>
              <li>
                  <a href="/Quick_Installation/Live_Video/Troubleshooting/AVG/">AVG Internet Security</a>
              </li>
              <li>
                  <a href="/Quick_Installation/Live_Video/Troubleshooting/AVIRA/">AVIRA Antivirus</a>
              </li>
              <li>
                  <a href="/Quick_Installation/Live_Video/Troubleshooting/F-Secure/">F-Secure Security</a>
              </li>
              <li>
                  <a href="/Quick_Installation/Live_Video/Troubleshooting/GDATA/">GDATA Security</a>
              </li>
          </ul>
          <li>
              <a href="/Quick_Installation/Creating_User_Accounts/">Benutzer Verwaltung</a>
          </li>
          <li>
              <a href="/Quick_Installation/WebUI_And_Firmware_Upgrade/">WebUI und Firmware Update</a>
          </li>
          <ul>
              <li>
                  <a href="/Quick_Installation/WebUI_And_Firmware_Upgrade/">1080p Kamera</a>
              </li>
              <li>
                  <a href="/Quick_Installation/WebUI_And_Firmware_Upgrade/720p_Cameras/">720p Kamera</a>
              </li>
              <li>
                  <a href="/Quick_Installation/WebUI_And_Firmware_Upgrade/VGA_Cameras/">VGA Kamera</a>
              </li>
          </ul>
          <li>
              <a href="/Quick_Installation/How_To_Clear_Your_Browsing_History/">Löschen des Browservelraufs</a>
          </li>
          <ul>
              <li>
                  <a href="/Quick_Installation/How_To_Clear_Your_Browsing_History/Internet_Explorer/">Internet Explorer</a>
              </li>
              <li>
                  <a href="/Quick_Installation/How_To_Clear_Your_Browsing_History/Mozilla_Firefox/">Mozilla Firefox</a>
              </li>
              <li>
                  <a href="/Quick_Installation/How_To_Clear_Your_Browsing_History/Google_Chromium/">Google Chrome</a>
              </li>
              <li>
                  <a href="/Quick_Installation/How_To_Clear_Your_Browsing_History/Opera/">Opera</a>
              </li>
              <li>
                  <a href="/Quick_Installation/How_To_Clear_Your_Browsing_History/Microsoft_Edge/">Microsoft Edge</a>
              </li>
              <li>
                  <a href="/Quick_Installation/How_To_Clear_Your_Browsing_History/Vivaldi/">Vivaldi</a>
              </li>
          </ul>
          <li>
              <a href="/Quick_Installation/Set_Up_A_Wireless_Connection/">WLAN Verbindung</a>
          </li>
          <li>
              <a href="/Quick_Installation/ONVIF/">ONVIF</a>
          </li>
      </ul>
    </div>
</section>
