<section class="blade blog mobile-down">

    <div class="container wider">
        <div class="row">
            <div class="twelve columns">
                <h1>Verwandte Themen:</h1>
            </div>
        </div>

        <div class="tab-container">

            <a class="tab" href="/Motion_Detection/Setup/">
                <h3>Einrichten der Bewegungserkennung</h3>
                <div class="subtitle">Bewegungserkennung</div>
            </a>

            <a class="tab" href="/Motion_Detection/Alarm_Notification/">
                <h3>Alarm Benachrichtigung</h3>
                <div class="subtitle">Bewegungserkennung</div>
            </a>

            <a class="tab" href="/Motion_Detection/Alarm_Recording/">
                <h3>Alarm Aufnahme</h3>
                <div class="subtitle">Bewegungserkennung</div>
            </a>

            <a class="tab" href="/Motion_Detection/SD_Card_Access/">
                <h3>Zugriff auf Ihre SD-Karte</h3>
                <div class="subtitle">Bewegungserkennung</div>
            </a>

            <a class="tab" href="/Motion_Detection/Alarm_FTP_Upload/">
                <h3>FTP Alarm Upload</h3>
                <div class="subtitle">Bewegungserkennung</div>
            </a>

            <a class="tab" href="/Motion_Detection/Router_as_a_FTP_Server/">
                <h3>Ihren Router als FTP Server nutzen</h3>
                <div class="subtitle">Bewegungserkennung</div>
            </a>

            <a class="tab" href="/Motion_Detection/Cloud/">
                <h3>Die INSTAR Cloud Plattform</h3>
                <div class="subtitle">Bewegungserkennung</div>
            </a>
        </div>

        <a href="/" target="_blank">Mehr lesen</a>

    </div>
</section>
