<section class="blade blog mobile-down">

    <div class="container wider">
        <div class="row">
            <div class="twelve columns">
                <h1>Verwandte Themen:</h1>
            </div>
        </div>

        <div class="tab-container">

            <a class="tab" href="/Indoor_Cameras/">
                <h3>INSTAR IP Innenkameras</h3>
                <div class="subtitle">Produkte</div>
            </a>

            <a class="tab" href="/Outdoor_Cameras/">
                <h3>INSTAR IP Außenkameras</h3>
                <div class="subtitle">Produkte</div>
            </a>

            <a class="tab" href="/Software/">
                <h3>Software für Ihre IP Kameras</h3>
                <div class="subtitle">Produkte</div>
            </a>

            <a class="tab" href="http://www.instar.de/downloads/">
                <h3>Downloads für Ihre INSTAR Produkte</h3>
                <div class="subtitle">Produkte</div>
            </a>

            <a class="tab" href="/Products/Usermanuals/">
                <h3>INSTAR Handbücher</h3>
                <div class="subtitle">Produkte</div>
            </a>

            <a class="tab" href="/Web_User_Interface/1080p_Series/Overview/">
                <h3>Die Weboberfläche</h3>
                <div class="subtitle">Produkte</div>
            </a>
        </div>

        <a href="/" target="_blank">Mehr lesen</a>

    </div>
</section>
