<nav class="desktop-up">
    <ul class="margin">
        <li>
            <h2>Einführung</h2>
        </li>
        <hr>
        <li>
            <a href="/Indoor_Cameras/IN-8015_HD/">Produkt Übersicht</a>
        </li>
        <li>
            <a href="/Indoor_Cameras/IN-8015_HD/Safety_Warnings">Sicherheitswarnung</a>
        </li>
        <li>
            <a href="/Indoor_Cameras/IN-8015_HD/Product_Features">Produkt Features</a>
        </li>
        <li>
            <a href="/Indoor_Cameras/IN-8015_HD/Quick_Installation">Schnell Installation</a>
        </li>
        <li>
            <a href="/Web_User_Interface/1080p_Series">Weboberfläche</a>
        </li>
        <li>
            <a href="/Quick_Installation/WebUI_And_Firmware_Upgrade">Software Update</a>
        </li>
        <li>
            <a href="/Downloads/Indoor_Cameras/IN-8015_HD" target="_blank">Downloads</a>
        </li>
        <li>
            <a href="/Indoor_Cameras/IN-8015_HD/Video_Streaming">Video Streaming</a>
        </li>
        <li>
            <a href="/Indoor_Cameras/IN-8015_HD/Camera_Reset">Kamera Werksreset</a>
        </li>
        <li>
            <a href="/Indoor_Cameras/IN-8015_HD/Lense_Adjustment">Objektivjustage</a>
        </li>
        <li>
            <a href="/Indoor_Cameras/IN-8015_HD/Technical_Specifications">Technische Spezifikationen</a>
        </li>
        <li>
            <a href="/Indoor_Cameras/IN-8015_HD/Warranty">Garantie &amp; Entsorgung</a>
        </li>
    </ul>
    <ul class="margin">
        <li>
            <h3><a href="/Web_User_Interface/1080p_Series/">Weboberfläche</a></h3>
        </li>
        <hr>
        <li>
            <h4><a href="/Web_User_Interface/1080p_Series/Live_Video/">Live Video</a></h4>
        </li>
        <li>
            <h4><a href="/Web_User_Interface/1080p_Series/Multimedia/">Multimedia</a></h4>
        </li>
        <ol>
            <li>
                <a href="/Web_User_Interface/1080p_Series/Multimedia/Audio/">Audio</a>
            </li>
            <li>
                <a href="/Web_User_Interface/1080p_Series/Multimedia/Video/">Video</a>
            </li>
            <li>
                <a href="/Web_User_Interface/1080p_Series/Multimedia/Image/">Bild</a>
            </li>
            <li>
                <a href="/Web_User_Interface/1080p_Series/Multimedia/Privacy_Mask/">Privatsphäre</a>
            </li>
        </ol>
        <li>
            <h4><a href="/Web_User_Interface/1080p_Series/Alarm/">Alarm</a></h4>
        </li>
        <ol>
            <li>
                <a href="/Web_User_Interface/1080p_Series/Alarm/Actions/">Aktionen</a>
            </li>
            <li>
                <a href="/Web_User_Interface/1080p_Series/Alarm/Areas/">Bereiche</a>
            </li>
            <li>
                <a href="/Web_User_Interface/1080p_Series/Alarm/Schedule/">Zeitplan</a>
            </li>
            <li>
                <a href="/Web_User_Interface/1080p_Series/Alarm/Push_Service/">Push Dienst</a>
            </li>
            <li>
                <a href="/Web_User_Interface/1080p_Series/Alarm/Alarm_Server/">Alarm Server</a>
            </li>
        </ol>
        <li>
            <h4><a href="/Web_User_Interface/1080p_Series/Recording/">Aufnahme Aufgaben</a></h4>
        </li>
        <ol>
            <li>
                <a href="/Web_User_Interface/1080p_Series/Recording/Photoseries/">Fotoserie</a>
            </li>
            <li>
                <a href="/Web_User_Interface/1080p_Series/Recording/Video/">Video</a>
            </li>
        </ol>
        <li>
            <h4><a href="/Web_User_Interface/1080p_Series/Network/">Netzwerk</a></h4>
        </li>
        <ol>
            <li>
                <a href="/Web_User_Interface/1080p_Series/Network/IP_Configuration/">IP Konfiguration</a>
            </li>
            <li>
                <a href="/Web_User_Interface/1080p_Series/Network/WiFi/">WiFi</a>
            </li>
            <li>
                <a href="/Web_User_Interface/1080p_Series/Network/Remote_Access/">Fernzugriff</a>
            </li>
            <li>
                <a href="/Web_User_Interface/1080p_Series/Network/FTP/">FTP</a>
            </li>
            <li>
                <a href="/Web_User_Interface/1080p_Series/Network/UPnP/">UPnP</a>
            </li>
            <li>
                <a href="/Web_User_Interface/1080p_Series/Network/ONVIF/">ONVIF</a>
            </li>
        </ol>
        <li>
            <h4><a href="/Web_User_Interface/1080p_Series/Features/">Features</a></h4>
        </li>
        <ol>
            <li>
                <a href="/Web_User_Interface/1080p_Series/Features/IR_LEDs/">IR LEDs</a>
            </li>
            <li>
                <a href="/Web_User_Interface/1080p_Series/Features/PTZ/">PTZ</a>
            </li>
            <li>
                <a href="/Web_User_Interface/1080p_Series/Features/SD_Card/">SD Karte</a>
            </li>
            <li>
                <a href="/Web_User_Interface/1080p_Series/Features/Status_LED/">Status LED</a>
            </li>
            <li>
                <a href="/Web_User_Interface/1080p_Series/Features/PTZ_Tour/">PTZ Tour</a>
            </li>
        </ol>
        <li>
            <h4><a href="/Web_User_Interface/1080p_Series/System/">System</a></h4>
        </li>
        <ol>
            <li>
                <a href="/Web_User_Interface/1080p_Series/System/Info/">Info</a>
            </li>
            <li>
                <a href="/Web_User_Interface/1080p_Series/System/Email/">Email</a>
            </li>
            <li>
                <a href="/Web_User_Interface/1080p_Series/System/User/">Benutzer</a>
            </li>
            <li>
                <a href="/Web_User_Interface/1080p_Series/System/Date_Time/">Datum &amp; Uhrzeit</a>
            </li>
            <li>
                <a href="/Web_User_Interface/1080p_Series/System/Language/">Language</a>
            </li>
            <li>
                <a href="/Web_User_Interface/1080p_Series/System/Log/">System Logbuch</a>
            </li>
            <li>
                <a href="/Web_User_Interface/1080p_Series/System/Update/">Update</a>
            </li>
            <li>
                <a href="/Web_User_Interface/1080p_Series/System/Reboot/">Reboot</a>
            </li>
            <li>
                <a href="/Web_User_Interface/1080p_Series/System/Reset/">Reset</a>
            </li>
        </ol>
        <li>
            <h4><a href="/Web_User_Interface/1080p_Series/Cloud/">Cloud</a></h4>
        </li>
    </ul>
    <ul class="margin">
        <li>
            <h2>InstarVision Surveillance Solution</h2>
        </li>
        <hr>
        <li>
            <a href="/Software/Windows/InstarVision">Windows</a>
        </li>
        <li>
            <a href="/Software/Windows/InstarVision_Metro">Metro Tile App</a>
        </li>
        <li>
            <a href="/Software/Windows/InstarVision_Windows-Phone">Windows Phone App</a>
        </li>
        <li>
            <a href="/Software/Android/InstarVision">Android App</a>
        </li>
        <li>
            <a href="/Software/iOS/InstarVision">iOS App</a>
        </li>
    </ul>
    <ul class="margin">
        <li>
            <h2>Drittanbieter Software</h2>
        </li>
        <hr>
        <li>
            <a href="/Software/Windows/InstarVision">Windows</a>
        </li>
        <li>
            <a href="/Software/Windows/InstarVision_Metro">macOS</a>
        </li>
        <li>
            <a href="/Software/Android/InstarVision">Android</a>
        </li>
        <li>
            <a href="/Software/iOS/InstarVision">iOS</a>
        </li>
        <li>
            <a href="/Software/Windows/InstarVision_Windows-Phone">Andere</a>
        </li>
    </ul>
</nav>
