<nav class="desktop-up">
    <ul class="margin">
        <li>
            <h2><a href="/">INSTAR Wiki</a></h2>
        </li>
        <br>
        <li>
            <a href="/Products/">INSTAR Produkte</a></h3>
        </li>
        <li>
            <a href="/Internet_Access/">Internetzugriff</a>
        </li>
        <li>
            <a href="/Motion_Detection/">Bewegungserkennung</a>
        </li>
        <li>
            <a href="/Quick_Installation/">Schnellinstallation</a>
        </li>
        <li>
            <a href="/Downloads/">Downloadbereich</a>
        </li>
        <br>
        <li>
            <h3><a href="/Advanced_User/">Für Entwickler</a></h3>
        </li>
        <hr>
        <li>
            <a href="/Advanced_User/Website_Integration/">Webseiten-Integration</a>
        </li>
        <ol>
            <li>
                <a href="/Advanced_User/Website_Integration/HD_Camera_Integration">HD Kameras</a>
            </li>
            <li>
                <a href="/Advanced_User/Website_Integration/Cambozola/">Cambozola</a>
            </li>
            <li>
                <a href="/Advanced_User/Website_Integration/Open_IP_Camera_Manager/">OIPCM (PHP)</a>
            </li>
        </ol>
        <li>
            <a href="/Advanced_User/VPN_AVM_Fritzbox/">VPN mit der Fritz.Box</a>
        </li>
        <li>
            <a href="/Advanced_User/CGI_Commands/">CGI Befehle</a>
        </li>
        <ol>
            <li>
                <a href="/1080p_Series_CGI_List/">1080p Modelle</a>
            </li>
            <li>
                <a href="/720p_Series_CGI_List/">720p Modelle</a>
            </li>
            <li>
                <a href="/Advanced_User/CGI_Commands/VGA_Series_CGI_List/">VGA Modelle</a>
            </li>
        </ol>
        <li>
            <a href="/Advanced_User/Restore_WebUI/">WebUI wiederherstellen</a>
        </li>
        <li>
            <a href="/Advanced_User/Restore_Firmware/">Firmware wiederherstellen</a>
        </li>
        <li>
            <a href="/Advanced_User/CCTV_vs_IP/">Analog vs Digital</a>
        </li>
    </ul>
</nav>
