<nav class="desktop-up">
    <ul class="margin">
        <li>
            <h2><a href="/">INSTAR Wiki</a></h2>
        </li>
        <br>
        <li>
            <a href="/Products/">INSTAR Produkte</a>
        </li>
        <li>
            <a href="/Quick_Installation/">Schnellinstallation</a>
        </li>
        <li>
            <a href="/Motion_Detection/">Bewegungserkennung</a>
        </li>
        <li>
            <a href="/Advanced_User/">Für Entwickler</a>
        </li>
        <li>
            <a href="/Internet_Access/">Internetzugriff</a>
        </li>
        <br>
        <li>
            <h3><a href="/Downloads/">Downloads</a></h3>
        </li>
        <hr>
        <li>
            <a href="/Internet_Access/The_DDNS_Service/">Innenkameras</a>
        </li>
        <ol>
            <li>
                <a href="/Internet_Access/Port_Forwarding/AVM_Fritzbox/">IN-3001</a>
            </li>
            <li>
                <a href="/Internet_Access/Port_Forwarding/Telekom_Speedport/">IN-3003</a>
            </li>
            <li>
                <a href="/Internet_Access/Port_Forwarding/D-Link/">IN-3010</a>
            </li>
            <li>
                <a href="/Internet_Access/Port_Forwarding/Netgear/">IN-3011</a>
            </li>
            <li>
                <a href="/Internet_Access/Port_Forwarding/Vodafone_Easybox/">IN-6001</a>
            </li>
            <li>
                <a href="/Internet_Access/Port_Forwarding/Pirelli/">IN-6012</a>
            </li>
            <li>
                <a href="/Internet_Access/Port_Forwarding/TP-Link/">IN-6014</a>
            </li>
        </ol>
        <li>
            <a href="/Internet_Access/DDNS_Provider/">Außenkameras</a>
        </li>
        <ol>
            <li>
                <a href="/Internet_Access/DDNS_Provider/NoIP/">IN-2904</a>
            </li>
            <li>
                <a href="/Internet_Access/DDNS_Provider/Selfhost/">IN-2905</a>
            </li>
            <li>
                <a href="/Internet_Access/DDNS_Provider/DDNSS/">IN-2908</a>
            </li>
            <li>
                <a href="/Internet_Access/DDNS_Provider/DDNSS/">IN-4009</a>
            </li>
            <li>
                <a href="/Internet_Access/DDNS_Provider/DDNSS/">IN-4010</a>
            </li>
            <li>
                <a href="/Internet_Access/DDNS_Provider/DDNSS/">IN-4011</a>
            </li>
            <li>
                <a href="/Internet_Access/DDNS_Provider/DDNSS/">IN-5905</a>
            </li>
            <li>
                <a href="/Internet_Access/DDNS_Provider/DDNSS/">IN-5907</a>
            </li>
            <li>
                <a href="/Internet_Access/DDNS_Provider/DDNSS/">IN-7011</a>
            </li>
        </ol>
        <li>
            <a href="/Internet_Access/DDNS_Provider/">Desktop-Software</a>
        </li>
        <ol>
            <li>
                <a href="/Internet_Access/DDNS_Provider/NoIP/">InstarVision</a>
            </li>
            <li>
                <a href="/Internet_Access/DDNS_Provider/Selfhost/">Windows 10 Metro</a>
            </li>
        </ol>
        <li>
            <a href="/Internet_Access/DDNS_Provider/">Apps</a>
        </li>
        <ol>
            <li>
                <a href="/Internet_Access/DDNS_Provider/NoIP/">IV iOS</a>
            </li>
            <li>
                <a href="/Internet_Access/DDNS_Provider/Selfhost/">IV Android</a>
            </li>
            <li>
                <a href="/Internet_Access/DDNS_Provider/DDNSS/">IV WinPhone</a>
            </li>
        </ol>
        <li>
            <a href="/Internet_Access/DDNS_Provider/">Allg. Zubehör</a>
        </li>
        <ol>
            <li>
                <a href="/Internet_Access/DDNS_Provider/NoIP/">IN-Motion 300</a>
            </li>
            <li>
                <a href="/Internet_Access/DDNS_Provider/Selfhost/">IN-Motion 500</a>
            </li>
            <li>
                <a href="/Internet_Access/DDNS_Provider/DDNSS/">IN-Mikro 380</a>
            </li>
            <li>
                <a href="/Internet_Access/DDNS_Provider/DDNSS/">IN-903</a>
            </li>
            <li>
                <a href="/Internet_Access/DDNS_Provider/DDNSS/">IN-905</a>
            </li>
        </ol>
        <li>
            <a href="/Internet_Access/DDNS_Provider/">Netzwerk-Zubehör</a>
        </li>
        <ol>
            <li>
                <a href="/Internet_Access/DDNS_Provider/NoIP/">IN-LAN 500</a>
            </li>
            <li>
                <a href="/Internet_Access/DDNS_Provider/Selfhost/">IN-LAN 500p</a>
            </li>
            <li>
                <a href="/Internet_Access/DDNS_Provider/DDNSS/">IN-PoE 1000</a>
            </li>
        </ol>
    </ul>
</nav>
