<section class="blade blog mobile-down">

    <div class="container wider">
        <div class="row">
            <div class="twelve columns">
                <h1>Verwandte Themen:</h1>
            </div>
        </div>

        <div class="tab-container">

            <a class="tab" href="/Quick_Installation/First_Steps">
                <h3>Erste Schritt um Ihre INSTAR IP Kamera zu installieren</h3>
                <div class="subtitle">Schnellinstallation</div>
            </a>

            <a class="tab" href="/Quick_Installation/After_Unpacking">
                <h3>Nach dem Auspacken Ihrer INSTAR IP KAMERA</h3>
                <div class="subtitle">Schnellinstallation</div>
            </a>

            <a class="tab" href="/Quick_Installation/Direct_LAN_Connection">
                <h3>Direkte Verbindung mit Ihrem Computer</h3>
                <div class="subtitle">Schnellinstallation</div>
            </a>

            <a class="tab" href="/Quick_Installation/Live_Video/">
                <h3>Live Video</h3>
                <div class="subtitle">Schnellinstallation</div>
            </a>

            <a class="tab" href="/Quick_Installation/WebUI_And_Firmware_Upgrade">
                <h3>Firmware und Weboberfläche updaten</h3>
                <div class="subtitle">Schnellinstallation</div>
            </a>

            <a class="tab" href="/Quick_Installation/Set_Up_A_Wireless_Connection">
                <h3>Wie Sie Ihre Kamera mit dem WLAN verbinden</h3>
                <div class="subtitle">Schnellinstallation</div>
            </a>

            <a class="tab" href="/Quick_Installation/Creating_User_Accounts">
                <h3>Ändern Sie den Standardlogin Ihrer Kamera</h3>
                <div class="subtitle">Schnellinstallation</div>
            </a>
        </div>

        <a href="/" target="_blank">Mehr lesen</a>

    </div>
</section>
