<nav class="desktop-up">
    <ul class="margin">
        <li>
            <h2><a href="/">INSTAR Wiki</a></h2>
        </li>
        <br>
        <li>
            <a href="/Products/">INSTAR Produkte</a>
        </li>
        <li>
            <a href="/Internet_Access/">Internetzugriff</a>
        </li>
        <li>
            <a href="/Quick_Installation/">Schnellinstallation</a>
        </li>
        <li>
            <a href="/Advanced_User/">Für Entwickler</a>
        </li>
        <li>
            <a href="/Downloads/">Downloadbereich</a>
        </li>
        <br>
        <li>
            <h3><a href="/Motion_Detection/">Bewegungs- <br> erkennung</a></h3>
        </li>
        <hr>
        <li>
            <a href="/Motion_Detection/Setup/">Einrichtung</a>
        </li>
            <ol>
                <li>
                    <a href="/Motion_Detection/Setup/">1080p Kameras</a>
                </li>
                <li>
                    <a href="/Motion_Detection/Setup/720p_Series/">720p Kameras</a>
                </li>
                <li>
                    <a href="/Motion_Detection/Setup/VGA_Series/">VGA Kameras</a>
                </li>
            </ol>
        <li>
            <a href="/Motion_Detection/Alarm_Notification/">Alarm Benachrichtigung</a>
        </li>
            <ol>
                <li>
                    <a href="/Motion_Detection/Alarm_Notification/">1080p Kameras</a>
                </li>
                <li>
                    <a href="/Motion_Detection/Alarm_Notification/720p_Series/">720p Kameras</a>
                </li>
                <li>
                    <a href="/Motion_Detection/Alarm_Notification/VGA_Series/">VGA Kameras</a>
                </li>
                <li>
                    <a href="/Motion_Detection/Alarm_Notification/Troubleshooting/">Troubleshooting</a>
                </li>
            </ol>
        <li>
            <a href="/Motion_Detection/Alarm_Recording/">Alarm Aufnahme</a>
        </li>
        <li>
            <a href="/Motion_Detection/SD_Card_Access/">Zugriff auf SD-Karte</a>
        </li>
        <ol>
            <li>
                <a href="/Motion_Detection/SD_Card_Access/Bitkinex/">Bitkinex</a>
            </li>
            <li>
                <a href="/Motion_Detection/SD_Card_Access/CuteFTP/">CuteFTP</a>
            </li>
            <li>
                <a href="/Motion_Detection/SD_Card_Access/DownThemAll/">DownThemAll</a>
            </li>
        </ol>
        <ol>
            <li>
                <a href="/Motion_Detection/SD_Card_Access/Interachy/">Interachy</a>
            </li>
            <li>
                <a href="/Motion_Detection/SD_Card_Access/DeepVacuum/">DeepVacuum</a>
            </li>
            <li>
                <a href="/Motion_Detection/SD_Card_Access/SiteSucker/">SiteSucker</a>
            </li>
            <li>
                <a href="/Motion_Detection/SD_Card_Access/SimpleWget/">SimpleWget</a>
            </li>
        </ol>
        <li>
            <a href="/Motion_Detection/Alarm_FTP_Upload/">Alarm FTP Upload</a>
        </li>
            <ol>
                <li>
                    <a href="/Motion_Detection/Alarm_FTP_Upload/">1080p Kameras</a>
                </li>
                <li>
                    <a href="/Motion_Detection/Alarm_FTP_Upload/720p_Series/">720p Kameras</a>
                </li>
                <li>
                    <a href="/Motion_Detection/Alarm_FTP_Upload/VGA_Series/">VGA Kameras</a>
                </li>
            </ol>
        <li>
            <a href="/Motion_Detection/Router_as_a_FTP_Server/">Router als FTP Server</a>
        </li>
        <ol>
            <li>
                <a href="/Motion_Detection/Router_as_a_FTP_Server/AVM_Fritzbox_as_FTP_Server/">AVM Fritzbox</a>
            </li>
            <li>
                <a href="/Motion_Detection/Router_as_a_FTP_Server/Telekom_Speedport_as_FTP_Server/">Telekom Speedport</a>
            </li>
            <li>
                <a href="/Motion_Detection/Router_as_a_FTP_Server/QNAP_as_FTP_Server/">QNAP</a>
            </li>
            <li>
                <a href="/Motion_Detection/Router_as_a_FTP_Server/WD_MyCloud_as_FTP_Server/">WD MyCloud</a>
            </li>
            <li>
                <a href="/Motion_Detection/Router_as_a_FTP_Server/Synology_as_FTP_Server/">Synology</a>
            </li>
        </ol>
        <li>
            <a href="/Motion_Detection/FTP_Server_Setup/">FTP Server Setup</a>
        </li>
        <li>
            <a href="/Motion_Detection/Alarm_Server/">Alarm Server</a>
        </li>
        <li>
            <a href="/Motion_Detection/Cloud/">Cloud</a>
        </li>
        <ol>
            <li>
                <a href="/Motion_Detection/Cloud/Create_User_Account/">Benutzer erstellen</a>
            </li>
            <li>
                <a href="/Motion_Detection/Cloud/Get_More_Cloudstorage/">Mehr Speicher</a>
            </li>
            <li>
                <a href="/Motion_Detection/Cloud/User/">Benutzerverwaltung</a>
            </li>
            <li>
                <a href="/Motion_Detection/Cloud/Administration/">Administration</a>
            </li>
            <li>
                <a href="/Motion_Detection/Cloud/Alarm/">Alarm</a>
            </li>
            <li>
                <a href="/Motion_Detection/Cloud/Settings/">Einstellungen</a>
            </li>
        </ol>
    </ul>
</nav>
