<div class="container">
    <div class="row justify-content-between">
      <a href="/Products/Software">

        <div class="col pb">
            <div class="col-12">
                <h3 class="header" style="color: white;">Software Downloads</h3>
                <p>Hier finden Sie alle Downloadlinks bezüglich unserer Software.</p>
            </div>
            <div class="row mb">
                <div class="col-lg-2 col-md-4 col-4">
                    <a href="/Products/Software/Windows">
                        <i class="btn fa fa-windows"><br><h5 class="soft-icons">Desktop</h5></i>
                    </a>
                </div>
                <div class="col-lg-2 col-md-4 col-4">
                    <a href="/Products/Software/Windows">
                        <i class="btn fa fa-windows"><br><h5 class="soft-icons">Phone</h5></i>
                    </a>
                </div>
                <div class="col-lg-2 col-md-4 col-4">
                    <a href="/Products/Software/Windows">
                        <i class="btn fa fa-windows"><br><h5 class="soft-icons">Metro</h5></i>
                    </a>
                </div>
                <div class="col-lg-2 col-md-4 col-4">
                    <a href="/Products/Software/Android">
                        <i class="btn fa fa-android"><br><h5 class="soft-icons">Android</h5></i>
                    </a>
                </div>
                <div class="col-lg-2 col-md-4 col-4">
                    <a href="/Products/Software/macOS">
                        <i class="btn fa fa-desktop"><br><h5 class="soft-icons">macOS</h5></i>
                    </a>
                </div>
                <div class="col-lg-2 col-md-4 col-4">
                    <a href="/Products/Software/iOS">
                        <i class="btn fa fa-apple"><br><h5 class="soft-icons">iOS</h5></i>
                    </a>
                </div>
              </a>
            </div>
        </div>
    </div>
    <!-- /row -->
</div>
<!-- /container -->
