<div class="container mb">
    <div class="row justify-content-between">
        <div class="col-lg-4 hidden-md-down">
          <a href="/Products/">
            <img src="/images/IN-6012.png" alt="InstarVision Software Lösung" class="img-fluid">
          </a>
        </div>

        <div class="col-md-12 col-lg-7 pb">
            <h3 class="header" style="color: white;">INSTAR Produkte</h3>
            <p class="text-justify">INSTAR bietet Ihnen den besten Kundendienst, inklusive einer Telefon Hotline und Email Support für Kaufberatungen und Unterstützung bei der Installation aller INSTAR Produkte.</p>
            <a href="/Outdoor_Cameras"><button type="button" class="btn btn-warning mb">Außenkameras</button></a>
            <a href="/Indoor_Cameras"><button type="button" class="btn btn-warning mb">Innenkameras</button></a>
            <a href="/Products"><button type="button" class="btn btn-warning mb">Andere Produkte</button></a>
        </div>
    </div>
    <!-- /row -->
</div>
<!-- /container -->
