<div class="container mb">
    <div class="row justify-content-between">
            <div class="col-lg-4 hidden-md-down">
              <a href="/Web_User_Interface/1080p_Series/Overview">
                <img src="/images/macbook.png" alt="The Web User Interface" class="img-fluid">
              </a>
            </div>
            <div class="col-md-12 col-lg-7 pb">
                <h3 class="header" style="color: white;">Die Weboberfläche</h3>
                <p>Verwalten Sie Ihre INSTAR Kamera mit Ihrem Browser. Detaillierte Beschreibungen für die Benutzeroberfläche finden Sie hier:</p>
                <a href="/Web_User_Interface/1080p_Series/"><button type="button" class="btn btn-primary">1080p Serie</button></a>
                <a href="/Web_User_Interface/720p_Series/"><button type="button" class="btn btn-primary">720p Serie</button></a>
                <a href="/Web_User_Interface/720p_Series/"><button type="button" class="btn btn-primary">VGA Serie</button></a>
                <br><br>
            </div>
        </a>
    </div>
</div>
