<!DOCTYPE html>
<html ⚡>

<head>
    <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Outdoor_Cameras/IN-5905_HD/Point2Point">
</head>

<body class="home">

  <header class="fixed">
      <% include ../_partials/amp/_amp-header.ejs %>
  </header>

    <body>

        <div class="wrap">
            <div class="container main">
                <% include ../_partials/content/_bluenav-5905.ejs %>

                <section class="blade get-started">
                    <div class="container">

                        <h1 class="post-title">IN-5905 HD Point2Point Einrichtung</h1>

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=500 width=500 layout=responsive src="/images/WPS-P2P_IN-5905_01.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">Verbinden Sie die Antenne mit der SMA Buchse in der Rückenplatte der Kamera.</p>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=500 width=500 layout=responsive src="/images/WPS-P2P_IN-5905_02.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">Verbinden Sie das Netzteil mit dem Anschluss am Kabelbaum der Kamera um Ihre Kamera zu starten.<br><br></p>
                                </div>
                            </div>
                        </div>
                        <!-- /card-container -->

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=500 width=500 layout=responsive src="/images/WPS-P2P_IN-5905_03.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">Wenn Ihr Router eine WPS (Wireless Protected Setup) Funktion hat, können Sie auch die WPS Taste am Router drücken (siehe Beispiele oben).<br><br></p>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=500 width=500 layout=responsive src="/images/WPS-P2P_IN-5905_04.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify"> Wenn Ihr Router eine WPS (Wireless Protected Setup) Funktion hat, können Sie auch die WPS Taste am Router drücken (siehe Beispiele oben).</p>
                                </div>
                            </div>
                        </div>
                        <!-- /card-container -->

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=500 width=500 layout=responsive src="/images/WPS-P2P_IN-5905_05.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">Starten Sie unsere <a href="/Software/Android/InstarVision">Android</a>, <a href="/Software/iOS/InstarVision">iOS</a> oder <a href="/Software/Windows/InstarVision_Windows-Phone">Windows Phone</a> App Instar Vision. Wählen Sie das Hinzufügen einer neuen p2p Kamera und starten Sie den QR Code Scanner. Lokalisieren Sie den QR Code auf dem Kameragehäuse.</p>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=500 width=500 layout=responsive src="/images/WPS-P2P_IN-5905_06.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">Der QR Code beinhaltet alle Informationen zum Einbinden der Kamera. Bitte beachten Sie, dass hierbei die Standard Login Daten verwendet werden.</p>
                                </div>
                            </div>
                        </div>
                        <!-- /card-container -->

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=500 width=500 layout=responsive src="/images/WPS-P2P_IN-5905_07.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">Das Standard Kennwort kann nur über die Weboberfläche der Kamera geändert werden. Der QR Code in der Weboberfläche beinhaltet immer die aktuellen Daten.<br><br></p>
                                </div>
                            </div>
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=500 width=500 layout=responsive src="/images/WPS-P2P_IN-5905_08.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">Die App wird jetzt den Live Stream der Kamera abgreifen können und Ihnen die Möglichkeit geben die Kamera zu schwenken, den Audiostream zu aktivieren und einen Schnappschuss zu speichern.<br><br><br></p>
                                </div>
                            </div>
                        </div>
                        <!-- /card-container -->

                        <div class="card-container">
                            <div class="twocard">
                                <div class="image">
                                    <amp-img noloading height=500 width=500 layout=responsive src="/images/WPS-P2P_IN-5905_09.png"></amp-img>
                                </div>
                                <div class="action">
                                    <p class="justify">Die p2p Funktion ist ein einfacher und schneller Weg sich mit der Kamera zu verbinden. Wenn Sie weitere Funktionen der Kamera nutzen möchten, lesen Sie bitte in der Schnellinstallation Anleitung weiter.</p>
                                </div>
                            </div>
                            <div class="twocard invisible">
                            </div>
                        </div>
                        <!-- /card-container -->

                    </div>
                    <!-- /container -->
                </section>
                <!-- /blade -->
            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <section class="blade blog mobile-down">

            <div class="container wider">
                <div class="row">
                    <div class="twelve columns">
                        <h1>Verwandte Themen</h1>
                    </div>
                </div>

                <div class="tab-container">

                    <a class="tab" href="/Outdoor_Cameras/IN-5905_HD/Safety_Warnings">
                        <h3>Safety Warnings</h3>
                        <div class="subtitle">Intermediate</div>
                    </a>

                    <a class="tab" href="/Outdoor_Cameras/IN-5905_HD/Product_Features">
                        <h3>Product Features</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Outdoor_Cameras/IN-5905_HD/Quick_Installation">
                        <h3>Quick Installation</h3>
                        <div class="subtitle">Advanced</div>
                    </a>

                    <a class="tab" href="/Outdoor_Cameras/IN-5905_HD/Point2Point">
                        <h3>P2P &amp; WPS</h3>
                        <div class="subtitle">Intermediate</div>
                    </a>

                    <a class="tab" href="/Web_User_Interface/720p_Series">
                        <h3>Web User Interface</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/WebUI_And_Firmware_Upgrade">
                        <h3>Software Update</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Outdoor_Cameras/IN-5905_HD/Video_Streaming">
                        <h3>Video Streaming</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Outdoor_Cameras/IN-5905_HD/Camera_Reset">
                        <h3>Camera Reset</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Outdoor_Cameras/IN-5905_HD/Lense_Adjustment">
                        <h3>Lense Adjustment</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Outdoor_Cameras/IN-5905_HD/Technical_Specifications">
                        <h3>Technical Specifications</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Outdoor_Cameras/IN-5905_HD/Warranty">
                        <h3>Warranty &amp; Disposal</h3>
                        <div class="subtitle">Easy</div>
                    </a>
                </div>

                <a href="/Products/Usermanuals" target="_blank">VIEW MORE</a>

            </div>
        </section>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>

    </body>

</html>
