<footer><section class="footer shadow">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3">
				<h5 class="footer-heading">INFORMATION</h5>
        <table class="table table-sm">
          <tbody>
            <tr>
              <td>
        				<ul class="footer-items">
            				<li><a href="http://www.instar.de/news/index" target="_blank">NEUIGKEITEN</a></li>
            				<li><a href="http://www.instar.de/downloads/" target="_blank">DOWNLOADS</a></li>
            				<li><a href="http://forum.instar.de/" target="_blank">KUNDENFORUM</a></li>
            				<li><a href="http://www.instar.de/faq/" target="_blank">HÄUFIGE FRAGEN</a></li>
                		<li><a href="https://www.instar.de/privacy" target="_blank">DATENSCHUTZ</a></li>
        				</ul>
              </td>
            </tr>
          </tbody>
        </table>
			</div>
			<div class="col-md-6 col-lg-3">
				<h5 class="footer-heading">RECHTLICHES</h5>
        <table class="table table-sm">
          <tbody>
            <tr>
              <td>
        				<ul class="footer-items">
            				<li><a href="http://www.instar.de/shipping" target="_blank">INTERNAT. VERSAND</a></li>
            				<li><a href="http://www.instar.de/impressum" target="_blank">IMPRESSUM</a></li>
            				<li><a href="http://www.instar.de/agb" target="_blank">GESCHÄFTSBEDINGUNGEN</a></li>
            				<li><a href="http://www.instar.de/privacy" target="_blank">DATENSCHUTZ</a></li>
            				<li><a href="http://www.instar.de/affiliates" target="_blank">PARTNER</a></li>
        				</ul>
              </td>
            </tr>
          </tbody>
        </table>
			</div>
			<div class="col-md-6 col-lg-3">
				<h5 class="footer-heading">KONTAKT</h5>
        <table class="table table-sm">
          <tbody>
            <tr>
              <td>
        				<ul class="footer-items">
          				<li>RAIFFEISENSTRASSE 12</li>
          				<li>65510 HÜNSTETTEN</li>
          				<li>DEUTSCHLAND</li>
          				<li>TEL: +49 (6438) 9198992</li>
        				</ul>
              </td>
            </tr>
          </tbody>
        </table>
			</div>
			<div class="col-md-6 col-lg-3">
				<h5 class="footer-heading">INSTAR APPS</h5>
        <table class="table table-sm">
          <tbody>
            <tr>
              <td>
                <a href="https://www.microsoft.com/de-de/store/p/instarvision/9nblggh10wtp" target="_blank"><img src="/images/appstore_windows.png" class="img-fluid pull-xs-right apps"/></a><br>
                <a href="https://itunes.apple.com/de/app/instarvision/id413109553?mt=8" target="_blank"><img src="/images/appstore_iphone.png" class="img-fluid pull-xs-right apps"/></a><br>
                <a href="https://play.google.com/store/apps/details?id=de.instar.vision&hl=de" target="_blank"><img src="/images/appstore_android.png" class="img-fluid pull-xs-right apps"/></a><br>
              </td>
            </tr>
          </tbody>
        </table>
			</div>
        </div> <!-- /row -->
    </div> <!-- /container -->
</section></footer>
