<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Downloads">
    </head>

    <body class="home">

      <header class="fixed">
          <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap">
          <div class="container main">
            <% include ../_partials/content/_bluenav-dl.ejs %>

        <section class="blade get-started">
            <div class="container">
                <div class="row">
                    <div class="twelve columns">
                      <h1>Downloads unserer Apps für mobile Geräte</h1>
                    </div>
                </div>

                <div class="card-container">
                    <div class="twocard">
                        <div class="image">
                            <amp-img noloading height=256 width=256 layout=responsive src="/images/IV-iOS_Shop.jpg"></amp-img>
                        </div>
                        <div class="content">
                            <h3>InstarVision iOS</h3>
                        </div>
                        <div class="action">
                            <a href="https://itunes.apple.com/de/app/instarvision/id413109553?mt=8">zum Apple AppStore</a>
                        </div>
                    </div>
                    <div class="twocard">
                        <div class="image">
                            <amp-img noloading height=256 width=256 layout=responsive src="/images/IV-Android_Shop.jpg"></amp-img>
                        </div>
                        <div class="content">
                            <h3>InstarVision Android</h3>
                        </div>
                        <div class="action">
                            <a href="/Quick_Installation/How_To_Clear_Your_Browsing_History/Mozilla_Firefox">zur Download Übersicht</a>
                        </div>
                    </div>
                </div>
                <div class="card-container">
                    <div class="twocard">
                        <div class="image">
                            <amp-img noloading height=256 width=256 layout=responsive src="/images/IV-BlackBerry_Shop.jpg"></amp-img>
                        </div>
                        <div class="content">
                            <h3>InstarVision BlackBerry</h3>
                        </div>
                        <div class="action">
                            <a href="http://www.windowsphone.com/de-de/store/app/instarvision/b172a082-978b-4574-89e3-bada22f69f49">zur Download Übersicht</a>
                        </div>
                    </div>
                    <div class="twocard">
                        <div class="image">
                            <amp-img noloading height=256 width=256 layout=responsive src="/images/IV-Windows_Shop.jpg"></amp-img>
                        </div>
                        <div class="content">
                            <h3>InstarVision WinPhone</h3>
                        </div>
                        <div class="action">
                            <a href="http://www.windowsphone.com/de-de/store/app/instarvision/b172a082-978b-4574-89e3-bada22f69f49">zum Windows Phone Store</a>
                        </div>
                    </div>
                </div>

            </div>
        </section>

              </div>
              <!-- /container -->
        </div>
        <!-- /wrap -->

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
