<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Downloads">
    </head>

    <body class="home">

      <header class="fixed">
          <% include ../_partials/amp/_amp-header.ejs %>
      </header>

        <section class="blade get-started">
            <div class="container">
                <div class="row">
                    <div class="twelve columns">
                      <h1>Downloads unserer Desktop-Software</h1>
                    </div>
                </div>

                <div class="card-container centered">
                    <div class="card">
                        <div class="image">
                            <amp-img noloading height=256 width=256 layout=responsive src="/images/InstarVision2_Shop.jpg"></amp-img>
                        </div>
                        <div class="content">
                            <h3>InstarVision (1.x / 2.0)</h3>
                        </div>
                        <div class="action">
                            <a href="/Quick_Installation/How_To_Clear_Your_Browsing_History/Internet_Explorer">zu den Downloads</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <amp-img noloading height=256 width=256 layout=responsive src="/images/Instar-Camera-Tool.jpg"></amp-img>
                        </div>
                        <div class="content">
                            <h3>INSTAR Camera Tool</h3>
                        </div>
                        <div class="action">
                            <a href="/Quick_Installation/How_To_Clear_Your_Browsing_History/Mozilla_Firefox">zu den Downloads</a>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
