<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Downloads">
    </head>

    <body class="home">

      <header class="fixed">
          <% include ../_partials/amp/_amp-header.ejs %>
      </header>

        <section class="blade get-started">
            <div class="container">
                <div class="row">
                    <div class="twelve columns">
                      <h1>INSTAR Wiki Downloadbereich</h1>
                      <h4>Software, Apps, Zubehör und Anleitungen zum Herunterladen.</h4>
                    </div>
                </div>

                <div class="card-container">
                    <div class="card">
                        <div class="image">
                          <a href="/Downloads/Indoor_Cameras/">
                            <amp-img noloading height=256 width=256 layout=responsive src="/images/IN-6014_Shop.jpg"></amp-img>
                          </a>
                        </div>
                        <div class="content">
                            <h3>Innenkameras</h3>
                        </div>
                        <div class="action">
                            <a href="/Downloads/Indoor_Cameras/">Downloads</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                          <a href="/Downloads/Outdoor_Cameras/">
                            <amp-img noloading height=256 width=256 layout=responsive src="/images/IN-5905_Shop.jpg"></amp-img>
                          </a>
                        </div>
                        <div class="content">
                            <h3>Außenkameras</h3>
                        </div>
                        <div class="action">
                            <a href="/Downloads/Outdoor_Cameras/">Downloads</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                          <a href="/Downloads/Software/">
                            <amp-img noloading height=256 width=256 layout=responsive src="/images/InstarVision2_Shop.jpg"></amp-img>
                          </a>
                        </div>
                        <div class="content">
                            <h3>Desktop-Software</h3>
                        </div>
                        <div class="action">
                            <a href="/Downloads/Software/">Downloads</a>
                        </div>
                    </div>
                </div>

                <!-- Card Container -->

                <div class="card-container">
                    <div class="card">
                        <div class="image">
                          <a href="/Downloads/Mobile_Apps/">
                            <amp-img noloading height=256 width=256 layout=responsive src="/images/InstarVision_App_Shop.jpg"></amp-img>
                          </a>
                        </div>
                        <div class="content">
                            <h3>Apps</h3>
                        </div>
                        <div class="action">
                            <a href="/Downloads/Mobile_Apps/">Downloads</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                          <a href="/Downloads/Accessories/">
                            <amp-img noloading height=256 width=256 layout=responsive src="/images/IN-Motion500_Shop.jpg"></amp-img>
                          </a>
                        </div>
                        <div class="content">
                            <h3>Allgemeines Zubehör</h3>
                        </div>
                        <div class="action">
                            <a href="/Downloads/Accessories/">Downloads</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                          <a href="/Downloads/Network_Accessories/">
                            <amp-img noloading height=256 width=256 layout=responsive src="/images/IN-PoE4000_Shop.jpg"></amp-img>
                          </a>
                        </div>
                        <div class="content">
                            <h3>Netzwerkzubehör</h3>
                        </div>
                        <div class="action">
                            <a href="/Downloads/Network_Accessories/">Downloads</a>
                        </div>
                    </div>
                </div>
                <!-- Card Container -->

            </div>
        </section>

        <!-- <section class="blade blog mobile-down">

            <div class="container wider">
                <div class="row">
                    <div class="twelve columns">
                        <h1>Verwandte Themen:</h1>
                    </div>
                </div>

                <div class="tab-container">

                    <a class="tab" href="/Quick_Installation/First_Steps">
                        <h3>Erste Schritte um Ihre INSTAR Kamera zu installieren</h3>
                        <div class="subtitle">Einfach</div>
                    </a>

					          <a class="tab" href="/Quick_Installation/WebUI_And_Firmware_Upgrade">
						            <h3>Wie Sie die Firmware und Benutzeroberfläche Ihrer Kamera ändern können</h3>
						            <div class="subtitle">Mittel</div>
					          </a>

                </div>

                <a href="/Quick_Installation/" target="_blank">Mehr ansehen</a>

            </div>
        </section>-->

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
