<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Downloads">
    </head>

    <body class="home">

      <header class="fixed">
          <% include ../_partials/amp/_amp-header.ejs %>
      </header>

        <section class="blade get-started">
            <div class="container">
                <div class="row">
                    <div class="twelve columns">
                      <h1>Downloads für Innenkameras</h1>
                      <h4>Software, Apps, Zubehör und Anleitungen zum Herunterladen.</h4>
                    </div>
                </div>

                <div class="card-container centered">
                    <div class="card">
                        <div class="image">
                            <amp-img noloading height=256 width=256 layout=responsive src="/images/IN-3001_Shop.jpg"></amp-img>
                        </div>
                        <div class="content">
                            <h3>IN-3001</h3>
                        </div>
                        <div class="action">
                            <a href="/Quick_Installation/How_To_Clear_Your_Browsing_History/Internet_Explorer">zu den Downloads</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <amp-img noloading height=256 width=256 layout=responsive src="/images/IN-3003_Shop.jpg"></amp-img>
                        </div>
                        <div class="content">
                            <h3>IN-3003</h3>
                        </div>
                        <div class="action">
                            <a href="/Quick_Installation/How_To_Clear_Your_Browsing_History/Mozilla_Firefox">zu den Downloads</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <amp-img noloading height=256 width=256 layout=responsive src="/images/IN-3010_Shop.jpg"></amp-img>
                        </div>
                        <div class="content">
                            <h3>IN-3010</h3>
                        </div>
                        <div class="action">
                            <a href="/Quick_Installation/How_To_Clear_Your_Browsing_History/Google_Chromium">zu den Downloads</a>
                        </div>
                    </div>
                </div>

                <!-- Card Container -->

                <div class="card-container centered">
                    <div class="card">
                        <div class="image">
                            <amp-img noloading height=256 width=256 layout=responsive src="/images/IN-3011_Shop.jpg"></amp-img>
                        </div>
                        <div class="content">
                            <h3>IN-3011</h3>
                        </div>
                        <div class="action">
                            <a href="/Quick_Installation/How_To_Clear_Your_Browsing_History/Opera">zu den Downloads</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <amp-img noloading height=256 width=256 layout=responsive src="/images/IN-6001_Shop.jpg"></amp-img>
                        </div>
                        <div class="content">
                            <h3>IN-6001HD</h3>
                        </div>
                        <div class="action">
                            <a href="/Quick_Installation/How_To_Clear_Your_Browsing_History/Microsoft_Edge">zu den Downloads</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <amp-img noloading height=256 width=256 layout=responsive src="/images/IN-6012_Shop.jpg"></amp-img>
                        </div>
                        <div class="content">
                            <h3>IN-6012HD</h3>
                        </div>
                        <div class="action">
                            <a href="/Quick_Installation/How_To_Clear_Your_Browsing_History/Vivaldi">zu den Downloads</a>
                        </div>
                    </div>
                </div>
                <!-- Card Container -->

                <!-- Card Container -->

                <div class="card-container centered">
                    <div class="card">
                        <div class="image">
                            <amp-img noloading height=256 width=256 layout=responsive src="/images/IN-6014_Shop.jpg"></amp-img>
                        </div>
                        <div class="content">
                            <h3>IN-6014HD</h3>
                        </div>
                        <div class="action">
                            <a href="/Quick_Installation/How_To_Clear_Your_Browsing_History/Opera">zu den Downloads</a>
                        </div>
                    </div>
                </div>
                <!-- Card Containers -->

            </div>
        </section>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
