<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Downloads">
    </head>

    <body class="home">

      <header class="fixed">
          <% include ../_partials/amp/_amp-header.ejs %>
      </header>

        <section class="blade get-started">
            <div class="container">
                <div class="row">
                    <div class="twelve columns">
                      <h1>Downloads für Netzwerkzubehör</h1>
                      <h4>Software, Apps, Zubehör und Anleitungen zum Herunterladen.</h4>
                    </div>
                </div>

                <div class="card-container centered">
                    <div class="card">
                        <div class="image">
                            <amp-img noloading height=256 width=256 layout=responsive src="/images/IN-LAN500_Shop.jpg"></amp-img>
                        </div>
                        <div class="content">
                            <h3>IN-LAN 500</h3>
                        </div>
                        <div class="action">
                            <a href="/Quick_Installation/How_To_Clear_Your_Browsing_History/Internet_Explorer">zu den Downloads</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <amp-img noloading height=256 width=256 layout=responsive src="/images/IN-LAN500p_Shop.jpg"></amp-img>
                        </div>
                        <div class="content">
                            <h3>IN-LAN 500p</h3>
                        </div>
                        <div class="action">
                            <a href="/Quick_Installation/How_To_Clear_Your_Browsing_History/Mozilla_Firefox">zu den Downloads</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <amp-img noloading height=256 width=256 layout=responsive src="/images/IN-PoE1000_Shop.jpg"></amp-img>
                        </div>
                        <div class="content">
                            <h3>IN-PoE 1000</h3>
                        </div>
                        <div class="action">
                            <a href="/Quick_Installation/How_To_Clear_Your_Browsing_History/Google_Chromium">zu den Downloads</a>
                        </div>
                    </div>
                </div>

                <!-- Card Container -->


            </div>
        </section>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
