<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Web_User_Interface/720p_Series/Video_Menu_Bar/">
    </head>

    <body class="home">

        <header class="fixed">
            <div class="wrap">
                <div class="container">
                    <div class="clearfix">
                        <div class="left-nav">
                            <a href="/" class="tab header-title">
                                <amp-img class="placeholder shadow" src="/images/instar_245x77.png" height="30px" width="95px" alt="Instar Wiki"></amp-img>
                            </a>
                        </div>
                        <div class="right alt">

                            <a href="/Web_User_Interface/720p_Series/" class="tab header-title">
                                <amp-img class="placeholder shadow" src="/images/return.jpg" height="30px" width="30px" alt="Go Back"></amp-img>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="wrap">
            <div class="content">
                <section class="hero webUI">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>Menüleiste Video</h1>
                                    <p class="intro">
                                      Die Videomenüleiste gehört zum ActiveX Video Plugin. Um das Plugin zu benutzen, müssen Sie es im<a href="/Web_User_Interface/720p_Series/Multimedia/Video/">Video Menü</a> aktivieren.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

        <section class="blade get-started">
            <div class="container">
                <div class="row">
                    <div class="twelve columns">
                        <h1>Menüleiste Video</h1>
                        <p>
                          Only <a href="/Web_User_Interface/720p_Series/Recording/Video/">ActiveX Video Plugin</a>
                        </p>
                    </div>
                </div>

                <div class="card-container">
                    <div class="card">
                        <div class="image">
                            <amp-img noloading height=90 width=200 layout=responsive src="/images/WebUI-MenuVideoBar_Audio.png"></amp-img>
                        </div>
                        <div class="content">
                            <h4>Kamera Mikrofon</h4>
                            <p>Klicken Sie hier um den Audiostream der Kamera zu aktivieren. Stellen Sie die Lautstärke im  <a href="/Web_User_Interface/720p_Series/Multimedia/Audio/">Audio Menü</a> ein.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <amp-img noloading height=90 width=200 layout=responsive src="/images/WebUI-MenuVideoBar_Microphone.png"></amp-img>
                        </div>
                        <div class="content">
                            <h4>Kamera Lautsprecher</h4>
                            <p>Im Fall das Ihr PC mit einem Mikrofon ausgestattet ist, klicken Sie hier um den Audio-Ausgang Ihrer Kamera zu aktivieren.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <amp-img noloading height=90 width=200 layout=responsive src="/images/WebUI-MenuVideoBar_Zoom.png"></amp-img>
                        </div>
                        <div class="content">
                            <h4>Digital Zoom</h4>
                            <p>Klicken Sie hier um den 3x Digitalen Zoom zu aktivieren - nutzen Sie den 3. Button um auf die Standardeinstellungen zurückzukehren.</p>
                        </div>
                    </div>
                </div>

                <div class="card-container">
                    <div class="card">
                        <div class="image">
                            <amp-img noloading height=224 width=200 layout=responsive src="/images/WebUI-MenuVideoBar_RecPath.png"></amp-img>
                        </div>
                        <div class="content">
                            <h4>Aufnahmepfad</h4>
                            <p>Hier können Sie den Aufnahmepfad für Ihre<a href="/Web_User_Interface/720p_Series/Video_Menu_Bar/">manuell aufgenommenen</a> Videos und Snapshots einstellen. Der Pfad wird von all Ihren INSTAR HD Kameras genutzt! Ihre Kamera wird automatisch Unterverzeichnisse mit dem Datum und der IP-Adresse erstellen, wenn Sie Videos oder Snapshots aufnehmen. Alle Snapshots werden im Unterverzeichnis Snap gespeichert, alle Videos im Unterverzeichnis Record.</p>
                        </div>
                    </div>
                    <div class="card invisible">
                    </div>
                    <div class="card invisible">
                    </div>
                </div>

            </div>
        </section>  <!-- /Cards -->

        <section class="blade blog">

            <div class="container wider">
                <div class="row">
                    <div class="twelve columns">
                        <h1>Verwandte Themen:</h1>
                    </div>
                </div>

                <div class="tab-container">

                    <a class="tab" href="/Quick_Installation/First_Steps">
                        <h3>Erste Schritte um Ihre INSTAR IP Camera zu installieren</h3>
                        <div class="subtitle">Einfach</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/After_Unpacking">
                        <h3>Nach dem Auspacken Ihrer INSTAR IP Camera</h3>
                        <div class="subtitle">Einfach</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/Direct_LAN_Connection">
                        <h3>Verbinden Sie Ihre Kamera direkt mit Ihrem Computer</h3>
                        <div class="subtitle">Mittel</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/WebUI_And_Firmware_Upgrade">
                        <h3>Wie Sie die Firmware und Benutzeroberfläche Ihrer Kamera ändern können</h3>
                        <div class="subtitle">Mittel</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/Set_Up_A_Wireless_Connection">
                        <h3>Wie Sie Ihre Kamera mit dem WLAN verbinden</h3>
                        <div class="subtitle">Mittel</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/Creating_User_Accounts">
                        <h3>Ändern Sie den Standard-Login Ihrer Kamera</h3>
                        <div class="subtitle">Einfach</div>
                    </a>
                </div>

                <a href="/Quick_Installation/" target="_blank">Mehr ansehen</a>

            </div>
        </section>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
