<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Web_User_Interface/720p_Series/PTZ_Control/">
    </head>

    <body class="home">

        <header class="fixed">
            <div class="wrap">
                <div class="container">
                    <div class="clearfix">
                        <div class="left-nav">
                            <a href="/" class="tab header-title">
                                <amp-img class="placeholder shadow" src="/images/instar_245x77.png" height="30px" width="95px" alt="Instar Wiki"></amp-img>
                            </a>
                        </div>
                        <div class="right alt">

                            <a href="/Web_User_Interface/720p_Series/" class="tab header-title">
                                <amp-img class="placeholder shadow" src="/images/return.jpg" height="30px" width="30px" alt="Go Back"></amp-img>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="wrap">
            <div class="content">
                <section class="hero webUI">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>Menü PTZ Control</h1>
                                    <p class="intro">
                                        Jede Kamera die schwenkbar und neigbar ist, oder zumindest eine Linse mit einer variablen Brennweite hat kann über PTZ Kommandos in der Weboberfläche gesteuert werden.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

        <div class="wrap">

            <section class="blade get-started">
                <div class="container">
                    <div class="row">
                        <div class="twelve columns">
                            <h1>PTZ Controls</h1>
                        </div>
                    </div>

                    <!-- ##################################### Areas ############################################ -->

                    <div class="card-container margin">
                        <div class="twocard">
                            <div class="image" on="tap:areas-lightbox" role="button" tabindex="0">
                                <amp-img noloading height=300 width=300 layout=responsive src="/images/WebUI-PTZ_PTZ-Pad.png"></amp-img>
                            </div>
                            <div class="content">
                                <h3>Kontroll-Panel/h3>
                                <hr>
                                <p>Sie können das Kontroll-Panel nutzen, um Ihre Kamera zu schwenken und den Kopf der Kamera neigen. Sie können auch eine horizontale (hscan) oder vertikale (vscan) Streife abgehen oder die Kamerabewegung stoppen. Der Modus wird die Kamera in die entsprechenden Endpositionen fahren und
                                    und dann zur Ausgangsposition zurückfahren. Wenn Sie den Internet Explorer verwenden, können Sie die grenzenden Buttons benutzen um die Kamera in die jeweiligen Richtungen zu fahren und ein Doppel-Klick in die Mitte des Frames wird den Vollbild-Modus starten.
                                    Sie können die Geschwindigkeit Ihrer Kamerabewegungen in den
                                    <a href="/Web_User_Interface/720p_Series/System/PTZ/">PTZ Einstellungen</a> festlegen oder eine automatische Tour im
                                    <a href="/Web_User_Interface/720p_Series/System/PTZ_Tour/">PTZ Tour Menü</a> programmieren.</p>
                            </div>
                        </div>
                        <!-- /Card -->

                        <div class="twocard">
                            <div class="image" on="tap:privacy-lightbox" role="button" tabindex="0">
                                <amp-img noloading height=300 width=300 layout=responsive src="/images/WebUI-PTZ_Positions.png"></amp-img>
                            </div>
                            <div class="content">
                                <h3>Gespeicherte Positionen</h3>
                                <hr>
                                <p>Sie können bis zu 8 Kamerapositionen speichern, indem Sie die Kamera in die gewünschte Position fahren und auf eine der Nummern klicken, nachdem Sie
                                    <strong>Position speichern</strong>
                                    vom Drop-Down Menü ausgewählt haben. Wenn Sie auf die Nummern klicken, während
                                    <strong>Zu Position gehen</strong>
                                    ausgewählt ist, wird die Kamera in die jeweilige gespeicherte Position fahren. Sie können alle Position mit "Alle Positionen reseten" zurücksetzen. Position 1 ist die Startposition Ihrer Kamera!</p>
                            </div>
                        </div>
                        <!-- /Card -->
                    </div>
                    <!-- Card Container -->

                    <div class="dangercard">
                        <p>
                            <strong>
                                <u>Bitte beachten Sie</u>
                            </strong><br/><br/>Die Genauigkeit der Positionen wird mit der Zeit abnehmen. Bitte starten Sie Ihre Kamera neu, um eine erneute Kalibrierung vorzunehmen.</p>
                    </div>
                    <!-- /dangercard -->

                </div>
                <!-- /Container -->

            </section>
            <!-- /Blade -->
        </div>
        <!-- /Wrapper -->

        <section class="blade blog">

            <div class="container wider">
                <div class="row">
                    <div class="twelve columns">
                        <h1>Verwandte Themen:</h1>
                    </div>
                </div>

                <div class="tab-container">

                    <a class="tab" href="/Quick_Installation/First_Steps">
                        <h3>Erste Schritte um Ihre INSTAR IP Camera zu installieren</h3>
                        <div class="subtitle">Einfach</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/After_Unpacking">
                        <h3>Nach dem Auspacken Ihrer INSTAR IP Camera</h3>
                        <div class="subtitle">Einfach</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/Direct_LAN_Connection">
                        <h3>Verbinden Sie Ihre Kamera direkt mit Ihrem Computer</h3>
                        <div class="subtitle">Mittel</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/WebUI_And_Firmware_Upgrade">
                        <h3>Wie Sie die Firmware und Benutzeroberfläche Ihrer Kamera ändern können</h3>
                        <div class="subtitle">Mittel</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/Set_Up_A_Wireless_Connection">
                        <h3>Wie Sie Ihre Kamera mit dem WLAN verbinden</h3>
                        <div class="subtitle">Mittel</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/Creating_User_Accounts">
                        <h3>Ändern Sie den Standard-Login Ihrer Kamera</h3>
                        <div class="subtitle">Einfach</div>
                    </a>
                </div>

                <a href="/Quick_Installation/" target="_blank">Mehr ansehen</a>

            </div>
        </section>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
