<nav class="desktop-up">
    <ul class="margin">
        <li>
            <h2>720p</h2>
        </li>
        <li>
            <h3><a href="/Web_User_Interface/720p_Series/">Weboberfl채che</a></h3>
        </li>
        <hr>
        <li>
            <h4><a href="/Web_User_Interface/720p_Series/Software/">Software</a></h4>
        </li>
        <ol>
            <li>
                <a href="/Web_User_Interface/720p_Series/Software/Language/">Sprache</a>
            </li>
            <li>
                <a href="/Web_User_Interface/720p_Series/Software/Reboot_Reset/">Neustart &amp; Reset</a>
            </li>
            <li>
                <a href="/Web_User_Interface/720p_Series/Software/Backup/">Backup</a>
            </li>
            <li>
                <a href="/Web_User_Interface/720p_Series/Software/Update/">Update</a>
            </li>
        </ol>
        <li>
            <h4><a href="/Web_User_Interface/720p_Series/Network/">Netzwerk</a></h4>
        </li>
        <ol>
            <li>
                <a href="/Web_User_Interface/720p_Series/Network/IP_Configuration/">IP Konfiguration</a>
            </li>
            <li>
                <a href="/Web_User_Interface/720p_Series/Network/WiFi/">WiFi</a>
            </li>
            <li>
                <a href="/Web_User_Interface/720p_Series/Network/DDNS/">DDNS</a>
            </li>
            <li>
                <a href="/Web_User_Interface/720p_Series/Network/P2P/">P2P</a>
            </li>
            <li>
                <a href="/Web_User_Interface/720p_Series/Network/UPnP/">UPnP</a>
            </li>
            <li>
                <a href="/Web_User_Interface/720p_Series/Network/Push_Service/">Push Dienst</a>
            </li>
        </ol>
        <li>
            <h4><a href="/Web_User_Interface/720p_Series/System/">System</a></h4>
        </li>
        <ol>
            <li>
                <a href="/Web_User_Interface/720p_Series/System/Info/">Info</a>
            </li>
            <li>
                <a href="/Web_User_Interface/720p_Series/System/Date_Time/">Datum &amp; Zeit</a>
            </li>
            <li>
                <a href="/Web_User_Interface/720p_Series/System/User/">Benutzer</a>
            </li>
            <li>
                <a href="/Web_User_Interface/720p_Series/System/Date_Time/">Datum &amp; Zeit</a>
            </li>
            <li>
                <a href="/Web_User_Interface/720p_Series/System/Status_LED/">Status LED</a>
            </li>
            <li>
                <a href="/Web_User_Interface/720p_Series/System/IR_LED/">IR LEDs</a>
            </li>
            <li>
                <a href="/Web_User_Interface/720p_Series/System/ONVIF/">ONVIF</a>
            </li>
            <li>
                <a href="/Web_User_Interface/720p_Series/System/PTZ/">PTZ</a>
            </li>
            <li>
                <a href="/Web_User_Interface/720p_Series/System/PTZ_Tour/">PTZ Tour</a>
            </li>
            <li>
                <a href="/Web_User_Interface/720p_Series/System/System_Log/">System Log</a>
            </li>
        </ol>
        <li>
            <h4><a href="/Web_User_Interface/720p_Series/Multimedia/">Multimedia</a></h4>
        </li>
        <ol>
            <li>
                <a href="/Web_User_Interface/720p_Series/Multimedia/Audio/">Audio</a>
            </li>
            <li>
                <a href="/Web_User_Interface/720p_Series/Multimedia/Video/">Video</a>
            </li>
            <li>
                <a href="/Web_User_Interface/720p_Series/Multimedia/Image/">Bild</a>
            </li>
        </ol>
        <li>
            <h4><a href="/Web_User_Interface/720p_Series/Alarm/">Alarm</a></h4>
        </li>
        <ol>
            <li>
                <a href="/Web_User_Interface/720p_Series/Alarm/Areas/">Bereiche</a>
            </li>
            <li>
                <a href="/Web_User_Interface/720p_Series/Alarm/Privacy_Mask/">Privatsph채re</a>
            </li>
            <li>
                <a href="/Web_User_Interface/720p_Series/Alarm/Actions/">Aktionen</a>
            </li>
            <li>
                <a href="/Web_User_Interface/720p_Series/Alarm/Schedule/">Zeitplan</a>
            </li>
            <li>
                <a href="/Web_User_Interface/720p_Series/Alarm/SMTP_Server/">SMTP Server</a>
            </li>
            <li>
                <a href="/Web_User_Interface/720p_Series/Alarm/Email/">Email</a>
            </li>
            <li>
                <a href="/Web_User_Interface/720p_Series/Alarm/FTP/">FTP</a>
            </li>
            <li>
                <a href="/Web_User_Interface/720p_Series/Alarm/Audio_Alarm/">Audio Alarm</a>
            </li>
            <li>
                <a href="/Web_User_Interface/720p_Series/Alarm/SD_Card/">SD Karte</a>
            </li>
        </ol>
        <li>
            <h4><a href="/Web_User_Interface/720p_Series/Recording/">Aufnahme</a></h4>
        </li>
        <ol>
            <li>
                <a href="/Web_User_Interface/720p_Series/Recording/Schedule/">Zeitplan</a>
            </li>
            <li>
                <a href="/Web_User_Interface/720p_Series/Recording/Video/">Video</a>
            </li>
            <li>
                <a href="/Web_User_Interface/720p_Series/Recording/Photoseries/">Fotoserie</a>
            </li>
        </ol>
        <li>
            <h4><a href="/Web_User_Interface/720p_Series/Menu_Bar/">Men체leiste</a></h4>
        </li>
        <li>
            <h4><a href="/Web_User_Interface/720p_Series/Video_Menu_Bar/">Video Men체leiste</a></h4>
        </li>
        <li>
            <h4><a href="/Web_User_Interface/720p_Series/PTZ_Control/">PTZ Control</a></h4>
        </li>
    </ul>
</nav>
