<div class="container">
    <div class="row">
      <a href="/Products/">

        <div class="col-md-5 centered mb">
            <img src="/images/IN-6012.png" alt="InstarVision Software Solution" class="img-fluid center-block">
        </div>

        <div class="col-xs-12 col-md-7 centered mt">
            <h3 class="subheader">INSTAR Produkte</h3>
            <p class="text-justify">INSTAR bietet Ihnen den besten Kundendienst, inklusive einer Telefon Hotline und Email Support für Kaufberatungen und Unterstützung bei der Installation aller INSTAR Produkte.</p>
            <a href="/Products/Indoor_Cameras"><button type="button" class="btn btn-warning mb">Außenkameras</button></a>
            <a href="/Products/Outdoor_Cameras"><button type="button" class="btn btn-warning mb">Innenkameras</button></a>
            <a href="/Products"><button type="button" class="btn btn-warning mb">Andere Produkte</button></a>
        </div>

      </a>
    </div>
    <!-- /row -->
</div>
<!-- /container -->
