<div class="container mb">
    <div class="row">
        <a href="/Web_User_Interface/1080p_Series/Overview/">
            <div class="col-md-5 centered mb">
                <img src="/images/macbook.png" alt="The Web User Interface" class="img-fluid">
            </div>

            <div class="col-xs-12 col-md-7 centered">
                <h3 class="subheader">Die Weboberfläche</h3>
                <p>Verwalten Sie Ihre INSTAR Kamera mit Ihrem Browser. Detaillierte Beschreibungen für die Benutzeroberfläche finden Sie hier:</p>
                <a href="/Web_User_Interface/1080p_Series/"><button type="button" class="btn btn-primary">1080p Serie</button></a>
                <a href="/Web_User_Interface/720p_Series/"><button type="button" class="btn btn-primary">720p Serie</button></a>
                <a href="/Web_User_Interface/720p_Series/"><button type="button" class="btn btn-primary">VGA Serie</button></a>
                <br><br>
            </div>
        </a>
    </div>
</div>
