<div class="container mb">
    <div class="row">
        <a href="/Web_User_Interface/1080p_Series/Overview/">
            <div class="col-md-5 centered mb">
                <img src="/images/macbook.png" alt="The Web User Interface" class="img-fluid">
            </div>

            <div class="col-xs-12 col-md-7 centered">
                <h3 class="subheader">Die Weboberfl채che</h3>
                <p>Steuern Sie die Kamera mit Ihrem Browser. Klicken Sie hier um eine detaillierte Beschreibung 체ber die Weboberfl채che f체r Ihre INSTAR Kamera der 1080p Serie, 720p Serie  oder VGA Serie zu finden.</p>
                <a href="/Web_User_Interface/1080p_Series/"><button type="button" class="btn btn-primary">1080p Serie</button></a>
                <a href="/Web_User_Interface/720p_Series/"><button type="button" class="btn btn-primary">720p Serie</button></a>
                <a href="/Web_User_Interface/1080p_Series/Overview/"><button type="button" class="btn btn-primary">VGA Serie</button></a>
            </div>
        </a>
    </div>
</div>
