<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Web_User_Interface/1080p_Series/Multimedia/Video/">
    </head>

    <body class="home">

      <% include ../../_partials/amp/_amp-header.ejs %>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero webUI">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>Oberfläche Video</h1>
                                    <p class="intro">
                                      Die Videoeinstellungen erlauben es, die Qualität von allen 3 Videostreams Ihrer Kamera einzustellen. Bitte beachten Sie, dass eine hohe Qualität in den Videoeinstellungen auch gleichzeitig hohe Hardware- und Bandbreitenansprüche mit sich bringt. Richten Sie die Videoeinstellungen ein, um ein flüssiges Video zu erhalten. Bitte schauen Sie unter <a href="/index.php/RTSP_Streaming">RTSP Streaming</a> um auf die Kamera Streams 2 und 3 zuzugreifen.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

        <div class="wrap">
            <div class="container main">

                <% include ../../_partials/content/_bluenav-1080p-webUI.ejs %>

                <article>
                    <!-- article -->

                    <div class="margin">
                      <h2 class="post-title">Einrichten der Videoeinstellungen</h2>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <p>  Die Videoeinstellungen erlauben es, die Qualität von allen 3 Videostreams Ihrer Kamera einzustellen. Bitte beachten Sie, dass eine hohe Qualität in den Videoeinstellungen auch gleichzeitig hohe Hardware- und Bandbreitenansprüche mit sich bringt. Richten Sie die Videoeinstellungen ein, um ein flüssiges Video zu erhalten. Bitte schauen Sie unter <a href="/index.php/RTSP_Streaming">RTSP Streaming</a> um auf die Kamera Streams 2 und 3 zuzugreifen.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img srcset="/images/1080p_webUI/1080p_Settings_Multimedia_Video.jpg 100w, /images/1080p_webUI/1080p_Settings_Multimedia_Video.png 1500w" width="1371" height="949" layout="responsive" class="shadow" on="tap:multiVideo" role="button" tabindex="0"></amp-img>
                      </div>
                    </div>
                    <!-- /margin -->
                    <amp-lightbox id="multiVideo" layout="nodisplay">
                      <div class="lightbox">
                        <amp-img src="/images/1080p_webUI/1080p_Settings_Multimedia_Video.jpg" width="800" height="550" on="tap:multiVideo.close" role="button" tabindex="1">
                      </div>
                    </amp-lightbox>

                    <div class="margin">
                        <table>
                            <tr>
                                <td width="20%">
                                    <strong>Video Auflösung</strong>
                                </td>
                                <td>Ihre Kamera kann das h.264 Video in 3 verschiedenen Streams mit unterschiedlichen Auflösungen senden. Sie können alle 3 unabhängig voneinander mit <a href="/Products/Software">externer Software</a> abgreifen. Der Stream der hier ausgewählt ist, wird in der Weboberfläche angezeigt.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Bildwiederholrate (fps)</strong>
                                </td>
                                <td>Dieser Wert zeigt die Frames pro Sekunde im Videostream Ihrer Kamera. Bitte beachten Sie, dass dies nur ein theoretisches Maximum ist. Die tatsächliche Framerate kann durch die Netzwerkverbindung der Kamera beeinflusst werden. exposure time of the image sensor (the darker the image becomes, the longer the image sensor has to collect light and the longer it takes to create a frame). The framerate is suitable to set an upper limit to the bandwidth requirement of your camera, to prevent a network overload. The default value of <strong>15 fps</strong> is usually a workable compromise for most surveillance tasks.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Variable fps</strong>
                                </td>
                                <td>Erlauben Sie Ihrer Kamera, die Framerate zu reduzieren wenn keine hohe Framerate benötigt wird. Dies kann die benötigte Bandbreite drastisch verringern.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Video Bitrate<</strong>
                                </td>
                                <td>Dieser Wert legt fest wieviele Informationen in einen Videostream gepackt werden können. Ein erhöhen der Bitrate wird auch die Bandbreite massiv erhöhen, um den Stream im lokalen Netzwerk anzusehen. Auch die Dateigrößen der Videoaufnahmen werden sich erhöhen. Ein signifikanter Vorteil in der Bildqualität wird nur erreicht, wenn das Video viele kleine feine Details aufweist. Normalerweise wird empfohlen diesen Wert bei den Standardeinstellungen von <strong>1024-2048kbps</strong> zu belassen.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Variable bitrate</strong>
                                </td>
                                <td>You can adjust if you want to hold the set bitrate, or if you want your camera to automatically use a lower bitrate if the video is low in details (e.g. your camera can often work with a much lower bitrate during the night). This will effect the file size of recorded videos, the processor load of your camera, as well as the bandwidth requirements of the live stream. We recommend that you use the <strong>variable Bitrate</strong>.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>Keyframe interval</strong>
                                </td>
                                <td>A key frame (I-Frame) is a frame encoded in its entirety, much like a JPEG image. P-frames are "predicted", ie, they contain only the changes from frame to frame. Hence I frames are typically 10x larger than P frames, so the fewer you have, the more compression you can get. As a compromise between image quality and bandwidth requirement, it is recommended to create about 1 keyframe every second. With the default intervall of <strong>20 frames</strong> and a framerate of 15fps, your camera will send an I-Frame every (20 Frames/15 Frames/s) = 1.33s.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>h.264 Video Plugin</strong>
                                </td>
                                <td>Hier können Sie das Plugin auswählen, mit dem die Weboberfläche den h.264 Stream wiedergeben soll. Das Standardplugin ist <strong>Flash</strong>. Der Quicktime Player oder ActiveX Player stehen optional zur Verfügung. Das ActiveX Plugin kann nur unter Windows mit dem Internet Explorer oder Mozilla Firefox verwendet werden, bietet aber <a href="/Web_User_Interface/720p_Series/Video_Menu_Bar/">einige Vorteile</a> gegenüber den anderen Plugins. Grundsätzlich empfehlen wir das Flash Plugin zu nutzen.</td>
                            </tr>
                            <tr>
                                <td width="20%">
                                    <strong>MotionJPEG Video Modus</strong>
                                </td>
                                <td>Ihre Kamera bietet die Möglichkeit das Video, anstatt des h.264 codierten Streams, in Form einer Sequenz von einzelnen Snapshots anzuzeigen. Dieser Motion-JPEG Stream hat den Vorteil, dass er in jedem Webbrowser ohne ein Videoplugin angezeigt werden kann. Das ist notwendig, wenn Sie das Livevideo auf einem Computer sehen möchten, wo Sie keine Rechte haben um ein Browser Plugin zu installieren, zum Beispiel auf Ihrem Arbeitsrechner. Der Nachteil des MJPEG-Modus ist, dass die Kompression sehr viel schlechter ist und Sie eine höhere Bandbreite benötigen.<br><br> Wenn Sie den MJPEG Stream nutzen, können Sie zwischen 2 Modi wählen - dem „real“-MJPEG Stream (empfohlen) und dem „simulierten“ Stream, welcher durch die regelmäßige Snapshot-Anfrage Ihres Browsers erstellt wird. </td>
                            </tr>
                        </table>
                    </div>
                    <!-- /margin -->
                </article>
                <!-- /article -->

            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../../_partials/content/_bluenav-1080p-webUI-mobile.ejs %>

        <footer>
            <% include ../../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
