<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Motion_Detection/SD_Card_Access_Interarchy">
    </head>

    <body class="home">

      <header class="fixed">
          <% include ../_partials/amp/_amp-header.ejs %>
      </header>

        <div class="wrap">
            <div class="container main">
              <% include ../_partials/content/_bluenav-md.ejs %>

                <article class="margin">
                    <!-- article -->

                    <div class="margin">
                        <h1>Zugriff auf die SD Card mit einer Drittanbieter-Software</h1>
                        <h2>Interarchy (MacOSX)</h2>
                        <p>
                          Interarchy für MacOSX ist ein kostenpflichtiger FTP client welchen Sie benutzen können um die SD Karte Ihrer Kamera auszulesen. Wir empfehlen Ihnen die neueste Version <a href="http://nolobe.com/interarchy/" target="_blank">HIER</a> herunterzuladen.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img on="tap:lightbox1" role="button" tabindex="0" src="/images/Interarchy-SD_01.png" width="820" height="581" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <amp-lightbox id="lightbox1" layout="nodisplay">
                          <div class="lightbox" on="tap:lightbox1.close" role="button" tabindex="0" class="centered">
                              <amp-img on="tap:lightbox1.close" role="button" tabindex="0" src="/images/Interarchy-SD_01.png" width="820" height="581" layout="responsive" class="shadow"></amp-img>
                          </div>
                      </amp-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Schritt 1</h3>
                        <p>
                          Wählen Sie das <strong>HTTP</strong> Protokoll und tragen Sie die IP bzw. DDNS Adresse Ihrer Kamera ein. Fügen Sie das Verzeichnis /web/sd/ zur Adresse
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img on="tap:lightbox2" role="button" tabindex="0" src="/images/Interarchy-SD_02.png" width="821" height="576" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <amp-lightbox id="lightbox2" layout="nodisplay">
                          <div class="lightbox" on="tap:lightbox2.close" role="button" tabindex="0" class="centered">
                              <amp-img on="tap:lightbox2.close" role="button" tabindex="0" src="/images/Interarchy-SD_02.png" width="821" height="576" layout="responsive" class="shadow"></amp-img>
                          </div>
                      </amp-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Schritt 2</h3>
                        <p>
                          Geben Sie die Login-Daten Ihrer Kamera ein um sich mit dem SD-Speicher zu verbinden.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img on="tap:lightbox3" role="button" tabindex="0" src="/images/Interarchy-SD_03.png" width="819" height="579" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <amp-lightbox id="lightbox3" layout="nodisplay">
                          <div class="lightbox" on="tap:lightbox3.close" role="button" tabindex="0" class="centered">
                              <amp-img on="tap:lightbox3.close" role="button" tabindex="0" src="/images/Interarchy-SD_03.png" width="819" height="579" layout="responsive" class="shadow"></amp-img>
                          </div>
                      </amp-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Schritt 3</h3>
                        <p>
                          Warten Sie bis das Programm die Verzeichnisse auflistet.
                        </p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->
            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <% include ../_partials/content/_bluenav-md-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
