<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Motion_Detection/SD_Card_Access_CuteFTP">
    </head>

    <body class="home">

      <header class="fixed">
          <% include ../_partials/amp/_amp-header.ejs %>
      </header>

        <div class="wrap">
            <div class="container main">
              <% include ../_partials/content/_bluenav-md.ejs %>

                <article>
                    <!-- article -->

                    <div class="margin">
                        <h1>Zugriff auf die SD Card mit einer Drittanbieter-Software</h1>
                        <h2>CuteFTP (Windows)</h2>
                        <p>
                          CuteFTP für Windows ist ein kostenpflichtiger FTP client welchen Sie benutzen können um die SD Karte Ihrer Kamera auszulesen. Wir empfehlen Ihnen die neueste Version <a href="http://www.cuteftp.com/trial.aspx" target="_blank">HIER</a> herunterzuladen.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img on="tap:lightbox1" role="button" tabindex="0" src="/images/CuteFTP-SD_01.png" width="729" height="744" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <amp-lightbox id="lightbox1" layout="nodisplay">
                          <div class="lightbox" on="tap:lightbox1.close" role="button" tabindex="0" class="centered">
                              <amp-img on="tap:lightbox1.close" role="button" tabindex="0" src="/images/CuteFTP-SD_01.png" width="729" height="744" layout="responsive" class="shadow"></amp-img>
                          </div>
                      </amp-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Schritt 1</h3>
                        <p>
                          Wählen Sie aus eine neue "HTTP site" hinzuzufügen.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img on="tap:lightbox2" role="button" tabindex="0" src="/images/CuteFTP-SD_02.png" width="729" height="745" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <amp-lightbox id="lightbox2" layout="nodisplay">
                          <div class="lightbox" on="tap:lightbox2.close" role="button" tabindex="0" class="centered">
                              <amp-img on="tap:lightbox2.close" role="button" tabindex="0" src="/images/CuteFTP-SD_02.png" width="729" height="745" layout="responsive" class="shadow"></amp-img>
                          </div>
                      </amp-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Schritt 2</h3>
                        <p>
                          Die <strong>host address</strong> ist die lokale IP-Adresse oder DDNS Adresse Ihrer Kamera. Geben Sie die Login-Daten Ihrer Kamera unten ein.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img on="tap:lightbox3" role="button" tabindex="0" src="/images/CuteFTP-SD_03.png" width="727" height="746" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <amp-lightbox id="lightbox3" layout="nodisplay">
                          <div class="lightbox" on="tap:lightbox3.close" role="button" tabindex="0" class="centered">
                              <amp-img on="tap:lightbox3.close" role="button" tabindex="0" src="/images/CuteFTP-SD_03.png" width="727" height="746" layout="responsive" class="shadow"></amp-img>
                          </div>
                      </amp-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Schritt 3</h3>
                        <p>
                          Wählen Sie <strong>/sd</strong> als Ihr Standardverzeichnis.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img on="tap:lightbox3" role="button" tabindex="0" src="/images/CuteFTP-SD_04.png" width="731" height="744" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <amp-lightbox id="lightbox3" layout="nodisplay">
                          <div class="lightbox" on="tap:lightbox3.close" role="button" tabindex="0" class="centered">
                              <amp-img on="tap:lightbox3.close" role="button" tabindex="0" src="/images/CuteFTP-SD_04.png" width="731" height="744" layout="responsive" class="shadow"></amp-img>
                          </div>
                      </amp-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Schritt 4</h3>
                        <p>
                          Wählen Sie <strong>HTTP</strong> und tragen Sie den Port Ihrer Kamera ein (Standardmäßig Port 80).
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div>
                          <amp-img on="tap:lightbox3" role="button" tabindex="0" src="/images/CuteFTP-SD_05.png" width="720" height="754" layout="responsive" class="shadow"></amp-img>
                      </div>
                      <amp-lightbox id="lightbox3" layout="nodisplay">
                          <div class="lightbox" on="tap:lightbox3.close" role="button" tabindex="0" class="centered">
                              <amp-img on="tap:lightbox3.close" role="button" tabindex="0" src="/images/CuteFTP-SD_05.png" width="720" height="754" layout="responsive" class="shadow"></amp-img>
                          </div>
                      </amp-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3>Schritt 5</h3>
                        <p>
                          Klicken Sie auf <strong>Connect</strong> um sich mit der SD-Karte zu verbinden.
                        </p>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->
            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <% include ../_partials/content/_bluenav-md-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
