<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Motion_Detection/Router_as_a_FTP_Server/Telekom_Speedport_as_FTP_Server/">
    </head>

    <body class="home">

      <header class="fixed">
          <% include ../_partials/amp/_amp-header.ejs %>
      </header>

        <div class="wrap">
            <div class="container main">
              <% include ../_partials/content/_bluenav-md.ejs %>

                <article>
                    <!-- article -->

                    <div class="margin">
                        <amp-youtube
                            data-videoid="6jtS4X0L86M"
                            layout="responsive"
                            width="1280" height="720">
                        </amp-youtube>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h1>Konfigurieren Sie Ihren Speedport als FTP Server</h1>
                        <div>
                            <amp-img on="tap:lightbox1" role="button" tabindex="0" src="/images/Speedport-FTP_01.png" width="700" height="231" layout="responsive" class="shadow"></amp-img>
                        </div>
                        <p>
                         Stecken Sie Ihr USB Laufwerk in den Telekom Router. Öffnen Sie danach die Weboberfläche des Routers und gehen Sie nach Heimnetzwerk / Netzwerkspeicher. Verifizieren Sie, dass Ihr Laufwerk erkannt wurde.
                        </p>
                        <amp-lightbox id="lightbox1" layout="nodisplay">
                            <div class="lightbox" on="tap:lightbox1.close" tabindex="0" class="centered">
                                <amp-img on="tap:lightbox1.close" role="button" tabindex="0" src="/images/Speedport-FTP_01.png" width="700" height="231" layout="responsive" class="shadow"></amp-img>
                            </div>
                        </amp-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <div>
                            <amp-img on="tap:lightbox1" role="button" tabindex="0" src="/images/Speedport-FTP_02.png" width="700" height="684" layout="responsive" class="shadow"></amp-img>
                        </div>
                        <p>
                          Gehen Sie jetzt in die Benutzerverwaltung und fügen Sie einen FTP Nutzer für Ihre Kamera hinzu - geben Sie einen Benutzernamen & Passwort an und setzen Sie den Haken bei FTP Zugriff erlauben.
                        </p>
                        <amp-lightbox id="lightbox1" layout="nodisplay">
                            <div class="lightbox" on="tap:lightbox1.close" tabindex="0" class="centered">
                                <amp-img on="tap:lightbox1.close" role="button" tabindex="0" src="/images/Speedport-FTP_02.png" width="700" height="684" layout="responsive" class="shadow"></amp-img>
                            </div>
                        </amp-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <div>
                            <amp-img on="tap:lightbox1" role="button" tabindex="0" src="/images/Speedport-FTP_03.png" width="400" height="311" layout="responsive" class="shadow"></amp-img>
                        </div>
                        <p>
                          Klicken Sie im vorherigen Fenster auf Durchsuchen und legen Sie einen Upload für Ihre Kamera auf dem externen Laufwerk an.
                        </p>
                        <amp-lightbox id="lightbox1" layout="nodisplay">
                            <div class="lightbox" on="tap:lightbox1.close" tabindex="0" class="centered">
                                <amp-img on="tap:lightbox1.close" role="button" tabindex="0" src="/images/Speedport-FTP_03.png" width="400" height="311" layout="responsive" class="shadow"></amp-img>
                            </div>
                        </amp-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <div>
                            <amp-img on="tap:lightbox1" role="button" tabindex="0" src="/images/Speedport-FTP_04.png" width="400" height="518" layout="responsive" class="shadow"></amp-img>
                        </div>
                        <p>
                          Öffnen Sie jetzt die Weboberfläche Ihrer Kamera and tragen Sie die eben angelegten FTP Nutzer Daten ein. Die Standard IP Adresse des Speedport ist 192.168.2.1, der FTP Port ist 21, der Ordner ist ./<Name des Unterordners> und dann noch der FTP Nutzername und das Passwort.
                        </p>
                        <amp-lightbox id="lightbox1" layout="nodisplay">
                            <div class="lightbox" on="tap:lightbox1.close" tabindex="0" class="centered">
                                <amp-img on="tap:lightbox1.close" role="button" tabindex="0" src="/images/Speedport-FTP_04.png" width="400" height="518" layout="responsive" class="shadow"></amp-img>
                            </div>
                        </amp-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <div>
                            <amp-img on="tap:lightbox1" role="button" tabindex="0" src="/images/Speedport-FTP_07.png" width="700" height="167" layout="responsive"></amp-img>
                        </div>
                        <p>
                          Klicken Sie auf Bestätigen, dann auf Testen. Sie können den erfolgreichen Test überprüfen, indem Sie ftp://192.168.2.1/<Folder Name> in Ihren Browser eingeben - der Test Schnappschuss sollte im Ordner liegen.
                        </p>
                        <amp-lightbox id="lightbox1" layout="nodisplay">
                            <div class="lightbox" on="tap:lightbox1.close" tabindex="0" class="centered">
                                <amp-img on="tap:lightbox1.close" role="button" tabindex="0" src="/images/Speedport-FTP_07.png" width="700" height="167" layout="responsive" class="shadow"></amp-img>
                            </div>
                        </amp-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3 class="margin">Konfigurieren Sie Ihre Kamera für den FTP Upload</h3>
                        <div>
                            <amp-img on="tap:lightbox1" role="button" tabindex="0" src="/images/Speedport-FTP_05.png" width="400" height="601" layout="responsive" class="shadow"></amp-img>
                        </div>
                        <p>
                          Sie können jetzt die Alarmfunktion der Kamera nutzen um Videos oder Schnappschüsse auf Ihren Router zu laden.
                        </p>
                        <amp-lightbox id="lightbox1" layout="nodisplay">
                            <div class="lightbox" on="tap:lightbox1.close" tabindex="0" class="centered">
                                <amp-img on="tap:lightbox1.close" role="button" tabindex="0" src="/images/Speedport-FTP_05.png" width="400" height="601" layout="responsive" class="shadow"></amp-img>
                            </div>
                        </amp-lightbox>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h3 class="margin">Konfigurieren Sie Ihre Kamera für den FTP Upload</h3>
                        <div>
                            <amp-img on="tap:lightbox1" role="button" tabindex="0" src="/images/Speedport-FTP_06.png" width="400" height="450" layout="responsive" class="shadow"></amp-img>
                        </div>
                        <p>
                          Oder laden Sie einfach eine Fotoserie hoch um sie ggf. später zu einer Zeitraffer-Aufnahme zusammen zu setzen.
                        </p>
                        <amp-lightbox id="lightbox1" layout="nodisplay">
                            <div class="lightbox" on="tap:lightbox1.close" tabindex="0" class="centered">
                                <amp-img on="tap:lightbox1.close" role="button" tabindex="0" src="/images/Speedport-FTP_06.png" width="400" height="450" layout="responsive" class="shadow"></amp-img>
                            </div>
                        </amp-lightbox>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->
            </div>
            <!-- /container -->
        </div>
        <!-- /wrap -->

        <% include ../_partials/content/_bluenav-md-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
