<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Quick-Installation/How_To_Clear_Your_Browsing_History_Opera">
    </head>

    <body class="home">

      <header class="fixed">
          <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap">
        <div class="container main">

            <% include ../_partials/content/_bluenav-qi.ejs %>

        <section class="blade get-started">
            <div class="container">
                <div class="row">
                    <div class="twelve columns">
                      <h2>Wie Sie Ihren Browser-Verlauf in Opera löschen</h2>
                      <p class="justify">Manchmal verhält sich die Weboberfläche der Kamera nicht so wie sie soll. Sie haben Ihre Kamerasoftware aktualisiert, aber die Oberfläche zeigt immer noch die alte Versionsnummer an? Ein Update sollte neue Funktionen hinzufügen, aber diese können Sie nirgens finden? Oder lassen sich bestimmte Funktionen einfach nicht mehr einstellen? In diesem Fall kann es sein, dass Ihr Browser alte Teile der Weboberfläche gespeichert (cached) hat und sich einfach weigert diese noch einmal neu von der Kamera zu laden. Hier finden Sie Anleitungen , wie Sie diese veralteten Dateien entfernen und ggf. den Cache des Browsers auch gleich ganz deaktivieren können:</p>
                    </div>
                </div>

                <div class="margin">
                    <amp-img src="/images/Opera-Clean-History_01.png" width=375 height=412 layout="responsive" class="shadow"></amp-img>
                    <p>Öffnen Sie das Optionsmenü und wählen Sie <strong>Einstellungen</strong> - <em>Private Daten löschen</em>.</p>
                </div>
                <!-- /margin -->

                <div class="margin">
                    <amp-img src="/images/Opera-Clean-History_02.png" width=375 height=448 layout="responsive" class="shadow"></amp-img>
                    <p>Wählen Sie die entsprechenden Optionen (s.o.) und klicken Sie auf <em>Löschen</em>.</p>
                </div>
                <!-- /margin -->

            </div>
        </section>

        </div>
      </div>

        <section class="blade blog mobile-down">

            <div class="container wider">
                <div class="row">
                    <div class="twelve columns">
                        <h1>Verwandte Themen:</h1>
                    </div>
                </div>

                <div class="tab-container">

                    <a class="tab" href="/Quick_Installation/First_Steps">
                        <h3>Erste Schritte um Ihre INSTAR Kamera zu installieren</h3>
                        <div class="subtitle">Einfach</div>
                    </a>

					          <a class="tab" href="/Quick_Installation/WebUI_And_Firmware_Upgrade">
						            <h3>Wie Sie die Firmware und Benutzeroberfläche Ihrer Kamera ändern können</h3>
						            <div class="subtitle">Mittel</div>
					          </a>

                </div>

                <a href="/Quick_Installation/" target="_blank">Mehr ansehen</a>

            </div>
        </section>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
