<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Quick-Installation/How_To_Clear_Your_Browsing_History_Internet_Explorer">
    </head>

    <body class="home">

      <header class="fixed">
          <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap">
        <div class="container main">

            <% include ../_partials/content/_bluenav-qi.ejs %>

        <section class="blade get-started">
            <div class="container">
                <div class="row">
                    <div class="twelve columns">
                      <h2>Wie Sie Ihren Browser-Verlauf in Vivaldi löschen</h2>
                      <p class="justify">Manchmal verhält sich die Weboberfläche der Kamera nicht so wie sie soll. Sie haben Ihre Kamerasoftware aktualisiert, aber die Oberfläche zeigt immer noch die alte Versionsnummer an? Ein Update sollte neue Funktionen hinzufügen, aber diese können Sie nirgens finden? Oder lassen sich bestimmte Funktionen einfach nicht mehr einstellen? In diesem Fall kann es sein, dass Ihr Browser alte Teile der Weboberfläche gespeichert (cached) hat und sich einfach weigert diese noch einmal neu von der Kamera zu laden. Hier finden Sie Anleitungen , wie Sie diese veralteten Dateien entfernen und ggf. den Cache des Browsers auch gleich ganz deaktivieren können:</p>
                    </div>
                </div>

                <div class="margin">
                    <amp-img src="/images/Vivaldi-Clean-History_01.png" width=800 height=170 layout="responsive" class="shadow"></amp-img>
                    <p>Öffnen Sie einen neuen Browser-Tab, klicken Sie auf <strong>Historie</strong> und <em>Browser Daten löschen</em>.</p>
                </div>
                <!-- /margin -->

                <div class="margin">
                    <amp-img src="/images/Vivaldi-Clean-History_02.png" width=800 height=341 layout="responsive" class="shadow"></amp-img>
                    <p>Wählen Sie die entsprechenden Optionen (s.O.) und klicken Sie <em>Browser Daten löschen</em>.</p>
                </div>
                <!-- /margin -->

            </div>
        </section>

        </div>
      </div>

        <% include ../_partials/content/_bluenav-qi-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
