<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Quick_Installation/Live_Video/AVIRA">
    </head>

    <body class="home">

        <header class="fixed">
            <div class="wrap">
                <div class="container">
                    <div class="clearfix">
                        <div class="left-nav">
                            <a href="/" class="tab header-title">
                                <amp-img class="placeholder shadow" src="/images/instar_245x77.png" height="30px" width="95px" alt="Instar Wiki"></amp-img>
                            </a>
                        </div>
                        <div class="right alt">

                            <a href="/Quick_Installation/Live_Video" class="tab header-title">
                                <amp-img class="placeholder shadow" src="/images/return.jpg" height="30px" width="30px" alt="Go Back"></amp-img>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="wrap">
            <div class="content">

                <section class="blade get-started">
                    <div class="container">
                        <div class="row">
                            <div class="twelve columns">
                                <h1>AVIRA Antivirus Pro</h1>
                                <h2>Eine Ausnahme für Ihre IP-Kamera hinzufügen</h2>
                            </div>
                        </div>

                        <div class="margin">
                            <div>
                                <p class="justify">
                                  Avira Antivirus Pro kann möglicherweise den Videostream blockieren, wenn Sie das erste Mal mit dem Internet Explorer auf Ihre IP-Kamera zugreifen (andere Browser sind nicht betroffen). Das Problem wird durch den Avira Echtzeitscanner verursacht, der das Active X Control, dass von den Kameras genutzt wird (SEWebClientPlus.ocx für die HD Kameras oder DVM_IPCam2.ocx für VGA Kameras). Bitte deaktivieren Sie den Echtzeitscanner und laden Sie die Weboberfläche innerhalb Ihres Internet Explorers neu. Sie werden gefragt, ob Sie das ActiveX Plugin installieren wollen - bestätigen Sie einfach den Installationsprozess, danach reaktivieren Sie den Antivirus Schutz. Laden Sie die Weboberfläche neu - das Video sollte nun automatisch laden.                                </p>
                            </div>
                        </div>
                        <!-- /margin -->

                       <div class="card-container">
                           <div class="twocard">
                               <div class="image">
                                   <amp-img class="shadow" noloading height=225 width=200 layout=responsive src="/images/Anvira_01.png"></amp-img>
                               </div>
                               <div class="content">
                                  <br>
                                  <h3>Öffnen Sie das Konfigurationsmenü</h3>
                                  <br>
                                   <p>Bitte klicken Sie mit einem Rechtsklick auf das Avira Regenschirm Icon unten rechts in der Taskleiste.</p>
                               </div>
                           </div>
                            <!-- /Twocard -->
                           <div class="twocard">
                               <div class="image">
                                   <amp-img class="shadow" noloading height=225 width=200 layout=responsive src="/images/Anvira_02.png"></amp-img>
                               </div>
                               <div class="content">
                                  <br>
                                  <h3>Deaktivieren Sie den Echtzeitscanner</h3>
                                  <br>
                                  <p>Auswählen, um den Echtzeitscanner zu deaktiveren und das ActiveX Plugin zu installieren. Reaktivieren Sie den Scanner danach wieder.</p>
                               </div>
                           </div>
                            <!-- /Twocard -->
                       </div>
                        <!-- /Card-Container -->

                        <div class="margin">
                            <div>
                                <p class="justify">
                                  Das ActiveX Plugin für die HD Kamera können Sie unter C:/Windows/SystemWOW64 (oder System32) und heißt SEWebClientPlus.ocx für die HD Kameras (oder DVM_IPCam2.ocx in C:\Windows\Downloaded Program Files für die VGA Kameras). Für den Fall, dass das Video der HD Kamera funktioniert aber Sie den integrierten Mediaplayer nicht starten können müssen Sie zusätzlich eine Ausnahme für die Datei SEPlayerPlus.exe, die ebenfalls unter C:/Windows/SystemWOW64 (oder System32) liegt, eintragen. Wenn Sie auf Probleme während der Einstellungen treffen, können Sie sich jederzeit innerhalb unserer Bürozeiten bei uns melden. Wir versuchen, dass Problem so schnell wie möglich zu lösen.
                                </p>
                            </div>
                        </div>
                        <!-- /margin -->

                    </div>
                    <!-- /Container -->
                </section>
                <!-- /blade -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /WRAP -->

        <section class="blade blog mobile-down">

            <div class="container wider">
                <div class="row">
                    <div class="twelve columns">
                        <h1>Related Topics:</h1>
                    </div>
                </div>

                <div class="tab-container">

                    <a class="tab" href="/Quick_Installation/First_Steps">
                        <h3>First Steps to Install your INSTAR IP Camera</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/After_Unpacking">
                        <h3>What to do After Umpacking your Camera</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/Direct_LAN_Connection">
                        <h3>Connect your Camera with Computer Directly</h3>
                        <div class="subtitle">Intermediate</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/WebUI_And_Firmware_Upgrade">
                        <h3>How to Update your Cameras Firmware and User Interface</h3>
                        <div class="subtitle">Intermediate</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/Set_Up_A_Wireless_Connection">
                        <h3>How to Connect your Camera via WiFi</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/Creating_User_Accounts">
                        <h3>Change the Default Login of your Camera</h3>
                        <div class="subtitle">Easy</div>
                    </a>
                </div>

                <a href="/Quick_Installation/" target="_blank">VIEW MORE</a>

            </div>
        </section>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
