<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Quick-Installation/WebUI_And_Firmware_Upgrade">
    </head>

    <body class="home">

      <header class="fixed">
          <% include ../_partials/amp/_amp-header.ejs %>
      </header>

        <div class="wrap">
            <div class="container main">
                <nav class="desktop-up">
                          <ul class="margin">
                              <li>
                                  <h2>Einführung</h2>
                              </li>
                              <hr>
                              <li>
                                  <a href="/Products/Outdoor_Cameras/IN-5905_HD/Safety_Warnings">Sicherheitshinweise</a>
                              </li>
                              <li>
                                  <a href="/Products/Outdoor_Cameras/IN-5905_HD/Product_Features">Produkt-Features</a>
                              </li>
                              <li>
                                  <a href="/Products/Outdoor_Cameras/IN-5905_HD/Quick_Installation">Schnellinstallation</a>
                              </li>
                              <li>
                                  <a href="/Products/Outdoor_Cameras/IN-5905_HD/Point2Point">P2P &amp; WPS</a>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series">Weboberfläche</a>
                              </li>
                              <li>
                                  <a href="/Quick_Installation/WebUI_And_Firmware_Upgrade">Software Update</a>
                              </li>
                              <li>
                                  <a href="/Products/Outdoor_Cameras/IN-5905_HD/Video_Streaming">Video Streaming</a>
                              </li>
                              <li>
                                  <a href="/Products/Outdoor_Cameras/IN-5905_HD/Camera_Reset">Reset Ihrer Kamera</a>
                              </li>
                              <li>
                                  <a href="/Products/Outdoor_Cameras/IN-5905_HD/Lense_Adjustment">Linse einstellen</a>
                              </li>
                              <li>
                                  <a href="/Products/Outdoor_Cameras/IN-5905_HD/Technical_Specifications">Technische Spezifikationen</a>
                              </li>
                              <li>
                                  <a href="/Products/Outdoor_Cameras/IN-5905_HD/Warranty">Garantie</a>
                              </li>
                          </ul>
                          <ul class="margin">
                              <li>
                                  <h2>Weboberfläche</h2>
                              </li>
                              <hr>
                              <li>
                                  <h4><a href="/Web_User_Interface/720p_Series/Software/">Software</a></h4>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/Software/Language/">Sprache</a>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/Software/Reboot_Reset/">Neustart &amp; Reset</a>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/Software/Backup/">Backup</a>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/Software/Update/">Update</a>
                              </li>
                              <li>
                                  <h4><a href="/Web_User_Interface/720p_Series/Network/">Netzwerk</a></h4>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/Network/IP_Configuration/">IP Konfiguration</a>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/Network/WiFi/">WiFi</a>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/Network/DDNS/">DDNS</a>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/Network/P2P/">P2P</a>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/Network/UPnP/">UPnP</a>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/Network/Push_Service/">Push Service</a>
                              </li>
                              <li>
                                  <h4><a href="/Web_User_Interface/720p_Series/System/">System</a></h4>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/System/Info/">Info</a>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/System/Date_Time/">Datum &amp; Uhrzeit</a>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/System/User/">Benutzer</a>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/System/Status_LED/">Status LED</a>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/System/IR_LED/">IR LEDs</a>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/System/ONVIF/">ONVIF</a>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/System/PTZ/">PTZ</a>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/System/PTZ_Tour/">PTZ Tour</a>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/System/System_Log/">System Log</a>
                              </li>
                              <li>
                                  <h4><a href="/Web_User_Interface/720p_Series/Multimedia/">Multimedia</a></h4>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/Multimedia/Audio/">Audio</a>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/Multimedia/Video/">Video</a>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/Multimedia/Image/">Bild</a>
                              </li>
                              <li>
                                  <h4><a href="/Web_User_Interface/720p_Series/Alarm/">Alarm</a></h4>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/Alarm/Areas/">Bereiche</a>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/Alarm/Privacy_Mask/">Privatsphäre</a>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/Alarm/Actions/">Aktionen</a>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/Alarm/Schedule/">Zeitplan</a>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/Alarm/SMTP_Server/">SMTP Server</a>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/Alarm/Email/">Email</a>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/Alarm/FTP/">FTP</a>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/Alarm/Audio_Alarm/">Audio Alarm</a>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/Alarm/SD_Card/">SD Karte</a>
                              </li>
                              <li>
                                  <h4><a href="/Web_User_Interface/720p_Series/Recording/">Aufnahme</a></h4>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/Recording/Schedule/">Audio</a>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/Recording/Video/">Video</a>
                              </li>
                              <li>
                                  <a href="/Web_User_Interface/720p_Series/Recording/Photoseries/">Bild</a>
                              </li>
                              <li>
                                  <h4><a href="/Web_User_Interface/720p_Series/Menu_Bar/">Menüleiste</a></h4>
                              </li>
                              <li>
                                  <h4><a href="/Web_User_Interface/720p_Series/Video_Menu_Bar/">Video Menüleiste</a></h4>
                              </li>
                              <li>
                                  <h4><a href="/Web_User_Interface/720p_Series/PTZ_Control/">PTZ Controls</a></h4>
                              </li>
                          </ul>
                      </nav>

                <article class="content">
                    <!-- article -->
                    <div class="margin">
                        <amp-youtube data-videoid="9s3P1TTj0Lc" layout="responsive" width="480" height="270" class="shadow"></amp-youtube>
                    </div>

                    <div class="margin">
                        <h1>Software Update</h1>
                        <h4>Installieren Sie die aktuellste Firmware und das neueste Web User-Interface</h4>
                        <p class="text-justify">
                            Bitte laden Sie sich die aktuellste Version der WebUI und/oder Firmware auf unserer Webseite herunter. Gehen Sie hierzu in den <a href="http://download.instar.de">Download</a> Bereich unserer Webseite. Bitte wählen Sie Ihr Kameramodell und gehen dann ans Ende der Seite um dort die Firmware bzw. WebUI herunterzuladen. '''Bitte lesen Sie alle Hinweise sorgfältig durch''' um sicherzugehen das Sie die richtige Version herunterladen. Beide Updates - WebUI (Weboberfläche) und Firmware - können entweder durch das INSTAR Kamera Tool oder über die Weboberfläche der Kamera aufgespielt werden. Der Vorgang hierbei ist jeweils der gleiche. <a href="http://www.instar.de/media/wysiwyg/Products/Software/Camera_Tool_Win/INSTAR_Camera_Tool_2.0.6.msi.zip">Windows</a>, <a href="https://itunes.apple.com/de/app/instar-camera-tool/id584435076?mt=12#">MacOSX</a>
                            and <a href="http://www.instar.de/media/wysiwyg/Products/Software/Camera_Tool_Linux/INSTAR_Camera_Tool_LINUX.zip">LINUX</a> respectively. '''Führen Sie immer erst das Firmware Update durch bevor Sie die Weboberfläche der Kamera aufspielen'''.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p class="text-justify">
                            Manchmal verhält sich die Weboberfläche der Kamera nicht so wie sie soll. Sie haben Ihre Kamerasoftware aktualisiert, aber die Oberfläche zeigt immer noch die alte Versionsnummer an? Ein Update sollte neue Funktionen hinzufügen, aber diese können Sie nirgens finden? Oder lassen sich bestimmte Funktionen einfach nicht mehr einstellen? In diesem Fall kann es sein, dass Ihr Browser alte Teile der Weboberfläche gespeichert (cached) hat und sich einfach weigert diese noch einmal neu von der Kamera zu laden. Hier finden Sie Anleitungen für eine Zahl gängiger Browser, wie Sie diese veralteten Dateien entfernen und ggf. den Cache des Browsers auch gleich ganz deaktivieren können: <a href="How_to_clear_your_Browsing_History">Wie leert man den Cache (Historie / Verlauf) des Browsers nach dem Update</a>
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p class="text-justify">
                          <strong>GANZ WICHTIG! Für die VGA Kameras!</strong> Bei der Auswahl der Firmware ist es wichtig, dass Sie die richtige Version auswählen. Bitte überprüfen Sie in Ihrer Kamera welche Firmware derzeit installiert ist. Wenn die Version derzeit mit xx.25 oder xx.22 beginnt dann stellen Sie sicher das die neue Version welche Sie runterladen auch mit xx.25 oder mit xx.22 beginnen. Niemals eine Version mit xx.35. oder xx.37. aufspielen!!!<br>Sollte Ihre Firmware mit xx.35 oder xx.37 beginnen so stellen Sie sicher das Sie "nur" eine Firmware herunterladen welche mit xx.35 oder xx.37 beginnt.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h2>HD Serie</h2>
                        <h3><a href="/Quick_Installation/WebUI_And_Firmware_Upgrade/HD_Cameras">Firmware/WebUI Update</a></h3>
                        <ul>
                          <li>Laden Sie die neueste Firmware/WebUI aus dem INSTAR <a href="http://download.instar.com">download page</a>.</li>
                          <li>Öffnen Sie die <a href="http://wiki.instar.de/index.php/HD_Manual_WebUI">Weboberfläche</a> der Kamera und gehen Sie auf Software/Update.</li>
                          <li>Klicken Sie auf <em>Durchsuchen</em> wählen Sie die zuvor heruntergeladene <em>pkg</em> Datei aus und klicken Sie Bestätigen. Es ist wichtig, dass Sie die heruntergeladene .zip Datei entpacken damit Sie die darunter befindliche pkg Datei auswählen können.</li>
                          <li>Warten Sie bis die Kamera das Update augespielt hat und die <a href="http://wiki.instar.de/index.php/HD_Manual_WebUI">Weboberfläche</a> <em>ziehen Sie niemals den Strom während dem Update!</em></li>
                        </ul>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h2>VGA Serie</h2>
                        <h3><a href="/Quick_Installation/WebUI_And_Firmware_Upgrade/VGA_Cameras">Firmware Update</a></h3>
                        <ul>
                          <li>Laden Sie die neueste Firmware/WebUI aus dem INSTAR <a href="http://download.instar.com">Downloadbereich</a> und entpacken Sie die zip Datei.</li>
                          <li>Öffnen Sie die <a href="http://wiki.instar.de/index.php/HD_Manual_WebUI">Weboberfläche</a> der Kamera und gehen Sie auf Software/Upgrade.</li>
                          <li>Klicken Sie auf Durchsuchen neben dem Punkt Upgrade Kamera Firmware und wählen Sie die heruntergeladene und entpackte bin Datei aus und klicken Sie dann auf Bestätigen.</li>
                          <li>Warten Sie bis die Kamera das Update augespielt hat und die <a href="http://wiki.instar.de/index.php/HD_Manual_WebUI">Weboberfläche</a> neu startet - <em>ziehen Sie niemals den Strom während dem Update!</em></li>
                        </ul>
                        <h3><a href="/Quick_Installation/WebUI_And_Firmware_Upgrade/VGA_Cameras">WebUI Update</a></h3>
                        <ul>
                          <li>Laden Sie die neueste Firmware/WebUI aus dem INSTAR <a href="http://download.instar.com">Download</a> und entpacken Sie die zip Datei.</li>
                          <li>Öffnen Sie die <a href="http://wiki.instar.de/index.php/HD_Manual_WebUI">Weboberfläche</a> der Kamera und gehen Sie auf Software/Upgrade.</li>
                          <li>Klicken Sie auf <em>Durchsuchen</em> neben dem Punkt <em>Upgrade Kamera WebUI</em> udn wählen Sie die heruntergeladene und entpackte <em>bin</em> Datei aus und klicken Sie dann auf Bestätigen.</li>
                          <li>Warten Sie bis die Kamera das Update augespielt hat und die <a href="http://wiki.instar.de/index.php/HD_Manual_WebUI">Weboberfläche</a> neu startet - ziehen Sie niemals den Strom während dem Update!</em></li>
                        </ul>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->
            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <section class="blade blog mobile-down">

            <div class="container wider">
                <div class="row">
                    <div class="twelve columns">
                        <h1>Verwandte Themen:</h1>
                    </div>
                </div>

                <div class="tab-container">

                    <a class="tab" href="/Quick_Installation/First_Steps">
                        <h3>Erste Schritte um Ihre INSTAR Kamera zu installieren</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/After_Unpacking">
                        <h3>Nach dem Auspacken Ihrer INSTAR IP Camera</h3>
                        <div class="subtitle">Easy</div>
                    </a>

                    <a class="tab" href="/Quick_Installation/Direct_LAN_Connection">
						            <h3>Verbinden Sie Ihre Kamera direkt mit Ihrem Computer</h3>
						            <div class="subtitle">Mittel</div>
					          </a>

					          <a class="tab" href="/Quick_Installation/WebUI_And_Firmware_Upgrade">
						            <h3>Wie Sie die Firmware und Benutzeroberfläche Ihrer Kamera ändern können</h3>
						            <div class="subtitle">Mittel</div>
					          </a>

					          <a class="tab" href="/Quick_Installation/Set_Up_A_Wireless_Connection">
						            <h3>Wie Sie Ihre Kamera mit dem WLAN verbinden</h3>
						            <div class="subtitle">Mittel</div>
					          </a>

					          <a class="tab" href="/Quick_Installation/Creating_User_Accounts">
						            <h3>Ändern Sie den Standard-Login Ihrer Kamera</h3>
						            <div class="subtitle">Einfach</div>
					          </a>

                </div>

                <a href="/Quick_Installation/" target="_blank">Mehr ansehen</a>

            </div>
        </section>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
