<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Quick-Installation/How_Does_An_IP_Camera_Work">
    </head>

    <body class="home">

      <header class="fixed">
            <% include ../_partials/amp/_amp-header.ejs %>
        </header>

        <div class="wrap">
            <div class="container main">

                <% include ../_partials/content/_bluenav-qi.ejs %>

                <article class="content">
                    <!-- article -->

                    <div class="margin">
                      <table>
                        <tr>
                          <td>
                            <h2 class="inlineHeader">Schnellinstallation Assistent&nbsp;&nbsp;&nbsp;</h2>
                          </td>
                          <td>
                            <a href="http://install.instar.de" target="_blank"><button class="navGoRed">Start!</button></a>
                          </td>
                        </tr>
                      </table>
                    </div>
                    <!-- /margin -->

                    <div class="card-container">
                      <div class="onecard">
                        <amp-youtube data-videoid="ByMkfVgjl3c" layout="responsive" width="480" height="270" class="shadow"></amp-youtube>
                      </div>
                    </div>

                    <div class="margin">
                        <h1>Nach dem Auspacken Ihrer Instar IP Kamera</h1>
                        <h4>Dieses Video beinhaltet einen kurzen Überblick über die Grundfunktionen einer IP Kamera wie z.B.</h4>
                        <p class="text-justify">Bitte gehen Sie zur Seite
                            <a href="http://install.instar.de">Installation Wizard</a>
                            und folgen Sie Schritt für Schritt der Anleitung um Ihre Kamera einzurichten. Für weiter führende Informationen besuchen Sie bitte unsere Online Handbücher für die Kameramodelle: <a href="/Outdoor_Cameras/IN-5905_HD/Usermanual">IN-5905 HD</a>, <a href="/Outdoor_Cameras/IN-5907_HD/Usermanual">IN-5907 HD</a>, <a href="/Indoor_Cameras/IN-6001_HD/Usermanual">IN-6001 HD</a>, <a href="/Indoor_Cameras/IN-6012_HD/Usermanual">IN-6012 HD</a>, <a href="/Indoor_Cameras/IN-6014_HD/Usermanual">IN-6014 HD</a>, <a href="/Outdoor_Cameras/IN-7011_HD/Usermanual">IN-7011 HD</a>, <a href="/Indoor_Cameras/IN-8015_HD/Usermanual">IN-8015 HD</a> und <a href="/Outdoor_Cameras/IN-9008_HD/Usermanual">IN-9008 HD</a>.<br/><br/></p>
                        <ul>
                            <li>Werfen Sie einen Blick auf unsere <a href="/Quick_Installation/First_Steps">Erste Schritte</a> Anleitung.<br/><br/></li>
                            <li>Sie können Ihre Kamera nicht mit unserem Kamera Tool für <a href="http://www.instar.de/media/wysiwyg/Products/Software/Camera_Tool_Win/INSTAR_Camera_Tool_2.0.6.msi.zip" target="_blank">Windows</a>, <a href="https://itunes.apple.com/de/app/instar-camera-tool/id584435076?mt=12#" target="_blank">macOS</a> oder <a href="http://www.instar.de/media/wysiwyg/Products/Software/Camera_Tool_Linux/INSTAR_Camera_Tool_LINUX.zip" target="_blank">LINUX</a> finden? Benutzen Sie einfach einen <a href="/Quick_Installation/Alternative_IP_Scanner">Alternativen IP Scanner</a> oder verbinden Sie Ihre Kamera <a href="/Quick_Installation/Direct_LAN_Connection">direkt mit Ihren Computer</a>.<br/><br/></li>
                            <li>Alle Kamerafunktionen sind über die <strong>Weboberfläche</strong> (<strong>W</strong>eb <strong>U</strong>ser <strong>I</strong>nterface) konfigurierbar. Klicken Sie hier um zu den Anleitungen der <a href="/Web_User_Interface/1080p_Series/">1080p Serie</a> oder <a href="/Web_User_Interface/720p_Series/">720p Serie</a> WebUI zu gelangen. Sollte die Weboberfläche nicht in Ihrer Sprache angezeigt werden, finden Sie <a href="/Quick_Installation/Language_Selection">hier</a> eine Anleitung zum Ändern der Sprache.<br/><br/></li>
                            <li>Wenn Ihnen das <strong>Live Video</strong> nicht angezeigt wird, finden Sie <a href="/Quick_Installation/Live_Video">hier</a> eine Anleitung zum Ändern des Video Modus.<br/><br/></li>
                            <li>Der Installation Wizard hat Sie bereits durch das Anlegen eines Administrator Benutzer geleitet. Wenn Sie das <strong>Login ändern</strong> möchten, oder einen zusätzlichen Benutzer oder Besucher Account anlegen möchten, klicken Sie bitte <a href="/Quick_Installation/Creating_User_Accounts">hier</a>.<br/><br/></li>
                            <li>Wir empfehlen, dass Sie Ihre Kamera immer den <strong>neuesten Software-Stand</strong> halten. Informationen zum Update der Software finden Sie <a href="/Quick_Installation/WebUI_And_Firmware_Upgrade">hier</a>.<br/><br/></li>
                            <li>Möchten Sie einen Vollzugriff auf Ihre Kamera haben, wenn Sie unterwegs sind? Lernen Sie alles über unseren <a href="/Internet_Access/The_DDNS_Service">DDNS Dienst</a> und das <a href="/Internet_Access/Port_Forwarding">Weiterleiten eines Ports</a> in Ihrem Router.<br/><br/></li>
                            <li>Konfigurieren Sie die <a href="/Motion_Detection/Setup">Bewegungserkennung</a> der Kamera und richten Sie sich eine <a href="/Motion_Detection/Alarm_Notification">Alarm Benachrichtigung</a> ein.</li>
                        </ul>
                    </div>
                    <!-- /margin -->

                    <div class="card-container">
                      <div class="onecard">
                        <amp-youtube data-videoid="hiWKczBCbSI" layout="responsive" width="480" height="270" class="shadow"></amp-youtube>
                      </div>
                    </div>

                    <div class="card-container">
                      <div class="onecard">
                        <amp-youtube data-videoid="spWzXLxpXVA" layout="responsive" width="480" height="270" class="shadow"></amp-youtube>
                      </div>
                    </div>

                </article>
                <!-- /article -->
            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../_partials/content/_bluenav-qi-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
