<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap mobile-down">
          <div class="content">
              <section class="hero webUI">
                  <div class="container">
                      <div class="row">
                          <div class="twelve columns">
                              <div class="intro-container">
                                    <h1 itemprop="name">Der Angry IP Scanner</h1>
                                    <p class="intro">
                                        Angry IP Scanner ist ein sehr schneller IP-Adressen- und Port-Scanner. Er ist auf mehreren Plattformen verfügbar. Es ist keine Installation nötig, er kann frei kopiert und genutzt werden. Angry IP scanner pingt jede IP-Adresse an und checkt ob diese erreichbar ist. Danach werden optional der Hostname, MAC Adresse, Ports, etc. ausgelesen. Angry IP Scanner ist ein sehr schneller IP-Adressen und Port-Scanner</p>
                                    <a href="http://angryip.org/download/" target="_blank"><button type="button" class="btn">Herunterladen</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                  </section>
                  <!-- /Hero -->
                </div>
                <!-- /Content -->
              </div>
              <!-- /Wrap -->

            <div class="wrap">
                <div class="container main">

                  <% include ../_partials/content/_bluenav-general.ejs %>

                      <article itemscope itemtype="http://schema.org/Article" class="content blade wrapper">
                          <!-- article -->

                            <div>
                                <h1>Alternative IP Scanner</h1>
                                <h4>Wie Sie Ihre INSTAR Kamera mit einem alternativen Scanner in Ihrem Netzwerk finden</h4>
                                <p class="justify">
                                    Das
                                    <a href="http://instar.de/media/wysiwyg/Products/Software/Camera_Tool_Win/INSTAR_Camera_Tool_2.0.5.msi.zip" target="_blank">IP Camera Tool (Windows)</a>,
                                    <a href="https://itunes.apple.com/de/app/instar-camera-tool/id584435076?mt=12#" target="_blank">IP Camera Tool (MacOSX)</a>
                                    oder
                                    <a href="http://instar.de/media/wysiwyg/Products/Software/Camera_Tool_Linux/INSTAR_Camera_Tool_LINUX.zip" target="_blank">IP Camera Tool (Linux)</a>
                                    ist mit Sicherheit der komfortabelste Weg um Ihre INSTAR IP Kamera in Ihrem Netzwerk zu finden. Anleitungen wie Sie Ihre INSTAR IP Kamera mit dem Kamera Tool einrichten, finden Sie hier.
                                </p>
                                <p class="justify">
                                    Falls das IP Kamera Tool nicht mehr auf Ihrem Computer funktioniert, gibt es hier ein paar andere Optionen um die IP-Adresse zu entdecken. Die Kamera versucht beim ersten Start automatisch (DHCP), eine IP-Adresse zu erhalten. Die meisten Router werden Ihnen eine Log-Datei mit
									                  den neuesten DHCP-Anfragen bereitstellen, in der Sie die IP-Adresse der Kamera finden sollten. Sie sollten den Kamera Login erreichen können, indem Sie die IP-Adresse in die Adresseleiste ihres Browsers eintippen.
                                </p>
                                <p class="justify">
                                    Wenn Sie keinen Zugang zu Ihrem Router haben oder wenn Ihr Router keine Log-Files bereitstellt, verwenden Sie bitte einen alternativen IP-Scanner. Zum Beispiel:
                                </p>
                            </div>
                            <!-- /margin -->

                            <div class="margin">
                                <h2 class="post-title">Angry IP Scanner (Windows/MacOSX/Linux)</h2>
                                <p class="justify">
                                    Die neueste Version des kostenlosen IP Scanners finden Sie hier:
                                    <a href="http://angryip.org/w/Download" target="_blank">here for Windows/MacOSX/Linux</a>
                                    - nach der Installation werden Sie folgende Oberfläche sehen:
                                </p>
                            </div>
                            <!-- /margin -->

                            <div class="margin">
                              <amp-img
                                  on="tap:IPScanner_Windows_01"
                                  role="button"
                                  tabindex="0"
                                  src="/images/Quick_Installation/IPScanner_Windows_01.jpg" width=450 height=328 layout="responsive" class="shadow">
                              </amp-img>

                                <p>Tippen Sie den IP Adressbereich ein und starten Sie die Suche.</p>
                            </div>
                            <!-- /margin -->

                            <div class="margin">
                                <p class="justify">
								                          In der Zeile IP Range tragen Sie nun den IP Bereich ein in dem Ihr Router per DHCP dynamisch Adressen verteilt. Sollten Sie diesen nicht kennen, starten Sie einfach die Kommandozeile unter Windows (im Falle von Windows Vista/7 einfach im Startmenü im Suchfeld "cmd" eingeben) und geben den Befehl "ipconfig" ein (s.u.).
								                          Unter IPv4 Address finden Sie dort die IP Adresse Ihres Computers. Geben Sie diese nun in das erste Feld des AngryIP Scanners ein - ändern Sie hierfür dann noch die letzte Zahl auf 1 und im zweiten Feld noch einmal mit der letzten Zahl auf 255 (s. Screenshot oben). Starten Sie anschließend den Scan indem Sie auf Start drücken.
                                </p>
                            </div>
                            <!-- /margin -->

                            <div class="margin">
                              <amp-img
                                  on="tap:IPScanner_Windows_02"
                                  role="button"
                                  tabindex="0"
                                  src="/images/Quick_Installation/IPScanner_Windows_02.jpg" width=450 height=250 layout="responsive" class="shadow">
                              </amp-img>

                                <p>Sie können den ipconfig Befehl nutzen um den IP Adressbereichs Ihres Netzwerk zu prüfen.</p>
                            </div>
                            <!-- /margin -->

                            <div class="margin">
                                <p class="justify">
                                    Der Scanner wird Ihnen dann alle aktiven Geräte in Ihrem Netzwerk anzeigen (markiert durch den blauen Punkt). Im Fall unten werden insgesamt 5 aktive Hosts gefunden.
                                </p>
                            </div>
                            <!-- /margin -->

                            <div class="margin">
                              <amp-img
                                  on="tap:IPScanner_Windows_03"
                                  role="button"
                                  tabindex="0"
                                  src="/images/Quick_Installation/IPScanner_Windows_03.jpg" width=450 height=325 layout="responsive" class="shadow">
                              </amp-img>

                                <p>Der Scan zeigt an das 5 Geräte innerhalb des Netzwerkbereichs gefunden wurden.</p>
                            </div>
                            <!-- /margin -->

                            <div class="margin">
                                <p class="justify">
                                  Suchen Sie nun nach der IP Adresse bei der ein Hostname angegeben wird der mit "ipcamera" beginnt (s.u.). Sollte der AngryIP Scanner Ihnen die Hostnamen nicht anzeigen, können Sie diese unter "Tools - Fetchers" aktivieren. Wenn Sie mehrere Kameras in Ihrem Netzwerk betreiben, können Sie Ihre neue Kamera einfach finden, indem die Kamera vom LAN Kabel lösen und den Scan durchführen - notieren Sie sich die aktiven IP Adressen. Schließen Sie anschließend die Kamera wieder an das LAN Kabel an und scannen Sie erneut - bei der nun hinzugekommenen IP Adresse handelt es sich um die neue Kamera.
                                </p>
                            </div>
                            <!-- /margin -->

                            <div class="margin">
                              <amp-img
                                  on="tap:IPScanner_Windows_04"
                                  role="button"
                                  tabindex="0"
                                  src="/images/Quick_Installation/IPScanner_Windows_04.jpg" width=450 height=328 layout="responsive" class="shadow">
                              </amp-img>

                                <p>Wenn Sie unsicher sind welches Gerät die Kamera ist, ziehen Sie das Netzwerkkabel der Kamera und scannen Sie erneut. Das jetzt fehlende Gerät ist in diesem Fall Ihre IP Kamera.</p>
                            </div>
                            <!-- /margin -->

                            <div class="margin">
                                <p class="justify">
                                   Wenn Sie die IP Adresse Ihrer Kamera ausgemacht haben können Sie diese mit einem Rechtsklick kopieren und in der Adresszeile Ihres Browsers einfügen und mit Enter bestätigen.
                                </p>
                            </div>
                            <!-- /margin -->

                            <div class="margin">
                              <amp-img
                                  on="tap:IPScanner_Windows_05"
                                  role="button"
                                  tabindex="0"
                                  src="/images/Quick_Installation/IPScanner_Windows_05.jpg" width=450 height=330 layout="responsive" class="shadow">
                              </amp-img>

                                <p>Kopieren Sie die IP Adresse und fügen Sie diese in die Adressleiste Ihres Webbrowsers ein um die Weboberfläche Ihrer Kamera zu laden
								                </p>
                            </div>
                            <!-- /margin -->

                            <div class="margin">
                                <p class="justify">
                                    Sie werden jetzt die Startseite der Kamera sehen - Der Standard Benutzername ist
                                    <strong>admin</strong>. Bei den VGA Kameras wird kein Passwort verwendet, bei den HD Kameras
									                  geben Sie bitte das Passwort <strong>instar</strong> ein.
									                  Glückwunsch! Sie befinden sich nun in der
                                    <a href="/Web_User_Interface/">Weboberfläche</a>.
                                </p>
                            </div>
                            <!-- /margin -->

                        </article>
                <!-- /article -->

                        <!-- ###################### Lightboxes ######################## -->

                        <amp-image-lightbox id="IPScanner_Windows_01" layout="nodisplay"></amp-image-lightbox>
                        <amp-image-lightbox id="IPScanner_Windows_02" layout="nodisplay"></amp-image-lightbox>
                        <amp-image-lightbox id="IPScanner_Windows_03" layout="nodisplay"></amp-image-lightbox>
                        <amp-image-lightbox id="IPScanner_Windows_04" layout="nodisplay"></amp-image-lightbox>
                        <amp-image-lightbox id="IPScanner_Windows_05" layout="nodisplay"></amp-image-lightbox>

            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

                <% include ../_partials/content/_bluenav-general-mobile.ejs %>

                <footer>
                    <% include ../_partials/amp/_amp-footer.ejs %>
                </footer>
            </body>
        </html>
