<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Quick-Installation/Creating_User_Accounts">
    </head>

    <body class="home">

      <header class="fixed">
          <% include ../_partials/amp/_amp-header.ejs %>
      </header>

        <div class="wrap mobile-down">
            <div class="content">
                <section class="hero altIP">
                    <div class="container">
                        <div class="row">
                            <div class="six columns">
                                <div class="intro-container">
                                    <h1>User Account Management</h1>
                                    <p class="intro desktop-only">
                                        The three different user levels allow you to share access to your camera without the need of granting access to all camera features. Logging in with a limited user right level removes options from the web user interface you don´t want people to have
                                        access to. Please be aware that publishing your IP cam as a web cam on your website allow people to get access to your username and password. When making your camera available online
                                        <em>always</em>
                                        use a account with restricted user rights to keep your camera safe.
                                    </p>
                                    <p class="intro mobile-only"><br/><br/>The three different user levels allow you to share access to your camera without the need of granting access to all camera features.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Hero -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /Wrap -->

        <div class="wrap">
            <div class="container main">
                <% include ../_partials/content/_bluenav-qi.ejs %>

                <article>
                    <!-- article -->

                    <div class="margin">
                        <h2>Schützen Sie den Zugang zu Ihrer INSTAR IP Kamera</h2>
                        <h4>Ihre Kamera bietet Ihnen 3 verschiedene Zugangsstufen</h4>
                        <table>
                            <tr>
                                <th>Admin</th>
                                <td>Dieser Benutzer besitzt alle Rechte und kann alle Einstellungen ändern.</td>
                            </tr>
                            <tr>
                                <th>User</th>
                                <td>Ein User kann Einstellungen verändern, die das Kamerabild betreffen. Systemeinstellungen können nicht geändert werden.</td>
                            </tr>
                            <tr>
                                <th>Gast</th>
                                <td>Gast-Benutzer sind als Besucher gedacht und werden dazu benutzt um den Video-Stream der Kamera anzusehen. Sie sollten den Gast-Zugang verwenden, wenn Sie den Video-Stream in eine öffentliche Webseite einbauen möchten.</td>
                            </tr>
                        </table>
                        <p class="justify">
                            Um das Benutzermenü aufzurufen, klicken Sie auf ''System'' in der Weboberfläche Ihrer IP Kamera und wählen Sie dann ''Benutzer'' wie unten gezeigt. Wir empfehlen ausdrücklich, dass Sie ein persönliches Kennwort für Ihre Kamera verwenden, nachdem Sie diese eingerichtet haben. So stellen Sie sicher,
                            dass niemand Ihren Video-Stream sehen kann, dem keine Berechtigung erteilt wurde. Das Passwort sollte aus Groß- und Kleinschreibung, sowie aus Zahlen bestehen. Bitte stellen Sie sicher, dass das Passwort nicht mehr als 12 Zeichen enthält, wenn Sie eine VGA Kamera nutzen, oder nicht mehr als 30 Zeichen enthält,
							              wenn Sie eine HD Kamera nutzen. Sonderzeichen sind möglich, checken Sie aber bitte die Zeichen, die nicht möglich sind. Nach der Bestätigung wird das Passwort zur Kamera gesendet. Danach können Sie sich mit Ihrem neuen Passwort einloggen.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h2>1080p Modelle</h2>
                      <amp-img
                          on="tap:lightbox1"
                          role="button"
                          tabindex="0"
                          src="/images/Benutzerkonten_fullHD2_EN.png" width=1116 height=720 layout="responsive" class="shadow">
                      </amp-img>
                      <amp-image-lightbox id="lightbox1" layout="nodisplay"></amp-image-lightbox>
                        <p><a href="/Web_User_Interface/1080p_Series/System/User/">Benutzerverwaltung</a> Ihrer 1080p Kamera.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h2>720p Modelle</h2>
                        <amp-img src="/images/Benutzerkonten_HD2_EN.jpg" width=700 height=378 layout="responsive" class="shadow"></amp-img>
                        <p><a href="/Web_User_Interface/720p_Series/System/User/">Benutzerverwaltung</a> für die HD Kamera-Serie</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <h2>VGA Modelle</h2>
                        <amp-img src="/images/Benutzerkonten_MJPEG_EN.jpg" width=700 height=469 layout="responsive" class="shadow"></amp-img>
                        <p>Benutzerverwaltung für die VGA Kamera-Serie</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p class="justify">
                            <h2>Default Logins</h2>

                            <h3>HD Kamera Serie</h3>

                            <ul>
                                <li><strong>Admin</strong></li>
                                <ul>
                                    <li>Default Username: ''admin''</li>
                                    <li>Default Password: ''instar''</li>
                                </ul>
                            <li><strong>User</strong></li>
                            <ul>
                                <li>Default Username: ''user''</li>
                                <li>Default Password: ''instar''</li>
                            </ul>
                        <li><strong>Gast</strong></li>
                        <ul>
                            <li>Default Username: ''guest''</li>
                            <li>Default Password: ''instar''</li>
                        </ul>
                </ul>

                <h3>VGA Kamera Serie</h3>

                <ul>
                    <li><strong>Admin</strong></li>
                    <ul>
                        <li>Default Username: ''admin''</li>
                        <li>Default Password: ''<strong>none</strong>''</li>
                    </ul>
                </ul>
                        </p>
                    </div>
                    <!-- /margin -->
                </article>
                <!-- /article -->
            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

          <% include ../_partials/content/_bluenav-qi-mobile.ejs %>

<footer>
<% include ../_partials/amp/_amp-footer.ejs %>
</footer>
</body>
</html>
