<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap">
          <div class="container main">

            <% include ../_partials/content/_bluenav-general.ejs %>

                <article itemscope itemtype="http://schema.org/Article" class="content blade wrapper">
                    <!-- article -->

                    <div>
                        <h1 itemprop="name">Direkte LAN-Verbindung</h1>
                        <h4>Verbinden Sie Ihre Kamera über ein Ethernet Kabel direkt mit Ihrem Computer</h4>
                        <p class="justify">
                            Die folgende Anleitung erklärt Schritt für Schritt wie Sie eine Direktverbindung zwischen Ihrem Rechner und einer
							              INSTAR Kamera herstellen können. Benutzen Sie diese Anleitung wenn Sie kein bestehendes Netzwerk nutzen oder wenn Sie die Kamera per WLAN verbinden möchten und keinen Steckplatz mehr an Ihrem Router frei haben.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h2 class="post-title">Verbinden der IP Kamera</h2>
                        <p class="justify">
                           Verbinden Sie die Kamera per LAN Kabel mit Ihrem PC oder Notebook (Sehr alte PCs benötigen ggbf. ein
                            <a href="http://en.wikipedia.org/wiki/Ethernet_crossover_cable">Crossover</a>
                            - Kabel für eine direkte Verbindung).
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h2 class="post-title">Suchen der IP Kamera</h2>
                        <p class="justify">
                            Installieren/Öffnen Sie das INSTAR Camera Tool, welches Ihnen nach klicken auf Suche folgende Meldung zeigt:
							              (ggbf. müssen Sie noch das richtige Netzwerkinterface auswählen an welchem die Kamera angeschlossen ist.
							              Wenn Sie z.B. eine WLAN Netzwerkkarte, ein Bluetooth Modul und eine LAN Verbindung nutzen, dann müssten Sie
							              unten im Tool das richtige Interface auswählen.)
                        </p>
                        <amp-img
                            on="tap:Direktverbindung_01en"
                            role="button"
                            tabindex="0"
                            src="/images/Quick_Installation/Direktverbindung_01en.jpg" width=600 height=389 layout="responsive" class="shadow">
                        </amp-img>
                        <p>Öffnen Sie das Kamera Tool und drücken Sie
                            <em>Suchen</em>.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h2 class="post-title">Vergeben Sie Ihrem Windows PC eine statische IP-Adresse</h2>
                        <p class="justify">
                            Öffnen Sie das
                            <em>Netzwerk- und Freigabecenter</em>
                            (<em>Systemsteuerung -></em>
                            ->
                            <em>Netzwerk und Sicherheit</em>). Dort wird nun ein neues nicht identifiziertes LAN Netzwerk angezeigt. Gehen Sie auf
                            <em>LAN-Verbindung</em>. Klicken Sie dort auf
							              <em>Eigenschaften</em> und wählen Sie
                            <em>Internet Protocol Version 4 (TCP/IPv4)</em>
                            aus und klicken auf
                            <em>Eigenschaften</em>
                            wie unten zu sehen.
                        </p>
                        <amp-img
                            on="tap:Direktverbindung_02en"
                            role="button"
                            tabindex="0"
                            src="/images/Quick_Installation/Direktverbindung_02en.jpg" width=700 height=629 layout="responsive" class="shadow">
                        </amp-img>
                        <p>Öffnen Sie das
                            <em>Netzwerk- und Freigabecenter</em>
                            und gehen Sie auf die Eigenschaften des LAN Adapters.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p class="justify">
                            Das folgende Fenster wird sich öffnen welches Ihnen ermöglicht Ihrem PC/Laptop eine feste IP zu vergeben:
                        </p>
                        <amp-img
                            on="tap:Direktverbindung_03en"
                            role="button"
                            tabindex="0"
                            src="/images/Quick_Installation/Direktverbindung_03en.jpg" width=400 height=450 layout="responsive" class="shadow">
                        </amp-img>
                        <p>Open the IPv4 properties.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p class="justify">
                           Tragen Sie hier eine gültige IP Adresse für Ihren Rechner ein und verwenden diese auch als Standardgateway/DNS-Server (siehe unten):
                        </p>
                        <amp-img
                            on="tap:Direktverbindung_04en"
                            role="button"
                            tabindex="0"
                            src="/images/Quick_Installation/Direktverbindung_04en.jpg" width=400 height=444 layout="responsive" class="shadow">
                        </amp-img>
                        <p>Vergeben Sie eine statische IP-Adresse.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h2 class="post-title">Vergeben Sie Ihrem MAC eine statische IP Adresse</h2>
                        <p class="justify">
                            Öffnen Sie die
                            <em>Systemeinstellungen</em>
                            und gehen Sie auf
                            <em>Netzwerk</em>
                            und klicken Sie auf
                            <em>Ethernet</em>. Wählen Sie bei
                            <em>IPv4 konfigurieren: Manuelle</em>
                            und tragen Sie eine gültige IP Adresse für Ihren Rechner ein und verwenden diese auch als Router. Bestätigen Sie die Eingaben mit
                            <em>OK</em>
                            und wechseln Sie wieder zum IP Kamera Tool.
                        </p>
                        <amp-img
                            on="tap:Direktverbindung_MAC_en"
                            role="button"
                            tabindex="0"
                            src="/images/Quick_Installation/Direktverbindung_MAC_en.jpg" width=600 height=524 layout="responsive" class="shadow">
                        </amp-img>
                        <p>Gehen Sie auf
                            <em>Systemeinstellungen</em>
                            und öffnen Sie die
                            <em>Ethernet</em>
                            Einstellungen</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h2 class="post-title">Der IP Kamera eine statische IP Adresse vergeben</h2>
                        <p class="justify">
                            Klicken Sie oben auf ''IP Konfig'' und wählen Sie auf der linken Seite Ihre Kamera aus. Tragen Sie eine IP Adresse für Ihre Kamera ein. Die Adresse muss sich im gleichen IP Subnetz befinden wie Ihr Computer '''Schritt 3''' muss jedoch eine andere IP haben als Ihr PC -
                            z.B. '''addieren Sie einfach eine 1''' zum letzten Zahlenblock (schauen Sie sich das Beispiel unten an)! Als Standardgateway und DNS Server müssen Sie die IP Ihres Computers eintragen.<br/><br/>Wenn Sie ein Klasse C Netzwerk nutzen so ist die Standard Subnetzmaske (Subnetzmaske: 255.255.255.0).
                        </p
                        <amp-img
                            on="tap:Direktverbindung_05en"
                            role="button"
                            tabindex="0"
                            src="/images/Quick_Installation/Direktverbindung_05en.jpg" width=600 height=398 layout="responsive" class="shadow">
                        </amp-img>

                        <p>Öffnen Sie den Tab für die IP Konfiguration im INSTAR Kamera Tool und tragen Sie eine gültige IP Adresse für Ihre Kamera ein.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p class="justify">
                            Nach Bestätigung der Eingaben startet sich die Kamera neu. Dies dauert ca. 30 Sekunden. Klicken Sie im Suchtool auf
                            <em>Suchen</em>
                            um die Kamera im Netzwerk zu finden und machen Sie dann einen Doppelklick auf die IP Adresse der Kamera um diese in Ihrem Standard Webbrowser zu öffnen. Wenn Sie einen anderen Webbrowser nutzen möchten, so geben Sie einfach die IP Adresse der Kamera in die Adresszeile des Webbrowsers ein und drücken
                            <em>Bestätigen</em>. Sie sind jetzt bereit um Einstellungen in der Kamera vorzunehmen und das Live Video anzuschauen.
                        </p>
                        <amp-img
                            on="tap:Direktverbindung_06en"
                            role="button"
                            tabindex="0"
                            src="/images/Quick_Installation/Direktverbindung_06en.jpg" width=600 height=398 layout="responsive" class="shadow">
                        </amp-img>

                        <p>Öffnen Sie die IP Adresse der Kamera im Webbrowser.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p class="justify">
                            Wenn Sie die direkte LAN Verbindung wählen um die WLAN Einstellungen vorzunehmen dann gehen Sie bitte auf
                            <a href="http://wiki.instar.de/index.php/HD_Manual_WebUI_Network_WiFi">Netzwerk/WLAN</a>
                            und tragen Sie dort die entsprechenden Daten Ihres WLAN Netzwerkes ein. Starten Sie anschließend die Kamera neu.
							              Als nächstes ändern Sie bitte die IP Einstellungen unter "Netzwerk - IP Konfiguration". Wählen Sie dort am besten
							              "automatische IP Adresse beziehen" aus. Die Kamera wird anschließend neu starten. Sie können jetzt das LAN Kabel
							              abziehen und die Kamera wird sich per WLAN mit Ihrem Router verbinden und von diesem eine IP Adresse erhalten.
							              Um die IP im Netzwerk zu finden suchen Sie die Kamera entsprechend mit dem Kamera Suchtool.
                        </p>
                    </div>
                    <!-- /margin -->

                  </article>
                <!-- /article -->

                    <!-- ###################### Lightboxes ######################## -->

                    <amp-image-lightbox id="Direktverbindung_01en" layout="nodisplay"></amp-image-lightbox>
                    <amp-image-lightbox id="Direktverbindung_02en" layout="nodisplay"></amp-image-lightbox>
                    <amp-image-lightbox id="Direktverbindung_03en" layout="nodisplay"></amp-image-lightbox>
                    <amp-image-lightbox id="Direktverbindung_04en" layout="nodisplay"></amp-image-lightbox>
                    <amp-image-lightbox id="Direktverbindung_MAC_en" layout="nodisplay"></amp-image-lightbox>
                    <amp-image-lightbox id="Direktverbindung_05en" layout="nodisplay"></amp-image-lightbox>
                    <amp-image-lightbox id="Direktverbindung_06en" layout="nodisplay"></amp-image-lightbox>

            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

                <% include ../_partials/content/_bluenav-general-mobile.ejs %>

                <footer>
                    <% include ../_partials/amp/_amp-footer.ejs %>
                </footer>
            </body>
        </html>
