<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap mobile-down">
          <div class="content">
              <section class="hero webUI">
                  <div class="container">
                      <div class="row">
                          <div class="twelve columns">
                              <div class="intro-container">
                                    <h1 itemprop="name">Die Fing Mobile App</h1>
                                    <p class="intro">Fing ist die schnelle und zuverlässige Netzwerk Scanning App. Finden Sie in wenigen Sekunden heraus, welche Geräte in Ihrem Wi-Fi Netzwerk verbunden sind. Fing ist eine professionelle Netzwerk Analyse App. Ein einfaches und intuitives Interface hilft Ihnen, Ihre Sicherheit zu bewerten und Eindringlinge zu erkennen. IP-Scanner für Ihr iPhone, iPad und Android Smartphone</p><a href="https://www.fingbox.com/download" target="_blank"><button type="button" class="btn">DOWNLOAD</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
          </div>

            <div class="wrap">
                <div class="container main">

                  <% include ../_partials/content/_bluenav-general.ejs %>

                      <article itemscope itemtype="http://schema.org/Article" class="content blade wrapper">
                          <!-- article -->

                          <div>
                            <h1>Alternative IP Scanner</h1>
                            <h4>Wie Sie Ihre IP-Kamera in Ihrem Netzwerk mit einem alternativen IP-Scanner finden</h4>
                            <p class="justify"> Das <a href="http://instar.de/media/wysiwyg/Products/Software/Camera_Tool_Win/INSTAR_Camera_Tool_2.0.5.msi.zip" target="_blank">IP Camera Tool (Windows)</a>, <a href="https://itunes.apple.com/de/app/instar-camera-tool/id584435076?mt=12#" target="_blank">IP Camera Tool (MacOSX)</a> oder <a href="http://instar.de/media/wysiwyg/Products/Software/Camera_Tool_Linux/INSTAR_Camera_Tool_LINUX.zip" target="_blank">IP Camera Tool (Linux)</a> ist mit Sicherheit der bequemste Weg um Ihre INSTAR Kamera im Netzwerk zu finden. Anleitungen
                                für das Einrichten Ihrer INSTAR Kamera mit dem INSTAR Kamera Tool finden Sie <a href="http://instar.de/c/faq_erste_schritte_582/">hier.</a></p>
                            <p class="justify"> Sollte Ihnen das Tool nicht zur Verfügung stehen haben Sie jedoch eine Reihe anderer Optionen die IP Adresse aufzufinden. Die Kamera bezieht bei ihrer Erstinstallation eine IP Adresse von Ihrem Router per DHCP. Daher gibt es in den meisten Routern einen Log Eintrag welche IP Adressen kürzlich vergeben wurden. Wenn Sie diese IP Adresse - oder Adressen wenn hier mehrere zu finden sind - einmal in die Adresszeile Ihres Browsers eingeben werden Sie schon auf die Login Seite der Kamera kommen.</p>
                            <p class="justify"> Haben Sie keinen Zugang zum Router oder finden Sie in dessen Oberfläche keine Log Einträge können Sie noch auf allgemeine IP Scanner zurückgreifen. Beispiele wären:</p>
                                  </div>
                                  <div class="margin">
                                      <h2 class="post-title">Fing Mobile (Android/iOS)</h2>
                                      <h4>Fing für Android</h4>
                                      <p class="justify"> Die neueste Version des kostenlosen Programmes "Fing" kann hier heruntergeladen werden: <a href="https://play.google.com/store/apps/details?id=com.overlook.android.fing&hl=en" target="_blank">Google Play</a>. Nach der Installation sehen Sie folgendes Fenster: </p>
                                  </div>

                                   <div class="card-container margin">
                                       <div class="twocard">
                                           <div class="image">
                                             <amp-img
                                                 on="tap:IPScanner_Android_01"
                                                 role="button"
                                                 tabindex="0"
                                                 src="/images/Quick_Installation/IPScanner_Android_01.jpg" width=450 height=750 layout="responsive" class="shadow">
                                             </amp-img>
                                           </div>
                                           <div class="action">
                                               <p>Lassen Sie Fing Ihr Netzwerk scannen nach neuen Netzwerkgeräten.</p>
                                           </div>
                                       </div>
                                       <div class="twocard">
                                           <div class="image">
                                             <amp-img
                                                 on="tap:IPScanner_Android_02"
                                                 role="button"
                                                 tabindex="0"
                                                 src="/images/Quick_Installation/IPScanner_Android_02.jpg" width=450 height=750 layout="responsive" class="shadow">
                                             </amp-img>
                                           <div class="action">
                                               <p>Lassen Sie Fing das Gerät nach aktiven Services suchen.</p>
                                           </div>
                                       </div>
                                     </div>
                                   </div>

                                  <div class="margin">
                                      <p class="justify">Stellen Sie sicher das Ihre Kamera nicht mit dem Netzwerk verbunden ist - scannen Sie jetzt Ihr Netzwerk. Schließen Sie jetzt die Kamera an Ihrem Router an und führen Sie den Scan erneut aus. Die Kamera sollte eine IP Adresse per DHCP vom Router erhalten haben und in der Liste der Geräte angezeigt werden.</p>
                                  </div>

                                  <div class="margin">
                                      <p class="justify">Bitte wählen Sie "Scan services" und wählen Sie den Standardport HTTP Port Ihrer Kamera - der Standard HTTP Port ist 80.</p>
                                  </div>

                                 <div class="card-container margin">
                                     <div class="twocard">
                                         <div class="image">
                                           <amp-img
                                               on="tap:IPScanner_Android_03"
                                               role="button"
                                               tabindex="0"
                                               src="/images/Quick_Installation/IPScanner_Android_03.jpg" width=450 height=750 layout="responsive" class="shadow">
                                           </amp-img>
                                         </div>
                                         <div class="action">
                                             <p>Wählen Sie den Standard HTTP Port der Kamera 80....</p>
                                         </div>
                                     </div>
                                     <div class="twocard">
                                         <div class="image">
                                           <amp-img
                                               on="tap:IPScanner_Android_04"
                                               role="button"
                                               tabindex="0"
                                               src="/images/Quick_Installation/IPScanner_Android_04.jpg" width=450 height=750 layout="responsive" class="shadow">
                                           </amp-img>
                                         <div class="action">
                                             <p>...und wählen Sie die Adresse im Browser zu öffnen.</p>
                                         </div>
                                     </div>
                                   </div>
                                 </div>

                                  <div class="margin">
                                      <p class="justify">Wählen Sie den HTTP Port und dann Open browser um die <a href="/Web_User_Interface/">Weboberfläche</a> Ihrer Kamera zu öffnen..</p>
                                  </div>

                                  <div class="margin">
                                      <p class="justify">Benutzen Sie den Standard Benutzernamen admin und kein Passwort bei den VGA Kameras bzw das Passwort instar bei den HD Kameras, um sich so bei der Kamera anzumelden und nach der Bedienungsanleitung die Einstellungen vorzunehmen.</p>
                                  </div>

                                   <div class="card-container margin">
                                       <div class="twocard">
                                           <div class="image">
                                             <amp-img
                                                 on="tap:IPScanner_Android_05"
                                                 role="button"
                                                 tabindex="0"
                                                 src="/images/Quick_Installation/IPScanner_Android_05.jpg" width=450 height=750 layout="responsive" class="shadow">
                                             </amp-img>
                                           </div>
                                           <div class="action">
                                               <p>Melden Sie sich mit dem Benutzernamen und Passwort bei der Kamera an.</p>
                                           </div>
                                       </div>
                                       <div class="twocard invisible">
                                     </div>
                                   </div>

                                  <div class="margin">
                                      <h2 class="post-title">Fing Mobile (Android/iOS)</h2>
                                      <h4>Fing für iOS</h4>
                                      <p class="justify">Die neueste Version der kostenlosen iOS App "Fing" finden Sie hier: <a href="https://itunes.apple.com/app/id430921107" target="_blank">App Store</a>. Nach der Installation sehen Sie folgende Oberfläche:</p>
                                  </div>

                                 <div class="card-container margin">
                                     <div class="twocard">
                                         <div class="image">
                                           <amp-img
                                               on="tap:IPScanner_iOS_01"
                                               role="button"
                                               tabindex="0"
                                               src="/images/Quick_Installation/IPScanner_iOS_01.jpg" width=450 height=675 layout="responsive" class="shadow">
                                           </amp-img>
                                         <div class="action">
                                             <p>Lassen Sie Fing Ihr Netzwerk scannen nach neuen Netzwerkgeräten.</p>
                                         </div>
                                     </div>
                                   </div>
                                     <div class="twocard">
                                         <div class="image">
                                           <amp-img
                                               on="tap:IPScanner_iOS_02"
                                               role="button"
                                               tabindex="0"
                                               src="/images/Quick_Installation/IPScanner_iOS_02.jpg" width=450 height=675 layout="responsive" class="shadow">
                                           </amp-img>
                                         <div class="action">
                                             <p>Lassen Sie Fing das Gerät nach aktiven Services suchen.</p>
                                         </div>
                                     </div>
                                   </div>
                                 </div>

                                  <div class="margin">
                                      <p class="justify">Stellen Sie sicher das Ihre Kamera nicht mit dem Netzwerk verbunden ist - scannen Sie jetzt Ihr Netzwerk. Schließen Sie jetzt die Kamera an Ihrem Router an und führen Sie den Scan erneut aus. Die Kamera sollte eine IP Adresse per DHCP vom Router erhalten haben und in der Liste der Geräte angezeigt werden.</p>
                                  </div>

                                   <div class="card-container margin">
                                       <div class="twocard">
                                           <div class="image">
                                             <amp-img
                                                 on="tap:IPScanner_iOS_03"
                                                 role="button"
                                                 tabindex="0"
                                                 src="/images/Quick_Installation/IPScanner_iOS_03.jpg" width=450 height=675 layout="responsive" class="shadow">
                                             </amp-img>
                                           <div class="action">
                                               <p>Wählen Sie den Standard HTTP Port der Kamera 80....</p>
                                           </div>
                                       </div>
                                     </div>
                                       <div class="twocard">
                                           <div class="image">
                                             <amp-img
                                                 on="tap:IPScanner_iOS_04"
                                                 role="button"
                                                 tabindex="0"
                                                 src="/images/Quick_Installation/IPScanner_iOS_04.jpg" width=450 height=675 layout="responsive" class="shadow">
                                             </amp-img>
                                           <div class="action">
                                               <p>...und wählen Sie das die Weboberfläche im Webbrowser geöffnet wird.</p>
                                           </div>
                                       </div>
                                     </div>
                                   </div>

                                  <div class="margin">
                                      <p class="justify">Bitte wählen Sie "Scan services" und wählen Sie den Standardport HTTP Port Ihrer Kamera - der Standard HTTP Port ist 80.</p>
                                  </div>

                                  <div class="margin">
                                      <p class="justify">Wählen Sie den HTTP Port und dann Open browser um die <a href="/Web_User_Interface/">Weboberfläche</a>. Ihrer Kamera zu öffnen.</p>
                                  </div>

                                  <div class="margin">
                                      <p class="justify">Benutzen Sie den Standard Benutzernamen admin und kein Passwort bei den VGA Kameras bzw das Passwort instar bei den HD Kameras, um sich so bei der Kamera anzumelden und nach der Bedienungsanleitung die Einstellungen vorzunehmen.</p>
                                  </div>


                        </article>
                <!-- /article -->

                  <!-- ###################### Lightboxes ######################## -->

                  <amp-image-lightbox id="IPScanner_Android_01" layout="nodisplay"></amp-image-lightbox>
                  <amp-image-lightbox id="IPScanner_Android_02" layout="nodisplay"></amp-image-lightbox>
                  <amp-image-lightbox id="IPScanner_Android_03" layout="nodisplay"></amp-image-lightbox>
                  <amp-image-lightbox id="IPScanner_Android_04" layout="nodisplay"></amp-image-lightbox>
                  <amp-image-lightbox id="IPScanner_Android_05" layout="nodisplay"></amp-image-lightbox>
                  <amp-image-lightbox id="IPScanner_iOS_01" layout="nodisplay"></amp-image-lightbox>
                  <amp-image-lightbox id="IPScanner_iOS_02" layout="nodisplay"></amp-image-lightbox>
                  <amp-image-lightbox id="IPScanner_iOS_03" layout="nodisplay"></amp-image-lightbox>
                  <amp-image-lightbox id="IPScanner_iOS_04" layout="nodisplay"></amp-image-lightbox>

            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

                <% include ../_partials/content/_bluenav-general-mobile.ejs %>

                <footer>
                    <% include ../_partials/amp/_amp-footer.ejs %>
                </footer>
            </body>
        </html>
