<!DOCTYPE html>
<html ⚡ lang="de">

<head>
  <% include ../_partials/amp/_amp-head.ejs %>
    <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
</head>

<body class="home">

  <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
    <% include ../_partials/amp/_ampLandingSidebar.ejs %>
  </amp-sidebar>

  <header class="header fixed">
    <% include ../_partials/amp/_amp-header.ejs %>
  </header>

  <div class="wrap">
    <div class="container main">

      <% include ../_partials/content/_bluenav-general.ejs %>

        <article class="content blade wrapper">
          <!-- article -->
          <h1>Erste Schritte mit Ihrer neuen Kamera:</h1>
          <div class="margin">
            <p>Im Folgenden geben wir Ihnen eine kurze Einführung in die Grundfunktionen und die Ersten Schritte mit Ihrer neuen Kamera. Wir erläutern auf was man anfangs achten sollte und die häufigsten Einsteiger-Fragen werden beantwortet. Für eine unkomplizierte Einrichtung der Kamera folgen Sie zunächst einfach der Anleitung unseres Schnellinstallations-Assitents oder sehen Sie sich unser Einrichtungs-Video an:</p>
          </div>

          <div>
            <table class="no-highlight">
              <tr>
                <td>
                  <h2 class="inlineHeader">Schnellinstallations-Assistent&nbsp;&nbsp;&nbsp;</h2>
                </td>
                <td>
                  <a href="http://install.instar.de" target="_blank"><button class="navGo navGoRed">Start!</button></a>
                </td>
              </tr>
            </table>
          </div>
          <!-- /margin -->
          <br><br>
          <div class="card-container">
            <div class="onecard">
              <amp-youtube data-videoid="ByMkfVgjl3c" layout="responsive" width="480" height="270" class="shadow"></amp-youtube>
            </div>
          </div>

          <div class="margin">
            <h1>Hinweise zum Anfang:</h1>

            <ul>
              <li>Der <a href="https://install.instar.de/">Schnellinstallations-Assistent</a> hat Sie bereits durch das Anlegen eines Administrator-Benutzerzugangs geleitet. Wenn Sie nachträglich die <strong>Benutzerdaten ändern</strong> möchten, oder einen zusätzlichen Benutzer oder Besucher-Account anlegen möchten, klicken Sie bitte <a href="/Quick_Installation/Creating_User_Accounts">hier</a>.<br/><br/></li>

              <li>Sie können Ihre Kamera nicht mit unserem Kamera Tool für <a href="http://www.instar.de/media/wysiwyg/Products/Software/Camera_Tool_Win/INSTAR_Camera_Tool_2.0.6.msi.zip" target="_blank">Windows</a>, <a href="https://itunes.apple.com/de/app/instar-camera-tool/id584435076?mt=12#"
                  target="_blank">macOS</a> oder <a href="http://www.instar.de/media/wysiwyg/Products/Software/Camera_Tool_Linux/INSTAR_Camera_Tool_LINUX.zip" target="_blank">LINUX</a> finden? Benutzen Sie einfach einen <a href="/Quick_Installation/Alternative_IP_Scanner">Alternativen IP Scanner</a> oder verbinden Sie Ihre Kamera <a href="/Quick_Installation/Direct_LAN_Connection">direkt mit Ihren Computer</a>.<br/><br/></li>

              <li>Alle Kamerafunktionen sind über die <strong>Weboberfläche</strong> (WebUI) konfigurierbar. Klicken Sie hier um zu den Anleitungen der <a href="/Web_User_Interface/1080p_Series/">1080p Serie</a> oder <a href="/Web_User_Interface/720p_Series/">720p Serie</a> WebUI zu gelangen. Sollte die Weboberfläche nicht in Ihrer Sprache angezeigt werden, finden Sie <a href="/Quick_Installation/Language_Selection">hier</a> eine Anleitung zum Ändern der Sprache.<br/><br/></li>

              <li>Wir empfehlen, dass Sie die Firmware und WebUI Ihrer Kamera immer auf dem aktuellsten Stand halten. Informationen zum <strong>Update der Kamera-Software</strong> finden Sie <a href="/Quick_Installation/WebUI_And_Firmware_Upgrade">hier</a>.<br/><br/></li>
              <li>Möchten Sie einen <strong>Zugriff</strong> auf Ihre Kamera haben, wenn Sie <strong>unterwegs</strong> sind? Lernen Sie alles über unseren <a href="/Internet_Access/The_DDNS_Service">DDNS Dienst</a> und das <a href="/Internet_Access/Port_Forwarding">Weiterleiten eines Ports</a> in Ihrem Router.<br/><br/></li>

              <li>Wenn Ihr Browser das <strong>Live Video</strong> nicht abspielt, finden Sie <a href="/Quick_Installation/Live_Video">hier</a> eine Anleitung zum Ändern des Video Modus.<br/><br/></li>
              <li>Konfigurieren Sie die <a href="/Motion_Detection/Setup">Bewegungserkennung</a> der Kamera und richten Sie sich eine <a href="/Motion_Detection/Alarm_Notification">Alarm Benachrichtigung</a> ein.<br/><br/></li>

              <li>Möchten Sie einen Vollzugriff auf Ihre Kamera haben, wenn Sie unterwegs sind? Lernen Sie alles über unseren <a href="/Internet_Access/The_DDNS_Service">DDNS Dienst</a> und das <a href="/Internet_Access/Port_Forwarding">Weiterleiten eines Ports</a> in Ihrem Router.<br/><br/></li>

              <li>Für weiter führende Informationen besuchen Sie bitte unsere Online Handbücher für die Kameramodelle: <a href="/Outdoor_Cameras/IN-5905_HD/Usermanual">IN-5905 HD</a>, <a href="/Outdoor_Cameras/IN-5907_HD/Usermanual">IN-5907 HD</a>, <a href="/Indoor_Cameras/IN-6001_HD/Usermanual">IN-6001 HD</a>,
                <a href="/Indoor_Cameras/IN-6012_HD/Usermanual">IN-6012 HD</a>, <a href="/Indoor_Cameras/IN-6014_HD/Usermanual">IN-6014 HD</a>, <a href="/Outdoor_Cameras/IN-7011_HD/Usermanual">IN-7011 HD</a>, <a href="/Indoor_Cameras/IN-8015_HD/Usermanual">IN-8015 HD</a> und <a href="/Outdoor_Cameras/IN-9008_HD/Usermanual">IN-9008 HD</a>.</li>

            </ul>
          </div>

          <br><br><br>

          <h1>Häufige Fragen am Anfang:</h1>
          <i>Klicken Sie zur Anzeige der Antwort einfach auf das Thema:</i>

          <amp-accordion disable-session-states class="margin">
            <section>
              <h3 class="cgi-accordion-header">+ Speichermöglichkeiten der Kameraaufnahmen</h3>
              <p class="content">Es gibt insgesamt <strong>fünf</strong> verschiedene Speichermöglichkeiten bei unseren Überwachungskameras:<br>
                <b>1.</b> Alle unserer HD Videoüberwachungskameras haben eine eingebaute <strong>SD-Karte</strong> mit 4GB, 8GB oder 16GB, je nach Modell. Sie können berechnen, wie lange die SD-Karte aufnehmen kann. Schauen Sie dafür <a href="http://www.instar.de/tools/calc_sdcapacity">hier</a>.
                Standardmäßig werden bei voller SD-Karte die ältesten Aufnahmen überschrieben.<br>
                <b>2.</b> Wir bieten für die Speicherung der Alarmvideos eine eigene <strong>Cloud</strong>-Lösung an. Mit der INSTAR Cloudspeicherung erhalten Sie eine übersichtliche Oberfläche und Anordnung Ihrer Sicherheitskameras-, sowie deren
                Aufnahmen. Dies hat den Vorteil, dass, sollte die IP Kamera zerstört- oder die SD-Karte entnommen werden, Ihre Aufnahmen auf der Cloud erhalten bleiben und nicht verloren gehen.<br>
                <b>3.</b> Sie können die InstarVision 2.0, eine <strong>Windows PC Software</strong> von uns, einsetzen. Mit dieser Software sind Sie nicht nur in der Lage, die Kameras komfortabel anzuzeigen und zu verwalten, Sie können auch Aufnahmen
                und Alarmvideos auf dem Computer speichern. Der Computer muss für die Aufnahme durchgehend laufen.<br>
                <b>4.</b> Sie haben auch die Möglichkeit, Videoalarme per <strong>FTP</strong> (File Transfer Protocol) zu versenden, zB an einen USB-Stick an Ihrem Router. Die Verwaltung und das Löschen der Videodaten auf dem FTP Server kann dabei
                jedoch nicht über die Kamera geschehen, die Kameras können die Daten lediglich übertragen.<br>
                <b>5.</b> Wenn Sie keinen PC laufen lassen möchten, dann gibt es auch <strong>NAS Systeme</strong>, z. B. von Synology und QNAP, diese haben eine eigene Videoüberwachungssoftware und können das Livevideo unserer Überwachungskamera
                abgreifen und entsprechend verarbeiten. Endgeräte der Firmen Synology und QNAP vertreiben wir selbst nicht, wir haben aber gute Erfahrungen mit Produkten dieser Firmen gemacht und können diese daher empfehlen. All unsere HD und FullHD
                Kameras sind kompatibel.<br>
                <b>Zusatz:</b> Sie können sich außerdem Alarm-Fotos per E-Mail sofort zuschicken lassen. Somit werden Sie nicht nur umgehend informiert, sondern können die Alarmaufnahmen auch in Ihrem E-Mail-Postfach speichern.
              </p>
            </section>
            <section>
              <h3 class="cgi-accordion-header">+ Zugriff auf die Kamera via Smartphone-App</h3>
              <p class="content">Mit unserer kostenlosen App <strong>InstarVision</strong> für Android, iPhone, iPad & Windows Phone können Sie einfach das Livebild Ihrer Sicherheitskamera aufrufen. Ausserdem können Sie mit der App von unterwegs jederzeit auf die
                Speicherkarte zugreifen und sich die Videos anschauen, die aufgenommen wurden. Auch Anwendungen, wie z. B. Alarm ein-/ausschalten oder die Kamera als Gegensprechanlage zu nutzen, können Sie damit realisieren.</p>
            </section>
            <section>
              <h3 class="cgi-accordion-header">+ Anschlusskabel der Außenkameras</h3>
              <p class="content">Abgesehen von unseren FullHD-Modellen haben alle unsere Außenkameras eine sogenannte Kabelpeitsche, an der sich sämtliche Anschlüsse befinden. Dieser Kabelbaum ist 80cm lang und relativ dick. Um kein grosses Loch in die Hauswand, etc.
                bohren zu müssen, kann man das <strong>Anschlusskabel von der Sicherheitskamera lösen</strong> und so das dünnere Ende durch die Mauer führen. Ein Anleitungs-Video zur Umsetzung finden Sie <a href="https://www.youtube.com/watch?v=UxnCqE1YU0k">hier</a>.<br>                      Von einem Abschneiden nicht benötigter Kabel raten wir dringend ab. Nicht nur verlieren Sie dadurch die Garantie für Ihre Überwachungskamera, sondern Sie riskieren auch irreparable Schäden an der Kamera. Eine Lösung wäre das Kabel
                in einer wetterfesten Kabelbox zu verlegen, wie man sie im Baumarkt findet (Wir selbst bieten solch ein Produkt nicht an). Dabei ist zu beachten, dass die Kabel von unten und nicht von oben in die Box führen, sodass z. B. Regen nicht
                am Kabel entlang in die Box laufen kann. </p>
            </section>
            <section>
              <h3 class="cgi-accordion-header">+ Heizung für die Außenkamera</h3>
              <p class="content">Ob eine Heizung für Ihre Überwachungskamera notwendig ist oder nicht hängt vom Einsatzort ab. Die Kameras sind bei bis zu -5 Grad Celsius ohne Probleme einsatzbereit. Sollte es mal kälter werden und/oder die Kamera stark dem Wetter
                ausgesetzt sein, was in vielen Regionen Deutschlands der Fall ist, wird die Kamera keinen bleibenden Schaden abbekommen. Aber es kann passieren, dass die Aussenkamera sich ausschaltet und vorübergehend nicht erreichbar ist. Der Einabu
                einer Heizung kann dann den dauerhaften Betrieb der Kamera sicherstellen.</p>
            </section>
            <section>
              <h3 class="cgi-accordion-header">+ Zoom-Objektiv</h3>
              <p class="content">All unsere HD und FullHD Überwachungskameras haben keinen optischen Zoom, sondern einen digitalen Zoom. Beim digitalen Zoom werden die vorhandenen Bildinformationen sozusagen "hochgerechnet", die Pixel werden also einfach vergrößert.
                Bei unseren HD Kameras liefert der digitale Zoom Ihnen dennoch eine bessere Bildqualität als die optische Zoomfunktion der alten VGA-Serie.</p>
            </section>
            <section>
              <h3 class="cgi-accordion-header">+ Akku und/oder SIM-Karten</h3>
              <p class="content">Unsere Kameras verfügen über <strong>keinen Akku</strong>, das heißt, die Kamera bedarf einer externen Stromversorgung, entweder über das mitgelieferte Netzteil oder, im Falle von Power over Ethernet (PoE) Überwachungskameras, über
                das Netzwerkkabel. Mehr Informationen zu unseren PoE Sicherheitskameras finden Sie <a href="https://www.instar.de/poe-netzwerkkameras.html">hier</a>.
                <br>Unsere Kameras haben <strong>keinen Sim-Karten-Slot</strong>. Wollen Sie die Kamera an einem Ort verwenden, an dem es keinen Internet-Zugang gibt, haben Sie die Möglichkeit einen mobilen LTE Router oder 3G Router zu verwenden
                und diesen mit einer Sim-Karte auszustatten. Die Kamera kann dann über diesen Router mit dem Internet verbunden werden und Ihnen den Zugriff über die App ermöglichen. Wir selbst bieten solche Router nicht an, Sie können sich aber
                bei einem Elektronik-Fachmarkt Ihrer Wahl darüber informieren. </p>
            </section>
            <section>
              <h3 class="cgi-accordion-header">+ Dauer der Alarmvideos</h3>
              <p class="content">Die Alarmaufnahme auf die SD Karte beginnt 3 Sekunden vor dem auslösenden Ereignis und läuft bis 15 Sekunden nach dem Alarmereignis weiter - insgesamt sind die Videos somit 17-18s lang. Sollte die Bewegung vor der Kamera weitergehen,
                wird umgehend ein neues 15-sekündiges Video angelegt.</p>
            </section>
            <section>
              <h3 class="cgi-accordion-header">+ Zeitraffer-Aufnahmen</h3>
              <p class="content">Mit unseren Überwachungskameras können Sie auch Zeitraffer-Aufnahmen erstellen. Sollten Sie z. B. den Fortschritt einer Baustelle dokumentieren wollen, wären unsere Kameras ideal. Über die Benutzeroberfläche (Aufnahme -> Fotoserie)
                können Sie der Sicherheitskamera den Befehl geben, in von Ihnen festgelegten Intervallen einen Screenshot zu erstellen, die Sie anschließend in ein Zeitraffer-Video zusammenfügen können. Sie können auch über die Option „Zeitplan“
                gewisse Zeiten rausnehmen, z. B. wenn Sie nachts keine Aufnahmen erstellen lassen möchten. Das kleinste Zeitintervall für die Screenshots beträgt eine Minute, der größte 24 Stunden. Wie genau Sie diese Einstellungen vornehmen und
                ein Zeitraffer-Video erstellen können, ist <a href="/Software/Windows/InstarVision/Record/Photoseries">hier</a> noch einmal im Detail erklärt</p>
            </section>
            <section>
              <h3 class="cgi-accordion-header">+ Synology Surveillance Station oder QNAP NAS</h3>
              <p class="content">Synology und QNAP haben eine eigene Videoüberwachungssoftware und können das Livevideo unserer Überwachungskamera abgreifen und entsprechend verarbeiten. Endgeräte der Firmen Synology und QNAP vertreiben wir selbst nicht, wir haben
                aber gute Erfahrungen mit Produkten dieser Firmen gemacht und können diese daher empfehlen. All unsere HD und FullHD Kameras sind kompatibel. Für die Einbindung in eine Synology NAS haben wir <a href="https://wiki.instar.de/Software/Other_Platforms/Synology/">hier</a>                      ein Video.</p>
            </section>
          </amp-accordion>

          <!-- /margin -->

        </article>
        <!-- /article -->
    </div>
    <!-- /container main -->
  </div>
  <!-- /wrap-->

  <% include ../_partials/content/_bluenav-general-mobile.ejs %>

    <footer>
      <% include ../_partials/amp/_amp-footer.ejs %>
    </footer>
</body>

</html>
