<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap">
          <div class="container main">

            <% include ../_partials/content/_bluenav-general.ejs %>

            <section itemscope itemtype="http://schema.org/Article" class="blade wrapper content">
              <% include ../_partials/amp/_schemaArticle.ejs %>

            <div class="container">
                <div class="row">
                    <div class="twelve columns">
                      <h2 itemprop="name">Wie man den Browser-Verlauf in Microsoft Edge löscht</h2>
                      <p class="justify">Manchmal verhält sich die Weboberfläche der Kamera nicht so wie sie soll. Sie haben Ihre Kamerasoftware aktualisiert, aber die Oberfläche zeigt immer noch die alte Versionsnummer an? Ein Update sollte neue Funktionen hinzufügen, aber diese können Sie nirgens finden? Oder lassen sich bestimmte Funktionen einfach nicht mehr einstellen? In diesem Fall kann es sein, dass Ihr Browser alte Teile der Weboberfläche gespeichert (cached) hat und sich einfach weigert diese noch einmal neu von der Kamera zu laden. Hier finden Sie Anleitungen , wie Sie diese veralteten Dateien entfernen und ggf. den Cache des Browsers auch gleich ganz deaktivieren können:</p>
                    </div>
                </div>

                <div class="margin">
                      <amp-img
                          on="tap:Edge-Clean-History_01"
                          role="button"
                          tabindex="0"
                          src="/images/Quick_Installation/Edge-Clean-History_01.png" width=800 height=276 layout="responsive" class="shadow">
                      </amp-img>
                    <p>Öffnen Sie das Optionsmenü und klicken Sie auf <strong>Einstellungen</strong>.</p>
                </div>
                <!-- /margin -->

                <div class="margin">
                      <amp-img
                          on="tap:Edge-Clean-History_02"
                          role="button"
                          tabindex="0"
                          src="/images/Quick_Installation/Edge-Clean-History_02.png" width=800 height=278 layout="responsive" class="shadow">
                      </amp-img>
                    <p>Scrollen Sie zum <strong>Privatsphäre</strong> Abschnitt und klicken Sie auf <em>Browser-Daten löschen</em>.</p>
                </div>
                <!-- /margin -->

            </div>
        </section>

            <!-- ###################### Lightboxes ######################## -->

            <amp-image-lightbox id="Edge-Clean-History_01" layout="nodisplay"></amp-image-lightbox>
            <amp-image-lightbox id="Edge-Clean-History_02" layout="nodisplay"></amp-image-lightbox>

      </div>
    </div>

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
