<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Quick-Installation/How_Does_An_IP_Camera_Work">
    </head>

    <body class="home">

      <header class="fixed">
          <% include ../_partials/amp/_amp-header.ejs %>
      </header>

        <div class="wrap">
            <div class="container main">
                <% include ../_partials/content/_bluenav-qi.ejs %>


                    <article class="content">
                    <!-- article -->

                        <div class="margin">
                          <table>
                            <tr>
                              <td>
                                <h2 class="inlineHeader">Schnellinstallation Assistent&nbsp;&nbsp;&nbsp;</h2>
                              </td>
                              <td>
                                <a href="http://install.instar.de" target="_blank"><button class="navGoRed">Start!</button></a>
                              </td>
                            </tr>
                          </table>
                        </div>
                        <!-- /margin -->

                        <div class="card-container">
                          <div class="onecard">
                            <amp-youtube data-videoid="JWa1L_rBRW4" layout="responsive" width="480" height="270" class="shadow"></amp-youtube>
                          </div>
                        </div>

                        <div class="margin">
                            <h1>Wie arbeitet eine IP Kamera?</h1>
                            <br>
                            <h4>Dieses Video beinhaltet einen kurzen Überblick über die Grundfunktionen einer IP Kamera wie z.B.</h4>
                            <ul>
                                <li>LAN oder WiFi Konnektivität</li>
                                <li>Zugriff über das Internet mit Hilfe von DDNS (<a href="/Internet_Access/The_DDNS_Service">Dynamic Domain Name Service</a>)</li>
                                <li>Interne IP Adresse gegenüber der Internet IP Adresse</li>
                                <li>Was ist der Unterschied zwischen der internen IP (LAN) und der externen IP Adresse (WAN)</li>
                                <li>Interner Port / externer Port - Wie öffnet man die Tür aus bzw. ins Internet (<a href="/Internet_Access/Port_Forwarding">Port Weiterleitung</a>)</li>
                            </ul>
                        </div>
                        <!-- /margin -->

                        <div class="card-container">
                          <div class="onecard">
                            <amp-youtube data-videoid="LUGQhfjHiHA" layout="responsive" width="480" height="270" class="shadow"></amp-youtube>
                          </div>
                        </div>

                        <div class="card-container">
                          <div class="onecard">
                            <amp-youtube data-videoid="FjE95bL7_p4" layout="responsive" width="480" height="270" class="shadow"></amp-youtube>
                          </div>
                        </div>

                </article>
            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../_partials/content/_bluenav-qi-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
