<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap">
          <div class="container main">

            <% include ../_partials/content/_bluenav-general.ejs %>

                <article itemscope itemtype="http://schema.org/Article" class="blade wrapper content">
                  <% include ../_partials/amp/_schemaArticle.ejs %>

                    <h1 itemprop="name">Wie funktioniert eine IP-Kamera?</h1>
                    <div class="margin">
                      <p>Eine IP-Kamera ist zwar ein komplexes Produkt, jedoch nicht kompliziert in der Anwendung. Im Folgenden möchten wir Ihnen die grundlegende Funktionsweise einer IP-Kamera erklären. Wenn Sie noch mehr Informationen zu unseren Kameras suchen können Sie bei <a href="/Quick_Installation/First_Steps/">Erste Schritte</a> weiterlesen, dort werden wir näher auf die Anwendung unserer Kameras eingehen.<br><br>
                      Nun aber erstmal zum Prinzip IP-Kamera:</p>
                    </div>

                        <div class="card-container">
                          <div class="onecard">
                            <amp-youtube data-videoid="JWa1L_rBRW4" layout="responsive" width="480" height="270" class="shadow"></amp-youtube>
                          </div>
                        </div>
                        <i>In diesem Video erhalten Sie eine kurze Einführung über die Funktionsweise einer IP-Kamera.</i>

                        <div class="margin">
                          <h4>Was ist eine IP-Kamera und wie funktioniert sie?</h4>
                          <p>Das "IP" in IP-Kamera ist die Abkürzung für "Internet Protocol". Das heißt, diese Kamera kann mit einem Netzwerk verbunden und dann von anderen Geräten darauf zugegriffen werden. Dies kann nicht nur aus dem gleichen lokalen Netzwerk geschehen, sonern auch aus dem Internet.<br>
                          Bei unseren Instar IP-Kameras funktioniert das dann so:
                        <ul>
                          <li>Sie verbinden Ihre Kamera per Kabel oder per WLAN mit Ihrem Router. Wenn Sie sich mit Ihrem Computer oder Smartphone im selben Netzwerk befinden geben Sie einfach die IP-Adresse der Kamera ein oder nutzen unser Instar Kamera Tool, und schon können Sie auf die Kamera zugreifen.</li>
                          <li>Sie können sich mit Ihrer Kamera auch über das Internet verbinden. Dies geschieht entweder per <a href="/Internet_Access/The_DDNS_Service/">DDNS-Adresse</a> oder per <a href="/Internet_Access/Point_to_Point/">P2P</a>.</li>
                          <li>Wenn Sie die Kamera aufrufen, gelangen Sie auf deren <a href="/Web_User_Interface/1080p_Series/Overview/">Weboberfläche</a>. Dort können Sie Einstellungen wie Alarme, Zeitpläne oder Videokonfiguration vornehmen und diese werden dann auf der Kamera gespeichert.</li>
                          <li>Die Kamera überwacht den Bildbereich und gibt Alarm wenn sich dort etwas bewegt. Ab wann <a href="/Motion_Detection/Setup/">Alarm ausgelöst</a> wird und was dann geschieht können Sie individuell einstellen. Auch das manuelle Aufnehmen nach <a href="/Motion_Detection/Alarm_Recording/">Zeitplan</a> ist möglich.</li>
                        </ul>
                      <p>Dies ist das Grundprinzip unserer Kameras. Für weitere Informationen können Sie zu <a href="/Quick_Installation/First_Steps/">Erste Schritte</a> schauen oder einfach unser Wiki durchstöbern. Gerne helfen wir Ihnen bei unbeantworteten Fragen natürlich auch <a href="https://www.instar.de/contact_us/">persönlich</a> weiter.</p>
                      </p><br>
                        </div>
                        <!-- /margin -->
                        <i>Weitere Informationen zu Funktionen und Betriebsweise unserer IP-Kameras gibt es auch in folgenden Videos:</i>
                        <div class="card-container">
                          <div class="onecard">
                            <amp-youtube data-videoid="LUGQhfjHiHA" layout="responsive" width="480" height="270" class="shadow"></amp-youtube>
                          </div>
                        </div>

                        <div class="card-container">
                          <div class="onecard">
                            <amp-youtube data-videoid="FjE95bL7_p4" layout="responsive" width="480" height="270" class="shadow"></amp-youtube>
                          </div>
                        </div>

                </article>
            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
