<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

    <div class="wrap">
        <div class="container main">

          <% include ../_partials/content/_bluenav-general.ejs %>

                <section itemscope itemtype="http://schema.org/Article" class="blade wrapper content">

                    <div class="container">
                        <div class="row">
                            <div class="twelve columns">
                                <h1 itemprop="name">AVIRA Antivirus Pro</h1>
                                <h2>Eine Ausnahme für Ihre IP-Kamera hinzufügen</h2>
                            </div>
                        </div>

                        <div class="margin">
                            <div>
                                <p class="justify">
                                  Avira Antivirus Pro kann möglicherweise den Videostream blockieren, wenn Sie das erste Mal mit dem Internet Explorer auf Ihre IP-Kamera zugreifen (andere Browser sind nicht betroffen). Das Problem wird durch den Avira Echtzeitscanner verursacht, der das Active X Control, dass von den Kameras genutzt wird (SEWebClientPlus.ocx für die HD Kameras oder DVM_IPCam2.ocx für VGA Kameras). Bitte deaktivieren Sie den Echtzeitscanner und laden Sie die Weboberfläche innerhalb Ihres Internet Explorers neu. Sie werden gefragt, ob Sie das ActiveX Plugin installieren wollen - bestätigen Sie einfach den Installationsprozess, danach reaktivieren Sie den Antivirus Schutz. Laden Sie die Weboberfläche neu - das Video sollte nun automatisch laden.                                </p>
                            </div>
                        </div>
                        <!-- /margin -->

                       <div class="card-container">
                           <div class="twocard">
                               <div class="image">
                                   <amp-img class="shadow" noloading height=225 width=200 layout=responsive src="/images/Quick_Installation/Anvira_01.png"></amp-img>
                               </div>
                               <div class="action">
                                  <h4>Öffnen Sie das Konfigurationsmenü</h4>
                                  <br>
                                   <p>Bitte klicken Sie mit einem Rechtsklick auf das Avira Regenschirm Icon unten rechts in der Taskleiste.<br><br></p>
                               </div>
                           </div>
                            <!-- /Twocard -->
                           <div class="twocard">
                               <div class="image">
                                   <amp-img class="shadow" noloading height=225 width=200 layout=responsive src="/images/Quick_Installation/Anvira_02.png"></amp-img>
                               </div>
                               <div class="action">
                                  <h4>Deaktivieren Sie den Echtzeitscanner</h4>
                                  <br>
                                  <p>Auswählen, um den Echtzeitscanner zu deaktiveren und das ActiveX Plugin zu installieren. Reaktivieren Sie den Scanner danach wieder.</p>
                               </div>
                           </div>
                            <!-- /Twocard -->
                       </div>
                        <!-- /Card-Container -->

                        <div class="margin">
                            <div>
                                <p class="justify">
                                  Das ActiveX Plugin für die HD Kamera können Sie unter C:/Windows/SystemWOW64 (oder System32) und heißt SEWebClientPlus.ocx für die HD Kameras (oder DVM_IPCam2.ocx in C:\Windows\Downloaded Program Files für die VGA Kameras). Für den Fall, dass das Video der HD Kamera funktioniert aber Sie den integrierten Mediaplayer nicht starten können müssen Sie zusätzlich eine Ausnahme für die Datei SEPlayerPlus.exe, die ebenfalls unter C:/Windows/SystemWOW64 (oder System32) liegt, eintragen. Wenn Sie auf Probleme während der Einstellungen treffen, können Sie sich jederzeit innerhalb unserer Bürozeiten bei uns melden. Wir versuchen, dass Problem so schnell wie möglich zu lösen.
                                </p>
                            </div>
                        </div>
                        <!-- /margin -->

                    </div>
                    <!-- /Container -->
                </section>
                <!-- /blade -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /WRAP -->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
