<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

    <div class="wrap">
        <div class="container main">

          <% include ../_partials/content/_bluenav-general.ejs %>

                <section itemscope itemtype="http://schema.org/Article" class="blade wrapper content">

                    <div class="container">
                        <div class="row">
                            <div class="twelve columns">
                                <h1 itemprop="name">Kaspersky Internet Security 2014</h1>
                                <h2>Eine Ausnahme für Ihre IP-Kamera hinzufügen</h2>
                            </div>
                        </div>

                        <div class="margin">
                            <div>
                                <p class="justify">
                                  In manchen Fällen kann es dazu kommen, dass der Virenscanner Kaspersky den Videostream Ihrer Kamera blockt. Eigentlich blockt es das ActiveX und das Quicktime Plugin beim Empfangen des Videostreams. In diesem Fall müssen Sie eine Ausnahme in Kaspersky eintragen, damit es den Videostream nicht mehr blockt.
                                </p>
                            </div>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <amp-img
                              on="tap:Kaspersky_Internet_Security_2015_Step1_EN"
                              role="button"
                              tabindex="0"
                              src="/images/Quick_Installation/Kaspersky_Internet_Security_2015_Step1_EN.png" width="650" height="345" layout="responsive" class="shadow">
                          </amp-img>
                              <div>
                                  <p class="justify">
                                    Wenn das Video Ihrer Kamera nicht lädt, müssen Sie möglicherweise Kaspersky mitteilen, der Webseite zu vertrauen...
                                  </p>
                              </div>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <amp-img
                              on="tap:Kaspersky_Internet_Security_02_EN"
                              role="button"
                              tabindex="0"
                              src="/images/Quick_Installation/Kaspersky_Internet_Security_02_EN.jpg" width="650" height="490" layout="responsive" class="shadow">
                          </amp-img>
                            <div>
                                <p class="justify">
                                  <strong>Schritt 1</strong>: Bitte öffnen Sie Kaspersky durch Klicken auf das Kaspersky Symbol auf der rechten Seite der Windows Taskleiste. Ein anderer Weg ist Kaspersky direkt über das Startmenü zu öffnen. Nachdem Sie Kaspersky geöffnet haben, klicken Sie bitte auf Einstellungen.
                                </p>
                            </div>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <amp-img
                              on="tap:Kaspersky_Internet_Security_2015_Step3_EN"
                              role="button"
                              tabindex="0"
                              src="/images/Quick_Installation/Kaspersky_Internet_Security_2015_Step3_EN.png" width="650" height="491" layout="responsive" class="shadow">
                          </amp-img>
                            <div>
                                <p class="justify">
                                    <strong>Schritt 2</strong>: Im Fenster Schutz klicken Sie bitte auf die Einstellungen Web Anti-Virus.
                                </p>
                            </div>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <amp-img
                              on="tap:Kaspersky_Internet_Security_2015_Step4_EN"
                              role="button"
                              tabindex="0"
                              src="/images/Quick_Installation/Kaspersky_Internet_Security_2015_Step4_EN.png" width="650" height="490" layout="responsive" class="shadow">
                          </amp-img>
                            <div>
                                <p class="justify">
                                    <strong>Schritt 3</strong>: Unter den Anti-Virus Einstellungen klicken Sie bitte auf Erweiterte Einstellungen.
                                </p>
                            </div>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <amp-img
                              on="tap:Kaspersky_Internet_Security_2015_Step5_EN"
                              role="button"
                              tabindex="0"
                              src="/images/Quick_Installation/Kaspersky_Internet_Security_2015_Step5_EN.png" width="650" height="490" layout="responsive" class="shadow">
                          </amp-img>
                            <div>
                                <p class="justify">
                                    <strong>Schritt 4</strong>: Bitte klicken Sie auf Vertrauenswürdige Webseiten konfigurieren.
                                </p>
                            </div>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <amp-img
                              on="tap:Kaspersky_Internet_Security_2015_Step6_EN"
                              role="button"
                              tabindex="0"
                              src="/images/Quick_Installation/Kaspersky_Internet_Security_2015_Step6_EN.png" width="650" height="491" layout="responsive" class="shadow">
                          </amp-img>
                            <div>
                                <p class="justify">
                                    <strong>Schritt 5</strong>: Im folgenden Fenster klicken Sie bitte auf Hinzufügen.
                                </p>
                            </div>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                          <amp-img
                              on="tap:Kaspersky_Internet_Security_2015_Step7_EN"
                              role="button"
                              tabindex="0"
                              src="/images/Quick_Installation/Kaspersky_Internet_Security_2015_Step7_EN.png" width="650" height="491" layout="responsive" class="shadow">
                          </amp-img>
                            <div>
                                <p class="justify">
                                    <strong>Schritt 6</strong>: Bitte geben Sie die IP-Adresse Ihrer Kamera ein. Es ist sehr wichtig ein http:// vor und eine Wildcard /* nach der IP-Adresse einzugeben.
                                </p>
                            </div>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <div>
                                <p class="justify">
                                  <strong>Schritt 7</strong>: Zum Schluss laden Sie bitte die Weboberfläche Ihrer IP-Kamera neu. Dies kann entweder durch den Refresh-Button neben der Adressleiste Ihres Browsers gemacht werden oder durch Schließen und Neustarten des Webbrowsers mit anschließend erneuter Eingabe der IP-Adresse in die Adressleiste.
                                </p>
                                <amp-img
                                    on="tap:Kaspersky_Internet_Security_2015_Step8_EN"
                                    role="button"
                                    tabindex="0"
                                    src="/images/Quick_Installation/Kaspersky_Internet_Security_2015_Step8_EN.png" width="650" height="346" layout="responsive" class="shadow">
                                </amp-img>
                            </div>
                        </div>
                        <!-- /margin -->

                    </div>
                    <!-- /Container -->
                </section>
                <!-- /blade -->

                <!-- ###################### Lightboxes ######################## -->

                <amp-image-lightbox id="Kaspersky_Internet_Security_2015_Step1_EN" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Kaspersky_Internet_Security_02_EN" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Kaspersky_Internet_Security_2015_Step3_EN" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Kaspersky_Internet_Security_2015_Step4_EN" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Kaspersky_Internet_Security_2015_Step5_EN" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Kaspersky_Internet_Security_2015_Step6_EN" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Kaspersky_Internet_Security_2015_Step7_EN" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Kaspersky_Internet_Security_2015_Step8_EN" layout="nodisplay"></amp-image-lightbox>

            </div>
            <!-- /Content -->
        </div>
        <!-- /WRAP -->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
