<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

    <div class="wrap">
        <div class="container main">

          <% include ../_partials/content/_bluenav-general.ejs %>

                <section itemscope itemtype="http://schema.org/Article" class="blade wrapper content">

                    <div class="container">
                        <div class="row">
                            <div class="twelve columns">
                                <h1 itemprop="name">F-Secure Internet Security</h1>
                                <h2>Eine Ausnahme für Ihre IP-Kamera hinzufügen</h2>
                            </div>
                        </div>

                        <div class="margin">
                            <div>
                                <p class="justify">
                                  In manchen Fällen kann es dazu kommen, dass die F-Secure Firewall den Videostream Ihrer Kamera blockt. Eigentlich blockt es das ActiveX und das Quicktime Plugin beim Empfangen des Videostreams. In diesem Fall müssen Sie den Erweiterten Netzwerkschutz in F-Secure deaktivieren, sodass die Kamera nicht mehr blockiert wird.
                                </p>
                            </div>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <div>
                                <p class="justify">
                                  <strong>Schritt 1</strong>: Bitte öffnen Sie das F-Secure Programm durch Klicken auf das F-Secure Symbol auf der rechten Seite der Windows Taskleiste. Ein anderer Weg ist das Programm über das Startmenü zu öffnen. Nach dem Öffnen klicken Sie bitte auf der rechten Seite des Fensters auf Einstellungen.
                                </p>
                            </div>
                            <amp-img
                                on="tap:F-Secure_01"
                                role="button"
                                tabindex="0"
                                src="/images/Quick_Installation/F-Secure_01.png" width="600" height="426" layout="responsive" class="shadow">
                            </amp-img>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <div>
                                <p class="justify">
                                    <strong>Schritt 2</strong>: Gehen Sie zum Abschnitt Firewall in den Sicherheitseinstellungen und deaktivieren Sie die Option, die es Programmen verbietet, schädliche Dateien herunterzuladen.
                                </p>
                            </div>
                            <amp-img
                                on="tap:F-Secure_02"
                                role="button"
                                tabindex="0"
                                src="/images/Quick_Installation/F-Secure_02.png" width="600" height="435" layout="responsive" class="shadow">
                            </amp-img>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <div>
                                <p class="justify">
                                  <strong>Schritt 3</strong>: Zum Schluss laden Sie bitte die Weboberfläche Ihrer IP-Kamera neu. Dies kann entweder durch den Refresh-Button neben der Adressleiste Ihres Browsers gemacht werden oder durch Schließen und Neustarten des Webbrowsers mit anschließend erneuter Eingabe der IP-Adresse in die Adressleiste. Oder starten Sie das InstarVision Überwachungscenter neu.
                                </p>
                            </div>
                        </div>
                        <!-- /margin -->

                    </div>
                    <!-- /Container -->
                </section>
                <!-- /blade -->

                <!-- ###################### Lightboxes ######################## -->

                <amp-image-lightbox id="F-Secure_01" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="F-Secure_02" layout="nodisplay"></amp-image-lightbox>

            </div>
            <!-- /Content -->
        </div>
        <!-- /WRAP -->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
