<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Quick_Installation/Live_Video/Avast">
    </head>

    <body class="home">

      <header class="fixed">
          <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap">
          <div class="container main">

            <% include ../_partials/content/_bluenav-qi.ejs %>

                <section class="blade get-started">
                    <div class="container">
                        <div class="row">
                            <div class="twelve columns">
                                <h1>Avast Internet Security</h1>
                                <h2>Ausnahme für Ihre IP-Kamera hinzufügen</h2>
                            </div>
                        </div>

                        <div class="margin">
                            <div>
                                <p class="justify">
                                    In manchen Fällen kann es dazu kommen, dass der Virenscanner "Avast" den Videostream Ihrer Kamera blockt. Eigentlich blockt es das ActiveX und das Quicktime Plugin beim Empfangen des Videostreams. In diesem Fall müssen Sie eine Ausnahme in Avast eintragen, damit es den Videostream nicht mehr blockt.
                                </p>
                            </div>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <div>
                                <p class="justify">
                                    <strong>Schritt 1</strong>: Bitte öffnen Sie das Programm Avast durch Klicken auf das Avast Symbol auf der rechten Seite der Windows Taskleiste. Ein anderer Weg ist, das Programm direkt über das Startmenü zu öffnen. Nach dem Öfnnen klicken Sie auf Einstellungen auf der oberen rechten Seite.
                                </p>
                            </div>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <div>
                                <amp-img src="/images/Avast_Internet_Security_01_EN.jpg" width="650" height="461" layout="responsive" class="shadow"></amp-img>
                            </div>
                            <div>
                                <p>
                                    Öffnen Sie die Programm Konfiguration.
                                </p>
                            </div>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <div>
                                <p class="justify">
                                    <strong>Schritt 2</strong>: Im Fenster Grundeinstellungen klicken Sie bitte auf Problembehebung auf der linken Seite.
                                </p>
                            </div>
                            <div>
                                <amp-img src="/images/Avast_Internet_Security_02_EN.jpg" width="650" height="603" layout="responsive" class="shadow"></amp-img>
                            </div>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <div>
                                <p class="justify">
                                    <strong>Schritt 3</strong>: Im Menü Problembehebung gehen Sie bitte auf den Abschnitt Web und wählen Sie das Feld Ignorierte Adressen.
                                </p>
                            </div>
                            <div>
                                <amp-img src="/images/Avast_Internet_Security_03_EN.jpg" width="650" height="603" layout="responsive" class="shadow"></amp-img>
                            </div>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <div>
                                <p class="justify">
                                    <strong>Schritt 4</strong>: Bitte geben Sie die IP-Adresse Ihrer Kamera ein. Wenn Sie mehr als eine IP-Kamera haben, geben Sie bitte jede IP-Adresse, getrennt durch ein Komma (,) ein. Jetzt bestätigen Sie bitte die Einstellungen durch Klicken auf OK.
                                </p>
                            </div>
                            <div>
                                <amp-img src="/images/Avast_Internet_Security_04_EN.jpg" width="650" height="603" layout="responsive" class="shadow"></amp-img>
                            </div>
                        </div>
                        <!-- /margin -->

                        <div class="margin">
                            <div>
                                <p class="justify">
                                    <strong>Schritt 5</strong>: Zum Schluss laden Sie bitte die Weboberfläche Ihrer IP-Kamera neu. Dies kann entweder durch den Refresh-Button neben der Adressleiste Ihres Browsers gemacht werden oder durch Schließen und Neustarten des Webbrowsers mit anschließend erneuter Eingabe der IP-Adresse in die Adressleiste.
                                </p>
                            </div>
                        </div>
                        <!-- /margin -->

                    </div>
                    <!-- /Container -->
                </section>
                <!-- /blade -->
            </div>
            <!-- /Content -->
        </div>
        <!-- /WRAP -->

        <% include ../_partials/content/_bluenav-qi-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
