<!DOCTYPE html>
<html ⚡>
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <link rel="canonical" href="/Quick_Installation/Live_Video/X">
    </head>

    <body class="home">

      <header class="fixed">
          <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap">
          <div class="container main">

            <% include ../_partials/content/_bluenav-qi.ejs %>

                <section class="blade get-started">
                    <div class="container">
                        <div class="row">
                            <div class="twelve columns">
                                <h1>Zeigen Sie das Video der Kamera in Ihrem Browser an</h1>
                            </div>
                        </div>

                        <div class="margin">
                          <div>
                              <h2>Video Plugins</h2>
                              <p class="justify">
                                Alle INSTAR HD Kameras können Ihren Videostream in einem modernen Webbrowser (wie Firefox, Chrome oder Edge) oder ein Videoplugin anzeigen. Aktivieren Sie dazu einfach den MJPEG Modus - z.B. im <a href="/Web_User_Interface/720p_Series/Multimedia/Video/">Multimedia/Video Menü</a> Ihrer 720p Kamera. <strong>Aber</strong> Sie werden dadurch die h.264 Videokomprimierung verlieren und evenutell Probleme mit der Bandbreite innerhalb Ihres Netzwerks bekommen. Wir empfehlen dringend, dass Sie das <a href="https://get.adobe.com/flashplayer/" target="_blank">Flash Video Plugin</a> installieren und den h.264 Videostream nutzen. Das Plugin ist in den meisten System schon vorinstalliert dafür konfiguriert es standardmäßig zu nutzen - Sie sollten den Videostream, nachdem Sie die Weboberfläche geladen haben, sehen können.
                              </p>
                          </div>
                      </div>
                      <!-- /margin -->

                        <div class="margin">
                          <div>
                            <a href="https://get.adobe.com/flashplayer/?no_redirect" target="_blank">
                              <amp-img role="button" tabindex="0" src="/images/Flash.png" width="1000" height="515" layout="responsive" class="shadow"></amp-img>
                            </a>
                          </div>
                        <!-- /margin -->

                        <div class="margin">
                          <div>
                              <h2>Andere Optionen</h2>
                              <p class="justify">
                                Für den Fall, dass Sie das Flash Video Plugin immer noch nicht nutzen können, gibt es 3 weitere Optionen um den Videostream in Ihrem Webbrowser anzuzeigen. Sie können das Quicktime Plugin verwenden, ein ActiveX Plugin (funktioniert nur mit dem Internet Explorer und Firefox), welches mit mehreren Extras ausgestattet ist, oder verwenden Sie den MJPEG Modus wie oben beschrieben.
                              </p>
                          </div>
                      </div>
                      <!-- /margin -->

                        <div class="card-container mb">
                            <div class="card">
                                <div class="image">
                                  <a href="/Quick_Installation/Live_Video/ActiveX">
                                    <amp-img noloading height=480 width=640 layout=responsive src="/images/Live-Video_ActiveX.png"></amp-img>
                                  </a>
                                </div>
                                <div class="content">
                                    <h3>ActiveX Plugin</h3>
                                    <p>Windows Video Plugin (IE und FF).</p>
                                </div>
                                <div class="action">
                                    <a href="/Quick_Installation/Live_Video/ActiveX">Mehr...</a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="image">
                                  <a href="/Quick_Installation/Live_Video/QuickTime">
                                    <amp-img noloading height=480 width=640 layout=responsive src="/images/Live-Video_Quicktime.png"></amp-img>
                                  </a>
                                </div>
                                <div class="content">
                                    <h3>QuickTime Plugin</h3>
                                    <p>Plugin für Windows und macOS.</p>
                                </div>
                                <div class="action">
                                    <a href="/Quick_Installation/Live_Video/QuickTime">Mehr...</a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="image">
                                  <a href="/Quick_Installation/Live_Video/MJPEG">
                                    <amp-img noloading height=480 width=640 layout=responsive src="/images/Live-Video_MJPEG.png"></amp-img>
                                  </a>
                                </div>
                                <div class="content">
                                    <h3>MJPEG Modus</h3>
                                    <p>Live Video im Microsoft Edge.</p>
                                </div>
                                <div class="action">
                                    <a href="/Quick_Installation/Live_Video/MJPEG">Mehr...</a>
                                </div>
                            </div>
                        </div>
                        <!-- /Card Container -->

                        <div class="margin">
                          <div>
                              <h2>Problembehebung</h2>
                              <p class="justify">
                                Das Videoplugin wird möglicherweise durch Ihre Firewall oder Ihren Virenscanner blockiert. Die folgenden Artikel erklären, wie Sie Ihre Sicherheitssoftware einstellen müssen, um den Stream nicht mehr zu blockieren.
                              </p>
                          </div>
                      </div>
                      <!-- /margin -->

                        <div class="card-container mb">
                            <div class="card">
                                <div class="image">
                                  <a href="/Quick_Installation/Live_Video/Troubleshooting/Avast">
                                    <amp-img noloading height=480 width=640 layout=responsive src="/images/Live-Video_AVAST.png"></amp-img>
                                  </a>
                                </div>
                                <div class="content">
                                    <h3>Avast Security</h3>
                                </div>
                                <div class="action">
                                    <a href="/Quick_Installation/Live_Video/Troubleshooting/Avast">Mehr...</a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="image">
                                  <a href="/Quick_Installation/Live_Video/Troubleshooting/Kaspersky_2013">
                                    <amp-img noloading height=480 width=640 layout=responsive src="/images/Live-Video_Kaspersky2013.png"></amp-img>
                                  </a>
                                </div>
                                <div class="content">
                                    <h3>Kaspersky 2013</h3>
                                </div>
                                <div class="action">
                                    <a href="/Quick_Installation/Live_Video/Troubleshooting/Kaspersky_2013">Mehr...</a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="image">
                                  <a href="/Quick_Installation/Live_Video/Troubleshooting/Kaspersky_2014">
                                    <amp-img noloading height=480 width=640 layout=responsive src="/images/Live-Video_Kaspersky2014.png"></amp-img>
                                  </a>
                                </div>
                                <div class="content">
                                    <h3>Kaspersky 2014</h3>
                                </div>
                                <div class="action">
                                    <a href="/Quick_Installation/Live_Video/Troubleshooting/Kaspersky_2014">Mehr...</a>
                                </div>
                            </div>
                        </div>
                        <!-- /Card Container -->

                          <div class="card-container mb">
                              <div class="card">
                                  <div class="image">
                                    <a href="/Quick_Installation/Live_Video/Troubleshooting/AVG">
                                      <amp-img noloading height=480 width=640 layout=responsive src="/images/Live-Video_AVG.png"></amp-img>
                                    </a>
                                  </div>
                                  <div class="content">
                                      <h3>AVG Internet Security</h3>
                                  </div>
                                  <div class="action">
                                      <a href="/Quick_Installation/Live_Video/Troubleshooting/AVG">Mehr...</a>
                                  </div>
                              </div>
                              <div class="card">
                                  <div class="image">
                                    <a href="/Quick_Installation/Live_Video/Troubleshooting/AVIRA">
                                      <amp-img noloading height=480 width=640 layout=responsive src="/images/Live-Video_AVIRA.png"></amp-img>
                                    </a>
                                  </div>
                                  <div class="content">
                                      <h3>AVIRA Antivirus Pro</h3>
                                  </div>
                                  <div class="action">
                                      <a href="/Quick_Installation/Live_Video/Troubleshooting/AVIRA">Mehr...</a>
                                  </div>
                              </div>
                              <div class="card">
                                  <div class="image">
                                    <a href="/Quick_Installation/Live_Video/Troubleshooting/F-Secure">
                                      <amp-img noloading height=480 width=640 layout=responsive src="/images/Live-Video_F-Secure.png"></amp-img>
                                    </a>
                                  </div>
                                  <div class="content">
                                      <h3>F-Secure Security</h3>
                                  </div>
                                  <div class="action">
                                      <a href="/Quick_Installation/Live_Video/Troubleshooting/F-Secure">Mehr...</a>
                                  </div>
                              </div>
                          </div>
                          <!-- /Card Container -->

                            <div class="card-container mb">
                                <div class="card">
                                  <div class="image">
                                    <a href="/Quick_Installation/Live_Video/Troubleshooting/Kaspersky_2017">
                                      <amp-img noloading height=480 width=640 layout=responsive src="/images/Live-Video_Kaspersky2017.png"></amp-img>
                                    </a>
                                  </div>
                                  <div class="content">
                                      <h3>Kaspersky 2017</h3>
                                  </div>
                                  <div class="action">
                                      <a href="/Quick_Installation/Live_Video/Troubleshooting/Kaspersky_2017">Mehr...</a>
                                  </div>
                                </div>
                                <div class="card">
                                    <div class="image">
                                      <a href="/Quick_Installation/Live_Video/Troubleshooting/GDATA">
                                        <amp-img noloading height=480 width=640 layout=responsive src="/images/Live-Video_AVG.png"></amp-img>
                                      </a>
                                    </div>
                                    <div class="content">
                                        <h3>GDATA Security</h3>
                                    </div>
                                    <div class="action">
                                        <a href="/Quick_Installation/Live_Video/Troubleshooting/GDATA">Mehr...</a>
                                    </div>
                                </div>
                                <div class="card invisible">
                                </div>
                            </div>
                            <!-- /Card Container -->

                    </div>
                    <!-- /Container -->
                  </section>
                  <!-- /blade -->
                </div>
                <!-- /Content -->
              </div>
              <!-- /WRAP -->

              <% include ../_partials/content/_bluenav-qi-mobile.ejs %>

                <footer>
                    <% include ../_partials/amp/_amp-footer.ejs %>
                </footer>
                </body>
            </html>
