<!DOCTYPE html>
<html ⚡ lang="de">

<head>
  <% include ../_partials/amp/_amp-head.ejs %>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
</head>

<body class="home">

  <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
    <% include ../_partials/amp/_ampLandingSidebar.ejs %>
  </amp-sidebar>

  <header class="header fixed">
    <% include ../_partials/amp/_amp-header.ejs %>
  </header>

  <section class="hero mobile-down">
    <div class="container">
      <div class="row">
        <div class="six columns">
          <div class="intro-container">
            <h1 itemprop="name">Der ONVIF Dienst</h1>
            <p class="intro">
              Die Industrie für Netzwerk Überwachungsprodukte hat einen offenen Standard mit dem <a href="http://www.onvif.org/" target="_blank">Namen ONVIF</a> entwickelt, der es Kameras und Aufnahme-Geräten erlaubt untereinander im Netzwerk zu kommunizieren.
              ONVIF verfügt über unterschiedliche Versionen, die einen unterschiedlichen Umfang an Funktionen im System integrieren. So können Kameras in der Regel nur Ihr Video zur Verfügung stellen und über Pan&amp;Tilt Befehle zum Bewegen überredet
              werden. Andere ONVIF Geräte können auch auf erweiterte Funktionen, wie z.B. die Bewegungserkennung, zurückgreifen. Alle unsere ONVIF 1080p Kameras sind zu 100% kompatibel mit der Version 2.4 des S Profiles für IP Sicherheitskameras.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Hero -->

  <div class="wrap">
    <div class="container main">

      <% include ../_partials/content/_bluenav-general.ejs %>

        <article itemscope itemtype="http://schema.org/Article" class="blade wrapper content">
          <% include ../_partials/amp/_schemaArticle.ejs %>

            <div>
              <h3>Per ONVIF eine Kamera zu InstarVision oder iSpy hinzufügen</h3>
              <p>Was genau ONVIF ist, können Sie <a href="/Quick_Installation/ONVIF">hier</a> noch einmal nachlesen. Im Folgenden werden wir Ihnen erklären, wie Sie in wenigen Schritten Ihre HD- oder FullHD-Kamera per ONVIF zu InstarVision oder iSpy hinzufügen
                können.</p>
            </div>
            <!-- /margin -->

            <amp-accordion disable-session-states class="margin">
              <section>
                <h3 class="cgi-accordion-header">+ HD-Kameras: Aktivieren des ONVIF Dienstes</h3>
                <div class="content">
                  <p>Verbinden Sie sich mit der Kamera und gehen Sie in der Weboberfläche auf <strong>System - ONVIF</strong>. Überprüfen Sie, dass ONVIF aktiviert ist und der Standard-Port <strong>8080</strong> eingetragen ist. Deaktivieren Sie die ONVIF-Authentifizierung,
                    um die Kamera in InstarVision nutzen zu können. Für iSpy lassen Sie die ONVIF-Authentifizierung aktiviert. Durch einen Klick auf <strong>Bestätigen</strong> werden die Einstellungen gespeichert und die Kamera startet neu.</p>
                  <amp-img on="tap:lightbox1" role="button" tabindex="0" src="/images/Quick_Installation/ONVIF_InstarVision_01.png" width="472" height="318" layout="responsive" class="shadow"> </amp-img>
                </div>
              </section>
              <section>
                <h3 class="cgi-accordion-header">+ Full HD-Kameras: Aktivieren des ONVIF Dienstes</h3>
                <div class="content">
                  <p>Verbinden Sie sich mit der Kamera und gehen Sie in der Weboberfläche auf <strong>Netzwerk - ONVIF</strong>. Überprüfen Sie, dass ONVIF aktiviert ist. Wenn Sie InstarVision nutzen deaktivieren Sie die Authentifizierung, für die Verwendung
                    mit iSpy lassen Sie die Authentifizierung aktiviert. Ob die Kamera die Zeit mit der des ONVIF-Geräts abgleichen soll, können Sie selbst entscheiden. Den ONVIF-Port lassen Sie auf dem Standard-Port <strong>8080</strong>. Klicken Sie
                    dann auf <strong>Übernehmen</strong> und bestätigen Sie, dass die Kamera neu startet. </p>
                  <amp-img on="tap:lightbox2" role="button" tabindex="0" src="/images/Quick_Installation/ONVIF_InstarVision_02.png" width="590" height="386" layout="responsive" class="shadow"> </amp-img>
                </div>
              </section>
              <section>
                <h3 class="cgi-accordion-header">+ ONVIF Einbindung in die InstarVision v2.1 Beta</h3>
                <div class="content">
                  <div class="dangercard">
                    <p>Die Funktion steht Ihnen zur Zeit nur in der Beta Version der InstarVision v2.1 zur Verfügung. Diese können Sie unter <a href="/dl/InstarVisionWindows/InstarVision_BETA-2016-06-27.exe" target="_blank">diesem Link</a> herunterladen. Sobald eine neue Version der Software verfügbar ist, wird diese umgehend in unserem <a href="/Downloads/Desktop_Software/InstarVision/">Download Bereich</a> verlinkt werden.</p>
                  </div>
                  <p>Starten Sie InstarVision und gehen Sie unter dem Menüpunkt <strong>Kamera Liste</strong> auf das <strong>Plus</strong> unten rechts, um eine neue Kamera hinzuzufügen. Tätigen Sie dann für Ihre Kamera die Einstellungen wie folgt:</p>

                  <div class="margin">
                    <table>
                      <tr>
                        <td width="30%">
                          <strong>IP Kameraname</strong>
                        </td>
                        <td>Wählen Sie einen <strong>Namen</strong> für Ihre Kamera, zum Beispiel Kamera Hof. Setzen Sie außerdem den Haken daneben auf Aktiv.
                      </tr>
                      <tr>
                        <td width="30%">
                          <strong>IP Kamera Modell</strong>
                        </td>
                        <td>Wählen Sie aus der Liste <strong>INSTAR ONVIF Mode</strong>
                      </tr>
                      <tr>
                        <td width="20%">
                          <strong>IP oder DDNS</strong>
                        </td>
                        <td>Geben sie hier die <strong>IP-Adresse</strong> Ihrer Kamera ein</td>
                      </tr>
                      <tr>
                        <td width="20%">
                          <strong>ONVIF Port</strong>
                        </td>
                        <td>Wählen Sie hier den Port <strong>8080</strong></tr>
                      <tr>
                        <td width="20%">
                          <strong>Benutzername &amp; Kennwort</strong>
                        </td>
                        <td>Geben Sie hier die <strong>Zugangsdaten</strong> der Kamera ein.</tr>

                    </table>
                  </div>
                  <amp-img on="tap:lightbox3" role="button" tabindex="0" src="/images/Quick_Installation/ONVIF_InstarVision_03.png" width="591" height="338" layout="responsive" class="shadow"> </amp-img>
                  <p>Alle anderen Einstellungen können Sie belassen und durch einen Klick auf <strong>OK</strong> die Kamera hinzufügen.</p>
                </div>
              </section>
              <section>
                <h3 class="cgi-accordion-header">+ ONVIF Einbindung in die OpenSource Software iSpy</h3>
                <div class="content">
                  <p>Starten Sie iSpy und gehen Sie auf <strong>Hinzufügen - ONVIF Camera</strong>.</p>
                  <amp-img on="tap:lightbox4" role="button" tabindex="0" src="/images/Quick_Installation/ONVIF_InstarVision_04.png" width="933" height="428" layout="responsive" class="shadow"> </amp-img>
                  <br><br>
                  <p>Im erscheinenden Menü tragen Sie zunächst bei <strong>Benutzername</strong> und <strong>Passwort</strong> die Zugangsdaten Ihrer Kamera ein.
                    <br>Unter <strong>Netzwerkadresse</strong> tragen Sie dann die lokale IP-Adresse Ihrer Kamera, inklusive http und ONVIF-Port ein. Beispielsweise: http://192.168.1.176:8080
                    <br>Die restlichen Einstellungen belassen Sie und klicken auf <strong>Weiter</strong>.</p>
                  <amp-img on="tap:lightbox5" role="button" tabindex="0" src="/images/Quick_Installation/ONVIF_InstarVision_05.png" width="735" height="382" layout="responsive" class="shadow"> </amp-img>

                  <br><br>
                  <p>Nun haben Sie die Wahl, welcher <a href="/Software/Mobile_Apps_HTTPS_and_RTSP/">RTSP-Stream</a> von der Kamera genutzt werden soll. Wählen Sie hier am besten den Stream mit der Nummer 11, da dieser die höchste Auflösung bietet. Wählen
                    Sie den Stream aus und klicken Sie auf <strong>OK</strong>. Damit ist die Kamera in iSpy eingebunden.</p>
                  <amp-img on="tap:lightbox6" role="button" tabindex="0" src="/images/Quick_Installation/ONVIF_InstarVision_06.png" width="735" height="383" layout="responsive" class="shadow"> </amp-img>

                  <br><br>
                  <p>Im letzten Fenster können Sie nun noch die individuellen Einstellungen der Kamera vornehmen. Klicken Sie <a href="/Software/Windows/iSpy">hier</a>, um zur Anleitung zu gelangen, wie man Funktionen der Kamera wie Bewegungserkennung oder
                    Alarm bei iSpy einstellt.</p>
                  <amp-img on="tap:lightbox7" role="button" tabindex="0" src="/images/Quick_Installation/ONVIF_InstarVision_07.png" width="672" height="748" layout="responsive" class="shadow"> </amp-img>
                </div>
              </section>
            </amp-accordion>
            <!-- /margin -->

        </article>
        <!-- /article -->

        <!-- ########## Lightboxes ###################### -->

        <amp-image-lightbox id="lightbox1" layout="nodisplay"></amp-image-lightbox>
        <amp-image-lightbox id="lightbox2" layout="nodisplay"></amp-image-lightbox>
        <amp-image-lightbox id="lightbox3" layout="nodisplay"></amp-image-lightbox>
        <amp-image-lightbox id="lightbox4" layout="nodisplay"></amp-image-lightbox>
        <amp-image-lightbox id="lightbox5" layout="nodisplay"></amp-image-lightbox>
        <amp-image-lightbox id="lightbox6" layout="nodisplay"></amp-image-lightbox>
        <amp-image-lightbox id="lightbox7" layout="nodisplay"></amp-image-lightbox>

    </div>
    <!-- /container -->
  </div>
  <!-- /wrap -->

  <% include ../_partials/content/_bluenav-general-mobile.ejs %>

    <footer>
      <% include ../_partials/amp/_amp-footer.ejs %>
    </footer>
</body>

</html>
