<!DOCTYPE html>
<html ⚡ lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <meta content="IE=Edge" http-equiv="X-UA-Compatible">
  <meta name="description" content="INSTAR Wiki - IP Camera Knowledge Base">
  <meta name="author" content="Mike Polinowski">
  <title>
      <%= title %>
  </title>
  <link rel="canonical" href="/Quick_Installation/">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>

  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
  <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
  <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
  <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>

  <!-- http://schema.org/TechArticle -->
  <script type="application/ld+json">
      { "@context": "http://schema.org",
        "@type": "TechArticle",
        "headline": "<%= headline %>",
        "image": [ "http://wiki.instar.com<%= ampimg %>" ] }
  </script>

  <% include ../_partials/amp/_amp-boilerplate.css %>
  <% include ../_partials/amp/_ampLandingCustom.css %>

</head>

<body>

    <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
        <% include ../_partials/amp/_ampLandingSidebar.ejs %>
    </amp-sidebar>

    <header class="header fixed">
        <% include ../_partials/amp/_ampLandingHeader.ejs %>
    </header>

    <div class="wrap">
        <div class="content">

            <section class="large-cta">
              <div class="cta-container">
                <h1 class="mobile-down">INSTAR Wiki 2.0</h1>
                <h2>Installation einer IP Kamera in Ihrem lokalen Netzwerk</h2>
              </div>
            </section>

            <!-- ########################## Quick Installation ############################### -->

            <section class="tile-wall">
                <h1>Schnell Installation</h1>
                <div class="container">

                  <!-- ################################ desktop-up ###################### -->

                    <div class="row desktop-up">

                      <amp-carousel class="success-carousel" height="400" layout="flex-item" type="slides">
                          <div class="card-container flex-wrap">
                              <div class="card centered tile flex-card">
                                <a href="/Quick_Installation/How_Does_An_IP_Camera_Work/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_QI-How_Does_An_IP_Camera_Work_white.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                              <div class="card centered tile flex-card">
                                <a href="/Quick_Installation/First_Steps/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_QI-First_Steps_white.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                              <div class="card centered tile flex-card">
                                <a href="/Quick_Installation/After_Unpacking/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_QI-After_Unpacking_white.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                          </div>
                      </amp-carousel>

                      <amp-carousel class="success-carousel" height="400" layout="flex-item" type="slides">
                          <div class="card-container flex-wrap">
                              <div class="card centered tile flex-card">
                                <a href="/Quick_Installation/Direct_LAN_Connection/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_QI-Direct_Connection_white.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                              <div class="card centered tile flex-card">
                                <a href="/Quick_Installation/Alternative_IP_Scanner/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_QI-Alternative_IP_Scanner_white.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                              <div class="card centered tile flex-card">
                                <a href="/Quick_Installation/Language_Selection/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_QI-Language_Selection_white.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                          </div>
                      </amp-carousel>

                      <amp-carousel class="success-carousel" height="400" layout="flex-item" type="slides">
                          <div class="card-container flex-wrap">
                              <div class="card centered tile flex-card">
                                <a href="/Quick_Installation/Live_Video/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_QI-Live_Video_white.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                              <div class="card centered tile flex-card">
                                <a href="/Quick_Installation/Creating_User_Accounts/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_QI-Creating_User_Accounts_white.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                              <div class="card centered tile flex-card">
                                <a href="/Quick_Installation/WebUI_And_Firmware_Upgrade/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_QI-WebUI_And_Firmware_Upgrade_white.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                          </div>
                      </amp-carousel>

                      <amp-carousel class="success-carousel" height="400" layout="flex-item" type="slides">
                          <div class="card-container flex-wrap">
                              <div class="card centered tile flex-card">
                                <a href="/Quick_Installation/How_To_Clear_Your_Browsing_History/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_QI-Clear_History_white.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                              <div class="card centered tile flex-card">
                                <a href="/Quick_Installation/Set_Up_A_Wireless_Connection/">
                                    <div class="card-inner">
                                        <amp-img class="card-icon" noloading height=300 width=300 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_QI-Wireless_Connection_white.png">
                                        </amp-img>
                                    </div>
                                </a>
                              </div>
                          </div>
                      </amp-carousel>

                    </div>
                    <!-- /row desktop-up -->

                    <!-- ################################ mobile-down ###################### -->

                    <div class="mobile-down">

                      <a href="/Quick_Installation/How_Does_An_IP_Camera_Work/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_QI-How_Does_An_IP_Camera_Work_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <h4>Wie arbeitet eine IP Kamera?</h4>
                            <p>Dieses Video beinhaltet einen kurzen Überblick über die Grundfunktionen einer IP Kamera wie z.B. LAN oder WiFi Konnektivität, Zugriff über das Internet mit Hilfe von DDNS ...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Quick_Installation/First_Steps/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_QI-First_Steps_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <h4>Erste Schritte</h4>
                            <p>Das Video bietet einen kompakten Überblick über die ersten notwendigen Schritte zur Einrichtung Ihrer IP-Kamera. Bitte gehen Sie zur Seite Installation Wizard ...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Quick_Installation/After_Unpacking/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_QI-After_Unpacking_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <h4>Nach dem Auspacken</h4>
                            <p>Alle Kamerafunktionen sind über die Weboberfläche (Web User Interface) konfigurierbar. Klicken Sie hier um zu den Anleitungen der WebUI zu gelangen.  ...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Quick_Installation/Direct_LAN_Connection/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_QI-Direct_Connection_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <h4>Direkte LAN Verbindung</h4>
                            <p>Die folgende Anleitung erklärt Schritt für Schritt wie Sie eine Direktverbindung zwischen Ihrem Rechner und einer INSTAR Kamera herstellen können ...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Quick_Installation/Alternative_IP_Scanner/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_QI-Alternative_IP_Scanner_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <h4>Alternative IP Scanner</h4>
                            <p>Sollten Sie Probleme haben Ihre Kamera mit dem INSTAR Kamera Tool zu finden, können Sie einen der folgenden, alternativen Scanner probieren ...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Quick_Installation/Language_Selection/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_QI-Language_Selection_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <h4>Sprache auswählen</h4>
                            <p>Die neue INSTAR Weboberfläche für Ihre IP Kamera erkennt automatisch welche Standardsprache Ihr Browser benutzt ...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Quick_Installation/Live_Video/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_QI-Live_Video_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <h4>Live Video</h4>
                            <p>Alle INSTAR HD Kameras können Ihren Videostream in einem modernen Webbrowser (wie Firefox, Chrome oder Edge) oder ein Videoplugin anzeigen ...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Quick_Installation/Creating_User_Accounts/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_QI-Creating_User_Accounts_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <h4>Benutzerverwaltung</h4>
                            <p>Um das Benutzermenü aufzurufen, klicken Sie auf <em>System</em> in der Weboberfläche Ihrer IP Kamera und wählen Sie dann <em>Benutzer</em> wie unten gezeigt ...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Quick_Installation/WebUI_And_Firmware_Upgrade/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_QI-WebUI_And_Firmware_Upgrade_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <h4>Software Update</h4>
                            <p>Gehen Sie in der Weboberfläche nach System/Update und wählen Sie die entzippte Update Datei - update.pkg - aus ...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Quick_Installation/How_To_Clear_Your_Browsing_History/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_QI-Clear_History_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <h4>Leeren des Browser-Verlaufs</h4>
                            <p>Manchmal verhält sich die Weboberfläche der Kamera nicht so wie sie soll. In diesem Fall kann es sein, dass Ihr Browser alte Teile der Weboberfläche gespeichert ...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                      <hr>

                      <a href="/Quick_Installation/Set_Up_A_Wireless_Connection/">
                        <div class="articleListItem margin">
                          <div class="articleImage">
                            <amp-img height=100 width=100 layout=responsive src="/images/Landing_Tiles/Wiki_Tiles_QI-Wireless_Connection_white.png">
                            </amp-img>
                          </div>
                          <!-- /articleImage -->
                          <div class="articlePreview">
                            <h4>WLAN Verbindung</h4>
                            <p>Klicken Sie auf Suchen um das WLAN Modul zu aktivieren. Die Kamera wird dann nach aktiven 2.4GHz Netzwerken in Ihrer Umgebung suchen ...</p>
                          </div>
                          <!-- /articleImage -->
                        </div>
                        <!-- /articleListItem -->
                      </a>

                    </div>
                    <!-- /row mobile-down -->

                </div>
                <!-- /container -->
            </section>
            <!-- /Quick Installation I -->

            <!-- ########################## WebUI ############################### -->

            <% include ../_partials/amp/_ampWebUI.ejs %>

            <!-- ########################## Social ############################### -->

            <% include ../_partials/amp/_ampSocial.ejs %>

            <!-- ########################## Footer ############################### -->

            <footer class="desktop-up">
              <% include ../_partials/amp/_amp-footer.ejs %>
            </footer>

        </div>
    </div>

</body>

</html>
