<!DOCTYPE html>
<html ⚡ lang="de">
    <head>
        <% include ../_partials/amp/_amp-head.ejs %>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
        <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
    </head>

    <body class="home">

      <amp-sidebar id='sidebar' side='right' layout='nodisplay'>
          <% include ../_partials/amp/_ampLandingSidebar.ejs %>
      </amp-sidebar>

      <header class="header fixed">
        <% include ../_partials/amp/_amp-header.ejs %>
      </header>

      <div class="wrap">
          <div class="container main">

            <% include ../_partials/content/_bluenav-general.ejs %>

                <article itemscope itemtype="http://schema.org/Article" class="blade wrapper content">
                  <% include ../_partials/amp/_schemaArticle.ejs %>

                    <div itemprop="name">
                      <h1>Software Update</h1>
                      <h3>VGA Kamera Serie</h3>
                    </div>

                    <div class="margin">
                        <h3>Wie spiele ich eine neue WebUI bzw. Firmware auf (VGA Kameras) ?</h3>
                        <p class="text-justify">
                            Bitte laden Sie sich die aktuellste Version der WebUI und/oder Firmware auf unserer Webseite herunter. Gehen Sie hierzu in den <a href="http://download.instar.de">Download</a> Bereich auf unserer Webseite. Bitte wählen Sie Ihr Kameramodell und gehen dann ans Ende der Seite um dort die Firmware bzw. WebUI herunterzuladen. '''Bitte lesen Sie alle Hinweise sorgfältig durch''' um sicherzugehen, dass Sie die richtige Version herunterladen. Beide Updates - WebUI (Weboberfläche) und Firmware - können entweder durch das INSTAR Kamera Tool oder über die Weboberfläche der Kamera aufgespielt werden. Der Vorgang hierbei ist jeweils der gleiche. <a href="http://www.instar.de/media/wysiwyg/Products/Software/Camera_Tool_Win/INSTAR_Camera_Tool_2.0.6.msi.zip">Windows</a>, <a href="https://itunes.apple.com/de/app/instar-camera-tool/id584435076?mt=12#">MacOSX</a>
                            und <a href="http://www.instar.de/media/wysiwyg/Products/Software/Camera_Tool_Linux/INSTAR_Camera_Tool_LINUX.zip">LINUX</a>. '''Führen Sie immer erst das Firmware Update durch bevor Sie die Weboberfläche der Kamera aufspielen'''.
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:Download_WebUI_Firmware_en"
                          role="button"
                          tabindex="0"
                          src="/images/Quick_Installation/Download_WebUI_Firmware_en.png" width=1000 height=626 layout="responsive" class="shadow">
                      </amp-img>

                        <p>Laden Sie die neueste Firmware und WebUI herunter auf <a href="http://download.instar.com">download.instar.com</a></p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <p class="text-justify">
                            Manchmal verhält sich die Weboberfläche der Kamera nicht so wie sie soll. Sie haben Ihre Kamerasoftware aktualisiert, aber die Oberfläche zeigt immer noch die alte Versionsnummer an? Ein Update sollte neue Funktionen hinzufügen, aber diese können Sie nirgens finden? Oder lassen sich bestimmte Funktionen einfach nicht mehr einstellen? In diesem Fall kann es sein, dass Ihr Browser alte Teile der Weboberfläche gespeichert (cached) hat und sich einfach weigert diese noch einmal neu von der Kamera zu laden. Hier finden Sie Anleitungen für eine Zahl gängiger Browser, wie Sie diese veralteten Dateien entfernen und ggf. den Cache des Browsers auch gleich ganz deaktivieren können:
  							            <a href="http://wiki.instar.com/index.php/HD_Manual_WebUI_Software">Wie leert man den Cache (Historie / Verlauf) seines Browsers nach dem Update?</a>
						            </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h2>Update über die Weboberfläche</h2>
                        <p class="text-justify">
                            Um das Update über die <a href="http://wiki.instar.com/index.php/HD_Manual_WebUI_Software">Weboberfläche</a> aufzuspielen, gehen Sie einfach auf System/Upgrade und klicken dort auf der rechten Seite neben Firmware Upgrade auf Durchsuchen und wählen dort die zurvor heruntergeladene bin Datei der Firmware. Anschließend mit Bestätigen das Update an die Kamera senden. Bitte warten Sie bis das Update vollständig aufgespielt wurde und die Kamera neu gestartet ist. <strong>Entfernen Sie niemals die Stromzufuhr während dem Update!</strong>
                            <amp-img
                                on="tap:Update-WebUI-VGA-01"
                                role="button"
                                tabindex="0"
                                src="/images/Quick_Installation/Update-WebUI-VGA-01.png" width=799 height=534 layout="responsive" class="shadow">
                            </amp-img>
                            <p>Wiederholen Sie dann den Schritt ebenfalls für die Weboberfläche der Kamera.</p>
                        </p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                        <h2>Update über das Kamera Tool</h2>
                        <amp-img
                            on="tap:Update-CamTool-01"
                            role="button"
                            tabindex="0"
                            src="/images/Quick_Installation/Update-CamTool-01.png" width=641 height=386 layout="responsive" class="shadow">
                        </amp-img>
                        <p>Starten Sie das INSTAR Kamera Tool and öffnen Sie den Tab<em>Update</em>.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:Update-CamTool-02"
                          role="button"
                          tabindex="0"
                          src="/images/Quick_Installation/Update-CamTool-02.png" width=641 height=383 layout="responsive" class="shadow">
                      </amp-img>
                        <p>Selektieren Sie jetzt die Kamera auf welcher Sie ein Update durchführen möchten. Sie werden aufgefordert Benutzernamen und Passwort der Kamera einzutragen.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:Update-CamTool-05"
                          role="button"
                          tabindex="0"
                          src="/images/Quick_Installation/Update-CamTool-05.png" width=635 height=383 layout="responsive" class="shadow">
                      </amp-img>
                        <p>Wählen Sie entsprechend die Firmware oder WebUI Datei aus. Bitte gehen Sie sicher das Sie immer zuerst die neueste Firmware aufspielen und anschließend die Weboberfläche.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:Update-CamTool-031"
                          role="button"
                          tabindex="0"
                          src="/images/Quick_Installation/Update-CamTool-03.1.png" width=640 height=633 layout="responsive" class="shadow">
                      </amp-img>
                        <p>Klicken Sie auf Durchsuchen und wählen Sie die Firmware oder WebUI bin Datei die Sie zuvor heruntergeladen haben. <strong>Bitte stellen Sie sicher das Sie die heruntergeladenen ZIP Dateien zuvor entpacken um dann die darin befindliche bin Datei aufspielen zu können!</strong></p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <amp-img
                          on="tap:Update-CamTool-04"
                          role="button"
                          tabindex="0"
                          src="/images/Quick_Installation/Update-CamTool-04.png" width=639 height=381 layout="responsive" class="shadow">
                      </amp-img>
                        <p>Klicken Sie auf Submit um die Firmware/WebUI bin Datei auf die Kamera aufzuspielen. Bitte warten Sie bis die Datei auf die Kamera aufgespielt wurde. Dies wird ca. 3-5min dauern - <strong>entfernen Sie niemals die Stromzufuhr während das Update auf die Kamera aufgespielt wird!</strong>.</p>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div class="primarycard">
                        <p class="text-justify">
                            Manchmal verhält sich die Weboberfläche der Kamera nicht so wie sie soll. Sie haben Ihre Kamerasoftware aktualisiert, aber die Oberfläche zeigt immer noch die alte Versionsnummer an? Ein Update sollte neue Funktionen hinzufügen, aber diese können Sie nirgens finden? Oder lassen sich bestimmte Funktionen einfach nicht mehr einstellen? In diesem Fall kann es sein, dass Ihr Browser alte Teile der Weboberfläche gespeichert (cached) hat und sich einfach weigert diese noch einmal neu von der Kamera zu laden. Hier finden Sie Anleitungen für eine Zahl gängiger Browser, wie Sie diese veralteten Dateien entfernen und ggf. den Cache des Browsers auch gleich ganz deaktivieren können: <a href="/Quick_Installation/How_To_Clear_Your_Browsing_History">Wie leert man den Cache</a> (Historie / Verlauf) des Browsers nach dem Update</a>
                        </p>
                      </div>
                    </div>
                    <!-- /margin -->

                    <div class="margin">
                      <div class="dangercard">
                        <p class="text-justify">
                          <strong>GANZ WICHTIG! Für die VGA Kameras!</strong> Bei der Auswahl der Firmware ist es wichtig, dass Sie die richtige Version auswählen. Bitte überprüfen Sie in Ihrer Kamera welche Firmware derzeit installiert ist. Wenn die Version derzeit mit xx.25 oder xx.22 beginnt dann stellen Sie sicher das die neue Version welche Sie runterladen auch mit xx.25 oder mit xx.22 beginnen. Niemals eine Version mit xx.35. oder xx.37. aufspielen!!!<br>Sollte Ihre Firmware mit xx.35 oder xx.37 beginnen so stellen Sie sicher das Sie "nur" eine Firmware herunterladen welche mit xx.35 oder xx.37 beginnt.
                        </p>
                      </div>
                    </div>
                    <!-- /margin -->

                </article>
                <!-- /article -->

                <!-- ###################### Lightboxes ######################## -->

                <amp-image-lightbox id="Download_WebUI_Firmware_en" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Update-WebUI-VGA-01" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Update-CamTool-01" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Update-CamTool-02" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Update-CamTool-05" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Update-CamTool-031" layout="nodisplay"></amp-image-lightbox>
                <amp-image-lightbox id="Update-CamTool-04" layout="nodisplay"></amp-image-lightbox>

            </div>
            <!-- /container main -->
        </div>
        <!-- /wrap-->

        <% include ../_partials/content/_bluenav-general-mobile.ejs %>

        <footer>
            <% include ../_partials/amp/_amp-footer.ejs %>
        </footer>
    </body>
</html>
