<section class="large-cta">
  <div class="cta-container">
    <h1>INSTAR Produkt Portfolio</h1>
    <p>Als professionelles deutsches Unternehmen und Marke ist INSTAR® bestrebt qualitativ hochwertige Sicherheitskameras im geringeren Preissegment anzubieten, um sie so auch für private Haushalte, Geschäfte, Büros, öffentliche Einrichtungen und ähnliche Einsatzorte erschwinglich zu gestalten.</p>
    <a href="/Indoor_Cameras/" class="btn btnWhite">Innenkameras</a>
    <a href="/Outdoor_Cameras/" class="btn btnWhite">Außenkameras</a>
    <a href="/Products/" class="btn btnWhite">Alle Produkte</a>
  </div>
  <div class="cta-camera desktop-up">
    <amp-img width=557 height=662 layout=responsive src="/images/IN-8015HD2.png">
    </amp-img>
  </div>
</section>
