<section class="large-cta orange">
  <div class="cta-macBook desktop-up">
    <amp-img width=512 height=304 layout=responsive src="/images/macbook.png">
    </amp-img>
  </div>
  <div class="cta-container">
    <h1>Weboberfläche</h1>
    <p>Steuern Sie Ihre Kamera über Ihren Standard Webbrowser - egal ob von zu Hause oder unterwegs.</p>
    <a href="/Web_User_Interface/1080p_Series/" class="btn"><span>1080p Serie</span></a>
    <a href="/Web_User_Interface/720p_Series/" class="btn"><span>720p Serie</span></a>
    <a href="/Web_User_Interface/1080p_Series/Overview/" class="btn"><span>VGA Serie</span></a>
  </div>
</section>
