<div class="card-container desktop-up bevel">
 <div class="footer-all">

   <div class="footer-card card-view">
       <div class="footer-card-content">
       <p class="footer-heading">INFORMATIONEN</p><hr>
       <p><a class="footer-link" href="http://www.instar.de/news/index">Neuigkeiten &amp; Ankündigungen</a></p>
       <p><a class="footer-link" href="http://www.instar.de/downloads/">Updates &amp; Dokumentation</a></p>
       <p><a class="footer-link" href="http://forum.instar.de/">IP Kamera und Netzwerk Forum</a></p>
       <p><a class="footer-link" href="http://www.instar.de/faq/">Häufig gestellte Fragen</a></p>
       </div>
   </div>

    <div class="footer-card card-view">
        <div class="footer-card-content">
        <p class="footer-heading">SHOP</p><hr>
        <p><a class="footer-link" href="http://www.instar.de/impressum">Impressum</a></p>
        <p><a class="footer-link" href="http://www.instar.de/agb">Allg. Geschäftsbedingungen</a></p>
        <p><a class="footer-link" href="http://www.instar.de/affiliates">Händler &amp; Wiederverkäufer</a></p>
        <p><a class="footer-link" href="http://www.instar.de/privacy">Datenschutz</a></p>
        </div>
    </div>

    <div class="footer-card card-view">
        <div class="footer-card-content">
        <p class="footer-heading" class="card__title">KONTAKT</h></p><hr>
        <p><a class="footer-link" href="#">RAIFFEISENSTRASSE 12</a></p>
        <p><a class="footer-link" href="#">65510 HÜNSTETTEN</a></p>
        <p><a class="footer-link" href="#">Deutschland</a></p>
        <p><a class="footer-link" href="#">TEL: +49 (6438) 9198992</a></p>
        </div>
    </div>

    <div class="footer-card card-view">
        <div class="footer-card-content">
            <p class="footer-heading" class="card__title">APPS</h></p><hr>
            <p>
              <a href="https://itunes.apple.com/de/app/instarvision/id413109553?mt=8" target="_blank"><amp-img src="/images/appstore_iphone_white.png" width="101" height="31" class="footer-image"></amp-img></a>
              <a href="https://play.google.com/store/apps/details?id=de.instar.vision&hl=de" target="_blank"><amp-img src="/images/appstore_android_white.png" width="101" height="31" class="footer-image"></amp-img>
            </p>
            <p>
              <a href="https://www.microsoft.com/de-de/store/p/instarvision/9nblggh10wtp" target="_blank"><amp-img src="/images/appstore_windows_white.png" width="101" height="31" class="footer-image"></amp-img></a>
              <a href="https://appworld.blackberry.com/webstore/content/59960469/?countrycode=US&lang=en" target="_blank"><amp-img src="/images/appstore_blackberry_white.png" width="101" height="31" class="footer-image"></amp-img></a>
            </p>
        </div>

  </div>
</div>
